Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Convert test case editor to Redux Form
  app/views/course/assessment/question/programming/_question.json.jbuilder
  app/views/course/assessment/question/programming/_test_ui.json.jbuilder
  client/app/bundles/course/assessment/question/programming/ProgrammingQuestion.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/EditorCard.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/OnlineEditorBase.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/OnlineEditorView.intl.js
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/Python/OnlineEditorPythonView.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/TestCase.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/TestCaseEditor/TestCase.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/TestCaseEditor/TestCaseTable.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/TestCaseEditor/index.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/index.jsx
  client/app/bundles/course/assessment/question/programming/constants/index.js
  client/app/bundles/course/assessment/question/programming/containers/AddTestCaseButton.jsx
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionReduxForm.jsx
Due: frontend, backend

Convert package file manager to Redux Form
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/ExistingPackageFile.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/NewPackageFile.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/OnlineEditorBase.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/PackageFileManager/PackageFileAdder.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/PackageFileManager/PackageFileRemover.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/PackageFileManager/index.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/Python/OnlineEditorPythonView.jsx
  client/app/bundles/course/assessment/question/programming/containers/AddTestCaseButton.jsx
Due: frontend

Fix typo in user_invitations_controller_spec
  spec/controllers/course/user_invitations_controller_spec.rb
Due: none

Remove unnecessary line from new action
  app/controllers/course/user_invitations_controller.rb
Due: backend

Fix typo in user_invitations_controller_spec.rb
  spec/controllers/course/user_invitations_controller_spec.rb
Due: none

remove unnecessary line from course/user_invitations_controller.rb
  app/controllers/course/user_invitations_controller.rb
Due: backend

Regrade programming questions on test case change
  app/jobs/course/assessment/submission/auto_grading_job.rb
  app/models/concerns/course/assessment/submission/workflow_event_concern.rb
  app/models/course/assessment.rb
  app/models/course/assessment/submission.rb
  app/services/course/assessment/submission/auto_grading_service.rb
  spec/fixtures/course/programming_single_test_suite_report.xml
  spec/models/course/assessment/submission_spec.rb
  spec/services/course/assessment/answer/programming_auto_grading_service_spec.rb
Due: backend

Fix typo in course/user_invitation_service_spec.rb
  spec/services/course/user_invitation_service_spec.rb
Due: none

Patch Rails 5.1.6 to fix association with scope including joins
  Gemfile
  Gemfile.lock
Due: none

Migration + models for multiple reference timelines
  app/controllers/course/courses_controller.rb
  app/controllers/course/lesson_plan/items_controller.rb
  app/models/components/course/surveys_ability_component.rb
  app/models/concerns/course/duplication_concern.rb
  app/models/concerns/course/lesson_plan_concern.rb
  app/models/course.rb
  app/models/course/assessment.rb
  app/models/course/lesson_plan/event.rb
  app/models/course/lesson_plan/item.rb
  app/models/course/lesson_plan/milestone.rb
  app/models/course/lesson_plan/todo.rb
  app/models/course/reference_time.rb
  app/models/course/reference_timeline.rb
  app/models/course/survey.rb
  app/models/course/video.rb
  app/services/course/duplication/course_duplication_service.rb
  db/migrate/20180929061522_add_reference_timeline.rb
  db/schema.rb
  lib/extensions/acts_as_helpers/active_record/base.rb
  spec/services/course/duplication/course_duplication_service_spec.rb
Due: backend

Do not fail build if consistency_fail returns non-zero
  .travis.yml
Due: none

Remove comment causing i18n-tasks to fail
  config/i18n-tasks.yml
Due: none

Remove schema_monkey which actually doesn't do anything
  Gemfile
  Gemfile.lock
Due: none

Fix comment typo
  lib/autoload/duplicator.rb
Due: backend

Create Instance::UserInvitation model and schema
  app/models/instance.rb
  app/models/instance/user_invitation.rb
  db/migrate/20180926081538_create_instance_user_invitations.rb
  db/schema.rb
  spec/factories/instance_user_invitations.rb
  spec/models/instance/user_invitation_spec.rb
Due: backend

Create Instance::Mailer
  app/mailers/instance/mailer.rb
  app/views/instance/mailer/user_added_email.html.slim
  app/views/instance/mailer/user_added_email.text.erb
  app/views/instance/mailer/user_invitation_email.html.slim
  app/views/instance/mailer/user_invitation_email.text.erb
  config/locales/en/instance/mailer/user_added_email.yml
  config/locales/en/instance/mailer/user_invitation_email.yml
  spec/mailers/instance/mailer_spec.rb
Due: backend

Create Instance::UserInvitationService
  .DS_Store
  app/.DS_Store
  app/models/instance_user.rb
  app/services/.DS_Store
  app/services/concerns/.DS_Store
  app/services/concerns/instance/user_invitation_service/email_invitation_concern.rb
  app/services/concerns/instance/user_invitation_service/parse_invitation_concern.rb
  app/services/concerns/instance/user_invitation_service/process_invitation_concern.rb
  app/services/instance/user_invitation_service.rb
  spec/services/instance/user_invitation_service_spec.rb
Due: backend

Add comments for user_invitation_service and its concerns
  app/services/concerns/instance/user_invitation_service/email_invitation_concern.rb
  app/services/concerns/instance/user_invitation_service/parse_invitation_concern.rb
  app/services/concerns/instance/user_invitation_service/process_invitation_concern.rb
  app/services/instance/user_invitation_service.rb
Due: backend

Fix user_invitation_email.yml format
  config/locales/en/instance/mailer/user_invitation_email.yml
Due: none

dump
  .DS_Store
  app/.DS_Store
  app/controllers/instance/user_invitations_controller.rb
  app/models/instance.rb
  app/models/instance/user_invitation.rb
  app/models/instance_user.rb
  app/services/.DS_Store
  app/services/concerns/.DS_Store
  app/services/concerns/instance/user_invitation_service/email_invitation_concern.rb
  app/services/concerns/instance/user_invitation_service/parse_invitation_concern.rb
  app/services/concerns/instance/user_invitation_service/process_invitation_concern.rb
  app/services/instance/user_invitation_service.rb
  app/views/instance/mailer/user_added_email.html.slim
  app/views/instance/mailer/user_added_email.text.erb
  app/views/instance/mailer/user_invitation_email.html.slim
  app/views/instance/mailer/user_invitation_email.text.erb
  app/views/instance/user_invitations/_instance_user_invitation.html.slim
  app/views/instance/user_invitations/_instance_user_invitations.html.slim
  app/views/instance/user_invitations/_invitation_fields.html.slim
  app/views/instance/user_invitations/index.html.slim
  app/views/instance/user_invitations/new.html.slim
  app/views/system/admin/instance/users/_tabs.html.slim
  config/locales/en/activerecord/instance/user_invitation.yml
  config/locales/en/instance/mailer/user_added_email.yml
  config/locales/en/instance/mailer/user_invitation_email.yml
  config/locales/en/instance/user_invitations.yml
  spec/controllers/instance/user_invitations_controller_spec.rb
  spec/factories/instance_user_invitations.rb
  spec/models/instance/user_invitation_spec.rb
Due: backend

Migration for multiple reference timelines
  db/migrate/20180929061522_add_reference_timeline.rb
  db/schema.rb
Due: none

Models and associations for multiple reference timelines
  app/controllers/course/courses_controller.rb
  app/controllers/course/lesson_plan/items_controller.rb
  app/models/components/course/surveys_ability_component.rb
  app/models/concerns/course/duplication_concern.rb
  app/models/concerns/course/lesson_plan_concern.rb
  app/models/course.rb
  app/models/course/assessment.rb
  app/models/course/lesson_plan/event.rb
  app/models/course/lesson_plan/item.rb
  app/models/course/lesson_plan/milestone.rb
  app/models/course/lesson_plan/todo.rb
  app/models/course/reference_time.rb
  app/models/course/reference_timeline.rb
  app/models/course/survey.rb
  app/models/course/video.rb
  app/services/course/duplication/course_duplication_service.rb
  config/locales/en/activerecord/course.yml
  config/locales/en/course/lesson_plan/items.yml
  lib/extensions/acts_as_helpers/active_record/base.rb
  spec/services/course/duplication/course_duplication_service_spec.rb
Due: backend

Remove schema_plus_association_inverses
  Gemfile
  Gemfile.lock
Due: none

Remove deprecated codeclimate-test-reporter.
  Gemfile
  Gemfile.lock
Due: none

Fix some js specs
  spec/features/course/achievement_condition_management_spec.rb
  spec/features/course/assessment/question/programming_management_spec.rb
Due: none

Fix typo
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
  spec/features/course/assessment/question/programming_management_spec.rb
Due: frontend

Fix jerky scrolling on pages with MaterialSummernote
  app/assets/javascripts/layout.js
  client/app/lib/components/MaterialSummernote.jsx
Due: frontend, backend

Ignore tests that are failing on CI
  spec/features/course/assessment/question/programming_management_spec.rb
Due: none

Upload Capybara screenshots to S3 in the CI environment.
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
Due: none

move screenshot config
  spec/rails_helper.rb
Due: none

Reduce number of test groups.
  .travis.yml
Due: none

Require file in file_field before submit
  app/views/course/material/folders/new_materials.html.slim
Due: backend

Fix all programmming typos in the code base
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
  spec/features/course/assessment/question/programming_management_spec.rb
  spec/features/course/assessment/submission/manually_graded_spec.rb
Due: frontend

Force reload to avoid nil error
  spec/features/course/assessment/question/programming_management_spec.rb
Due: none

Fix typo
  spec/features/course/assessment/question/programming_management_spec.rb
Due: none

Fix typo
  spec/features/course/assessment/submission/manually_graded_spec.rb
Due: none

Fix typos
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
Due: frontend

Update app/models/course/assessment/answer/programming_file.rb
  app/models/course/assessment/answer/programming_file.rb
Due: backend

Update app/models/course/assessment/question.rb
  app/models/course/assessment/question.rb
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
