Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(notifier): skip notifying if course user is not found in the course
  app/notifiers/course/assessment/answer/comment_notifier.rb
  app/notifiers/course/assessment/submission_question/comment_notifier.rb
  app/notifiers/course/forum/post_notifier.rb
  app/notifiers/course/forum/topic_notifier.rb
Due: backend

refactor(title bar): improve title bar's style
  client/app/lib/components/navigation/TitleBar.jsx
  client/app/lib/components/navigation/__test__/__snapshots__/PageHeader.test.tsx.snap
Due: frontend

chore(locale): regenerate locale
  client/locales/en.json
  client/locales/zh.json
Due: none

refactor(edit button): extract translation
  client/app/lib/components/core/buttons/EditButton.tsx
  client/app/lib/translations/form.ts
Due: frontend

refactor (job helpers): implement exponential backoff and refactor all affected files
  client/app/api/course/Material/Folders.ts
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/actions/submissions.js
  client/app/bundles/course/duplication/actions.js
  client/app/bundles/course/survey/actions/surveys.js
  client/app/lib/helpers/job-helpers.js
Due: frontend

track zh-raw
  client/test/zh-raw.json
Due: none

refactor(user locale): add non-nil constraint and default locale
  db/migrate/20230112093308_add_default_locale.rb
  db/schema.rb
Due: none

feat(intl): use recipient locale for mailer
  app/mailers/activity_mailer.rb
  app/mailers/consolidated_opening_reminder_mailer.rb
  app/mailers/course/mailer.rb
  app/mailers/instance/mailer.rb
  app/mailers/instance_user_role_request_mailer.rb
Due: backend

fix(i18n locale): fix wrong translation
  config/locales/en/notifiers/course/assessment_notifier/submitted/user_notifications/email.yml
  config/locales/zh/notifiers/course/assessment_notifier/submitted/user_notifications/email.yml
Due: none

chore(rollbar): add messages to ignore
  client/app/lib/components/wrappers/RollbarWrapper.tsx
Due: frontend

style: add phantom user indicator in group page
  client/app/bundles/course/group/pages/GroupShow/GroupTableCard.jsx
Due: frontend

style : sort based on phantom status and emphasize manager role
  client/app/bundles/course/group/pages/GroupShow/GroupTableCard.jsx
  client/app/bundles/course/group/utils/sort.js
Due: frontend

style: add modify group button on main page which directly go to edit group upon click
  client/app/bundles/course/group/pages/GroupShow/GroupTableCard.jsx
  client/app/bundles/course/group/pages/GroupShow/index.jsx
Due: frontend

chore(ruby): upgrade to ruby 3.0.5
  .circleci/config.yml
  README.md
Due: none

chore(circleci): update config - remove ghostscript and imagemagic installations - remove browsers installation as cimg-ruby image already comes with default browsers
  .circleci/config.yml
Due: none

test(scribing): disable tests
  spec/controllers/course/assessment/question/scribing_controller_spec.rb
Due: none

fix(locale): fix swapped translation
  config/locales/en/notifiers/course/assessment_notifier/submitted/user_notifications/email.yml
  config/locales/zh/notifiers/course/assessment_notifier/submitted/user_notifications/email.yml
Due: none

style: add indication for users if they are already in other groups
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManager.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManagerList.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupTableCard.jsx
  client/app/bundles/course/group/pages/GroupShow/index.jsx
Due: frontend

fix: remove the error that dispatch.then is not a function and warning to pass key for GroupIndex
  client/app/bundles/course/group/pages/GroupIndex/index.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManager.jsx
  client/app/bundles/course/group/pages/GroupShow/index.jsx
Due: frontend

refactor(topics): reverse topic order to be reverse chronological order
  app/controllers/course/discussion/topics_controller.rb
Due: backend

style: add in which other groups, if exists, each member is in while editing group members
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManager.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManagerList.jsx
Due: frontend

style: solve spacing issue in lesson plan
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.jsx
Due: frontend

style: add spacing between cells in editing lesson plan page
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.jsx
Due: frontend

refactor(custom badge): adjust position
  client/app/lib/components/extensions/CustomBadge.tsx
Due: frontend

refactor(forum): refactor forum uiux
  client/app/bundles/course/forum/components/buttons/ForumManagementButtons.tsx
  client/app/bundles/course/forum/components/buttons/ForumTopicManagementButtons.tsx
  client/app/bundles/course/forum/components/buttons/HideButton.tsx
  client/app/bundles/course/forum/components/buttons/LockButton.tsx
  client/app/bundles/course/forum/components/buttons/MarkAllAsReadButton.tsx
  client/app/bundles/course/forum/components/buttons/MarkAnswerButton.tsx
  client/app/bundles/course/forum/components/buttons/NextUnreadButton.tsx
  client/app/bundles/course/forum/components/buttons/ReplyButton.tsx
  client/app/bundles/course/forum/components/buttons/SubscribeButton.tsx
  client/app/bundles/course/forum/components/buttons/VotePostButton.tsx
  client/app/bundles/course/forum/components/cards/PostCard.tsx
  client/app/bundles/course/forum/components/tables/ForumTable.tsx
  client/app/bundles/course/forum/components/tables/ForumTopicTable.tsx
  client/app/bundles/course/forum/pages/ForumShow/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicShow/index.tsx
  client/app/bundles/course/forum/pages/ForumsIndex/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.jsx
  spec/features/course/forum/post_management_spec.rb
Due: frontend

refactor: change mark as answer icon
  client/app/bundles/course/forum/components/buttons/MarkAnswerButton.tsx
Due: frontend

fix : prevent disbursement table from being re-rendered everytime users' posts are clicked to be seen
  client/app/bundles/course/experience-points/disbursement/components/forms/ForumDisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/pages/ForumDisbursement/index.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
