Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

fix(Autofill): restrict prefill only for MCQ/MRQ and programming with >1 testcase
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend

feat(Exp): prefill experience points if some grades are prefilled
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend

fix(Grade): display gradedAt only when the value is defined
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
Due: frontend

fix: grade convert to number for calculate exp point
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend

refactor: separate FETCH_SUBMISSION_SUCCESS action
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend

refactor(programming evaluator): enable programming evaluator switch from codaveri to default when submissions exist
  app/models/course/assessment/question/programming.rb
  client/app/bundles/course/assessment/question/programming/components/sections/EvaluatorFields.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend, backend

chore: add dotenv for rails
  Gemfile
  Gemfile.lock
  config/application.rb
Due: none

Update README.md 14/09/23
  README.md
Due: none

feat(DateTimePicker): migrate from @mui/x-date-pickers v5 to v6
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/DateCell.jsx
  client/app/lib/components/core/fields/DateTimePicker.jsx
Due: frontend

feat(DateTimePickerField): migrate from @mui/x-date-pickers v5 to v6
  client/app/lib/components/form/fields/DateTimePickerField.jsx
Due: frontend

fix(exp): prefilled grade may be non-integer number
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend

feat(EXP): compute exp when fetch submission only if pointsAwarded is null
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend

fix(bonusExp): exp bonus not reflected properly upon fetch submission
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend

fix(programming): first lines of read-only codes have scrollbars
  client/app/theme/syntax-highlighting.css
Due: frontend

refactor: change codaveri setting view to using radio buttons
  client/app/bundles/course/admin/pages/CodaveriSettings/CodaveriSettingsForm.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/translations.ts
  client/locales/en.json
  client/locales/zh.json
  spec/features/course/admin/codaveri_settings_spec.rb
Due: frontend

chore: run yarn dedup
  client/yarn.lock
Due: none

chore: remove sinatra
  Gemfile
  Gemfile.lock
Due: none

feat(translation): update Chinese translations for FE and BE
  client/locales/zh.json
  config/locales/zh/course/assessment/answer/programming_auto_grading.yml
  config/locales/zh/course/mailer/assessment_closing_summary_email.yml
  config/locales/zh/notifiers/course/forum/topic_notifier/created/user_notifications/email.yml
  config/locales/zh/user/registrations.yml
Due: none

fix: update translation
  client/app/bundles/course/assessment/translations.ts
  client/app/bundles/system/admin/admin/components/tables/InstancesTable/InstanceField.tsx
Due: frontend

chore: run extract-translations
  client/locales/en.json
Due: none
