Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(admin): add react course settings
  client/app/api/course/Admin/Course.ts
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
  client/app/bundles/course/admin/pages/CourseSettings/validationSchema.ts
  client/app/types/course/admin/course.ts
Due: frontend

feat(admin): add react leaderboard settings
  client/app/api/course/Admin/Leaderboard.ts
  client/app/bundles/course/admin/pages/LeaderboardSettings/LeaderboardSettingsForm.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/index.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/operations.ts
  client/app/bundles/course/admin/pages/LeaderboardSettings/translations.ts
  client/app/types/course/admin/leaderboard.ts
Due: frontend

feat(courseapi): register all admin apis
  client/app/api/course/Admin/index.js
  client/app/api/course/Admin/index.ts
Due: frontend

test(announcement_settings): adapt to new ui
  spec/features/course/admin/announcement_settings_spec.rb
Due: none

feat(admin): remove all course settings slim htmls
  app/assets/stylesheets/course/admin/admin.scss
  app/assets/stylesheets/course/admin/sidebar_settings.scss
  app/views/course/admin/admin/index.html.slim
  app/views/course/admin/announcement_settings/edit.html.slim
  app/views/course/admin/assessment_settings/edit.html.slim
  app/views/course/admin/assessments/categories/new.html.slim
  app/views/course/admin/assessments/tabs/new.html.slim
  app/views/course/admin/component_settings/edit.html.slim
  app/views/course/admin/discussion/topic_settings/edit.html.slim
  app/views/course/admin/forum_settings/edit.html.slim
  app/views/course/admin/leaderboard_settings/edit.html.slim
  app/views/course/admin/lesson_plan_settings/edit.html.slim
  app/views/course/admin/material_settings/edit.html.slim
  app/views/course/admin/notification_settings/edit.html.slim
  app/views/course/admin/sidebar_settings/edit.html.slim
  app/views/course/admin/video_settings/edit.html.slim
  app/views/course/admin/videos/tabs/new.html.slim
  config/locales/en/course/admin/admin.yml
  config/locales/en/course/admin/announcement_settings.yml
  config/locales/en/course/admin/assessment_settings.yml
  config/locales/en/course/admin/assessment_tabs.yml
  config/locales/en/course/admin/categories.yml
  config/locales/en/course/admin/component_settings.yml
  config/locales/en/course/admin/discussion/topic_settings.yml
  config/locales/en/course/admin/forum_settings.yml
  config/locales/en/course/admin/leaderboard_settings.yml
  config/locales/en/course/admin/material_settings.yml
  config/locales/en/course/admin/sidebar_settings.yml
  config/locales/en/course/admin/video_settings.yml
  config/locales/en/course/admin/video_tabs.yml
  config/locales/en/course/courses.yml
  config/locales/en/course/users.yml
  config/routes.rb
Due: backend

chore: add prettier plugin for tailwind utilities
  client/app/bundles/course/assessment/components/FileManager/Toolbar.tsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.jsx
  client/app/bundles/course/level/pages/Level/index.jsx
  client/app/bundles/course/video/components/forms/VideoForm.tsx
  client/app/bundles/course/video/submission/containers/Submission.jsx
  client/app/bundles/course/video/submission/containers/VideoControls/NextVideoButton.jsx
  client/app/bundles/system/admin/admin/components/buttons/UsersButtons.tsx
  client/app/bundles/system/admin/admin/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/InstancesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/instance/instance/components/buttons/PendingRoleRequestsButtons.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/IndividualInvitation.tsx
  client/app/bundles/system/admin/instance/instance/components/misc/InvitationResultDialog.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UsersTable.tsx
  client/app/lib/components/IconRadio.tsx
  client/package.json
  client/yarn.lock
Due: frontend

feat(coursesettings): support for staging course logo
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
Due: frontend

fix(formtextfield): state is inconsistent when used with react-hook-form
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.tsx
  client/app/bundles/course/experience-points/disbursement/components/fields/PointTextField.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/DisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/FilterForm.tsx
  client/app/lib/components/form/fields/DebouncedTextField.jsx
  client/app/lib/components/form/fields/TextField.tsx
Due: frontend

test(admin/comments): adapt to new ui
  spec/features/course/admin/discussion/topic_settings_spec.rb
Due: none

fix(admin): all endpoints called when loading /admin
  client/app/bundles/course/admin/components/SettingsNavigation.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/index.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
  client/app/lib/hooks/suspended.ts
  client/app/lib/hooks/useSuspendedFetch.ts
  client/package.json
  client/yarn.lock
Due: frontend

test(admin): controller tests now responds to json
  spec/controllers/course/admin/admin_controller_spec.rb
  spec/controllers/course/admin/assessment_settings_controller_spec.rb
  spec/controllers/course/admin/assessments/categories_controller_spec.rb
  spec/controllers/course/admin/assessments/tabs_controller_spec.rb
  spec/controllers/course/admin/component_settings_controller_spec.rb
  spec/controllers/course/admin/discussion/topic_settings_controller_spec.rb
  spec/controllers/course/admin/forum_settings_controller_spec.rb
  spec/controllers/course/admin/leaderboard_settings_controller_spec.rb
  spec/controllers/course/admin/lesson_plan_settings_controller_spec.rb
  spec/controllers/course/admin/material_settings_controller_spec.rb
  spec/controllers/course/admin/notification_settings_controller_spec.rb
  spec/controllers/course/admin/sidebar_settings_controller_spec.rb
  spec/controllers/course/admin/videos/tabs_controller_spec.rb
Due: none

fix(admin, instance): remove #root directives
  app/views/course/admin/index.html.slim
  app/views/system/admin/admin/index.html.slim
  app/views/system/admin/instance/admin/index.html.slim
Due: backend

feat(admin): revert useswr, incompatible with capybara
  client/app/bundles/course/admin/components/SettingsNavigation.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/index.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
  client/app/lib/hooks/useSuspendedFetch.ts
  client/package.json
  client/yarn.lock
Due: frontend

feat(assessmentsettings): add move assessment when deleting tabs
  app/views/course/admin/assessment_settings/edit.json.jbuilder
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/MoveAssessmentsMenu.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/utils.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsContext.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/lib/components/Prompt.tsx
  client/app/types/course/admin/assessments.ts
Due: frontend, backend

style(lessonplansettings, notificationsettings): use tailwind
  client/app/bundles/course/admin/pages/LessonPlanSettings/MilestoneGroupSettings.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/index.jsx
Due: frontend

test(material_settings): adapt to new ui
  spec/features/course/admin/material_settings_spec.rb
Due: none

test(forum_settings): adapt to new ui
  spec/features/course/admin/forum_settings_spec.rb
Due: none

test(admin): adapt to new ui
  spec/features/course/admin/admin_spec.rb
Due: none

feat(coursesettings): add timeline algorithm descriptions
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
  client/app/lib/components/RadioButton.tsx
  client/app/lib/components/form/fields/CheckboxField.tsx
Due: frontend

test(video_settings): adapt to new ui
  spec/features/course/admin/video_settings_spec.rb
Due: none

test(sidebar_settings): adapt to new ui
  spec/features/course/admin/sidebar_settings_spec.rb
Due: none

test(leaderboard_settings): adapt to new ui
  spec/features/course/admin/leaderboard_settings_spec.rb
Due: none

test(component_settings): adapt to new ui
  spec/features/course/admin/component_settings_spec.rb
Due: none

test(assessment_settings): tests for drag-drop tabs and categories
  spec/features/course/category_management_spec.rb
  spec/features/course/tab_management_spec.rb
  spec/support/capybara.rb
Due: none

feat(admin): freeze forms when submitting requests
  client/app/bundles/course/admin/pages/AnnouncementsSettings/AnnouncementsSettingsForm.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsContext.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/CommentsSettingsForm.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/index.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/ComponentSettingsForm.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/ForumsSettingsForm.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/LeaderboardSettingsForm.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/MaterialsSettingsForm.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/SidebarSettingsForm.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosSettingsForm.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/Tab.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
Due: frontend

feat(ckeditor): support for placeholder
  client/app/lib/components/CKEditorRichText.tsx
  client/app/lib/components/form/fields/RichTextField.jsx
Due: frontend

style(admin): operations properly throw unwrapped errors
  client/app/bundles/course/admin/pages/AnnouncementsSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/ComponentSettings/operations.ts
  client/app/bundles/course/admin/pages/ForumsSettings/operations.ts
  client/app/bundles/course/admin/pages/LeaderboardSettings/operations.ts
  client/app/bundles/course/admin/pages/MaterialsSettings/operations.ts
  client/app/bundles/course/admin/pages/VideosSettings/operations.ts
Due: frontend

fix(textfield): number fields keyboard inconsistencies
  client/app/bundles/course/assessment/components/AssessmentForm/__test__/index.test.tsx
  client/app/lib/components/NumberTextField.tsx
  client/app/lib/components/TextField.tsx
  client/app/lib/components/form/fields/TextField.tsx
Due: frontend

style(admin): submit -> handleSubmit
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
Due: frontend

style(admin): admin/options -> admin/items
  client/app/api/course/Admin/Course.ts
  client/app/bundles/course/admin/components/SettingsNavigation.tsx
  config/routes.rb
Due: frontend

feat(coursesettings): add name, description placeholders
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
Due: frontend

refactor(assessmentsettings): move assessments, permissions
  app/controllers/course/admin/assessment_settings_controller.rb
  app/models/course/assessment/tab.rb
  app/views/course/admin/assessment_settings/edit.json.jbuilder
  client/app/api/course/Admin/Assessments.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/MoveTabsMenu.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsContext.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/types/course/admin/assessments.ts
  config/routes.rb
Due: frontend, backend

feat(assessmentedit): fetch data via json
  app/views/course/assessment/assessments/edit.html.slim
  app/views/course/assessment/assessments/edit.json.jbuilder
  client/app/api/course/Assessment/Assessments.js
  client/app/bundles/course/assessment/actions.js
  client/app/bundles/course/assessment/assessments-edit.jsx
Due: frontend, backend

chore(webpack): support for handling svg files
  client/app/declaration.d.ts
  client/package.json
  client/webpack.common.js
  client/yarn.lock
Due: frontend

refactor(condition): achievement, assessment use same conditions data
  app/views/course/achievement/achievements/_achievement.json.jbuilder
  app/views/course/assessment/assessments/edit.json.jbuilder
  app/views/course/condition/_condition_data.json.jbuilder
  app/views/course/condition/_condition_list_data.json.jbuilder
  app/views/course/condition/_conditions.json.jbuilder
  app/views/course/condition/_enabled_conditions.json.jbuilder
  app/views/course/condition/achievements/_achievement.json.jbuilder
  app/views/course/condition/assessments/_assessment.json.jbuilder
  app/views/course/condition/levels/_level.json.jbuilder
  app/views/course/condition/surveys/_survey.json.jbuilder
Due: backend

feat(hooks): add useToggle
  client/app/lib/hooks/useToggle.ts
Due: frontend

feat(condition): responds to json
  app/controllers/concerns/course/achievement_conditional_concern.rb
  app/controllers/concerns/course/assessment_conditional_concern.rb
  app/controllers/course/condition/achievements_controller.rb
  app/controllers/course/condition/assessments_controller.rb
  app/controllers/course/condition/levels_controller.rb
  app/controllers/course/condition/surveys_controller.rb
  app/controllers/course/conditions_controller.rb
Due: backend

fix(filemanager): header checkbox displays above dialog dim
  client/app/bundles/course/assessment/components/FileManager/index.tsx
Due: frontend

feat(condition): add condition types, refactor achievement conditions
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/bundles/course/assessment/assessments-edit.jsx
  client/app/bundles/course/assessment/components/AssessmentForm/__test__/index.test.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/types.ts
  client/app/types/course/achievements.ts
  client/app/types/course/conditions.ts
  config/locales/en/activerecord/course/condition/achievement.yml
  config/locales/en/activerecord/course/condition/assessment.yml
  config/locales/en/activerecord/course/condition/level.yml
  config/locales/en/activerecord/course/condition/survey.yml
  config/locales/en/activerecord/course/condition/video.yml
Due: frontend

feat(condition): add condition apis
  client/app/api/course/Conditions.ts
  client/app/api/course/index.js
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
