Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(gradebook): external assessment foundation (model, read serialization, inline grade entry)
  app/controllers/course/external_assessments_controller.rb
  app/models/course.rb
  app/models/course/external_assessment.rb
  app/models/course/external_assessment_grade.rb
  app/models/course/gradebook/contribution.rb
  app/models/course_user.rb
  app/views/course/external_assessments/update_grade.json.jbuilder
  app/views/course/gradebook/index.json.jbuilder
  client/app/api/course/Gradebook.ts
  client/app/bundles/course/gradebook/__tests__/buildAssessmentColumnIds.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/GradebookTable.tsx
  client/app/bundles/course/gradebook/components/buildAssessmentColumnIds.ts
  client/app/bundles/course/gradebook/computeWeighted.ts
  client/app/bundles/course/gradebook/operations.ts
  client/app/bundles/course/gradebook/selectors.ts
  client/app/bundles/course/gradebook/store.ts
  client/app/bundles/course/statistics/pages/StatisticsIndex/index.tsx
  client/app/lib/components/table/TanStackTableBuilder/columnsBuilder.ts
  client/app/lib/components/table/builder/ColumnTemplate.ts
  client/app/lib/components/table/utils.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/locales/en/activerecord/errors.yml
  config/locales/ko/activerecord/errors.yml
  config/locales/zh/activerecord/errors.yml
  config/routes.rb
  db/migrate/20260615000000_create_course_external_assessments_and_grades.rb
  db/migrate/20260616000000_add_external_assessment_to_gradebook_contributions.rb
  db/migrate/20260622000000_add_bounds_to_course_external_assessments.rb
  db/migrate/20260623000000_change_external_assessment_grade_precision_to_two_decimals.rb
  db/schema.rb
  spec/controllers/course/external_assessments_controller_spec.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/factories/course_external_assessments.rb
  spec/factories/course_gradebook_contributions.rb
  spec/models/course/external_assessment_grade_spec.rb
  spec/models/course/external_assessment_spec.rb
Due: frontend, backend

feat(gradebook): external assessment management — panel, add/edit/delete, reorder, weight integration
  app/controllers/course/external_assessments_controller.rb
  app/controllers/course/gradebook_controller.rb
  app/models/course/external_assessment.rb
  app/views/course/external_assessments/_external_assessment.json.jbuilder
  app/views/course/external_assessments/create.json.jbuilder
  app/views/course/external_assessments/update.json.jbuilder
  client/app/api/course/Gradebook.ts
  client/app/bundles/course/gradebook/__tests__/AddExternalColumnPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/DeleteExternalColumnPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/EditExternalAssessmentPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsButton.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsPanel.test.tsx
  client/app/bundles/course/gradebook/__tests__/operations.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/AddExternalColumnPrompt.tsx
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/DeleteExternalColumnPrompt.tsx
  client/app/bundles/course/gradebook/components/GradebookColumnTree.tsx
  client/app/bundles/course/gradebook/components/GradebookTable.tsx
  client/app/bundles/course/gradebook/components/GradebookWeightedTable.tsx
  client/app/bundles/course/gradebook/components/manage/EditExternalAssessmentPrompt.tsx
  client/app/bundles/course/gradebook/components/manage/ManageExternalAssessmentsButton.tsx
  client/app/bundles/course/gradebook/components/manage/ManageExternalAssessmentsPanel.tsx
  client/app/bundles/course/gradebook/constants.ts
  client/app/bundles/course/gradebook/operations.ts
  client/app/bundles/course/gradebook/pages/GradebookIndex/index.tsx
  client/app/bundles/course/gradebook/store.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  db/migrate/20260624000000_add_position_to_course_external_assessments.rb
  db/schema.rb
  spec/controllers/course/external_assessments_controller_spec.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/external_assessment_spec.rb
Due: frontend, backend

feat(gradebook): cap-entry editing, over-max flags, and out-of-range warnings
  client/app/bundles/course/gradebook/__tests__/GradebookIndex.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookWeightedTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/OutOfRangeAlert.test.tsx
  client/app/bundles/course/gradebook/__tests__/outOfRange.test.ts
  client/app/bundles/course/gradebook/components/GradebookTable.tsx
  client/app/bundles/course/gradebook/components/GradebookWeightedTable.tsx
  client/app/bundles/course/gradebook/components/OutOfRangeAlert.tsx
  client/app/bundles/course/gradebook/outOfRange.ts
  client/app/bundles/course/gradebook/pages/GradebookIndex/index.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(gradebook): import external assessment grades from CSV
  app/controllers/course/external_assessment_imports_controller.rb
  app/services/course/gradebook/external_assessment_import_service.rb
  app/views/course/external_assessment_imports/create.json.jbuilder
  app/views/course/external_assessment_imports/preview.json.jbuilder
  client/app/api/course/Gradebook.ts
  client/app/bundles/course/gradebook/__tests__/ImportExternalAssessmentsWizard.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsPanel.test.tsx
  client/app/bundles/course/gradebook/__tests__/buildTemplate.test.ts
  client/app/bundles/course/gradebook/__tests__/operations.test.ts
  client/app/bundles/course/gradebook/components/import/ExternalGradeConflictPrompt.tsx
  client/app/bundles/course/gradebook/components/import/ExternalGradeConflictTable.tsx
  client/app/bundles/course/gradebook/components/import/ImportExternalAssessmentsWizard.tsx
  client/app/bundles/course/gradebook/components/import/__tests__/ExternalGradeConflictTable.test.tsx
  client/app/bundles/course/gradebook/components/import/buildTemplate.ts
  client/app/bundles/course/gradebook/components/manage/ManageExternalAssessmentsPanel.tsx
  client/app/bundles/course/gradebook/operations.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  spec/controllers/course/external_assessment_imports_controller_spec.rb
  spec/services/course/gradebook/external_assessment_import_service_spec.rb
Due: frontend, backend

feat(gradebook): restrict gradebook access to owners and managers and harden authz specs
  app/controllers/course/gradebook_controller.rb
  app/models/components/course/gradebook_ability_component.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/gradebook_ability_spec.rb
Due: backend

feat(gradebook): add Level contribution to weighted gradebook
  app/controllers/course/gradebook_controller.rb
  app/models/course.rb
  app/models/course/gradebook/level_config.rb
  app/views/course/gradebook/index.json.jbuilder
  client/app/bundles/course/gradebook/__tests__/ConfigureWeightsPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookIndex.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/computeWeighted.test.ts
  client/app/bundles/course/gradebook/__tests__/levelFormula.test.ts
  client/app/bundles/course/gradebook/__tests__/operations.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/computeWeighted.ts
  client/app/bundles/course/gradebook/levelFormula.ts
  client/app/bundles/course/gradebook/operations.ts
  client/app/bundles/course/gradebook/pages/GradebookIndex/index.tsx
  client/app/bundles/course/gradebook/selectors.ts
  client/app/bundles/course/gradebook/store.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  db/migrate/20260616000000_create_gradebook_level_configs.rb
  db/schema.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/factories/course_gradebook_level_configs.rb
  spec/models/course/gradebook/level_config_spec.rb
Due: frontend, backend

feat(gradebook): pin the audited student's summary row when expanded
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
Due: frontend

feat(gradebook): wire keepHighest through backend for keep-N feature
  app/controllers/course/gradebook_controller.rb
  app/models/course/gradebook/tab_contribution.rb
  app/views/course/gradebook/index.json.jbuilder
  client/app/bundles/course/gradebook/__tests__/ConfigureWeightsPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/computeWeighted.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/computeWeighted.ts
  client/app/bundles/course/gradebook/store.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  db/migrate/202606180000_add_keep_highest_to_course_gradebook_tab_contribution_table.rb
  db/schema.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/gradebook/tab_contribution_spec.rb
Due: frontend, backend

feat(gradebook): level contribution percent mode + parseable-formula guard
  app/controllers/course/gradebook_controller.rb
  app/models/course/gradebook/level_config.rb
  client/app/bundles/course/gradebook/__tests__/ConfigureWeightsPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/gradebook/level_config_spec.rb
Due: frontend, backend

feat(gradebook): wire keepHighest through backend for keep-N feature
  app/controllers/course/gradebook_controller.rb
  app/models/course/gradebook/tab_contribution.rb
  app/views/course/gradebook/index.json.jbuilder
  client/app/bundles/course/gradebook/__tests__/ConfigureWeightsPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/computeWeighted.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/computeWeighted.ts
  client/app/bundles/course/gradebook/store.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  db/migrate/20260618000000_add_keep_highest_to_course_gradebook_tab_contribution_table.rb
  db/schema.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/gradebook/tab_contribution_spec.rb
Due: frontend, backend

feat(gradebook): external assessment management — panel, add/edit/delete, reorder, weight integration
  app/controllers/course/external_assessments_controller.rb
  app/controllers/course/gradebook_controller.rb
  app/models/course/external_assessment.rb
  app/views/course/external_assessments/_external_assessment.json.jbuilder
  app/views/course/external_assessments/create.json.jbuilder
  app/views/course/external_assessments/update.json.jbuilder
  client/app/api/course/Gradebook.ts
  client/app/bundles/course/gradebook/__tests__/AddExternalColumnPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/DeleteExternalColumnPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/EditExternalAssessmentPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsButton.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsPanel.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/computeWeighted.test.ts
  client/app/bundles/course/gradebook/__tests__/operations.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/AddExternalColumnPrompt.tsx
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/DeleteExternalColumnPrompt.tsx
  client/app/bundles/course/gradebook/components/GradebookColumnTree.tsx
  client/app/bundles/course/gradebook/components/GradebookTable.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/components/manage/EditExternalAssessmentPrompt.tsx
  client/app/bundles/course/gradebook/components/manage/ManageExternalAssessmentsButton.tsx
  client/app/bundles/course/gradebook/components/manage/ManageExternalAssessmentsPanel.tsx
  client/app/bundles/course/gradebook/computeWeighted.ts
  client/app/bundles/course/gradebook/constants.ts
  client/app/bundles/course/gradebook/operations.ts
  client/app/bundles/course/gradebook/pages/GradebookIndex/index.tsx
  client/app/bundles/course/gradebook/store.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  db/migrate/20260625000000_add_position_to_course_external_assessments.rb
  db/schema.rb
  spec/controllers/course/external_assessments_controller_spec.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/external_assessment_spec.rb
Due: frontend, backend

feat(gradebook): flag custom-weight tabs whose assessment weights don't add up +show honest weighted total in percent mode
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/computeWeighted.test.ts
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/computeWeighted.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(gradebook): cap-entry editing, over-max flags, and out-of-range warnings
  client/app/bundles/course/gradebook/__tests__/GradebookIndex.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/OutOfRangeAlert.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/outOfRange.test.ts
  client/app/bundles/course/gradebook/components/GradebookTable.tsx
  client/app/bundles/course/gradebook/components/OutOfRangeAlert.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/outOfRange.ts
  client/app/bundles/course/gradebook/pages/GradebookIndex/index.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(gradebook): add option to cap weighted total at 100
  app/controllers/course/gradebook_controller.rb
  app/models/course/settings/gradebook_component.rb
  app/views/course/gradebook/index.json.jbuilder
  client/app/bundles/course/gradebook/__tests__/ConfigureWeightsPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookIndex.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsButton.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsPanel.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/operations.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/operations.ts
  client/app/bundles/course/gradebook/pages/GradebookIndex/index.tsx
  client/app/bundles/course/gradebook/selectors.ts
  client/app/bundles/course/gradebook/store.ts
  client/app/types/course/gradebook.ts
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/settings/gradebook_component_spec.rb
Due: frontend, backend

fix(text-response): fix null handling of old solution evaluation breakdowns
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  spec/controllers/course/assessment/submission/answer/answers_controller_spec.rb
Due: frontend, backend

chore(deps): resolve various dependency vulnerabilities
  Gemfile
  Gemfile.lock
  client/package.json
  client/yarn.lock
  tests/package.json
  tests/yarn.lock
Due: none

feat(marketplace): add data model, migrations, and permissions
  app/models/components/course/assessment_marketplace_ability_component.rb
  app/models/course/assessment.rb
  app/models/course/assessment/marketplace.rb
  app/models/course/assessment/marketplace/adoption.rb
  app/models/course/assessment/marketplace/listing.rb
  db/migrate/20260707000001_create_course_assessment_marketplace_listings.rb
  db/migrate/20260707000002_create_course_assessment_marketplace_adoptions.rb
  db/schema.rb
  spec/factories/course_assessment_marketplace_adoptions.rb
  spec/factories/course_assessment_marketplace_listings.rb
  spec/models/course/assessment/marketplace/adoption_spec.rb
  spec/models/course/assessment/marketplace/listing_spec.rb
  spec/models/course/assessment_marketplace_ability_spec.rb
Due: backend

feat(marketplace): admin publish control for assessments
  app/controllers/course/assessment/marketplace_listings_controller.rb
  app/views/course/assessment/assessments/show.json.jbuilder
  client/app/api/course/Marketplace.ts
  client/app/api/course/index.js
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowHeader.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/__test__/AssessmentShowHeader.test.tsx
  client/app/bundles/course/marketplace/components/PublishToMarketplaceButton.tsx
  client/app/bundles/course/marketplace/components/__test__/PublishToMarketplaceButton.test.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/app/types/course/assessment/assessments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  spec/controllers/course/assessment/assessments_marketplace_spec.rb
  spec/controllers/course/assessment/marketplace_listings_controller_spec.rb
Due: frontend, backend

feat(marketplace): cross-instance browse page + entry points
  app/controllers/components/course/assessment_marketplace_component.rb
  app/controllers/course/assessment/marketplace/controller.rb
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/views/course/assessment/marketplace/listings/index.json.jbuilder
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/assessment/pages/AssessmentsIndex/ImportAssessmentsButton.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/__test__/ImportAssessmentsButton.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/index.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/bundles/course/marketplace/operations.ts
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/MarketplaceTable.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/index.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/app/bundles/course/marketplace/types.ts
  client/app/bundles/course/translations.ts
  client/app/routers/course/index.tsx
  client/app/routers/course/marketplace.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/controllers/course/assessment_marketplace_component_spec.rb
Due: frontend, backend

feat(marketplace): duplicate listings into current course
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/jobs/course/assessment/marketplace/duplication_job.rb
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/marketplace/components/DuplicateConfirmation.tsx
  client/app/bundles/course/marketplace/components/__test__/DuplicationConfirmation.test.tsx
  client/app/bundles/course/marketplace/operations.ts
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/MarketplaceTable.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/index.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/jobs/course/assessment/marketplace/duplication_job_spec.rb
Due: frontend, backend
