Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

remove current from redux and change save indicator
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

saving indicator updated on file upload or import
  client/app/bundles/course/assessment/submission/actions/attachments.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/answers/FileUpload.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

refactor: rename some constants and re-sort - removes save draft as it has been combined with save answer
  client/app/bundles/course/assessment/submission/constants.js
Due: frontend

support autosave for file upload
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/FileUpload.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
Due: frontend, backend

refactor: remove unused method
  app/controllers/course/assessment/question/text_responses_controller.rb
Due: backend

create reducer for saving individual answer
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/annotations.js
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/attachments.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/grading.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/submission.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/reducers/testCases.js
Due: frontend

setup saving answer
  app/models/course/assessment/answer.rb
  app/services/course/assessment/submission/update_service.rb
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  config/locales/en/activerecord/course/assessment/answer.yml
  config/locales/en/activerecord/course/assessment/submission.yml
Due: frontend, backend

feat(answer): add latestAnswer to multiple response and text response answer to enable history showing in FE
  app/views/course/assessment/answer/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
Due: backend

refactor: update validation function for session and client in answer model
  app/models/course/assessment/answer.rb
  config/locales/en/activerecord/course/assessment/answer.yml
Due: backend

fix(submissionFlags): separate success and failure reducer for fetch submission
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

fix test for upload files
  client/app/bundles/course/assessment/submission/actions/__test__/scribing.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/SavingIndicator.test.tsx
  spec/features/course/assessment/answer/programming_file_submission_answer_spec.rb
  spec/features/course/assessment/answer/text_response_answer_spec.rb
Due: frontend

feat: create custom mirrorCreator for better typing
  client/app/lib/constants/sharedConstants.ts
  client/app/utilities/mirrorCreator.ts
Due: frontend

move delete file API and fix error messages
  app/controllers/attachment_references_controller.rb
  app/controllers/course/assessment/submission/answer/programming/programming_controller.rb
  app/controllers/course/assessment/submission/answer/text_response/text_response_controller.rb
  app/models/course/assessment/answer/text_response.rb
  config/routes.rb
  spec/controllers/course/assessment/submission/answer/programming/programming_controller_spec.rb
  spec/features/course/assessment/answer/text_response_answer_spec.rb
Due: backend

fix(create_missing_submission_questions): fix bulk import regression
  app/services/course/assessment/submission/update_service.rb
Due: backend

revamp SubmissionAnswer UI
  app/views/course/assessment/submission/submissions/_questions.json.jbuilder
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/ImportedFileView.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/questionGrade.ts
  client/app/bundles/course/assessment/submission/types.ts
  config/locales/en/activerecord/course/assessment/answer.yml
  config/locales/en/activerecord/course/assessment/submission.yml
  spec/features/course/assessment/answer/programming_file_submission_answer_spec.rb
Due: frontend, backend

UI/UX improvement for saving answer
  app/models/course/assessment/answer.rb
  app/views/course/assessment/answers/_answer.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend, backend

clientVersion as condition for state change
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

refactor(db schema): make last_session_id nullable
  db/migrate/20231107114521_add_session_id_to_answer.rb
  db/schema.rb
Due: none

save sessionId and clientVersion for import upload
  app/controllers/attachment_references_controller.rb
  app/controllers/course/assessment/submission/answer/programming/programming_controller.rb
  app/controllers/course/assessment/submission/answer/text_response/text_response_controller.rb
  app/models/course/assessment/answer/programming.rb
  app/models/course/assessment/answer/text_response.rb
  client/app/api/Attachments.ts
  client/app/bundles/course/assessment/submission/actions/attachments.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
Due: frontend, backend

optimise props for Answer
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/answers/FileUpload.jsx
Due: frontend

defaultValue is reset on upload or import files
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend, backend

UI Improvement for Dialog and Saving Indicator
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/CardTitle.jsx
  client/app/bundles/course/assessment/submission/containers/ImportedFileView.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
Due: frontend

refactor: replace CircularProgress with LoadingIndicator
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
Due: frontend

feat: create function to convert answer data received from backend to the format used in frontend
  client/app/bundles/course/assessment/submission/utils/answers.ts
Due: frontend

add testcase in rspec for answer and attachment
  spec/controllers/course/assessment/submission/answer/programming/programming_controller_spec.rb
  spec/models/course/assessment/answer_spec.rb
Due: none

refactoring for voice response and audio response
  app/controllers/course/assessment/submission/answer/programming/programming_controller.rb
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/lib/components/form/fields/SingleFileInput/index.jsx
Due: frontend, backend

add failed saving indicator for submission answer
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

setup API for uploading files
  app/controllers/course/assessment/submission/answer/text_response/controller.rb
  app/controllers/course/assessment/submission/answer/text_response/text_response_controller.rb
  app/models/course/assessment/answer/text_response.rb
  app/services/course/assessment/submission/update_service.rb
  client/app/api/course/Assessment/Submission/Answer/TextResponse.ts
  client/app/api/course/Assessment/Submission/Answer/index.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/FileUpload.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/reducers/attachments.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/types/course/assessment/submission/textResponseAttachment.ts
  config/routes.rb
Due: frontend, backend

add sessionId and clientVersion in Answer
  app/models/course/assessment/answer.rb
  app/services/course/assessment/submission/update_service.rb
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  db/migrate/20231107114521_add_session_id_to_answer.rb
  db/schema.rb
Due: frontend, backend

refactoring the submissionAnswer
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

saving indicator redux state per answer
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

feat: add types for different answer actables - converts JobStatus into enum
  client/app/types/course/assessment/answer/programming.ts
  client/app/types/course/assessment/submission/answer/answer.ts
  client/app/types/course/assessment/submission/answer/forumPostResponse.ts
  client/app/types/course/assessment/submission/answer/index.ts
  client/app/types/course/assessment/submission/answer/multipleResponse.ts
  client/app/types/course/assessment/submission/answer/programming.ts
  client/app/types/course/assessment/submission/answer/scribing.ts
  client/app/types/course/assessment/submission/answer/textResponse.ts
  client/app/types/course/assessment/submission/answer/voiceResponse.ts
  client/app/types/course/assessment/submission/question/types.ts
  client/app/types/course/assessment/submission/textResponseAttachment.ts
  client/app/types/jobs.ts
Due: frontend

fix bug in saving voice response answer
  app/services/course/assessment/submission/update_service.rb
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
Due: frontend, backend

rename saveAnswer on each Answer
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/bundles/course/assessment/submission/types.ts
Due: frontend

refactor: use destroy! instead of raising error separately
  app/controllers/course/assessment/submission/answer/text_response/text_response_controller.rb
Due: backend

fix ProgrammingFile test on Frontend
  client/app/bundles/course/assessment/submission/components/answers/Programming/__test__/ProgrammingFile.test.tsx
Due: frontend

fix bug missingAnswer makes the page cannot render
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
Due: frontend

save onChange for MCQ/MRQ
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

support voice response autosave and fix bug
  app/views/course/assessment/answer/forum_post_responses/_forum_post_response.json.jbuilder
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/lib/components/form/fields/SingleFileInput/index.jsx
Due: frontend, backend

fix issue delete file on text response answer
  app/controllers/course/assessment/submission/answer/text_response/text_response_controller.rb
  client/app/bundles/course/assessment/submission/actions/index.js
Due: frontend, backend
