Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

refactor: remove attachment uploader
  app/views/layouts/_attachment_uploader.html.slim
  config/locales/en/layout.yml
  config/locales/zh/layout.yml
Due: backend

test(text_response_answer): fix `submission` empty
  spec/features/course/assessment/answer/text_response_answer_spec.rb
Due: none

feat(staff_statistics): adapt to new UI
  spec/features/course/staff_statistics_spec.rb
Due: none

feat(router): add video attempt loader
  client/app/bundles/course/video/attemptLoader.ts
  client/app/types/course/video/submissions.ts
Due: frontend

test(email_management): fix flaky tests
  spec/features/user/email_management_spec.rb
  spec/support/capybara.rb
Due: none

chore(circleci): extract executor `ruby_with_postgres`
  .circleci/config.yml
Due: none

feat(index): returns locale, time zone
  app/views/application/index.json.jbuilder
  client/app/types/home.ts
Due: frontend, backend

fix(CoursesIndex): new course dialog won't open when `new=true`
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
Due: frontend

chore: remove unused gems
  Gemfile
  Gemfile.lock
Due: none

fix(ConfirmationDialog): content font style cleared by preflight
  client/app/lib/components/core/dialogs/ConfirmationDialog.jsx
Due: frontend

feat: migrate more Link `href`s to `to`
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/NewQuestionMenu.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/Question.tsx
  client/app/bundles/course/assessment/question/components/CommonQuestionFields.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumCard.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/TopicCard.jsx
  client/app/bundles/course/assessment/submission/pages/LogsIndex/LogsHead.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submissions/components/buttons/SubmissionsTableButton.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/bundles/course/experience-points/disbursement/components/tables/DisbursementTable.tsx
  client/app/bundles/course/forum/components/buttons/SubscribeButton.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/course/StudentPerformanceTable.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/StudentsStatisticsTable.jsx
  client/app/bundles/users/components/tables/CoursesTable.tsx
  client/app/lib/components/extensions/StackedBadges.tsx
  client/app/lib/components/extensions/conditions/conditions/AssessmentCondition.tsx
  client/app/lib/components/extensions/conditions/conditions/SurveyCondition.tsx
Due: frontend

chore(rails): set up `lvh.me` as base URL for development
  config/environments/development.rb
Due: none

chore(rails): remove unused gems
  .coveralls.yml
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
  app/helpers/course/controller_helper.rb
  config/environments/production.rb
  config/initializers/assets.rb
Due: backend

fix(CourseContainer): allow footer to appear on short screens
  client/app/bundles/course/container/CourseContainer.tsx
Due: frontend

chore(circleci): generate, upload jest code coverage
  .circleci/config.yml
  client/package.json
Due: none

style(tests): remove unused comments
  tests/playwright.config.ts
Due: none

fix(ErrorCard): content font style cleared by preflight
  client/app/lib/components/core/ErrorCard.jsx
Due: frontend

fix(markdown page): fix props destructuring
  client/app/lib/components/core/layouts/MarkdownPage.tsx
Due: frontend

feat: add React authentication pages
  client/app/api/Users.ts
  client/app/bundles/users/components/Widget.tsx
  client/app/bundles/users/masqueradeLoader.ts
  client/app/bundles/users/pages/ConfirmEmailPage.tsx
  client/app/bundles/users/pages/ForgotPasswordLandingPage.tsx
  client/app/bundles/users/pages/ForgotPasswordPage.tsx
  client/app/bundles/users/pages/ResendConfirmationEmailLandingPage.tsx
  client/app/bundles/users/pages/ResendConfirmationEmailPage.tsx
  client/app/bundles/users/pages/ResetPasswordPage.tsx
  client/app/bundles/users/pages/SignInPage.tsx
  client/app/bundles/users/pages/SignUpLandingPage.tsx
  client/app/bundles/users/pages/SignUpPage.tsx
  client/app/bundles/users/pages/UserShow.tsx
  client/app/bundles/users/translations.ts
  client/app/bundles/users/validations.ts
  client/app/lib/containers/AppContainer/MasqueradeBanner.tsx
  client/app/lib/containers/AuthPagesContainer.tsx
  client/app/types/users.ts
Due: frontend

feat(ErrorBoundary): rewrite to TS, add raw error stack
  client/app/lib/components/wrappers/ErrorBoundary.jsx
  client/app/lib/components/wrappers/ErrorBoundary.tsx
Due: frontend

fix(surveys): restyle elements reset by preflight
  client/app/bundles/course/survey/components/OptionsListItem.jsx
  client/app/bundles/course/survey/pages/SurveyShow/SurveyDetails.jsx
Due: frontend

feat(BrandingHead): show course switcher only when relevant
  client/app/lib/components/navigation/BrandingHead.tsx
Due: frontend

fix(assessments): restyle elements reset by preflight
  client/app/bundles/course/assessment/question/programming/components/common/TestCasesTable.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/ProgressPanel.jsx
  client/app/bundles/course/assessment/submission/components/ProgressPanel.tsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideEditor.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/components/TextResponseSolutions.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPost.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPostSelect.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/Labels.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/SelectedPostCard.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.jsx
  client/app/bundles/course/assessment/submission/components/comment/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/comment/CommentField.jsx
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/PastAnswers.jsx
  client/app/bundles/course/assessment/submission/containers/PostPreview.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView/__test__/index.test.js
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
Due: frontend

feat(axios): redirects to `/404` if `ComponentNotFound` raised
  app/controllers/concerns/application_components_concern.rb
  client/app/api/Base.ts
  client/app/lib/hooks/router/redirect.tsx
Due: frontend, backend

chore(deps): move development deps to where they belong
  client/package.json
  client/yarn.lock
Due: none

feat(router): add assessment attempt loader
  client/app/bundles/course/assessment/attemptLoader.ts
Due: frontend

feat(SignInPage): add email validation
  client/app/bundles/users/pages/SignInPage.tsx
Due: frontend

feat: add LandingPage
  client/app/bundles/common/LandingPage.tsx
Due: frontend

refactor(users_controller): do not render file
  app/controllers/users_controller.rb
Due: backend

feat(store): add session store
  client/app/bundles/common/store.ts
  client/app/lib/constants/sharedConstants.ts
  client/app/lib/hooks/session.ts
  client/app/store.ts
Due: frontend

feat(ErrorBoundary): add friendly error page for 413, 422, 500, 504
  client/app/lib/components/core/layouts/ContactableErrorAlert.tsx
  client/app/lib/components/core/layouts/ContextualErrorPage.tsx
  client/app/lib/components/wrappers/ErrorBoundary.tsx
  client/app/utilities/index.ts
Due: frontend

test(capybara): add `expect_forbidden`
  spec/support/capybara.rb
Due: none

style(rails): remove unused scripts
  app/assets/javascripts/application.js
  app/assets/javascripts/layout.js
  app/assets/javascripts/patches/dropdown_mobile_fix.js
Due: backend

test(rails): generate, upload coverage for manual tests
  .circleci/config.yml
  Gemfile
  config/initializers/coverage.rb
  spec/coverage_helper.rb
  spec/spec_helper.rb
Due: none

refactor(videos): `#create` responds only `submissionId`
  app/controllers/course/video/submission/submissions_controller.rb
  client/app/types/course/video/submissions.ts
Due: frontend, backend

chore: add env template
  client/env
  env
Due: none

feat(sessions_controller): responds to JSON
  app/controllers/user/sessions_controller.rb
Due: backend

feat(hooks): add useEffectOnce
  client/app/lib/hooks/useEffectOnce.ts
Due: frontend

test(authentication): remove incompatible RSpec tests
  spec/features/course/registration_spec.rb
  spec/features/user/password_management_spec.rb
  spec/features/user_sign_in_spec.rb
  spec/features/user_sign_up_spec.rb
Due: none
