Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

test(topic_management): do not target class names
  spec/features/course/forum/topic_management_spec.rb
Due: none

refactor(AddButton): fix lint error
  client/app/bundles/common/components/NewCourseButton.tsx
  client/app/bundles/common/components/WidthAdjustedNewButton.tsx
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/bundles/course/announcements/components/buttons/NewAnnouncementButton.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/forum/pages/ForumShow/index.tsx
  client/app/bundles/course/forum/pages/ForumsIndex/index.tsx
  client/app/bundles/course/group/pages/GroupNew/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/NewSurveyButton.jsx
  client/app/bundles/course/video/pages/VideosIndex/index.tsx
  client/app/bundles/system/admin/admin/pages/AnnouncementsIndex.tsx
  client/app/bundles/system/admin/admin/pages/InstancesIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceAnnouncementsIndex.tsx
Due: frontend

refactor(AddButton): make addButton consistent across all page
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/bundles/course/announcements/components/buttons/NewAnnouncementButton.tsx
  client/app/bundles/course/forum/pages/ForumShow/index.tsx
  client/app/bundles/course/forum/pages/ForumsIndex/index.tsx
  client/app/bundles/course/survey/pages/SurveyIndex/NewSurveyButton.jsx
Due: frontend

refactor(Survey): add button component from survey no longer used
  client/app/bundles/course/survey/components/AddButton.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/NewSurveyButton.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/index.jsx
Due: frontend

fix(LessonPlanLayout): new milestone, event buttons render extra `span`
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewEventButton.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewMilestoneButton.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewEventButton.test.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewMilestoneButton.test.jsx
Due: frontend

refactor(SubmissionEditindex): revert changes
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

fix(Grade): fix wrong criteria for autofill programming grade
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

style(QuestionGrade): use "Grade" from translations
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
Due: frontend

feat(QuestionGrade): pre-fills correct answers with maximum grade
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/reducers/grading.js
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

feat(Grade): setGradeIsSaved is false only upon onChange
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

feat(Grade): autofill expanded for MCQ/MRQ and Programming if testcases exist
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
Due: frontend

feat(QuestionGrade): warns dirty fields
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/grading.js
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

feat(programming): `!correct` if evaluation tests fail for instructors
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
Due: backend

feat(Programming): autofill manual programming with max score if all is correct
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

style(Grade): put prefilled and unsaved indicator next to grade and maxGrade
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
Due: frontend

feat(Grading): add tooltip beside Grade in each question if not saved yet
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

fix(programming): `correct` for students, failing evaluation tests
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
Due: backend

fix(should_monitor): add save navigation operator for current_course_user
  app/controllers/course/assessment/submission/submissions_controller.rb
Due: backend

feat(Video): re-include title string comparison for sorting
  client/app/bundles/course/video/components/tables/VideoTable.tsx
Due: frontend

refactor(Video): revert title to unsortable, refactor video sorting method
  client/app/bundles/course/video/components/tables/VideoTable.tsx
Due: frontend

feat(Videos): include row number and make sortings consistent
  client/app/bundles/course/video/components/tables/VideoTable.tsx
Due: frontend

fix: add asseturlhelper to enable usage of image_path through achievement_badge_path in controller - image_path is only available in rails view
  app/controllers/course/condition/achievements_controller.rb
Due: backend

refactor(health_check_controller): change parent class
  app/controllers/health_check_controller.rb
  spec/controllers/health_check_controller_spec.rb
Due: backend

feat: add more information to logs
  app/controllers/application_controller.rb
Due: backend

refactor: differentiate timeout and time limit error
  app/helpers/application_jobs_helper.rb
  config/locales/en/course/assessment/answer/programming_auto_grading.yml
Due: backend

fix(python package timeout): handle empty timeout
  app/services/course/assessment/question/programming_codaveri/python/python_package_service.rb
Due: backend

fix(sanitisation): fix catastrophic regex - regular-expressions.info/catastrophic.html
  app/helpers/application_html_formatters_helper.rb
Due: backend

fix(Autofill): restrict prefill only for MCQ/MRQ and programming with >1 testcase
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend

refactor(grade prefilling): refactor reducer
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend

test(scribing): fix tests
  client/app/bundles/course/assessment/submission/actions/__test__/scribing.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/SavingIndicator.test.tsx
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/ScribingToolbar.test.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/index.test.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
