Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor(note): use note component for page with empty content
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/bundles/course/courses/components/misc/CourseEnrollOptions.tsx
  client/app/bundles/course/discussion/topics/components/lists/TopicList.tsx
  client/app/bundles/course/enrol-requests/pages/UserRequests/index.tsx
  client/app/bundles/course/users/pages/ManageStaff/index.tsx
  client/app/bundles/course/users/pages/ManageStudents/index.tsx
  client/app/bundles/course/users/pages/PersonalTimesShow/index.tsx
Due: frontend

feat(react forum porting): set up forum module in client side
  client/app/bundles/course/forum/forums.tsx
  client/app/bundles/course/forum/index.tsx
  client/app/bundles/course/forum/operations.ts
  client/app/bundles/course/forum/reducers.ts
  client/app/bundles/course/forum/selectors.ts
  client/app/bundles/course/forum/store.ts
  client/app/bundles/course/forum/topics.tsx
  client/app/bundles/course/forum/types.ts
  client/app/types/course/forum.ts
  client/app/types/course/forums.ts
  client/app/types/index.ts
  client/app/types/store.ts
Due: frontend

refactor(react forum topic porting): change unsubscribe url for forum topic and topic post email
  app/views/notifiers/course/forum/post_notifier/replied/user_notifications/email.html.slim
  app/views/notifiers/course/forum/topic_notifier/created/user_notifications/email.html.slim
Due: backend

feat(react router): add scroll to top for react router navigation
  client/app/bundles/course/forum/index.tsx
  client/app/lib/components/navigation/ScrollToTop.tsx
Due: frontend

refactor(exp points): rename type import filename
  client/app/bundles/course/experience-points/disbursement/operations.ts
Due: frontend

test(react forum porting): refactor forum feature tests
  spec/features/course/forum/post_management_spec.rb
  spec/features/course/forum/topic_management_spec.rb
  spec/features/course/forum_management_spec.rb
  spec/support/capybara.rb
Due: none

feat(react forum topic porting): add pages and ui components for forum topic page
  client/app/bundles/course/forum/components/buttons/ForumTopicManagementButtons.tsx
  client/app/bundles/course/forum/components/buttons/HideButton.tsx
  client/app/bundles/course/forum/components/buttons/LockButton.tsx
  client/app/bundles/course/forum/components/forms/ForumTopicForm.tsx
  client/app/bundles/course/forum/components/tables/ForumTopicTable.tsx
  client/app/bundles/course/forum/pages/ForumShow/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicEdit/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicNew/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicShow/index.tsx
Due: frontend

refactor(datatable): abstract datatable vertical margin and loading overlay
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/enrol-requests/components/tables/EnrolRequestsTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/DisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumDisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumPostTable.tsx
  client/app/bundles/course/forum/components/tables/ForumTable.tsx
  client/app/bundles/course/forum/components/tables/ForumTopicTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultInvitationsTable.tsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultUsersTable.tsx
  client/app/bundles/course/user-invitations/components/tables/UserInvitationsTable.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable.tsx
  client/app/bundles/course/video-submissions/components/tables/UserVideoSubmissionTable.tsx
  client/app/bundles/course/video/components/tables/VideoTable.tsx
  client/app/bundles/course/video/submission/components/tables/VideoSubmissionsTable.tsx
  client/app/bundles/system/admin/admin/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/InstancesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InstanceUserRoleRequestsTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InvitationResultInvitationsTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InvitationResultUsersTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UserInvitationsTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UsersTable.tsx
  client/app/lib/components/core/layouts/DataTable.jsx
Due: frontend

refactor(forum module): use tailwind
  client/app/bundles/course/forum/components/buttons/ForumTopicPostManagementButtons.tsx
  client/app/bundles/course/forum/pages/ForumEdit/index.tsx
  client/app/bundles/course/forum/pages/ForumNew/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicEdit/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicNew/index.tsx
Due: frontend

test: fix test
  spec/features/course/registration_spec.rb
Due: none

feat(forum topic settings): add user type who can mark or unmark a forum post as answer to forum setting
  app/controllers/course/admin/forum_settings_controller.rb
  app/models/components/course/forums_ability_component.rb
  app/models/course/settings/forums_component.rb
  app/views/course/admin/forum_settings/edit.json.jbuilder
  app/views/course/forum/topics/_topic_list_data.json.jbuilder
  client/app/bundles/course/admin/pages/ForumsSettings/ForumsSettingsForm.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/operations.ts
  client/app/bundles/course/admin/pages/ForumsSettings/translations.ts
  client/app/bundles/course/forum/components/buttons/MarkAnswerButton.tsx
  client/app/bundles/course/forum/pages/ForumTopicShow/index.tsx
  client/app/types/course/admin/forums.ts
  client/app/types/course/forums.ts
  spec/models/course/forum/topic_ability_spec.rb
Due: frontend, backend

feat(react forum porting): add client side API for forum component
  client/app/api/course/Forum.ts
  client/app/api/course/Forum/Forums.ts
  client/app/api/course/Forum/Posts.ts
  client/app/api/course/Forum/Topics.ts
  client/app/api/course/Forum/index.ts
  client/app/api/course/index.js
Due: frontend

fix(forum topic buttons): fix style
  client/app/bundles/course/forum/components/buttons/ForumTopicManagementButtons.tsx
Due: frontend

feat(forum subscribe tooltip): add manage subscription link to tooltip text
  app/views/course/forum/forums/_forum_list_data.json.jbuilder
  app/views/course/forum/topics/_topic_list_data.json.jbuilder
  client/app/bundles/course/forum/components/buttons/SubscribeButton.tsx
  client/app/lib/hooks/useTranslation.ts
  client/app/types/components/DataTable.ts
  client/app/types/course/forums.ts
Due: frontend, backend

test(react forum porting): refactor forum controller tests
  spec/controllers/course/discussion/topics_controller_spec.rb
  spec/controllers/course/forum/forums_controller_spec.rb
  spec/controllers/course/forum/posts_controller_spec.rb
  spec/controllers/course/forum/topics_controller_spec.rb
  spec/features/course/forum/search_spec.rb
Due: none

fix(forum subscription): change get to post/delete for forum and topic subscriptions
  app/controllers/concerns/course/forum/topic_controller_subscription_concern.rb
  client/app/api/course/Forum/Forums.ts
  client/app/api/course/Forum/Topics.ts
  client/app/bundles/course/forum/pages/ForumEdit/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicEdit/index.tsx
  config/routes.rb
Due: frontend, backend

fix(navigate routes): remove forward slash at the end of links
  client/app/api/course/Survey/Responses.js
  client/app/bundles/course/achievement/components/buttons/AchievementManagementButtons.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/EnterEditModeButton.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/ExitEditModeButton.jsx
  client/app/bundles/course/survey/actions/responses.js
  client/app/bundles/course/survey/actions/surveys.js
Due: frontend

refactor: restyle toggle field
  client/app/lib/components/form/fields/ToggleField.jsx
Due: frontend

feat(react forum port): create API response for forum endpoints and remove slim files
  app/assets/stylesheets/course/forum/forums.scss
  app/views/course/forum/forums/_controls.html.slim
  app/views/course/forum/forums/_form.html.slim
  app/views/course/forum/forums/_forum.html.slim
  app/views/course/forum/forums/_forum_list_data.json.jbuilder
  app/views/course/forum/forums/_post_data.json.jbuilder
  app/views/course/forum/forums/_subscribe_button.html.slim
  app/views/course/forum/forums/edit.html.slim
  app/views/course/forum/forums/index.html.slim
  app/views/course/forum/forums/index.json.jbuilder
  app/views/course/forum/forums/new.html.slim
  app/views/course/forum/forums/search.html.slim
  app/views/course/forum/forums/search.json.jbuilder
  app/views/course/forum/forums/show.html.slim
  app/views/course/forum/forums/show.json.jbuilder
  app/views/course/forum/forums/update_subscribe_button.js.erb
Due: backend

fix(workbin): remove custom tooltip message for edit button
  client/app/bundles/course/material/folders/components/buttons/WorkbinTableButtons.tsx
  client/app/bundles/course/material/folders/pages/FolderShow/index.tsx
Due: frontend

feat(react forum porting): add pages and ui components for forum page
  client/app/bundles/course/forum/components/buttons/ForumManagementButtons.tsx
  client/app/bundles/course/forum/components/buttons/SubscribeButton.tsx
  client/app/bundles/course/forum/components/forms/ForumForm.tsx
  client/app/bundles/course/forum/components/tables/ForumTable.tsx
  client/app/bundles/course/forum/pages/ForumEdit/index.tsx
  client/app/bundles/course/forum/pages/ForumNew/index.tsx
  client/app/bundles/course/forum/pages/ForumsIndex/index.tsx
Due: frontend

perf(forum topic): fix n+1 issue for vote count
  app/models/course/forum/topic.rb
Due: backend

feat(page header): allow passing react element for title props
  client/app/lib/components/navigation/PageHeader.tsx
Due: frontend

refactor(discussion topic): rename discussion topic list data and remove unnecessary posts data loading in topic json jbuilder
  app/controllers/course/discussion/topics_controller.rb
  app/views/course/discussion/topics/_topic.json.jbuilder
  app/views/course/discussion/topics/discussion_topic_list_data.jbuilder
Due: backend

feat(ckeditor): add autofocus and required props
  client/app/lib/components/core/fields/CKEditorRichText.tsx
  client/app/lib/components/form/fields/RichTextField.jsx
Due: frontend

fix(announcement): return error message when destroying announcement fails
  app/controllers/course/announcements_controller.rb
Due: backend

fix(buttons): added span for button components
  client/app/lib/components/core/buttons/AcceptButton.tsx
  client/app/lib/components/core/buttons/AddButton.tsx
  client/app/lib/components/core/buttons/DeleteButton.tsx
  client/app/lib/components/core/buttons/EditButton.tsx
  client/app/lib/components/core/buttons/EmailButton.tsx
  client/app/lib/components/core/buttons/MasqueradeButton.tsx
  client/app/lib/components/core/buttons/SaveButton.tsx
  client/app/lib/components/core/buttons/__test__/__snapshots__/DeleteButton.test.tsx.snap
  client/app/lib/components/core/buttons/__test__/__snapshots__/EditButton.test.tsx.snap
  client/app/lib/components/form/fields/SingleFileInput/DeleteButton.jsx
Due: frontend

feat(mui datatable): add hideInSmallScreen props
  client/app/lib/components/core/layouts/DataTable.jsx
  client/app/types/components/DataTable.ts
Due: frontend

feat(react forum topic post porting): add pages and ui components for forum topic post page
  client/app/bundles/course/forum/components/buttons/ForumTopicPostManagementButtons.tsx
  client/app/bundles/course/forum/components/buttons/MarkAnswerButton.tsx
  client/app/bundles/course/forum/components/buttons/ReplyButton.tsx
  client/app/bundles/course/forum/components/buttons/VotePostButton.tsx
  client/app/bundles/course/forum/components/cards/PostCard.tsx
  client/app/bundles/course/forum/pages/ForumTopicShow/NewPostDialog.tsx
  client/app/bundles/course/forum/pages/ForumTopicShow/Topics.tsx
  client/app/lib/translations/form.ts
Due: frontend

refactor(group helper): remove unused function
  app/helpers/course/group/group_categories_helper.rb
Due: backend

feat(react forum topic port): create API response for forum topic endpoints and remove slim files
  app/assets/stylesheets/course/forum/topics.scss
  app/helpers/application_formatters_helper.rb
  app/views/course/forum/topics/_controls.html.slim
  app/views/course/forum/topics/_subscribe_button.html.slim
  app/views/course/forum/topics/_topic.html.slim
  app/views/course/forum/topics/_topic_list_data.json.jbuilder
  app/views/course/forum/topics/edit.html.slim
  app/views/course/forum/topics/new.html.slim
  app/views/course/forum/topics/show.html.slim
  app/views/course/forum/topics/show.json.jbuilder
  app/views/course/forum/topics/update_subscribe_button.js.erb
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
