Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(condition): create, update toasts when no validation errors
  client/app/lib/components/conditions/ConditionRow.tsx
  client/app/lib/components/conditions/ConditionsManager.tsx
  client/app/lib/components/conditions/translations.ts
Due: frontend

fix(condition): toast not appearing when delete failed
  client/app/lib/components/conditions/Condition.tsx
  client/app/lib/components/conditions/translations.ts
Due: frontend

feat(admin): migrate store to redux toolkit
  client/app/bundles/course/admin/actions/index.js
  client/app/bundles/course/admin/actions/lesson-plan-items.js
  client/app/bundles/course/admin/actions/lessonPlan.ts
  client/app/bundles/course/admin/actions/notifications.js
  client/app/bundles/course/admin/actions/notifications.ts
  client/app/bundles/course/admin/constants.js
  client/app/bundles/course/admin/lesson-plan-settings.jsx
  client/app/bundles/course/admin/notification-settings.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/MilestoneGroupSettings.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/index.jsx
  client/app/bundles/course/admin/reducers/index.js
  client/app/bundles/course/admin/reducers/lessonPlanSettings.js
  client/app/bundles/course/admin/reducers/lessonPlanSettings.ts
  client/app/bundles/course/admin/reducers/notificationSettings.js
  client/app/bundles/course/admin/reducers/notificationSettings.ts
  client/app/bundles/course/admin/store.js
  client/app/bundles/course/admin/store.ts
Due: frontend

fix(lesson plan and notification settings): add error message when failed to retrieve data and remove loading indicator upon fetching failure
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/operations.ts
  client/app/bundles/course/admin/pages/NotificationSettings/index.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/operations.ts
  client/app/lib/components/Preload.tsx
  client/app/lib/translations/messages.ts
Due: frontend

feat(components): add prompt
  client/app/lib/components/Prompt.tsx
  client/app/lib/translations/form.ts
Due: frontend

feat(sidebar_settings): controller supports json requests
  app/controllers/course/admin/sidebar_settings_controller.rb
  app/models/course/settings/sidebar.rb
  app/models/course/settings/sidebar_item.rb
  app/views/course/admin/sidebar_settings/edit.json.jbuilder
Due: backend

test(admin/comments): adapt to new ui
  spec/features/course/admin/discussion/topic_settings_spec.rb
Due: none

fix(sidebarsettings): sidebar not resetting on update error
  client/app/bundles/course/admin/pages/SidebarSettings/SidebarSettingsForm.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
Due: frontend

feat(admin): add react videos settings
  client/app/api/course/Admin/Videos.ts
  client/app/bundles/course/admin/pages/VideosSettings/VideosSettingsForm.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/Tab.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/operations.ts
  client/app/bundles/course/admin/pages/VideosSettings/translations.ts
  client/app/types/course/admin/videos.ts
Due: frontend

feat(coursesettings): typed confirmation in delete course prompt
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/DeleteCoursePrompt.tsx
Due: frontend

feat(assessments): courses/:id/assessments now responds to json
  app/views/course/assessment/assessments/index.json.jbuilder
  client/app/api/course/Assessment/Assessments.js
Due: frontend, backend

feat(prompt): customisations, deprecate confirmationdialog
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/MoveAssessmentsMenu.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/MoveTabsMenu.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/Tab.tsx
  client/app/lib/components/ConfirmationDialog.jsx
  client/app/lib/components/Prompt.tsx
  client/app/lib/components/form/fields/ConditionsManager/conditions/AchievementCondition.tsx
  client/app/lib/components/form/fields/ConditionsManager/conditions/AssessmentCondition.tsx
  client/app/lib/components/form/fields/ConditionsManager/conditions/ConditionDialog.tsx
  client/app/lib/components/form/fields/ConditionsManager/conditions/LevelCondition.tsx
  client/app/lib/components/form/fields/ConditionsManager/conditions/SurveyCondition.tsx
Due: frontend

feat(admin): endpoint errors now trigger appropriate toasts
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/bundles/course/admin/pages/ComponentSettings/index.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/translations.ts
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/operations.ts
  client/app/bundles/course/admin/pages/SidebarSettings/translations.ts
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/translations.ts
Due: frontend

feat(admin): notification settings fetches via json
  client/app/api/course/Admin/Notifications.js
  client/app/api/course/Admin/Notifications.ts
  client/app/bundles/course/admin/actions/notifications.ts
  client/app/bundles/course/admin/pages/NotificationSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/index.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/operations.ts
  client/app/bundles/course/admin/reducers/notificationSettings.ts
  client/app/types/course/admin/notifications.ts
Due: frontend

feat(announcement_settings): controller supports json requests
  app/controllers/course/admin/announcement_settings_controller.rb
  app/views/course/admin/announcement_settings/edit.json.jbuilder
Due: backend

feat(video_settings): controller supports json requests
  app/controllers/course/admin/video_settings_controller.rb
  app/controllers/course/admin/videos/tabs_controller.rb
  app/views/course/admin/video_settings/edit.json.jbuilder
Due: backend

refactor(assessmentsettings): move assessments, permissions
  app/controllers/course/admin/assessment_settings_controller.rb
  app/models/course/assessment/tab.rb
  app/views/course/admin/assessment_settings/edit.json.jbuilder
  client/app/api/course/Admin/Assessments.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/MoveTabsMenu.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsContext.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/types/course/admin/assessments.ts
  config/routes.rb
Due: frontend, backend

test(assessment_settings): tests for drag-drop tabs and categories
  spec/features/course/category_management_spec.rb
  spec/features/course/tab_management_spec.rb
  spec/support/capybara.rb
Due: none

fix(delete course prompt): fix delete course button not disabled before typing in final confirmation text
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/DeleteCoursePrompt.tsx
Due: frontend

fix(formtextfield): support for null values
  client/app/lib/components/form/fields/TextField.tsx
Due: frontend

test(forum_settings): adapt to new ui
  spec/features/course/admin/forum_settings_spec.rb
Due: none

feat(admin): add enumerable time zones
  app/views/course/admin/admin/time_zones.json.jbuilder
  config/routes.rb
Due: backend

feat(admin): remove all course settings slim htmls
  app/assets/stylesheets/course/admin/admin.scss
  app/assets/stylesheets/course/admin/sidebar_settings.scss
  app/views/course/admin/admin/index.html.slim
  app/views/course/admin/announcement_settings/edit.html.slim
  app/views/course/admin/assessment_settings/edit.html.slim
  app/views/course/admin/assessments/categories/new.html.slim
  app/views/course/admin/assessments/tabs/new.html.slim
  app/views/course/admin/component_settings/edit.html.slim
  app/views/course/admin/discussion/topic_settings/edit.html.slim
  app/views/course/admin/forum_settings/edit.html.slim
  app/views/course/admin/leaderboard_settings/edit.html.slim
  app/views/course/admin/lesson_plan_settings/edit.html.slim
  app/views/course/admin/material_settings/edit.html.slim
  app/views/course/admin/notification_settings/edit.html.slim
  app/views/course/admin/sidebar_settings/edit.html.slim
  app/views/course/admin/video_settings/edit.html.slim
  app/views/course/admin/videos/tabs/new.html.slim
  config/locales/en/course/admin/admin.yml
  config/locales/en/course/admin/announcement_settings.yml
  config/locales/en/course/admin/assessment_settings.yml
  config/locales/en/course/admin/assessment_tabs.yml
  config/locales/en/course/admin/categories.yml
  config/locales/en/course/admin/component_settings.yml
  config/locales/en/course/admin/discussion/topic_settings.yml
  config/locales/en/course/admin/forum_settings.yml
  config/locales/en/course/admin/leaderboard_settings.yml
  config/locales/en/course/admin/material_settings.yml
  config/locales/en/course/admin/sidebar_settings.yml
  config/locales/en/course/admin/video_settings.yml
  config/locales/en/course/admin/video_tabs.yml
  config/locales/en/course/courses.yml
  config/locales/en/course/users.yml
  config/routes.rb
Due: backend

feat(admin): add react course settings
  client/app/api/course/Admin/Course.ts
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
  client/app/bundles/course/admin/pages/CourseSettings/validationSchema.ts
  client/app/types/course/admin/course.ts
Due: frontend

feat(condition): fetch available conditionals from backend
  app/controllers/course/condition/achievements_controller.rb
  app/controllers/course/condition/assessments_controller.rb
  app/controllers/course/condition/surveys_controller.rb
  client/app/api/course/Conditions.ts
  client/app/lib/components/conditions/AnyCondition.ts
  client/app/lib/components/conditions/ConditionsManager.tsx
  client/app/lib/components/conditions/conditions/AchievementCondition.tsx
  client/app/lib/components/conditions/conditions/AssessmentCondition.tsx
  client/app/lib/components/conditions/conditions/SurveyCondition.tsx
  client/app/types/course/conditions.ts
  config/routes.rb
Due: frontend, backend

fix(formtextfield): state is inconsistent when used with react-hook-form
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.tsx
  client/app/bundles/course/experience-points/disbursement/components/fields/PointTextField.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/DisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/FilterForm.tsx
  client/app/lib/components/form/fields/DebouncedTextField.jsx
  client/app/lib/components/form/fields/TextField.tsx
Due: frontend

feat(condition): responds to json
  app/controllers/concerns/course/achievement_conditional_concern.rb
  app/controllers/concerns/course/assessment_conditional_concern.rb
  app/controllers/course/condition/achievements_controller.rb
  app/controllers/course/condition/assessments_controller.rb
  app/controllers/course/condition/levels_controller.rb
  app/controllers/course/condition/surveys_controller.rb
  app/controllers/course/conditions_controller.rb
Due: backend

fix(textfield): ref not working
  client/app/lib/components/TextField.tsx
Due: frontend

feat(coursesettings): add name, description placeholders
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
Due: frontend

feat(admin): useeffect/isloading -> preload
  client/app/bundles/course/admin/components/SettingsNavigation.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/index.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
Due: frontend

style(lessonplansettings, notificationsettings): use tailwind
  client/app/bundles/course/admin/pages/LessonPlanSettings/MilestoneGroupSettings.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/index.jsx
Due: frontend

test(admin): adapt to new ui
  spec/features/course/admin/admin_spec.rb
Due: none

feat(assessmentsettings): add move assessment when deleting tabs
  app/views/course/admin/assessment_settings/edit.json.jbuilder
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/MoveAssessmentsMenu.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/utils.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsContext.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/lib/components/Prompt.tsx
  client/app/types/course/admin/assessments.ts
Due: frontend, backend

feat(hooks): add suspender for suspense
  client/app/lib/hooks/suspended.ts
Due: frontend

feat(admin): add react forums settings
  client/app/api/course/Admin/Forums.ts
  client/app/bundles/course/admin/pages/ForumsSettings/ForumsSettingsForm.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/operations.ts
  client/app/bundles/course/admin/pages/ForumsSettings/translations.ts
  client/app/types/course/admin/forums.ts
Due: frontend

fix(textfield): number fields keyboard inconsistencies
  client/app/bundles/course/assessment/components/AssessmentForm/__test__/index.test.tsx
  client/app/lib/components/NumberTextField.tsx
  client/app/lib/components/TextField.tsx
  client/app/lib/components/form/fields/TextField.tsx
Due: frontend

feat(admin): add react assessments settings
  client/app/api/course/Admin/Assessments.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/types/course/admin/assessments.ts
  client/tailwind.config.js
Due: frontend

style(conditions): restructure components folder
  client/app/bundles/course/achievement/components/forms/AchievementForm.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/lib/components/conditions/AnyCondition.ts
  client/app/lib/components/conditions/Condition.tsx
  client/app/lib/components/conditions/ConditionsManager.tsx
  client/app/lib/components/conditions/conditions/AchievementCondition.tsx
  client/app/lib/components/conditions/conditions/AssessmentCondition.tsx
  client/app/lib/components/conditions/conditions/LevelCondition.tsx
  client/app/lib/components/conditions/conditions/SurveyCondition.tsx
  client/app/lib/components/conditions/operations.ts
  client/app/lib/components/conditions/specifiers.ts
  client/app/lib/components/conditions/translations.ts
Due: frontend

feat(coursesettings): support for staging course logo
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
Due: frontend

test(admin): controller tests now responds to json
  spec/controllers/course/admin/admin_controller_spec.rb
  spec/controllers/course/admin/assessment_settings_controller_spec.rb
  spec/controllers/course/admin/assessments/categories_controller_spec.rb
  spec/controllers/course/admin/assessments/tabs_controller_spec.rb
  spec/controllers/course/admin/component_settings_controller_spec.rb
  spec/controllers/course/admin/discussion/topic_settings_controller_spec.rb
  spec/controllers/course/admin/forum_settings_controller_spec.rb
  spec/controllers/course/admin/leaderboard_settings_controller_spec.rb
  spec/controllers/course/admin/lesson_plan_settings_controller_spec.rb
  spec/controllers/course/admin/material_settings_controller_spec.rb
  spec/controllers/course/admin/notification_settings_controller_spec.rb
  spec/controllers/course/admin/sidebar_settings_controller_spec.rb
  spec/controllers/course/admin/videos/tabs_controller_spec.rb
Due: none
