Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

style(controller_helper): remove unused `display_course_logo`
  app/helpers/course/controller_helper.rb
  spec/helpers/course/controller_helper_spec.rb
Due: backend

style(layouts): remove unused sidebar, course layouts
  app/helpers/application_helper.rb
  app/helpers/application_sidebar_helper.rb
  app/views/layouts/_course_user_badge.html.slim
  app/views/layouts/_sidebar.html.slim
  app/views/layouts/course_admin.html.slim
  spec/helpers/application_helper_spec.rb
Due: backend

refactor(admin): clean up system, instance admin components
  client/app/bundles/system/admin/admin/AdminNavigator.tsx
  client/app/bundles/system/admin/admin/components/navigation/SystemAdminTabs.tsx
  client/app/bundles/system/admin/admin/components/tables/InstancesTable/index.tsx
  client/app/bundles/system/admin/admin/pages/AdminNavigator/index.tsx
  client/app/bundles/system/admin/admin/pages/AnnouncementsIndex.tsx
  client/app/bundles/system/admin/admin/pages/CoursesIndex.tsx
  client/app/bundles/system/admin/admin/pages/InstanceNew.tsx
  client/app/bundles/system/admin/admin/pages/InstancesIndex.tsx
  client/app/bundles/system/admin/admin/pages/UsersIndex.tsx
  client/app/bundles/system/admin/components/AdminNavigablePage.tsx
  client/app/bundles/system/admin/instance/instance/InstanceAdminNavigator.tsx
  client/app/bundles/system/admin/instance/instance/components/navigation/InstanceAdminTabs.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceAdminNavigator/index.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceAnnouncementsIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceComponentsIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceComponentsIndex/index.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceCoursesIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUserRoleRequestsIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersInvitations.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersInvite.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersInvite/index.tsx
  client/app/router.tsx
Due: frontend

feat(layouts): separate renders for react and static pages
  .gitignore
  app/helpers/application_theming_helper.rb
  app/themes/default/assets/stylesheets/default/all.scss.erb
  app/themes/default/assets/stylesheets/default/layout.scss
  app/themes/default/views/layouts/default.html.slim
  app/views/layouts/course.html.slim
Due: backend

style(locales): remove unused translations
  config/locales/en/common.yml
  config/locales/en/course/assessment/assessments.yml
  config/locales/en/course/assessment/question/multiple_responses.yml
  config/locales/en/course/assessment/question/text_response.yml
  config/locales/en/course/assessment/question/voice_responses.yml
  config/locales/en/course/assessment/submission/logs.yml
  config/locales/en/course/assessment/submission/submissions.yml
  config/locales/en/course/video/submissions.yml
  config/locales/en/layout.yml
  config/locales/zh/common.yml
  config/locales/zh/course/assessment/assessments.yml
  config/locales/zh/course/assessment/question/multiple_responses.yml
  config/locales/zh/course/assessment/question/text_response.yml
  config/locales/zh/course/assessment/question/voice_responses.yml
  config/locales/zh/course/assessment/submission/logs.yml
  config/locales/zh/course/assessment/submission/submissions.yml
  config/locales/zh/course/video/submissions.yml
  config/locales/zh/layout.yml
Due: none

test(course_management): test against course titles
  spec/features/course_management_spec.rb
Due: none

test(skill_management): select Skill button by caption
  spec/features/course/assessment/skill_management_spec.rb
Due: none

test(multiple_response_management): select delete button by aria-label
  spec/features/course/assessment/question/multiple_response_management_spec.rb
Due: none

test(text_response_management): select delete button by aria-label
  spec/features/course/assessment/question/text_response_management_spec.rb
Due: none

style(views): remove breadcrumbs
  app/assets/stylesheets/breadcrumbs.scss
  app/assets/stylesheets/course/dangerously-fit-height-to-viewport.scss
  app/views/course/assessment/assessments/edit.html.slim
  app/views/course/assessment/assessments/monitoring.html.slim
  app/views/course/assessment/assessments/show.html.slim
  app/views/course/assessment/assessments/statistics.html.slim
  app/views/course/assessment/question/forum_post_responses/edit.html.slim
  app/views/course/assessment/question/forum_post_responses/new.html.slim
  app/views/course/assessment/question/multiple_responses/edit.html.slim
  app/views/course/assessment/question/multiple_responses/new.html.slim
  app/views/course/assessment/question/programming/edit.html.slim
  app/views/course/assessment/question/programming/new.html.slim
  app/views/course/assessment/question/scribing/edit.html.slim
  app/views/course/assessment/question/scribing/new.html.slim
  app/views/course/assessment/question/text_responses/edit.html.slim
  app/views/course/assessment/question/text_responses/new.html.slim
  app/views/course/assessment/question/voice_responses/edit.html.slim
  app/views/course/assessment/question/voice_responses/new.html.slim
  app/views/course/assessment/question_bundle_assignments/edit.html.slim
  app/views/course/assessment/question_bundle_questions/edit.html.slim
  app/views/course/assessment/question_bundle_questions/new.html.slim
  app/views/course/assessment/question_bundles/edit.html.slim
  app/views/course/assessment/question_bundles/new.html.slim
  app/views/course/assessment/question_groups/edit.html.slim
  app/views/course/assessment/question_groups/new.html.slim
  app/views/course/assessment/submission/logs/index.html.slim
  app/views/course/assessment/submission/submissions/edit.html.slim
  app/views/course/assessment/submission/submissions/index.html.slim
  app/views/course/duplications/show.html.slim
  app/views/course/enrol_requests/index.html.slim
  app/views/course/personal_times/index.html.slim
  app/views/course/reference_timelines/index.html.slim
  app/views/course/user_invitations/index.html.slim
  app/views/course/user_invitations/new.html.slim
  app/views/course/users/index.html.slim
  app/views/course/users/staff.html.slim
  app/views/course/users/students.html.slim
Due: backend

test(profile_edit): fix flaky tests
  spec/features/user/profile_edit_spec.rb
Due: none

feat(CourseContainer): always scroll up when location changes
  client/app/bundles/course/container/CourseContainer.tsx
Due: frontend

feat(Link): support routing with `to`
  client/app/lib/components/core/Link.tsx
Due: frontend

feat(Link): support `ref` assignment
  client/app/lib/components/core/Link.tsx
Due: frontend

feat: replace all anchors `<a .../>` with `Link`
  client/app/bundles/course/achievement/pages/AchievementShow/index.tsx
  client/app/bundles/course/assessment/components/FileManager/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/SelectedPostCard.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.jsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
  client/app/bundles/course/discussion/topics/components/cards/TopicCard.tsx
  client/app/bundles/course/duplication/components/BulkSelectors.jsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/index.jsx
  client/app/bundles/course/experience-points/disbursement/components/tables/DisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumDisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumPostTable.tsx
  client/app/bundles/course/experience-points/disbursement/pages/ForumDisbursement/index.tsx
  client/app/bundles/course/forum/components/cards/PostCard.tsx
  client/app/bundles/course/forum/components/tables/ForumTopicTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/learning-map/components/Node/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/Details/index.jsx
  client/app/bundles/course/material/folders/components/tables/TableMaterialRow.tsx
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
  client/app/bundles/course/users/components/misc/UserProfileAchievements.tsx
  client/app/bundles/course/users/components/misc/UserProfileCard.tsx
  client/app/bundles/course/users/components/tables/ExperiencePointsTableRow.tsx
  client/app/bundles/course/video/submission/containers/DiscussionElements/Topic.jsx
  client/app/bundles/system/admin/admin/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/InstancesTable/index.tsx
  client/app/bundles/system/admin/admin/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UsersTable.tsx
  client/app/bundles/users/components/tables/CoursesTable.tsx
  client/app/bundles/users/components/tables/InstancesTable.tsx
  client/app/lib/components/core/Thumbnail.jsx
  client/app/lib/components/form/fields/DataTableInlineEditable/TextField.tsx
Due: frontend

feat: replace all React Router's `Link` with our `Link`
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/AssessmentsTable.tsx
  client/app/bundles/course/container/Breadcrumbs/Crumb.tsx
  client/app/bundles/course/courses/components/misc/NotificationCard.tsx
  client/app/bundles/course/forum/components/buttons/NextUnreadButton.tsx
  client/app/bundles/course/forum/components/tables/ForumTable.tsx
  client/app/bundles/course/survey/pages/SurveyResults/OptionsQuestionResults.jsx
  client/app/bundles/course/survey/pages/SurveyResults/TextResponseResults.jsx
  client/app/bundles/course/users/components/navigation/UserManagementTabs.tsx
  client/app/bundles/course/users/pages/UsersIndex/index.tsx
  client/app/bundles/course/video-submissions/components/tables/UserVideoSubmissionTable.tsx
  client/app/bundles/course/video/components/tables/VideoTable.tsx
  client/app/bundles/course/video/submission/components/tables/VideoSubmissionsTable.tsx
  client/app/bundles/system/admin/instance/instance/components/navigation/InstanceUsersTabs.tsx
  client/app/lib/components/core/Link.tsx
  client/app/lib/components/core/PopupMenu.tsx
  client/app/lib/components/navigation/BrandingHead.tsx
Due: frontend

feat: replace remaining `Link`s with our `Link`
  client/app/bundles/course/announcements/components/misc/AnnouncementCard.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/AssessmentsTable.tsx
  client/app/bundles/course/assessment/submission/pages/LogsIndex/LogsHead.tsx
  client/app/bundles/course/assessment/submissions/components/tables/SubmissionsTable.tsx
  client/app/bundles/course/courses/components/misc/CourseInfoBox.tsx
  client/app/bundles/course/courses/components/tables/PendingTodosTable.tsx
  client/app/bundles/course/forum/components/misc/PostCreatorObject.tsx
  client/app/bundles/course/group/pages/GroupIndex/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/SurveysTable.jsx
  client/app/bundles/course/user-invitations/pages/InviteUsersFileUpload/index.tsx
  client/app/bundles/course/users/components/tables/PersonalTimesTable.tsx
  client/app/bundles/system/admin/admin/pages/CoursesIndex.tsx
  client/app/bundles/system/admin/admin/pages/UsersIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceCoursesIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersIndex.tsx
Due: frontend

test(SubmissionsTable): new `Link` requires `BrowserRouter` context
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/__test__/submissionsTable.test.jsx
Due: frontend

test(admin): links are no longer `button`s
  spec/features/system/admin/course_management_spec.rb
  spec/features/system/admin/instance/user_management_spec.rb
  spec/features/system/admin/user_management_spec.rb
Due: none

test(course_management): fix sometimes cannot find `active_course`
  spec/features/system/admin/course_management_spec.rb
Due: none

feat(Footer): add latest build time, commit head SHA
  client/.eslintrc.js
  client/app/declaration.d.ts
  client/app/lib/components/core/layouts/Footer.tsx
  client/webpack.common.js
Due: frontend

style(DataTable): remove elevation
  client/app/lib/components/core/layouts/DataTable.jsx
Due: frontend

feat(components): add `Page`, deprecate `PageHeader`
  client/app/lib/components/core/layouts/Page.tsx
  client/app/lib/components/navigation/PageHeader.tsx
  client/app/lib/components/navigation/TitleBar.jsx
  client/app/lib/components/navigation/__test__/PageHeader.test.tsx
  client/app/lib/components/navigation/__test__/__snapshots__/PageHeader.test.tsx.snap
Due: frontend

fix(table): cannot type space in search field in prod
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/utils.ts
Due: frontend

style(Section): sticks to top 0px of page
  client/app/lib/components/core/layouts/Section.tsx
Due: frontend

feat(tailwind): add instant borders plugin
  client/tailwind.config.ts
Due: none

test(global_announcements): test against announcement content
  spec/features/global_announcements_spec.rb
Due: none

refactor(constants): add icons for all course components
  client/app/bundles/course/admin/pages/SidebarSettings/SidebarSettingsForm.tsx
  client/app/bundles/course/learning-map/components/Node/index.jsx
  client/app/bundles/course/users/components/tables/PersonalTimesTable.tsx
  client/app/lib/constants/icons.ts
  client/app/lib/constants/sharedConstants.ts
  client/app/types/course/admin/sidebar.ts
Due: frontend

test(course): announcements header now shows only when not empty
  spec/features/course/invitation_management_spec.rb
  spec/features/course/registration_spec.rb
Due: none

test(homepage): select proper case button
  spec/features/course/homepage_spec.rb
Due: none

feat(tailwind): add `bg-fade-to-r`
  client/tailwind.config.ts
Due: none

style(components): remove deprecated `PageHeader`
  client/app/lib/components/navigation/PageHeader.tsx
  client/app/lib/components/navigation/__test__/PageHeader.test.tsx
  client/app/lib/components/navigation/__test__/__snapshots__/PageHeader.test.tsx.snap
Due: frontend

fix(PopupNotifier): suppress error on 403 when fetching
  client/app/bundles/course/user-notification/operations.ts
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
