Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor(annotation box): update variable naming
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/index.jsx
Due: frontend

fix(ForumPostResponse): update logic to determine if a submitted post has been edited
  app/models/course/assessment/answer/forum_post_response.rb
  app/views/course/assessment/submission/answer/forum_post_response/posts/_post_packs.json.jbuilder
  app/views/course/forum/forums/all_posts.json.jbuilder
  client/app/bundles/course/forum/components/ForumPost.jsx
  client/yarn-error.log
  db/schema.rb
Due: frontend, backend

fix(ForumPostResponse): update logic to determine if a submitted post has been edited
  app/models/course/assessment/answer/forum_post_response.rb
  app/views/course/assessment/submission/answer/forum_post_response/posts/_post_packs.json.jbuilder
  app/views/course/forum/forums/all_posts.json.jbuilder
  client/app/bundles/course/forum/components/ForumPost.jsx
Due: frontend, backend

fix(ForumPostResponse): update logic to determine if a submitted post has been edited
  app/models/course/assessment/answer/forum_post_response.rb
Due: backend

test & style: Update test for user subscriptions controller
  app/controllers/course/user_subscriptions_controller.rb
  config/locales/en/layout.yml
  spec/controllers/course/user_subscriptions_controller_spec.rb
Due: backend

feat(course email setting): Add frontend page and tests for course email setting and user subscription
  client/app/api/course/Admin/Notifications.js
  client/app/api/course/Base.js
  client/app/api/course/UserSubscriptions.js
  client/app/api/course/index.js
  client/app/bundles/course/actions/index.js
  client/app/bundles/course/actions/user-subscriptions.js
  client/app/bundles/course/admin/actions/notifications.js
  client/app/bundles/course/admin/pages/NotificationSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/translations.intl.js
  client/app/bundles/course/constants.js
  client/app/bundles/course/pages/UserSubscriptions/__test__/index.test.js
  client/app/bundles/course/pages/UserSubscriptions/index.jsx
  client/app/bundles/course/pages/UserSubscriptions/translations.intl.js
  client/app/bundles/course/reducers/index.js
  client/app/bundles/course/reducers/userSubscriptions.js
  client/app/bundles/course/store.js
  client/app/bundles/course/user-subscriptions.jsx
  client/app/lib/components/NotificationBar.jsx
  client/app/lib/helpers/url-helpers.js
Due: frontend

test(course email setting): Add backend rspec tests for course email setting and user subscription
  spec/controllers/course/admin/notification_settings_controller_spec.rb
  spec/controllers/course/assessment/submission/answer/programming/annotations_controller_spec.rb
  spec/controllers/course/assessment/submission_question/comments_controller_spec.rb
  spec/controllers/course/user_subscriptions_controller_spec.rb
  spec/factories/course_assessment_categories.rb
  spec/features/course/duplication_spec.rb
  spec/mailers/consolidated_opening_reminder_mailer_spec.rb
  spec/mailers/course/mailer_spec.rb
  spec/models/course/assessment/category_spec.rb
  spec/models/course/assessment/submission_spec.rb
  spec/models/course/settings/email_spec.rb
  spec/models/course/user_email_unsubscription_spec.rb
  spec/models/course_spec.rb
  spec/models/course_user_spec.rb
  spec/notifiers/consolidated_opening_reminder_notifier_spec.rb
  spec/notifiers/course/announcement_notifier_spec.rb
  spec/notifiers/course/assessment/answer/comment_notifier_spec.rb
  spec/notifiers/course/assessment/submission_question/comment_notifier_spec.rb
  spec/notifiers/course/assessment_notifier_spec.rb
  spec/notifiers/course/forum/post_notifier_spec.rb
  spec/notifiers/course/forum/topic_notifier_spec.rb
  spec/notifiers/course/video_notifier_spec.rb
  spec/services/course/assessment/reminder_service_spec.rb
  spec/services/course/duplication/course_duplication_service_spec.rb
  spec/services/course/survey/reminder_service_spec.rb
Due: none

feat(course email setting): Update mailer text erb file
  app/views/course/mailer/assessment_closing_reminder_email.text.erb
  app/views/course/mailer/assessment_closing_summary_email.text.erb
  app/views/course/mailer/submission_graded_email.text.erb
  app/views/course/mailer/survey_closing_reminder_email.text.erb
  app/views/course/mailer/survey_closing_summary_email.text.erb
  app/views/layouts/_manage_email_subscription.text.erb
Due: backend

style: Fix style
  app/controllers/course/user_subscriptions_controller.rb
  app/models/components/course/user_email_unsubscriptions_ability_component.rb
  app/models/course/settings/email.rb
  lib/tasks/db/migrate_email_settings.rake
  spec/controllers/course/user_subscriptions_controller_spec.rb
  spec/models/course/settings/email_spec.rb
  spec/models/course/user_email_unsubscription_spec.rb
Due: backend

refactor(course email setting): regenerate db migration files
  db/migrate/20211027070551_create_course_settings_emails.rb
  db/migrate/20211027070704_create_course_user_email_unsubscriptions.rb
  db/schema.rb
Due: none

feat(course email setting): Remove legacy course email setting system
  app/models/concerns/course/settings/email_settings_concern.rb
  app/models/course/settings/announcements_component.rb
  app/models/course/settings/assessments_component.rb
  app/models/course/settings/forums_component.rb
  app/models/course/settings/notifications.rb
  app/models/course/settings/survey_component.rb
  app/models/course/settings/users_component.rb
  app/models/course/settings/videos_component.rb
  spec/models/course/settings/assessments_component_spec.rb
Due: backend

feat(forum topics): Subscribe topic creator
  app/controllers/course/forum/topics_controller.rb
Due: backend

feat(forum topics): Update topic subscription button look and add the button to the topics table view
  app/controllers/concerns/course/forum/topic_controller_subscription_concern.rb
  app/views/course/forum/forums/_controls.html.slim
  app/views/course/forum/topics/_controls.html.slim
  app/views/course/forum/topics/_subscribe_button.html.slim
  app/views/course/forum/topics/_topic.html.slim
  app/views/course/forum/topics/show.html.slim
  app/views/course/forum/topics/update_subscribe_button.js.erb
  config/locales/en/course/forum/forums.yml
  config/locales/en/course/forum/topics.yml
  config/locales/en/notifiers/course/forum/post_notifier/replied/user_notifications/email.yml
  config/locales/en/notifiers/course/forum/topic_notifier/created/user_notifications/email.yml
Due: backend

feat(forum topics): Add forum topics auto subscription toggle on forum setting
  app/controllers/concerns/course/forum/topic_controller_subscription_concern.rb
  app/controllers/course/forum/forums_controller.rb
  app/controllers/course/forum/posts_controller.rb
  app/controllers/course/forum/topics_controller.rb
  app/models/course/forum.rb
  app/views/course/forum/forums/_form.html.slim
  app/views/course/forum/topics/_topic.html.slim
  config/locales/en/course/forum/forums.yml
  config/locales/en/course/forum/topics.yml
  db/migrate/20211013033820_add_topics_auto_subscribe_to_forum.rb
  db/schema.rb
  spec/controllers/course/forum/forums_controller_spec.rb
  spec/factories/course_forums.rb
Due: backend

feat(forum topics): Disable subscribe forum and forum topic subscribe buttons when admin disable email setting or student disable subscription
  app/controllers/concerns/course/forum/topic_controller_subscription_concern.rb
  app/views/course/forum/forums/_subscribe_button.html.slim
  app/views/course/forum/topics/_subscribe_button.html.slim
  config/locales/en/course/forum/forums.yml
  config/locales/en/course/forum/topics.yml
Due: backend

refactor(forum topics): regenerate db migration file
  db/migrate/20211027083820_add_topics_auto_subscribe_to_forum.rb
Due: none

test(forum topics): Update rspec tests for forum and forum topic subscription
  spec/controllers/course/forum/topics_controller_spec.rb
  spec/features/course/forum/topic_management_spec.rb
  spec/features/course/forum_management_spec.rb
Due: none

refactor(forum topics): rerun db migrate
  db/schema.rb
Due: none

fix(duplicatin spinner): change rails view duplication spinner to frontend polljob for duplication job
  client/app/bundles/course/assessment/submission/actions/submissions.js
  client/app/bundles/course/duplication/actions.js
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateAllButton.jsx
  client/app/bundles/course/duplication/reducers/duplication.js
  client/app/lib/components/NotificationBar.jsx
Due: frontend

feat(course duplication): send an email when a duplication job fails
  app/mailers/course/mailer.rb
  app/services/course/duplication/course_duplication_service.rb
  app/views/course/mailer/course_duplicate_failed_email.html.slim
  app/views/course/mailer/course_duplicate_failed_email.text.erb
  config/locales/en/course/mailer/course_duplicate_failed_email.yml
Due: backend

chore: fix application js includes
  Gemfile
  Gemfile.lock
  app/assets/javascripts/application.js
  client/app/lib/components/form/DateTimePicker.jsx
  client/webpack.config.js
  config/favicon.json
Due: frontend, backend

fix: resolve issues due to jquery
  app/assets/javascripts/application.js
  app/assets/javascripts/course/discussion/topics.js
  app/assets/javascripts/helpers/discussion/post_helpers.js
  app/assets/javascripts/layout.js
  app/assets/javascripts/patches/dropdown_mobile_fix.js
  client/app/bundles/course/achievement/achievements-edit.jsx
  client/app/bundles/course/achievement/achievements-index.jsx
  client/app/bundles/course/achievement/achievements.js
  client/app/bundles/course/admin/admin.js
  client/app/bundles/course/admin/lesson-plan-settings.jsx
  client/app/bundles/course/admin/notification-settings.jsx
  client/app/bundles/course/admin/sidebar-settings.js
  client/app/bundles/course/assessment/assessments-edit.jsx
  client/app/bundles/course/assessment/assessments-index.jsx
  client/app/bundles/course/assessment/assessments-show.js
  client/app/bundles/course/assessment/question/multiple-responses.js
  client/app/bundles/course/assessment/question/programming.jsx
  client/app/bundles/course/assessment/question/scribing.jsx
  client/app/bundles/course/assessment/question/text-responses.js
  client/app/bundles/course/assessment/submission/submission.jsx
  client/app/bundles/course/duplication/index.jsx
  client/app/bundles/course/lesson-plan/items.jsx
  client/app/bundles/course/level/index.jsx
  client/app/bundles/course/personal-times.js
  client/app/bundles/course/statistics.js
  client/app/bundles/course/survey/surveys.jsx
  client/app/bundles/course/video/submission/submissions-edit.jsx
  client/app/bundles/course/video/submission/submissions-show.jsx
  client/app/bundles/course/video/videos.jsx
  client/app/bundles/course/virtual-classrooms.js
  client/app/lib/initializers/confirm-dialog.jsx
  client/app/lib/initializers/popup-notifier.jsx
Due: frontend, backend

fix: revert certain deps that are difficult to upgrade now
  client/package.json
  client/yarn.lock
Due: none

style(client): rearrange methods
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPostSelect.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/SelectedPostCard.jsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
Due: frontend

chore: upgrade sass-loader
  client/package.json
  client/yarn.lock
Due: none

style(client): clean up on unused vars
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/Error.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/Labels.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ParentPost.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/webpack.config.js
Due: frontend

chore(client): improve linting and formatting of files
  client/.eslintrc.js
  client/.prettierrc.js
  client/package.json
  client/yarn.lock
Due: none

style(client): clean up on import paths
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/bundles/course/video/submission/actions/__test__/video.test.js
  client/app/bundles/course/video/submission/actions/video.js
Due: frontend

fix(client): fix regression with datetime picker
  client/app/lib/components/form/DateTimePicker.jsx
Due: frontend

style(client): fix minor issues
  client/app/bundles/course/survey/surveys.jsx
  client/app/lib/components/form/DateTimePicker.jsx
Due: frontend

style(client): fix eslint config and lint test files
  client/.eslintrc.js
  client/app/__test__/utils/__test__/shallowUntil.test.js
  client/app/bundles/course/admin/pages/LessonPlanSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/__test__/index.test.jsx
  client/app/bundles/course/assessment/question/scribing/__test__/index.test.js
  client/app/bundles/course/assessment/question/scribing/actions/__test__/responses.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/SavingIndicator.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/ScribingToolbar.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/index.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/fields/__test__/ColorPickerField.test.js
  client/app/bundles/course/assessment/submission/components/answers/Programming/__test__/ProgrammingFile.test.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/__test__/index.test.js
  client/app/bundles/course/duplication/pages/Duplication/__test__/ObjectDuplication.test.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/index.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/index.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminTools.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/LessonPlanShow.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/MilestoneAdminTools.test.jsx
  client/app/bundles/course/survey/__test__/index.test.js
  client/app/bundles/course/survey/actions/__test__/responses.test.js
  client/app/bundles/course/survey/containers/ResponseForm/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/index.test.jsx
  client/app/bundles/course/user-notification/components/__test__/LevelReachedPopup.test.jsx
  client/app/lib/components/redux-form/SingleFileInput/__test__/BadgePreview.test.js
  client/app/lib/components/redux-form/SingleFileInput/__test__/ImagePreview.test.js
  client/app/lib/components/redux-form/SingleFileInput/__test__/index.test.js
  client/app/lib/helpers/__test__/htmlFormatHelpers.test.js
Due: frontend

style(client): fix formatting error with forum post component
  client/app/bundles/course/forum/components/ForumPost.jsx
Due: frontend

fix(rails summernote): deactivate codeview when navigating away from summernote
  app/assets/javascripts/layout.js
Due: backend

fix(react summernote): use forked react-sumemrnote and add onBlurCodeview
  client/app/lib/components/MaterialSummernote.jsx
  client/package.json
  client/yarn.lock
Due: frontend

fix(504 page): Fix breaking image link on relative pages
  public/504.html
Due: none

fix(code editor): fix misalignment between code line number and code line
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideEditor.jsx
Due: frontend

chore(js-routes): regenerate routes file
  app/assets/javascripts/routes.js
Due: backend

fix(topics): add button span margin to subscribe button
  app/assets/stylesheets/course/forum/topics.scss
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
