Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(submission/monitoring_concern): blocked when viewing submission
  app/controllers/concerns/course/assessment/submission/monitoring_concern.rb
Due: backend

fix(assessment/monitoring_concern): blocked when viewing submission
  app/controllers/concerns/course/assessment/monitoring_concern.rb
  app/controllers/course/assessment/assessments_controller.rb
  app/views/course/assessment/assessments/show.json.jbuilder
Due: backend

refactor(assessments_controller): query submissions only once
  app/views/course/assessment/assessments/show.json.jbuilder
Due: backend

refactor(manage users permission): centralise authorisation control for manage course users
  app/controllers/components/course/users_component.rb
  app/controllers/concerns/course/unread_counts_concern.rb
  app/models/components/course/course_ability_component.rb
  app/views/course/users/_permissions_data.json.jbuilder
  app/views/course/users/staff.json.jbuilder
  app/views/course/users/students.json.jbuilder
  client/app/bundles/course/users/components/navigation/UserManagementTabs.tsx
  spec/models/course_ability_spec.rb
Due: frontend, backend

fix(survey): fix typography
  client/app/bundles/course/survey/containers/ResponseForm/components/MultipleChoiceOptionsField.jsx
  client/app/bundles/course/survey/containers/ResponseForm/components/MultipleResponseOptionsField.jsx
  client/app/lib/components/core/ErrorText.jsx
  client/app/lib/components/core/__test__/__snapshots__/ErrorText.test.tsx.snap
Due: frontend

fix(new Date): initialise current timestamp with zero second
  client/app/bundles/course/announcements/pages/AnnouncementNew/index.tsx
  client/app/bundles/course/assessment/utils/recorderHelper.js
  client/app/bundles/course/material/folders/pages/FolderNew/index.tsx
  client/app/bundles/course/video/pages/VideoNew/index.tsx
  client/app/bundles/course/video/submission/reducers/video.js
Due: frontend

refactor(datetimepicker): remove seconds and miliseconds from datetimepicker value
  client/app/lib/components/form/fields/DateTimePickerField.jsx
Due: frontend

feat(survey response): add backend validation
  app/controllers/course/survey/responses_controller.rb
  app/models/course/survey/answer.rb
  app/models/course/survey/response.rb
  config/locales/en/activerecord/course/survey/answer.yml
  spec/services/course/survey/survey_download_spec.rb
Due: backend

chore: update ckeditor
  client/app/lib/components/core/fields/CKEditor.css
  client/app/lib/components/core/fields/CKEditorRichText.tsx
  client/package.json
  client/yarn.lock
Due: frontend

fix(ResponseAnswer): set min_options as 1 for required question
  client/app/bundles/course/survey/containers/ResponseForm/ResponseAnswer.jsx
Due: frontend

chore: add transaction block in factory bot lint
  lib/tasks/factory_bot.rake
Due: backend

fix(conditional): add same course check
  app/models/course/condition.rb
  config/locales/en/activerecord/course/condition/condition.yml
  spec/factories/course_condition_achievements.rb
  spec/factories/course_condition_assessments.rb
  spec/factories/course_condition_levels.rb
  spec/factories/course_condition_surveys.rb
  spec/factories/course_condition_videos.rb
  spec/models/course/achievement_spec.rb
Due: backend

chore: remove unused intl
  config/locales/en/course/condition/achievements.yml
  config/locales/en/course/condition/assessments.yml
  config/locales/en/course/condition/levels.yml
  config/locales/en/course/condition/surveys.yml
  config/locales/zh/course/condition/achievements.yml
  config/locales/zh/course/condition/assessments.yml
  config/locales/zh/course/condition/levels.yml
  config/locales/zh/course/condition/surveys.yml
Due: none

refactor: enable video component by default
  app/controllers/components/course/videos_component.rb
  spec/controllers/course/admin/videos/tabs_controller_spec.rb
  spec/controllers/course/lesson_plan/items_controller_spec.rb
  spec/controllers/course/video/submission/sessions_controller_spec.rb
  spec/controllers/course/video/submission/submissions_controller_spec.rb
  spec/controllers/course/video/topic/topics_controller_spec.rb
  spec/controllers/course/video_submissions_controller_spec.rb
  spec/factories/course_video_events.rb
  spec/factories/course_video_sessions.rb
  spec/factories/courses.rb
  spec/factories/instances.rb
  spec/features/course/admin/component_settings_spec.rb
  spec/features/course/admin/video_settings_spec.rb
  spec/features/course/video/submissions_viewing_spec.rb
  spec/features/course/video/video_management_spec.rb
  spec/features/course/video/video_viewing_and_attempting_spec.rb
  spec/models/course/video/event_spec.rb
  spec/models/course/video/session_spec.rb
  spec/models/course/video/submission_spec.rb
  spec/models/course/video/tab_spec.rb
  spec/models/course/video/topic_spec.rb
  spec/models/course/video_spec.rb
Due: backend

feat: add destination instance field when duplicating course
  app/controllers/course/duplications_controller.rb
  app/controllers/course/object_duplications_controller.rb
  app/models/components/course/duplication_ability_component.rb
  app/services/course/duplication/course_duplication_service.rb
  app/views/course/object_duplications/new.json.jbuilder
  client/app/api/course/Duplication.js
  client/app/bundles/course/duplication/operations.js
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/InstanceDropdown.tsx
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/NewCourseForm.jsx
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/__test__/DuplicateButton.test.tsx
  client/app/bundles/course/duplication/pages/Duplication/__test__/ObjectDuplication.test.jsx
  client/app/bundles/course/duplication/propTypes.js
  client/app/bundles/course/duplication/selectors/destinationInstance.ts
  client/app/bundles/course/duplication/store.js
  client/app/lib/components/form/fields/AutoCompleteField.jsx
  client/app/types/course/duplication.ts
  client/app/utilities/array.ts
  spec/models/duplication_ability_spec.rb
Due: frontend, backend

feat: allow manager or owner of course to submit answer
  app/models/course/assessment/assessment_ability.rb
Due: backend

fix: allow manager or owner of course to submit answer
  app/models/course/assessment/assessment_ability.rb
Due: backend

fix(update_service): check if there's existing last attempt answer that has not been evaluted yet. If so, return the job instead of attempting a new one
  app/services/course/assessment/submission/update_service.rb
Due: backend

chore(deps): bump redux from 4.2.1 to 5.0.0
  client/package.json
  client/yarn.lock
Due: none

chore(deps): bump @reduxjs/toolkit from 1.9.7 to 2.0.1
  client/package.json
  client/yarn.lock
Due: none

chore(deps): bump react-redux from 9.0.0 to 9.0.1
  client/package.json
  client/yarn.lock
Due: none

chore(deps): bump redux-thunk from 2.4.2 to 3.1.0
  client/package.json
  client/yarn.lock
Due: none

chore(video): use redux-thunk named `thunk` import
  client/app/bundles/course/video/submission/store.js
Due: frontend

chore(forum): add `id` type to EntityState
  client/app/bundles/course/forum/types.ts
Due: frontend

chore(experience-points): add `id` type to EntityState
  client/app/bundles/course/experience-points/store.ts
Due: frontend

chore(CodaveriSettings): convert `id`s to number
  client/app/bundles/course/admin/pages/CodaveriSettings/selectors.ts
Due: frontend

chore(forum): convert `id`s to number
  client/app/bundles/course/forum/selectors.ts
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
