Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Add validation for announcement dates
  app/models/concerns/announcement_concern.rb
  config/locales/en/activerecord/course/announcement.yml
  config/locales/en/activerecord/generic_announcement.yml
  spec/features/global_announcements_spec.rb
  spec/models/course/announcement_spec.rb
  spec/models/generic_announcement_spec.rb
Due: backend

Fix the feed message
  config/locales/en/notifiers.yml
Due: none

Use latest bootstrap-sass-extras
  Gemfile
  Gemfile.lock
Due: none

Update deprecated routes definition
  config/routes.rb
Due: none

Remove `migration_comments` * Rails 5 has built-in support of comments: http://guides.rubyonrails.org/active_record_migrations.html#column-modifiers
  Gemfile
  Gemfile.lock
Due: none

Remove postgres string limit patch * Patching is not working and caused an issue that limit from db gets ignored
  lib/extensions/legacy/active_record.rb
  spec/libraries/legacy_spec.rb
Due: backend

Implement custom version of attachment tracking Virtual attribute changes are not well supported in rails 5: https://github.com/rails/rails/issues/25787 Hopefully we can remmove this in rails 5.1
  app/models/course/assessment/question/programming.rb
  lib/extensions/attachable/active_record/base.rb
  spec/libraries/acts_as_attachable_spec.rb
Due: backend

`include_blank: false` cannot be used together with `required`
  app/views/course/virtual_classrooms/_form.html.slim
Due: backend

Do not cache when retry finding the job * There're some caching magic to cache the result for the same query. This prevents the job to be reload from db
  lib/autoload/trackable_job.rb
Due: backend

Eager load in development environment * The loading time is almost same as before because the way we declare associations also forces most of the code to load.
  config/environments/development.rb
Due: none

Update existing models to use ApplicationRecord
  app/models/course/assessment/answer/voice_response.rb
  app/models/course/assessment/question/voice_response.rb
  app/models/course/discussion/topic.rb
  app/models/course/video/topic.rb
Due: backend

Regenerate schema.rb
  db/schema.rb
Due: none

Fix course duplication spec
  spec/services/course/duplication/course_duplication_service_spec.rb
Due: none

Typo
  spec/features/course/category_management_spec.rb
Due: none

Hide gamification elements if course is not gamified
  app/views/course/assessment/assessments/show.html.slim
Due: backend

Fix playbackrate naming conventions
  client/app/bundles/course/video/submission/actions/video.js
  client/app/bundles/course/video/submission/containers/VideoControls/PlayBackRateSelector.jsx
  client/app/bundles/course/video/submission/reducers/video.js
Due: frontend

Fix deprecated controller test params style * Deprecated style: get :show, { id: 1 }, nil, { notice: "This is a flash message" }
  spec/controllers/course/achievement/achievements_controller_spec.rb
  spec/controllers/course/achievement/condition/assessments_controller_spec.rb
  spec/controllers/course/achievement/condition/levels_controller_spec.rb
  spec/controllers/course/admin/admin_controller_spec.rb
  spec/controllers/course/admin/assessment_settings_controller_spec.rb
  spec/controllers/course/admin/component_settings_controller_spec.rb
  spec/controllers/course/admin/discussion/topic_settings_controller_spec.rb
  spec/controllers/course/admin/forum_settings_controller_spec.rb
  spec/controllers/course/admin/leaderboard_settings_controller_spec.rb
  spec/controllers/course/admin/material_settings_controller_spec.rb
  spec/controllers/course/admin/notification_settings_controller_spec.rb
  spec/controllers/course/admin/sidebar_settings_controller_spec.rb
  spec/controllers/course/assessment/assessments_controller_spec.rb
  spec/controllers/course/assessment/question/multiple_response_controller_spec.rb
  spec/controllers/course/assessment/question/programming_controller_spec.rb
  spec/controllers/course/assessment/question/scribing_controller_spec.rb
  spec/controllers/course/assessment/question/text_responses_controller_spec.rb
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
  spec/controllers/course/controller_spec.rb
  spec/controllers/course/experience_points_records_controller_spec.rb
  spec/controllers/course/forum/forums_controller_spec.rb
  spec/controllers/course/groups_controller_spec.rb
  spec/controllers/course/lesson_plan/event_controller_spec.rb
  spec/controllers/course/lesson_plan/milestones_controller_spec.rb
  spec/controllers/course/material/folders_controller_spec.rb
  spec/controllers/course/material/materials_controller_spec.rb
  spec/controllers/course/survey/responses_controller_spec.rb
  spec/controllers/course/survey/surveys_controller_spec.rb
  spec/controllers/course/users_controller_spec.rb
  spec/controllers/jobs_controller_spec.rb
  spec/controllers/system/admin/instance/components_controller_spec.rb
  spec/controllers/system/admin/instance/users_controller_spec.rb
  spec/controllers/system/admin/users_controller_spec.rb
  spec/controllers/user/profiles_controller_spec.rb
Due: none

Change topic type selection to radio buttons
  app/views/course/forum/topics/edit.html.slim
  app/views/course/forum/topics/new.html.slim
  config/locales/en/activerecord/course/forum/topic.yml
  spec/features/course/forum/topic_management_spec.rb
Due: backend

Fix title format
  app/views/course/video/videos/edit.html.slim
  app/views/course/video/videos/show.html.slim
Due: backend

Set the default date for new video
  app/views/course/video/videos/_form.html.slim
Due: backend

Bundle Update on 2017-10-24
  Gemfile.lock
Due: none

Change parentId to topicId in reducers
  client/app/bundles/course/video/submission/reducers/discussion.js
Due: frontend

Change parentId to topicId for all actions
  client/app/bundles/course/video/submission/actions/discussion.js
Due: frontend

Allow children nesting for frontend components
  client/app/bundles/course/video/submission/containers/DiscussionElements/PostPresentation.jsx
Due: frontend

Change controller to nest comments
  app/controllers/course/video/topics_controller.rb
  app/views/course/video/topics/create.json.jbuilder
Due: backend

Add specs for Course::Video::TopicsController
  spec/controllers/course/video/topic/topics_controller_spec.rb
  spec/factories/course_video_topics.rb
Due: none

Change parentId to topicId for containers
  client/app/bundles/course/video/submission/containers/DiscussionElements/NewReplyContainer.jsx
  client/app/bundles/course/video/submission/containers/DiscussionElements/PostPresentation.jsx
  client/app/bundles/course/video/submission/containers/DiscussionElements/Reply.jsx
  client/app/bundles/course/video/submission/containers/DiscussionElements/Topic.jsx
Due: frontend

Separate video topics
  app/controllers/course/video/topics_controller.rb
  client/app/bundles/course/video/submission/containers/DiscussionElements/Topic.jsx
Due: frontend, backend

Add Actions and Reducers to Announcements
  client/app/api/course/Announcements.js
  client/app/api/course/index.js
  client/app/bundles/course/announcement/actions/announcements.js
  client/app/bundles/course/announcement/actions/index.js
  client/app/bundles/course/announcement/constants.js
  client/app/bundles/course/announcement/reducers/announcements.js
  client/app/bundles/course/announcement/reducers/announcementsFlags.js
  client/app/bundles/course/announcement/reducers/index.js
  client/app/bundles/course/announcement/store.js
  client/app/bundles/course/announcement/utils/index.js
  client/app/bundles/course/announcements.js
  client/package.json
Due: frontend

Modify Announcement Controller, Add/ Modify Announcement View
  app/controllers/course/announcements_controller.rb
  app/views/course/announcements/index.html.slim
  app/views/course/announcements/index.json.jbuilder
Due: backend

Migrate Announcements Index to React
  client/app/bundles/course/announcement/announcements.jsx
  client/app/bundles/course/announcement/components/DeleteButton.jsx
  client/app/bundles/course/announcement/containers/AnnouncementsLayout/index.jsx
  client/app/bundles/course/announcement/pages/AnnouncementIndex/AnnouncementButtonGroup.jsx
  client/app/bundles/course/announcement/pages/AnnouncementIndex/AnnouncementsTable.jsx
  client/app/bundles/course/announcement/pages/AnnouncementIndex/DeleteAnnouncementButton.jsx
  client/app/bundles/course/announcement/pages/AnnouncementIndex/NewAnnouncementButton.jsx
  client/app/bundles/course/announcement/pages/AnnouncementIndex/index.jsx
  client/app/bundles/course/announcement/propTypes.js
  client/app/bundles/course/announcement/translations.js
Due: frontend

Add answer model for new TextInput question type
  app/models/course/assessment/answer/text_input.rb
  app/models/course/assessment/submission.rb
  config/locales/en/activerecord/course/assessment/answer/text_input.yml
  db/migrate/20171023060000_create_course_assessment_answer_text_inputs.rb
  db/schema.rb
  spec/factories/course_assessment_answer_text_inputs.rb
  spec/models/course/assessment/answer/text_input_spec.rb
  spec/models/course/assessment/submission_spec.rb
Due: backend

Add question models for new TextInput question type
  app/models/course/assessment.rb
  app/models/course/assessment/question/text_input.rb
  app/models/course/assessment/question/text_input_group.rb
  app/models/course/assessment/question/text_input_point.rb
  app/models/course/assessment/question/text_input_solution.rb
  config/locales/en/activerecord/course/assessment/question/text_input.yml
  config/locales/en/activerecord/course/assessment/question/text_input_group.yml
  config/locales/en/activerecord/course/assessment/question/text_input_point.yml
  config/locales/en/activerecord/course/assessment/question/text_input_solution.yml
  db/migrate/20171023065500_create_course_assessment_question_text_inputs.rb
  db/schema.rb
  spec/factories/course_assessment_question_text_input_groups.rb
  spec/factories/course_assessment_question_text_input_points.rb
  spec/factories/course_assessment_question_text_input_solutions.rb
  spec/factories/course_assessment_question_text_inputs.rb
  spec/models/course/assessment/question/text_input_group_spec.rb
  spec/models/course/assessment/question/text_input_point_spec.rb
  spec/models/course/assessment/question/text_input_solution_spec.rb
  spec/models/course/assessment/question/text_input_spec.rb
  spec/models/course/assessment_spec.rb
Due: backend

Check if notify exists before invoking
  app/controllers/course/discussion/posts_controller.rb
Due: backend

Add link to feed message
  app/views/notifiers/course/video_notifier/attempted/course_notifications/_feed.html.slim
Due: backend

Fix lesson plan link
  app/views/course/video/videos/_video_lesson_plan_item.json.jbuilder
Due: backend

Add email messages
  app/views/notifiers/course/video_notifier/closing/user_notifications/email.html.slim
  app/views/notifiers/course/video_notifier/opening/course_notifications/email.html.slim
  config/locales/en/notifiers/course/video_notifier/video_notifier.yml
Due: backend

Add a Watch button for the Video show page
  app/views/course/video/videos/show.html.slim
Due: backend

Destroy multiple response answer option, when destroy multiple response question option
  app/models/course/assessment/answer/multiple_response_option.rb
  app/models/course/assessment/question/multiple_response_option.rb
Due: backend
