Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor(comments): add backend API and refactor pagination and routes
  app/controllers/components/course/discussion/topics_component.rb
  app/controllers/course/discussion/topics_controller.rb
  app/models/components/course/discussions_ability_component.rb
  app/models/course/discussion/topic.rb
  app/views/course/discussion/_topic.html.slim
  app/views/course/discussion/posts/_post.json.jbuilder
  app/views/course/discussion/topics/_discussion_topic_programming_file_annotation.jbuilder
  app/views/course/discussion/topics/_discussion_topic_submission_question.json.jbuilder
  app/views/course/discussion/topics/_discussion_topic_video.json.jbuilder
  app/views/course/discussion/topics/_tabs.html.slim
  app/views/course/discussion/topics/_tabs.json.jbuilder
  app/views/course/discussion/topics/_topic.json.jbuilder
  app/views/course/discussion/topics/_topics.html.slim
  app/views/course/discussion/topics/index.html.slim
  app/views/course/discussion/topics/index.json.jbuilder
  app/views/course/discussion/topics/my_students.html.slim
  app/views/course/discussion/topics/my_students_pending.slim
  app/views/course/discussion/topics/pending.html.slim
  app/views/course/discussion/topics/toggle_pending.js.erb
  app/views/course/discussion/topics/topics_list_data.json.jbuilder
  config/locales/en/course/discussion/topics.yml
  config/routes.rb
Due: backend

test(post management): fix test after updating ability
  spec/features/course/forum/post_management_spec.rb
Due: none

fix(topic): fix typo
  app/views/course/discussion/_topic.html.slim
Due: backend

test(post management): fix tests
  spec/features/course/forum/post_management_spec.rb
Due: none

feat(comments): add frontend React
  client/app/api/course/Comments.js
  client/app/api/course/Comments.ts
  client/app/bundles/course/assessment/submission/components/comment/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/comment/CommentField.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/discussion/topics/actions.ts
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
  client/app/bundles/course/discussion/topics/components/cards/TopicCard.tsx
  client/app/bundles/course/discussion/topics/components/fields/CommentField.tsx
  client/app/bundles/course/discussion/topics/components/lists/TopicList.tsx
  client/app/bundles/course/discussion/topics/components/paginations/CommentPagination.tsx
  client/app/bundles/course/discussion/topics/index.tsx
  client/app/bundles/course/discussion/topics/operations.ts
  client/app/bundles/course/discussion/topics/pages/CommentIndex/index.tsx
  client/app/bundles/course/discussion/topics/reducers.ts
  client/app/bundles/course/discussion/topics/selectors.ts
  client/app/bundles/course/discussion/topics/store.ts
  client/app/bundles/course/discussion/topics/types.ts
  client/app/index.js
  client/app/lib/components/CKEditorRichText.tsx
  client/app/types/course/comments.ts
  client/app/types/course/courseUsers.ts
  client/app/types/store.ts
  client/app/utilities/store.ts
Due: frontend

chore(announcement): update correct ts file extension
  client/app/bundles/course/announcements/reducers.ts
  client/app/bundles/course/announcements/selectors.ts
  client/app/bundles/course/announcements/store.ts
Due: frontend

fix(discussion post): further fix and improve ported comments page
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/discussion/topics/actions.ts
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
  client/app/bundles/course/discussion/topics/components/cards/TopicCard.tsx
  client/app/bundles/course/discussion/topics/components/fields/CommentField.tsx
  client/app/bundles/course/discussion/topics/components/lists/TopicList.tsx
  client/app/bundles/course/discussion/topics/components/paginations/CommentPagination.tsx
  client/app/bundles/course/discussion/topics/operations.ts
  client/app/bundles/course/discussion/topics/pages/CommentIndex/index.tsx
  client/app/bundles/course/discussion/topics/reducers.ts
  client/app/bundles/course/discussion/topics/types.ts
  client/app/lib/components/CKEditorRichText.tsx
  client/app/types/course/comments.ts
Due: frontend

style: remove unused helpers and props
  app/helpers/course/announcements_helper.rb
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  spec/helpers/course/announcements_helper_spec.rb
Due: frontend, backend

fix(delayed comments): only show delayed comments for instructor
  app/views/course/discussion/topics/_discussion_topic_programming_file_annotation.jbuilder
  app/views/course/discussion/topics/_discussion_topic_submission_question.json.jbuilder
  app/views/course/discussion/topics/_discussion_topic_video.json.jbuilder
  app/views/course/discussion/topics/_topic.json.jbuilder
Due: backend

fix(comments): add tests and fix linting issues
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
  client/app/bundles/course/discussion/topics/components/cards/TopicCard.tsx
  client/app/bundles/course/discussion/topics/components/fields/CommentField.tsx
  client/app/bundles/course/discussion/topics/components/lists/TopicList.tsx
  client/app/bundles/course/discussion/topics/pages/CommentIndex/index.tsx
  client/app/types/course/comments.ts
  spec/controllers/course/discussion/topics_controller_spec.rb
  spec/features/course/discussion/topic_management_spec.rb
Due: frontend

refactor(comment page): move tabvalue state to redux and fix tab bubble logic
  client/app/bundles/course/discussion/topics/actions.ts
  client/app/bundles/course/discussion/topics/operations.ts
  client/app/bundles/course/discussion/topics/pages/CommentIndex/index.tsx
  client/app/bundles/course/discussion/topics/reducers.ts
  client/app/bundles/course/discussion/topics/selectors.ts
  client/app/bundles/course/discussion/topics/types.ts
  client/app/types/course/comments.ts
Due: frontend

fix(discussion topic): add permission
  app/views/course/discussion/topics/index.json.jbuilder
Due: backend

chore(rails view): remove unused files
  app/assets/javascripts/course/discussion/topics.js
  app/assets/javascripts/course/experience_points/disbursement.js
  app/assets/javascripts/helpers/course_helpers.js
  app/assets/javascripts/helpers/discussion/delete_post.js
  app/assets/javascripts/helpers/discussion/edit_post.js
  app/assets/javascripts/helpers/discussion/post_helpers.js
  app/assets/javascripts/helpers/form_helpers.js
  app/views/course/discussion/posts/_form.html.slim
  app/views/course/discussion/posts/create.js.erb
  app/views/course/discussion/posts/destroy.js.erb
  app/views/course/discussion/posts/update.js.erb
  app/views/course/discussion/topics/_discussion_topic_programming_file_annotation.jbuilder
  app/views/course/discussion/topics/_discussion_topic_submission_question.json.jbuilder
  app/views/course/discussion/topics/_discussion_topic_video.json.jbuilder
Due: backend

chore(topics helper): removed unused methods
  app/helpers/course/discussion/topics_helper.rb
  app/helpers/course/learning_map_helper.rb
  config/locales/en/course/discussion/posts.yml
  config/locales/en/course/discussion/topics.yml
Due: backend

fix(assessment form): fix password fields placeholder not showing text properly
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
Due: frontend

style: fix style
  client/app/bundles/course/assessment/submission/components/comment/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/comment/CommentField.jsx
Due: frontend

fix(discussion ability): allow course owner or manager to edit or remove comments
  app/models/components/course/discussions_ability_component.rb
Due: backend

fix(comments): fix styling and add missing features
  app/views/course/assessment/answer/programming_file_annotations/_discussion_topic_programming_file_annotation.html.slim
  app/views/course/assessment/submission_questions/_discussion_topic_submission_question.html.slim
  app/views/course/video/topics/_discussion_topic_topic.html.slim
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
  client/app/bundles/course/discussion/topics/components/cards/TopicCard.tsx
  client/app/bundles/course/discussion/topics/components/fields/CommentField.tsx
  client/app/bundles/course/discussion/topics/components/lists/TopicList.tsx
  client/app/bundles/course/discussion/topics/pages/CommentIndex/index.tsx
  config/locales/en/course/assessment/answer/programming_file_annotations.yml
  config/locales/en/course/assessment/submission_questions.yml
  config/locales/en/course/video/topics.yml
Due: frontend, backend

chore(stylesheets): remove unused stylesheets
  app/assets/stylesheets/course/achievement.scss
  app/assets/stylesheets/course/discussion/comments_center.scss
  app/assets/stylesheets/course/learning_map.scss
  app/assets/stylesheets/course/levels.scss
  app/assets/stylesheets/course/registrations.scss
  app/assets/stylesheets/course/users.scss
Due: backend

refactor(page loading): refactor all react pages to show page header while loading page content
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/bundles/course/achievement/pages/AchievementShow/index.tsx
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/bundles/course/announcements/pages/AnnouncementsIndex/index.tsx
  client/app/bundles/course/assessment/skills/pages/SkillsIndex/index.tsx
  client/app/bundles/course/assessment/submissions/pages/SubmissionsIndex/index.tsx
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/discussion/topics/pages/CommentIndex/index.tsx
  client/app/bundles/course/enrol-requests/pages/UserRequests/index.tsx
  client/app/bundles/course/experience-points/disbursement/pages/DisbursementIndex/index.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/bundles/course/user-invitations/pages/InvitationsIndex/index.tsx
  client/app/bundles/course/user-invitations/pages/InviteUsers/index.tsx
  client/app/bundles/course/users/pages/ManageStaff/index.tsx
  client/app/bundles/course/users/pages/ManageStudents/index.tsx
  client/app/bundles/course/users/pages/PersonalTimes/index.tsx
  client/app/bundles/course/users/pages/UsersIndex/index.tsx
Due: frontend

test(toast): fix flaky spec due to toast
  spec/support/capybara.rb
Due: none

chore: remove all nodoc
  app/controllers/concerns/application_multitenancy_concern.rb
  app/controllers/course/admin/admin_controller.rb
  app/controllers/course/admin/announcement_settings_controller.rb
  app/controllers/course/admin/component_settings_controller.rb
  app/controllers/course/admin/forum_settings_controller.rb
  app/controllers/course/admin/leaderboard_settings_controller.rb
  app/controllers/course/admin/material_settings_controller.rb
  app/controllers/course/admin/sidebar_settings_controller.rb
  app/controllers/course/admin/video_settings_controller.rb
  app/controllers/course/announcements_controller.rb
  app/controllers/course/assessment/submissions_controller.rb
  app/controllers/course/duplications_controller.rb
  app/controllers/course/experience_points/disbursement_controller.rb
  app/controllers/course/experience_points/forum_disbursement_controller.rb
  app/controllers/course/experience_points_records_controller.rb
  app/controllers/course/leaderboards_controller.rb
  app/controllers/course/lesson_plan/events_controller.rb
  app/controllers/course/lesson_plan/milestones_controller.rb
  app/controllers/course/levels_controller.rb
  app/controllers/course/user_registrations_controller.rb
  app/controllers/course/users_controller.rb
  app/controllers/course/video/videos_controller.rb
  app/controllers/course/video_submissions_controller.rb
  app/controllers/system/admin/instance/components_controller.rb
  app/controllers/system/admin/instance/user_invitations_controller.rb
  app/controllers/system/admin/instances_controller.rb
  app/controllers/user/emails_controller.rb
  app/models/course/settings/sidebar.rb
  app/models/course_user.rb
  app/models/instance.rb
  lib/autoload/active_job/queue_adapters/background_thread_adapter.rb
  lib/autoload/notifier/base/activity_wrapper.rb
Due: backend

perf(course user management): improve api response performance by reducing nested jbuilder
  app/views/course/personal_times/_personal_time_list_data.json.jbuilder
  app/views/course/personal_times/index.json.jbuilder
  app/views/course/user_invitations/_course_user_invitation_list.json.jbuilder
  app/views/course/user_invitations/_course_user_invitation_list_data.json.jbuilder
  app/views/course/user_invitations/index.json.jbuilder
Due: backend

fix(course manage user): refactor course manage user page to create a single entry point for the react page
  app/controllers/concerns/course/users_controller_management_concern.rb
  app/controllers/course/personal_times_controller.rb
  app/controllers/course/user_invitations_controller.rb
  app/models/instance_user.rb
  app/views/course/enrol_requests/index.html.slim
  app/views/course/user_invitations/index.html.slim
  app/views/course/user_invitations/new.html.slim
  client/app/bundles/course/enrol-requests/index.tsx
  client/app/bundles/course/user-invitations/index.tsx
  client/app/bundles/course/user-invitations/user-invitations.tsx
  client/app/bundles/course/users/components/navigation/UserManagementTabs.tsx
  client/app/bundles/course/users/index.tsx
  client/app/bundles/course/users/store.ts
  spec/controllers/course/personal_times_controller_spec.rb
Due: frontend, backend

fix(announcement): replace redirect to with direct function call in create controller
  app/controllers/course/announcements_controller.rb
Due: backend

fix(manage user): fix all users shown in student role upgrade dropdown after navigating from personal times to staff page
  app/views/course/users/index.json.jbuilder
  app/views/course/users/staff.json.jbuilder
  client/app/bundles/course/users/components/misc/UpgradeToStaff.tsx
  client/app/bundles/course/users/selectors.ts
  client/app/types/course/courseUsers.ts
Due: frontend, backend

chore(ckeditor): update ckeditor custom build source
  client/package.json
  client/yarn.lock
Due: none

test(client): fix console error message from jest
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/SavingIndicator.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/ScribingToolbar.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/index.test.js
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/index.jsx
  client/app/bundles/course/lesson-plan/containers/MilestoneFormDialog/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/AdminTools.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/MilestoneAdminTools.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/LessonPlanShow.test.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/__test__/RemindButton.test.jsx
Due: frontend

fix(ckeditor codeblock): fix codeblock for ckeditor
  app/helpers/application_html_formatters_helper.rb
  app/views/course/assessment/question/programming/_question.json.jbuilder
  app/views/course/assessment/question/scribing/_scribing_question.json.jbuilder
Due: backend

style(drawer): fix coursemology footer overlapped by drawer sidebar
  client/app/bundles/system/admin/admin/components/navigation/SystemAdminSidebar.tsx
  client/app/lib/components/layouts/layout.scss
  client/app/lib/components/navigation/Sidebar.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
