Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

fix(LearnPage): add learn_settings endpoint for Learn title
  app/controllers/course/stories/stories_controller.rb
  client/app/api/course/Stories.ts
  client/app/bundles/course/stories/pages/LearnPage.tsx
  client/app/types/course/learn.ts
  config/routes.rb
  spec/controllers/course/stories/stories_controller_spec.rb
  spec/factories/courses.rb
Due: frontend, backend

fix(TabbedViewQuestions): fix stepper spacing for student view with non-skippable questions
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/TabbedViewQuestions.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/StepperButton.tsx
Due: frontend

fix(GradesChart): update ViolinChart to LineChart
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AssessmentStatisticsPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/GradeDistribution/GradesChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/GradeDistribution/MainGradesChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentGradesPerQuestionTable.tsx
  client/app/lib/components/core/charts/LineChart.tsx
  client/app/lib/components/core/charts/ViolinChart.jsx
Due: frontend

feat(RubricBasedResponse): add CSV export for RubricBasedResponse answers
  app/models/course/assessment/question/rubric_based_response.rb
  client/app/bundles/course/assessment/submission/components/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/RubricBasedResponseDetails.tsx
Due: frontend, backend

chore: upgrade favicons package
  client/package.json
  client/yarn.lock
Due: none

fix(StudentGradesPerQuestionTable): add RubricPanel to past answer display for RubricBasedResponse
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentGradesPerQuestionTable.tsx
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/AnswerDetails/RubricBasedResponseDetails.tsx
  client/app/bundles/course/assessment/submission/containers/RubricPanelRow.tsx
  client/app/bundles/course/assessment/submission/types.ts
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend

chore: upgrade codecov CircleCI orb, rework flaky assertions
  .circleci/config.yml
  .codecov.yml
  spec/features/course/achievement_management_spec.rb
  spec/features/course/announcement_management_spec.rb
  spec/features/course/enrol_request_management_spec.rb
  spec/features/course/forum_management_spec.rb
  spec/features/course/invitation_management_spec.rb
Due: none

refactor(RubricPanel): remove redundant useState for category grades
  client/app/bundles/course/assessment/submission/containers/RubricExplanation.tsx
  client/app/bundles/course/assessment/submission/containers/RubricGrade.tsx
  client/app/bundles/course/assessment/submission/containers/RubricPanel.tsx
  client/app/bundles/course/assessment/submission/containers/RubricPanelRow.tsx
Due: frontend

feat(RubricEvaluation): implement rubric auto-grading service backend and update related components
  app/models/course/assessment/answer/rubric_based_response.rb
  app/models/course/assessment/question/rubric_based_response.rb
  app/services/course/assessment/answer/prompts/rubric_auto_grading_output_format.json
  app/services/course/assessment/answer/prompts/rubric_auto_grading_system_prompt.json
  app/services/course/assessment/answer/prompts/rubric_auto_grading_user_prompt.json
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/containers/RubricExplanation.tsx
  client/app/bundles/course/assessment/submission/containers/RubricGrade.tsx
  client/app/bundles/course/assessment/submission/containers/RubricPanelRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/QuestionContent.tsx
Due: frontend, backend

refactor(CommentCard):
  app/controllers/course/discussion/posts_controller.rb
  app/views/course/assessment/answer/rubric_based_responses/_rubric_based_response.json.jbuilder
  client/app/api/course/Comments.ts
  client/app/bundles/course/assessment/submission/actions/comments.js
  client/app/bundles/course/assessment/submission/components/comment/CommentCard.jsx
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/ReevaluateButton.tsx
  client/app/bundles/course/assessment/submission/reducers/posts.js
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
  client/app/bundles/course/discussion/topics/operations.ts
  client/app/types/course/assessment/submission/answer/rubricBasedResponse.ts
  client/app/types/course/comments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  spec/services/course/assessment/answer/rubric_auto_grading_service_spec.rb
  spec/services/course/assessment/answer/rubric_llm_service_spec.rb
Due: frontend, backend

feat(rubric_auto_grading_service): generate AI draft comment after autograding
  app/controllers/course/discussion/posts_controller.rb
  app/views/course/discussion/posts/_post.json.jbuilder
  client/app/api/course/Comments.ts
  client/app/bundles/course/assessment/submission/actions/comments.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/comment/CommentCard.jsx
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/posts.js
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
Due: frontend, backend

feat(style): Refactor rubric_auto_grading_service
  app/services/course/assessment/answer/prompts/rubric_auto_grading_output_format.json
  app/services/course/assessment/answer/prompts/rubric_auto_grading_system_prompt.json
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/services/course/assessment/answer/rubric_llm_service.rb
  client/app/bundles/course/assessment/submission/actions/index.js
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
  spec/factories/course_assessment_answer_rubric_based_response.rb
  spec/factories/course_assessment_answer_rubric_based_response_selection.rb
  spec/factories/course_assessment_assessments.rb
  spec/factories/course_assessment_question_rubric_based_response.rb
  spec/factories/course_assessment_question_rubric_based_response_category.rb
  spec/factories/course_assessment_question_rubric_based_response_criterion.rb
  spec/services/course/assessment/answer/rubric_auto_grading_service_spec.rb
  spec/services/course/assessment/answer/rubric_llm_service_spec.rb
Due: frontend, backend

fix(CoursesController): disable home_redirects_to_learn
  app/controllers/course/courses_controller.rb
Due: backend

feat(LiveFeedbackStatistics): add fields to Live Feedback statistics
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/live_feedback_statistics.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatisticsTable.tsx
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/types/course/statistics/assessmentStatistics.ts
  spec/controllers/course/statistics/assessment_controller_spec.rb
Due: frontend, backend

chore(circleci): workaround active issue installing playwright deps
  .circleci/config.yml
Due: none

fix(CoursesController): disable home_redirects_to_learn
  app/controllers/course/courses_controller.rb
  client/app/bundles/course/stories/components/LearnRedirect.tsx
Due: frontend, backend

feat(LiveFeedbackStatistics): add metric selector to Live Feedback statistics
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/live_feedback_statistics.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatisticsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/classNameUtils.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/components/LiveFeedbackMetricsSelector.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/translations.ts
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/types/course/statistics/assessmentStatistics.ts
  spec/controllers/course/statistics/assessment_controller_spec.rb
Due: frontend, backend

feat(locales): update phrasing for "automatic programming feedback" in translations
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/translations.js
  client/app/bundles/course/assessment/submission/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(python-3.13-support): add python 3.13
  app/controllers/concerns/course/assessment/question/koditsu_question_concern.rb
  lib/tasks/db/set_polyglot_language_flags.rake
Due: backend

fix(rubric_auto_grading_servie): clamp total grade to valid range before saving
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
Due: backend

fix(StudentGradesPerQuestionTable): add RubricPanel to past answer display for RubricBasedResponse
  app/views/course/assessment/answer/forum_post_responses/_forum_post_response.json.jbuilder
  app/views/course/assessment/answer/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  app/views/course/assessment/answer/rubric_based_responses/_rubric_based_response.json.jbuilder
  app/views/course/assessment/answer/scribing/_scribing.json.jbuilder
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  app/views/course/assessment/answer/voice_responses/_voice_response.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentGradesPerQuestionTable.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/RubricBasedResponseDetails.tsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/submission/containers/RubricExplanation.tsx
  client/app/bundles/course/assessment/submission/containers/RubricGrade.tsx
  client/app/bundles/course/assessment/submission/containers/RubricPanel.tsx
  client/app/bundles/course/assessment/submission/containers/RubricPanelRow.tsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/types/course/assessment/submission/answer/rubricBasedResponse.ts
  client/app/types/course/assessment/submission/question/types.ts
Due: frontend, backend

fix(update_rubric_based_response_question):
  app/controllers/concerns/course/assessment/question/rubric_based_response_controller_concern.rb
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
Due: backend

doc(rubric_auto_grading_service): update types
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
Due: backend

feat(RubricExplanation): handle text overflow
  client/app/bundles/course/assessment/submission/containers/RubricExplanation.tsx
  client/app/bundles/course/assessment/submission/containers/RubricGrade.tsx
Due: frontend

refactor(ReevaluateButton): use it in QuestionGrade instead of QuestionContent
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/QuestionContent.tsx
Due: frontend

test(rubric_based_question):
  spec/controllers/course/assessment/question/rubric_based_responses_controller_spec.rb
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
  spec/factories/course_assessment_question_rubric_based_response.rb
  spec/models/course/assessment/question/rubric_based_response_spec.rb
Due: none

fix(handleDeleteGrade): mark the category to be deleted when all criterions are to be deleted
  client/app/bundles/course/assessment/question/rubric-based-responses/utils.ts
Due: frontend

fix(RubricGrade): make moderation grade box to be blankable
  client/app/bundles/course/assessment/submission/containers/RubricGrade.tsx
Due: frontend
