Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

style(types): do not have empty interfaces
  client/app/types/course/assessment/question/forum-post-responses.ts
  client/app/types/course/assessment/question/text-responses.ts
  client/app/types/course/assessment/question/voice-responses.ts
Due: frontend

feat(tablecontainer): add `bare` variant
  client/app/lib/components/core/table/TableContainer.tsx
  client/app/lib/components/core/table/template.ts
Due: frontend

refactor(checkbox): `disabledHint` uses `InfoLabel` by default
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/lib/components/core/buttons/Checkbox.tsx
Due: frontend

feat(questionformcommonfields): support custom `name`
  client/app/bundles/course/assessment/question/components/QuestionFormCommonFields.tsx
Due: frontend

feat(radiobutton): `label` now accepts `ReactNode`
  client/app/lib/components/core/buttons/RadioButton.tsx
Due: frontend

feat(infolabel): `label` now accepts `ReactNode`
  client/app/lib/components/core/InfoLabel.tsx
Due: frontend

fix(selectfield): `required={true}` does not show asterisk `*`
  client/app/lib/components/form/fields/SelectField.jsx
Due: frontend

style(components): deprecate `ExpandableText`
  client/app/lib/components/core/ExpandableText.jsx
Due: frontend

feat(section): add `id` prop
  client/app/lib/components/core/layouts/Section.tsx
Due: frontend

fix(questionformcommonfields): maximum grade field was offset
  client/app/bundles/course/assessment/question/components/QuestionFormCommonFields.tsx
Due: frontend

fix(questionformcommonfields): skills field not disabled
  client/app/bundles/course/assessment/question/components/QuestionFormCommonFields.tsx
Due: frontend

style(forms): use correct types for `Form`s and `FormEmitter`s
  client/app/bundles/course/admin/pages/AnnouncementsSettings/AnnouncementsSettingsForm.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/CommentsSettingsForm.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/ForumsSettingsForm.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/LeaderboardSettingsForm.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/MaterialsSettingsForm.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosSettingsForm.tsx
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
  client/app/bundles/course/assessment/question/forum-post-responses/components/ForumPostResponseForm.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/McqMrqForm.tsx
  client/app/bundles/course/assessment/question/text-responses/components/TextResponseForm.tsx
  client/app/bundles/course/assessment/question/voice-responses/components/VoiceForm.tsx
  client/app/bundles/course/reference-timelines/components/TimePopup/TimePopupForm.tsx
  client/app/bundles/user/AccountSettings/AccountSettingsForm.tsx
  client/app/bundles/user/AccountSettings/index.tsx
Due: frontend

style: `QuestionFormCommonFields` -> `CommonQuestionFields`
  client/app/bundles/course/assessment/question/components/CommonQuestionFields.tsx
  client/app/bundles/course/assessment/question/forum-post-responses/NewForumPostResponsePage.tsx
  client/app/bundles/course/assessment/question/forum-post-responses/commons/validations.ts
  client/app/bundles/course/assessment/question/forum-post-responses/components/ForumPostResponseForm.tsx
  client/app/bundles/course/assessment/question/multiple-responses/NewMcqMrqPage.tsx
  client/app/bundles/course/assessment/question/multiple-responses/commons/validations.ts
  client/app/bundles/course/assessment/question/multiple-responses/components/McqMrqForm.tsx
  client/app/bundles/course/assessment/question/text-responses/NewTextResponsePage.tsx
  client/app/bundles/course/assessment/question/text-responses/commons/validations.ts
  client/app/bundles/course/assessment/question/text-responses/components/TextResponseForm.tsx
  client/app/bundles/course/assessment/question/voice-responses/NewVoicePage.tsx
  client/app/bundles/course/assessment/question/voice-responses/commons/validation.ts
  client/app/bundles/course/assessment/question/voice-responses/components/VoiceForm.tsx
Due: frontend

feat(radiobutton): add `disabledHint` prop
  client/app/lib/components/core/buttons/RadioButton.tsx
Due: frontend

feat(betachip): add `disabled` prop
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/lib/components/core/BetaChip.tsx
Due: frontend

refactor(programming_question): restructure `#new`, `#edit` json
  app/controllers/course/assessment/question/programming_controller.rb
  app/helpers/course/assessment/question/programming_helper.rb
  app/views/course/assessment/question/programming/_codaveri_result.json.jbuilder
  app/views/course/assessment/question/programming/_form.json.jbuilder
  app/views/course/assessment/question/programming/_import_result.json.jbuilder
  app/views/course/assessment/question/programming/_package_ui.json.jbuilder
  app/views/course/assessment/question/programming/_props.json.jbuilder
  app/views/course/assessment/question/programming/_question.json.jbuilder
  app/views/course/assessment/question/programming/_response.json.jbuilder
  app/views/course/assessment/question/programming/_test_cases.json.jbuilder
  app/views/course/assessment/question/programming/_test_ui.json.jbuilder
  app/views/course/assessment/question/programming/edit.json.jbuilder
  app/views/course/assessment/question/programming/metadata/_c_cpp.json.jbuilder
  app/views/course/assessment/question/programming/metadata/_default.json.jbuilder
  app/views/course/assessment/question/programming/metadata/_java.json.jbuilder
  app/views/course/assessment/question/programming/metadata/_javascript.json.jbuilder
  app/views/course/assessment/question/programming/metadata/_python.json.jbuilder
  app/views/course/assessment/question/programming/metadata/partials/_file.json.jbuilder
  app/views/course/assessment/question/programming/metadata/partials/_test_cases.json.jbuilder
  app/views/course/assessment/question/programming/new.json.jbuilder
Due: backend

style(programming_question): remove unused translations
  config/locales/en/course/assessment/question/programming.yml
  config/locales/zh/course/assessment/answer/programming_auto_grading.yml
  config/locales/zh/course/assessment/question/programming.yml
Due: none

feat(programming_question): define new client apis
  client/app/api/course/Assessment/Question/Programming.ts
  client/app/api/course/Assessment/Question/index.ts
  client/app/types/course/assessment/question/programming.ts
Due: frontend

test(programming_question): adapt to new ui
  spec/features/course/assessment/question/programming_management_spec.rb
  spec/helpers/course/assessment/question/programming_helper_spec.rb
Due: none

test(programming_controller): adapt to new renders
  spec/controllers/course/assessment/question/programming_controller_spec.rb
Due: none

feat(programming_question): `#new`, `#edit` renders new page
  app/views/course/assessment/question/programming/_form.html.slim
  app/views/course/assessment/question/programming/edit.html.slim
  app/views/course/assessment/question/programming/new.html.slim
Due: backend

chore(tsc): disable `noUnusedLocals`, `noUnusedParameters`
  client/tsconfig.json
Due: none

fix(question): title, maximum grade fields throw error on `null`
  app/views/course/assessment/question/_form.json.jbuilder
  client/app/types/course/assessment/questions.ts
Due: frontend, backend

feat(programming_question): detect when package is persisted on
  client/app/bundles/course/assessment/question/programming/NewProgrammingQuestionPage.tsx
  client/app/bundles/course/assessment/question/programming/ProgrammingForm.tsx
Due: frontend

feat(packageeditor): auto focus test cases error
  client/app/bundles/course/assessment/question/programming/components/package/PackageEditor.tsx
Due: frontend

fix(commonquestionfields): maximum grade can only be <= 1000
  client/app/bundles/course/assessment/question/components/CommonQuestionFields.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend

fix(programming_question): inconsistent `editOnline`, `autograded`
  client/app/bundles/course/assessment/question/programming/ProgrammingForm.tsx
  client/app/bundles/course/assessment/question/programming/commons/builder.ts
  client/app/bundles/course/assessment/question/programming/commons/validation.ts
  client/app/bundles/course/assessment/question/programming/components/package/PackageDetails.tsx
  client/app/bundles/course/assessment/question/programming/components/package/PolyglotEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/sections/PackageFields.tsx
Due: frontend

feat(expressionfield): add ref, auto focus on error
  client/app/bundles/course/assessment/question/programming/components/common/ExpressionField.tsx
  client/app/bundles/course/assessment/question/programming/components/common/TestCase.tsx
Due: frontend

feat(expressionfield): make disabled state clearer
  client/app/bundles/course/assessment/question/programming/components/common/ExpressionField.tsx
Due: frontend

fix(programming_question): nullable fields throw error on `null`
  app/views/course/assessment/question/programming/_question.json.jbuilder
  client/app/types/course/assessment/question/programming.ts
Due: frontend, backend

style(programming_question): remove unused `codaveri_result`
  app/views/course/assessment/question/programming/_codaveri_result.json.jbuilder
  app/views/course/assessment/question/programming/_form.json.jbuilder
  client/app/types/course/assessment/question/programming.ts
Due: frontend, backend

feat(programming_question): add package upload validation
  client/app/bundles/course/assessment/question/programming/commons/validation.ts
  client/app/bundles/course/assessment/question/programming/components/common/PackageUploader.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend

style(hooks): move `loadingToast` to library
  client/app/bundles/course/assessment/question/programming/ProgrammingForm.tsx
  client/app/lib/hooks/loadingToast.ts
Due: frontend

feat(programming_question): remove test case ids in online editor
  client/app/bundles/course/assessment/question/programming/components/common/TestCase.tsx
  client/app/bundles/course/assessment/question/programming/components/common/TestCaseRow.tsx
  client/app/bundles/course/assessment/question/programming/components/common/TestCases.tsx
  client/app/bundles/course/assessment/question/programming/components/package/BasicPackageEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/JavaPackageEditor.tsx
Due: frontend

style(components): move `Accordion` to library
  client/app/bundles/course/assessment/question/programming/components/common/DataFilesAccordion.tsx
  client/app/bundles/course/assessment/question/programming/components/common/EditorAccordion.tsx
  client/app/bundles/course/assessment/question/programming/components/common/TestCasesTable.tsx
  client/app/bundles/course/assessment/question/programming/components/package/PackageDetails.tsx
  client/app/lib/components/core/layouts/Accordion.tsx
Due: frontend

feat(programming): revert should_evaluate_package logic
  app/models/course/assessment/question/programming.rb
Due: backend

style(programming_question): remove component settings url
  app/views/course/assessment/question/programming/_question.json.jbuilder
  client/app/bundles/course/assessment/question/programming/components/sections/EvaluatorFields.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/question/programming.ts
Due: frontend, backend

style(components): move `DownloadButton` to library
  client/app/bundles/course/assessment/question/programming/components/common/PackageInfo.tsx
  client/app/lib/components/core/buttons/DownloadButton.tsx
Due: frontend

chore(jest): organise mocks in `__test__/mocks`
  client/.eslintrc.js
  client/app/__test__/mocks/fileMock.js
  client/app/__test__/mocks/requestAnimationFrame.js
  client/app/__test__/mocks/svgMock.js
  client/app/__test__/setup.js
  client/jest.config.js
Due: frontend
