Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

chore(gem): upgrade gems to support rails 6.1
  Gemfile
  Gemfile.lock
Due: none

fix: coerce null question titles to empty string
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
Due: frontend

docs: added link to recaptcha api key
  README.md
Due: none

fix(achievements): achievement table self update on edit
  client/app/bundles/course/achievement/components/buttons/AchievementManagementButtons.tsx
  client/app/bundles/course/achievement/components/forms/AchievementForm.tsx
  client/app/bundles/course/achievement/operations.ts
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
Due: frontend

fix(grading-panel): fixed total grade display
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
Due: frontend

test(achievement): updated to reflect new behavior
  spec/features/course/achievement_management_spec.rb
Due: none

fix(notifications): send notifications for phantom users too
  app/models/concerns/course/assessment/submission/notification_concern.rb
Due: backend

wip: update gem to fully support newest rails
  Gemfile
  Gemfile.lock
Due: none

chore(gem): update gem to fully support newest rails
  Gemfile
  Gemfile.lock
Due: none

chore(setup): basic app config setup
  .circleci/config.yml
  config/application.rb
  config/environments/test.rb
Due: none

chore(class_name): change into string
  app/models/course.rb
  app/models/course/experience_points_record.rb
  app/models/course_user.rb
  app/models/user.rb
Due: backend

chore: revert default to rails port 3000
  client/package.json
  config/environments/development.rb
Due: none

chore: remove submodule
  .gitmodules
Due: none

chore: readd submodule
  .gitmodules
Due: none

refactor: remove doorkeeper for cikgo
  app/services/cikgo/users_service.rb
Due: backend

feat(cikgo_chats_concern): `authenticate!` without oauth tokens
  app/controllers/concerns/course/cikgo_chats_concern.rb
  app/services/cikgo/users_service.rb
Due: backend

refactor: add typography
  client/app/bundles/course/assessment/question/scribing/ScribingQuestionForm/index.jsx
  client/app/bundles/course/material/folders/components/misc/MultipleFileInput.tsx
Due: frontend

feat: add `current_decoded_token` helper
  app/channels/concerns/application_cable_authentication_concern.rb
  app/controllers/concerns/application_authentication_concern.rb
Due: backend

chore(readme): update README
  README.md
  authentication/README.md
Due: none

fix(cikgo): don't crash when Cikgo is uncontactable
  app/models/course/story.rb
  app/services/cikgo/chats_service.rb
Due: backend

feat(statistics/student): add Open in Mission Control
  app/controllers/course/stories/stories_controller.rb
  app/views/course/statistics/aggregate/all_students.json.jbuilder
  client/app/api/course/Stories.ts
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/StudentStatisticsTable.tsx
  client/app/bundles/course/statistics/types.ts
  client/app/bundles/course/stories/pages/MissionControlPage.tsx
Due: frontend, backend

feat(stories): clarify error page intent
  client/app/bundles/course/stories/components/CikgoErrorPage.tsx
Due: frontend

fix(personalized-timelines): standardized badge behavior
  app/views/course/assessment/assessments/index.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentsIndex/AssessmentsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/StatusBadges.tsx
  client/app/bundles/course/video/components/misc/VideoBadges.tsx
  client/app/lib/components/extensions/PersonalTimeBooleanIcon.tsx
  client/app/types/course/assessment/assessments.ts
Due: frontend, backend

style(personalized-timelines): linting fixes
  client/app/bundles/course/assessment/pages/AssessmentsIndex/AssessmentsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/StatusBadges.tsx
  client/app/lib/components/extensions/PersonalTimeBooleanIcon.tsx
  client/app/types/course/assessment/assessments.ts
Due: frontend

style(personalized-timelines): fix eslint/prettier nags
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/bundles/course/admin/pages/StoriesSettings/index.tsx
  client/app/lib/components/extensions/PersonalTimeBooleanIcon.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
