Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(redux store): create utility functions to support new redux framework
  client/app/utilities/store.ts
Due: frontend

feat(achievement award): create achievement award react page in typescript
  client/app/bundles/course/achievement/components/buttons/AwardButton.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardManager.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardSummary.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/index.tsx
Due: frontend

feat(achievement management button): create achievement management button component
  client/app/bundles/course/achievement/components/buttons/AchievementManagementButtons.tsx
Due: frontend

feat(achievement routes and controller): refactor achievement routes and controller to support full react frontend
  app/controllers/course/achievement/achievements_controller.rb
  config/routes.rb
Due: backend

feat(achievement types): create general frontend and achievement specific types for react typescript
  client/app/types/course/achievements.ts
  client/app/types/course/conditions.ts
  client/app/types/course/course_users.ts
  client/app/types/index.ts
  client/app/types/store.ts
Due: frontend

chore: fix naming imports
  client/app/bundles/course/achievement/actions.ts
  client/app/bundles/course/achievement/reducers.ts
Due: frontend

feat(achievement new): create achievement new react page in typescript
  client/app/bundles/course/achievement/components/forms/AchievementForm.tsx
  client/app/bundles/course/achievement/pages/AchievementNew/index.tsx
Due: frontend

feat(achievement edit): create achievement edit react page in typescript
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/lib/components/course/ConditionList/index.jsx
Due: frontend

feat(url helpers): add achievement url helper
  client/app/lib/helpers/url-helpers.js
Due: frontend

chore(achievement redux): set up new redux architecture for achievement module
  client/app/bundles/course/achievement/actions.ts
  client/app/bundles/course/achievement/operations.ts
  client/app/bundles/course/achievement/reducers.ts
  client/app/bundles/course/achievement/selectors.ts
  client/app/bundles/course/achievement/store.ts
  client/app/bundles/course/achievement/types.ts
Due: frontend

feat(achievement show): create achievement show react page in typescript
  app/helpers/application_formatters_helper.rb
  app/views/course/achievement/achievements/_achievement_data.json.jbuilder
  app/views/course/achievement/achievements/show.json.jbuilder
  app/views/course/condition/_condition_data.json.jbuilder
  client/app/bundles/course/achievement/pages/AchievementShow/index.tsx
Due: frontend, backend

feat(default timeline): add default timeline algorithm in course settings
  app/controllers/course/admin/admin_controller.rb
  app/controllers/course/enrol_requests_controller.rb
  app/controllers/course/user_invitations_controller.rb
  app/models/course.rb
  app/models/course/user_invitation.rb
  app/models/course_user.rb
  app/models/user.rb
  app/services/course/user_registration_service.rb
  app/views/course/admin/admin/index.html.slim
  client/app/bundles/course/admin/admin.js
  config/locales/en/course/admin/admin.yml
  config/locales/en/course/users.yml
  db/migrate/20220519015535_add_default_timeline_algorithm_to_course.rb
  db/migrate/20220519055836_add_timeline_algorithm_to_user_invitation.rb
  db/schema.rb
  spec/factories/courses.rb
  spec/models/course_spec.rb
  spec/models/course_user_spec.rb
Due: frontend, backend

feat(default timeline algorithm): set default timeline algorithm for existing instance users when enrolled in a course
  app/services/concerns/course/user_invitation_service/process_invitation_concern.rb
  spec/services/course/user_invitation_service_spec.rb
Due: backend

refactor(default timeline): address comments
  app/controllers/course/enrol_requests_controller.rb
  app/models/course.rb
  app/models/course_user.rb
  app/models/user.rb
  spec/services/course/user_registration_service_spec.rb
Due: backend

test(default timeline): add for user registration and enrolment
  spec/services/course/user_registration_service_spec.rb
Due: none

test: add course user default timeline algorithm for course user enrolment
  spec/features/course/enrol_request_management_spec.rb
Due: none

refactor(editor): change slicing to within component itself
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.jsx
  client/app/bundles/course/assessment/submission/containers/ReadOnlyEditor.jsx
Due: frontend

refactor(comment): shift comment lines by 1 in comment section
  app/helpers/course/discussion/topics_helper.rb
  client/app/bundles/course/assessment/submission/containers/ReadOnlyEditor.jsx
Due: frontend, backend

refactor(editor): remove div wrapper in line count in read-only editor
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.jsx
Due: frontend

refactor(comment): add line to comment section with rails
  app/helpers/course/discussion/topics_helper.rb
  app/models/course/assessment/answer/programming_file.rb
  client/app/bundles/course/assessment/submission/containers/ReadOnlyEditor.jsx
Due: frontend, backend

refactor(comment): add comment on why one line is added
  app/helpers/course/discussion/topics_helper.rb
Due: backend

fix merge conflicts
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
Due: frontend

refactor(surveybar): update to destructure props
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
Due: frontend

refactor(surveybar): fix linting issues
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
Due: frontend

feat(Page Header component): create page header component in typescript
  client/app/lib/components/TitleBar.jsx
  client/app/lib/components/pages/PageHeader.tsx
Due: frontend

chore(tsconfig): make tsconfig and eslint stricter and fix lint
  app/controllers/concerns/application_multitenancy_concern.rb
  client/.eslintrc.js
  client/app/api/course/Achievements.ts
  client/app/bundles/course/achievement/components/buttons/AchievementManagementButtons.tsx
  client/app/bundles/course/achievement/components/buttons/AwardButton.tsx
  client/app/bundles/course/achievement/components/forms/AchievementForm.tsx
  client/app/bundles/course/achievement/components/misc/AchievementReordering.tsx
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/achievement/operations.ts
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardManager.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardSummary.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/index.tsx
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/bundles/course/achievement/pages/AchievementNew/index.tsx
  client/app/bundles/course/achievement/pages/AchievementShow/index.tsx
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/bundles/course/achievement/selectors.ts
  client/app/bundles/course/achievement/store.ts
  client/app/lib/components/LoadingIndicator.tsx
  client/app/lib/components/buttons/DeleteButton.tsx
  client/app/lib/components/buttons/EditButton.tsx
  client/app/lib/components/pages/PageHeader.tsx
  client/app/types/components/DataTable.ts
  client/app/types/store.ts
  client/app/utilities/store.ts
  client/tsconfig.json
Due: frontend, backend

feat(achievement react): set up front end react router and API for achievement pages
  client/app/api/course/Achievements.ts
  client/app/bundles/course/achievement/index.tsx
Due: frontend

test(achievement refactoring): fix tests
  app/helpers/course/achievement/controller_helper.rb
  spec/controllers/course/achievement/achievements_controller_spec.rb
  spec/features/course/achievement_listing_spec.rb
  spec/features/course/achievement_management_spec.rb
  spec/helpers/course/achievement/controller_helper_spec.rb
Due: backend

feat(achievement index): create achievement index react page in typescript
  app/views/course/achievement/achievements/_achievement_list_data.json.jbuilder
  app/views/course/achievement/achievements/index.json.jbuilder
  app/views/course/condition/_condition_list_data.json.jbuilder
  client/app/bundles/course/achievement/components/misc/AchievementReordering.tsx
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
Due: frontend, backend

fix(spec job): increase tries and wait time for job waiting in rspec
  spec/support/active_job.rb
Due: none

fix(group): fix some typos and move note component to lib component
  client/app/bundles/course/group/pages/GroupIndex/index.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManagerList.jsx
  client/app/bundles/course/group/pages/GroupShow/index.jsx
  client/app/lib/components/Note.jsx
Due: frontend

refactor(achievement operations): refactor ui related code
  client/app/bundles/course/achievement/components/buttons/AchievementManagementButtons.tsx
  client/app/bundles/course/achievement/operations.ts
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardManager.tsx
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/bundles/course/achievement/pages/AchievementNew/index.tsx
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/bundles/course/assessment/actions.js
  client/app/bundles/course/assessment/question/scribing/actions/scribingQuestionActionCreators.jsx
  client/app/bundles/course/duplication/actions.js
  client/app/bundles/course/group/actions/categories.js
  client/app/bundles/course/group/actions/groups.js
  client/app/bundles/course/lesson-plan/actions.jsx
  client/app/bundles/course/survey/actions/questions.js
  client/app/bundles/course/survey/actions/responses.js
  client/app/bundles/course/survey/actions/sections.jsx
  client/app/bundles/course/survey/actions/surveys.js
  client/app/lib/helpers/react-hook-form-helper.js
Due: frontend

feat(loading indicator): rewrite component in typescript
  client/app/lib/components/LoadingIndicator.tsx
Due: frontend

feat(button components): create lib edit and delete button components
  client/app/lib/components/buttons/DeleteButton.tsx
  client/app/lib/components/buttons/EditButton.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
