Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(forum post select): fix wrong response key when fetching selected post packs
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPostSelect.jsx
Due: frontend

feat (learning map): add extra div with white background behind node so that arrows do not overlap with translucent nodes in the student view
  client/app/bundles/course/learning-map/components/Node/index.jsx
Due: frontend

style (learning map): fix rubocop errors in learning map ability component model
  app/models/components/course/learning_map_ability_component.rb
Due: backend

style (learning map): fix rubocop issues in learning map controller
  app/controllers/course/learning_map_controller.rb
Due: backend

fix: fix regression with otot strategy
  app/controllers/concerns/course/lesson_plan/strategies/otot_personalization_strategy.rb
Due: backend

feat(survey email reminder): add include phantom filter when sending email reminder
  app/controllers/course/survey/surveys_controller.rb
  app/services/course/survey/reminder_service.rb
  client/app/api/course/Survey/Surveys.js
  client/app/bundles/course/survey/actions/surveys.js
  client/app/bundles/course/survey/pages/ResponseIndex/RemindButton.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
  spec/services/course/survey/reminder_service_spec.rb
Due: frontend, backend

feat (survey conditions): add references self and acyclic dependency constraints to survey conditions
  app/models/course/condition/survey.rb
Due: backend

feat (survey conditions): update error messages for survey conditions
  config/locales/en/activerecord/course/condition/survey.yml
Due: none

feat (video conditions): update error messages for video conditions
  config/locales/en/activerecord/course/condition/video.yml
Due: none

chore (tagging framework): update db schema file to remove merge conflict messages
  db/schema.rb
Due: none

chore(deps): fix html pipeline version upgrade regression
  app/helpers/application_html_formatters_helper.rb
Due: backend

fix(survey response): update email reminder button message
  client/app/bundles/course/survey/pages/ResponseIndex/RemindButton.jsx
Due: frontend

feat (learning map): make learning map take up the entire width of the screen without getting cut off for smaller maps
  client/app/bundles/course/learning-map/containers/Canvas/index.jsx
Due: frontend

refactor (learning map view): refactor learning map view components to be compatible with MUI5 and add react-intl to the zoom action elements component
  client/app/bundles/course/learning-map/components/Gate/index.jsx
  client/app/bundles/course/learning-map/components/Node/index.jsx
  client/app/bundles/course/learning-map/components/NodeMenu/index.jsx
  client/app/bundles/course/learning-map/components/UnlockRateDisplay/index.jsx
  client/app/bundles/course/learning-map/components/ZoomActionElements/index.jsx
  client/app/bundles/course/learning-map/containers/ArrowOverlay/index.jsx
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
  client/app/bundles/course/learning-map/translations.intl.js
Due: frontend

refactor (learning map dashboard): add react-intl and proptypes to learning map dashboard
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
Due: frontend

refactor (learning map dashboard): add additional proptypes to learning map dashboard
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
Due: frontend

style (learning map dashboard): add newline to learning map dashboard
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
Due: frontend

refactor (learning map): add proptypes to learning map gate to node arrows component
  client/app/bundles/course/learning-map/containers/GateToNodeArrows/index.jsx
Due: frontend

chore (learning map): add proptypes to learning map component
  client/app/bundles/course/learning-map/containers/LearningMap/index.jsx
Due: frontend

chore (learning map): add proptypes to learning map levels component
  client/app/bundles/course/learning-map/containers/Levels/index.jsx
Due: frontend

chore (learning map): add prop types to node to gate arrows component
  client/app/bundles/course/learning-map/containers/NodeToGateArrows/index.jsx
Due: frontend

style (learning map): add newlines to multi-element import statements in learning map canvas component
  client/app/bundles/course/learning-map/containers/Canvas/index.jsx
Due: frontend

chore (learning map): add proptypes to learning map arrow overlay component
  client/app/bundles/course/learning-map/containers/ArrowOverlay/index.jsx
Due: frontend

chore (learning map): add proptypes import to learning map arrow overlay component
  client/app/bundles/course/learning-map/containers/ArrowOverlay/index.jsx
Due: frontend

chore (learning map): add proptypes to zoom action elements component
  client/app/bundles/course/learning-map/components/ZoomActionElements/index.jsx
Due: frontend

chore (learning map): add proptypes and react-intl to learning map unlock rate display component
  client/app/bundles/course/learning-map/components/UnlockRateDisplay/index.jsx
Due: frontend

chore (learning map): add proptypes import to learning map unlock rate display component
  client/app/bundles/course/learning-map/components/UnlockRateDisplay/index.jsx
Due: frontend

feat (learning map): add proptypes definitions
  client/app/bundles/course/learning-map/propTypes.js
Due: frontend

chore (learning map): reorder declarations in learning map proptypes
  client/app/bundles/course/learning-map/propTypes.js
Due: frontend

chore (learning map): add proptypes and react-intl to learning map node menu component
  client/app/bundles/course/learning-map/components/NodeMenu/index.jsx
Due: frontend

chore (learning map): fix proptypes inconsistencies
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
  client/app/bundles/course/learning-map/containers/GateToNodeArrows/index.jsx
  client/app/bundles/course/learning-map/containers/Levels/index.jsx
  client/app/bundles/course/learning-map/containers/NodeToGateArrows/index.jsx
  client/app/bundles/course/learning-map/propTypes.js
Due: frontend

chore (learning map): add proptypes and react-intl to learning map node component
  client/app/bundles/course/learning-map/components/Node/index.jsx
Due: frontend

chore (learning map): add proptypes and react-intl to learning map gate component
  client/app/bundles/course/learning-map/components/Gate/index.jsx
Due: frontend

chore (learning map): fix proptypes typo in learning map gate component
  client/app/bundles/course/learning-map/components/Gate/index.jsx
Due: frontend

chore (learning map): add proptypes to learning map connection point component
  client/app/bundles/course/learning-map/components/ConnectionPoint/index.jsx
Due: frontend

refactor (learning map): move satisfiability type declarations into constants file
  client/app/bundles/course/learning-map/constants.js
Due: frontend

chore (learning map): add react-intl translations file
  client/app/bundles/course/learning-map/translations.intl.js
Due: frontend

feat (learning map): remove gates from learning map nodes at depth 0
  client/app/bundles/course/learning-map/containers/GateToNodeArrows/index.jsx
  client/app/bundles/course/learning-map/containers/Levels/index.jsx
Due: frontend

feat(duplication history): add duplication traceable tables
  db/migrate/20220307174407_add_duplication_traceable.rb
  db/schema.rb
Due: none

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
