Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor assessment statistics
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionStatusChart.tsx
  client/app/lib/components/core/BarChart.jsx
Due: frontend

feat(answer_stats): implement programming answer view
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/CodaveriFeedbackStatus.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/FileContent.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/TestCaseRow.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/TestCases.tsx
  client/app/types/course/statistics/answer.ts
Due: frontend, backend

feat(answer_stats): implement forum answer view
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseComponent/ParentPostPack.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseComponent/PostContent.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseComponent/PostPack.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseDetails.tsx
Due: frontend

refactor(stats): change in attempting
  app/controllers/concerns/course/statistics/counts_concern.rb
  app/controllers/concerns/course/statistics/grades_concern.rb
  app/controllers/course/statistics/aggregate_controller.rb
  app/views/course/statistics/aggregate/all_assessments.json.jbuilder
  client/app/bundles/course/statistics/pages/StatisticsIndex/assessments/AssessmentsStatisticsTable.tsx
  client/app/bundles/course/statistics/types.ts
Due: frontend, backend

feat(assessment_statistics): provide page and API
  app/controllers/concerns/course/statistics/counts_concern.rb
  app/controllers/concerns/course/statistics/grades_concern.rb
  app/controllers/concerns/course/statistics/reference_times_concern.rb
  app/controllers/concerns/course/statistics/statistics_concern.rb
  app/controllers/concerns/course/statistics/times_concern.rb
  app/controllers/course/statistics/aggregate_controller.rb
  app/models/course/assessment.rb
  app/views/course/statistics/aggregate/all_assessments.json.jbuilder
  client/app/api/course/Statistics/CourseStatistics.js
  client/app/bundles/course/statistics/operations.ts
  client/app/bundles/course/statistics/pages/StatisticsIndex/StatisticsTabs.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/assessments/AssessmentsStatistics.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/assessments/AssessmentsStatisticsTable.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/staff/StaffStatisticsTable.tsx
  client/app/bundles/course/statistics/types.ts
  client/app/lib/helpers/url-builders.js
  client/app/routers/AuthenticatedApp.tsx
  config/routes.rb
Due: frontend, backend

fix(style): numLate before numAttempting
  app/controllers/concerns/course/statistics/counts_concern.rb
  app/controllers/concerns/course/statistics/grades_concern.rb
  app/controllers/concerns/course/statistics/statistics_concern.rb
  app/controllers/concerns/course/statistics/times_concern.rb
  app/controllers/course/statistics/aggregate_controller.rb
  app/views/course/statistics/aggregate/all_assessments.json.jbuilder
  client/app/bundles/course/statistics/pages/StatisticsIndex/assessments/AssessmentsStatisticsTable.tsx
Due: frontend, backend

feat(api): add API for course stats assessment
  app/controllers/concerns/course/statistics/counts_concern.rb
  client/app/api/course/Statistics/CourseStatistics.ts
  spec/controllers/course/statistics/aggregate_controller_spec.rb
Due: frontend, backend

test(assessment): test for course stats assessment
  spec/controllers/course/statistics/aggregate_controller_spec.rb
Due: none

fix(stats): remove statisticsTabs since unused
  app/models/course/assessment.rb
  client/app/api/course/Statistics/CourseStatistics.js
  client/app/bundles/course/statistics/pages/StatisticsIndex/StatisticsTabs.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/index.tsx
Due: frontend, backend

feat(statistics): add comment and link to past answers
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/all_answers.json.jbuilder
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttempts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/Comment.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LastAttempt.tsx
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAnswers.tsx
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAttempts.tsx
  client/app/lib/helpers/url-builders.js
  client/app/routers/AuthenticatedApp.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

refactor(test-cases): refurnish test cases indicator chip
  app/controllers/course/statistics/answers_controller.rb
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/TestCases.tsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
Due: frontend, backend

refactor(statistics): minor refactoring
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttempts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LastAttempt.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/lib/helpers/url-builders.js
  client/app/lib/helpers/url-helpers.js
  client/app/theme/palette.js
Due: frontend

fix(attempt_count): count only graded answers
  app/controllers/concerns/course/statistics/submissions_concern.rb
Due: backend

feat(past_answers): page for all past answers - per submission question id
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/_answer.json.jbuilder
  app/views/course/statistics/answers/all_answers.json.jbuilder
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/api/course/Statistics/AllAnswerStatistics.ts
  client/app/api/course/Statistics/index.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAnswers.tsx
  client/app/routers/AuthenticatedApp.tsx
  config/routes.rb
Due: frontend, backend

refactor(statistics): emphasis on type name (display details)
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/FileUploadDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/MultipleChoiceDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/MultipleResponseDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/TextResponseDetails.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend

test(stats_answer): modify answers controller spec
  spec/controllers/course/statistics/answers_controller_spec.rb
Due: none

fix(sidebar): setting chip name not updated on save
  app/controllers/components/course/discussion/topics_component.rb
  app/controllers/components/course/materials_component.rb
Due: backend

fix(programming): replace all python editor tabs with spaces
  client/app/lib/components/core/fields/EditorField.tsx
Due: frontend

fix(codaveri-live-feedback): toggle change no longer triggers regrade
  client/app/bundles/course/assessment/question/programming/commons/validation.ts
Due: frontend

fix(title): title on page must depend on settings
  app/views/course/announcements/index.json.jbuilder
  app/views/course/discussion/topics/index.json.jbuilder
  app/views/course/forum/forums/index.json.jbuilder
  app/views/course/leaderboards/index.json.jbuilder
  app/views/course/video/videos/index.json.jbuilder
  client/app/api/course/Forum/Forums.ts
  client/app/api/course/Video/Videos.ts
  client/app/bundles/course/announcements/operations.ts
  client/app/bundles/course/announcements/pages/AnnouncementsIndex/index.tsx
  client/app/bundles/course/announcements/selectors.ts
  client/app/bundles/course/announcements/store.ts
  client/app/bundles/course/announcements/types.ts
  client/app/bundles/course/discussion/topics/pages/CommentIndex/index.tsx
  client/app/bundles/course/forum/pages/ForumsIndex/index.tsx
  client/app/bundles/course/forum/selectors.ts
  client/app/bundles/course/forum/store.ts
  client/app/bundles/course/forum/types.ts
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/bundles/course/video/pages/VideosIndex/index.tsx
  client/app/bundles/course/video/selectors.ts
  client/app/bundles/course/video/store.ts
  client/app/bundles/course/video/types.ts
  client/app/types/course/announcements.ts
Due: frontend, backend

html encode all newlines in XML report
  lib/autoload/course/assessment/java/java_programming_test_case_report.rb
  lib/autoload/course/assessment/programming_test_case_report.rb
Due: backend

fix(tabs): default tab should not be always 0
  client/app/bundles/course/statistics/pages/StatisticsIndex/index.tsx
Due: frontend

fix(breadcrumb): fix title in breadcrumbs
  client/app/bundles/course/announcements/handles.ts
  client/app/bundles/course/announcements/pages/AnnouncementsIndex/index.tsx
  client/app/bundles/course/discussion/topics/handles.ts
  client/app/bundles/course/discussion/topics/pages/CommentIndex/index.tsx
  client/app/bundles/course/forum/handles.ts
  client/app/bundles/course/forum/pages/ForumsIndex/index.tsx
  client/app/bundles/course/leaderboard/handles.ts
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/routers/AuthenticatedApp.tsx
Due: frontend

refactor(stats): simplify SQL for assessment stats
  app/controllers/concerns/course/statistics/counts_concern.rb
  app/controllers/concerns/course/statistics/grades_concern.rb
  app/controllers/concerns/course/statistics/statistics_concern.rb
  app/controllers/concerns/course/statistics/times_concern.rb
  app/controllers/course/statistics/aggregate_controller.rb
  spec/controllers/course/statistics/aggregate_controller_spec.rb
Due: backend

fix(test): adjust duplication test and remove source courses list
  app/controllers/course/object_duplications_controller.rb
  app/views/course/object_duplications/new.json.jbuilder
  client/app/api/course/Duplication.js
  client/app/bundles/course/duplication/components/CourseDropdownMenu.tsx
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/index.tsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelectorMenu/index.tsx
  spec/features/course/duplication_spec.rb
Due: frontend, backend

fix(duplication): keep form value when duplicating
  client/app/bundles/course/duplication/operations.js
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/index.tsx
  client/app/bundles/course/duplication/store.js
Due: frontend

force FE redirect to base domain 404 on InstanceNotFoundError
  app/controllers/concerns/application_controller_multitenancy_concern.rb
  app/controllers/concerns/application_multitenancy.rb
  client/app/api/ErrorHandling.ts
  client/app/lib/hooks/router/redirect.tsx
  lib/autoload/instance_not_found_error.rb
Due: frontend, backend

fix(test): adjust duplication test and remove source courses list
  app/controllers/course/object_duplications_controller.rb
  app/views/course/object_duplications/data.json.jbuilder
  app/views/course/object_duplications/new.json.jbuilder
  client/app/api/course/Duplication.js
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelectorMenu/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/index.jsx
  spec/features/course/duplication_spec.rb
Due: frontend, backend

refactor(duplication): remove source course
  app/controllers/course/courses_controller.rb
  app/controllers/course/object_duplications_controller.rb
  client/app/api/course/Duplication.js
  client/app/bundles/course/duplication/constants.js
  client/app/bundles/course/duplication/operations.js
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/InstanceDropdown.tsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateButton.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/AchievementsSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/AssessmentsSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/MaterialsSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/SurveysSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/VideosSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/index.jsx
  client/app/bundles/course/duplication/store.js
  client/locales/en.json
  client/locales/zh.json
  config/routes.rb
Due: frontend, backend

fix(EditorField): tabs reappear when undoing pasted texts with tabs
  client/app/lib/components/core/fields/EditorField.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
