Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(statistics): display answer for some question types
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AttachmentDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/FileUploadDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/MultipleChoiceDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/MultipleResponseDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/TextResponseDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay.tsx
Due: frontend, backend

refactor(statistics page): cancel -> close in answer details box
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
Due: frontend

fix(translations): fix naming inconsistencies
  client/locales/en.json
  client/locales/zh.json
Due: none

fix(statistics): pass id of last attempt answer to FE
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/_answer.json.jbuilder
  app/views/course/statistics/assessments/_attempt_status.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse/index.jsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

feat(answer_stats): implement forum answer view
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseComponent/ParentPostPack.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseComponent/PostContent.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseComponent/PostPack.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseDetails.tsx
Due: frontend

feat(answer_stats): implement programming answer view
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/CodaveriFeedbackStatus.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/FileContent.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/TestCaseRow.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/TestCases.tsx
  client/app/types/course/statistics/answer.ts
Due: frontend, backend

feat(codaveri-qns-generation): implemented question generation page
  app/controllers/course/assessment/question/programming_controller.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/question/programming.rb
  app/services/codaveri_async_api_service.rb
  app/services/course/assessment/question/codaveri_problem_generation_service.rb
  app/views/course/assessment/assessments/show.json.jbuilder
  app/views/course/assessment/question/programming/_response.json.jbuilder
  client/app/api/course/Assessment/Question/Programming.ts
  client/app/bundles/course/assessment/handles.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateConversation.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateExportDialog.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateProgrammingQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateQuestionPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateTabs.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/selectors.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/types.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/utils.ts
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowPage.tsx
  client/app/bundles/course/assessment/question/programming/commons/builder.ts
  client/app/bundles/course/assessment/question/programming/operations.ts
  client/app/bundles/course/assessment/reducers/generation.ts
  client/app/bundles/course/assessment/store.ts
  client/app/routers/AuthenticatedApp.tsx
  client/app/types/course/assessment/assessments.ts
  client/app/types/course/assessment/question-generation.ts
  client/app/types/course/assessment/question/programming.ts
  config/routes.rb
Due: frontend, backend

style(codaveri-qns-generation): address rubocop, made text translateable
  app/controllers/course/assessment/question/programming_controller.rb
  app/services/codaveri_async_api_service.rb
  app/services/course/assessment/question/codaveri_problem_generation_service.rb
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateConversation.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateExportDialog.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateProgrammingQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateQuestionPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateTabs.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowPage.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend, backend

fix(live_monitoring_channel): crash when loading deleted course users
  app/channels/course/monitoring/live_monitoring_channel.rb
Due: backend

feat(PulseGrid): add "connecting" state to ConnectionStatus
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ConnectionStatus.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/useMonitoring.ts
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/types.ts
  client/app/bundles/course/assessment/reducers/monitoring.ts
  client/app/bundles/course/assessment/translations.ts
Due: frontend

fix(monitoring): `localStorage` doesn't exist in worker contexts
  client/app/workers/listeners.ts
  client/app/workers/types.ts
  client/app/workers/withHeartbeatWorker.tsx
Due: frontend

fix(monitor): duplicate monitors when duplicating assessments
  app/models/course/assessment.rb
  app/models/course/monitoring/monitor.rb
Due: backend

feat(programming): disable adding comments in answer details
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/FileContent.tsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideEditor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/index.jsx
  client/app/bundles/course/assessment/submission/containers/ReadOnlyEditor.jsx
Due: frontend

fix(codaveri-qns-generation): fix admin codaveri settings, amend test case
  app/views/course/admin/codaveri_settings/edit.json.jbuilder
  spec/controllers/course/admin/codaveri_settings_controller_spec.rb
Due: backend

feat(statistics): add comment and link to past answers
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/all_answers.json.jbuilder
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttempts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/Comment.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LastAttempt.tsx
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAnswers.tsx
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAttempts.tsx
  client/app/lib/helpers/url-builders.js
  client/app/routers/AuthenticatedApp.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

feat(past_answers): page for all past answers - per submission question id
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/_answer.json.jbuilder
  app/views/course/statistics/answers/all_answers.json.jbuilder
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/api/course/Statistics/AllAnswerStatistics.ts
  client/app/api/course/Statistics/index.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAnswers.tsx
  client/app/routers/AuthenticatedApp.tsx
  config/routes.rb
Due: frontend, backend

refactor(statistics): minor refactoring
  app/views/course/statistics/assessments/_submission.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttempts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LastAttempt.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/lib/helpers/url-builders.js
  client/app/lib/helpers/url-helpers.js
  client/app/theme/palette.js
Due: frontend, backend

refactor(statistics): emphasis on type name (display details)
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/FileUploadDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/MultipleChoiceDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/MultipleResponseDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/TextResponseDetails.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend

fix(attempt_count): count only graded answers
  app/controllers/concerns/course/statistics/submissions_concern.rb
Due: backend

fix(codaveri-qns-generation): fixes for frontend issues
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateConversation.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateExportDialog.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateProgrammingQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateQuestionPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateTabs.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/types.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/utils.ts
Due: frontend

fix(step): step on non-tabbed scroll to question
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/lib/helpers/url-helpers.js
Due: frontend

refactor(redux): submission state typing
  client/app/bundles/course/assessment/submission/components/answers/types.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/ErrorHelper.tsx
  client/app/bundles/course/assessment/submission/reducers/grading/index.js
  client/app/bundles/course/assessment/submission/selectors/answers.ts
  client/app/bundles/course/assessment/submission/selectors/assessments.ts
  client/app/bundles/course/assessment/submission/selectors/attachments.ts
  client/app/bundles/course/assessment/submission/selectors/codaveriFeedbackStatus.ts
  client/app/bundles/course/assessment/submission/selectors/explanations.ts
  client/app/bundles/course/assessment/submission/selectors/grading.ts
  client/app/bundles/course/assessment/submission/selectors/history.ts
  client/app/bundles/course/assessment/submission/selectors/liveFeedbacks.ts
  client/app/bundles/course/assessment/submission/selectors/questionFlags.ts
  client/app/bundles/course/assessment/submission/selectors/questions.ts
  client/app/bundles/course/assessment/submission/selectors/submissionFlags.ts
  client/app/bundles/course/assessment/submission/selectors/submissions.ts
  client/app/bundles/course/assessment/submission/selectors/topics.ts
  client/app/bundles/course/assessment/submission/types.ts
  client/app/types/course/assessment/submission/question/types.ts
Due: frontend

refactor(answer): support null answerId
  client/app/bundles/course/assessment/submission/components/answers/Answer.tsx
  client/app/bundles/course/assessment/submission/components/answers/AnswerHeader.tsx
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/types.ts
  client/app/bundles/course/assessment/submission/selectors/answerFlags.ts
Due: frontend

refactor(submission): componentize
  client/app/bundles/course/assessment/submission/components/WarningDialog.tsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/AutogradedActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/AutogradingErrorPanel.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/ErrorMessages.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/ExplanationPanel.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/NonAutogradedProgrammingActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/QuestionContent.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/SinglePageQuestions.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/TabbedViewQuestions.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/AutogradeSubmissionButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/ContinueButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/FinaliseButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/LiveFeedbackButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/MarkButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/PublishButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/ReevaluateButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/ResetProgrammingAnswerButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/RunCodeButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/SaveDraftButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/SaveGradeButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/StepperButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/SubmitButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/SubmitEmptyFormButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/UnmarkButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/UnsubmitButton.tsx
  client/app/bundles/course/assessment/submission/reducers/history/types.ts
  client/app/bundles/course/assessment/submission/selectors/history.ts
  client/app/bundles/course/assessment/submission/types.ts
  client/app/types/course/assessment/submission/question/types.ts
Due: frontend

refactor(submission): create SubmissionForm
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEmptyForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
Due: frontend

refactor(constant): poll interval in constant file
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

fix(grade): grade state pointing to old state while autosaving
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/submission/reducers/grading/index.js
Due: frontend

fix(test): wait for grade autosave in spec
  spec/features/course/assessment/submission/password_protected_and_delayed_publishing_spec.rb
Due: none

refactor(submission): refactor SubmissionEmptyForm
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEmptyForm.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend
