Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

chore(liveFeedback): rewrite redux store
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/localStorage/liveFeedbackChat/operations.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/reducers/index.js
  client/app/bundles/course/assessment/submission/reducers/liveFeedback.js
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
  client/app/bundles/course/assessment/submission/selectors/liveFeedbackChats.ts
  client/app/bundles/course/assessment/submission/selectors/liveFeedbacks.ts
  client/app/bundles/course/assessment/submission/types.ts
Due: frontend

feat(liveChat): chat platform for get help
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ChatInputArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ConversationArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/Header.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/LiveFeedbackButton.tsx
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

feat(liveChat): add suggestion chips
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/SuggestionChips.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/index.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
  client/app/bundles/course/assessment/submission/suggestionTranslations.ts
  client/app/bundles/course/assessment/submission/types.ts
Due: frontend

fix(assessment-statistics): rework attempt count page, solving N+1 and other minor issues
  app/controllers/course/statistics/answers_controller.rb
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/answers/_answer.json.jbuilder
  app/views/course/statistics/answers/all_answers.json.jbuilder
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  app/views/course/statistics/answers/show.json.jbuilder
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/api/course/Statistics/AllAnswerStatistics.ts
  client/app/api/course/Statistics/AnswerStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttempts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LastAttempt.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatisticsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/utils.js
  client/app/bundles/course/assessment/submission/components/SubmissionWorkflowState.tsx
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAttempts.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/lib/components/extensions/CustomSlider.tsx
  client/app/routers/AuthenticatedApp.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
  config/routes.rb
  spec/controllers/course/statistics/answers_controller_spec.rb
Due: frontend, backend

fix(i18n): correct locale configuration for Korean and Chinese
  config/locales/ko/activerecord/course/assessment/category.yml
  config/locales/zh/activerecord/course/assessment/category.yml
Due: none

feat(codaveri): support edit/create codaveri question on demand
  app/controllers/course/admin/codaveri_settings_controller.rb
  app/controllers/course/assessment/question/programming_controller.rb
  app/models/course/assessment/question/programming.rb
  app/services/codaveri_async_api_service.rb
  app/services/course/assessment/question/programming_codaveri_service.rb
  db/migrate/20241204104627_add_question_sync_status_with_codaveri.rb
  db/schema.rb
  spec/factories/course_assessment_question_programming.rb
  spec/services/course/assessment/question/programming_codaveri_service_spec.rb
Due: backend

feat(duplication): codaveri qn duplicate on demand
  app/controllers/concerns/course/assessment/question/codaveri_question_concern.rb
  app/models/course/assessment/answer/programming.rb
  app/models/course/assessment/question/programming.rb
  app/services/course/assessment/programming_codaveri_evaluation_service.rb
Due: backend

refactor(admin): pass questionIds to backend
  app/controllers/course/admin/codaveri_settings_controller.rb
  client/app/bundles/course/admin/pages/CodaveriSettings/components/AssessmentCategory.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/components/AssessmentList.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/components/AssessmentListItem.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/components/AssessmentProgrammingQnList.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/components/AssessmentTab.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/components/CodaveriSettingsChip.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/components/buttons/CodaveriEvaluatorToggleButton.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/components/buttons/CodaveriToggleButtons.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/components/buttons/LiveFeedbackToggleButton.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/operations.ts
  client/app/bundles/course/admin/pages/CodaveriSettings/selectors.ts
  client/app/bundles/course/admin/reducers/codaveriSettings.ts
  client/app/types/course/admin/codaveri.ts
  spec/controllers/course/admin/codaveri_settings_controller_spec.rb
Due: frontend, backend

chore(codaveri): upgrade to Codaveri v2.1
  app/controllers/course/assessment/question/programming_controller.rb
  app/services/codaveri_async_api_service.rb
  app/services/course/assessment/answer/programming_codaveri_async_feedback_service.rb
  app/services/course/assessment/answer/programming_codaveri_auto_grading_service.rb
  app/services/course/assessment/programming_codaveri_evaluation_service.rb
  app/services/course/assessment/question/codaveri_problem_generation_service.rb
  app/services/course/assessment/question/programming_codaveri/language_package_service.rb
  app/services/course/assessment/question/programming_codaveri/python/python_package_service.rb
  app/services/course/assessment/question/programming_codaveri_service.rb
  app/services/course/discussion/post/codaveri_feedback_rating_service.rb
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateProgrammingQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/constants.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/utils.ts
  client/app/types/course/assessment/question-generation.ts
  spec/fixtures/course/codaveri/codaveri_problem_management_test.json
Due: frontend, backend

chore(test): add testcase for problem generation
  spec/services/course/assessment/question/codaveri_problem_generation_service_spec.rb
Due: none

fix(mailers): increase email confirmation / password reset mailer priority
  lib/extensions/devise_async_email/devise/models/authenticatable.rb
  spec/models/user/email_spec.rb
  spec/models/user_spec.rb
Due: backend

feat(i18n): update Korean locale messages for frontend
  client/locales/ko.json
Due: none

chore(deps): add libraries required for RAG
  Gemfile
  Gemfile.lock
Due: none

chore(env): add openai api key
  env
Due: none

feat(initialiser): add llm initialiser
  config/initializers/llm_langchain.rb
Due: none

refactor(getHelp): modify API call for chat inquiry
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course/assessment/answer.rb
  app/models/course/assessment/answer/programming.rb
  app/services/course/assessment/answer/live_feedback/feedback_service.rb
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ChatInputArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/SuggestionChips.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
  client/app/bundles/course/assessment/submission/types.ts
Due: frontend, backend

feat(getHelp): threadId on each get help chat page
  app/controllers/concerns/course/assessment/question/codaveri_question_concern.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course/assessment/answer.rb
  app/models/course/assessment/answer/programming.rb
  app/models/course/assessment/assessment_ability.rb
  app/services/course/assessment/answer/live_feedback/thread_service.rb
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ChatInputArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ChipButton.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ConversationArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/Header.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/SuggestionChips.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/index.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  client/app/lib/constants/sharedConstants.ts
  config/routes.rb
Due: frontend, backend

feat(job): reduce priority if job takes too long
  app/jobs/course/assessment/answer/auto_grading_job.rb
  app/jobs/course/assessment/answer/reduce_priority_auto_grading_job.rb
  app/models/course/assessment/answer.rb
  app/models/course/assessment/question.rb
  lib/autoload/priority_should_be_lowered_error.rb
Due: backend

chore(assessment): remove draft programming answer
  app/controllers/course/assessment/assessments_controller.rb
  app/models/course/assessment/answer.rb
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/answers/_answer.json.jbuilder
  app/views/course/assessment/assessments/edit.json.jbuilder
  app/views/course/assessment/assessments/show.json.jbuilder
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
  client/app/bundles/course/assessment/components/AssessmentForm/useFormValidation.tsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/assessment/submission/components/pastAnswers/PastProgrammingAnswer.jsx
  client/app/bundles/course/assessment/submission/containers/PastAnswers.jsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/history/answers.js
  client/app/bundles/course/assessment/submission/reducers/history/types.ts
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/assessments.ts
  client/app/types/course/assessment/submission/answer/answer.ts
  client/locales/en.json
  client/locales/zh.json
  db/migrate/20241129164745_remove_draft_programming_answer_column.rb
  db/schema.rb
  lib/tasks/db/remove_draft_programming_answer.rake
Due: frontend, backend

chore(api): gatekeep timer start at and set test
  app/controllers/course/assessment/submission/submissions_controller.rb
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
Due: frontend, backend

feat(timed_assessment): further improvement
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/jobs/course/assessment/submission/force_submit_timed_submission_job.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/submission.rb
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  app/views/course/assessment/submission/submissions/index.json.jbuilder
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/WarningDialog.tsx
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/RemainingTimeTranslations.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/translations.js
  client/app/bundles/course/assessment/submission/reducers/submission.js
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  config/routes.rb
  db/migrate/20240911133816_add_timer_start_at_for_submission.rb
  db/schema.rb
Due: frontend, backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
