Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

style(api): `_baseUrlPrefix` -> `#baseUrlPrefix`
  client/app/api/course/Courses.ts
  client/app/api/course/EnrolRequests.ts
  client/app/api/course/ExperiencePointsRecord.ts
  client/app/api/course/PersonalTimes.ts
  client/app/api/course/UserInvitations.ts
  client/app/api/course/Users.ts
Due: frontend

feat(material download): allow preview of downloaded material in browser
  app/controllers/course/material/materials_controller.rb
  app/helpers/course/controller_helper.rb
  app/uploaders/file_uploader.rb
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  app/views/course/material/_material.json.jbuilder
  app/views/course/material/folders/show.json.jbuilder
  app/views/layouts/_materials.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/Material.jsx
Due: frontend, backend

test(multiple_response_management): rewrite skipped flaky tests
  spec/features/course/assessment/question/multiple_response_management_spec.rb
Due: none

test(duplication_tracing): add duplication test for lesson plan items
  app/models/course/assessment/question/programming.rb
  app/services/course/assessment/programming_codaveri_evaluation_service.rb
  app/services/course/assessment/question/programming_import_service.rb
  lib/autoload/duplicator.rb
  spec/factories/duplication_traceable_lesson_plan_items.rb
  spec/models/course/assessment_spec.rb
  spec/models/course/lesson_plan/lesson_plan_item_spec.rb
  spec/models/duplication_traceable/lesson_plan_item_spec.rb
Due: backend

fix(misc): revert all codes from programming time limit due to error while resolving conflict during rebase
  app/models/course/assessment/question/programming.rb
  app/services/course/assessment/programming_codaveri_evaluation_service.rb
  app/services/course/assessment/programming_evaluation_service.rb
  app/services/course/assessment/question/programming_import_service.rb
Due: backend

feat(checkbox): label size follows checkbox's size
  client/app/lib/components/core/buttons/Checkbox.tsx
Due: frontend

feat(multiple_responses): add react new/edit pages
  client/app/bundles/course/assessment/question/components/SkillsAutocomplete.tsx
  client/app/bundles/course/assessment/question/multiple-responses.js
  client/app/bundles/course/assessment/question/multiple-responses.tsx
  client/app/bundles/course/assessment/question/multiple-responses/EditMcqMrqPage.tsx
  client/app/bundles/course/assessment/question/multiple-responses/NewMcqMrqPage.tsx
  client/app/bundles/course/assessment/question/multiple-responses/common/translationAdapter.tsx
  client/app/bundles/course/assessment/question/multiple-responses/common/useDirty.ts
  client/app/bundles/course/assessment/question/multiple-responses/common/validations.ts
  client/app/bundles/course/assessment/question/multiple-responses/components/AdaptedForm.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/ConvertMcqMrqIllustration/McqIllustration.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/ConvertMcqMrqIllustration/MrqIllustration.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/ConvertMcqMrqIllustration/OptionSkeleton.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/ConvertMcqMrqIllustration/index.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/McqMrqForm.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/Option.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/OptionsManager.tsx
  client/app/bundles/course/assessment/question/multiple-responses/operations.ts
  client/app/bundles/course/assessment/translations.ts
Due: frontend

style(api): use getter syntax for `getCourseUserId()`
  client/app/api/course/Base.js
  client/app/api/course/ExperiencePointsRecord.ts
  client/app/api/course/UserEmailSubscriptions.js
  client/app/api/course/VideoSubmissions.ts
Due: frontend

fix(mcqwidget): do not render show/hide options if no options
  client/app/bundles/course/assessment/pages/AssessmentShow/McqWidget.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend

feat(multiple_responses): #new, #edit respond to json
  app/controllers/course/assessment/question/multiple_responses_controller.rb
  app/views/course/assessment/question/_form.json.jbuilder
  app/views/course/assessment/question/_skills.json.jbuilder
  app/views/course/assessment/question/multiple_responses/_form.json.jbuilder
  app/views/course/assessment/question/multiple_responses/_multiple_response_details.json.jbuilder
  app/views/course/assessment/question/multiple_responses/edit.html.slim
  app/views/course/assessment/question/multiple_responses/edit.json.jbuilder
  app/views/course/assessment/question/multiple_responses/new.html.slim
  app/views/course/assessment/question/multiple_responses/new.json.jbuilder
  app/views/course/question_assessments/_question_assessment.json.jbuilder
Due: backend

fix(mcqwidget): convert prompt shows default title if title blank
  client/app/bundles/course/assessment/pages/AssessmentShow/prompts/ConvertMcqMrqPrompt.tsx
Due: frontend

feat(mcqform): validate ≥1 correct choice when `!skipGrading`
  client/app/bundles/course/assessment/question/multiple-responses/common/validations.ts
  client/app/bundles/course/assessment/question/multiple-responses/components/McqMrqForm.tsx
Due: frontend

feat(usetranslation): supports interpolating chunks
  client/app/lib/hooks/useTranslation.ts
Due: frontend

test(multiple_response_management): adapt to new ui
  spec/features/course/assessment/question/multiple_response_management_spec.rb
Due: none

feat(usetoggle): deprecate usetoggle
  client/app/bundles/course/assessment/pages/AssessmentShow/McqWidget.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/NewQuestionMenu.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/Question.tsx
  client/app/bundles/user/AccountSettings/AccountSettingsForm.tsx
  client/app/bundles/user/components/AddEmailSubsection.tsx
  client/app/lib/components/core/AvatarSelector.tsx
  client/app/lib/components/core/dialogs/ImageCropDialog.tsx
  client/app/lib/components/extensions/conditions/ConditionRow.tsx
  client/app/lib/components/extensions/conditions/ConditionsManager.tsx
  client/app/lib/components/wrappers/Preload.tsx
  client/app/lib/hooks/useToggle.ts
Due: frontend

refactor(mcqwidget): abstract convert prompt, button
  client/app/bundles/course/assessment/components/ConvertMcqMrqButton/ConvertMcqMrqPrompt.tsx
  client/app/bundles/course/assessment/components/ConvertMcqMrqButton/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/McqWidget.tsx
Due: frontend

test(multiple_response_controller): adapt to json
  spec/controllers/course/assessment/question/multiple_response_controller_spec.rb
Due: none

feat(multiple_responses): remove unused htmls, stylesheets
  app/assets/stylesheets/course/assessment/question/multiple_responses/multiple_responses.scss
  app/views/course/assessment/question/multiple_responses/_form.html.slim
  app/views/course/assessment/question/multiple_responses/_option_fields.html.slim
  app/views/course/assessment/question/multiple_responses/_switch_question_type_button.html.slim
  config/locales/en/course/assessment/question/multiple_responses.yml
  config/locales/zh/course/assessment/question/multiple_responses.yml
Due: backend

style(ckeditorrichtext): `inputId` is now optional
  client/app/lib/components/core/fields/CKEditorRichText.tsx
Due: frontend

feat(multiple_responses): add mcq/mrq api, types
  client/app/api/course/Assessment/Question/McqMrq.ts
  client/app/api/course/Assessment/Question/Programming.js
  client/app/api/course/Assessment/Question/index.ts
  client/app/api/course/Forum/Topics.ts
  client/app/api/types.ts
  client/app/bundles/course/assessment/pages/AssessmentShow/McqWidget.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/Question.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/QuestionsManager.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/prompts/DeleteQuestionButtonPrompt.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/prompts/DuplicationPrompt.tsx
  client/app/bundles/course/forum/operations.ts
  client/app/types/course/assessment/assessments.ts
  client/app/types/course/assessment/multiple-responses.ts
  client/app/types/course/assessment/questions.ts
Due: frontend

feat(confirm-dialog): deprecate confirm-dialog
  client/app/index.js
  client/app/lib/initializers/confirm-dialog.jsx
Due: frontend

feat(usetranslation): exports translated utility
  client/app/lib/hooks/useTranslation.ts
Due: frontend

style(types): move `multiple-responses` to `question` subdir
  client/app/api/course/Assessment/Question/McqMrq.ts
  client/app/bundles/course/assessment/components/ConvertMcqMrqButton/ConvertMcqMrqPrompt.tsx
  client/app/bundles/course/assessment/components/ConvertMcqMrqButton/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/McqWidget.tsx
  client/app/bundles/course/assessment/question/multiple-responses/EditMcqMrqPage.tsx
  client/app/bundles/course/assessment/question/multiple-responses/NewMcqMrqPage.tsx
  client/app/bundles/course/assessment/question/multiple-responses/common/validations.ts
  client/app/bundles/course/assessment/question/multiple-responses/components/McqMrqForm.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/Option.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/OptionsManager.tsx
  client/app/bundles/course/assessment/question/multiple-responses/operations.ts
  client/app/types/course/assessment/question/multiple-responses.ts
Due: frontend

Update README copyright year
  README.md
Due: none

Update LICENCE year
  LICENSE
Due: none

test: fix flaky tests
  spec/jobs/course/assessment/question/programming_import_job_spec.rb
  spec/services/course/assessment/question/programming_codaveri_service_spec.rb
Due: none

fix(codaveri question): remove problem id from codaveri question api payload
  app/services/course/assessment/question/programming_codaveri_service.rb
Due: backend

refactor(annotations): abstract annotation jbuilder
  app/views/course/assessment/answer/programming/_annotations.json.jbuilder
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  app/views/course/assessment/submission/submissions/_topics.json.jbuilder
Due: backend

feat(codaveri component): add is solution required setting to codaveri component
  app/controllers/course/admin/codaveri_settings_controller.rb
  app/models/course/settings/codaveri_component.rb
  app/views/course/admin/codaveri_settings/edit.json.jbuilder
  app/views/course/assessment/question/programming/_question.json.jbuilder
  client/app/bundles/course/admin/pages/CodaveriSettings/CodaveriSettingsForm.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/operations.ts
  client/app/bundles/course/admin/pages/CodaveriSettings/translations.ts
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/OnlineEditorBase.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/Python/OnlineEditorPythonView.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/index.jsx
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
  client/app/types/course/admin/codaveri.ts
  spec/features/course/admin/codaveri_settings_spec.rb
Due: frontend, backend

chore: update eslint
  client/.eslintrc.js
Due: none

refactor(codaveri question): remove solution validation for codaveri question
  app/controllers/course/admin/codaveri_settings_controller.rb
  app/models/course/settings/codaveri_component.rb
  app/views/course/admin/codaveri_settings/edit.json.jbuilder
  app/views/course/assessment/question/programming/_question.json.jbuilder
  client/app/bundles/course/admin/pages/CodaveriSettings/CodaveriSettingsForm.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/operations.ts
  client/app/bundles/course/admin/pages/CodaveriSettings/translations.ts
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/OnlineEditorBase.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/OnlineEditorView.intl.js
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/Python/OnlineEditorPythonView.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/index.jsx
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
  client/app/types/course/admin/codaveri.ts
  client/locales/en.json
  client/locales/zh.json
Due: frontend, backend

refactor(programming package): prevent package reprocessing after just being processed in the programming import service
  app/models/course/assessment/question/programming.rb
  app/services/course/assessment/question/programming_import_service.rb
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
