Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

refactor(job helper): remove exponential backoff polling to constant time polling
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/actions/submissions.js
  client/app/bundles/course/duplication/actions.js
  client/app/bundles/course/material/folders/operations.ts
  client/app/bundles/course/survey/actions/surveys.js
  client/app/lib/helpers/jobHelpers.ts
Due: frontend

refactor(conditions): use `APIResponse` for response type
  client/app/api/course/Conditions.ts
Due: frontend

refactor(referencetimelines): use `APIResponse` for response type
  client/app/api/course/ReferenceTimelines.ts
Due: frontend

fix(folder api): include response type for upload materials
  client/app/api/course/Material/Folders.ts
Due: frontend

refactor(survey): adapt to latest job api and use refactored polling function
  client/app/bundles/course/survey/actions/surveys.js
Due: frontend

refactor(duplication): adapt to latest job api and use refactored polling function
  client/app/api/course/Duplication.js
  client/app/bundles/course/duplication/actions.js
Due: frontend

refactor(job helpers): implement exponential backoff and refactor all affected files
  client/app/api/course/Material/Folders.ts
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/actions/submissions.js
  client/app/bundles/course/duplication/actions.js
  client/app/bundles/course/survey/actions/surveys.js
  client/app/lib/helpers/job-helpers.js
Due: frontend

refactor(submission): adapt to latest job api and use refactored polling function
  client/app/bundles/course/assessment/question/programming/actions/programmingQuestionActionCreators.jsx
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/actions/submissions.js
Due: frontend

refactor(api response type): use void as default data type and remove axiosrequestconfig type
  client/app/api/types.ts
Due: frontend

refactor(polling): refactor job polling function
  client/app/lib/helpers/job-helpers.js
  client/app/lib/helpers/jobHelpers.ts
Due: frontend

refactor: implement exponential backoff for polling job
  client/app/api/course/Material/Folders.ts
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/actions/submissions.js
  client/app/bundles/course/duplication/actions.js
  client/app/bundles/course/survey/actions/surveys.js
  client/app/lib/helpers/job-helpers.js
Due: frontend

test(job): update test
  app/controllers/course/object_duplications_controller.rb
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
  spec/controllers/jobs_controller_spec.rb
  spec/factories/trackable_jobs.rb
  spec/support/active_job.rb
Due: backend

refactor(global api): refactor global API - abstract API response type
  client/app/api/Announcements.ts
  client/app/api/Users.ts
  client/app/api/index.ts
  client/app/api/types.ts
  client/app/bundles/announcements/operations.ts
  client/app/bundles/user/operations.ts
  client/app/bundles/users/operations.ts
Due: frontend

refactor(folder): adapt to latest job api and use refactored polling function
  client/app/api/course/Material/Folders.ts
  client/app/bundles/course/material/folders/components/buttons/DownloadFolderButton.tsx
  client/app/bundles/course/material/folders/operations.ts
Due: frontend

feat(jobs api): add jobs API
  client/app/api/Jobs.ts
  client/app/api/index.ts
  client/app/types/jobs.ts
Due: frontend

refactor(submission filter): remove title
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionFilter.tsx
  client/locales/en.json
  client/locales/zh.json
Due: frontend

refactor(codaveri error): refactor displaying codaveri error
  app/views/course/assessment/question/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/reducers/questionsFlags.js
Due: frontend, backend

refactor(submission): rename redirect_url after password checking to newSessionUrl
  app/controllers/course/assessment/submission/submissions_controller.rb
  client/app/bundles/course/assessment/submission/actions/index.js
Due: frontend, backend

refactor: rename constant names
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/actions/submissions.js
  client/app/bundles/course/duplication/actions.js
  client/app/bundles/course/material/folders/operations.ts
  client/app/bundles/course/survey/actions/surveys.js
Due: frontend

refactor(download link javascript): remove obsolete code
  client/app/bundles/course/statistics.js
  client/app/lib/helpers/initializeDownloadLink.js
Due: frontend

refactor(jobs): render submitted partial API when a job is created
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/controllers/course/duplications_controller.rb
  app/controllers/course/material/folders_controller.rb
  app/controllers/course/object_duplications_controller.rb
  app/controllers/course/survey/surveys_controller.rb
  app/services/course/assessment/submission/update_service.rb
Due: backend

refactor(jobs): refactor jobs API
  app/controllers/jobs_controller.rb
  app/views/jobs/_completed.json.jbuilder
  app/views/jobs/_errored.json.jbuilder
  app/views/jobs/_submitted.json.jbuilder
  app/views/jobs/show.json.jbuilder
Due: backend

chore(locale): extract translations
  client/locales/en.json
Due: none

chore: remove obsolete files
  app/helpers/application_formatters_helper.rb
  app/helpers/application_widgets_helper.rb
  app/helpers/system/admin/admin_helper.rb
  app/helpers/system/admin/announcements_helper.rb
  app/helpers/system/admin/instance/users_helper.rb
  app/helpers/system/admin/users_helper.rb
  app/views/course/assessment/questions/duplicate.js.erb
  spec/helpers/application_formatters_helper_spec.rb
  spec/helpers/system/admin/admin_helper_spec.rb
  spec/helpers/system/admin/announcements_helper_spec.rb
Due: backend

chore: upgrade to rails 6.0.6.1 to resolve various security issues
  Gemfile
  Gemfile.lock
Due: none

refactor(post creation): scroll to post after creation
  client/app/bundles/course/forum/pages/ForumTopicPostNew/index.tsx
Due: frontend

fix(submission): fix error handling
  client/app/bundles/course/assessment/submission/actions/index.js
Due: frontend

refactor(post): refactor post creator with anonymous props into a shared component - added anonymous post creator in topics table
  app/helpers/course/forum/controller_helper.rb
  app/views/course/forum/posts/_post_creator_data.json.jbuilder
  app/views/course/forum/posts/_post_list_data.json.jbuilder
  app/views/course/forum/posts/create.json.jbuilder
  app/views/course/forum/topics/_topic_list_data.json.jbuilder
  app/views/course/forum/topics/show.json.jbuilder
  client/app/bundles/course/forum/components/buttons/ForumTopicPostManagementButtons.tsx
  client/app/bundles/course/forum/components/cards/PostCard.tsx
  client/app/bundles/course/forum/components/forms/ForumTopicPostForm.tsx
  client/app/bundles/course/forum/components/misc/PostCreatorObject.tsx
  client/app/bundles/course/forum/components/tables/ForumTopicTable.tsx
  client/app/types/course/forums.ts
Due: frontend, backend

feat(forum topic): add anonymous option to new forum topic form
  app/controllers/course/forum/topics_controller.rb
  app/views/course/forum/forums/show.json.jbuilder
  client/app/bundles/course/forum/components/forms/ForumTopicForm.tsx
  client/app/bundles/course/forum/operations.ts
  client/app/bundles/course/forum/pages/ForumShow/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicNew/index.tsx
Due: frontend, backend

chore: remove unused translations
  config/locales/en/common.yml
  config/locales/zh/common.yml
Due: none

refactor(forum posts): mark own post as read after creation
  app/controllers/course/forum/posts_controller.rb
  app/controllers/course/forum/topics_controller.rb
  spec/features/course/forum/post_management_spec.rb
Due: backend

fix(duplicate users): fix duplicate users in course user model course group user queries
  app/models/course_user.rb
Due: backend
