Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(lesson-plan-edit): validate end_at > start_at before testing
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/DateCell.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/ItemRow.test.tsx
Due: frontend

style(lesson-plan): rename javascript -> typescript converted files
  client/app/bundles/course/lesson-plan/constants.ts
  client/app/bundles/course/lesson-plan/containers/ColumnVisibilityDropdown/index.tsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/index.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanFilter/index.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/EnterEditModeButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewEventButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewMilestoneButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewEventButton.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewMilestoneButton.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/index.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/index.tsx
  client/app/bundles/course/lesson-plan/containers/MilestoneFormDialog/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/DateCell.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/PublishedCell.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/MilestoneRow.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/ItemRow.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/MilestoneRow.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/index.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/AdminTools.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminTools.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/MilestoneAdminTools.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/MilestoneAdminTools.test.tsx
  client/app/bundles/course/lesson-plan/reducers/flags.ts
  client/app/bundles/course/lesson-plan/reducers/lessonPlan.ts
  client/app/bundles/course/lesson-plan/reducers/utils.ts
Due: frontend

refactor(lesson-plan): convert LessonPlanLayout, event, milestone forms to typescript
  client/app/bundles/course/lesson-plan/constants.ts
  client/app/bundles/course/lesson-plan/containers/ColumnVisibilityDropdown/__test__/index.test.tsx
  client/app/bundles/course/lesson-plan/containers/ColumnVisibilityDropdown/index.tsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/EventForm.jsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/index.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanFilter/__test__/index.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanFilter/index.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/EnterEditModeButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewEventButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewMilestoneButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewEventButton.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewMilestoneButton.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/index.tsx
  client/app/bundles/course/lesson-plan/containers/MilestoneFormDialog/MilestoneForm.jsx
  client/app/bundles/course/lesson-plan/containers/MilestoneFormDialog/index.tsx
  client/app/bundles/course/lesson-plan/operations.ts
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/AdminTools.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminTools.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/MilestoneAdminTools.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/MilestoneAdminTools.test.tsx
  client/app/bundles/course/lesson-plan/reducers/eventForm.js
  client/app/bundles/course/lesson-plan/reducers/milestoneForm.js
  client/app/bundles/course/lesson-plan/store.ts
  client/app/bundles/course/lesson-plan/translations.ts
  client/app/routers/course/lessonPlan.tsx
Due: frontend

fix(lesson-plan): add debouncing for LessonPlanEdit page
  client/app/bundles/course/lesson-plan/operations.ts
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/DateCell.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/PublishedCell.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/MilestoneRow.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/ItemRow.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/MilestoneRow.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/index.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.tsx
  client/app/bundles/course/lesson-plan/types.ts
Due: frontend

refactor(lesson-plan): fully convert lesson plan Redux state to TypeScript
  client/app/bundles/course/lesson-plan/constants.ts
  client/app/bundles/course/lesson-plan/operations.ts
  client/app/bundles/course/lesson-plan/reducers/flags.ts
  client/app/bundles/course/lesson-plan/reducers/lessonPlan.ts
  client/app/bundles/course/lesson-plan/reducers/utils.ts
  client/app/bundles/course/lesson-plan/store.ts
  client/app/bundles/course/lesson-plan/types.ts
Due: frontend

fix(personal_times): make index unique on course_user_id,lesson_plan_item_id
  db/migrate/20260828083444_add_unique_index_to_course_personal_times.rb
  db/migrate/20260828084949_stabilize_schema_dump_artifacts.rb
  db/schema.rb
Due: none

feat(sidekiq): migrate admin console to use app authentication
  app/constraints/sidekiq_admin_constraint.rb
  config/routes.rb
  spec/requests/sidekiq_web_spec.rb
Due: backend

fix(sidekiq): authorise /sidekiq through Keycloak
  app/constraints/sidekiq_admin_constraint.rb
  app/controllers/system/admin/sidekiq_sessions_controller.rb
  config/routes.rb
  spec/requests/sidekiq_web_spec.rb
Due: backend

perf(jobs): improve course-user-iteration job query performance
  app/controllers/concerns/course/lesson_plan/personalization_concern.rb
  app/jobs/course/conditional/coursewide_conditional_satisfiability_evaluation_job.rb
  spec/controllers/concerns/course/lesson_plan/personalization_concern_spec.rb
  spec/jobs/course/conditionals/coursewide_conditional_satisfiability_evaluation_job_spec.rb
Due: backend

perf(videos): curb watch frequency computation excessive memory footprint
  .rubocop_todo.yml
  app/controllers/course/video/videos_controller.rb
  app/jobs/video_statistic_update_job.rb
  app/models/concerns/course/video/submission/statistic/cikgo_task_completion_concern.rb
  app/models/concerns/course/video/watch_statistics_concern.rb
  app/models/course/video.rb
  app/models/course/video/submission.rb
  app/views/course/video/videos/_video_list_data.json.jbuilder
  app/views/course/video/videos/index.json.jbuilder
  spec/controllers/course/video/videos_controller_spec.rb
  spec/jobs/video_statistic_update_job_spec.rb
  spec/models/course/video_spec.rb
Due: backend

test(user-registrations): refine assertions to search for specific added users
  spec/controllers/user/registration_controller_spec.rb
Due: none

perf(jobs): optimize ConsolidatedItemEmailJob queries
  app/jobs/consolidated_item_email_job.rb
  app/models/course.rb
  spec/jobs/consolidated_item_email_job_spec.rb
  spec/models/course_spec.rb
Due: backend

test(ragwise): resolve flaky input tests
  spec/features/course/material/folder_management_spec.rb
  spec/features/rag_wise/rag_wise_settings_form_spec.rb
  spec/features/rag_wise/rag_wise_settings_material_spec.rb
  spec/support/capybara.rb
Due: none

fix(auth): only clear cookie on 401s from cookie auth
  app/controllers/application_controller.rb
  spec/controllers/application_controller_spec.rb
Due: backend

fix(sign_in): redirect button to previous page on public pages
  client/app/lib/components/wrappers/AuthProvider.tsx
  tests/tests/courses/landing-page-auth.spec.ts
Due: frontend

fix(auth): correctly refresh auth information on cold sign-in
  app/controllers/concerns/application_user_concern.rb
  client/app/api/Base.ts
  client/app/routers/AuthenticatableApp.tsx
  client/app/utilities/authentication.ts
  spec/requests/sidekiq_web_spec.rb
  tests/tests/courses/landing-page-auth.spec.ts
Due: frontend, backend

fix(sign_out): invalidate cookie server-side on user sign out
  app/controllers/access_token_controller.rb
  client/app/lib/components/wrappers/AuthProvider.tsx
  client/app/utilities/authentication.ts
  config/routes.rb
  spec/requests/access_token_spec.rb
  tests/tests/courses/landing-page-auth.spec.ts
Due: frontend, backend

refactor(rubric-grading): restructure llm integration into adapter pattern
  Gemfile
  Gemfile.lock
  app/services/course/rubric/llm_adapter/gpt4_point1_mini_adapter.rb
  app/services/course/rubric/llm_adapter/open_ai_chat_api_concern.rb
  app/services/course/rubric/llm_adapter/open_ai_responses_api_concern.rb
  app/services/course/rubric/llm_service.rb
  app/services/course/rubric/llm_service/llm_adapter.rb
  config/initializers/llm_langchain.rb
  env
  spec/services/course/rubric/llm_adapter/gpt4_point1_mini_adapter_spec.rb
  spec/services/course/rubric/llm_service/llm_adapter_spec.rb
  spec/services/course/rubric/llm_service_spec.rb
  spec/support/langchain.rb
Due: backend

feat(rubric-grading): add admin controls for model, system prompt override, and model params
  app/controllers/course/admin/assessment_settings_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/jobs/course/rubric/apply_evaluations_job.rb
  app/models/components/course/assessments_ability_component.rb
  app/models/course.rb
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/services/course/rubric/llm_adapter/open_ai_chat_api_concern.rb
  app/services/course/rubric/llm_adapter/open_ai_responses_api_concern.rb
  app/services/course/rubric/llm_service.rb
  app/services/course/rubric/llm_service/llm_adapter.rb
  app/views/course/admin/assessment_settings/edit.json.jbuilder
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/types/course/admin/assessments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/controllers/course/admin/assessment_settings_controller_spec.rb
  spec/services/course/rubric/llm_adapter/gpt5_point6_luna_adapter_spec.rb
  spec/services/course/rubric/llm_service/llm_adapter_spec.rb
  spec/services/course/rubric/llm_service_spec.rb
  spec/support/langchain.rb
Due: frontend, backend

feat(rubric-grading): allow admins to grant model configuration access to course staff
  app/controllers/course/admin/admin_controller.rb
  app/models/components/course/assessments_ability_component.rb
  app/models/concerns/course/duplication_concern.rb
  app/views/course/admin/admin/index.json.jbuilder
  client/app/api/course/Admin/Course.ts
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
  client/app/types/course/admin/course.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  db/migrate/20260907000000_add_is_model_configuration_authorized_to_courses.rb
  db/schema.rb
  spec/controllers/course/admin/admin_controller_spec.rb
  spec/controllers/course/admin/assessment_settings_controller_spec.rb
  spec/services/course/duplication/course_duplication_service_spec.rb
Due: frontend, backend

feat(rubric-grading): add support for other GPT-family llms
  app/services/course/rubric/llm_adapter/gpt4_point1_adapter.rb
  app/services/course/rubric/llm_adapter/gpt5_point2_adapter.rb
  app/services/course/rubric/llm_adapter/gpt5_point4_adapter.rb
  app/services/course/rubric/llm_adapter/gpt5_point4_mini_adapter.rb
  app/services/course/rubric/llm_adapter/gpt5_point4_nano_adapter.rb
  app/services/course/rubric/llm_adapter/gpt5_point5_adapter.rb
  app/services/course/rubric/llm_adapter/gpt5_point6_luna_adapter.rb
  app/services/course/rubric/llm_adapter/gpt5_point6_sol_adapter.rb
  app/services/course/rubric/llm_adapter/gpt5_point6_terra_adapter.rb
  app/services/course/rubric/llm_adapter/open_ai_responses_api_concern.rb
  spec/models/course_spec.rb
  spec/services/course/rubric/llm_adapter/gpt5_point6_luna_adapter_spec.rb
Due: backend

fix(sign_out): invalidate cookie server-side on user sign out
  app/controllers/access_token_controller.rb
  client/app/lib/components/wrappers/AuthProvider.tsx
  client/app/utilities/authentication.ts
  config/routes.rb
  spec/requests/access_token_spec.rb
  spec/requests/sidekiq_web_spec.rb
  spec/support/access_token_cookie.rb
  spec/support/authentication_performers.rb
  tests/helpers.ts
  tests/tests/courses/landing-page-auth.spec.ts
Due: frontend, backend
