Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(user role request components): refactor instance user role request and add role request form in react
  app/controllers/instance_user_role_requests_controller.rb
  app/views/course/courses/index.json.jbuilder
  app/views/instance_user_role_requests/_form.html.slim
  app/views/instance_user_role_requests/_instance_user_role_request_list_data.json.jbuilder
  app/views/instance_user_role_requests/_user_role_request.html.slim
  app/views/instance_user_role_requests/_user_role_request_rejection_form.html.slim
  app/views/instance_user_role_requests/approve.js.erb
  app/views/instance_user_role_requests/edit.html.slim
  app/views/instance_user_role_requests/index.html.slim
  app/views/instance_user_role_requests/index.json.jbuilder
  app/views/instance_user_role_requests/new.html.slim
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/instance-user-role-requests.tsx
  client/app/bundles/system/admin/instance/components/tables/InstanceUserRoleRequestsTable.tsx
  client/app/bundles/system/admin/instance/instance/components/buttons/PendingRoleRequestsButtons.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/InstanceUserRoleRequestForm.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/RejectWithMessageForm.tsx
  client/app/bundles/system/admin/instance/instance/components/misc/RejectWithMessageDialog.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InstanceUserRoleRequestsTable.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUserRoleRequestsIndex/index.tsx
  client/app/bundles/system/admin/instance/pages/InstanceUserRoleRequestsIndex/index.tsx
  client/app/types/InstanceUserRoleRequestData.ts
  client/app/types/system/instance/roleRequests.ts
  config/locales/en/activerecord/instance.yml
  config/locales/en/common.yml
  config/locales/en/instance_user_role_requests.yml
  spec/controllers/course/instance_user_role_requests_controller_spec.rb
  spec/features/instance_user_role_requests_management_spec.rb
Due: frontend, backend

fix(instance component): refactor instance admin react porting
  app/controllers/system/admin/instance/admin_controller.rb
  app/views/system/admin/admin/index.html.slim
  app/views/system/admin/instance/admin/index.html.slim
  app/views/system/admin/instance/admin/index.json.jbuilder
  app/views/system/admin/instance/courses/_course_list_data.json.jbuilder
  client/app/api/system/InstanceAdmin.ts
  client/app/bundles/system/admin/instance/admin.tsx
  client/app/bundles/system/admin/instance/instance/actions.ts
  client/app/bundles/system/admin/instance/instance/components/navigation/InstanceAdminSidebar.tsx
  client/app/bundles/system/admin/instance/instance/index.tsx
  client/app/bundles/system/admin/instance/instance/operations.ts
  client/app/bundles/system/admin/instance/instance/pages/InstanceAdminIndex/index.tsx
  client/app/bundles/system/admin/instance/instance/reducers.ts
  client/app/bundles/system/admin/instance/instance/selectors.ts
  client/app/bundles/system/admin/instance/instance/store.ts
  client/app/bundles/system/admin/instance/instance/types.ts
  client/app/bundles/system/admin/instance/operations.ts
  client/app/bundles/system/admin/instance/pages/InstanceAdminIndex/index.tsx
  client/app/lib/translations/form.jsx
  client/app/lib/translations/table.ts
  client/app/types/store.ts
  client/app/types/system/instances.ts
  config/routes.rb
Due: frontend, backend

fix(buttons): remove span tag
  client/app/lib/components/buttons/AcceptButton.tsx
  client/app/lib/components/buttons/AddButton.tsx
  client/app/lib/components/buttons/DeleteButton.tsx
  client/app/lib/components/buttons/EditButton.tsx
  client/app/lib/components/buttons/EmailButton.tsx
  client/app/lib/components/buttons/MasqueradeButton.tsx
  client/app/lib/components/buttons/SaveButton.tsx
  client/app/lib/components/buttons/__test__/__snapshots__/DeleteButton.test.tsx.snap
  client/app/lib/components/buttons/__test__/__snapshots__/EditButton.test.tsx.snap
Due: frontend

fix(constants): make shared constants as named import
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/bundles/course/enrol-requests/components/buttons/PendingEnrolRequestsButtons.tsx
  client/app/bundles/course/enrol-requests/components/tables/EnrolRequestsTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/DisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumDisbursementTable.tsx
  client/app/bundles/course/user-invitations/components/buttons/PendingInvitationsButtons.tsx
  client/app/bundles/course/user-invitations/components/forms/IndividualInvitation.tsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultInvitationsTable.tsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultUsersTable.tsx
  client/app/bundles/course/user-invitations/components/tables/UserInvitationsTable.tsx
  client/app/bundles/course/users/components/buttons/UserManagementButtons.tsx
  client/app/bundles/course/users/components/misc/UpgradeToStaff.tsx
  client/app/bundles/course/users/components/misc/UserProfileCard.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable.tsx
  client/app/bundles/course/users/components/tables/PersonalTimesTable.tsx
  client/app/bundles/course/users/pages/PersonalTimesShow/index.tsx
  client/app/bundles/course/users/selectors.ts
  client/app/bundles/system/admin/admin/components/tables/InstancesTable.tsx
  client/app/bundles/system/admin/admin/pages/InstancesIndex/index.tsx
  client/app/lib/constants/sharedConstants.ts
  client/app/types/course/courseUsers.ts
Due: frontend

fix(inline style): convert inline style to tailwind
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/EnterEditModeButton.jsx
  client/app/bundles/course/survey/pages/SurveyShow/NewSectionButton.jsx
  client/app/bundles/system/admin/admin/components/buttons/InstancesButtons.tsx
  client/app/bundles/system/admin/admin/pages/InstanceNew/index.tsx
  client/app/lib/components/form/fields/DataTableInlineEditable/TextField.tsx
Due: frontend

fix(redux convention): fix function names for redux related files
  client/app/bundles/course/courses/actions.ts
  client/app/bundles/course/courses/operations.ts
  client/app/bundles/course/courses/types.ts
  client/app/bundles/course/enrol-requests/actions.ts
  client/app/bundles/course/enrol-requests/operations.ts
  client/app/bundles/course/enrol-requests/reducers.ts
  client/app/bundles/course/enrol-requests/types.ts
  client/app/bundles/course/users/actions.ts
  client/app/bundles/course/users/operations.ts
  client/app/bundles/course/users/reducers.ts
  client/app/bundles/course/users/types.ts
  client/app/bundles/system/admin/admin/actions.ts
  client/app/bundles/system/admin/admin/operations.ts
  client/app/bundles/system/admin/admin/reducers.ts
  client/app/bundles/system/admin/admin/types.ts
Due: frontend

fix(intl translation): replace formattedmessage and fix some texts
  client/app/bundles/course/assessment/components/AssessmentForm/__test__/index.test.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.intl.js
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/bundles/course/user-invitations/components/forms/IndividualInviteForm.tsx
  client/app/bundles/system/admin/admin/components/forms/InstanceForm.tsx
Due: frontend

fix(tenant): remove dev tenant host check
  app/controllers/concerns/application_multitenancy_concern.rb
Due: backend

chore(webpack): add bundle folder to absolute path
  client/package.json
  client/webpack.common.js
Due: none

fix(course user invitation): fix error unraised by hook form
  client/app/bundles/course/user-invitations/components/buttons/ResendAllInvitationsButton.tsx
Due: frontend

fix(announcement api): add permission params for system announcement index
  client/app/api/system/Admin.ts
Due: frontend

fix(selector type): remove implicit typing
  client/app/bundles/course/assessment/submissions/selectors.ts
  client/app/bundles/course/courses/selectors.ts
Due: frontend

fix(course user): fix course user scope bug
  app/models/course_user.rb
Due: backend

feat(user role request): add missing commit for user role request form react porting
  client/app/api/course/Courses.ts
  client/app/bundles/course/courses/reducers.ts
Due: frontend

fix(course display): use note to display empty course
  client/app/bundles/course/courses/components/misc/CourseDisplay.tsx
Due: frontend

fix(new course form): remove isopen check
  client/app/bundles/course/courses/pages/CoursesNew/index.tsx
Due: frontend

test: fix test
  client/app/lib/components/__test__/__snapshots__/ErrorText.test.jsx.snap
Due: frontend

fix(admin store): remove object spread for redux store object
  client/app/bundles/system/admin/admin/index.tsx
Due: frontend

fix(operations): remove unnecessary error throwing
  client/app/api/course/Material/Folders.ts
  client/app/bundles/course/achievement/operations.ts
  client/app/bundles/course/announcements/operations.ts
  client/app/bundles/course/assessment/skills/operations.ts
  client/app/bundles/course/assessment/submissions/operations.ts
  client/app/bundles/course/courses/operations.ts
  client/app/bundles/course/discussion/topics/operations.ts
  client/app/bundles/course/enrol-requests/operations.ts
  client/app/bundles/course/experience-points/disbursement/operations.ts
  client/app/bundles/course/leaderboard/operations.ts
  client/app/bundles/course/material/folders/operations.ts
  client/app/bundles/course/user-invitations/operations.ts
  client/app/bundles/course/users/operations.ts
  client/app/bundles/system/admin/admin/operations.ts
  client/app/bundles/users/operations.ts
Due: frontend

fix(instance components): refactor instance components react porting
  app/controllers/system/admin/instance/components_controller.rb
  app/models/concerns/component_settings_concern.rb
  app/views/system/admin/instance/components/index.json.jbuilder
  client/app/bundles/system/admin/instance/components.tsx
  client/app/bundles/system/admin/instance/components/forms/InstanceComponentsForm.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/InstanceComponentsForm.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceComponentsIndex/index.tsx
  client/app/types/system/instance/components.ts
  spec/controllers/system/admin/instance/components_controller_spec.rb
  spec/features/system/admin/components_settings_spec.rb
Due: frontend, backend

fix(system instance): fix typing
  client/app/bundles/system/admin/instance/reducers.ts
  client/app/types/system/instances.ts
Due: frontend

fix(instance courses): refactor instance courses react porting
  app/controllers/system/admin/courses_controller.rb
  app/controllers/system/admin/instance/courses_controller.rb
  app/views/system/admin/instance/courses/index.json.jbuilder
  client/app/bundles/system/admin/admin/components/buttons/CoursesButtons.tsx
  client/app/bundles/system/admin/admin/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/instance/components/buttons/CoursesButtons.tsx
  client/app/bundles/system/admin/instance/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/instance/courses.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceCoursesIndex/index.tsx
  client/app/bundles/system/admin/instance/pages/InstanceCoursesIndex/index.tsx
  client/app/bundles/users/components/tables/CoursesTable.tsx
  client/app/types/system/instance/courses.ts
  spec/features/system/admin/course_management_spec.rb
Due: frontend, backend

fix(instance announcement): refactor instance announcement react porting
  app/controllers/system/admin/announcements_controller.rb
  app/controllers/system/admin/instance/announcements_controller.rb
  app/models/concerns/announcement_concern.rb
  app/views/system/admin/announcements/index.json.jbuilder
  app/views/system/admin/instance/announcements/index.json.jbuilder
  client/app/bundles/course/announcements/components/misc/AnnouncementCard.tsx
  client/app/bundles/course/announcements/pages/AnnouncementNew/index.tsx
  client/app/bundles/course/announcements/selectors.ts
  client/app/bundles/system/admin/admin/pages/AnnouncementsIndex/index.tsx
  client/app/bundles/system/admin/instance/announcements.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceAnnouncementsIndex/index.tsx
  client/app/types/system/announcements.ts
  config/locales/en/activerecord/course/announcement.yml
  config/locales/en/activerecord/generic_announcement.yml
  spec/controllers/course/announcements_controller_spec.rb
  spec/controllers/system/admin/announcements_controller_spec.rb
  spec/controllers/system/admin/instance/announcements_controller_spec.rb
  spec/features/course/announcement_management_spec.rb
  spec/features/system/admin/announcement_management_spec.rb
  spec/features/system/admin/instance/instance_announcement_management_spec.rb
  spec/models/course/announcement_spec.rb
  spec/models/generic_announcement_spec.rb
Due: frontend, backend

fix(instance users): refactor instance users react porting
  app/controllers/system/admin/instance/user_invitations_controller.rb
  app/controllers/system/admin/instance/users_controller.rb
  app/controllers/system/admin/users_controller.rb
  app/views/system/admin/instance/user_invitations/_index.json.jbuilder
  app/views/system/admin/instance/user_invitations/_invitation_result_data.json.jbuilder
  client/app/bundles/system/admin/admin/components/buttons/UsersButtons.tsx
  client/app/bundles/system/admin/admin/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/instance/instance/components/buttons/PendingInvitationsButtons.tsx
  client/app/bundles/system/admin/instance/instance/components/buttons/ResendAllInvitationsButton.tsx
  client/app/bundles/system/admin/instance/instance/components/buttons/UsersButtons.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/IndividualInvitation.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/IndividualInvitations.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/IndividualInviteForm.tsx
  client/app/bundles/system/admin/instance/instance/components/misc/InvitationResultDialog.tsx
  client/app/bundles/system/admin/instance/instance/components/navigation/InstanceUsersTabs.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InvitationResultInvitationsTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InvitationResultUsersTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UserInvitationsTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersIndex/index.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersInvitations/index.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersInvite/index.tsx
  client/app/bundles/system/admin/instance/pages/InstanceUsersIndex/index.tsx
  client/app/bundles/system/admin/instance/user-invitations.tsx
  client/app/bundles/system/admin/instance/users.tsx
  client/app/bundles/users/components/tables/InstancesTable.tsx
  client/app/lib/components/ErrorText.jsx
  spec/controllers/system/admin/instance/user_invitations_controller_spec.rb
  spec/features/system/admin/instance/user_management_spec.rb
  spec/features/system/admin/user_management_spec.rb
Due: frontend, backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
