Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(marketplace): add typed allow-list rules for marketplace visibility
  app/models/course/assessment/marketplace/allowlist_rule.rb
  db/migrate/20260707000003_create_course_assessment_marketplace_allowlist_rules.rb
  db/schema.rb
  spec/factories/course_assessment_marketplace_allowlist_rules.rb
  spec/models/course/assessment/marketplace/allowlist_rule_spec.rb
Due: backend

feat(marketplace): gate marketplace access behind the allow-list
  app/models/components/course/assessment_marketplace_ability_component.rb
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
Due: backend

fix(marketplace): allow-list pre-existing marketplace specs after the visibility gate
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/controllers/course/assessment/marketplace/questions_controller_spec.rb
  spec/controllers/course/assessment_marketplace_component_spec.rb
  spec/models/course/assessment_marketplace_ability_spec.rb
Due: none

feat(marketplace): System::Admin CRUD for marketplace allow-list rules
  app/controllers/system/admin/marketplace_allowlist_rules_controller.rb
  app/views/system/admin/marketplace_allowlist_rules/_rule.json.jbuilder
  app/views/system/admin/marketplace_allowlist_rules/index.json.jbuilder
  config/routes.rb
  spec/controllers/system/admin/marketplace_allowlist_rules_controller_spec.rb
Due: backend

feat(marketplace): self-serve System::Admin page for marketplace allow-list rules
  client/app/api/system/Admin.ts
  client/app/bundles/system/admin/admin/AdminNavigator.tsx
  client/app/bundles/system/admin/admin/components/forms/MarketplaceAllowlistRuleForm.tsx
  client/app/bundles/system/admin/admin/components/tables/MarketplaceAllowlistTable.tsx
  client/app/bundles/system/admin/admin/pages/MarketplaceAllowlistIndex.tsx
  client/app/bundles/system/admin/admin/pages/__test__/MarketplaceAllowlistIndex.test.tsx
  client/app/routers/courseless/systemAdmin.tsx
  client/app/types/system/marketplaceAllowlist.ts
Due: frontend

test(marketplace): pin per-instance scoping of instance allow-list rules
  app/models/course/assessment/marketplace/allowlist_rule.rb
  spec/models/course/assessment/marketplace/allowlist_rule_spec.rb
Due: backend

fix(marketplace): cancel button with form in allow list now enabled with blank input
  client/app/bundles/system/admin/admin/components/forms/MarketplaceAllowlistRuleForm.tsx
Due: frontend

feat(marketplace): add 'everyone' allow-list rule type
  app/models/course/assessment/marketplace/allowlist_rule.rb
  db/migrate/20260716000001_add_everyone_uniqueness_to_marketplace_allowlist_rules.rb
  db/schema.rb
  spec/factories/course_assessment_marketplace_allowlist_rules.rb
  spec/models/course/assessment/marketplace/allowlist_rule_spec.rb
Due: backend

test(marketplace): pin 'everyone' rule against the manager gate
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
Due: none

feat(marketplace): report open-to-everyone mode from the admin allow-list endpoint
  app/controllers/system/admin/marketplace_allowlist_rules_controller.rb
  app/views/system/admin/marketplace_allowlist_rules/index.json.jbuilder
  spec/controllers/system/admin/marketplace_allowlist_rules_controller_spec.rb
Due: backend

feat(marketplace): open-to-everyone mode banner on the admin allow-list page
  client/app/api/system/Admin.ts
  client/app/bundles/system/admin/admin/components/MarketplaceAllowlistModeBanner.tsx
  client/app/bundles/system/admin/admin/components/tables/MarketplaceAllowlistTable.tsx
  client/app/bundles/system/admin/admin/pages/MarketplaceAllowlistIndex.tsx
  client/app/bundles/system/admin/admin/pages/__test__/MarketplaceAllowlistIndex.test.tsx
Due: frontend

feat(marketplace): add data model, migrations, and permissions
  app/models/components/course/assessment_marketplace_ability_component.rb
  app/models/course/assessment.rb
  app/models/course/assessment/marketplace.rb
  app/models/course/assessment/marketplace/adoption.rb
  app/models/course/assessment/marketplace/listing.rb
  db/migrate/20260707000001_create_course_assessment_marketplace_listings.rb
  db/migrate/20260707000002_create_course_assessment_marketplace_adoptions.rb
  db/schema.rb
  spec/factories/course_assessment_marketplace_adoptions.rb
  spec/factories/course_assessment_marketplace_listings.rb
  spec/models/course/assessment/marketplace/adoption_spec.rb
  spec/models/course/assessment/marketplace/listing_spec.rb
  spec/models/course/assessment_marketplace_ability_spec.rb
Due: backend

feat(marketplace): admin publish control for assessments
  app/controllers/course/assessment/marketplace_listings_controller.rb
  app/views/course/assessment/assessments/show.json.jbuilder
  client/app/api/course/Marketplace.ts
  client/app/api/course/index.js
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowHeader.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/__test__/AssessmentShowHeader.test.tsx
  client/app/bundles/course/marketplace/components/PublishToMarketplaceButton.tsx
  client/app/bundles/course/marketplace/components/__test__/PublishToMarketplaceButton.test.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/app/types/course/assessment/assessments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  spec/controllers/course/assessment/assessments_marketplace_spec.rb
  spec/controllers/course/assessment/marketplace_listings_controller_spec.rb
Due: frontend, backend

feat(marketplace): cross-instance browse page + entry points
  app/controllers/components/course/assessment_marketplace_component.rb
  app/controllers/course/assessment/marketplace/controller.rb
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/views/course/assessment/marketplace/listings/index.json.jbuilder
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/assessment/pages/AssessmentsIndex/ImportAssessmentsButton.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/__test__/ImportAssessmentsButton.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/index.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/bundles/course/marketplace/operations.ts
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/MarketplaceTable.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/index.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/app/bundles/course/marketplace/types.ts
  client/app/bundles/course/translations.ts
  client/app/routers/course/index.tsx
  client/app/routers/course/marketplace.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/controllers/course/assessment_marketplace_component_spec.rb
Due: frontend, backend

feat(marketplace): duplicate listings into current course
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/jobs/course/assessment/marketplace/duplication_job.rb
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/marketplace/components/DuplicateConfirmation.tsx
  client/app/bundles/course/marketplace/components/__test__/DuplicationConfirmation.test.tsx
  client/app/bundles/course/marketplace/operations.ts
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/MarketplaceTable.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/index.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/jobs/course/assessment/marketplace/duplication_job_spec.rb
Due: frontend, backend

feat(marketplace): preview endpoints and question serializers
  app/controllers/components/course/assessment_marketplace_component.rb
  app/controllers/course/assessment/marketplace/controller.rb
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/controllers/course/assessment/marketplace/questions_controller.rb
  app/views/course/assessment/marketplace/listings/index.json.jbuilder
  app/views/course/assessment/marketplace/listings/show.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_forum_post_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_multiple_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_programming.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_rubric_based_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_scribing.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_text_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_voice_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/show.json.jbuilder
  config/routes.rb
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/controllers/course/assessment/marketplace/questions_controller_spec.rb
  spec/controllers/course/assessment_marketplace_component_spec.rb
Due: backend

feat(marketplace): listing + question preview UI and duplicate dialog
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/marketplace/components/DuplicateConfirmation.tsx
  client/app/bundles/course/marketplace/components/PublishToMarketplaceButton.tsx
  client/app/bundles/course/marketplace/components/__test__/DuplicationConfirmation.test.tsx
  client/app/bundles/course/marketplace/operations.ts
  client/app/bundles/course/marketplace/pages/ListingPreview/PreviewAssessmentDetails.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/PreviewQuestionCard.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/index.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/MarketplaceTable.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/MarketplaceTable.test.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/index.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/index.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/ForumPostResponse.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/MultipleResponse.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/Programming.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/RubricBasedResponse.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/Scribing.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/TextResponse.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/VoiceResponse.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/ForumPostResponse.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/MultipleResponse.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/Programming.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/RubricBasedResponse.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/Scribing.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/TextResponse.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/VoiceResponse.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/types.ts
  client/app/bundles/course/marketplace/translations.ts
  client/app/bundles/course/marketplace/types.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

refactor(duplication): shared assessment tree + table empty-state support
  client/app/bundles/course/duplication/components/DuplicationAssessmentTree.tsx
  client/app/bundles/course/duplication/components/__test__/DuplicationAssessmentTree.test.tsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/AssessmentsListing.tsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/index.jsx
  client/app/lib/components/table/MuiTableAdapter/MuiTable.tsx
  client/app/lib/components/table/TanStackTableBuilder/columnsBuilder.ts
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/adapters/Body.ts
  client/app/lib/components/table/builder/TableTemplate.ts
  client/app/lib/components/table/builder/featureTemplates.ts
  client/app/lib/constants/icons.ts
Due: frontend

feat(marketplace): carry from_tab through the browse flow + breadcrumbs
  app/controllers/components/course/gradebook_component.rb
  app/controllers/course/assessment/marketplace/questions_controller.rb
  app/controllers/course/statistics/aggregate_controller.rb
  app/views/course/assessment/marketplace/listings/show.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_forum_post_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_multiple_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_programming.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_rubric_based_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_scribing.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_text_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_voice_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/show.json.jbuilder
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/AssessmentsListing.tsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/index.jsx
  client/app/bundles/course/marketplace/__test__/fromTab.test.ts
  client/app/bundles/course/marketplace/__test__/handles.test.ts
  client/app/bundles/course/marketplace/components/DuplicateConfirmation.tsx
  client/app/bundles/course/marketplace/fromTab.ts
  client/app/bundles/course/marketplace/handles.ts
  client/app/bundles/course/marketplace/pages/ListingPreview/PreviewQuestionCard.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/MarketplaceTable.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/RubricBasedResponse.tsx
  client/app/routers/course/marketplace.tsx
  spec/controllers/course/assessment/marketplace/questions_controller_spec.rb
Due: frontend, backend

fix(marketplace): redirect bare /listings to the marketplace index
  client/app/routers/course/marketplace.tsx
Due: frontend

feat(marketplace): rework the duplicate confirmation dialog
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/views/course/assessment/marketplace/listings/show.json.jbuilder
  client/app/bundles/course/duplication/components/TypeBadge/index.tsx
  client/app/bundles/course/marketplace/components/DestinationTabPicker.tsx
  client/app/bundles/course/marketplace/components/DuplicateConfirmation.tsx
  client/app/bundles/course/marketplace/components/__test__/DestinationTabPicker.test.tsx
  client/app/bundles/course/marketplace/components/__test__/DuplicationConfirmation.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/index.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/index.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/app/bundles/course/marketplace/types.ts
  client/app/lib/hooks/toast/toast.tsx
  client/locales/en.json
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
Due: frontend, backend

feat(marketplace): badge the listing detail page as a preview
  client/app/bundles/course/marketplace/pages/ListingPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/index.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/locales/en.json
Due: frontend

feat(text-responses): add optional target sheet configuration for spreadsheet formulas
  app/controllers/course/assessment/question/text_responses_controller.rb
  app/models/course/assessment/question/text_response_solution_spreadsheet.rb
  app/services/course/assessment/answer/text_response_auto_grading_service.rb
  app/views/course/assessment/question/text_responses/_solution_details.json.jbuilder
  client/app/bundles/course/assessment/question/text-responses/components/Solution.tsx
  client/app/bundles/course/assessment/question/text-responses/components/SpreadsheetManagerPrompt.tsx
  client/app/bundles/course/assessment/question/text-responses/components/SpreadsheetRandomizationManager.tsx
  client/app/bundles/course/assessment/question/text-responses/operations.ts
  client/app/bundles/course/assessment/translations.ts
  client/app/lib/components/form/fields/SingleFileInput/SpreadsheetPreview.tsx
  client/app/types/course/assessment/question/text-responses.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  db/migrate/20260701000000_add_target_sheet_name_to_text_response_solution_spreadsheets.rb
  db/schema.rb
  lib/evaluator_scripts/python/autograde_spreadsheet.py
  lib/evaluator_scripts/python/tests/test_autograde_spreadsheet.py
  spec/models/course/assessment/question/text_response_solution_spreadsheet_spec.rb
  spec/services/course/assessment/answer/text_response_auto_grading_service_spec.rb
Due: frontend, backend

feat(rubric-playground): add ability to name mock answer / view grading context
  app/controllers/course/assessment/mock_answers_controller.rb
  app/views/course/assessment/mock_answers/_mock_answer.json.jbuilder
  app/views/course/assessment/mock_answers/index.json.jbuilder
  app/views/course/assessment/mock_answers/show.json.jbuilder
  client/app/api/course/Assessment/Question/MockAnswers.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddAnswersPrompt.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTableHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/MockAnswerPrompt.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/mockAnswers.ts
  client/app/bundles/course/assessment/question/rubric-playground/translations.ts
  client/app/types/course/rubrics.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  client/tailwind.config.ts
  config/routes.rb
  db/migrate/20260701100000_create_rubric_evaluation_rating_table.rb
  db/schema.rb
  spec/controllers/course/assessment/mock_answers_controller_spec.rb
Due: frontend, backend

feat(rubric-grading): minor fixes
  app/controllers/course/assessment/mock_answers_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/assessment/question.rb
  app/models/course/assessment/question/forum_post_response.rb
  app/models/course/assessment/question/grading_context.rb
  app/models/course/assessment/question/rubric_based_response.rb
  client/app/bundles/course/assessment/question/rubric-based-responses/components/AIGradingFields.tsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/submission/containers/RubricModerationRow.tsx
  spec/controllers/course/assessment/mock_answers_controller_spec.rb
  spec/controllers/course/assessment/rubrics_controller_spec.rb
  spec/models/course/assessment/question/grading_context_spec.rb
Due: frontend, backend

feat(rubric-grading): view existing answer context, evaluation table ui overhaul
  app/controllers/course/assessment/rubrics_controller.rb
  app/views/course/assessment/rubrics/_grading_context.json.jbuilder
  app/views/course/assessment/rubrics/answer_grading_contexts.json.jbuilder
  app/views/course/assessment/rubrics/grading_contexts.json.jbuilder
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddAnswersPrompt.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTableHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/ContextHeading.tsx
  client/app/bundles/course/assessment/question/rubric-playground/MockAnswerPrompt.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/ViewAnswerPrompt.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/answers.ts
  client/app/bundles/course/assessment/question/rubric-playground/translations.ts
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/rubrics.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  spec/controllers/course/assessment/mock_answers_controller_spec.rb
  spec/controllers/course/assessment/rubrics_controller_spec.rb
Due: frontend, backend

fix(spec): make factory sequences unique per process
  spec/factories/course_assessment_question_programming_test_cases.rb
  spec/factories/instances.rb
  spec/factories/user_emails.rb
Due: none

feat(lib): extract shared InstanceAutocomplete field
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/InstanceDropdown.tsx
  client/app/lib/components/core/fields/InstanceAutocomplete.tsx
  client/app/lib/components/core/fields/__test__/InstanceAutocomplete.test.tsx
Due: frontend

feat(marketplace): per-person marketplace access control backend
  app/controllers/system/admin/marketplace_access_blocks_controller.rb
  app/controllers/system/admin/marketplace_access_controller.rb
  app/controllers/system/admin/marketplace_allowlist_rules_controller.rb
  app/helpers/system/admin/marketplace_access_helper.rb
  app/models/components/course/assessment_marketplace_ability_component.rb
  app/models/course/assessment/marketplace/access_block.rb
  app/models/course/assessment/marketplace/access_list_query.rb
  app/models/course/assessment/marketplace/allowlist_rule.rb
  app/models/course/assessment/marketplace/rule_match_query.rb
  app/models/course/assessment/marketplace/rule_preview_query.rb
  app/models/user.rb
  app/views/system/admin/marketplace_access/index.json.jbuilder
  app/views/system/admin/marketplace_allowlist_rules/_rule.json.jbuilder
  app/views/system/admin/marketplace_allowlist_rules/index.json.jbuilder
  app/views/system/admin/marketplace_allowlist_rules/preview.json.jbuilder
  config/locales/en/activerecord/attributes.yml
  config/routes.rb
  db/migrate/20260707000003_create_course_assessment_marketplace_allowlist_rules.rb
  db/migrate/20260716000001_add_everyone_uniqueness_to_marketplace_allowlist_rules.rb
  db/migrate/20260720061212_create_course_assessment_marketplace_access_blocks.rb
  db/migrate/20260720154800_add_per_type_uniqueness_to_marketplace_allowlist_rules.rb
  db/schema.rb
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/controllers/course/assessment/marketplace/questions_controller_spec.rb
  spec/controllers/course/assessment_marketplace_component_spec.rb
  spec/controllers/system/admin/marketplace_access_blocks_controller_spec.rb
  spec/controllers/system/admin/marketplace_access_controller_spec.rb
  spec/controllers/system/admin/marketplace_allowlist_rules_controller_spec.rb
  spec/factories/course_assessment_marketplace_access_blocks.rb
  spec/factories/course_assessment_marketplace_allowlist_rules.rb
  spec/models/course/assessment/marketplace/access_block_spec.rb
  spec/models/course/assessment/marketplace/access_list_query_spec.rb
  spec/models/course/assessment/marketplace/allowlist_rule_spec.rb
  spec/models/course/assessment/marketplace/rule_match_query_spec.rb
  spec/models/course/assessment_marketplace_ability_spec.rb
  spec/models/user_spec.rb
Due: backend

feat(marketplace): system-admin allow-list and access management UI
  client/app/api/system/Admin.ts
  client/app/bundles/system/admin/admin/AdminNavigator.tsx
  client/app/bundles/system/admin/admin/components/MarketplaceAccessFilter.tsx
  client/app/bundles/system/admin/admin/components/MarketplaceAccessSection.tsx
  client/app/bundles/system/admin/admin/components/MarketplaceAllowlistModeBanner.tsx
  client/app/bundles/system/admin/admin/components/__test__/MarketplaceAccessSection.test.tsx
  client/app/bundles/system/admin/admin/components/forms/MarketplaceAllowlistRuleForm.tsx
  client/app/bundles/system/admin/admin/components/forms/__test__/MarketplaceAllowlistRuleForm.test.tsx
  client/app/bundles/system/admin/admin/components/tables/MarketplaceAllowlistTable.tsx
  client/app/bundles/system/admin/admin/components/tables/__test__/MarketplaceAllowlistTable.test.tsx
  client/app/bundles/system/admin/admin/pages/MarketplaceAllowlistIndex.tsx
  client/app/bundles/system/admin/admin/pages/__test__/MarketplaceAllowlistIndex.test.tsx
  client/app/routers/courseless/systemAdmin.tsx
  client/app/types/system/marketplaceAccess.ts
  client/app/types/system/marketplaceAllowlist.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

chore(deps): partial dependency upgrade for rails 8.x compatibility
  Gemfile
  Gemfile.lock
Due: none

test(ragwise): fix tests to match new rating ui
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  spec/features/rag_wise/forum_post_spec.rb
Due: frontend
