Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Use a different way to test Material UI dialog contents
  client/app/bundles/course/duplication/pages/Duplication/__test__/DuplicateButton.test.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewEventButton.test.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewMilestoneButton.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminMenu.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/LessonPlanMilestone.test.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/AdminMenu.test.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/NewSurveyButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/EditSectionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/NewQuestionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/NewSectionButton.test.jsx
Due: frontend

Fix some frontend tests
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
  client/app/bundles/course/assessment/question/scribing/__test__/index.test.js
  client/app/bundles/course/survey/containers/ResponseForm/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/NewQuestionButton.test.jsx
  client/app/lib/components/redux-form/__test__/SingleFileInput.test.js
Due: frontend

Use simulate('submit') instead of 'click' to submit form
  client/app/bundles/course/assessment/question/scribing/__test__/index.test.js
Due: frontend

Disable broken shallowUntil tests
  client/app/__test__/utils/__test__/shallowUntil.test.js
Due: frontend

Upgrade to enzyme 3
  client/app/__test__/setup.js
  client/package.json
  client/yarn.lock
Due: frontend

Fix shallowUntil helper
  client/app/__test__/utils/shallowUntil.js
Due: frontend

Upgrade to React 16
  client/app/__test__/setup.js
  client/app/__test__/utils/shallowUntil.js
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/Cpp/OnlineEditorCppView.jsx
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/Java/OnlineEditorJavaView.jsx
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/Python/OnlineEditorPythonView.jsx
  client/app/lib/components/form/DateTimePicker.jsx
  client/package.json
  client/yarn.lock
Due: frontend

Speed up read_marks insertion for discussion topics.
  db/migrate/20180111081847_add_read_status_to_topics.rb
Due: none

Disable sessions for now
  app/controllers/course/video/submission/submissions_controller.rb
Due: backend

WIP
  spec/support/capybara.rb
Due: none

Allow HTML descriptions in user popup notifications
  client/app/bundles/course/user-notification/components/AchievementGainedPopup.jsx
Due: frontend

Allow popup notification to be dismiss when ‘Dismiss’ button is obscured
  client/app/bundles/course/user-notification/components/Popup.jsx
Due: frontend

Send level and achievement notifications to phantoms
  app/models/course/experience_points_record.rb
  app/models/course/user_achievement.rb
Due: backend

Make lesson plan groups collapsable
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/index.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanGroup.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/AdminTools.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminTools.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanMilestone.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/MilestoneAdminTools.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/LessonPlanShow.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/MilestoneAdminTools.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/index.jsx
  client/app/bundles/course/lesson-plan/reducers/flags.js
Due: frontend

Upgrade material-ui to v0.20
  client/app/bundles/course/lesson-plan/containers/LessonPlanFilter/index.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanNav/index.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/index.test.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/index.jsx
  client/app/lib/components/ChipInput.jsx
  client/app/lib/components/Thumbnail.jsx
  client/package.json
  client/yarn.lock
Due: frontend

Migrate video posts to plaintext
  db/migrate/20180117025349_convert_video_posts_to_plain_text.rb
  db/schema.rb
Due: none

Allow step param link to any question for skippable autograded assessments
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend, backend

Upgrade frontend dependencies
  client/app/bundles/course/achievement/pages/AchievementEdit/__test__/index.test.js
  client/app/bundles/course/lesson-plan/containers/LessonPlanNav/index.jsx
  client/package.json
  client/yarn.lock
Due: frontend

Add more video playback rates
  client/app/lib/constants/videoConstants.js
Due: frontend

Nest items setting deeper within lesson plan settings page
  app/controllers/course/admin/lesson_plan_settings_controller.rb
  client/app/bundles/course/admin/actions/lesson-plan-items.js
  client/app/bundles/course/admin/lesson-plan-settings.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/translations.intl.js
  client/app/bundles/course/admin/reducers/index.js
  client/app/bundles/course/admin/reducers/lessonPlanSettings.js
  spec/controllers/course/admin/lesson_plan_settings_controller_spec.rb
Due: frontend, backend

Change default milestonesExpanded setting to `current`
  client/app/bundles/course/lesson-plan/reducers/flags.js
Due: frontend

Allow staff to set which milestone groups are expanded when lesson plan page is loaded
  app/controllers/course/admin/lesson_plan_settings_controller.rb
  app/models/course/settings/lesson_plan_component.rb
  app/views/course/lesson_plan/items/index.json.jbuilder
  client/app/bundles/course/admin/pages/LessonPlanSettings/MilestoneGroupSettings.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/admin/reducers/lessonPlanSettings.js
  spec/controllers/course/admin/lesson_plan_settings_controller_spec.rb
  spec/features/course/lesson_plan_spec.rb
Due: frontend, backend

Bundle Update on 2018-01-04
  Gemfile.lock
Due: none

Prevent devise from upgrading because of bug
  Gemfile
  Gemfile.lock
Due: none

Front-end for programming multiple file submission questions
  client/app/api/course/Assessment/Base.js
  client/app/api/course/Assessment/Submission/Answer/Programming.js
  client/app/api/course/Assessment/Submission/Answer/index.js
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/Java/OnlineEditorJavaView.intl.js
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/Java/OnlineEditorJavaView.jsx
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/containers/ImportedFileView.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/form.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

Model methods in Course::Assessment::Answer::Programming and new Course::Assessment::Answer abilities
  app/models/course/assessment/answer/programming.rb
  app/models/course/assessment/answer/programming_ability.rb
  app/models/course/assessment/assessment_ability.rb
Due: backend

Controller methods for Course::Assessment::Answer::Programming and refactored methods into annotations_controller
  app/controllers/course/assessment/question/programming_controller.rb
  app/controllers/course/assessment/submission/answer/controller.rb
  app/controllers/course/assessment/submission/answer/programming/annotations_controller.rb
  app/controllers/course/assessment/submission/answer/programming/controller.rb
  app/controllers/course/assessment/submission/answer/programming/programming_controller.rb
  config/routes.rb
Due: backend

Changes to rails view partials
  app/services/course/assessment/question/programming/java/java_build.xml
  app/views/course/assessment/question/programming/_programming.json.jbuilder
  app/views/course/assessment/submission/submissions/_questions.json.jbuilder
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
Due: backend

Specs for controller, abilities and features
  spec/controllers/course/assessment/submission/answer/programming/programming_controller_spec.rb
  spec/factories/course_assessment_assessments.rb
  spec/factories/course_assessment_question_programming.rb
  spec/features/course/assessment/answer/programming_file_submission_answer_spec.rb
  spec/fixtures/files/template_file
  spec/fixtures/files/template_file_2
  spec/models/course/assessment/answer/programming_ability_spec.rb
Due: none

Migration to add multiple_file_submission to question_programming
  db/migrate/20180117025350_add_multiple_file_submission_to_question_programming.rb
  db/schema.rb
Due: none

Split ReminderConcern into Opening and Closing ReminderConcerns.
  app/models/concerns/course/closing_reminder_concern.rb
  app/models/concerns/course/opening_reminder_concern.rb
  app/models/concerns/course/reminder_concern.rb
  app/models/course/announcement.rb
Due: backend

Add and fix specs for Announcement emails.
  spec/jobs/course/announcement/opening_reminder_job_spec.rb
  spec/notifiers/course/announcement_notifier_spec.rb
  spec/services/course/announcement/reminder_service_spec.rb
Due: none

Add opening reminder token column to course_announcements.
  db/migrate/20180119064953_add_tokens_to_course_announcements.rb
  db/schema.rb
Due: none

Send announcement emails at announcement start_at.
  app/jobs/course/announcement/opening_reminder_job.rb
  app/models/course/announcement.rb
  app/services/course/announcement/reminder_service.rb
Due: backend

Bundle Update on 2018-01-23
  Gemfile.lock
Due: none

Hold back pg 1.0.0 gem upgrade
  Gemfile
  Gemfile.lock
Due: none

Migrate only java packages for multiple_file_submission
  db/migrate/20180117025350_add_multiple_file_submission_to_question_programming.rb
Due: none

Use stateful components where refs are used
  client/app/bundles/course/assessment/question/scribing/components/FileUploadField.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/index.test.jsx
  client/app/lib/components/redux-form/Toggle.jsx
Due: frontend

Fix frontend lints
  client/app/api/course/Assessment/Submission/Answer/Programming.js
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/assessment/containers/AssessmentForm/actions.js
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/Cpp/OnlineEditorCppView.jsx
  client/app/bundles/course/assessment/question/programming/reducers/programmingQuestionReducer.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanGroup.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/AdminTools.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/MilestoneAdminTools.jsx
  client/app/lib/components/redux-form/__test__/SingleFileInput.test.js
Due: frontend

Fix component keys
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.jsx
  client/app/bundles/course/level/pages/Level/index.jsx
Due: frontend
