Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(rubric-playground): implement model answer field
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/jobs/course/rubric/rubric_evaluation_export_job.rb
  app/models/course/rubric.rb
  app/models/course/rubric/category.rb
  app/models/course/rubric/rubric_adapter.rb
  app/services/course/assessment/answer/prompts/rubric_auto_grading_system_prompt.json
  app/services/course/assessment/question/rubric_based_response/rubric_adapter.rb
  app/services/course/rubric/llm_service.rb
  app/services/course/rubric/llm_service/rubric_adapter.rb
  app/views/course/assessment/question/rubric_based_responses/_form.json.jbuilder
  app/views/course/rubrics/_rubric.json.jbuilder
  client/app/bundles/course/assessment/question/rubric-based-responses/components/AIGradingFields.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/RubricBasedResponseForm.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/operations.ts
  client/app/bundles/course/assessment/question/rubric-playground/RubricEditForm/PlaygroundCategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricEditForm/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/HeaderButton.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/rubric.ts
  client/app/bundles/course/assessment/question/rubric-playground/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/question/rubric-based-responses.ts
  client/app/types/course/rubrics.ts
  db/migrate/20251002070442_add_v2_rubric_grading_tables.rb
  db/schema.rb
Due: frontend, backend

feat(rubric-playground): add evaluation for real answers
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/assessment/answer/rubric_playground_answer_adapter.rb
  app/models/course/rubric/rubric_adapter.rb
  app/views/course/rubrics/_mock_answer_evaluation.json.jbuilder
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/answers.ts
  client/app/bundles/course/assessment/question/rubric-playground/operations/mockAnswers.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): bulk add of student answers
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/lib/components/table/Table.tsx
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/adapters/Handlers.ts
  client/app/lib/components/table/adapters/Table.ts
Due: frontend

feat(rubric-playground): fetch existing evaluations, implement reevaluate / dismiss buttons
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/rubric/answer_evaluation.rb
  app/views/course/assessment/rubrics/fetch_answer_evaluations.json.jbuilder
  app/views/course/assessment/rubrics/fetch_mock_answer_evaluations.json.jbuilder
  client/app/api/course/Assessment/Question/MockAnswers.ts
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/answers.ts
  client/app/bundles/course/assessment/question/rubric-playground/operations/mockAnswers.ts
  client/app/lib/components/table/TanStackTableBuilder/columnsBuilder.ts
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): support bulk evaluation, refactor state data getters into selector
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTableHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/rowEvaluation.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/bundles/course/assessment/question/selectors/rubrics.ts
Due: frontend

feat(rubric-playground): initial commit for rubric v2 APIs
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/controllers/course/rubrics_controller.rb
  app/models/components/course/course_ability_component.rb
  app/models/course.rb
  app/models/course/assessment/answer.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/question.rb
  app/models/course/assessment/question/mock_answer.rb
  app/models/course/assessment/question/question_rubric.rb
  app/models/course/rubric.rb
  app/models/course/rubric/answer_evaluation.rb
  app/models/course/rubric/answer_evaluation/selection.rb
  app/models/course/rubric/category.rb
  app/models/course/rubric/category/criterion.rb
  app/models/course/rubric/mock_answer_evaluation.rb
  app/models/course/rubric/mock_answer_evaluation/selection.rb
  app/views/course/assessment/question/rubric_based_responses/edit.json.jbuilder
  app/views/course/assessment/rubrics/index.json.jbuilder
  app/views/course/rubrics/_rubric.json.jbuilder
  app/views/course/rubrics/index.json.jbuilder
  config/routes.rb
  db/migrate/20251002070442_add_v2_rubric_grading_tables.rb
  db/schema.rb
Due: backend

feat(rubric-playground): poll for export job, display toast message
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/lib/helpers/jobHelpers.ts
Due: frontend

fix(rubric-playground): persist unevaluated rows in BE
  app/controllers/course/assessment/rubrics_controller.rb
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTableHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricEditForm/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/answers.ts
  client/app/bundles/course/assessment/question/rubric-playground/operations/mockAnswers.ts
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

refactor(rubric-based-response): rewrite existing rubric evaluation logic using adapter pattern
  app/services/course/assessment/answer/ai_generated_post_service.rb
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/services/course/assessment/answer/rubric_based_response/answer_adapter.rb
  app/services/course/assessment/question/question_adapter.rb
  app/services/course/assessment/question/rubric_based_response/rubric_adapter.rb
  app/services/course/rubric/llm_service.rb
  app/services/course/rubric/llm_service/answer_adapter.rb
  app/services/course/rubric/llm_service/question_adapter.rb
  app/services/course/rubric/llm_service/rubric_adapter.rb
  spec/services/course/assessment/answer/ai_generated_post_service_spec.rb
  spec/services/course/assessment/answer/rubric_auto_grading_service_spec.rb
  spec/services/course/assessment/answer/rubric_based_response/answer_adapter_spec.rb
  spec/services/course/assessment/question/rubric_based_response/rubric_adapter_spec.rb
  spec/services/course/rubric/llm_service_spec.rb
  spec/support/langchain.rb
Due: backend

feat(rubric-playground): add comparison view between consecutive revisions
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/CategoryGradeCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/utils.ts
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/HeaderButton.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/rowEvaluation.ts
  client/app/types/course/rubrics.ts
Due: frontend

feat(rubric-playground): integrate add sample answers dialog, implement mock answer evaluation APIs
  app/controllers/course/assessment/mock_answers_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/assessment/question/mock_answer/answer_adapter.rb
  app/models/course/rubric/mock_answer_evaluation.rb
  app/models/course/rubric/rubric_adapter.rb
  app/views/course/assessment/mock_answers/index.json.jbuilder
  app/views/course/assessment/rubrics/rubric_answers.json.jbuilder
  app/views/course/rubrics/_answer_evaluation.json.jbuilder
  client/app/api/course/Assessment/Question/MockAnswers.ts
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/api/course/Assessment/Question/index.ts
  client/app/bundles/course/assessment/question/reducers/index.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/CategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/answers.ts
  client/app/bundles/course/assessment/question/rubric-playground/operations/mockAnswers.ts
  client/app/bundles/course/assessment/question/rubric-playground/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/bundles/course/assessment/store.ts
  client/app/lib/components/core/dialogs/Prompt.tsx
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

feat(get-help): limit number of messages per thread
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course/assessment/live_feedback/thread.rb
  app/views/course/assessment/submission/submissions/fetch_live_feedback_chat.json.jbuilder
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ChatInputArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/index.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

fix(rubric-playground): FE tweaks
  client/app/api/course/Assessment/Question/Questions.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTableHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
Due: frontend

fix(get-help): fix handling of expired threads
  app/controllers/concerns/course/assessment/live_feedback/thread_concern.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course/assessment/live_feedback/thread.rb
  app/views/course/assessment/submission/submissions/fetch_live_feedback_chat.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/index.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
Due: frontend, backend

feat(scholaistic): satisfy condition when submission is either submitted or graded
  app/models/course/condition/scholaistic_assessment.rb
Due: backend

feat(rubric-playground): add translation keys
  client/app/bundles/course/assessment/question/rubric-playground/AddAnswersPrompt.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/UnevaluatedCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTableHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricEditForm/PlaygroundCategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricEditForm/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/translations.ts
  client/app/bundles/course/assessment/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

fix(translations): inherit moment locale from config
  client/app/lib/components/wrappers/I18nProvider.tsx
  client/webpack.common.js
Due: frontend

fix(ssid): link assessment UI tweaks
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/plagiarism/components/AssessmentLinkDialog.tsx
  client/app/bundles/course/plagiarism/components/AssessmentLinkList.tsx
  spec/services/course/assessment/answer/rubric_based_response/answer_adapter_spec.rb
Due: frontend

fix(translations): fix incorrect strings on Groups page
  client/locales/ko.json
  client/locales/zh.json
Due: none

fix(translations): add missing table translations
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardManager.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardSummary.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/index.tsx
  client/app/bundles/course/assessment/submission/pages/LogsIndex/LogsHead.tsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/material/folders/components/tables/TableMaterialRow.tsx
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/bundles/course/material/folders/components/tables/WorkbinTable.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/StudentStatisticsTable.tsx
  client/app/bundles/course/video/components/tables/VideoTable.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

fix(translations): add missing get help & statistics menu translations
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/CourseGetHelpFilter.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/CourseGetHelpStatistics.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/CourseGetHelpStatisticsTable.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/index.tsx
  client/app/bundles/system/admin/admin/components/misc/SystemGetHelpFilter.tsx
  client/app/bundles/system/admin/admin/components/tables/SystemGetHelpActivityTable.tsx
  client/app/bundles/system/admin/admin/pages/SystemGetHelpActivityIndex.tsx
  client/app/bundles/system/admin/instance/instance/components/misc/InstanceGetHelpFilter.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InstanceGetHelpActivityTable.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceGetHelpActivityIndex.tsx
  client/app/lib/translations/getHelp.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

fix(translations): add missing statistics translation keys
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackMessageHistory.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionStatus/SubmissionStatusChart.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionWorkflowState.tsx
  client/app/bundles/course/assessment/submission/pages/LogsIndex/LogsHead.tsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/system/admin/admin/pages/SystemGetHelpActivityIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceGetHelpActivityIndex.tsx
  client/app/lib/components/table/MuiTableAdapter/MuiTablePagination.tsx
  client/app/lib/components/table/MuiTableAdapter/translations.ts
  client/app/types/course/assessment/submission/submission.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(rubric-playground): improvements to rubric playground page
  client/app/bundles/course/assessment/question/rubric-playground/AddAnswersPrompt.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

fix(html-formatters): gracefully handle oembed errors
  app/controllers/course/assessment/assessments_controller.rb
  app/controllers/course/assessment/question/forum_post_responses_controller.rb
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  app/controllers/course/assessment/question/text_responses_controller.rb
  app/helpers/application_html_formatters_helper.rb
  app/views/course/assessment/assessments/show.json.jbuilder
  app/views/course/assessment/question/_form.json.jbuilder
Due: backend

fix(codaveri): fix parsing of assertEqual test cases with hints
  app/services/course/assessment/question/programming_codaveri/python/python_package_service.rb
  spec/services/course/assessment/question/programming_codaveri/python/python_package_service_spec.rb
Due: backend

feat(i18n): update codaveri settings translations
  client/app/bundles/course/admin/pages/CodaveriSettings/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(get-help): add usage limit configuration option
  app/controllers/concerns/course/assessment/live_feedback/thread_concern.rb
  app/controllers/course/admin/codaveri_settings_controller.rb
  app/controllers/course/assessment/submission/live_feedback_controller.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course.rb
  app/models/course/assessment/live_feedback/thread.rb
  app/models/course/settings/codaveri_component.rb
  app/views/course/admin/codaveri_settings/edit.json.jbuilder
  app/views/course/assessment/submission/submissions/create_live_feedback_chat.json.jbuilder
  app/views/course/assessment/submission/submissions/fetch_live_feedback_chat.json.jbuilder
  app/views/course/assessment/submission/submissions/fetch_live_feedback_status.json.jbuilder
  client/app/bundles/course/admin/pages/CodaveriSettings/components/forms/CodaveriSettingsForm.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/operations.ts
  client/app/bundles/course/admin/pages/CodaveriSettings/translations.ts
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ChatInputArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ConversationArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/index.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  client/app/types/course/admin/codaveri.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/models/course/settings/codaveri_component_spec.rb
Due: frontend, backend

feat(ssid): toggle display of self-plagiarism pairs
  app/views/course/plagiarism/assessments/plagiarism_data.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentPlagiarism/PlagiarismResultsTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend
