Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Remove simple_format monkey patch
  app/helpers/application_formatters_helper.rb
  app/helpers/application_html_formatters_helper.rb
  app/mailers/activity_mailer.rb
  app/views/course/assessment/answer/programming/_test_cases_of_type.html.slim
  app/views/notifiers/course/announcement_notifier/new/course_notifications/email.html.slim
  app/views/notifiers/course/forum/post_notifier/replied/user_notifications/email.html.slim
  app/views/notifiers/course/forum/topic_notifier/created/user_notifications/email.html.slim
  config/locales/en/notifiers/course/forum/post_notifier/replied/user_notifications/email.yml
  config/locales/en/notifiers/course/forum/topic_notifier/created/user_notifications/email.yml
  spec/helpers/application_formatters_helper_spec.rb
Due: backend

Fix random failure in lesson plan milestone deletion
  spec/features/course/lesson_plan_milestone_management_spec.rb
Due: none

Clear frontend lint warnings
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditorPythonView.jsx
  client/app/bundles/course/assessment/submission/calculate-grade-exp.js
  client/app/lib/helpers/url-helpers.js
Due: frontend

Do not show buttons on survey ResponseShow page when it is loading
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
  client/app/bundles/course/survey/pages/ResponseShow/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
Due: frontend

Display current course start time on duplication page
  app/controllers/course/duplications_controller.rb
  app/models/course.rb
  app/services/course/duplication/course_duplication_service.rb
  app/views/course/duplications/show.html.slim
  config/locales/en/course/duplications.yml
  spec/features/course/duplication_spec.rb
  spec/services/course/duplication/course_duplication_service_spec.rb
Due: backend

Always permit anonymous param for survey creation
  app/controllers/course/survey/surveys_controller.rb
Due: backend

Allow skill descriptions to be blank
  db/migrate/20170426024809_remove_constraint_in_skills.rb
  db/schema.rb
Due: none

Add tests for surveys controller
  spec/controllers/course/survey/surveys_controller_spec.rb
Due: none

Add indicator for required survey questions on SurveyShow and SurveyResults
  client/app/bundles/course/survey/pages/SurveyResults/ResultsQuestion.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/QuestionCard.jsx
  client/app/lib/translations/form.jsx
Due: frontend

Add action buttons to top of section card for SurveyShow
  client/app/bundles/course/survey/pages/SurveyShow/Section/SectionCard.jsx
Due: frontend

Whitelist underline tag for Summernote editor
  app/helpers/application_html_formatters_helper.rb
Due: backend

Fix missing topic title in post reply notification email
  app/views/notifiers/course/forum/post_notifier/replied/user_notifications/email.html.slim
Due: backend

Bundle Update on 2017-05-03
  Gemfile.lock
Due: none

Add responses statistics to SurveyResults show responses button
  client/app/bundles/course/survey/pages/SurveyResults/ResultsQuestion.jsx
Due: frontend

Show respondent names for text responses in survey results if not anonymous
  client/app/bundles/course/survey/pages/SurveyResults/ResultsQuestion.jsx
  client/app/bundles/course/survey/pages/SurveyResults/ResultsSection.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/ResultsQuestion.test.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/index.test.js
  client/app/bundles/course/survey/pages/SurveyResults/index.jsx
Due: frontend

Include phantom student in survey results by default
  client/app/bundles/course/survey/pages/SurveyResults/__test__/index.test.js
  client/app/bundles/course/survey/pages/SurveyResults/index.jsx
Due: frontend

Show respondent for each option in survey results when not anonymous
  app/views/course/survey/surveys/results.json.jbuilder
  client/app/api/course/Survey/Surveys.js
  client/app/bundles/course/survey/pages/SurveyResults/ResultsQuestion.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/ResultsQuestion.test.jsx
  client/app/bundles/course/survey/reducers/results.js
  client/app/bundles/course/survey/utils/index.js
  spec/controllers/course/survey/surveys_controller_spec.rb
Due: frontend, backend

Split survey ResultQuestions component
  client/app/bundles/course/survey/pages/SurveyResults/OptionsQuestionResults.jsx
  client/app/bundles/course/survey/pages/SurveyResults/ResultsQuestion.jsx
  client/app/bundles/course/survey/pages/SurveyResults/TextResponseResults.jsx
Due: frontend

Refactor course and instance component settings feature
  app/controllers/components/course/controller_component_host.rb
  app/controllers/course/admin/component_settings_controller.rb
  app/controllers/system/admin/instance/components_controller.rb
  app/models/concerns/component_settings_concern.rb
  app/models/concerns/effective_settings_concern.rb
  app/models/concerns/settings_concern.rb
  app/models/course/settings.rb
  app/models/course/settings/components.rb
  app/models/course/settings/effective.rb
  app/models/instance/settings.rb
  app/models/instance/settings/components.rb
  app/models/instance/settings/effective.rb
  app/models/pseudo/boolean_value.rb
  app/models/settings.rb
  app/views/course/admin/component_settings/edit.html.slim
  app/views/system/admin/instance/components/edit.html.slim
  spec/controllers/course/admin/component_settings_controller_spec.rb
  spec/controllers/system/admin/instance/components_controller_spec.rb
  spec/features/course/admin/component_settings_spec.rb
  spec/features/system/admin/components_settings_spec.rb
  spec/models/concerns/component_settings_concerns.rb
  spec/models/concerns/effective_settings_concern_spec.rb
  spec/models/concerns/settings_concern_spec.rb
Due: backend

Do not show components that cannot be disabled in instance admin components page
  app/controllers/components/course/controller_component_host.rb
  app/views/system/admin/instance/components/edit.html.slim
  spec/components/course/controller_component_host_spec.rb
  spec/features/system/admin/components_settings_spec.rb
Due: backend

Remove Course::ControllerComponentHost#disabled_components
  app/controllers/components/course/controller_component_host.rb
  spec/components/course/controller_component_host_spec.rb
Due: backend

Modify all render status: :bad_request to head :bad_request.
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/controllers/course/assessment/submission_question/comments_controller.rb
  app/controllers/course/discussion/posts_controller.rb
  app/controllers/course/discussion/topics_controller.rb
Due: backend

Modify controller action to only return status 400
  app/controllers/course/assessment/submission/answer/programming/annotations_controller.rb
Due: backend

yarn add react-router-dom
  client/package.json
  client/yarn.lock
Due: none

Do not injectIntl for SurveyIndex page table
  client/app/bundles/course/survey/pages/SurveyIndex/SurveysTable.jsx
Due: frontend

Setup global history interface for frontend
  client/app/lib/history.js
  client/package.json
  client/yarn.lock
Due: frontend

yarn remove react-router
  client/package.json
  client/yarn.lock
Due: none

Add tests for SurveyLayout
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/AdminMenu.test.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/__snapshots__/AdminMenu.test.jsx.snap
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/index.test.jsx
Due: frontend

Migrate LessonPlan to react-router v4
  client/app/bundles/course/lesson-plan/containers/LessonPlan.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanContainer.jsx
Due: frontend

Migrate survey frontend to react-router v4
  client/.eslintrc.test
  client/app/__test__/setup.js
  client/app/bundles/course/survey/__test__/index.test.js
  client/app/bundles/course/survey/actions/responses.js
  client/app/bundles/course/survey/actions/surveys.js
  client/app/bundles/course/survey/containers/RespondButton.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/AdminMenu.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/index.jsx
  client/app/bundles/course/survey/containers/SurveysLayout/DeleteConfirmation.jsx
  client/app/bundles/course/survey/containers/SurveysLayout/index.jsx
  client/app/bundles/course/survey/pages/ResponseEdit/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseEdit/index.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/__test__/RemindButton.test.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
  client/app/bundles/course/survey/pages/ResponseShow/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/SurveysTable.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/NewSurveyButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/index.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/ResultsQuestion.test.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/index.test.js
  client/app/bundles/course/survey/pages/SurveyResults/index.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/DeleteSectionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/EditSectionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/MoveDownButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/MoveUpButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/NewQuestionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/SurveyDetails.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/NewSectionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/index.jsx
  client/app/bundles/course/survey/routes.jsx
  client/app/bundles/course/survey/surveys.jsx
Due: frontend

Do not award bonus points if allow_response_after_end is false and end_at is nil
  app/models/course/survey/response.rb
  spec/controllers/course/survey/responses_controller_spec.rb
  spec/models/course/survey/response_spec.rb
Due: backend

Redirect to response edit page after survey response creation
  app/controllers/course/survey/responses_controller.rb
  app/views/course/survey/responses/_see_other.json.jbuilder
  client/app/api/course/Survey/Responses.js
  client/app/bundles/course/survey/actions/__test__/responses.test.js
  client/app/bundles/course/survey/actions/responses.js
  client/app/bundles/course/survey/containers/RespondButton/__test__/index.test.jsx
  client/app/bundles/course/survey/containers/RespondButton/index.jsx
  spec/controllers/course/survey/responses_controller_spec.rb
Due: frontend, backend

Globally disable react/no-danger linter
  client/.eslintrc
  client/app/bundles/course/assessment/question/programming/components/UploadedPackageTemplateView.jsx
  client/app/bundles/course/lesson-plan/components/LessonPlanItem.jsx
  client/app/bundles/course/lesson-plan/components/LessonPlanItemEdit.jsx
  client/app/bundles/course/lesson-plan/components/LessonPlanMilestone.jsx
Due: frontend

Allow rich text for survey, section and question descriptions
  app/views/course/survey/questions/_question.json.jbuilder
  app/views/course/survey/responses/_answer.json.jbuilder
  app/views/course/survey/responses/_response.json.jbuilder
  app/views/course/survey/sections/_section.json.jbuilder
  app/views/course/survey/surveys/_survey.json.jbuilder
  app/views/course/survey/surveys/results.json.jbuilder
  client/app/bundles/course/survey/containers/ResponseForm/ResponseAnswer.jsx
  client/app/bundles/course/survey/containers/ResponseForm/ResponseSection.jsx
  client/app/bundles/course/survey/pages/ResponseEdit/index.jsx
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
  client/app/bundles/course/survey/pages/SurveyResults/ResultsQuestion.jsx
  client/app/bundles/course/survey/pages/SurveyResults/ResultsSection.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/QuestionCard.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/SectionCard.jsx
  client/app/bundles/course/survey/pages/SurveyShow/SurveyDetails.jsx
Due: frontend, backend

Bundle Update on 2017-05-08
  Gemfile.lock
Due: none

Disable survey response form when it is being submitted
  client/app/bundles/course/survey/containers/ResponseForm/index.jsx
  client/app/bundles/course/survey/reducers/responseForm.js
Due: frontend

Add links to individual student responses from survey results page
  app/views/course/survey/surveys/results.json.jbuilder
  client/app/api/course/Survey/Surveys.js
  client/app/bundles/course/survey/pages/SurveyResults/OptionsQuestionResults.jsx
  client/app/bundles/course/survey/pages/SurveyResults/TextResponseResults.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/ResultsQuestion.test.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/index.test.js
  spec/controllers/course/survey/surveys_controller_spec.rb
Due: frontend, backend

Standardise frontend date and time formatting
  client/app/bundles/course/assessment/containers/MaterialUploader/Material.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
  client/app/bundles/course/lesson-plan/components/LessonPlanItem.jsx
  client/app/bundles/course/lesson-plan/components/LessonPlanMilestone.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/NewSurveyButton.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/SurveysTable.jsx
  client/app/bundles/course/survey/pages/SurveyShow/SurveyDetails.jsx
  client/app/lib/date-time-defaults.js
  client/app/lib/helpers/viewport.js
  client/app/lib/moment.js
Due: frontend

Hide unsubmit button when survey response not submitted for administrators
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
Due: frontend

Do not use `@response` directly for survey response JSON partial
  app/views/course/survey/responses/_response.json.jbuilder
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
