Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Reduce summernote toolbar height
  client/app/lib/styles/MaterialSummernote.scss
Due: frontend

Fix feature spec for new assessment.
  spec/features/course/assessment_management_spec.rb
Due: none

Make end_at field in LessonPlanEdit page clearable.
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/DateCell.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/ItemRow.test.jsx
Due: frontend

Integrate material-ui-pickers with AssessmentEdit.
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/lib/components/form/DateTimePicker.jsx
Due: frontend

Set time in NewSurveyButton test.
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.js
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/NewSurveyButton.test.jsx
  client/package.json
Due: frontend

Add button to toggle CommentField
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
Due: frontend

Remove outdated comment about using custom Rails.
  Gemfile
Due: none

Disable Summernote airMode for NarrowEditor
  client/app/bundles/course/assessment/submission/components/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/CommentField.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
Due: frontend

Encode non-ISO-8859-1 filename in attachment url
  app/uploaders/file_uploader.rb
Due: backend

Remove instance_user_invitations table from schema.rb
  db/schema.rb
Due: none

Exclude author's own view from forum topic's view_count
  app/models/course/forum/topic.rb
Due: backend

Sanitize discussion posts before saving to database.
  app/controllers/course/forum/posts_controller.rb
  app/models/course/discussion/post.rb
Due: backend

Add tests for discussion post sanitization.
  spec/controllers/course/forum/posts_controller_spec.rb
  spec/models/course/discussion/post_spec.rb
Due: none

Check queried array instead of re-query
  app/models/concerns/course/video/watch_statistics_concern.rb
Due: backend

Hide selector menu items for object types not supported by destination.
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelectorMenu/index.jsx
Due: frontend

Fix assessments past answers loading
  app/controllers/course/assessment/submission_question/submission_questions_controller.rb
Due: backend

Use chartjs' default axis stepsize
  client/app/bundles/course/video/submission/containers/Charts/HeatMap.jsx
Due: frontend

Fork Rails to apply security fixes
  Gemfile
  Gemfile.lock
Due: none

Display first tab as active even if URL has no tab param.
  app/helpers/course/assessment/assessments_helper.rb
Due: backend

Simplify video events query
  app/models/concerns/course/video/interval_query_concern.rb
Due: backend

Calculate start/end_times arrays in Ruby instead of sql
  app/models/concerns/course/video/watch_statistics_concern.rb
Due: backend

Use ruby interval calculation in watch_frequency
  app/models/concerns/course/video/watch_statistics_concern.rb
Due: backend

Remove sql-based scopes and methods
  app/models/concerns/course/video/interval_query_concern.rb
  app/models/concerns/course/video/watch_statistics_concern.rb
  spec/models/course/video/event_spec.rb
Due: backend

Add spec for all_start_and_end_events
  spec/models/course/video/event_spec.rb
Due: none

Migration + models for personal times
  app/models/course/lesson_plan/item.rb
  app/models/course/personal_time.rb
  app/models/course/reference_time.rb
  app/models/course/reference_timeline.rb
  app/models/course_user.rb
  config/locales/en/activerecord/course_user.yml
  db/migrate/20181130061333_add_personal_times.rb
  db/schema.rb
Due: backend

Fixed + naive algorithm
  app/controllers/concerns/course/lesson_plan/personalization_concern.rb
  app/models/course_user.rb
Due: backend

Freeze and recompute personal times on submit
  app/models/concerns/course/assessment/submission/workflow_event_concern.rb
Due: backend

Add tests for Course::LessonPlan::Item scopes
  app/models/course/lesson_plan/item.rb
  spec/models/course/lesson_plan/lesson_plan_item_spec.rb
Due: backend

Fix typo for survey question types
  client/app/bundles/course/survey/translations.js
Due: frontend

Handle video duration update in session controller
  app/controllers/course/video/submission/sessions_controller.rb
Due: backend

Migration to add video duration
  db/migrate/20181204070041_add_duration_to_course_videos.rb
  db/schema.rb
Due: none

Add spec to cover video duration update
  client/app/bundles/course/video/submission/actions/__test__/video.test.js
  spec/controllers/course/video/submission/sessions_controller_spec.rb
Due: frontend

Include video duration in session update request from frontend
  client/app/api/course/Video/Sessions.js
  client/app/bundles/course/video/submission/actions/video.js
Due: frontend

Mark video as uncached when watched
  app/controllers/course/video/submission/sessions_controller.rb
Due: backend

Initialize new statistic on video creation
  app/models/course/video.rb
Due: backend

Migration to add video statistic table
  db/migrate/20181206042524_create_course_video_statistics.rb
  db/schema.rb
Due: none

Add video statistic model
  app/models/course/video.rb
  app/models/course/video/statistic.rb
  app/models/course/video/submission.rb
Due: backend

Create sidekiq job to update video cache everyday
  app/jobs/video_statistic_update_job.rb
  config/initializers/sidekiq.rb
  config/schedule.yml
Due: backend

Fix bug with returning frozen hash
  app/models/course/lesson_plan/item.rb
Due: backend

Use personal times for opening reminders
  app/mailers/consolidated_opening_reminder_mailer.rb
  app/models/course/lesson_plan/item.rb
  app/notifiers/course/consolidated_opening_reminder_notifier.rb
Due: backend
