Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

fix(sign_out): invalidate cookie server-side on user sign out
  app/controllers/access_token_controller.rb
  client/app/lib/components/wrappers/AuthProvider.tsx
  client/app/utilities/authentication.ts
  config/routes.rb
  spec/requests/access_token_spec.rb
  spec/requests/sidekiq_web_spec.rb
  spec/support/access_token_cookie.rb
  spec/support/authentication_performers.rb
  tests/helpers.ts
  tests/tests/courses/landing-page-auth.spec.ts
Due: frontend, backend

feat(submission): offload background operations from finalise transaction
  app/jobs/course/assessment/submission/publish_task_completion_job.rb
  app/jobs/course/lesson_plan/personalized_timeline_update_job.rb
  app/models/concerns/course/assessment/submission/cikgo_task_completion_concern.rb
  app/models/concerns/course/assessment/submission/notification_concern.rb
  app/models/concerns/course/assessment/submission/workflow_event_concern.rb
  spec/controllers/concerns/course/lesson_plan/personalization_concern_spec.rb
  spec/jobs/course/assessment/submission/publish_task_completion_job_spec.rb
  spec/jobs/course/lesson_plan/personalized_timeline_update_job_spec.rb
  spec/models/course/assessment/submission_spec.rb
  spec/support/active_job.rb
Due: backend

fix(submission): manage behaviors when observing other users' submissions
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/components/ProgressPanel.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/ObservingAttemptAlert.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/__test__/ObservingAttemptAlert.test.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/ActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/controllers/course/assessment/submission/late_submission_spec.rb
Due: frontend, backend

feat(programming): add model to explicitly track upgrade to newer language versions
  app/models/course/assessment/question/programming.rb
  app/models/course/assessment/question/programming_upgrade.rb
  db/migrate/20260914000000_create_course_assessment_question_programming_upgrades.rb
  db/schema.rb
  lib/extensions/polyglot_with_database/coursemology/polyglot/language.rb
  lib/tasks/db/set_polyglot_language_flags.rake
  lib/tasks/db/set_polyglot_language_weights.rake
  spec/factories/course_assessment_question_programming_upgrades.rb
  spec/libraries/polyglot_spec.rb
  spec/models/course/assessment/question/programming_upgrade_spec.rb
Due: backend

feat(programming): BE controllers and wiring for programming question upgrade page
  app/controllers/components/course/assessments_component.rb
  app/controllers/course/programming_upgrade/controller.rb
  app/controllers/course/programming_upgrade/questions_controller.rb
  app/models/components/course/assessments_ability_component.rb
  app/models/course/assessment/question/programming.rb
  app/models/course/assessment/question/programming_upgrade.rb
  app/services/course/assessment/question/programming_upgrade_service.rb
  app/views/course/programming_upgrade/questions/_language.json.jbuilder
  app/views/course/programming_upgrade/questions/_upgrade.json.jbuilder
  app/views/course/programming_upgrade/questions/index.json.jbuilder
  app/views/course/programming_upgrade/questions/upgrades.json.jbuilder
  client/app/bundles/course/translations.ts
  client/app/lib/constants/icons.ts
  config/routes.rb
  lib/extensions/polyglot_with_database/coursemology/polyglot/language.rb
  spec/controllers/course/programming_upgrade/questions_controller_spec.rb
  spec/models/course/assessment/question/programming_upgrade_spec.rb
  spec/services/course/assessment/question/programming_upgrade_service_spec.rb
Due: frontend, backend

frontend checkpoint
  app/controllers/course/programming_upgrade/questions_controller.rb
  client/app/api/course/ProgrammingUpgrade.ts
  client/app/api/course/index.js
  client/app/bundles/course/programming-upgrade/QuestionsTable.tsx
  client/app/bundles/course/programming-upgrade/StatusChip.tsx
  client/app/bundles/course/programming-upgrade/__test__/QuestionsTable.test.tsx
  client/app/bundles/course/programming-upgrade/constants.ts
  client/app/bundles/course/programming-upgrade/index.tsx
  client/app/bundles/course/programming-upgrade/operations.ts
  client/app/bundles/course/programming-upgrade/status.ts
  client/app/bundles/course/programming-upgrade/translations.ts
  client/app/routers/course/index.tsx
  client/app/routers/course/programmingUpgrade.tsx
  client/app/types/course/programmingUpgrade.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  lib/extensions/polyglot_with_database/coursemology/polyglot/language.rb
  spec/controllers/course/programming_upgrade/questions_controller_spec.rb
Due: frontend, backend

style: resolve programming service and new rubocop nags
  .rubocop_todo.yml
  app/controllers/concerns/course/assessment/question_bundle_assignment_concern.rb
  app/models/course/external_assessment.rb
  app/services/course/assessment/question/programming/c_sharp/c_sharp_package_service.rb
  app/services/course/assessment/question/programming/cpp/cpp_package_service.rb
  app/services/course/assessment/question/programming/go/go_package_service.rb
  app/services/course/assessment/question/programming/java/java_package_service.rb
  app/services/course/assessment/question/programming/java_script/java_script_package_service.rb
  app/services/course/assessment/question/programming/python/python_package_service.rb
  app/services/course/assessment/question/programming/r/r_package_service.rb
  app/services/course/assessment/question/programming/rust/rust_package_service.rb
  app/services/course/assessment/question/programming/type_script/type_script_package_service.rb
  app/services/course/gradebook/external_assessment_import_service.rb
  config/initializers/action_cable_acts_as_tenant.rb
  lib/autoload/course/assessment/java/java_programming_test_case_report.rb
  lib/tasks/coursemology/seed_600_gradebook.rake
  lib/tasks/coursemology/seed_gradebook.rake
  spec/jobs/course/assessment/answer/programming_codaveri_feedback_job_spec.rb
  spec/services/course/assessment/answer/programming_codaveri_auto_grading_service_spec.rb
  spec/services/course/assessment/programming_codaveri_evaluation_service_spec.rb
Due: backend

test(admin): resolve flaky specs
  spec/CLAUDE.md
  spec/README.md
  spec/features/system/admin/instance_management_spec.rb
  spec/features/system/admin/user_management_spec.rb
  spec/support/capybara.rb
Due: none

style: resolve rubocop spec nags
  .rubocop_todo.yml
  app/mailers/course/mailer.rb
  spec/controllers/course/external_assessment_imports_controller_spec.rb
  spec/controllers/course/external_assessments_controller_spec.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/features/course/forum/post_management_spec.rb
  spec/features/course/leaderboard_viewing_spec.rb
  spec/helpers/application_notifications_helper_spec.rb
  spec/helpers/consolidated_opening_reminder_mailer_helper_spec.rb
  spec/helpers/course/achievement/controller_helper_spec.rb
  spec/libraries/materials_spec.rb
  spec/mailers/course/mailer_spec.rb
  spec/models/course/assessment/assessment_ability_spec.rb
  spec/models/course/settings/assessments_component_spec.rb
  spec/models/course/settings/codaveri_component_spec.rb
  spec/models/course/settings/gradebook_component_spec.rb
  spec/models/course/settings/survey_component_spec.rb
  spec/models/course/settings/videos_component_spec.rb
  spec/services/course/assessment/submission/statistics_download_service_spec.rb
  spec/services/course/user_invitation_service_spec.rb
  spec/support/settings_on_rails.rb
  spec/uploaders/image_uploader_spec.rb
Due: backend

chore(deps): bump react-router-dom from 6.30.4 to 6.30.6
  client/app/routers/AuthenticatedApp.tsx
  client/app/routers/UnauthenticatedApp.tsx
  client/app/routers/future.ts
  client/package.json
  client/yarn.lock
Due: frontend

test(playwright): resolve flaky landing-page and registration specs
  app/controllers/test/mailer_controller.rb
  config/routes.rb
  tests/helpers.ts
  tests/tests/courses/landing-page-auth.spec.ts
  tests/tests/courses/registration.spec.ts
  tests/tests/users/sign-up.spec.ts
Due: backend

chore(deps): resolve frontend dependency vulnerabilities
  client/yarn.lock
Due: none

style(programming): rename javascript -> typescript converted files
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/__test__/TestCases.test.tsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.tsx
  spec/helpers/course/assessment/answer/programming_test_case_helper_spec.rb
Due: frontend

refactor(programming): unify and convert test case views to TS
  app/helpers/course/assessment/answer/programming_test_case_helper.rb
  app/models/course/assessment/question/programming.rb
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  app/views/course/assessment/answer/programming/_test_case.json.jbuilder
  app/views/course/assessment/answer/programming/_test_result.json.jbuilder
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/OutputStream.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/TestCaseRow.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/TestCases.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/__test__/TestCases.test.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/translations.ts
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.tsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/gradingResults.ts
  client/app/bundles/course/assessment/submission/reducers/index.js
  client/app/bundles/course/assessment/submission/reducers/testCases.js
  client/app/types/course/assessment/submission/answer/programming.ts
  client/app/types/course/statistics/answer.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/helpers/course/assessment/answer/programming_test_case_helper_spec.rb
Due: frontend, backend

fix(permissions): give instance admins the assessment abilities of a course owner
  app/models/course/assessment/assessment_ability.rb
  spec/models/course/assessment/assessment_ability_spec.rb
Due: backend

feat(rubric-grading): add support for auto-publish AI feedback
  app/controllers/course/admin/assessment_settings_controller.rb
  app/jobs/course/rubric/apply_evaluations_job.rb
  app/models/course.rb
  app/models/course/assessment/submission.rb
  app/services/course/assessment/answer/ai_generated_post_service.rb
  app/views/course/admin/assessment_settings/edit.json.jbuilder
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/bundles/course/admin/pages/CodaveriSettings/translations.ts
  client/app/types/course/admin/assessments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/controllers/course/admin/assessment_settings_controller_spec.rb
  spec/models/course/assessment/submission_spec.rb
  spec/models/course_spec.rb
  spec/services/course/assessment/answer/ai_generated_post_service_spec.rb
Due: frontend, backend

refactor(comments): refactor comment UI to TypeScript
  client/app/bundles/course/assessment/submission/components/comment/AiFeedbackCommentCard.tsx
  client/app/bundles/course/assessment/submission/components/comment/CommentCard.tsx
  client/app/bundles/course/assessment/submission/containers/Comments.tsx
  client/app/bundles/course/assessment/submission/reducers/__test__/commentForms.test.ts
  client/app/bundles/course/assessment/submission/reducers/commentForms.ts
  client/app/bundles/course/assessment/submission/selectors/commentForms.ts
  client/app/bundles/course/assessment/submission/selectors/comments.ts
  spec/features/course/assessment/submission/manually_graded_spec.rb
Due: frontend

refactor(rubric-grading): remove auto_gradable status mask and refine payload actions
  app/models/concerns/course/assessment/questions_concern.rb
  app/views/course/assessment/answer/_ai_generated_comment.json.jbuilder
  app/views/course/assessment/answer/_rubric_explanation.json.jbuilder
  app/views/course/assessment/answer/forum_post_responses/_forum_post_response.json.jbuilder
  app/views/course/assessment/answer/rubric_based_responses/_rubric_based_response.json.jbuilder
  app/views/course/assessment/question/rubric_based_responses/_rubric_based_response.json.jbuilder
  app/views/course/assessment/submission/submissions/_question.json.jbuilder
  app/views/course/discussion/posts/_post.json.jbuilder
  app/views/course/forum/posts/_post_list_data.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/answers/RubricBasedResponse/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/adapters/RubricBasedResponseAdapter.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/ExplanationPanel.tsx
  client/app/bundles/course/assessment/submission/reducers/gradingResults.ts
  client/app/types/course/assessment/submission/question/types.ts
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
  spec/controllers/course/forum/topics_controller_spec.rb
  spec/models/course/assessment_spec.rb
Due: frontend, backend

style(submissions): rename javascript -> typescript converted files
  client/app/bundles/course/assessment/submission/components/comment/CommentCard.tsx
  client/app/bundles/course/assessment/submission/containers/Comments.tsx
  client/app/bundles/course/assessment/submission/reducers/commentForms.ts
  client/app/bundles/course/assessment/submission/reducers/posts.ts
  client/app/bundles/course/assessment/submission/reducers/topics.ts
Due: frontend

refactor(submissions): convert posts and topics reducers to TypeScript
  client/app/bundles/course/assessment/submission/reducers/__test__/posts.test.ts
  client/app/bundles/course/assessment/submission/reducers/__test__/topics.test.ts
  client/app/bundles/course/assessment/submission/reducers/gradingResults.ts
  client/app/bundles/course/assessment/submission/reducers/posts.ts
  client/app/bundles/course/assessment/submission/reducers/topics.ts
  client/app/bundles/course/assessment/submission/types.ts
  client/app/bundles/course/assessment/utils/matchers.ts
Due: frontend

style(submissions): convert files to TypeScript
  client/app/bundles/course/assessment/submission/actions/jobs.js
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/translations.ts
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

feat(rubric-grading): mass publish existing AI feedback button
  app/controllers/course/assessment/assessments_controller.rb
  app/models/course/assessment/submission.rb
  app/services/course/assessment/answer/ai_generated_post_service.rb
  client/app/api/course/Assessment/Assessments.js
  client/app/bundles/course/assessment/submission/actions/__test__/aiFeedback.test.ts
  client/app/bundles/course/assessment/submission/actions/aiFeedback.ts
  client/app/bundles/course/assessment/submission/actions/jobs.js
  client/app/bundles/course/assessment/submission/actions/requests.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/translations.ts
  client/app/types/course/assessment/submission/submission-question.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  spec/controllers/course/assessment/assessments_controller_spec.rb
Due: frontend, backend
