Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(marketplace): track adoptions through a course roll-forward
  app/models/course/assessment.rb
  app/services/course/duplication/base_service.rb
  spec/jobs/course/assessment/marketplace/duplication_job_spec.rb
  spec/models/course/assessment_spec.rb
Due: backend

fix(programming): fix crash on import package with nested directories
  lib/autoload/course/assessment/programming_package.rb
  spec/fixtures/course/programming_question_template_nested_directories.zip
  spec/libraries/course/assessment/programming_package_spec.rb
Due: backend

style(programming): linting fixes
  .rubocop_todo.yml
  app/services/course/assessment/question/programming/java/java_package_service.rb
  app/services/course/assessment/question/programming_codaveri/java/java_package_service.rb
  app/services/course/assessment/question/programming_codaveri/python/python_package_service.rb
  app/services/course/assessment/question/programming_import_service.rb
  spec/libraries/course/assessment/programming_package_spec.rb
  spec/services/course/assessment/question/programming_codaveri/java/java_package_service_spec.rb
Due: backend

fix(rubric-grading): minor fixes
  app/models/concerns/course/assessment/submission/answers_concern.rb
  app/models/course/assessment/answer/rubric_based_response.rb
  app/models/course/assessment/question.rb
  app/models/course/assessment/question/forum_post_response.rb
  app/models/course/assessment/question/text_response.rb
  spec/factories/course_assessment_answer_rubric_based_response.rb
  spec/factories/course_assessment_answer_rubric_based_response_selection.rb
  spec/models/course/assessment/question/forum_post_response_spec.rb
  spec/models/course/assessment/question/grading_context_spec.rb
Due: backend

feat(rubric-grading): add course-wide rubric grading prompt in assessment settings
  app/controllers/course/admin/assessment_settings_controller.rb
  app/models/course.rb
  app/models/course/rubric/rubric_adapter.rb
  app/views/course/admin/assessment_settings/edit.json.jbuilder
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/types/course/admin/assessments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/controllers/course/admin/assessment_settings_controller_spec.rb
  spec/models/course/rubric/rubric_adapter_spec.rb
Due: frontend, backend

feat(submissions): add flag to allow/block students from submissions past deadline
  app/controllers/course/assessment/assessments_controller.rb
  app/models/concerns/course/assessment/submission/workflow_event_concern.rb
  app/models/course/assessment.rb
  app/models/course/assessment/submission.rb
  app/views/course/assessment/assessments/edit.json.jbuilder
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
  client/app/bundles/course/assessment/components/AssessmentForm/useFormValidation.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/utils/timer.ts
  db/migrate/20260804222525_add_late_submission_support.rb
  db/schema.rb
  spec/models/course/assessment/late_submission_spec.rb
Due: frontend, backend

feat(submissions): adapt frontend controls for force-submitted submissions
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/components/WarningDialog.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  client/app/bundles/course/assessment/submission/utils/__test__/timer.test.ts
  client/app/bundles/course/assessment/submission/utils/timer.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

feat(submissions): notify users of attempt block in assessment UI
  app/views/course/assessment/assessments/_assessment_actions.json.jbuilder
  app/views/course/assessment/assessments/show.json.jbuilder
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowHeader.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/ActionButtons.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/__test__/ActionButtons.test.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/assessments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/locales/en/course/assessment/submission/submissions.yml
  config/locales/ko/course/assessment/submission/submissions.yml
  config/locales/zh/course/assessment/submission/submissions.yml
Due: frontend, backend

feat(submissions): rework backend implementation for time-based force-submission
  app/controllers/concerns/course/assessment/submission_concern.rb
  app/controllers/course/assessment/submission/answer/answers_controller.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/jobs/course/assessment/submission/force_submit_timed_submission_job.rb
  app/jobs/course/assessment/submission/schedule_expiring_submissions_job.rb
  app/models/course/assessment.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/submission.rb
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  config/locales/en/course/assessment/submission/submissions.yml
  config/locales/ko/course/assessment/submission/submissions.yml
  config/locales/zh/course/assessment/submission/submissions.yml
  config/schedule.yml
  spec/controllers/course/assessment/submission/late_submission_spec.rb
  spec/jobs/course/assessment/submission/force_submit_timed_submission_job_spec.rb
  spec/jobs/course/assessment/submission/schedule_expiring_submissions_job_spec.rb
  spec/models/course/assessment/late_submission_ability_spec.rb
  spec/models/course/assessment/late_submission_spec.rb
  spec/models/course/assessment/submission_force_submit_spec.rb
Due: backend

feat(submissions): instructor-facing enhancements
  app/models/course/assessment/submission.rb
  app/views/course/assessment/assessments/_assessment_actions.json.jbuilder
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  spec/controllers/course/assessment/submission/late_submission_spec.rb
  spec/jobs/course/assessment/submission/force_submit_timed_submission_job_spec.rb
  spec/jobs/course/assessment/submission/schedule_expiring_submissions_job_spec.rb
  spec/models/course/assessment/submission_force_submit_spec.rb
Due: frontend, backend

fix(submissions): fix unhandled 404s in assessment/submission routes
  client/app/api/ErrorHandling.ts
  client/app/bundles/course/assessment/pages/AssessmentShow/index.tsx
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/actions/logs.ts
  client/app/routers/course/assessments/submissions.tsx
Due: frontend

feat(comments): add opt-in flag to show/hide pending AI comments topics
  app/controllers/course/admin/discussion/topic_settings_controller.rb
  app/controllers/course/discussion/topics_controller.rb
  app/helpers/course/discussion/topics_helper.rb
  app/models/course/discussion/topic.rb
  app/models/course/settings/topics_component.rb
  app/views/course/admin/discussion/topic_settings/edit.json.jbuilder
  app/views/course/discussion/topics/_tabs.json.jbuilder
  app/views/course/discussion/topics/_topic.json.jbuilder
  client/app/bundles/course/admin/pages/CommentsSettings/CommentsSettingsForm.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/operations.ts
  client/app/bundles/course/admin/pages/CommentsSettings/translations.ts
  client/app/bundles/course/discussion/topics/store.ts
  client/app/types/course/admin/comments.ts
  client/app/types/course/comments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/controllers/course/admin/discussion/topic_settings_controller_spec.rb
  spec/controllers/course/discussion/topics_controller_spec.rb
  spec/models/course/discussion/topic_spec.rb
Due: frontend, backend

fix(AssessmentsIndex): hide import from marketplace button if user cannot access
  app/views/course/assessment/assessments/index.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentsIndex/__test__/AssessmentsIndex.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/__test__/AssessmentsTable.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/index.tsx
  client/app/types/course/assessment/assessments.ts
  spec/controllers/course/assessment/assessments_marketplace_spec.rb
Due: frontend, backend

style(rubocop): address minor style violations post-circleci migration
  .rubocop_todo.yml
  app/controllers/concerns/application_authentication_concern.rb
  app/controllers/course/assessment/question/text_responses_controller.rb
  app/helpers/application_html_formatters_helper.rb
  app/jobs/course/assessment/submission/auto_feedback_job.rb
  app/models/concerns/course/assessment/questions_concern.rb
  app/models/concerns/course/video/watch_statistics_concern.rb
  app/models/course/assessment/answer/multiple_response.rb
  app/models/course/assessment/answer/programming_file.rb
  app/models/course/lesson_plan/item.rb
  app/models/course/settings/email.rb
  app/models/course/settings/survey_component.rb
  app/services/concerns/course/user_invitation_service/parse_invitation_concern.rb
  app/services/course/assessment/question/codaveri_problem_generation_service.rb
  app/services/course/duplication/object_duplication_service.rb
  app/views/course/assessment/question/programming/_response.json.jbuilder
  lib/autoload/duplicator.rb
  spec/libraries/has_one_many_attachments_spec.rb
Due: backend

chore(rails): wrap perform_later jobs in explicit after_commit blocks
  app/controllers/concerns/course/users_controller_management_concern.rb
Due: backend

feat(rubric-grading): support direct deletion of ai comments
  client/app/bundles/course/assessment/submission/components/comment/AiFeedbackCommentCard.jsx
  client/app/bundles/course/assessment/submission/components/comment/AiFeedbackCommentCard.tsx
  client/app/bundles/course/assessment/submission/components/comment/CodaveriCommentCard.jsx
  client/app/bundles/course/assessment/submission/components/comment/CodaveriCommentCard.tsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/discussion/topics/components/cards/AiFeedbackCommentCard.tsx
  client/app/bundles/course/discussion/topics/components/cards/CodaveriCommentCard.tsx
  client/app/bundles/course/forum/components/cards/RagWiseCommentCard.tsx
  client/app/lib/components/core/RateableGeneratedCommentCard.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

chore(rails): upgrade to rails 8.1
  Gemfile
  Gemfile.lock
  app/controllers/user/registrations_controller.rb
  app/models/application_record.rb
  app/models/course/group.rb
  app/models/course_user.rb
  config/application.rb
  config/initializers/calculated_attributes_patch.rb
  spec/controllers/course/assessment/question/rubric_based_responses_controller_spec.rb
  spec/models/application_record_spec.rb
  spec/services/course/assessment/answer/ai_generated_post_service_spec.rb
Due: backend

chore(circleci): change archive mirror installing playwright deps
  .circleci/config.yml
Due: none

style(lesson-plan): rename javascript -> typescript converted files
  client/app/bundles/course/lesson-plan/constants.ts
  client/app/bundles/course/lesson-plan/containers/ColumnVisibilityDropdown/index.tsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/index.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanFilter/index.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/EnterEditModeButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewEventButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewMilestoneButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewEventButton.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewMilestoneButton.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/index.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/index.tsx
  client/app/bundles/course/lesson-plan/containers/MilestoneFormDialog/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/DateCell.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/PublishedCell.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/MilestoneRow.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/ItemRow.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/MilestoneRow.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/index.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/AdminTools.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminTools.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/MilestoneAdminTools.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/MilestoneAdminTools.test.tsx
  client/app/bundles/course/lesson-plan/reducers/flags.ts
  client/app/bundles/course/lesson-plan/reducers/lessonPlan.ts
  client/app/bundles/course/lesson-plan/reducers/utils.ts
Due: frontend

refactor(lesson-plan): convert LessonPlanLayout, event, milestone forms to typescript
  client/app/bundles/course/lesson-plan/constants.ts
  client/app/bundles/course/lesson-plan/containers/ColumnVisibilityDropdown/__test__/index.test.tsx
  client/app/bundles/course/lesson-plan/containers/ColumnVisibilityDropdown/index.tsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/EventForm.jsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/index.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanFilter/__test__/index.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanFilter/index.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/EnterEditModeButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewEventButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewMilestoneButton.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewEventButton.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewMilestoneButton.test.tsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/index.tsx
  client/app/bundles/course/lesson-plan/containers/MilestoneFormDialog/MilestoneForm.jsx
  client/app/bundles/course/lesson-plan/containers/MilestoneFormDialog/index.tsx
  client/app/bundles/course/lesson-plan/operations.ts
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/AdminTools.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminTools.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/MilestoneAdminTools.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/MilestoneAdminTools.test.tsx
  client/app/bundles/course/lesson-plan/reducers/eventForm.js
  client/app/bundles/course/lesson-plan/reducers/milestoneForm.js
  client/app/bundles/course/lesson-plan/store.ts
  client/app/bundles/course/lesson-plan/translations.ts
  client/app/routers/course/lessonPlan.tsx
Due: frontend

refactor(lesson-plan): fully convert lesson plan Redux state to TypeScript
  client/app/bundles/course/lesson-plan/constants.ts
  client/app/bundles/course/lesson-plan/operations.ts
  client/app/bundles/course/lesson-plan/reducers/flags.ts
  client/app/bundles/course/lesson-plan/reducers/lessonPlan.ts
  client/app/bundles/course/lesson-plan/reducers/utils.ts
  client/app/bundles/course/lesson-plan/store.ts
  client/app/bundles/course/lesson-plan/types.ts
Due: frontend

fix(lesson-plan): add debouncing for LessonPlanEdit page
  client/app/bundles/course/lesson-plan/operations.ts
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/DateCell.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/PublishedCell.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/index.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/MilestoneRow.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/ItemRow.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/MilestoneRow.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/index.test.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.tsx
  client/app/bundles/course/lesson-plan/types.ts
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
