Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

chore(react intl v4): fix failing tests
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewEventButton.test.jsx.snap
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewMilestoneButton.test.jsx.snap
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/__snapshots__/AdminMenu.test.jsx.snap
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
Due: frontend

chore(redux promise): remove unused deps
  client/package.json
  client/yarn.lock
Due: none

chore(react hook form): add react hook form
  client/package.json
  client/yarn.lock
Due: none

chore(yup): add yup deps for form validation
  client/package.json
  client/yarn.lock
Due: none

chore(resolver): add validation resolver for react hook form
  client/package.json
  client/yarn.lock
Due: none

feat(hook form field components): create new mui field components for react hook form
  client/app/lib/components/ErrorText.jsx
  client/app/lib/components/MaterialSummernote.jsx
  client/app/lib/components/course/ConditionList/index.jsx
  client/app/lib/components/form/fields/DateTimePickerField.jsx
  client/app/lib/components/form/fields/MultiSelectField.jsx
  client/app/lib/components/form/fields/RichTextField.jsx
  client/app/lib/components/form/fields/SelectField.jsx
  client/app/lib/components/form/fields/SingleFileInput/BadgePreview.jsx
  client/app/lib/components/form/fields/SingleFileInput/DeleteButton.jsx
  client/app/lib/components/form/fields/SingleFileInput/FilePreview.jsx
  client/app/lib/components/form/fields/SingleFileInput/ImagePreview.jsx
  client/app/lib/components/form/fields/SingleFileInput/__test__/BadgePreview.test.js
  client/app/lib/components/form/fields/SingleFileInput/__test__/ImagePreview.test.js
  client/app/lib/components/form/fields/SingleFileInput/__test__/index.test.js
  client/app/lib/components/form/fields/SingleFileInput/index.jsx
  client/app/lib/components/form/fields/SingleFileInput/translations.js
  client/app/lib/components/form/fields/TextField.jsx
  client/app/lib/components/form/fields/ToggleField.jsx
  client/app/lib/components/form/fields/utils/createComponent.js
  client/app/lib/components/form/fields/utils/mapError.js
  client/app/lib/components/form/fields/utils/propsAreEqual.js
  client/app/lib/helpers/actions-helper.js
Due: frontend

feat(hook form components): add autocomplete field component and fix existing components
  client/app/lib/components/FormDialogue.jsx
  client/app/lib/components/form/fields/AutoCompleteField.jsx
  client/app/lib/components/form/fields/DateTimePickerField.jsx
  client/app/lib/components/form/fields/SingleFileInput/index.jsx
  client/app/lib/components/form/fields/ToggleField.jsx
Due: frontend

chore(assessment form): refactor assessment form to use react hook form
  client/app/bundles/course/assessment/actions.js
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/Material.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/index.jsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.jsx
  client/app/bundles/course/assessment/pages/AssessmentIndex/index.jsx
  client/app/bundles/course/assessment/reducers/formDialog.js
  client/app/bundles/course/assessment/reducers/index.js
Due: frontend

fix(scribing controller): fix json error return for scribing question
  app/controllers/course/assessment/question/scribing_controller.rb
Due: backend

test(react hook form): fix some test regressions
  client/app/__test__/setup.js
  client/app/bundles/course/achievement/pages/AchievementEdit/__test__/index.test.js
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.js
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewMilestoneButton.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminTools.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/MilestoneAdminTools.test.jsx
  client/app/lib/components/__test__/__snapshots__/ErrorText.test.jsx.snap
  client/app/lib/components/form/fields/SingleFileInput/__test__/index.test.js
Due: frontend

chore(course duplication form): refactor duplication form to using react hook form
  client/app/bundles/course/assessment/pages/AssessmentIndex/index.jsx
  client/app/bundles/course/duplication/actions.js
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/NewCourseForm.jsx
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateAllButton.jsx
  client/app/bundles/course/duplication/reducers/index.js
  client/app/lib/components/ConfirmationDialog.jsx
Due: frontend

chore(lesson plan forms): refactor all lesson plan forms to react hook form
  client/app/bundles/course/lesson-plan/actions.jsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/EventForm.jsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/index.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewEventButton.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewMilestoneButton.jsx
  client/app/bundles/course/lesson-plan/containers/MilestoneFormDialog/MilestoneForm.jsx
  client/app/bundles/course/lesson-plan/containers/MilestoneFormDialog/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/MilestoneRow.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/MilestoneAdminTools.jsx
  client/app/bundles/course/lesson-plan/reducers/index.js
Due: frontend

chore(question scribing form): refactor question scribing form to use react hook form
  client/app/bundles/course/assessment/question/scribing/ScribingQuestion.jsx
  client/app/bundles/course/assessment/question/scribing/__test__/index.test.js
  client/app/bundles/course/assessment/question/scribing/actions/__test__/responses.test.js
  client/app/bundles/course/assessment/question/scribing/actions/scribingQuestionActionCreators.jsx
  client/app/bundles/course/assessment/question/scribing/components/FileUploadField.jsx
  client/app/bundles/course/assessment/question/scribing/components/InputField.jsx
  client/app/bundles/course/assessment/question/scribing/components/MultiSelectSkillsField.jsx
  client/app/bundles/course/assessment/question/scribing/components/SummernoteField.jsx
  client/app/bundles/course/assessment/question/scribing/constants.js
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/index.jsx
  client/app/bundles/course/assessment/question/scribing/reducers/index.jsx
  client/app/bundles/course/assessment/question/scribing/reducers/scribingQuestionReducer.jsx
Due: frontend

feat(hook form components): add some helpers
  client/app/lib/helpers/actions-helper.js
  client/app/lib/helpers/form-helpers.js
Due: frontend

chore(redux form): remove unused redux form reducer in level page
  client/app/bundles/course/level/reducers/index.js
Due: frontend

chore(achievement form): refactor achievement form to use react hook form
  client/app/bundles/course/achievement/actions.js
  client/app/bundles/course/achievement/containers/AchievementForm/index.jsx
  client/app/bundles/course/achievement/pages/AchievementEdit/index.jsx
  client/app/bundles/course/achievement/pages/AchievementIndex/index.jsx
  client/app/bundles/course/achievement/reducers/index.js
  client/app/bundles/course/achievement/reducers/indexFormDialog.js
Due: frontend

chore(survey form): refactor survey form to using react hook form
  client/app/bundles/course/survey/actions/surveys.js
  client/app/bundles/course/survey/containers/SurveyFormDialogue/SurveyForm.jsx
  client/app/bundles/course/survey/containers/SurveyFormDialogue/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/NewSurveyButton.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/NewSurveyButton.test.jsx
  client/app/bundles/course/survey/reducers/surveyForm.js
  client/app/lib/actions/index.js
Due: frontend

test: remove tests for redux form component field
  client/app/lib/components/redux-form/__test__/Toggle.test.js
  client/app/lib/components/redux-form/__test__/__snapshots__/Toggle.test.js.snap
Due: frontend

chore(survey section form): refactor survey section form to using react hook form
  client/app/bundles/course/survey/actions/sections.jsx
  client/app/bundles/course/survey/containers/SectionFormDialogue/SectionForm.jsx
  client/app/bundles/course/survey/containers/SectionFormDialogue/index.jsx
  client/app/bundles/course/survey/pages/SurveyShow/NewSectionButton.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/EditSectionButton.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/EditSectionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/NewSectionButton.test.jsx
Due: frontend

chore(redux form components): remove unused redux form field components
  client/app/lib/components/redux-form/AutoComplete.jsx
  client/app/lib/components/redux-form/DateTimePicker.js
  client/app/lib/components/redux-form/MultiSelect.jsx
  client/app/lib/components/redux-form/SelectField.jsx
  client/app/lib/components/redux-form/Toggle.jsx
Due: frontend

chore(survey question form): refactor survey question form to using react hook form
  client/app/bundles/course/group/pages/GroupShow/index.jsx
  client/app/bundles/course/survey/actions/questions.js
  client/app/bundles/course/survey/containers/QuestionFormDialogue/QuestionForm.jsx
  client/app/bundles/course/survey/containers/QuestionFormDialogue/QuestionFormDeletedOptions.jsx
  client/app/bundles/course/survey/containers/QuestionFormDialogue/QuestionFormOption.jsx
  client/app/bundles/course/survey/containers/QuestionFormDialogue/QuestionFormOptions.jsx
  client/app/bundles/course/survey/containers/QuestionFormDialogue/components/ImageField.jsx
  client/app/bundles/course/survey/containers/QuestionFormDialogue/index.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/NewQuestionButton.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/Question.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/index.jsx
  client/app/lib/components/ErrorCard.jsx
  client/app/lib/components/ErrorText.jsx
Due: frontend

chore(survey response form): refactor survey response form to using react hook form
  client/app/bundles/course/survey/actions/responses.js
  client/app/bundles/course/survey/containers/ResponseForm/ResponseAnswer.jsx
  client/app/bundles/course/survey/containers/ResponseForm/ResponseSection.jsx
  client/app/bundles/course/survey/containers/ResponseForm/components/MultipleChoiceOptionsField.jsx
  client/app/bundles/course/survey/containers/ResponseForm/components/MultipleResponseOptionsField.jsx
  client/app/bundles/course/survey/containers/ResponseForm/index.jsx
  client/app/bundles/course/survey/pages/ResponseEdit/index.jsx
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
  client/app/bundles/course/survey/reducers/index.js
Due: frontend

chore: remove commented codes
  client/app/bundles/course/survey/containers/ResponseForm/ResponseAnswer.jsx
Due: frontend

chore: remove comment
  client/app/bundles/course/survey/containers/ResponseForm/ResponseSection.jsx
Due: frontend

chore(group name description form): refactor group name description form to using react hook form
  client/app/bundles/course/group/actions/categories.js
  client/app/bundles/course/group/actions/groups.js
  client/app/bundles/course/group/forms/GroupFormDialog.jsx
  client/app/bundles/course/group/forms/NameDescriptionForm.jsx
  client/app/bundles/course/group/pages/GroupNew/index.jsx
  client/app/bundles/course/group/pages/GroupShow/CategoryCard.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManager.jsx
Due: frontend

chore(group description form): refactor group creation form to using react hook form
  client/app/bundles/course/group/actions/categories.js
  client/app/bundles/course/group/actions/groups.js
  client/app/bundles/course/group/forms/GroupCreationForm.jsx
  client/app/bundles/course/group/forms/GroupFormDialog.jsx
  client/app/bundles/course/group/forms/NameDescriptionForm.jsx
  client/app/bundles/course/group/pages/GroupNew/index.jsx
  client/app/bundles/course/group/pages/GroupShow/CategoryCard.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupManager.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManager.jsx
  client/app/bundles/course/group/reducers/index.js
Due: frontend

chore(submission empty form): remove redux form and convert form to functional component
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEmptyForm.jsx
Due: frontend

fix: add guard for empty setError
  client/app/bundles/course/duplication/pages/Duplication/index.jsx
  client/app/bundles/course/lesson-plan/actions.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/DateCell.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/MilestoneRow.jsx
  client/app/lib/components/fields/DateTimePicker.jsx
Due: frontend

chore: rename redux form to react hook form
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  spec/features/course/duplication_spec.rb
Due: backend

chore(submission form container): refactor submission form containers to using react hook form
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
Due: frontend

chore(submission form component): refactor submission form components to using react hook form
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/answers/FileUpload.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPostSelect.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/components/comment/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/comment/CommentField.jsx
  client/app/bundles/course/assessment/submission/components/pastAnswers/PastProgrammingAnswer.jsx
Due: frontend

fix(code language parse): fix code language parsing for java
  client/app/bundles/course/assessment/submission/utils.js
Due: frontend

chore: delete unused yarn lock file
  yarn.lock
Due: none

chore(submission forms): refactor submission forms to using react hook form
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/actions/scribing.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/__test__/index.test.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/submissionFormValidate.js
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/form.js
  client/app/bundles/course/assessment/submission/reducers/index.js
Due: frontend

chore(redux form components): remove unused redux form components
  client/app/lib/__test__/redux-form.test.jsx
  client/app/lib/components/form/fields/utils/createComponent.js
  client/app/lib/components/redux-form/AceEditor.js
  client/app/lib/components/redux-form/RichTextField.js
  client/app/lib/components/redux-form/SingleFileInput/BadgePreview.jsx
  client/app/lib/components/redux-form/SingleFileInput/DeleteButton.jsx
  client/app/lib/components/redux-form/SingleFileInput/FilePreview.jsx
  client/app/lib/components/redux-form/SingleFileInput/ImagePreview.jsx
  client/app/lib/components/redux-form/SingleFileInput/__test__/BadgePreview.test.js
  client/app/lib/components/redux-form/SingleFileInput/__test__/ImagePreview.test.js
  client/app/lib/components/redux-form/SingleFileInput/__test__/index.test.js
  client/app/lib/components/redux-form/SingleFileInput/index.jsx
  client/app/lib/components/redux-form/SingleFileInput/translations.js
  client/app/lib/components/redux-form/TextField.jsx
  client/app/lib/components/redux-form/createComponent.js
  client/app/lib/components/redux-form/mapError.js
  client/app/lib/redux-form.jsx
Due: frontend

chore(field components): refactor various field components to using react hook form
  client/app/lib/components/MaterialSummernote.jsx
  client/app/lib/components/form/fields/AceEditorField.jsx
  client/app/lib/components/form/fields/SingleFileInput/index.jsx
Due: frontend

chore(redux hook form): remove redux hook form
  client/package.json
  client/yarn.lock
Due: none
