Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Temp commit
  client/app/bundles/course/forum/components/ForumPost.jsx
Due: frontend

Add surveys route to conditions routes
  config/routes.rb
Due: none

fix: update year in 504 page to be current year
  public/504.html
Due: none

feat(FB Login): Disable FB login feature
  app/views/course/users/show.html.slim
  app/views/user/profiles/edit.html.slim
  config/initializers/devise.rb
  spec/controllers/user/omniauth_callbacks_controller_spec.rb
  spec/features/user/omniauth_spec.rb
  spec/features/user/profile_edit_spec.rb
  spec/models/user_spec.rb
Due: backend

fix: add padding to footer on mobile view
  public/504.html
Due: none

Add tests for survey condition controllers
  spec/controllers/course/achievement/condition/surveys_controller_spec.rb
  spec/controllers/course/assessment/condition/surveys_controller_spec.rb
Due: none

refactor(Course Users): Add clarity to confirmation dialog text when deleting course users and invitations
  app/views/course/user_invitations/_course_user_invitation.html.slim
  app/views/course/users/staff.html.slim
  app/views/course/users/students.html.slim
  config/locales/en/course/user_invitations.yml
  config/locales/en/course/users.yml
  yarn.lock
Due: backend

Allow teaching staff to manage survey conditions
  app/models/components/course/conditions_ability_component.rb
Due: backend

Add UI tests for survey condition
  spec/features/course/achievement_condition_management_spec.rb
Due: none

Add back the survey title
  config/locales/en/course/condition/surveys.yml
Due: none

fix: remove yarn.lock in root dir
  yarn.lock
Due: none

Add survey condition as a new type of conditions
  app/models/course/condition.rb
Due: backend

Test that Course::Condition is correctly handling survey conditions
  spec/models/course/condition_spec.rb
Due: none

fix(Submission View): Enable non-student users to view finalized submission when students are blocked to do so
  app/controllers/course/assessment/submission/submissions_controller.rb
Due: backend

Add permission test for survey condition
  spec/models/course/condition/survey_ability_spec.rb
Due: none

refactor(Submission View): Use existing helper method for current_course_user
  app/controllers/course/assessment/submission/submissions_controller.rb
Due: backend

Add views for survey conditions
  app/views/course/condition/surveys/_form.html.slim
  app/views/course/condition/surveys/_survey.html.slim
  app/views/course/condition/surveys/_survey.json.jbuilder
  app/views/course/condition/surveys/edit.html.slim
  app/views/course/condition/surveys/new.html.slim
Due: backend

resolve merge conflicts from rebasing
  Gemfile
  Gemfile.lock
Due: none

style fixes
  spec/features/course/assessment/question/programming_management_spec.rb
Due: none

fixed failed test cases after bundle update
  app/assets/stylesheets/layout.scss
  spec/features/course/assessment/question/programming_management_spec.rb
  spec/features/system/admin/masquerades_spec.rb
Due: backend

comment on how to make chrome screen bigger for testing
  spec/support/capybara.rb
Due: none

resolve merge conflicts from rebasing
  Gemfile.lock
  client/yarn.lock
Due: none

find first user to masquerade in test
  spec/features/system/admin/masquerades_spec.rb
Due: none

do not make lint required for test
  .circleci/config.yml
  client/app/bundles/course/achievement/containers/AchievementForm/index.jsx
  client/app/bundles/course/achievement/pages/AchievementEdit/index.jsx
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.jsx
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/TestCase.jsx
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
Due: frontend

resolve merge conflicts from rebasing
  Gemfile
  Gemfile.lock
  app/models/components/course/groups_ability_component.rb
  app/models/components/system/admin/instance_announcements_ability_component.rb
  app/models/concerns/course/search_concern.rb
  app/models/concerns/instance_user_search_concern.rb
  app/models/concerns/user_search_concern.rb
  app/models/course/assessment.rb
  app/models/course/assessment/answer/programming_file_annotation.rb
  app/models/course/assessment/submission_question.rb
  app/models/course/forum.rb
  app/models/course/group.rb
  app/models/course/lesson_plan/event.rb
  app/models/course/material.rb
  app/models/course/material/folder.rb
  app/models/course/survey.rb
  app/models/course/video.rb
  app/models/course/video/topic.rb
  app/models/course_user.rb
  app/models/instance.rb
  config/database.yml
  lib/extensions/time_bounded_record/active_record/base.rb
Due: backend

fix staff management spec
  app/models/components/system/admin/instance_admin_ability_component.rb
  app/models/course_user.rb
  app/views/course/users/staff.html.slim
  spec/features/course/staff_management_spec.rb
Due: backend

fix user profile tests
  app/models/course.rb
  app/models/course_user.rb
Due: backend

fix yarn lint
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/submission/components/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanGroup.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/index.jsx
  client/app/bundles/course/survey/containers/QuestionFormDialogue/QuestionForm.jsx
  client/app/bundles/course/survey/containers/QuestionFormDialogue/QuestionFormDeletedOptions.jsx
  client/app/bundles/course/survey/containers/QuestionFormDialogue/QuestionFormOption.jsx
  client/app/bundles/course/survey/containers/SurveyFormDialogue/SurveyForm.jsx
  client/app/bundles/course/survey/containers/SurveyFormDialogue/index.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/index.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
  client/app/bundles/course/user-notification/containers/PopupNotifier/index.jsx
  client/app/bundles/course/video/submission/containers/DiscussionElements/Topic.jsx
Due: frontend

fix material spec
  app/models/course/material/folder.rb
  spec/models/course/material_spec.rb
Due: backend

fix test cases
  app/models/course/discussion/topic.rb
  app/models/course_user.rb
Due: backend

fix test case for folder spec
  app/models/course/material.rb
Due: backend

fix actionView lookupContext
  spec/libraries/has_one_many_attachments_spec.rb
Due: none

Delete en.yml
  config/locales/en.yml
Due: none

fix homepage spec
  app/views/course/courses/show.html.slim
Due: backend

fix manual preload issue due to conflict of constant name
  app/controllers/course/forum/forums_controller.rb
  lib/autoload/active_record/associations/preloader/manual_association_preloader.rb
Due: backend

fix: update_attributes will be deprecated
  spec/models/course/forum/topic_spec.rb
Due: none

fix masquerade test case
  app/controllers/user/masquerades_controller.rb
Due: backend

fix failed test case due to es-routes update
  app/assets/javascripts/helpers/discussion/delete_post.js
  app/assets/javascripts/routes.js
  app/assets/javascripts/templates/course/discussion/post.jst.ejs
  app/controllers/course/discussion/posts_controller.rb
Due: backend

fix post and material spec
  spec/controllers/course/discussion/posts_controller_spec.rb
  spec/libraries/materials_spec.rb
Due: none
