Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Flatten json structure and use object IDs as keys
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/answer/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  app/views/course/assessment/answers/_answer.json.jbuilder
  app/views/course/assessment/question/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/question/programming/_programming.json.jbuilder
  app/views/course/assessment/question/text_responses/_text_response.json.jbuilder
  app/views/course/assessment/submission/submissions/_answers.json.jbuilder
  app/views/course/assessment/submission/submissions/_progress.json.jbuilder
  app/views/course/assessment/submission/submissions/_questions.json.jbuilder
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  app/views/course/assessment/submission/submissions/_submission_question.json.jbuilder
  app/views/course/assessment/submission/submissions/_topics.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/actions.js
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/index.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/submissionEditReducer.js
  client/app/bundles/course/assessment/submission/reducers/topics.js
  client/app/bundles/course/assessment/submission/reducers/utils.js
Due: frontend, backend

Grading for submitted views (#45)
  .gitignore
  client/.eslintrc
  client/app/bundles/course/assessment/submission/actions/comments.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/ProgressPanel.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/grading.js
  client/app/bundles/course/assessment/submission/reducers/index.js
  client/app/bundles/course/assessment/submission/reducers/posts.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/submissionEdit.js
  client/app/bundles/course/assessment/submission/reducers/topics.js
  client/app/bundles/course/assessment/submission/reducers/utils.js
  client/app/bundles/course/assessment/submission/routes.jsx
  client/app/bundles/course/assessment/submission/utils.js
  client/package.json
  client/yarn.lock
Due: frontend

Style comments (#33)
  client/app/bundles/course/assessment/submission/components/CommentField.jsx
  client/app/bundles/course/assessment/submission/components/Comments/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/Comments/index.jsx
Due: frontend

Update form buttons logic (#42)
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

Question grade should be allowed to be precise up to 1dp (#49)
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
Due: frontend

Show notice when entering exam
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend, backend

Adjust annotation and editor width to 40:60
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideEditor.jsx
Due: frontend

Disable mark/publish if not all answers are graded
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

Fix awarding of submission experience points
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend, backend

Fix lint errors
  client/app/api/Attachments.js
  client/app/bundles/course/assessment/submission/components/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

Hide grading information from students in submitted state
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

Fix questionsFlags reducer error when there are missing answers
  client/app/bundles/course/assessment/submission/reducers/questionsFlags.js
Due: frontend

Check for submitted auto grading jobs when fetching submission
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
Due: frontend, backend

Add submit for publishing and revert to submitted buttons
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/annotations.js
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/grading.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/submissionEdit.js
  client/app/bundles/course/assessment/submission/reducers/testCases.js
Due: frontend, backend

Hide test case identifiers and output from students
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/containers/TestCaseView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

Show empty question grade inputs before question has been assigned grade
  app/views/course/assessment/answers/_answer.json.jbuilder
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
Due: frontend, backend

Poll submission autograding job for completion
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

Fix lint errors
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

Show test case failures in programming question explanations
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/containers/TestCaseView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend, backend

Fix creating of programming annotations
  app/views/course/assessment/submission/submissions/_topics.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/annotations.js
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/containers/ReadOnlyEditor.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/annotations.js
  client/app/bundles/course/assessment/submission/reducers/commentForms.js
  client/app/bundles/course/assessment/submission/reducers/posts.js
Due: frontend, backend

Fix tab and stepper styling
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

Handle missing answers if new questions are added after submission
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/grading.js
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

Allow multiple file upload for text response question
  app/models/course/assessment/answer/programming.rb
  app/models/course/assessment/answer/text_response.rb
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
Due: frontend, backend

Add baseExp to json partial (#58)
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
Due: backend

Standardize autograding endpoints and fix submission answer reducers
  app/controllers/course/assessment/submission/answer/answers_controller.rb
  app/models/course/assessment/question/multiple_response.rb
  app/models/course/assessment/question/programming.rb
  app/models/course/assessment/question/scribing.rb
  app/models/course/assessment/question/text_response.rb
  app/services/course/assessment/submission/update_service.rb
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/testCases.js
Due: frontend, backend

Add evaluate answers button
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/views/course/assessment/answer/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend, backend

Add save grade button to autograded assessments
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

Extract translation strings for react submission page
  client/app/bundles/course/assessment/submission/components/ProgressPanel.jsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/submit-answer.js
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

Minor file uploader fixes
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
Due: frontend

Fix staff-only test cases tooltip alignment
  client/app/bundles/course/assessment/submission/containers/TestCaseView.jsx
Due: frontend

Add translations to confirmation dialogs
  client/app/bundles/course/assessment/submission/components/SubmitDialog.jsx
  client/app/bundles/course/assessment/submission/components/UnsubmitDialog.jsx
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

Fix missing bracket
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

Implement experience points in grading panel
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend

Fix various small issues
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/answer/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  app/views/course/assessment/question/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/bundles/course/assessment/submission/components/ProgressPanel.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/AddCommentIcon.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/questionsFlags.js
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend, backend

Only allow submission creator to delete attachments
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
Due: frontend, backend

Clear polling interval on error
  client/app/bundles/course/assessment/submission/actions/index.js
Due: frontend

Disable autograde/reset buttons and show spinner when waiting for result
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/assessment.js
  client/app/bundles/course/assessment/submission/reducers/index.js
  client/app/bundles/course/assessment/submission/reducers/questionsFlags.js
  client/app/bundles/course/assessment/submission/reducers/submission.js
  client/app/bundles/course/assessment/submission/reducers/submissionEdit.js
  client/app/bundles/course/assessment/submission/utils.js
Due: frontend

Add user avatar image to comments and programming annotations
  app/views/course/discussion/posts/_post.json.jbuilder
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideComments.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/assessment/submission/containers/PostPreview.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
Due: frontend, backend

Add reset answer button
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/ResetDialog.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/containers/TestCaseView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/submissionEdit.js
  client/app/bundles/course/assessment/submission/reducers/testCases.js
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

Fix stepper for unskippable autograded assessments not able to go forward
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend
