Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(instance_user_invitations): revamp invitations tab
  app/views/system/admin/instance/user_invitations/_instance_user_invitation_list_data.json.jbuilder
  client/app/bundles/system/admin/instance/instance/components/buttons/InvitationActionButtons.tsx
  client/app/bundles/system/admin/instance/instance/components/buttons/ResendAllInvitationsButton.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UserInvitationsTable.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersInvitations.tsx
  client/app/types/system/instance/invitations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

fix(user_invitations): mark permanently non-retryable invitations
  app/controllers/course/user_invitations_controller.rb
  app/controllers/system/admin/instance/user_invitations_controller.rb
  app/models/course/user_invitation.rb
  app/models/instance/user_invitation.rb
  config/initializers/mail_delivery_job.rb
  db/migrate/20260206070824_add_retryable_flag_to_user_invitations.rb
  db/schema.rb
  spec/controllers/course/user_invitations_controller_spec.rb
  spec/controllers/system/admin/instance/user_invitations_controller_spec.rb
  spec/jobs/mail_delivery_job_spec.rb
Due: backend

feat(course_user_invitations): revamp invitations tab
  app/views/course/user_invitations/_course_user_invitation_list_data.json.jbuilder
  app/views/course/users/_tabs_data.json.jbuilder
  client/app/bundles/course/user-invitations/components/buttons/InvitationActionButtons.tsx
  client/app/bundles/course/user-invitations/components/buttons/ResendAllInvitationsButton.tsx
  client/app/bundles/course/user-invitations/components/misc/InvitationsBarChart.tsx
  client/app/bundles/course/user-invitations/components/tables/UserInvitationsTable.tsx
  client/app/bundles/course/user-invitations/pages/InvitationsIndex/index.tsx
  client/app/bundles/course/user-invitations/translations.ts
  client/app/theme/palette.js
  client/app/types/course/userInvitations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/features/course/invitation_management_spec.rb
Due: frontend, backend

fix(ReadOnlyEditor): make active comment line expandable
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideComments.jsx
Due: frontend

feat(enrol_requests): allow auto-approval of enrolment requests
  app/controllers/course/admin/admin_controller.rb
  app/controllers/course/enrol_requests_controller.rb
  app/views/course/admin/admin/index.json.jbuilder
  client/app/api/course/Courses.ts
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
  client/app/bundles/course/admin/pages/CourseSettings/validationSchema.ts
  client/app/bundles/course/courses/components/misc/CourseEnrolOptions.tsx
  client/app/bundles/course/courses/operations.ts
  client/app/bundles/course/courses/store.ts
  client/app/bundles/course/courses/types.ts
  client/app/types/course/admin/course.ts
  db/migrate/20260215164351_add_enrol_auto_approval_to_course.rb
  db/schema.rb
Due: frontend, backend

feat(enrol_requests): allow unauthenticated users to directly request enrolment
  app/controllers/course/enrol_requests_controller.rb
  app/mailers/course/mailer.rb
  app/views/course/mailer/user_enrol_request_received_email.html.slim
  app/views/course/mailer/user_enrol_request_received_email.text.erb
  client/app/api/course/Courses.ts
  client/app/bundles/course/courses/components/misc/CourseEnrolOptions.tsx
  client/app/bundles/course/courses/operations.ts
  client/app/bundles/course/courses/store.ts
  client/app/bundles/users/pages/SignUpPage.tsx
  config/locales/en/mailers.yml
  config/locales/ko/mailers.yml
  config/locales/zh/mailers.yml
  config/routes.rb
  spec/controllers/course/enrol_requests_controller_spec.rb
Due: frontend, backend

feat(enrol-requests): allow unauthenticated users to view course landing page
  app/controllers/concerns/course/unread_counts_concern.rb
  app/controllers/course/courses_controller.rb
  app/controllers/course/enrol_requests_controller.rb
  app/controllers/course/user_notifications_controller.rb
  app/views/course/courses/_sidebar_items.json.jbuilder
  app/views/course/courses/sidebar.json.jbuilder
  app/views/course/user_registrations/_registration.json.jbuilder
  client/app/api/ErrorHandling.ts
  client/app/bundles/common/DashboardPage.tsx
  client/app/bundles/course/container/Sidebar/Sidebar.tsx
  client/app/bundles/course/container/Sidebar/SidebarItem.tsx
  client/app/lib/components/navigation/BrandingHead.tsx
  client/app/lib/components/wrappers/AuthProvider.tsx
  client/app/lib/hooks/router/redirect.tsx
  client/app/routers/UnauthenticatedApp.tsx
  client/app/routers/redirects.tsx
  client/app/types/course/courses.ts
  spec/features/course/homepage_spec.rb
  spec/features/course/invitation_management_spec.rb
  tests/tests/courses/registration.spec.ts
  tests/tests/users/sign-up.spec.ts
Due: frontend, backend

fix(auth): recover from invalid state auth errors, hide invitation form for unauthenticated users
  app/views/course/user_registrations/_registration.json.jbuilder
  client/app/bundles/course/courses/components/misc/CourseEnrolOptions.tsx
  client/app/lib/components/wrappers/AuthProvider.tsx
  client/app/routers/redirects.tsx
  client/app/types/course/courses.ts
  client/package.json
  client/yarn.lock
Due: frontend, backend

fix(grading): fix revealing explanation before submission is published
  .circleci/config.yml
  app/models/course/assessment/answer.rb
  app/views/course/assessment/answer/forum_post_responses/_forum_post_response.json.jbuilder
  app/views/course/assessment/answer/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/answer/rubric_based_responses/_rubric_based_response.json.jbuilder
  app/views/course/assessment/answer/scribing/_scribing.json.jbuilder
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  app/views/course/assessment/answer/voice_responses/_voice_response.json.jbuilder
  app/views/course/assessment/answers/_answer.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/ContinueButton.tsx
  client/app/types/course/statistics/answer.ts
Due: frontend, backend

fix(answers): refine submission/grading logic
  app/controllers/course/assessment/submission/answer/answers_controller.rb
  app/models/course/assessment/answer.rb
  app/views/course/assessment/assessments/show.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/components/AssessmentForm/__test__/index.test.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentDetails.tsx
Due: frontend, backend

chore(deps): bump serialize-javascript from 6.0.2 to 7.0.3
  client/package.json
  client/yarn.lock
Due: none

feat(questions): add template to text and rubric based response questions
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  app/controllers/course/assessment/question/text_responses_controller.rb
  app/models/course/assessment/answer/rubric_based_response.rb
  app/models/course/assessment/answer/text_response.rb
  app/models/course/assessment/question/rubric_based_response.rb
  app/models/course/assessment/question/text_response.rb
  app/views/course/assessment/question/rubric_based_responses/_form.json.jbuilder
  app/views/course/assessment/question/rubric_based_responses/_rubric_based_response.json.jbuilder
  app/views/course/assessment/question/text_responses/_text_response.json.jbuilder
  app/views/course/assessment/question/text_responses/edit.json.jbuilder
  client/app/bundles/course/assessment/question/rubric-based-responses/components/RubricBasedResponseForm.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/operations.ts
  client/app/bundles/course/assessment/question/text-responses/NewTextResponsePage.tsx
  client/app/bundles/course/assessment/question/text-responses/components/TextResponseForm.tsx
  client/app/bundles/course/assessment/question/text-responses/operations.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/AutogradedActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/NonAutogradedProgrammingActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/ResetAnswerButton.tsx
  client/app/bundles/course/assessment/submission/reducers/posts.js
  client/app/bundles/course/assessment/submission/reducers/topics.js
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/question/rubric-based-responses.ts
  client/app/types/course/assessment/question/text-responses.ts
  client/app/types/course/assessment/submission/question/types.ts
  db/migrate/20260302095446_add_template_text_to_text_based_questions.rb
  db/schema.rb
Due: frontend, backend

chore(deps): bump minimatch dependents
  .circleci/config.yml
  client/app/lib/components/core/__test__/__snapshots__/ErrorText.test.tsx.snap
  client/app/lib/components/core/__test__/__snapshots__/LoadingIndicator.test.tsx.snap
  client/app/lib/components/core/buttons/__test__/__snapshots__/DeleteButton.test.tsx.snap
  client/app/lib/components/core/buttons/__test__/__snapshots__/EditButton.test.tsx.snap
  client/package.json
  client/yarn.lock
Due: frontend

fix(submission): render reset button for manual graded non-programming questions
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/ActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/NonAutogradedProgrammingActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/QuestionContent.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

fix(sign_up): temporarily disable recaptcha on create_unauthenticated
  app/controllers/course/enrol_requests_controller.rb
Due: backend

✨ feat(editor): enable bracket matching, auto-close, multi-cursor and resizable height (#8266)
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/lib/components/core/fields/EditorField.tsx
  client/app/lib/components/core/fields/__test__/EditorField.test.tsx
Due: frontend

♻️ refactor(editor): use ResizeObserver polyfill, debounce resize, fix effect deps
  client/app/bundles/course/assessment/submission/components/Editor.jsx
Due: frontend

🐛 fix(editor): remove unused eslint-disable, add return type to test mock
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/lib/components/core/fields/__test__/EditorField.test.tsx
Due: frontend

🐛 fix(editor): mock ace-builds theme and mode imports in test
  client/app/lib/components/core/fields/__test__/EditorField.test.tsx
Due: frontend

🔥 remove(editor): drop EditorField test — ace-builds not mockable in Jest without global config changes
  client/app/lib/components/core/fields/__test__/EditorField.test.tsx
Due: frontend

🎨 style(editor): fix import sort order for ResizeObserver
  client/app/bundles/course/assessment/submission/components/Editor.jsx
Due: frontend

♻️ refactor(editor): remove redundant RAF — ResizeObserver already throttles to once per paint
  client/app/bundles/course/assessment/submission/components/Editor.jsx
Due: frontend

✨ feat(editor): add Ctrl+Shift+Enter hotkey for Run Code button (#4972)
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/RunCodeButton.tsx
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

🐛 fix(submission): show blocked view when instructor toggles student view (#5488)
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend, backend

✨ feat(ui): add z-index Tailwind tiers and migrate shared components (#5397)
  client/app/bundles/course/duplication/components/UnpublishedIcon.jsx
  client/app/bundles/course/learning-map/components/ZoomActionElements/index.jsx
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
  client/app/lib/components/core/LoadingOverlay.tsx
  client/app/lib/components/core/NotificationBar.jsx
  client/app/lib/components/core/dialogs/ConfirmationDialog.jsx
  client/tailwind.config.ts
Due: frontend
