Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(submission workflow): reload answers after each operation
  app/models/concerns/course/assessment/submission/workflow_event_concern.rb
Due: backend

feat(auto grading): enhance eval failure message
  config/locales/en/course/assessment/answer/programming_auto_grading.yml
Due: none

feat(read marks): add cleanup job
  app/jobs/read_marks_clean_up_job.rb
Due: backend

feat(reevaluate answer): disable button and show ongoing job when reevaluation
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/yarn.lock
Due: frontend, backend

chore: temporarily disable reevaluation on time and mem limit changes
  app/models/course/assessment/question/programming.rb
  spec/models/course/assessment/question/programming_spec.rb
Due: backend

fix(zombie job): regrade zombie job after 60 minutes
  app/controllers/course/assessment/submission/submissions_controller.rb
Due: backend

fix(submission): show autograding error message in submitted state
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
Due: frontend

fix(pulsegrid): filter by an empty group resets the filter
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/FilterAutocomplete.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/useMonitoring.ts
  client/app/bundles/course/assessment/reducers/monitoring.ts
Due: frontend

fix(monitoring): ignore if sharedworker not supported
  client/app/workers/withHeartbeatWorker.tsx
Due: frontend

fix(monitoring): worker starts on disabled monitor
  app/controllers/course/assessment/submission/submissions_controller.rb
Due: backend

feat(monitoring): deprecate `seb_hash`, use ua-based validity
  app/channels/course/monitoring/heartbeat_channel.rb
  app/channels/course/monitoring/live_monitoring_channel.rb
  app/models/course/monitoring/monitor.rb
  app/services/course/assessment/monitoring_service.rb
  app/views/course/assessment/assessments/_monitoring_details.json.jbuilder
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
  client/app/bundles/course/assessment/components/AssessmentForm/useFormValidation.tsx
  client/app/bundles/course/assessment/constants.js
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/PulseGrid.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/Session.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionBlobLegend.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionDetailsPopup.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/usePresence.ts
  client/app/bundles/course/assessment/reducers/monitoring.ts
  client/app/bundles/course/assessment/translations.ts
  client/app/types/channels/heartbeat.ts
  client/app/types/channels/liveMonitoring.ts
  client/app/utilities/safeExamBrowser.ts
  client/app/workers/heartbeat.worker.ts
  client/app/workers/heartbeatChannel.ts
  client/app/workers/withHeartbeatWorker.tsx
  db/migrate/20230417051641_replace_seb_hash_with_ua_substring_in_monitoring.rb
  db/schema.rb
  spec/factories/course_monitoring_heartbeats.rb
  spec/factories/course_monitoring_monitors.rb
  spec/models/course/monitoring/monitor_spec.rb
Due: frontend, backend

style(submissions_controller): combine `should_monitor?` to `&&`
  app/controllers/course/assessment/submission/submissions_controller.rb
Due: backend

feat(pulsegrid): add users count to group name in filter
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/FilterAutocomplete.tsx
Due: frontend

fix(migrate): wrong migration class name
  db/migrate/20230417051641_replace_seb_hash_with_secret_in_monitoring.rb
Due: none

chore(prettier): sort custom tailwind utilities
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/Tab.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ActivityCenter.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionBlob.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/Question.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/ActionButtons.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/AssessmentsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/StackedBadges.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/StatusBadges.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/UnavailableMessage.tsx
  client/app/bundles/course/forum/components/buttons/ForumManagementButtons.tsx
  client/app/bundles/course/forum/components/buttons/ForumTopicManagementButtons.tsx
  client/app/bundles/course/forum/components/tables/ForumTable.tsx
  client/app/bundles/course/reference-timelines/components/DayCalendar/DayColumn.tsx
  client/app/bundles/course/reference-timelines/components/TimeBar/DurationBar.tsx
  client/app/bundles/course/reference-timelines/components/TimelinesOverview/TimelinesOverview.tsx
  client/app/bundles/course/reference-timelines/views/DayView/TimelineSidebarItem.tsx
  client/app/bundles/course/survey/pages/SurveyIndex/SurveyBadges.jsx
  client/app/bundles/course/video/components/misc/VideoBadges.tsx
  client/app/bundles/user/components/EmailsList.tsx
  client/app/lib/components/extensions/PersonalTimeBooleanIcon.tsx
Due: frontend

feat(form): support for `useFormContext`
  client/app/lib/components/form/Form.tsx
Due: frontend

fix(link): sometimes there's no pointer cursor
  client/app/lib/components/core/Link.tsx
Due: frontend

feat(form): support transformation before validation
  client/app/lib/components/form/Form.tsx
Due: frontend

feat(form): `children` supports bare `ReactNode`
  client/app/lib/components/form/Form.tsx
Due: frontend

feat(form): support custom validation context
  client/app/lib/components/form/Form.tsx
Due: frontend

feat(components): add `ExperimentalChip`
  client/app/lib/components/core/ExperimentalChip.tsx
  client/app/lib/translations/index.ts
Due: frontend

refactor(questionformcommonfields): props extends `AvailableSkills`
  client/app/bundles/course/assessment/question/components/QuestionFormCommonFields.tsx
Due: frontend

feat(components): add `Hint`
  client/app/lib/components/core/Hint.tsx
Due: frontend

fix(@mui/material): success, error `MuiAlert`s missing colours
  client/app/bundles/course/assessment/pages/AssessmentShow/UnavailableAlert.tsx
  client/app/lib/components/wrappers/ProviderWrapper.jsx
Due: frontend

feat(subsection): add `id` prop
  client/app/lib/components/core/layouts/Subsection.tsx
Due: frontend

feat(components): add `Expandable`
  client/app/lib/components/core/Expandable.tsx
Due: frontend

feat(form): add stricter types
  client/app/lib/components/form/Form.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
