Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(test): fix and add MCQ/MRQ question test
  spec/features/course/assessment/question/multiple_response_management_spec.rb
  spec/models/course/assessment/question/multiple_response_spec.rb
Due: none

chore: add translation
  config/locales/en/activerecord/course/assessment/question/multiple_response.yml
  config/locales/zh/activerecord/course/assessment/question/multiple_response.yml
Due: none

style(monitoring): rename component
  config/locales/en/components.yml
Due: none

feat(services): add Cikgo::ResourcesService
  app/services/cikgo/resources_service.rb
  app/services/cikgo/service.rb
Due: backend

feat(admin): remove Authentications tab
  client/app/bundles/system/admin/admin/AdminNavigator.tsx
  client/app/bundles/system/admin/admin/pages/AuthenticationsIndex.tsx
  client/app/routers/AuthenticatedApp.tsx
Due: frontend

feat(admin): add stories settings page
  client/app/api/course/Admin/Stories.ts
  client/app/api/course/Admin/index.ts
  client/app/bundles/course/admin/pages/StoriesSettings/index.tsx
  client/app/bundles/course/admin/pages/StoriesSettings/operations.ts
  client/app/routers/AuthenticatedApp.tsx
  client/app/types/course/admin/stories.ts
Due: frontend

feat: add stories component, settings
  app/controllers/components/course/stories_component.rb
  app/controllers/concerns/course/cikgo_push_concern.rb
  app/controllers/course/admin/stories_settings_controller.rb
  app/models/concerns/cikgo/pushable_item_concern.rb
  app/models/course/settings/stories_component.rb
  app/views/course/admin/stories_settings/edit.json.jbuilder
  config/locales/en/components.yml
  config/routes.rb
Due: backend

feat(cikgo): update resource when lesson plan item is updated
  app/models/concerns/course/lesson_plan/item/cikgo_push_concern.rb
  app/models/course/lesson_plan/item.rb
Due: backend

table for question level student statistics
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsChartsPanel.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsTablePanel.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/index.tsx
Due: frontend

refactor AssessmentStatistics into tsx, add Tab
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorOptions.jsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorSelect.jsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorSelect.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsCharts.jsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsChartsPanel.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/index.jsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/selectors.ts
  client/app/bundles/course/assessment/types.ts
Due: frontend

refactor controller and pages for stats
  app/controllers/concerns/course/statistics/submissions_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/assessment.json.jbuilder
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/ColorGradationLevel.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/selectors.ts
Due: frontend, backend

refactor charts and ancestors
  app/controllers/course/statistics/assessments_controller.rb
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorOptions.jsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorOptions.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorSelect.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/GradeDistributionChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/GradeViolinChart.jsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsCharts.jsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsCharts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionTimeAndGradeChart.tsx
  client/app/bundles/course/assessment/types.ts
Due: frontend, backend

remove redux usage from marks table
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

resolve grader and tailwind issue, refactor controller
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/ColorGradationLevel.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
Due: frontend, backend

add tests and fix behavior
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  spec/controllers/course/statistics/assessment_controller_spec.rb
Due: backend

design API to fetch mark per question statistics
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/api/course/Statistics/AssessmentStatistics.ts
  client/app/bundles/course/assessment/operations.ts
  client/app/types/course/statistics/assessmentStatistics.ts
  config/routes.rb
Due: frontend, backend

improve assessment statistics page UI - add toggle for phantom students inclusion setting - display submission status chart on top instead of separate tabs
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsCharts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionBarChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/index.tsx
Due: frontend

change SubmissionDoughnut to use BarChart
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionBarChart.tsx
Due: frontend

refactor assessment statistics
  app/controllers/concerns/course/statistics/submissions_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
  app/models/course/assessment.rb
  app/views/course/statistics/assessments/assessment_statistics.json.jbuilder
  client/app/api/course/Statistics/AssessmentStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/DuplicationHistoryStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/GradeDistributionChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsCharts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionStatusChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionTimeAndGradeChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/selectors.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/utils.js
  client/app/bundles/course/assessment/reducers/statistics.ts
  client/app/bundles/course/assessment/store.ts
  client/app/bundles/course/assessment/utils/statisticsUtils.js
  client/app/lib/components/core/BarChart.jsx
  client/app/types/course/statistics/assessmentStatistics.ts
  config/routes.rb
Due: frontend, backend

cleanup redundant variables
  app/controllers/concerns/course/statistics/submissions_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
  client/app/api/course/Statistics/AssessmentStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/DuplicationHistoryStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/selectors.ts
  client/app/bundles/course/assessment/reducers/statistics.ts
  client/app/bundles/course/assessment/types.ts
  client/app/bundles/course/assessment/utils/statisticsUtils.js
  client/app/types/course/statistics/assessmentStatistics.ts
  config/routes.rb
Due: frontend, backend

add feature for phantom in statistics
  client/app/bundles/course/assessment/pages/AssessmentStatistics/GradeDistributionChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsCharts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionStatusChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionTimeAndGradeChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/index.tsx
Due: frontend

refactor assessment statistics page
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorOptions.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/DuplicationHistoryStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/index.tsx
Due: frontend

refactor assessment operations
  client/app/bundles/course/assessment/components/ConvertMcqMrqButton/ConvertMcqMrqPrompt.tsx
  client/app/bundles/course/assessment/handles.ts
  client/app/bundles/course/assessment/operations.ts
  client/app/bundles/course/assessment/operations/assessments.ts
  client/app/bundles/course/assessment/operations/monitoring.ts
  client/app/bundles/course/assessment/operations/questions.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentAuthenticate/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentBlockedByMonitorPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/AssessmentEditPage.jsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowHeader.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/QuestionsManager.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/prompts/DeleteQuestionButtonPrompt.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/prompts/DuplicationPrompt.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/DuplicationHistoryStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/UnavailableMessage.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/index.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend

change SubmissionDoughnut to use BarChart
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/assessment.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsPanel.jsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionDoughnut.jsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionStatusChart.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/assessment/types.ts
  client/app/bundles/course/group/types.ts
  client/locales/en.json
  client/locales/zh.json
Due: frontend, backend

maxGrade and title for assessment taken from redux
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
Due: frontend, backend

simplify controller and API Call
  app/controllers/concerns/course/statistics/submissions_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/ancestor_statistics.json.jbuilder
  app/views/course/statistics/assessments/ancestors.json.jbuilder
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/api/course/Statistics/AssessmentStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  config/routes.rb
Due: frontend, backend

refactor types
  app/views/course/statistics/assessments/assessment.json.jbuilder
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/GradeDistributionChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/utils.js
  client/app/bundles/course/assessment/propTypes.js
  client/app/bundles/course/assessment/types.ts
  client/app/bundles/course/assessment/utils/statisticsUtils.js
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

question statistics table can be downloaded into csv
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
Due: frontend, backend

modify test cases for assessment statistics
  spec/controllers/course/statistics/assessment_controller_spec.rb
Due: none

small modification for statisticsUtils function
  client/app/bundles/course/assessment/utils/statisticsUtils.js
Due: frontend

redefine types for assessment and statistics
  client/app/bundles/course/assessment/types.ts
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend

minor refactoring on redux store
  app/controllers/course/statistics/assessments_controller.rb
  app/models/course/assessment.rb
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsCharts.tsx
  client/app/bundles/course/assessment/reducers/statisticsPage.js
  client/app/bundles/course/assessment/store.ts
  client/app/routers/AuthenticatedApp.tsx
Due: frontend, backend

componentise common chart for ancestor and main assessment
  client/app/bundles/course/assessment/pages/AssessmentStatistics/GradeDistribution/AncestorGradesChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/GradeDistribution/GradesChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/GradeDistribution/MainGradesChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionStatus/AncestorSubmissionChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionStatus/MainSubmissionChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionStatus/SubmissionStatusChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionTimeAndGradeStatistics/AncestorSubmissionTimeAndGradeStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionTimeAndGradeStatistics/MainSubmissionTimeAndGradeStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionTimeAndGradeStatistics/SubmissionTimeAndGradeChart.tsx
Due: frontend

refactor ancestor assessment statistics chart
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorOptions.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorSelect.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AncestorStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/DuplicationHistoryStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StatisticsCharts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/index.tsx
  client/app/bundles/course/assessment/utils/statisticsUtils.js
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
