Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(user): add react account settings
  client/app/bundles/user/AccountSettings/AccountSettingsForm.tsx
  client/app/bundles/user/AccountSettings/index.tsx
  client/app/bundles/user/components/AddEmailSubsection.tsx
  client/app/bundles/user/components/AvatarSelector.tsx
  client/app/bundles/user/components/EmailsList.tsx
  client/app/bundles/user/emails.tsx
  client/app/bundles/user/index.tsx
  client/app/bundles/user/operations.ts
  client/app/bundles/user/profiles.tsx
  client/app/bundles/user/registrations.tsx
  client/app/bundles/user/translations.ts
  client/app/lib/components/form/fields/SelectField.jsx
  client/app/lib/translations/messages.ts
Due: frontend

style(user): remove unused translations
  config/locales/en/user/admin.yml
  config/locales/en/user/emails.yml
  config/locales/en/user/profiles.yml
  config/locales/en/user/registrations.yml
Due: none

fix(admin): network errors fail silently on save changes
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/CommentsSettings/index.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/operations.ts
  client/app/bundles/course/admin/pages/ComponentSettings/operations.ts
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/operations.ts
  client/app/bundles/course/admin/pages/LeaderboardSettings/index.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/operations.ts
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/operations.ts
  client/app/bundles/course/admin/pages/SidebarSettings/operations.ts
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/operations.ts
Due: frontend

feat(user): add prompts when deleting emails
  client/app/bundles/user/components/EmailsList.tsx
  client/app/bundles/user/translations.ts
Due: frontend

test(email_management): adapt to new ui
  client/app/bundles/user/components/AddEmailSubsection.tsx
  spec/features/user/email_management_spec.rb
Due: frontend

test(profile_edit): adapt to new ui
  spec/features/user/profile_edit_spec.rb
Due: none

feat(accountsettings): prevent password confirm cut/copy/paste
  client/app/bundles/user/AccountSettings/AccountSettingsForm.tsx
Due: frontend

fix(accountsettings): profile picture resets after upload
  client/app/bundles/user/operations.ts
Due: frontend

feat(coursesettings): support cropping course logo
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/user/AccountSettings/AccountSettingsForm.tsx
  client/app/lib/components/core/AvatarSelector.tsx
  spec/features/course/admin/admin_spec.rb
Due: frontend

feat(user): disable /users/edit, /user/emails/edit
  app/views/user/emails/index.html.slim
  app/views/user/registrations/edit.html.slim
  client/app/bundles/user/emails.tsx
  client/app/bundles/user/index.tsx
  client/app/bundles/user/registrations.tsx
  config/routes.rb
  spec/controllers/user/emails_controller_spec.rb
  spec/features/user/email_management_spec.rb
  spec/features/user/password_management_spec.rb
Due: frontend, backend

feat(emails): sort emails by primary, confirmed status
  app/views/user/emails/index.json.jbuilder
Due: backend

feat(user): add email subsection is collapsible
  client/app/bundles/user/components/AddEmailSubsection.tsx
  client/app/bundles/user/translations.ts
  spec/features/user/email_management_spec.rb
Due: frontend

feat(user): reset add email subsection on form reset
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/user/AccountSettings/AccountSettingsForm.tsx
  client/app/bundles/user/components/AddEmailSubsection.tsx
  client/app/lib/components/form/Form.tsx
Due: frontend

fix(theme): dialogs appear below absolute elements
  client/app/lib/components/wrappers/ProviderWrapper.jsx
Due: frontend

feat(user): add email ability badges
  client/app/bundles/user/AccountSettings/AccountSettingsForm.tsx
  client/app/bundles/user/components/EmailsList.tsx
  client/app/bundles/user/translations.ts
Due: frontend

refactor(textfield): separate into passwordtextfield
  client/app/lib/components/core/fields/PasswordTextField.tsx
  client/app/lib/components/core/fields/TextField.tsx
  client/app/lib/components/form/fields/TextField.tsx
Due: frontend

feat(avatarselector): support for gif
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/user/AccountSettings/AccountSettingsForm.tsx
  client/app/bundles/user/AccountSettings/index.tsx
  client/app/bundles/user/operations.ts
  client/app/lib/components/core/AvatarSelector.tsx
  client/app/lib/components/core/ImageCropper/index.tsx
  client/app/lib/components/core/ImageCropper/utils.ts
  client/app/lib/components/core/dialogs/ImageCropDialog.tsx
Due: frontend

fix(form): reset reverts to old initialValues with empty data
  client/app/lib/components/form/Form.tsx
Due: frontend

feat(form): supports submitsdirtyfieldsonly
  client/app/lib/components/form/Form.tsx
Due: frontend

feat(users): add types and courseapi endpoints
  client/app/api/Users.ts
  client/app/types/users.ts
Due: frontend

feat(section): support for variable max widths
  client/app/lib/components/core/layouts/Section.tsx
Due: frontend

feat(profiles_controller): provides time_zones
  app/controllers/user/profiles_controller.rb
  config/routes.rb
Due: backend

feat(textfield): add new password visibility features
  client/app/lib/components/core/fields/TextField.tsx
  client/app/lib/translations/messages.ts
Due: frontend

feat(emails_controller): create, destroy, set_primary respond all emails
  app/controllers/user/emails_controller.rb
Due: backend

feat(form): supports receiveerrors
  client/app/bundles/course/user-invitations/components/forms/IndividualInviteForm.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/IndividualInviteForm.tsx
  client/app/lib/components/form/Form.tsx
  client/app/lib/translations/form.ts
  client/app/lib/translations/messages.ts
Due: frontend

feat(form): supports mutate
  client/app/lib/components/form/Form.tsx
Due: frontend

feat(user): removed unused slim htmls
  app/assets/stylesheets/user/profiles.scss
  app/views/layouts/user_admin.html.slim
  app/views/user/emails/_email.html.slim
Due: backend

feat(emails_controller): responds to json
  app/controllers/user/emails_controller.rb
  app/views/user/emails/_email_list_data.json.jbuilder
  app/views/user/emails/index.html.slim
  app/views/user/emails/index.json.jbuilder
  spec/controllers/user/emails_controller_spec.rb
Due: backend

feat(profiles_controller): responds to json
  app/controllers/user/profiles_controller.rb
  app/themes/default/views/layouts/_topbar.html.slim
  app/views/user/profiles/edit.html.slim
  app/views/user/profiles/edit.json.jbuilder
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
