Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

chore(locale): update translation
  config/locales/zh/layout.yml
Due: none

style : change the format of unsubscription text in email and include unsubscribe link in submission email (not tested yet)
  app/views/notifiers/course/assessment_notifier/submitted/user_notifications/email.html.slim
  config/locales/en/layout.yml
Due: backend

chore: add mailcatcher config
  config/environments/development.rb
Due: none

checkpoint: 30-11-2022 11:50:43
  client/app/lib/components/core/tables/Cell.tsx
  client/app/lib/components/core/tables/Table.tsx
  client/app/lib/components/core/tables/TableContainer.tsx
  client/app/lib/components/core/tables/builders/IterableTableBuilder.ts
  client/app/lib/components/core/tables/builders/StaticTableBuilder.ts
  client/app/lib/components/core/tables/index.ts
  client/app/lib/components/core/tables/renderers/HorizontalTable.tsx
  client/app/lib/components/core/tables/renderers/VerticalTable.tsx
  client/app/lib/components/core/tables/types.ts
  client/app/lib/components/core/tables/utils.ts
Due: frontend

refactor(posts controller): remove head ok
  app/controllers/course/forum/posts_controller.rb
Due: backend

chore(intl): replace all useIntl
  client/app/bundles/course/experience-points/disbursement/pages/ForumDisbursement/index.tsx
  client/app/bundles/course/forum/components/cards/ReplyCard.tsx
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/course/StudentPerformanceTable.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/course/StudentProgressionChart.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/course/index.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/course/utils.js
  client/app/bundles/course/statistics/pages/StatisticsIndex/index.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/staff/index.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/StudentsStatisticsTable.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/index.jsx
Due: frontend

chore(email subscription): extract translation
  app/views/layouts/course.html.slim
  config/locales/en/layout.yml
  config/locales/zh/layout.yml
Due: backend

refactor(user email subscriptions): use link component
  client/app/bundles/course/pages/UserEmailSubscriptions/index.jsx
Due: frontend

test: refactor test
  spec/features/course/forum/post_management_spec.rb
  spec/features/system/admin/masquerades_spec.rb
Due: none

refactor(linear progress label): refactor component
  client/app/bundles/course/statistics/pages/StatisticsIndex/course/StudentPerformanceTable.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/StudentsStatisticsTable.jsx
  client/app/lib/components/core/LinearProgressWithLabel.tsx
Due: frontend

fix: fix duplicate key for topics component
  client/app/bundles/course/forum/pages/ForumTopicShow/TopicPostTrees.tsx
  client/app/bundles/course/forum/pages/ForumTopicShow/index.tsx
Due: frontend

feat(datatable): use 100% height so that datatable toolbar is visible in narrow screen
  client/app/lib/components/core/layouts/DataTable.jsx
Due: frontend

feat(topic note): set topic note color to success when topic is resolved
  client/app/bundles/course/forum/pages/ForumTopicShow/index.tsx
Due: frontend

feat(topic unread): toggle_answer api now returns if the topic of the toggled post is resolved
  app/controllers/course/forum/posts_controller.rb
  client/app/api/course/Forum/Posts.ts
  client/app/bundles/course/forum/operations.ts
  client/app/bundles/course/forum/reducers.ts
Due: frontend, backend

refactor(masquerade button): refactor masquerade button
  client/app/bundles/system/admin/admin/components/buttons/UsersButtons.tsx
  client/app/bundles/system/admin/instance/instance/components/buttons/UsersButtons.tsx
  client/app/lib/components/core/buttons/MasqueradeButton.tsx
  spec/features/system/admin/masquerades_spec.rb
Due: frontend

fix(add button): fix tooltip props passed to iconbutton component
  client/app/lib/components/core/buttons/AddButton.tsx
Due: frontend

fix(email unsubscription): fix email settings not automatically being unsubscribed when clicking the link through the email
  client/app/api/course/UserEmailSubscriptions.js
  client/app/bundles/course/actions/user-email-subscriptions.js
  client/app/bundles/course/pages/UserEmailSubscriptions/index.jsx
  client/app/bundles/course/user-email-subscriptions.jsx
Due: frontend

feat(post update): mark post as read after updating
  app/models/course/discussion/post.rb
Due: backend

feat(submission stepper): user red color for question stepper when answer is wrong
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

feat(note): add color to note component
  client/app/lib/components/core/Note.jsx
Due: frontend

refactor(forums API): use APIResponse type for forums API return type
  client/app/api/course/Forum/Forums.ts
  client/app/api/course/Forum/Posts.ts
  client/app/api/course/Forum/Topics.ts
  client/app/bundles/course/forum/operations.ts
  client/app/bundles/course/forum/pages/ForumTopicNew/index.tsx
Due: frontend

refactor(forum topic): refactor post card component into smaller components - use chip for mark as answer button - add prompt for unsaved changes when editing a post
  client/app/bundles/course/forum/components/buttons/ForumTopicPostEditActionButtons.tsx
  client/app/bundles/course/forum/components/buttons/ForumTopicPostManagementButtons.tsx
  client/app/bundles/course/forum/components/buttons/MarkAnswerButton.tsx
  client/app/bundles/course/forum/components/buttons/VotePostButton.tsx
  client/app/bundles/course/forum/components/cards/PostCard.tsx
  client/app/bundles/course/forum/components/cards/ReplyCard.tsx
  client/app/bundles/course/forum/components/tables/ForumTable.tsx
  spec/features/course/forum/post_management_spec.rb
  spec/support/active_job.rb
Due: frontend

refactor(mui datatable debounce): increase debounce period and rename constant
  client/app/bundles/system/admin/admin/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UsersTable.tsx
  client/app/lib/constants/sharedConstants.ts
Due: frontend

refactor(linear progress): use existing component
  client/app/bundles/course/statistics/pages/StatisticsIndex/course/StudentPerformanceTable.jsx
Due: frontend

refactor(manage subscription): move manage email subscriptions from course user profile page to the course user sidebar
  app/assets/stylesheets/course/layout.scss
  app/views/course/users/_user_data.json.jbuilder
  app/views/layouts/course.html.slim
  client/app/bundles/course/users/components/misc/UserProfileCard.tsx
  client/app/types/course/courseUsers.ts
Due: frontend, backend

feat(students statistics): show my students statistics by default
  app/views/course/statistics/aggregate/all_students.json.jbuilder
  client/app/bundles/course/statistics/actions.js
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/StudentsStatisticsTable.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/index.jsx
  client/app/bundles/course/statistics/propTypes/students.js
  client/app/bundles/course/statistics/reducers/studentsStatistics.js
Due: frontend, backend

chore: fix linting
  client/app/declaration.d.ts
Due: frontend

test: fix flaky tests
  app/controllers/concerns/application_multitenancy_concern.rb
  spec/controllers/course/assessment/assessments_controller_spec.rb
  spec/features/course/admin/admin_spec.rb
  spec/features/course/assessment/answer/forum_post_response_answer_spec.rb
  spec/features/course/assessment/answer/multiple_response_answer_spec.rb
  spec/features/course/assessment/question/duplication_spec.rb
  spec/features/course/assessment/question/multiple_response_management_spec.rb
  spec/features/course/assessment/question/programming_management_spec.rb
  spec/features/course/assessment/skill_branch_management_spec.rb
  spec/features/course/assessment/skill_management_spec.rb
  spec/features/course/assessment/submission/log_spec.rb
  spec/features/course/assessment/submission/password_protected_and_delayed_publishing_spec.rb
  spec/features/course/assessment/submission/submissions_spec.rb
  spec/features/course/assessment_management_spec.rb
  spec/features/course/discussion/topic_management_spec.rb
  spec/features/course/duplication_spec.rb
  spec/features/course/experience_points/disbursement_spec.rb
  spec/features/course/experience_points/forum_disbursement_spec.rb
  spec/features/course/experience_points_record_management_spec.rb
  spec/features/course/forum/post_management_spec.rb
  spec/features/course/forum/topic_management_spec.rb
  spec/features/course/forum_management_spec.rb
  spec/features/course/invitation_management_spec.rb
  spec/features/course/material/files_management_spec.rb
  spec/features/course/material/folder_management_spec.rb
  spec/features/course/video/video_viewing_and_attempting_spec.rb
  spec/features/instance_user_role_requests_management_spec.rb
  spec/features/system/admin/announcement_management_spec.rb
  spec/features/system/admin/course_management_spec.rb
  spec/features/system/admin/instance/course_management_spec.rb
  spec/features/system/admin/instance/user_management_spec.rb
  spec/features/system/admin/user_management_spec.rb
  spec/features/user/profile_edit_spec.rb
  spec/models/course/assessment/answer/forum_post_response_spec.rb
  spec/support/active_job.rb
  spec/support/capybara.rb
Due: backend

refactor: remove NonGroupUserManagerList, do name refactoring, make Chip element reusable, and set hiding phantom members to be default
  client/app/bundles/course/group/components/GroupRoleChip.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManager.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManagerList.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/NonGroupUserManagerList.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupTableCard.jsx
  client/app/bundles/course/group/pages/GroupShow/index.jsx
  client/app/bundles/course/group/propTypes.js
Due: frontend

refactor : add functionality to hide phantom students in group main page and group edit page
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManager.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManagerList.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/NonGroupUserManagerList.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupTableCard.jsx
Due: frontend

style: add in which other groups, if exists, each member is in while editing group members
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManager.jsx
  client/app/bundles/course/group/pages/GroupShow/GroupManager/GroupUserManagerList.jsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
