Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

UI/UX improvement for saving answer
  app/models/course/assessment/answer.rb
  app/views/course/assessment/answers/_answer.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend, backend

style: some modification on submission answer UI
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
Due: frontend

saving indicator redux state per answer
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

refactor submissionAnswer to typescript
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/questionGrade.ts
Due: frontend

debounce saving answer and autosave for text answer
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
Due: frontend

create reducer for saving individual answer
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/annotations.js
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/attachments.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/grading.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/submission.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/reducers/testCases.js
Due: frontend

add sessionId and clientVersion in Answer
  app/models/course/assessment/answer.rb
  app/services/course/assessment/submission/update_service.rb
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  db/migrate/20231107114521_add_session_id_to_answer.rb
  db/schema.rb
Due: frontend, backend

refine the saving indicator position in answer
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPostSelect.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
Due: frontend

setup saving answer
  app/models/course/assessment/answer.rb
  app/services/course/assessment/submission/update_service.rb
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  config/locales/en/activerecord/course/assessment/answer.yml
  config/locales/en/activerecord/course/assessment/submission.yml
Due: frontend, backend

render Unsaved chips in Answer when it's dirty
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/utils.js
Due: frontend

fix bug clientVersion and session_id in params
  app/services/course/assessment/submission/update_service.rb
Due: backend

not sending error message when no files uploaded
  app/models/course/assessment/answer/text_response.rb
  app/services/course/assessment/submission/update_service.rb
  config/locales/en/activerecord/course/assessment/submission.yml
Due: backend

update answer autosave for MCQ and text
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

fix bug programming upload java files
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
Due: frontend

support autosave for file upload
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/FileUpload.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
Due: frontend, backend

support voice response autosave and fix bug
  app/views/course/assessment/answer/forum_post_responses/_forum_post_response.json.jbuilder
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/lib/components/form/fields/SingleFileInput/index.jsx
Due: frontend, backend

remove current from redux and change save indicator
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

add failed saving indicator for submission answer
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

clientVersion as condition for state change
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

fix bug answer.specific validation not run
  app/services/course/assessment/submission/update_service.rb
Due: backend

saving indicator edited
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
Due: frontend

change toast for upload success to chip
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/translations.ts
  client/locales/en.json
  client/locales/zh.json
Due: frontend

refactoring the submissionAnswer
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

revise behavior in importing java programming file
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

support autosave while upload programming files
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

fix bug missingAnswer makes the page cannot render
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
Due: frontend

refactor saveAnswer
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
Due: frontend

setup API for uploading files
  app/controllers/course/assessment/submission/answer/text_response/controller.rb
  app/controllers/course/assessment/submission/answer/text_response/text_response_controller.rb
  app/models/course/assessment/answer/text_response.rb
  app/services/course/assessment/submission/update_service.rb
  client/app/api/course/Assessment/Submission/Answer/TextResponse.ts
  client/app/api/course/Assessment/Submission/Answer/index.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/FileUpload.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/reducers/attachments.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/types/course/assessment/submission/textResponseAttachment.ts
  config/routes.rb
Due: frontend, backend

add testcase in rspec for answer and attachment
  spec/controllers/course/assessment/submission/answer/programming/programming_controller_spec.rb
  spec/models/course/assessment/answer_spec.rb
Due: none

change migration for client_version to bigint
  app/models/course/assessment/answer.rb
  app/views/course/assessment/answers/_answer.json.jbuilder
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  db/migrate/20231107114521_add_session_id_to_answer.rb
  db/schema.rb
Due: frontend, backend

fix test for upload files
  client/app/bundles/course/assessment/submission/actions/__test__/scribing.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/SavingIndicator.test.tsx
  spec/features/course/assessment/answer/programming_file_submission_answer_spec.rb
  spec/features/course/assessment/answer/text_response_answer_spec.rb
Due: frontend

simplify saveAnswer and some minor adjustment
  app/controllers/course/assessment/submission/answer/text_response/controller.rb
  app/controllers/course/assessment/submission/answer/text_response/text_response_controller.rb
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/ScribingToolbar.test.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/index.test.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/bundles/course/assessment/submission/utils.js
  client/app/lib/components/form/fields/SingleFileInput/index.jsx
Due: frontend, backend

rename saveAnswer on each Answer
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/bundles/course/assessment/submission/types.ts
Due: frontend

defaultValue is reset on upload or import files
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend, backend

saving indicator updated on file upload or import
  client/app/bundles/course/assessment/submission/actions/attachments.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/answers/FileUpload.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

fix ProgrammingFile test on Frontend
  client/app/bundles/course/assessment/submission/components/answers/Programming/__test__/ProgrammingFile.test.tsx
Due: frontend

optimise props for Answer
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/answers/FileUpload.jsx
Due: frontend

refactor submissionAnswer and Answer, minor style fix
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/containers/PastAnswers.jsx
Due: frontend

refactoring for voice response and audio response
  app/controllers/course/assessment/submission/answer/programming/programming_controller.rb
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/lib/components/form/fields/SingleFileInput/index.jsx
Due: frontend, backend

UI Improvement for Dialog and Saving Indicator
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/CardTitle.jsx
  client/app/bundles/course/assessment/submission/containers/ImportedFileView.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
