Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

display Attempt Count Table
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/classNameUtils.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/index.tsx
Due: frontend

performance improvement and refactoring
  app/controllers/concerns/course/statistics/submissions_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
  app/helpers/course/statistics/assessments_helper.rb
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

resolve n+1 issue in group names and refactor
  app/controllers/concerns/course/statistics/submissions_concern.rb
  app/controllers/concerns/course/statistics/users_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

get attributes for attempt count from BE
  app/controllers/course/statistics/assessments_controller.rb
  app/helpers/course/statistics/assessments_helper.rb
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

refactor(reference time): extract end_at from SQL
  app/controllers/concerns/course/statistics/reference_times_concern.rb
  app/controllers/concerns/course/statistics/submissions_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
Due: backend

fix(statistics): show grade from last_attempt
  app/controllers/concerns/course/statistics/submissions_concern.rb
Due: backend

refactor(Answer): put only props that are necessary for question
  client/app/bundles/course/assessment/submission/components/answers/Answer.tsx
  client/app/bundles/course/assessment/submission/components/answers/FileUpload/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/types.ts
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/types/course/assessment/submission/question/types.ts
Due: frontend

refactor(statistics): modify API to get answer
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/answer_details.json.jbuilder
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/api/course/Statistics/AnswerStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
  config/routes.rb
Due: frontend, backend

feat(statisticsTable): pass current answer ID to FE
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

refactor(statistics page): cancel -> close in answer details box
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
Due: frontend, backend

feat(statistics): display answer for some question types
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AttachmentDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/FileUploadDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/MultipleChoiceDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/MultipleResponseDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/TextResponseDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay.tsx
Due: frontend, backend

fix(statistics): pass id of last attempt answer to FE
  app/controllers/concerns/course/statistics/submissions_concern.rb
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

refactor(statistics): minor refactoring in BE and FE
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
Due: frontend, backend

feat(statistics): render question details in each answer
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/answer_details.json.jbuilder
  client/app/api/course/Statistics/AnswerStatistics.ts
  client/app/api/course/Statistics/index.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
  config/routes.rb
Due: frontend, backend

refactor(type): expose all question types for reusing
  client/app/api/course/Statistics/AnswerStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/submission/components/answers/Answer.tsx
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/types.ts
  client/app/types/course/assessment/submission/answer/forumPostResponse.ts
  client/app/types/course/assessment/submission/answer/multipleResponse.ts
  client/app/types/course/assessment/submission/answer/programming.ts
  client/app/types/course/assessment/submission/answer/scribing.ts
  client/app/types/course/assessment/submission/answer/textResponse.ts
  client/app/types/course/assessment/submission/answer/voiceResponse.ts
  client/app/types/course/assessment/submission/question/types.ts
  client/app/types/course/statistics/answer.ts
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend

refactor(statistics): questionType -> type
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

feat(answer_stats): implement forum answer view
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseComponent/ParentPostPack.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseComponent/PostContent.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseComponent/PostPack.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseDetails.tsx
Due: frontend

feat(answer_stats): implement programming answer view
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/CodaveriFeedbackStatus.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/FileContent.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/TestCaseRow.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/TestCases.tsx
  client/app/types/course/statistics/answer.ts
Due: frontend, backend

chore(answer_stats): remove unnecessary translations
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseComponent/PostPack.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/TestCases.tsx
Due: frontend

refactor(test-cases): refurnish test cases indicator chip
  app/controllers/course/statistics/answers_controller.rb
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/TestCases.tsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
Due: frontend, backend

feat(past_answers): page for all past answers - per submission question id
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/_answer.json.jbuilder
  app/views/course/statistics/answers/all_answers.json.jbuilder
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/api/course/Statistics/AllAnswerStatistics.ts
  client/app/api/course/Statistics/index.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAnswers.tsx
  client/app/routers/AuthenticatedApp.tsx
  config/routes.rb
Due: frontend, backend

feat(statistics): add comment and link to past answers
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/all_answers.json.jbuilder
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttempts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/Comment.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LastAttempt.tsx
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAnswers.tsx
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAttempts.tsx
  client/app/lib/helpers/url-builders.js
  client/app/routers/AuthenticatedApp.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

refactor(statistics): minor refactoring
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttempts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LastAttempt.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/lib/helpers/url-builders.js
  client/app/lib/helpers/url-helpers.js
  client/app/theme/palette.js
Due: frontend

fix(attempt_count): count only graded answers
  app/controllers/concerns/course/statistics/submissions_concern.rb
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
Due: backend

refactor(statistics): emphasis on type name (display details)
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/FileUploadDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ForumPostResponseDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/MultipleChoiceDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/MultipleResponseDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/TextResponseDetails.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend

test(stats_answer): add answer controller spec
  spec/controllers/course/statistics/answer_controller_spec.rb
Due: none

refactor(validation): abstract out validation schema
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/types.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/ErrorHelper.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/useErrorTranslation.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/validations/AllValidation.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/validations/AttachmentValidation.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/validations/types.ts
Due: frontend

refactor(types-errors): remove unnecessary types and errors
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/useErrorTranslation.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/validations/AttachmentValidation.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/validations/types.ts
  client/app/types/course/assessment/submission/question/types.ts
Due: frontend

feat(file-upload): required field modifiable in file upload qns
  client/app/bundles/course/assessment/question/text-responses/NewTextResponsePage.tsx
  client/app/bundles/course/assessment/question/text-responses/components/FileUploadManager.tsx
  client/app/bundles/course/assessment/question/text-responses/components/TextResponseForm.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend

fix(test): fix snapshot result for ErrorText
  client/app/lib/components/core/__test__/__snapshots__/ErrorText.test.tsx.snap
Due: frontend

fix(test): fix expected attachment types
  spec/features/course/assessment/question/text_response_management_spec.rb
Due: none

feat(answer): add validation for question
  client/app/bundles/course/assessment/submission/components/answers/FileUpload/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

refactor(error): refurnish error functions
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/types.ts
  client/app/bundles/course/assessment/submission/components/answers/utils.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/ErrorHelper.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/useErrorTranslation.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/validations/AllValidation.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/validations/AttachmentValidation.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/validations/types.ts
Due: frontend

refactor(error): fix error message style and message in submission
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/lib/components/core/ErrorText.jsx
Due: frontend

fix(validation): set maxAttachment at least 1
  client/app/bundles/course/assessment/question/text-responses/commons/validations.ts
  client/app/bundles/course/assessment/translations.ts
Due: frontend

fix(text): fix translations inside text response/file upload
  app/models/course/assessment/question/text_response.rb
  client/app/bundles/course/assessment/question/text-responses/components/FileUploadManager.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/answers/utils.tsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/question/text-responses.ts
Due: frontend, backend

refactor(attachment-error): use custom hook for translation
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/AttachmentErrorType.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/ErrorType.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/useErrorTranslation.ts
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

feat(file-upload): setup dropzone based on attachment settings
  app/views/course/assessment/question/text_responses/_text_response.json.jbuilder
  client/app/bundles/course/assessment/question/text-responses/components/FileUploadManager.tsx
  client/app/bundles/course/assessment/question/text-responses/components/TextResponseForm.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/answers/FileUpload/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse/index.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImport/ProgrammingImportEditor.jsx
  client/app/types/course/assessment/submission/question/types.ts
Due: frontend, backend

refactor(submission): errors in object instead of array
  app/models/course/assessment/question/text_response.rb
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend, backend

fix(snapshot): change snapshot style in ErrorText
  client/app/lib/components/core/__test__/__snapshots__/ErrorText.test.tsx.snap
Due: frontend
