Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(user table): fix wrong user id link and active user text
  client/app/bundles/system/admin/instance/instance/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersIndex/index.tsx
Due: frontend

feat(table): trim `searchKeyword`
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
Due: frontend

feat(searchfield): forwards textfield props
  client/app/lib/components/core/fields/SearchField.tsx
Due: frontend

style(table): add global filter props for customised function
  client/app/bundles/course/users/components/tables/ManageUsersTable/index.tsx
  client/app/bundles/system/admin/admin/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/InstancesTable.tsx
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/builder/ColumnTemplate.ts
  client/app/lib/components/table/builder/TableTemplate.ts
  client/app/lib/components/table/builder/featureTemplates.ts
Due: frontend

feat(tables): add initialpageindex
  client/app/bundles/course/users/components/tables/ManageUsersTable/index.tsx
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/builder/featureTemplates.ts
Due: frontend

feat(tables): add rendering adapter specs
  client/app/lib/components/table/adapters/Body.ts
  client/app/lib/components/table/adapters/Filter.ts
  client/app/lib/components/table/adapters/Header.ts
  client/app/lib/components/table/adapters/Pagination.ts
  client/app/lib/components/table/adapters/RowSelector.ts
  client/app/lib/components/table/adapters/Sort.ts
  client/app/lib/components/table/adapters/Table.ts
  client/app/lib/components/table/adapters/Toolbar.ts
  client/app/lib/components/table/adapters/index.ts
Due: frontend

style(admin): adapt courses, instances table props with `Table`
  app/controllers/system/admin/courses_controller.rb
  app/controllers/system/admin/instance/courses_controller.rb
  client/app/bundles/system/admin/admin/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/InstancesTable.tsx
  client/app/bundles/system/admin/admin/pages/CoursesIndex/index.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceCoursesIndex/index.tsx
Due: frontend, backend

feat(table): pass internal row equality data to adapter
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/adapters/Body.ts
  client/app/lib/components/table/adapters/index.ts
Due: frontend

style(admin): split active, total users columns
  client/app/bundles/system/admin/admin/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/InstancesTable.tsx
  client/app/bundles/system/admin/admin/pages/InstancesIndex/index.tsx
  client/app/lib/translations/table.ts
Due: frontend

feat(table): add `accessorFn` to handle queries of nonstring data
  client/app/lib/components/table/TanStackTableBuilder/columnsBuilder.ts
Due: frontend

refactor(manageuserstable): use new table
  client/app/bundles/course/users/components/buttons/UserManagementButtons.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/ActiveTableToolbar.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/AlgorithmMenu.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/BulkAssignTimelineButton.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/PhantomSwitch.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/RoleMenu.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/TimelineMenu.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/UserNameField.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/index.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/translations.ts
  client/app/bundles/course/users/pages/ManageStaff/index.tsx
  client/app/bundles/course/users/pages/ManageStudents/index.tsx
  client/app/types/course/courseUsers.ts
Due: frontend

feat(InlineEditTextField): add color for error text
  client/app/lib/components/form/fields/DataTableInlineEditable/TextField.tsx
Due: frontend

style(core/table): add deprecation notice
  client/app/lib/components/core/table/HorizontalTable.tsx
  client/app/lib/components/core/table/VerticalTable.tsx
  client/app/lib/components/core/table/template.ts
Due: frontend

feat(statistics download): add detailed question grades - Fix N+1 course user load issue
  app/services/course/assessment/submission/statistics_download_service.rb
Due: backend

test: disable flaky tests
  spec/features/course/category_management_spec.rb
  spec/features/user/profile_edit_spec.rb
Due: none

fix(programming): crash when loading `SkillsAutocomplete`
  app/views/course/assessment/question/programming/_question.json.jbuilder
Due: backend

fix(reference_time): `Module::DelegationError` when duplicating course
  app/models/course/reference_time.rb
Due: backend

feat(ManageUsersTable): remove checkboxes in Manage Staff
  client/app/bundles/course/users/components/tables/ManageUsersTable/index.tsx
Due: frontend

fix(ActiveTableToolbar): students -> users
  client/app/bundles/course/users/components/tables/ManageUsersTable/ActiveTableToolbar.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/translations.ts
Due: frontend

test(duplication): add assessment with `end_at` to course to duplicate
  spec/features/course/duplication_spec.rb
Due: none

chore(react): add react-refresh for Fast Refresh
  client/package.json
  client/webpack.common.js
  client/webpack.dev.js
  client/webpack.prod.js
  client/yarn.lock
Due: none

refactor(announcements): correctly type `AnnouncementListData`
  app/controllers/announcements_controller.rb
  app/controllers/course/announcements_controller.rb
  app/controllers/system/admin/announcements_controller.rb
  app/controllers/system/admin/instance/announcements_controller.rb
  app/views/announcements/_announcement_data.json.jbuilder
  app/views/announcements/_announcement_list_data.json.jbuilder
  app/views/announcements/index.json.jbuilder
  app/views/course/announcements/index.json.jbuilder
  app/views/course/courses/_course_data.json.jbuilder
  app/views/system/admin/announcements/index.json.jbuilder
  app/views/system/admin/instance/announcements/index.json.jbuilder
  client/app/api/Announcements.ts
  client/app/api/course/Announcements.ts
  client/app/api/system/Admin.ts
  client/app/api/system/InstanceAdmin.ts
  client/app/bundles/announcements/store.ts
  client/app/bundles/announcements/types.ts
  client/app/bundles/course/announcements/components/misc/AnnouncementCard.tsx
  client/app/bundles/course/announcements/components/misc/AnnouncementsDisplay.tsx
  client/app/bundles/course/announcements/store.ts
  client/app/bundles/course/announcements/types.ts
  client/app/bundles/course/courses/components/misc/CourseAnnouncements.tsx
  client/app/bundles/system/admin/admin/store.ts
  client/app/bundles/system/admin/admin/types.ts
  client/app/bundles/system/admin/instance/instance/store.ts
  client/app/bundles/system/admin/instance/instance/types.ts
  client/app/types/course/announcements.ts
  client/app/types/course/courses.ts
Due: frontend, backend

feat(SearchField): add `noIcon` prop
  client/app/lib/components/core/fields/SearchField.tsx
Due: frontend

feat(tailwind): add primary colour
  client/tailwind.config.ts
Due: none

style(tailwind): move colour slots to its plugin definition
  client/tailwind.config.ts
Due: none

style: remove persistent custom scrollbar
  client/app/bundles/course/assessment/skills/components/tables/SkillsTable.scss
  client/app/bundles/course/assessment/skills/components/tables/SkillsTable.tsx
  client/app/bundles/course/courses/components/misc/CourseInfoBox.scss
  client/app/bundles/course/courses/components/misc/CourseInfoBox.tsx
Due: frontend

style(fonts): replace Roboto with Inter
  client/app/lib/initializers/webfont.js
Due: frontend

feat(AssessmentsTable): disable flying action buttons
  client/app/bundles/course/assessment/pages/AssessmentsIndex/ActionButtons.tsx
Due: frontend

refactor: ProviderWrapper -> Providers
  client/app/App.tsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView/__test__/index.test.js
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/__test__/submissionsTable.test.jsx
  client/app/bundles/course/video/pages/VideoShow/VideoPlayerWithStore.jsx
  client/app/bundles/course/video/submission/pages/VideoSubmissionEdit/SubmissionEditWithStore.jsx
  client/app/bundles/course/video/submission/pages/VideoSubmissionShow/StatisticsWithStore.jsx
  client/app/lib/components/wrappers/I18nProvider.tsx
  client/app/lib/components/wrappers/ProviderWrapper.jsx
  client/app/lib/components/wrappers/Providers.tsx
  client/app/lib/components/wrappers/RollbarWrapper.tsx
  client/app/lib/components/wrappers/StoreProvider.tsx
  client/app/lib/components/wrappers/ThemeProvider.tsx
  client/app/lib/components/wrappers/ToastProvider.tsx
  client/app/utilities/TestApp.tsx
Due: frontend

chore(eslint): disable `import/prefer-default-export`
  client/.eslintrc.js
  client/app/bundles/announcements/operations.ts
  client/app/bundles/announcements/selectors.ts
  client/app/bundles/course/assessment/components/AssessmentForm/operations.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/utils.js
  client/app/bundles/course/assessment/sessions/operations.ts
  client/app/bundles/course/statistics/utils/parseStaffResponse.js
  client/app/bundles/course/statistics/utils/parseStudentsResponse.js
  client/app/bundles/course/video-submissions/operations.ts
  client/app/bundles/users/operations.ts
  client/app/lib/helpers/react-hook-form-helper.js
  client/app/theme/mui-style.ts
Due: frontend

feat(SearchField): make autofocus work
  client/app/lib/components/core/fields/SearchField.tsx
Due: frontend

feat(announcements): add `unread` global announcements
  app/controllers/announcements_controller.rb
  app/views/announcements/_announcement_data.json.jbuilder
  app/views/announcements/_announcement_list_data.json.jbuilder
  client/app/api/Announcements.ts
  config/routes.rb
Due: frontend, backend

style(sidebar): use standard icons, fix missing item keys
  app/controllers/components/course/achievements_component.rb
  app/controllers/components/course/announcements_component.rb
  app/controllers/components/course/assessments_component.rb
  app/controllers/components/course/discussion/topics_component.rb
  app/controllers/components/course/duplication_component.rb
  app/controllers/components/course/experience_points_component.rb
  app/controllers/components/course/forums_component.rb
  app/controllers/components/course/groups_component.rb
  app/controllers/components/course/leaderboard_component.rb
  app/controllers/components/course/learning_map_component.rb
  app/controllers/components/course/lesson_plan_component.rb
  app/controllers/components/course/levels_component.rb
  app/controllers/components/course/materials_component.rb
  app/controllers/components/course/multiple_reference_timelines_component.rb
  app/controllers/components/course/settings_component.rb
  app/controllers/components/course/statistics_component.rb
  app/controllers/components/course/survey_component.rb
  app/controllers/components/course/users_component.rb
  app/controllers/components/course/videos_component.rb
  app/views/course/admin/sidebar_settings/edit.json.jbuilder
Due: backend

refactor(constants): add icons for all course components
  client/app/bundles/course/admin/pages/SidebarSettings/SidebarSettingsForm.tsx
  client/app/bundles/course/learning-map/components/Node/index.jsx
  client/app/bundles/course/users/components/tables/PersonalTimesTable.tsx
  client/app/lib/constants/icons.ts
  client/app/lib/constants/sharedConstants.ts
  client/app/types/course/admin/sidebar.ts
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
