Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Implement observer permissions for assessments
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course/assessment/assessment_ability.rb
  app/views/course/assessment/assessments/_assessment_management_buttons.html.slim
  spec/models/course/assessment/assessment_ability_spec.rb
Due: backend

Do not assume all themes have a top navbar
  app/assets/stylesheets/layout.scss
  app/themes/default/assets/stylesheets/default/layout.scss
Due: backend

Move Hard Source plugin cache from the node_modules directory.
  .travis.yml
  client/webpack.config.js
Due: none

Modify course_user badge to be more accurate
  app/assets/stylesheets/_variables.scss
  app/assets/stylesheets/course/layout.scss
  app/models/concerns/course_user/achievements_concern.rb
  app/views/layouts/_course_user_badge.html.slim
  config/locales/en/common.yml
  config/locales/en/course/levels.yml
  config/locales/en/layout.yml
  spec/helpers/course/controller_helper_spec.rb
Due: backend

Modify #display_progress_bar to take more options
  app/helpers/application_widgets_helper.rb
  app/views/course/user_invitations/index.html.slim
  app/views/layouts/_course_user_badge.html.slim
  app/views/layouts/_progress_bar.html.slim
  app/views/system/admin/courses/_course.html.slim
  app/views/system/admin/instance/courses/_course.html.slim
  spec/helpers/application_widgets_helper_spec.rb
Due: backend

Do not use send for display_progress_bar
  spec/helpers/application_widgets_helper_spec.rb
Due: none

Upgrade hard-source-webpack-plugin
  client/yarn.lock
Due: none

yarn upgrade for minor libraries
  client/yarn.lock
Due: none

Reinstall HardSourceWebpack plugin.
  client/package.json
  client/yarn.lock
Due: none

Bundle update
  Gemfile.lock
Due: none

Downgrade hard-source-webpack-plugin as it is still giving errors
  client/package.json
  client/yarn.lock
Due: none

Prevent webpack recompile when test files change
  client/webpack.config.js
Due: none

Only enable HardSourceWebpackPlugin when running in Travis.
  client/webpack.config.js
Due: none

Temporarily disable LessonPlanNav
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/index.jsx
Due: frontend

Fixes to course_user_badge
  app/assets/stylesheets/course/layout.scss
  app/assets/stylesheets/mixins/_text_overflow.scss
  app/views/layouts/_course_user_badge.html.slim
  config/locales/en/layout.yml
  spec/helpers/course/controller_helper_spec.rb
Due: backend

Do not show the current milestone's title in LessonPlanNav
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/index.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanNav/index.jsx
Due: frontend

Limit height of LessonPlanNav menu
  client/app/bundles/course/lesson-plan/containers/LessonPlanNav/index.jsx
Due: frontend

Ensure user to search has email in user management spec
  spec/features/system/admin/user_management_spec.rb
Due: none

Enable rich text editing for video comments
  client/app/bundles/course/video/submission/containers/DiscussionElements/Editor.jsx
Due: frontend

Allow users to upgrade course_users to observer
  app/views/course/users/staff.html.slim
Due: backend

Add tests and instructions for user invitation
  config/locales/en/course/user_invitations.yml
  spec/fixtures/course/invitation_fuzzy_roles_and_phantom.csv
  spec/services/course/user_invitation_service_spec.rb
Due: none

Hide submission access logs link for observers
  app/views/course/assessment/submission/submissions/index.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/__test__/submissionsTable.test.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
Due: frontend, backend

Allow observers to see assessment questions
  app/assets/stylesheets/course/assessment/assessments.scss
  app/models/course/assessment/assessment_ability.rb
  app/views/course/assessment/assessments/show.html.slim
  app/views/course/question_assessments/_question_assessment.html.slim
  spec/models/course/assessment/assessment_ability_spec.rb
Due: backend

Fix submissions page for observer
  app/controllers/components/course/assessments_component.rb
  app/views/course/assessment/submissions/_submission.html.slim
  app/views/course/assessment/submissions/_tabs.html.slim
  app/views/course/assessment/submissions/index.html.slim
Due: backend

Show levels and skills in admin sidebar
  app/controllers/components/course/assessments_component.rb
  app/controllers/components/course/levels_component.rb
Due: backend

Allow observers to attempt unstarted surveys
  app/models/components/course/surveys_ability_component.rb
  spec/models/course/survey/survey_ability_spec.rb
Due: backend

Fix programming question edit page form submission
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
Due: frontend

Remove label from course staff management page phantom checkbox
  app/views/course/users/staff.html.slim
Due: backend

Remove height, width, float css from whitelist
  app/assets/javascripts/layout.js
  app/helpers/application_html_formatters_helper.rb
  client/app/lib/components/MaterialSummernote.jsx
  spec/helpers/application_formatters_helper_spec.rb
Due: frontend, backend

Do not show experience points on student statistics page for non-gamified course
  app/views/course/statistics/_table.html.slim
Due: backend

Bundle update on 21 June
  Gemfile.lock
Due: none

Show private and eval test cases for observers
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/submission/containers/TestCaseView.jsx
Due: frontend, backend

Fix translation param to skill branch
  app/controllers/course/assessment/skill_branches_controller.rb
Due: backend

Upgrade html-pipeline to 2.8
  Gemfile.lock
  app/helpers/application_html_formatters_helper.rb
Due: backend

Only show staff statistics if it is non-nil
  app/views/course/statistics/staff.html.slim
  config/locales/en/course/statistics.yml
  spec/features/course/staff_statistics_spec.rb
Due: backend

Send video properties to frontend
  app/views/course/video/submission/submissions/edit.json.jbuilder
  app/views/course/video/submission/submissions/show.json.jbuilder
  app/views/course/video/videos/_video.json.jbuilder
  app/views/course/video/videos/show.json.jbuilder
Due: backend

Refactor ProgressGraph into a tabbed view
  client/app/bundles/course/video/submission/containers/Charts/ProgressGraph.jsx
  client/app/bundles/course/video/submission/containers/Statistics.jsx
  client/app/bundles/course/video/submission/submissions-show.jsx
Due: frontend

Add analyze permission
  app/controllers/course/video/submission/submissions_controller.rb
  app/models/components/course/videos_ability_component.rb
  spec/models/course/video/video_ability_spec.rb
Due: backend

Add padding to statistics component
  client/app/bundles/course/video/submission/containers/Statistics.jsx
  client/app/bundles/course/video/submission/containers/Statistics.scss
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
