Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

add feature to block students from viewing finalized submissions
  app/controllers/course/assessment/assessments_controller.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/views/course/assessment/assessments/_edit.json.jbuilder
  app/views/course/assessment/submission/submissions/blocked.html.slim
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/containers/AssessmentForm/translations.intl.js
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.jsx
  config/locales/en/course/assessment/submission/submissions.yml
  db/migrate/20210819132022_block_student_viewing_submission.rb
  db/schema.rb
Due: frontend, backend

add newline to end of app/views/course/assessment/submission/submissions/blocked.html.slim
  app/views/course/assessment/submission/submissions/blocked.html.slim
Due: backend

fix style issues
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/views/course/assessment/assessments/_edit.json.jbuilder
Due: backend

feat(Autograded assessment): Add submit hotkey for autograded questions.
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/translations.js
  client/package.json
Due: frontend

add default value for block_student_viewing_after_submitted to AssessmentIndex
  client/app/bundles/course/assessment/pages/AssessmentIndex/index.jsx
Due: frontend

add missing comma to translations.intl.js in AssessmentForm
  client/app/bundles/course/assessment/containers/AssessmentForm/translations.intl.js
Due: frontend

chore: Add dependencies for react-hot-keys.
  client/package.json
  client/yarn.lock
Due: none

style: Fix function statement.
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

Style: Remove unnecessary space.
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

Prevent non-conditionals from being produced as a child node
  lib/autoload/course/conditional/user_satisfiability_graph.rb
Due: backend

Fix bug with nil conditionals being returned
  app/models/course/condition.rb
Due: backend

Add migration to create course_condition_surveys table
  db/migrate/20210821030941_create_course_condition_surveys.rb
  db/schema.rb
Due: none

Add survey condition model and wire it up with survey
  app/models/course/condition/survey.rb
  app/models/course/survey.rb
  config/locales/en/activerecord/course/condition/survey.yml
Due: backend

Add tests for course/object duplication logic
  spec/factories/course_condition_surveys.rb
  spec/services/course/duplication/course_duplication_service_spec.rb
  spec/services/course/duplication/object_duplication_service_spec.rb
Due: none

Add tests for survey condition model
  spec/models/course/condition/survey_spec.rb
Due: none

Add main controller for survey condition
  app/controllers/course/condition/surveys_controller.rb
  app/helpers/course/condition/conditions_helper.rb
  config/locales/en/common.yml
  config/locales/en/course/condition/surveys.yml
Due: backend

Add survey condition controllers for achievement and assessment
  app/controllers/course/achievement/condition/surveys_controller.rb
  app/controllers/course/assessment/condition/surveys_controller.rb
Due: backend

Add permission test for survey condition
  spec/models/course/condition/survey_ability_spec.rb
Due: none

Test that Course::Condition is correctly handling survey conditions
  spec/models/course/condition_spec.rb
Due: none

Add survey condition as a new type of conditions
  app/models/course/condition.rb
Due: backend

Add UI tests for survey condition
  spec/features/course/achievement_condition_management_spec.rb
Due: none

Add views for survey conditions
  app/views/course/condition/surveys/_form.html.slim
  app/views/course/condition/surveys/_survey.html.slim
  app/views/course/condition/surveys/_survey.json.jbuilder
  app/views/course/condition/surveys/edit.html.slim
  app/views/course/condition/surveys/new.html.slim
Due: backend

Allow teaching staff to manage survey conditions
  app/models/components/course/conditions_ability_component.rb
Due: backend

Add surveys route to conditions routes
  config/routes.rb
Due: none

Add tests for survey condition controllers
  spec/controllers/course/achievement/condition/surveys_controller_spec.rb
  spec/controllers/course/assessment/condition/surveys_controller_spec.rb
Due: none

update .gitignore to ignore the user's local node version
  .gitignore
Due: none

update blocked submission message
  config/locales/en/course/assessment/submission/submissions.yml
Due: none

fix bug where instructors were also unable to view submissions if the option to block students from viewing finalised submissions is toggled on
  app/controllers/course/assessment/submission/submissions_controller.rb
Due: backend

Change command to ⌘
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

Fix align hash issue
  app/models/course/survey.rb
Due: backend

Remove unused translation
  config/locales/en/course/condition/surveys.yml
Due: none

Add back the survey title
  config/locales/en/course/condition/surveys.yml
Due: none
