Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

chore(statistics): clean up on now unused files
  app/helpers/course/statistics_helper.rb
  app/jobs/course/statistics_download_job.rb
  app/services/course/statistics_download_service.rb
  config/locales/en/common.yml
  spec/jobs/course/statistics_download_job_spec.rb
  spec/services/course/statistics_download_service_spec.rb
Due: backend

tests(statistics): disable statistics tests for now
  spec/features/course/staff_statistics_spec.rb
  spec/features/course/students_statistics_spec.rb
Due: none

feat(statistics): update table view and add links
  client/app/bundles/course/statistics/pages/StatisticsIndex/staff/index.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/index.jsx
Due: frontend

feat(statistics): add react router
  client/app/bundles/course/statistics/index.jsx
Due: frontend

feat(statistics): add constants
  client/app/bundles/course/statistics/constants.js
Due: frontend

feat(statistics): include phantom student
  app/controllers/course/statistics/aggregate_controller.rb
  app/views/course/statistics/aggregate/all_students.json.jbuilder
  client/app/bundles/course/statistics/pages/StatisticsIndex/staff/index.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/index.jsx
  client/app/bundles/course/statistics/propTypes/students.js
Due: frontend, backend

chore(package): run yarn dedup
  client/package.json
  client/yarn.lock
Due: none

feat(statistics): add store
  client/app/bundles/course/statistics/store.js
Due: frontend

chore(statistics): remove unused translation
  config/locales/en/course/statistics.yml
Due: none

feat(statistics): move page header from rails to react
  app/views/course/statistics/index.html.slim
  client/app/bundles/course/statistics/pages/StatisticsIndex/index.jsx
Due: frontend, backend

tests(statistics): fix tests related to statistics controllers
  spec/controllers/course/statistics/aggregate_controller_spec.rb
  spec/controllers/course/statistics/statistics_controller_spec.rb
  spec/controllers/course/statistics_controller_spec.rb
Due: none

feat(statistics): add entry point for statistics component
  client/app/bundles/course/statistics/index.jsx
  client/app/bundles/course/statistics/statistics.js
Due: frontend

feat(statistics): rewrite existing tables into react components
  client/app/bundles/course/statistics/pages/StatisticsIndex/index.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/staff/index.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/index.jsx
Due: frontend

feat(statistics): add response parsers
  client/app/bundles/course/statistics/utils/parseStaffResponse.js
  client/app/bundles/course/statistics/utils/parseStudentsResponse.js
Due: frontend

feat(statistics): add statistics API on client side
  client/app/api/course/Statistics/CourseStatistics.js
  client/app/api/course/Statistics/index.js
  client/app/api/course/index.js
Due: frontend

refactor(statistics): shift student and staff statistics into a statistics module
  app/controllers/components/course/statistics_component.rb
  app/controllers/course/statistics/controller.rb
  app/controllers/course/statistics/statistics_controller.rb
  app/controllers/course/statistics_controller.rb
  app/views/course/statistics/_course_student_statistics.html.slim
  app/views/course/statistics/_staff_performance.html.slim
  app/views/course/statistics/_table.html.slim
  app/views/course/statistics/_tabs.html.slim
  app/views/course/statistics/all_students.html.slim
  app/views/course/statistics/index.html.slim
  app/views/course/statistics/my_students.html.slim
  app/views/course/statistics/staff.html.slim
  config/locales/en/course/statistics.yml
  config/routes.rb
Due: backend

refactor(statistics): introduce API endpoint for student and staff data
  app/controllers/course/statistics/aggregate_controller.rb
  app/helpers/course/statistics/aggregate_helper.rb
  app/views/course/statistics/aggregate/all_staff.json.jbuilder
  app/views/course/statistics/aggregate/all_students.json.jbuilder
Due: backend

feat(statistics): add actions
  client/app/bundles/course/statistics/actions.js
Due: frontend

feat(statistics): add reducers
  client/app/bundles/course/statistics/reducers/courseStatistics.js
  client/app/bundles/course/statistics/reducers/index.js
  client/app/bundles/course/statistics/reducers/staffStatistics.js
  client/app/bundles/course/statistics/reducers/studentsStatistics.js
Due: frontend

feat(statistics): add prop types
  client/app/bundles/course/statistics/propTypes/course.js
  client/app/bundles/course/statistics/propTypes/staff.js
  client/app/bundles/course/statistics/propTypes/students.js
Due: frontend

style(datatable): fix header center styling
  client/app/lib/components/core/layouts/DataTable.jsx
  client/app/lib/components/core/layouts/layout.scss
Due: frontend

chore(js routes): regen routes
  app/assets/javascripts/routes.js
Due: backend

chore(constants): rename default table row constant
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardManager.tsx
  client/app/bundles/course/enrol-requests/components/tables/EnrolRequestsTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/DisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumDisbursementTable.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/staff/index.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/index.jsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultInvitationsTable.tsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultUsersTable.tsx
  client/app/bundles/course/user-invitations/components/tables/UserInvitationsTable.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable.tsx
  client/app/bundles/course/video-submissions/components/tables/UserVideoSubmissionTable.tsx
  client/app/bundles/course/video/submission/components/tables/VideoSubmissionsTable.tsx
  client/app/bundles/system/admin/admin/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/admin/pages/CoursesIndex/index.tsx
  client/app/bundles/system/admin/admin/pages/UsersIndex/index.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceCoursesIndex/index.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceUsersIndex/index.tsx
  client/app/lib/constants/sharedConstants.ts
Due: frontend

fix(instance table): remove backend pagination for instance table
  app/controllers/system/admin/instances_controller.rb
  client/app/api/system/Admin.ts
  client/app/bundles/system/admin/admin/components/tables/InstancesTable.tsx
  client/app/bundles/system/admin/admin/operations.ts
  client/app/bundles/system/admin/admin/pages/InstancesIndex/index.tsx
Due: frontend, backend

refactor(tabs): add bottom border for tabs under page header
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionTabs.tsx
  client/app/bundles/course/discussion/topics/pages/CommentIndex/index.tsx
  client/app/bundles/course/users/components/navigation/UserManagementTabs.tsx
  client/app/bundles/course/video/components/misc/VideoTabs.tsx
  client/app/bundles/system/admin/instance/instance/components/navigation/InstanceUsersTabs.tsx
Due: frontend

fix(user invitation table): fix unsortable columns
  client/app/bundles/course/user-invitations/components/tables/UserInvitationsTable.tsx
Due: frontend

fix(role request table): fix unclear date format
  app/views/instance_user_role_requests/_instance_user_role_request_list_data.json.jbuilder
  client/app/bundles/system/admin/instance/instance/components/tables/InstanceUserRoleRequestsTable.tsx
Due: frontend, backend

chore(rails dev config): add default host and url options
  config/environments/development.rb
Due: none

refactor(pending invitations): fix other pending invitations for an email not confirmed when the email is confirmed as a secondary email or as a new account
  app/controllers/user/registrations_controller.rb
  app/models/user/email.rb
  spec/features/user_sign_up_spec.rb
Due: backend

fix(user email): only include confirmed emails in the scope - When inviting new users to a course, users with unconfirmed emails should not be added
  app/models/user.rb
Due: backend

fix(course controller): remove unused initialisation
  app/controllers/course/courses_controller.rb
Due: backend

test(secondary email): add tests
  spec/features/user/email_management_spec.rb
  spec/features/user_sign_up_spec.rb
  spec/support/capybara.rb
Due: none
