Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

chore(update): bump into rails 6.1.7.7
  Gemfile
  Gemfile.lock
  db/migrate/20230907102939_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20230907102940_create_active_storage_variant_records.active_storage.rb
Due: none

chore(README): stable version rails 6.1 ruby 3.1
  README.md
Due: none

chore(gem): update all gems to newest
  Gemfile
  Gemfile.lock
Due: none

chore(rails): upgrade to 7.0.8.4
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/test.rb
Due: none

fix(submissions): fix eval polling after submit answer
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/questionsFlags.js
Due: frontend

style(programming): further FE tweaks, minor refactor feedback items
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/locales/en.json
  client/locales/zh.json
Due: frontend

feat(programming): tweaked frontend and added tooltips
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/locales/en.json
  client/locales/zh.json
Due: frontend

fix(submissions): fix polling after navigate away from page
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

chore(deps): bump jwt, rexml, aws-sdk-s3, fog-aws, mini_portile2, nokogiri
  Gemfile
  Gemfile.lock
Due: none

feature(codaveri-live-feedback): frontend tweaks
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/locales/en.json
  client/locales/zh.json
Due: frontend

feat(codaveri-integration): api payload improvements
  app/services/course/assessment/answer/programming_codaveri_async_feedback_service.rb
  app/services/course/assessment/programming_codaveri_evaluation_service.rb
  app/services/course/assessment/question/programming_codaveri_service.rb
  spec/services/course/assessment/answer/programming_codaveri_auto_grading_service_spec.rb
  spec/services/course/assessment/answer/programming_codaveri_feedback_service_spec.rb
  spec/services/course/assessment/programming_codaveri_evaluation_service_spec.rb
  spec/services/course/assessment/question/programming_codaveri_service_spec.rb
Due: backend

chore(deps): bump gems sidekiq, recaptcha, mini_magick, sanitize
  Gemfile.lock
Due: none

fix(codaveri-integration): stdout / stderr formatting
  app/services/course/assessment/programming_codaveri_evaluation_service.rb
Due: backend

fix(error): add errors through '<<' not permitted
  app/models/course/assessment/submission.rb
  app/models/course/video/submission.rb
  lib/autoload/filename_validator.rb
Due: backend

fix(mailer): change in template_path
  app/helpers/application_notifications_helper.rb
  spec/helpers/application_notifications_helper_spec.rb
  spec/helpers/consolidated_opening_reminder_mailer_helper_spec.rb
  spec/mailers/consolidated_opening_reminder_mailer_spec.rb
Due: backend

fix(reminder-test): create announcement already send notifier
  spec/services/course/announcement/reminder_service_spec.rb
Due: none

refactor(preload): ManualPreloader not supported in Rails 7
  app/models/course/assessment.rb
  app/models/course/discussion/post.rb
  app/models/course/forum/topic.rb
  app/models/course/lesson_plan/item.rb
  app/models/course/video.rb
  lib/autoload/active_record/associations/preloader/manual_association_preloader.rb
  lib/autoload/active_record/associations/preloader/manual_has_many.rb
  lib/autoload/active_record/associations/preloader/manual_preloader.rb
  spec/libraries/manual_eager_load_spec.rb
Due: backend

fix(jbuilder): reference to partial fixed
  app/controllers/concerns/course/achievement_conditional_concern.rb
  app/controllers/concerns/course/assessment_conditional_concern.rb
  app/controllers/course/user_notifications_controller.rb
  app/views/course/achievement/achievements/_achievement.json.jbuilder
  app/views/course/achievement/achievements/index.json.jbuilder
  app/views/course/achievement/achievements/show.json.jbuilder
  app/views/course/assessment/assessments/_assessment_lesson_plan_item.json.jbuilder
  app/views/course/assessment/assessments/edit.json.jbuilder
  app/views/course/assessment/categories/index.json.jbuilder
  app/views/course/assessment/question/scribing/_scribing_question.json.jbuilder
  app/views/course/condition/_condition_data.json.jbuilder
  app/views/course/condition/_conditions.json.jbuilder
  app/views/course/lesson_plan/events/_event_lesson_plan_item.json.jbuilder
  app/views/course/lesson_plan/items/index.json.jbuilder
  app/views/course/surveys/_survey_lesson_plan_item.json.jbuilder
  app/views/course/video/videos/_video_lesson_plan_item.json.jbuilder
  lib/extensions/render_collection_with_prefix_suffix/action_view/abstract_renderer/object_rendering.rb
Due: backend

chore(migrate): change in db schema rails 7
  db/schema.rb
Due: none

fix(array): ActiveRecord Association cannot be concatenated
  app/controllers/concerns/course/lesson_plan/learning_rate_concern.rb
Due: backend

fix(time): use between? for detecting in range time
  app/models/course.rb
  app/models/course/lesson_plan/item.rb
Due: backend

fix(test): use test_tenant since it's thread-safe
  app/controllers/concerns/application_multitenancy.rb
  spec/support/acts_as_tenant.rb
Due: backend

fix(sidebar): setting title not updated on save
  app/controllers/components/course/discussion/topics_component.rb
  app/controllers/components/course/materials_component.rb
Due: backend

feat(codaveri-live-feedback): added toggle / custom prompt programming question fields
  app/controllers/course/assessment/question/programming_controller.rb
  app/models/course/assessment/answer/programming.rb
  app/models/course/assessment/question/programming.rb
  app/services/course/assessment/answer/programming_codaveri_async_feedback_service.rb
  app/views/course/assessment/question/programming/_programming.json.jbuilder
  app/views/course/assessment/question/programming/_question.json.jbuilder
  client/app/bundles/course/assessment/question/programming/ProgrammingForm.tsx
  client/app/bundles/course/assessment/question/programming/commons/builder.ts
  client/app/bundles/course/assessment/question/programming/commons/validation.ts
  client/app/bundles/course/assessment/question/programming/components/sections/FeedbackFields.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/translations.ts
  client/app/lib/components/core/layouts/Section.tsx
  client/app/types/course/assessment/question/programming.ts
  client/locales/en.json
  client/locales/zh.json
  db/migrate/20240709020208_add_live_feedback_columns_to_programming_questions.rb
  db/schema.rb
Due: frontend, backend

fix(codaveri-live-feedback): remove filename coercion logic
  app/services/course/assessment/answer/programming_codaveri_async_feedback_service.rb
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  spec/jobs/course/assessment/answer/programming_codaveri_feedback_job_spec.rb
  spec/support/stubs/codaveri/feedback_api_stubs.rb
Due: frontend, backend

fix(codaveri-live-feedback): live feedback prompt now only affect live feedback request
  app/jobs/course/assessment/answer/programming_codaveri_feedback_job.rb
  app/models/course/assessment/answer/programming.rb
  app/services/course/assessment/answer/programming_codaveri_async_feedback_service.rb
  client/app/bundles/course/assessment/question/programming/components/sections/FeedbackFields.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/types/course/assessment/question/programming.ts
  spec/services/course/assessment/answer/programming_codaveri_feedback_service_spec.rb
Due: frontend, backend

fix(programming): fix evaluation polling after user navigate away
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/questionsFlags.js
Due: frontend

feat(question-generation): add generate endpoint route and service
  app/controllers/course/assessment/question/programming_controller.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/question/programming.rb
  app/services/codaveri_async_api_service.rb
  app/services/course/assessment/question/codaveri_problem_generation_service.rb
  config/routes.rb
Due: backend

chore(ver): upgrade to rails 6.1.7.7
  Gemfile
  Gemfile.lock
  app/controllers/course/assessment/submissions_controller.rb
  app/controllers/users_controller.rb
  app/models/course/assessment.rb
  app/models/course/video.rb
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/backtrace_silencers.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_5_2.rb
  config/initializers/new_framework_defaults_6_0.rb
  db/schema.rb
  lib/extensions/render_collection_with_prefix_suffix/action_view/abstract_renderer.rb
  lib/extensions/render_collection_with_prefix_suffix/action_view/abstract_renderer/object_rendering.rb
  spec/factories/course_achievements.rb
  spec/services/course/duplication/course_duplication_service_spec.rb
Due: backend

update(ruby): update to 3.1.4
  .circleci/config.yml
  Gemfile
  Gemfile.lock
  config/application.rb
Due: none

chore(rails): upgrade to 7.0.8.4
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/production.rb
  config/environments/test.rb
Due: none

chore(README): stable version rails 6.1 ruby 3.1
  .circleci/config.yml
  README.md
Due: none

refactor(preload): ManualPreloader not supported in Rails 7
  app/controllers/concerns/course/lesson_plan/learning_rate_concern.rb
  app/models/course/assessment.rb
  app/models/course/discussion/post.rb
  app/models/course/forum/topic.rb
  app/models/course/lesson_plan/item.rb
  app/models/course/video.rb
  lib/autoload/active_record/associations/preloader/manual_association_preloader.rb
  lib/autoload/active_record/associations/preloader/manual_has_many.rb
  lib/autoload/active_record/associations/preloader/manual_preloader.rb
  spec/libraries/manual_eager_load_spec.rb
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
