Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Extract translations strings for comments
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/CommentField.jsx
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

Show question graders to staff
  app/views/course/assessment/answers/_answer.json.jbuilder
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
Due: frontend, backend

Rename submission PropTypes to follow survey convention
  client/app/bundles/course/assessment/submission/components/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/ProgressPanel.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideComments.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideEditor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/index.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/PostPreview.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/containers/ReadOnlyEditor.jsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
Due: frontend

Merge submission routes.jsx and SubmissionEditLayout
  client/app/bundles/course/assessment/submission/containers/SubmissionEditLayout.jsx
  client/app/bundles/course/assessment/submission/routes.jsx
  client/app/bundles/course/assessment/submission/submission.jsx
Due: frontend

Move submit answer to a separate endpoint
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/services/course/assessment/submission/update_service.rb
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  config/routes.rb
Due: frontend, backend

Fix progress panel spacing and content
  client/app/bundles/course/assessment/submission/components/ProgressPanel.jsx
Due: frontend

Update assessment ability to allow students to submit_answer
  app/models/course/assessment/assessment_ability.rb
Due: backend

Cleanup SubmissionsHelper and ApplicationHtmlFormattersHelper
  app/helpers/application_html_formatters_helper.rb
  app/helpers/course/assessment/submission/submissions_helper.rb
  config/locales/en/course/assessment/answer/answers.yml
Due: backend

Fix failing tests and remove outdated tests
  app/controllers/concerns/course/discussion/posts_concern.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/controllers/course/discussion/posts_controller.rb
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
  spec/features/course/assessment/answer/multiple_response_answer_spec.rb
  spec/features/course/assessment/answer/programming_answer_spec.rb
  spec/features/course/assessment/answer/text_response_answer_spec.rb
  spec/features/course/assessment/assessment_attempt_spec.rb
  spec/features/course/assessment/submission/autograded_spec.rb
  spec/features/course/assessment/submission/manually_graded_spec.rb
  spec/features/course/assessment/submission/password_protected_and_delayed_publishing_spec.rb
  spec/features/course/assessment/submission/programming_answer_comment_spec.rb
  spec/helpers/course/assessment/answer/programming_helper_spec.rb
  spec/models/course/assessment/question/multiple_response_spec.rb
  spec/models/course/assessment/question/programming_spec.rb
  spec/models/course/assessment/question/scribing_spec.rb
  spec/models/course/assessment/question/text_response_spec.rb
  spec/services/course/assessment/submission/update_guided_assessment_service_spec.rb
Due: backend

Add assessment description and files
  app/views/course/assessment/submission/submissions/edit.html.slim
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend, backend

Hide experience points in statistics panel if course is not gamified
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
Due: frontend, backend

Fix React Travis errors
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.js
  config/locales/en/course/assessment/answer/programming_file_annotations.yml
Due: frontend

Integrate with scribing question
  client/app/bundles/course/assessment/question/scribing/__test__/index.test.js
  client/app/bundles/course/assessment/question/scribing/actions/scribingQuestionActionCreators.jsx
Due: frontend

Enqueue duplication jobs on their own queue.
  app/jobs/course/duplication_job.rb
Due: backend

Do not allow rich text in comments center
  app/assets/javascripts/helpers/discussion/edit_post.js
  app/assets/javascripts/layout.js
  app/assets/javascripts/templates/course/discussion/post.jst.ejs
  app/assets/stylesheets/course/discussion/comments_center.scss
  app/views/course/discussion/posts/_form.html.slim
Due: backend

Saves published submissions in a transaction
  app/jobs/course/assessment/submission/publishing_job.rb
Due: backend

Fix submission page bugs
  app/controllers/course/discussion/posts_controller.rb
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/lib/components/ConfirmationDialog.jsx
Due: frontend, backend

Copy video url during duplication
  app/models/course/video.rb
Due: backend

Fix the video settings title in lesson plan
  app/views/course/video/videos/_video_lesson_plan_item.json.jbuilder
Due: backend

Fix error message for video submission
  config/locales/en/activerecord/course/assessment/submission.yml
  config/locales/en/activerecord/course/video/submission.yml
Due: none

Only allow current course_users to watch video
  app/views/course/video/videos/_video_attempt_button.html.slim
Due: backend

Add nil user check to display_user helpers
  app/helpers/application_formatters_helper.rb
  app/helpers/course/controller_helper.rb
Due: backend

Replace try with safe navigation operator in submission-related files
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
Due: backend

Add unique key prop to assessment files
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

Merge assessment folders with different cases
  client/app/api/course/Assessment/question/scribing/Scribing.js
  client/app/api/course/Assessment/question/scribing/index.js
Due: frontend

Fix path for scribing import
  client/app/api/course/index.js
Due: frontend

Update Ruby version to 2.4.1.
  .travis.yml
Due: none

Add specs to ensure that the JSON response is correct after video component is enabled
  spec/controllers/course/lesson_plan/items_controller_spec.rb
Due: none

For Python, put quote marks around output if it's a string.
  app/services/course/assessment/question/programming/python/python_package_service.rb
Due: backend

Hide explanation panel for evaluation test case failures for manually graded assessment
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
Due: frontend

Remove extra scrollTo call when step param is given for tabbed assessment
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
Due: frontend

Disable 'Expand all' programming annotations checkbox if there are no annotations
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/Checkbox.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/index.jsx
Due: frontend

Show hints for MRQ for wrong options instead of all selected options
  app/services/course/assessment/answer/multiple_response_auto_grading_service.rb
  spec/services/course/assessment/answer/multiple_response_auto_grading_service_spec.rb
Due: backend

Add user profile page
  app/assets/stylesheets/_variables.scss
  app/assets/stylesheets/users.scss
  app/controllers/users_controller.rb
  app/helpers/application_formatters_helper.rb
  app/models/course.rb
  app/models/course_user.rb
  app/views/system/admin/instance/users/_instance_user.html.slim
  app/views/system/admin/users/_user.html.slim
  app/views/users/_courses.html.slim
  app/views/users/_instances.html.slim
  app/views/users/show.html.slim
  config/locales/en/activerecord/course_user.yml
  config/locales/en/users.yml
  config/routes.rb
Due: backend

Fix test for link_to_user helper
  spec/helpers/application_formatters_helper_spec.rb
Due: none

Add tests for user profile page
  spec/features/user/profile_edit_spec.rb
  spec/features/user/profile_spec.rb
Due: none

Bundle Update on 2017-08-06
  Gemfile.lock
Due: none

Fix file upload error after an invalid file is provided
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
Due: frontend

React implementation for Java OnlineEditor
  app/views/course/assessment/question/programming/_question.json.jbuilder
  client/app/bundles/course/assessment/question/programming/components/TestCase.jsx
  client/app/bundles/course/assessment/question/programming/constants/onlineEditorDefaultTemplates.js
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/Java/OnlineEditorJavaView.jsx
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/OnlineEditor.jsx
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/OnlineEditorBase.jsx
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/OnlineEditorView.scss
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
Due: frontend, backend

Refactor NewDataFile and ExistingDataFile into generic components for data, submission and solution files
  client/app/bundles/course/assessment/question/programming/components/ExistingPackageFile.jsx
  client/app/bundles/course/assessment/question/programming/components/NewPackageFile.jsx
Due: frontend
