Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(duplication): duplicate question to Koditsu assessment
  app/models/course/assessment/question.rb
  client/app/bundles/course/assessment/pages/AssessmentShow/prompts/DuplicationPrompt.tsx
Due: frontend, backend

feat(question): strip Google Test framework for Koditsu
  app/services/course/assessment/question/koditsu_question_service.rb
Due: backend

refactor(soft-delete-student-class): revert change on a model thats not associated of CourseUser, update the test for checking associcated models after soft-delete CourseUser
  app/models/course/achievement.rb
  db/schema.rb
  spec/factories/course_group_users.rb
  spec/factories/course_settings_emails.rb
  spec/factories/email_unsubscriptions.rb
  spec/factories/group_users.rb
  spec/factories/lesson_plan_items.rb
  spec/factories/personal_times.rb
  spec/models/course_user_spec.rb
Due: backend

refactor(submissions): fetching from Koditsu
  app/controllers/concerns/course/assessment/submission/koditsu/answers_concern.rb
  app/controllers/concerns/course/assessment/submission/koditsu/submission_times_concern.rb
  app/controllers/concerns/course/assessment/submission/koditsu/submissions_concern.rb
  app/controllers/concerns/course/assessment/submission/koditsu/test_cases_concern.rb
  app/controllers/concerns/course/assessment/submission/koditsu/users_concern.rb
  app/controllers/concerns/course/assessment/submission/koditsu_submissions_concern.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/jobs/course/assessment/submission/fetch_submissions_from_koditsu_job.rb
Due: backend

test(programming-controller): fix tests
  app/controllers/course/assessment/question/programming_controller.rb
  spec/controllers/course/assessment/question/programming_controller_spec.rb
Due: backend

feat(running-locally-docker): setup for easier running locally via Docker
  .gitignore
  Dockerfile
  Makefile
  client/Dockerfile
  docker-compose.yml
Due: none

refactor(soft-delete-student-class): soft-delete when removing student from class
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/course/enrol_requests_controller.rb
  app/models/course/achievement.rb
  app/models/course/experience_points_record.rb
  app/models/course/group_user.rb
  app/models/course/learning_rate_record.rb
  app/models/course/personal_time.rb
  app/models/course/user_achievement.rb
  app/models/course/user_email_unsubscription.rb
  app/models/course_user.rb
  db/migrate/20241016104445_add_deleted_at_to_course_users.rb
  db/migrate/20241016104449_add_deleted_at_to_course_experience_points_records.rb
  db/migrate/20241016104453_add_deleted_at_to_course_learning_rate_records.rb
  db/migrate/20241016104458_add_deleted_at_to_course_user_achievements.rb
  db/migrate/20241016104502_add_deleted_at_to_course_user_email_unsubscriptions.rb
  db/migrate/20241016104507_add_deleted_at_to_course_group_users.rb
  db/migrate/20241016104511_add_deleted_at_to_course_personal_times.rb
  spec/controllers/course/enrol_requests_controller_spec.rb
  spec/factories/course_users.rb
  spec/models/course_user_spec.rb
Due: backend

refactor(soft-delete-student-class): resolve coding quality issues
  spec/factories/course_group_users.rb
  spec/factories/course_settings_emails.rb
  spec/factories/email_unsubscriptions.rb
  spec/factories/group_users.rb
  spec/factories/lesson_plan_items.rb
  spec/factories/personal_times.rb
  spec/models/course_user_spec.rb
Due: none

refactor(soft-delete-student-class): simplify the migration files
  db/migrate/20241016104445_add_deleted_at_to_course_users.rb
  db/migrate/20241016104449_add_deleted_at_to_course_experience_points_records.rb
  db/migrate/20241016104453_add_deleted_at_to_course_learning_rate_records.rb
  db/migrate/20241016104458_add_deleted_at_to_course_user_achievements.rb
  db/migrate/20241016104502_add_deleted_at_to_course_user_email_unsubscriptions.rb
  db/migrate/20241016104507_add_deleted_at_to_course_group_users.rb
  db/migrate/20241016104511_add_deleted_at_to_course_personal_times.rb
  db/migrate/20241016104515_apply_soft_delete_for_course_user_and_associated_models.rb
Due: none

refactor(soft-delete-student-class): simplify the migration files, add the missing test coverage
  db/migrate/20241016104445_add_deleted_at_to_course_users.rb
  db/migrate/20241016104449_add_deleted_at_to_course_experience_points_records.rb
  db/migrate/20241016104453_add_deleted_at_to_course_learning_rate_records.rb
  db/migrate/20241016104458_add_deleted_at_to_course_user_achievements.rb
  db/migrate/20241016104502_add_deleted_at_to_course_user_email_unsubscriptions.rb
  db/migrate/20241016104507_add_deleted_at_to_course_group_users.rb
  db/migrate/20241016104511_add_deleted_at_to_course_personal_times.rb
  db/migrate/20241016104515_apply_soft_delete_for_course_user_and_associated_models.rb
  db/schema.rb
  spec/controllers/course/enrol_requests_controller_spec.rb
  spec/factories/course_group_users.rb
  spec/factories/course_settings_emails.rb
  spec/factories/email_unsubscriptions.rb
  spec/factories/group_users.rb
  spec/factories/lesson_plan_items.rb
  spec/factories/personal_times.rb
  spec/models/course_user_spec.rb
Due: none

refactor(soft-delete-student-class): tmp soft-delete for CourseAchievement
  app/models/course.rb
  app/models/course/achievement.rb
  db/migrate/20241021104516_add_deleted_at_to_courses.rb
  db/migrate/20241021104517_add_deleted_at_to_course_achievements.rb
  db/schema.rb
  spec/controllers/course/admin/admin_controller_spec.rb
  spec/controllers/system/admin/courses_controller_spec.rb
  spec/models/course/achievement_spec.rb
  spec/models/course/condition/achievement_spec.rb
Due: backend

refactor(soft-delete-student-class): tmp soft-delete for CourseAchievement
  spec/controllers/system/admin/instance/courses_controller_spec.rb
Due: none

fix(downloads): moved download jobs to highest priority queue
  app/jobs/course/assessment/submission/csv_download_job.rb
  app/jobs/course/assessment/submission/statistics_download_job.rb
  app/jobs/course/assessment/submission/zip_download_job.rb
Due: backend

chore(migration): add rollback for soft-delete migration
  db/migrate/20241021110207_apply_soft_delete_for_course_user_and_associated_models.rb
Due: none

feat(user-registration): handle soft-deleted students in registration by code
  app/services/course/user_registration_service.rb
Due: backend

feat(invitation): handle soft-deleted student re-invitation to course
  app/services/course/user_invitation_service.rb
Due: backend

test(course): Add soft-delete tests and adapt existing tests to new behavior
  spec/controllers/course/admin/admin_controller_spec.rb
  spec/controllers/course/enrol_requests_controller_spec.rb
  spec/controllers/system/admin/courses_controller_spec.rb
  spec/controllers/system/admin/instance/courses_controller_spec.rb
  spec/factories/course_users.rb
  spec/models/course/achievement_spec.rb
  spec/models/course/condition/achievement_spec.rb
  spec/models/course_user_spec.rb
  tests/tests/users/sign-up.spec.ts
Due: none

feat(student-course): Add soft-delete for student removal from course
  Gemfile
  Gemfile.lock
  app/controllers/course/enrol_requests_controller.rb
  app/models/course.rb
  app/models/course/achievement.rb
  app/models/course/experience_points_record.rb
  app/models/course/group_user.rb
  app/models/course/learning_rate_record.rb
  app/models/course/personal_time.rb
  app/models/course/user_achievement.rb
  app/models/course/user_email_unsubscription.rb
  app/models/course_user.rb
  db/migrate/20241021110207_apply_soft_delete_for_course_user_and_associated_models.rb
  db/schema.rb
Due: backend

refactor(course-user): remove soft-delete from associated models
  app/models/course/experience_points_record.rb
  app/models/course/group_user.rb
  app/models/course/learning_rate_record.rb
  app/models/course/personal_time.rb
  app/models/course/user_achievement.rb
  app/models/course/user_email_unsubscription.rb
  app/models/course_user.rb
  db/migrate/20241021110207_apply_soft_delete_for_course_user_and_associated_models.rb
  db/migrate/20241022035102_apply_soft_delete_for_course_user.rb
  db/schema.rb
  spec/models/course/condition/achievement_spec.rb
  spec/models/course_user_spec.rb
Due: backend

revert(test): undo flaky test fix
  tests/tests/users/sign-up.spec.ts
Due: none

test(user-service): add missing test to improve coverage
  app/services/concerns/course/user_invitation_service/parse_invitation_concern.rb
  spec/services/course/user_invitation_service_spec.rb
  spec/services/course/user_registration_service_spec.rb
Due: backend

chore(cleanup): remove outdated code
  app/models/course_user.rb
  db/schema.rb
Due: backend

revert(course, achievement): remove soft-delete from Course and Achievement models
  app/models/course.rb
  app/models/course/achievement.rb
  spec/controllers/course/admin/admin_controller_spec.rb
  spec/controllers/system/admin/courses_controller_spec.rb
  spec/controllers/system/admin/instance/courses_controller_spec.rb
  spec/models/course/achievement_spec.rb
Due: backend

fix(test): resolve flaky test in enrol_controller
  spec/controllers/course/enrol_requests_controller_spec.rb
Due: none

refactor(main-statistics): add boolean to indicate if live feedback is enabled
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

feat(live-feedback): add tables for storing live feeedback information
  app/models/course/assessment.rb
  app/models/course/assessment/live_feedback.rb
  app/models/course/assessment/live_feedback_code.rb
  app/models/course/assessment/live_feedback_comment.rb
  app/models/course/assessment/question.rb
  db/migrate/20240808083848_add_live_feedback_code_and_comments.rb
  db/schema.rb
Due: backend

fix(programming): fix evaluation polling after user navigate away
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/RunCodeButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/SubmitButton.tsx
  client/app/bundles/course/assessment/submission/reducers/questionsFlags.js
  client/app/bundles/course/assessment/submission/types.ts
Due: frontend

feat(live-feedback-stats): add backend
  app/controllers/concerns/course/statistics/live_feedback_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/live_feedback_statistics.json.jbuilder
  config/routes.rb
Due: backend

style(generate-live-feedback): remove unnecessary commented code
  app/services/course/assessment/answer/programming_codaveri_async_feedback_service.rb
Due: backend

feat(live-feedback-stats): add frontend
  client/app/api/course/Statistics/AssessmentStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AssessmentStatisticsPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatisticsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/utils.js
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend

refactor(statistics): classNameUtils
  client/app/bundles/course/assessment/pages/AssessmentStatistics/classNameUtils.ts
Due: frontend

refactor(submission-controller): disable file length restrictions
  app/controllers/course/assessment/submission/submissions_controller.rb
Due: backend

feat(live-feedback): add live feedback saving
  app/controllers/course/assessment/submission/live_feedback_controller.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course/assessment/assessment_ability.rb
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/pages/AssessmentStatistics/classNameUtils.ts
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedback.js
  client/app/bundles/course/assessment/submission/types.ts
  config/routes.rb
Due: frontend, backend

refactor(assessment-statistics): abstract translations
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackHistoryPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatisticsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/translations.ts
  client/locales/en.json
  client/locales/zh.json
Due: frontend

perf(live-feedback-stats): reduce N+1
  app/controllers/course/statistics/assessments_controller.rb
Due: backend

style(live-feedback-history): improve slider styling
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackHistoryPage.tsx
  client/app/lib/components/extensions/CustomSlider.tsx
Due: frontend

test(live-feedback-statistics) add tests for live feedback statistics
  spec/controllers/course/statistics/assessment_controller_spec.rb
  spec/factories/course_assessment_live_feedback_code.rb
  spec/factories/course_assessment_live_feedbacks.rb
  spec/models/course/assessment/live_feedback_spec.rb
Due: none
