Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

perf(disbursement form): improve frontend perf
  client/app/bundles/course/experience-points/disbursement/components/forms/DisbursementForm.tsx
Due: frontend

feat(experience_point): initial commit
  app/controllers/course/experience_points_records_controller.rb
  app/models/course/experience_points_record.rb
  app/views/course/experience_points_records/index.html.slim
  app/views/course/experience_points_records/index.json.jbuilder
  client/app/bundles/course/users/index.tsx
  client/app/index.js
Due: frontend, backend

fix(exp points): trim leading 0 for number input
  client/app/api/course/ExperiencePointsRecord.ts
  client/app/bundles/course/users/components/tables/ExperiencePointsTableRow.tsx
  client/app/bundles/course/users/operations.ts
Due: frontend

refactor(experience points): remove exp point specific partial
  app/views/course/experience_points_records/_experience_points_specific.json.jbuilder
  app/views/course/experience_points_records/index.json.jbuilder
Due: backend

style: remove nodoc
  app/controllers/application_controller.rb
  app/controllers/course/experience_points_records_controller.rb
  app/helpers/application_helper.rb
Due: backend

fix(record): based on PR comments
  app/controllers/course/experience_points_records_controller.rb
  app/views/course/assessment/submissions/_submission_experience_points_reason.html.slim
  app/views/course/experience_points_records/_experience_points_specific.json.jbuilder
  app/views/course/experience_points_records/index.json.jbuilder
  app/views/course/survey/responses/_response_experience_points_reason.html.slim
  client/app/api/course/ExperiencePointsRecord.ts
  client/app/bundles/course/assessment/submissions/pages/SubmissionsIndex/index.tsx
  client/app/bundles/course/users/actions.ts
  client/app/bundles/course/users/components/buttons/PointManagementButtons.tsx
  client/app/bundles/course/users/components/misc/UserProfileCard.tsx
  client/app/bundles/course/users/components/tables/ExperiencePointsTable.tsx
  client/app/bundles/course/users/components/tables/ExperiencePointsTableRow.tsx
  client/app/bundles/course/users/operations.ts
  client/app/bundles/course/users/pages/ExperiencePointsRecords/index.tsx
  client/app/bundles/course/users/reducers.ts
  client/app/bundles/course/users/types.ts
  client/app/lib/components/BackendPagination.tsx
  client/app/lib/components/buttons/SaveButton.tsx
  client/app/types/course/experiencePointsRecords.ts
  spec/controllers/course/experience_points_records_controller_spec.rb
  spec/features/course/experience_points_record_management_spec.rb
Due: frontend, backend

refactor(records): add frontend for experience points record table
  app/controllers/course/experience_points_records_controller.rb
  app/views/course/experience_points_records/_experience_points_record.html.slim
  app/views/course/experience_points_records/_experience_points_specific.json.jbuilder
  app/views/course/experience_points_records/index.html.slim
  app/views/course/experience_points_records/index.json.jbuilder
  app/views/course/experience_points_records/update.js.erb
  client/app/api/course/ExperiencePointsRecord.ts
  client/app/api/course/index.js
  client/app/bundles/course/experience-points-records.js
  client/app/bundles/course/experience-points-records.ts
  client/app/bundles/course/users/actions.ts
  client/app/bundles/course/users/components/buttons/PointManagementButtons.tsx
  client/app/bundles/course/users/components/pagination/PointPagination.tsx
  client/app/bundles/course/users/components/tables/ExperiencePointsTable.tsx
  client/app/bundles/course/users/components/tables/ExperiencePointsTableRow.tsx
  client/app/bundles/course/users/index.tsx
  client/app/bundles/course/users/operations.ts
  client/app/bundles/course/users/pages/ExperiencePointsRecords/index.tsx
  client/app/bundles/course/users/reducers.ts
  client/app/bundles/course/users/selectors.ts
  client/app/bundles/course/users/types.ts
  client/app/lib/components/buttons/SaveButton.tsx
  client/app/lib/translations/table.ts
  client/app/types/course/experiencePointsRecords.ts
  config/locales/en/course/experience_points_records.yml
Due: frontend, backend

fix(backend pagination): re-use backend pagination component and remove unnecesarry files
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionPagination.tsx
  client/app/bundles/course/discussion/topics/components/lists/TopicList.tsx
  client/app/bundles/course/discussion/topics/components/paginations/CommentPagination.tsx
  client/app/bundles/course/users/pages/ExperiencePointsRecords/index.tsx
Due: frontend

fix(exp points): fix exp point update not changing the entire row data shown on frontend
  app/controllers/course/experience_points_records_controller.rb
  client/app/api/course/ExperiencePointsRecord.ts
  client/app/bundles/course/users/actions.ts
  client/app/bundles/course/users/components/buttons/PointManagementButtons.tsx
  client/app/bundles/course/users/components/tables/ExperiencePointsTable.tsx
  client/app/bundles/course/users/operations.ts
  client/app/bundles/course/users/reducers.ts
  client/app/bundles/course/users/types.ts
  client/app/types/course/experiencePointsRecords.ts
Due: frontend, backend

fix(records): test cases
  spec/features/course/experience_points_record_management_spec.rb
Due: none

Bump coursemology-polyglot from 0.3.2 to 0.3.5 Includes Python 3.10
  Gemfile.lock
  client/app/bundles/course/assessment/submission/utils.js
Due: frontend

fix(ckeditor style): fix ckeditor popup and toolbar dropdown not shown properly
  app/assets/stylesheets/layout.scss
  client/app/lib/components/ProviderWrapper.jsx
Due: frontend, backend

feat(exp): move 'updated at' to first column
  client/app/bundles/course/users/components/tables/ExperiencePointsTable.tsx
  client/app/bundles/course/users/components/tables/ExperiencePointsTableRow.tsx
Due: frontend

fix(exp): reason textfield width not spanning 100%
  client/app/bundles/course/users/components/tables/ExperiencePointsTableRow.tsx
Due: frontend

feat(discussion post): add workflow state to discussion post
  app/controllers/concerns/course/discussion/posts_concern.rb
  app/controllers/course/assessment/submission/answer/programming/annotations_controller.rb
  app/controllers/course/assessment/submission_question/comments_controller.rb
  app/helpers/course/discussion/topics_helper.rb
  app/models/concerns/course/assessment/submission/workflow_event_concern.rb
  app/models/course/discussion/post.rb
  app/models/course/discussion/topic.rb
  app/notifiers/course/assessment/answer/comment_notifier.rb
  app/notifiers/course/assessment/submission_question/comment_notifier.rb
  app/views/course/assessment/submission/submissions/_topics.json.jbuilder
  app/views/course/discussion/_posts.html.slim
  app/views/course/discussion/posts/_post.json.jbuilder
  app/views/course/discussion/topics/_discussion_topic_programming_file_annotation.jbuilder
  app/views/course/discussion/topics/_topic.json.jbuilder
  app/views/course/discussion/topics/topics_list_data.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/annotations.js
  client/app/bundles/course/assessment/submission/actions/comments.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  db/migrate/20220819071113_add_workflow_state_to_post.rb
  db/schema.rb
  spec/controllers/course/assessment/submission/answer/programming/annotations_controller_spec.rb
  spec/controllers/course/assessment/submission_question/comments_controller_spec.rb
  spec/factories/course_discussion_posts.rb
  spec/models/course/assessment/submission_spec.rb
  spec/models/course/discussion/topic_spec.rb
Due: frontend, backend

perf(workbin table): abstract row components and add memo and improve table name sorting
  client/app/bundles/course/material/folders/components/tables/TableMaterialRow.tsx
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/bundles/course/material/folders/components/tables/WorkbinTable.tsx
Due: frontend

fix(material table): remove loading indicator
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/bundles/course/material/folders/components/tables/WorkbinTable.tsx
Due: frontend

Refactor Workbin (Cleanup)
  app/views/course/material/folders/_folder.slim
  app/views/course/material/folders/_folder_controls.html.slim
  app/views/course/material/folders/_material.slim
  app/views/course/material/folders/edit.html.slim
  app/views/course/material/folders/new_materials.html.slim
  app/views/course/material/folders/new_subfolder.html.slim
  config/locales/en/course/material/folders.yml
Due: backend

style(folder form): remove required from description field
  client/app/bundles/course/material/folders/components/forms/FolderForm.tsx
Due: frontend

Refactor Workbin (Frontend)
  client/app/api/course/Material/Folders.ts
  client/app/api/course/index.js
  client/app/bundles/course/announcements/operations.ts
  client/app/bundles/course/material/folders.js
  client/app/bundles/course/material/folders.ts
  client/app/bundles/course/material/folders/actions.ts
  client/app/bundles/course/material/folders/components/StarterPack.tsx
  client/app/bundles/course/material/folders/components/buttons/DownloadFolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/EditFolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/NewSubfolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/UploadFilesButton.tsx
  client/app/bundles/course/material/folders/components/buttons/WorkbinTableButtons.tsx
  client/app/bundles/course/material/folders/components/forms/FolderForm.tsx
  client/app/bundles/course/material/folders/components/forms/MaterialForm.tsx
  client/app/bundles/course/material/folders/components/forms/MaterialUploadForm.tsx
  client/app/bundles/course/material/folders/components/misc/MaterialEdit.tsx
  client/app/bundles/course/material/folders/components/misc/MaterialUpload.tsx
  client/app/bundles/course/material/folders/components/misc/MultipleFileInput.tsx
  client/app/bundles/course/material/folders/components/tables/WorkbinTable.tsx
  client/app/bundles/course/material/folders/index.tsx
  client/app/bundles/course/material/folders/operations.ts
  client/app/bundles/course/material/folders/pages/FolderEdit/index.tsx
  client/app/bundles/course/material/folders/pages/FolderNew/index.tsx
  client/app/bundles/course/material/folders/pages/FolderShow/index.tsx
  client/app/bundles/course/material/folders/reducers.ts
  client/app/bundles/course/material/folders/selectors.ts
  client/app/bundles/course/material/folders/store.ts
  client/app/bundles/course/material/folders/types.ts
  client/app/lib/components/buttons/DeleteButton.tsx
  client/app/lib/components/buttons/EditButton.tsx
  client/app/lib/helpers/url-builders.js
  client/app/lib/translations/form.jsx
  client/app/types/course/material/folders.ts
  client/app/types/store.ts
Due: frontend

feat(workbin): add sorting feature
  client/app/bundles/course/material/folders/components/buttons/DownloadFolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/EditFolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/NewSubfolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/UploadFilesButton.tsx
  client/app/bundles/course/material/folders/components/misc/MaterialUpload.tsx
  client/app/bundles/course/material/folders/components/misc/MultipleFileInput.tsx
  client/app/bundles/course/material/folders/components/tables/WorkbinTable.tsx
Due: frontend

Refactor Workbin (Backend)
  app/controllers/course/material/folders_controller.rb
  app/controllers/course/material/materials_controller.rb
  app/views/course/material/folders/_folder_data.json.jbuilder
  app/views/course/material/folders/show.html.slim
  app/views/course/material/folders/show.json.jbuilder
Due: backend

folder controller fix fix hound comments add back missing translations remove log statement
  app/controllers/course/material/folders_controller.rb
  app/controllers/course/material/materials_controller.rb
  client/app/bundles/course/material/folders/pages/FolderNew/index.tsx
  config/locales/en/course/material/folders.yml
Due: frontend, backend

fix(test): fix material tests
  spec/controllers/course/enrol_requests_controller_spec.rb
  spec/controllers/course/material/folders_controller_spec.rb
  spec/features/course/material/files_management_spec.rb
Due: none

chore(material): remove unused ability and file
  app/models/components/course/materials_ability_component.rb
  app/views/course/material/materials/edit.html.slim
Due: backend

add breadcrumbs
  app/views/course/material/folders/show.json.jbuilder
  client/app/bundles/course/material/folders/actions.ts
  client/app/bundles/course/material/folders/operations.ts
  client/app/bundles/course/material/folders/pages/FolderShow/index.tsx
  client/app/bundles/course/material/folders/reducers.ts
  client/app/bundles/course/material/folders/selectors.ts
  client/app/bundles/course/material/folders/types.ts
  client/app/types/course/material/folders.ts
Due: frontend, backend

fix tests
  app/controllers/course/material/folders_controller.rb
  client/app/bundles/course/material/folders/components/buttons/DownloadFolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/EditFolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/NewSubfolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/UploadFilesButton.tsx
  client/app/bundles/course/material/folders/components/forms/MaterialForm.tsx
  client/app/bundles/course/material/folders/components/misc/MaterialEdit.tsx
  client/app/bundles/course/material/folders/components/misc/MultipleFileInput.tsx
  client/app/bundles/course/material/folders/pages/FolderEdit/index.tsx
  client/app/bundles/course/material/folders/pages/FolderShow/index.tsx
  spec/controllers/course/material/folders_controller_spec.rb
  spec/features/course/material/files_management_spec.rb
  spec/features/course/material/folder_management_spec.rb
  spec/fixtures/files/text2.txt
  spec/support/capybara.rb
Due: frontend, backend

feat(material): sort files and folders alphabetically when first rendered
  client/app/bundles/course/material/folders/selectors.ts
Due: frontend

style: rename materials component
  app/views/course/material/folders/show.html.slim
  client/app/bundles/course/material/folders/index.tsx
Due: frontend, backend

fix(download file): open in a new tab when downloading a file
  client/app/bundles/course/material/folders/components/tables/TableMaterialRow.tsx
Due: frontend

fix PR comments
  app/controllers/course/material/folders_controller.rb
  app/controllers/course/material/materials_controller.rb
  app/helpers/course/material/folders_helper.rb
  app/views/course/material/folders/_folder_data.json.jbuilder
  app/views/course/material/folders/_material_data.json.jbuilder
  app/views/course/material/folders/_subfolder_data.json.jbuilder
  app/views/course/material/folders/show.json.jbuilder
  client/app/api/course/Material/Folders.ts
  client/app/bundles/course/material/folders/actions.ts
  client/app/bundles/course/material/folders/components/StarterPack.tsx
  client/app/bundles/course/material/folders/components/buttons/DownloadFolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/EditFolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/WorkbinTableButtons.tsx
  client/app/bundles/course/material/folders/components/forms/FolderForm.tsx
  client/app/bundles/course/material/folders/components/misc/MaterialUpload.tsx
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/bundles/course/material/folders/components/tables/WorkbinTable.tsx
  client/app/bundles/course/material/folders/index.tsx
  client/app/bundles/course/material/folders/operations.ts
  client/app/bundles/course/material/folders/pages/FolderShow/index.tsx
  client/app/bundles/course/material/folders/reducers.ts
  client/app/bundles/course/material/folders/selectors.ts
  client/app/bundles/course/material/folders/types.ts
  client/app/lib/components/buttons/DeleteButton.tsx
  client/app/types/course/material/folders.ts
  config/locales/en/course/material/materials.yml
  config/routes.rb
Due: frontend, backend

fix(subfolder data): move permission canstudentupload
  app/views/course/material/folders/_subfolder_data.json.jbuilder
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/types/course/material/folders.ts
Due: frontend, backend

style(folders): remove unused comment
  client/app/bundles/course/material/folders.ts
Due: frontend

fix(material table): fix styling
  client/app/bundles/course/material/folders/components/buttons/DownloadFolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/WorkbinTableButtons.tsx
  client/app/bundles/course/material/folders/components/misc/MaterialUpload.tsx
  client/app/bundles/course/material/folders/components/tables/TableMaterialRow.tsx
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/bundles/course/material/folders/components/tables/WorkbinTable.tsx
Due: frontend

feat(materials upload): add remove staged files
  client/app/bundles/course/material/folders/components/forms/MaterialUploadForm.tsx
  client/app/bundles/course/material/folders/components/misc/MaterialUpload.tsx
  client/app/bundles/course/material/folders/components/misc/MultipleFileInput.tsx
Due: frontend

fix(material page): fix error handling
  app/controllers/course/material/folders_controller.rb
  app/controllers/course/material/materials_controller.rb
  app/views/course/material/folders/_material_data.json.jbuilder
  client/app/bundles/course/material/folders/components/buttons/DownloadFolderButton.tsx
  client/app/bundles/course/material/folders/components/buttons/WorkbinTableButtons.tsx
  client/app/bundles/course/material/folders/components/misc/MaterialUpload.tsx
  config/locales/en/course/material/folders.yml
Due: frontend, backend

fix(folder form): fix date validation bug
  client/app/bundles/course/material/folders/components/forms/FolderForm.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
