Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

style: Rever variable style change.
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.jsx
Due: frontend

fix(New Assessment): Add default value for show_mcq_mrq_solution as true.
  app/views/course/assessment/assessments/_edit.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentIndex/index.jsx
Due: frontend, backend

fix(MCQ MRQ): Show correct MCQ and MRQ answers for published submissions.
  app/views/course/assessment/question/multiple_responses/_multiple_response.json.jbuilder
Due: backend

feat(Assessment Setting): Add toggle button to show or hide solutions of graded and published MCQ/MRQ questions.
  app/controllers/course/assessment/assessments_controller.rb
  app/views/course/assessment/assessments/_edit.json.jbuilder
  app/views/course/assessment/assessments/show.html.slim
  app/views/course/assessment/question/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/containers/AssessmentForm/translations.intl.js
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  config/locales/en/course/assessment/assessments.yml
  db/migrate/20210817040704_add_show_mcq_mrq_solution_to_course_assessments.rb
  db/schema.rb
Due: frontend, backend

fix(submission page): Fix to enable steppers after a question with an incorrect answer in student view for published autograded submission.
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

style: Fix variable case.
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.jsx
Due: frontend

Fix: Fix args position for renderer function.
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
Due: frontend

style: reduce code ambiguity by passing an object into the functions
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
Due: frontend

Fix programming editor answer view.
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.jsx
  client/app/bundles/course/assessment/submission/components/pastAnswers/PastProgrammingAnswer.jsx
Due: frontend, backend

feat(Survey Responses): Add updated at information for surveys allowing modification of submitted responses.
  app/controllers/course/survey/responses_controller.rb
  app/models/course/survey/response.rb
  app/services/course/survey/survey_download_service.rb
  app/views/course/survey/responses/_response.json.jbuilder
  app/views/course/survey/responses/index.json.jbuilder
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
  client/app/bundles/course/survey/propTypes.js
  config/locales/en/course/survey/surveys.yml
Due: frontend, backend

Fix(Survey Ability): Fix students being able to update submitted survey after expiry date when the allow_response_after_end is toggled off.
  app/models/components/course/surveys_ability_component.rb
Due: backend

Fix(ResponseShow Test): Add updated_at to existing test.
  client/app/bundles/course/survey/pages/ResponseShow/__test__/index.test.jsx
Due: frontend

test(ResponseShow): Add snapshot to the test.
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
Due: frontend

test(Survey): Fix test for course survey backend.
  spec/controllers/course/survey/responses_controller_spec.rb
  spec/services/course/survey/survey_download_spec.rb
Due: none

test(Programming File): Fix js programming file test.
  client/app/bundles/course/assessment/submission/components/answers/Programming/__test__/ProgrammingFile.test.js
Due: frontend

Fix programming highlighted_content.
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.jsx
Due: frontend

Style: Fix redundant self style.
  app/models/course/survey/response.rb
Due: backend

fix: fix typo in schema
  db/schema.rb
Due: none

chore: update schema.rb
  db/schema.rb
Due: none

feat: Add green color for autograded question bubble to indicate correctly answered questions.
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

Refactor stepButtonColor logic.
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

Fix lint and adjust green colour shades
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

style & test: Minor nits changes on label and description.
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
  client/app/bundles/course/survey/pages/ResponseShow/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
  config/locales/en/course/survey/surveys.yml
  spec/services/course/survey/survey_download_spec.rb
Due: frontend

Update year.
  README.md
Due: none

feat(FB Login): Disable FB login feature
  app/views/course/users/show.html.slim
  app/views/user/profiles/edit.html.slim
  config/initializers/devise.rb
  spec/controllers/user/omniauth_callbacks_controller_spec.rb
  spec/features/user/omniauth_spec.rb
  spec/features/user/profile_edit_spec.rb
  spec/models/user_spec.rb
Due: backend

fix: update year in 504 page to be current year
  public/504.html
Due: none

fix: add padding to footer on mobile view
  public/504.html
Due: none

Update yarn.lock and fix client lint tests
  client/.eslintrc
  client/.eslintrc.js
  client/.eslintrc.test
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.jsx
  client/app/bundles/course/assessment/submission/actions/history.js
  client/app/bundles/course/assessment/submission/containers/PastAnswers.jsx
  client/app/bundles/course/assessment/submission/containers/PostPreview.jsx
  client/app/bundles/course/video/submission/actions/__test__/video.test.js
  client/app/index.js
  client/app/lib/helpers/__test__/htmlFormatHelpers.test.js
  client/app/lib/helpers/htmlFormatHelpers.js
  client/package.json
  client/yarn.lock
Due: frontend

Fix style issues raised by Hound CI
  app/models/components/system/admin/instance_admin_ability_component.rb
  config/environments/production.rb
  config/initializers/lograge.rb
  spec/controllers/course/lesson_plan/items_controller_spec.rb
  spec/support/capybara.rb
Due: backend

Update rubocop.yml
  .rubocop.yml
Due: none

Sort rubocop rules lexicographically + add rule on hash as last item
  .rubocop.unhound.yml
  .rubocop.yml
Due: none

Fix small error in question jbuilder
  app/views/course/assessment/question/programming/_question.json.jbuilder
Due: backend

Fix lint one more time
  app/views/course/assessment/question/programming/_question.json.jbuilder
  spec/controllers/course/user_registrations_controller_spec.rb
Due: backend

Revert application.rb to its original state
  config/application.rb
Due: none
