Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

test(InstanceGetHelpActivity): add permissions test for instance Get Help page
  spec/controllers/system/admin/instance/get_help_controller_spec.rb
Due: none

feat(InstanceGetHelpActivity): add instance level Get Help activity page
  app/controllers/system/admin/instance/get_help_controller.rb
  app/views/system/admin/instance/get_help/index.json.jbuilder
  client/app/api/course/Statistics/AssessmentStatistics.ts
  client/app/api/system/InstanceAdmin.ts
  client/app/bundles/course/assessment/operations/liveFeedback.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/index.tsx
  client/app/bundles/course/statistics/types.ts
  client/app/bundles/system/admin/admin/components/misc/SystemGetHelpFilter.tsx
  client/app/bundles/system/admin/instance/instance/InstanceAdminNavigator.tsx
  client/app/bundles/system/admin/instance/instance/components/misc/InstanceGetHelpFilter.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InstanceGetHelpActivityTable.tsx
  client/app/bundles/system/admin/instance/instance/operations.ts
  client/app/bundles/system/admin/instance/instance/pages/InstanceGetHelpActivityIndex.tsx
  client/app/routers/courseless/instanceAdmin.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
Due: frontend, backend

fix(GetHelpController): add support for non-default instance data
  app/controllers/course/statistics/assessments_controller.rb
  app/controllers/system/admin/get_help_controller.rb
  client/app/bundles/system/admin/admin/components/tables/SystemGetHelpActivityTable.tsx
Due: frontend, backend

fix(GetHelpController): add support for non-default instance data
  app/controllers/system/admin/get_help_controller.rb
  client/app/api/course/Statistics/AssessmentStatistics.ts
  client/app/bundles/course/assessment/operations/liveFeedback.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/index.tsx
  client/app/bundles/system/admin/admin/components/tables/SystemGetHelpActivityTable.tsx
Due: frontend, backend

fix(GetHelpController): fix instance get help query
  app/controllers/system/admin/instance/get_help_controller.rb
  client/app/bundles/system/admin/admin/components/tables/SystemGetHelpActivityTable.tsx
Due: frontend, backend

fix(CourseGetHelpActivity): standardize Get Help Activity layout
  app/controllers/course/statistics/aggregate_controller.rb
  app/views/course/statistics/aggregate/activity_get_help.json.jbuilder
  client/app/api/course/Statistics/CourseStatistics.ts
  client/app/bundles/course/statistics/operations.ts
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/CourseGetHelpFilter.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/CourseGetHelpStatistics.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/CourseGetHelpStatisticsTable.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/GetHelpStatistics.tsx
  client/app/bundles/course/statistics/types.ts
  client/app/bundles/system/admin/instance/instance/pages/InstanceGetHelpActivityIndex.tsx
  client/app/routers/course/statistics.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

fix(CourseGetHelpActivity): standardize Get Help Activity layout
  app/controllers/course/statistics/aggregate_controller.rb
  app/controllers/system/admin/get_help_controller.rb
  app/controllers/system/admin/instance/get_help_controller.rb
  app/views/course/statistics/aggregate/activity_get_help.json.jbuilder
  client/app/api/course/Statistics/CourseStatistics.ts
  client/app/bundles/course/statistics/operations.ts
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/CourseGetHelpFilter.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/CourseGetHelpStatistics.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/CourseGetHelpStatisticsTable.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/GetHelpStatistics.tsx
  client/app/bundles/course/statistics/types.ts
  client/app/bundles/system/admin/instance/instance/pages/InstanceGetHelpActivityIndex.tsx
  client/app/routers/course/statistics.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/controllers/course/statistics/aggregate_controller_spec.rb
Due: frontend, backend

fix(GetHelpStatistics): update FE Live Feedback label to Get Help
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AssessmentStatisticsPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/translations.ts
  client/locales/en.json
Due: frontend

feat(rubric-auto-grading): switch from creating a new draft comment to updating the latest one
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/views/course/assessment/answer/rubric_based_responses/_rubric_based_response.json.jbuilder
  client/app/bundles/course/assessment/submission/reducers/topics.js
  spec/services/course/assessment/answer/rubric_auto_grading_service_spec.rb
Due: frontend, backend

feat(rubric-auto-grading): improve prompts for better llm response
  app/services/course/assessment/answer/prompts/rubric_auto_grading_output_format.json
  app/services/course/assessment/answer/prompts/rubric_auto_grading_system_prompt.json
  app/services/course/assessment/answer/prompts/rubric_auto_grading_user_prompt.json
Due: backend

feat(rubric-auto-grading): update schema with dynamic enum type for each category selected criterion
  app/services/course/assessment/answer/prompts/rubric_auto_grading_output_format.json
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/services/course/assessment/answer/rubric_llm_service.rb
  spec/services/course/assessment/answer/rubric_auto_grading_service_spec.rb
  spec/services/course/assessment/answer/rubric_llm_service_spec.rb
  spec/support/stubs/langchain/llm_stubs.rb
Due: backend

feat(rubric-llm-service): add retry attempt before using OutputFixingParser
  app/services/course/assessment/answer/rubric_llm_service.rb
Due: backend

feat(programming-language-support): add c# 5.0, js 22.16, go 1.16, rust 1.68, ts 5.8
  app/controllers/concerns/codaveri_language_concern.rb
  app/services/course/assessment/question/codaveri_problem_generation_service.rb
  app/services/course/assessment/question/programming/c_sharp/c_sharp_makefile
  app/services/course/assessment/question/programming/c_sharp/c_sharp_package_service.rb
  app/services/course/assessment/question/programming/go/go_makefile
  app/services/course/assessment/question/programming/go/go_package_service.rb
  app/services/course/assessment/question/programming/java_script/java_script_makefile
  app/services/course/assessment/question/programming/java_script/java_script_package_service.rb
  app/services/course/assessment/question/programming/programming_package_service.rb
  app/services/course/assessment/question/programming/rust/rust_makefile
  app/services/course/assessment/question/programming/rust/rust_package_service.rb
  app/services/course/assessment/question/programming/type_script/type_script_makefile
  app/services/course/assessment/question/programming/type_script/type_script_package_service.rb
  app/services/course/assessment/question/programming_codaveri/c_sharp/c_sharp_package_service.rb
  app/services/course/assessment/question/programming_codaveri/go/go_package_service.rb
  app/services/course/assessment/question/programming_codaveri/java_script/java_script_package_service.rb
  app/services/course/assessment/question/programming_codaveri/programming_codaveri_package_service.rb
  app/services/course/assessment/question/programming_codaveri/rust/rust_package_service.rb
  app/services/course/assessment/question/programming_codaveri/type_script/type_script_package_service.rb
  app/views/course/assessment/question/programming/metadata/_csharp.json.jbuilder
  app/views/course/assessment/question/programming/metadata/_golang.json.jbuilder
  app/views/course/assessment/question/programming/metadata/_rust.json.jbuilder
  app/views/course/assessment/question/programming/metadata/_typescript.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateQuestionPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/constants.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/utils.ts
  client/app/bundles/course/assessment/question/programming/commons/builder.ts
  client/app/bundles/course/assessment/question/programming/commons/validation.ts
  client/app/bundles/course/assessment/question/programming/components/package/CsharpPackageEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/GoPackageEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/JavascriptPackageEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/PolyglotEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/RustPackageEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/TypescriptPackageEditor.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/lib/components/core/fields/EditorField.tsx
  client/app/types/course/assessment/question/programming.ts
  lib/autoload/course/assessment/programming_test_case_report_builder.rb
  lib/tasks/db/set_polyglot_language_flags.rake
  lib/tasks/db/set_polyglot_language_weights.rake
Due: frontend, backend

feat(rubric-auto-grading): improve prompts for better llm response
  app/services/course/assessment/answer/prompts/rubric_auto_grading_output_format.json
  app/services/course/assessment/answer/prompts/rubric_auto_grading_system_prompt.json
  app/services/course/assessment/answer/prompts/rubric_auto_grading_user_prompt.json
  app/services/course/assessment/answer/rubric_llm_service.rb
  spec/support/stubs/langchain/llm_stubs.rb
Due: backend

feat(programming): Implement programming question snapshotting
  app/controllers/course/assessment/question/programming_controller.rb
  app/models/course/assessment/answer/programming_auto_grading.rb
  app/models/course/assessment/question.rb
  app/models/course/assessment/question/forum_post_response.rb
  app/models/course/assessment/question/multiple_response.rb
  app/models/course/assessment/question/programming.rb
  app/models/course/assessment/question/rubric_based_response.rb
  app/models/course/assessment/question/scribing.rb
  app/models/course/assessment/question/text_response.rb
  app/models/course/assessment/question/voice_response.rb
  app/services/course/assessment/answer/auto_grading_service.rb
  app/services/course/assessment/answer/programming_auto_grading_service.rb
  app/services/course/assessment/question/answers_evaluation_service.rb
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/types/course/assessment/submission/answer/programming.ts
  db/migrate/20250629052451_add_programming_question_current_ids.rb
  db/schema.rb
  spec/controllers/course/assessment/question/programming_controller_update_spec.rb
Due: frontend, backend

fix(GetHelpActivity): hide tab when codaveri disabled and ui fixes
  app/views/course/statistics/statistics/index.json.jbuilder
  client/app/api/course/Statistics/CourseStatistics.ts
  client/app/bundles/course/statistics/operations.ts
  client/app/bundles/course/statistics/pages/StatisticsIndex/get_help/GetHelpStatisticsTable.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/index.tsx
  client/app/bundles/course/statistics/types.ts
  client/app/bundles/system/admin/admin/components/misc/SystemGetHelpFilter.tsx
  client/app/bundles/system/admin/admin/components/tables/SystemGetHelpActivityTable.tsx
  client/app/bundles/system/admin/instance/instance/InstanceAdminNavigator.tsx
  client/app/bundles/system/admin/instance/instance/components/misc/InstanceGetHelpFilter.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InstanceGetHelpActivityTable.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceComponentsIndex.tsx
  client/app/bundles/system/admin/instance/instance/store.ts
  client/app/bundles/system/admin/instance/instance/types.ts
  spec/controllers/course/statistics/statistics_controller_spec.rb
Due: frontend, backend

fix(LiveFeedbackHistory): update Get Help history ui
  client/app/bundles/course/admin/pages/CodaveriSettings/translations.ts
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AssessmentStatisticsPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/GetHelpSlider.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackConversation.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackFiles.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackMessageHistory.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/translations.ts
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/utils.ts
  client/app/bundles/course/assessment/translations.ts
  client/app/bundles/system/admin/instance/instance/InstanceAdminNavigator.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceComponentsIndex.tsx
  client/app/bundles/system/admin/instance/instance/store.ts
  client/app/bundles/system/admin/instance/instance/types.ts
  client/app/lib/components/core/fields/EditorField.tsx
  client/app/lib/components/extensions/CustomSlider.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/controllers/course/statistics/statistics_controller_spec.rb
Due: frontend

feat(programming): reinterpret auto_grading as many-to-one with answer
  app/controllers/course/assessment/submission/answer/answers_controller.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/jobs/course/assessment/answer/base_auto_grading_job.rb
  app/models/course/assessment/answer.rb
  app/models/course/assessment/answer/auto_grading.rb
  app/services/course/assessment/answer/auto_grading_service.rb
  app/services/course/assessment/answer/multiple_response_auto_grading_service.rb
  app/services/course/assessment/answer/programming_auto_grading_service.rb
  app/services/course/assessment/answer/programming_codaveri_auto_grading_service.rb
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/services/course/assessment/answer/text_response_auto_grading_service.rb
  app/services/course/assessment/answer/text_response_comprehension_auto_grading_service.rb
  app/views/course/assessment/answer/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  app/views/course/assessment/answer/rubric_based_responses/_rubric_based_response.json.jbuilder
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/types/course/assessment/submission/answer/programming.ts
  db/migrate/20250629052451_add_programming_question_current_ids.rb
  db/schema.rb
  spec/jobs/course/assessment/answer/auto_grading_job_spec.rb
  spec/services/course/assessment/answer/programming_auto_grading_service_spec.rb
  spec/services/course/assessment/answer/programming_codaveri_auto_grading_service_spec.rb
Due: frontend, backend

feat(GenerateQuestion): add GenerateQuestionMenu
  app/views/course/assessment/assessments/show.json.jbuilder
  app/views/course/question_assessments/_question_assessment.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/GenerateQuestionMenu.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/assessments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
Due: frontend, backend

feat(MrqGeneration): add MRQ generation page
  app/controllers/course/assessment/question/multiple_responses_controller.rb
  app/services/course/assessment/question/mrq_generation_service.rb
  app/services/course/assessment/question/prompts/mrq_generation_output_format.json
  app/services/course/assessment/question/prompts/mrq_generation_system_prompt.json
  app/services/course/assessment/question/prompts/mrq_generation_user_prompt.json
  client/app/api/course/Assessment/Question/McqMrq.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateTabs.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/MultipleResponse/GenerateMrqConversation.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/MultipleResponse/GenerateMrqExportDialog.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/MultipleResponse/GenerateMrqPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/MultipleResponse/GenerateMrqQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/Programming/GenerateProgrammingConversation.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/Programming/GenerateProgrammingExportDialog.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/Programming/GenerateProgrammingPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/Programming/GenerateProgrammingQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/TestCasesManager.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/constants.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/selectors.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/types.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/utils.ts
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/GenerateQuestionMenu.tsx
  client/app/bundles/course/assessment/question/multiple-responses/EditMcqMrqPage.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/Option.tsx
  client/app/bundles/course/assessment/question/multiple-responses/components/OptionsManager.tsx
  client/app/bundles/course/assessment/question/multiple-responses/operations.ts
  client/app/bundles/course/assessment/reducers/generation.ts
  client/app/routers/course/assessments/questions.tsx
  client/app/types/course/assessment/question-generation.ts
  spec/controllers/course/assessment/question/multiple_responses_controller_spec.rb
  spec/services/course/assessment/question/mrq_generation_service_spec.rb
  spec/support/stubs/langchain/llm_stubs.rb
Due: frontend, backend

feat(McqGeneration): add MCQ generation
  app/controllers/course/assessment/question/multiple_responses_controller.rb
  app/services/course/assessment/question/mrq_generation_service.rb
  app/services/course/assessment/question/prompts/mcq_generation_system_prompt.json
  app/services/course/assessment/question/prompts/mcq_generation_user_prompt.json
  app/views/course/assessment/assessments/show.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentGenerate/MultipleResponse/GenerateMrqConversation.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/MultipleResponse/GenerateMrqExportDialog.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/MultipleResponse/GenerateMrqPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/MultipleResponse/GenerateMrqQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/constants.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/types.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/utils.ts
  client/app/bundles/course/assessment/question/multiple-responses/EditMcqMrqPage.tsx
  client/app/bundles/course/assessment/question/multiple-responses/operations.ts
  client/app/bundles/course/assessment/reducers/generation.ts
  client/app/types/course/assessment/question-generation.ts
  spec/controllers/course/assessment/question/multiple_responses_controller_spec.rb
  spec/services/course/assessment/question/mrq_generation_service_spec.rb
  spec/support/stubs/langchain/llm_stubs.rb
Due: frontend, backend

feat(programming): change programming view/apis to return historic auto gradings
  app/views/course/assessment/answer/programming/_auto_grading.jbuilder
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/AutoGradingComponent.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/OutputStream.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/TestCaseComponent.tsx
  client/app/bundles/course/assessment/submission/reducers/history/index.ts
  client/app/bundles/course/assessment/submission/reducers/questionsFlags.js
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/types/course/assessment/submission/answer/programming.ts
  client/app/types/course/statistics/answer.ts
Due: frontend, backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
