Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(codaveri): include prefix and suffix for test cases resources
  app/services/course/assessment/question/programming_codaveri/java/java_package_service.rb
  app/services/course/assessment/question/programming_codaveri/language_package_service.rb
  app/services/course/assessment/question/programming_codaveri/programming_codaveri_package_service.rb
  app/services/course/assessment/question/programming_codaveri_service.rb
Due: backend

fix(editor): fetch editor mode from backend
  app/views/course/assessment/question/programming/_programming.json.jbuilder
  app/views/course/statistics/assessments/_live_feedback_history_details.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateProgrammingQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateQuestionPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackDetails.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImport/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/utils.ts
  client/app/lib/components/core/fields/EditorField.tsx
  client/app/types/course/assessment/submission/liveFeedback.ts
Due: frontend, backend

fix(codaveri): include file_object encoding for codaveri question creation
  app/services/course/assessment/question/programming_codaveri/java/java_package_service.rb
Due: backend

fix(codaveri): align variable name with other package services
  app/services/course/assessment/question/programming_codaveri/java/java_package_service.rb
Due: backend

fix(codaveri): use base64 for all supporting files for Java
  app/services/course/assessment/question/programming_codaveri/java/java_package_service.rb
Due: backend

fix(tests): fix flaky tests
  spec/features/course/assessment_management_spec.rb
  spec/features/course/material/folder_management_spec.rb
  spec/features/system/admin/course_management_spec.rb
  spec/features/system/admin/user_management_spec.rb
  spec/support/capybara.rb
Due: none

feat(user): prevent destroying primary email
  app/controllers/user/emails_controller.rb
  authentication/import/coursemology_realm.json
  authentication/script/cm_db_federation.sql
  config/locales/en/user/emails.yml
  config/locales/ko/user/emails.yml
  config/locales/zh/user/emails.yml
  spec/controllers/user/emails_controller_spec.rb
Due: backend

feat(getHelp): format Markdown on Get Help Chat
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ConversationArea.tsx
  client/app/bundles/course/assessment/submission/components/MarkdownText.tsx
Due: frontend

chore(upgrade): node v18 -> v22
  .circleci/config.yml
  client/package.json
Due: none

fix(codaveri): use utf8 for .java supporting files for piston compilation
  app/services/course/assessment/question/programming_codaveri/java/java_package_service.rb
Due: backend

feat(past-answers): moved apis out of statistics, fixed tests
  app/controllers/course/assessment/submission/answer/answers_controller.rb
  app/controllers/course/assessment/submission_question/submission_questions_controller.rb
  app/controllers/course/statistics/answers_controller.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/question/forum_post_response.rb
  app/models/course/assessment/submission_question.rb
  app/models/course/assessment/submission_question_ability.rb
  app/views/course/assessment/submission/answer/answers/show.json.jbuilder
  app/views/course/assessment/submission_question/submission_questions/all_answers.json.jbuilder
  app/views/course/assessment/submission_question/submission_questions/past_answers.json.jbuilder
  client/app/api/course/Assessment/AllAnswers.ts
  client/app/api/course/Assessment/Submission/Answer/Answer.ts
  client/app/api/course/Assessment/SubmissionQuestions.js
  client/app/api/course/Assessment/index.js
  client/app/api/course/Statistics/AllAnswerStatistics.ts
  client/app/api/course/Statistics/index.ts
  client/app/bundles/course/assessment/operations/history.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LastAttempt.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/AllAttempts/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/AnswerHeader.tsx
  client/app/bundles/course/assessment/submission/components/pastAnswers/PastMultipleResponseAnswer.jsx
  client/app/bundles/course/assessment/submission/components/pastAnswers/PastProgrammingAnswer.jsx
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/NonAutogradedProgrammingActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/QuestionContent.tsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  config/routes.rb
  spec/controllers/course/assessment/submission/answer/answers_controller_spec.rb
  spec/controllers/course/assessment/submission_question/submission_questions_controller_spec.rb
  spec/controllers/course/statistics/answers_controller_spec.rb
  spec/factories/course_assessment_submissions.rb
  spec/features/course/assessment/submission/past_answers_spec.rb
  spec/models/course/assessment/submission_question_ability_spec.rb
Due: frontend, backend

chore(circle_ci): update circle_ci psql image
  .circleci/config.yml
Due: none

feat(UI): update components to support material text chunking
  client/app/api/course/Material/Folders.ts
  client/app/bundles/course/material/folders/components/buttons/KnowledgeBaseSwitch.tsx
  client/app/bundles/course/material/folders/components/buttons/WorkbinTableButtons.tsx
  client/app/bundles/course/material/folders/components/tables/TableMaterialRow.tsx
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/bundles/course/material/folders/components/tables/WorkbinTable.tsx
  client/app/bundles/course/material/folders/operations.ts
  client/app/bundles/course/material/folders/pages/FolderShow/index.tsx
  client/app/bundles/course/material/folders/store.ts
  client/app/bundles/course/material/folders/types.ts
  client/app/types/course/material/folders.ts
Due: frontend

feat(chunk_references): add course_material_text_chunk_references
  app/controllers/course/material/materials_controller.rb
  app/jobs/course/material/text_chunk_job.rb
  app/models/course/material.rb
  app/models/course/material/text_chunk.rb
  app/models/course/material/text_chunk_reference.rb
Due: backend

style(hound): fix hound violations
  app/services/rag/chunking_service.rb
  app/services/rag/llm_service.rb
  config/initializers/llm_langchain.rb
Due: backend

feat(db): add and update tables to introduce text_chunk_references
  db/migrate/20250105150012_create_course_material_text_chunk_references.rb
  db/migrate/20250106072815_remove_creator_course_material_from_course_material_text_chunks.rb
  db/migrate/20250106073859_add_name_to_course_material_text_chunks.rb
  db/schema.rb
Due: none

feat(timed_assessment): further improvement
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/jobs/course/assessment/submission/force_submit_timed_submission_job.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/submission.rb
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  app/views/course/assessment/submission/submissions/index.json.jbuilder
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/WarningDialog.tsx
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/RemainingTimeTranslations.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/translations.js
  client/app/bundles/course/assessment/submission/reducers/submission.js
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  config/routes.rb
  db/migrate/20240911133816_add_timer_start_at_for_submission.rb
  db/schema.rb
Due: frontend, backend

chore(api): gatekeep timer start at and set test
  app/controllers/course/assessment/submission/submissions_controller.rb
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
Due: frontend, backend

fix(i18n): add missing translations for ZH and KO
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardManager.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardSummary.tsx
  client/app/bundles/course/assessment/submission/pages/LogsIndex/LogsHead.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/material/folders/components/tables/TableMaterialRow.tsx
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/bundles/course/material/folders/components/tables/WorkbinTable.tsx
  client/app/bundles/course/video/components/tables/VideoTable.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(codaveri): map codaveri error codes to CM error messages
  app/helpers/course/assessment/answer/programming_test_case_helper.rb
  app/services/course/assessment/answer/programming_codaveri_auto_grading_service.rb
  app/services/course/assessment/programming_codaveri_evaluation_service.rb
  config/locales/en/course/assessment/answer/programming_auto_grading.yml
  config/locales/ko/course/assessment/answer/programming_auto_grading.yml
  config/locales/zh/course/assessment/answer/programming_auto_grading.yml
  spec/services/course/assessment/programming_codaveri_evaluation_service_spec.rb
  spec/support/stubs/codaveri/evaluate_api_stubs.rb
Due: backend

fix(codaveri): feedback pathname and scroll
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ConversationArea.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
Due: frontend

feat(programming): expose programming language dependencies
  Gemfile.lock
  app/views/course/assessment/question/programming/_languages.json.jbuilder
  client/app/bundles/course/assessment/question/programming/components/common/InstalledDependenciesPrompt.tsx
  client/app/bundles/course/assessment/question/programming/components/common/InstalledDependenciesTable.tsx
  client/app/bundles/course/assessment/question/programming/components/sections/EvaluatorFields.tsx
  client/app/bundles/course/assessment/question/programming/hooks/useLanguageMode.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionWorkflowState.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/lib/components/core/buttons/RadioButton.tsx
  client/app/lib/components/table/TanStackTableBuilder/csvGenerator.ts
  client/app/types/course/assessment/question/programming.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

feat(lang): add Korean language in auth
  authentication/Dockerfile
  authentication/import/coursemology_realm.json
  authentication/theme/coursemology-keycloakify-keycloak-theme-8.0.0.jar
  authentication/theme/coursemology-keycloakify-keycloak-theme-8.0.1.jar
Due: none

fix(codaveri): fix stdout/stderr newline formatting on compiled languages
  app/services/course/assessment/programming_codaveri_evaluation_service.rb
  spec/services/course/assessment/programming_codaveri_evaluation_service_spec.rb
  spec/support/stubs/codaveri/evaluate_api_stubs.rb
Due: backend

feat(getHelp): improve chip and feedbacks
  app/services/course/assessment/answer/live_feedback/thread_service.rb
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ConversationArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
  client/app/bundles/course/assessment/submission/suggestionTranslations.ts
  client/app/bundles/course/assessment/submission/types.ts
Due: frontend, backend

fix(getHelp): allow TA to open get help from students' page
  app/models/course/assessment/assessment_ability.rb
  config/routes.rb
Due: backend
