Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

question statistics table can be downloaded into csv
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
Due: frontend, backend

resolve grader and tailwind issue, refactor controller
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/ColorGradationLevel.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
Due: frontend, backend

Update README.md
  README.md
Due: none

refactor controller and pages for stats
  app/controllers/concerns/course/statistics/submissions_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/assessment.json.jbuilder
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/ColorGradationLevel.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/selectors.ts
Due: frontend, backend

fixes in naming and typing
  client/app/api/course/Assessment/Submission/Answer/Answer.ts
  client/app/api/course/Assessment/Submission/Answer/TextResponse.ts
  client/app/bundles/course/assessment/submission/components/answers/types.ts
  client/app/bundles/course/assessment/submission/reducers/answerFlags/index.ts
  client/app/bundles/course/assessment/submission/reducers/history/answers.js
Due: frontend

remove redux usage from marks table
  app/views/course/statistics/assessments/marks_per_question.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

refactor: remove saving status once answer is updated
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
Due: frontend

refactor: abstract debounce delay by question type
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
Due: frontend

chore(deps): add doorkeeper
  Gemfile
  Gemfile.lock
Due: none

chore(oauth): configure doorkeeper
  app/models/user.rb
  config/initializers/doorkeeper.rb
  config/locales/doorkeeper.en.yml
  config/routes.rb
  db/migrate/20231215074458_create_doorkeeper_tables.rb
  db/schema.rb
Due: backend

refactor(webpack): use pipeline of proxy bypass conditions
  client/webpack.dev.js
Due: none

feat(user/profiles): add `#show` for OAuth
  app/controllers/user/profiles_controller.rb
  app/views/user/profiles/show.json.jbuilder
Due: backend

feat(oauth): add ApplicationUserOauthConcern
  app/controllers/concerns/application_user_concern.rb
  app/controllers/concerns/application_user_oauth_concern.rb
Due: backend

feat(system/admin): add Authentications tab
  client/app/bundles/system/admin/admin/AdminNavigator.tsx
  client/app/bundles/system/admin/admin/pages/AuthenticationsIndex.tsx
  client/app/routers/AuthenticatedApp.tsx
Due: frontend

chore(webpack): add proxy bypass for doorkeeper routes
  client/webpack.dev.js
Due: none

refactor: revert unecessary changes
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

refactor: reuse appendFormData
  client/app/api/course/Assessment/Submission/Answer/Programming.js
Due: frontend

refactor: abstract SavingIndicator component
  client/app/bundles/course/assessment/submission/components/ScribingView/SavingIndicator.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingToolbar.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/SavingIndicator.test.tsx
  client/app/lib/components/core/indicators/SavingIndicator/index.tsx
Due: frontend

refactor: move saveDraft answer and submitAnswer API from submission to answer namespace
  client/app/api/course/Assessment/Submission/Answer/Answer.ts
  client/app/api/course/Assessment/Submission/Answer/index.js
  client/app/api/course/Assessment/Submissions.js
Due: frontend

refactor submissionAnswer and Answer, minor style fix
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/containers/PastAnswers.jsx
Due: frontend

refactor saveAnswer
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/components/answers/TextResponse.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
Due: frontend

update clientVersion on import/upload, sort files
  client/app/bundles/course/assessment/submission/actions/attachments.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
Due: frontend

feat: create selectors for answer and answerFlags store in submission edit page
  client/app/bundles/course/assessment/submission/selectors/answerFlags.ts
  client/app/bundles/course/assessment/submission/selectors/answers.ts
Due: frontend

refactor: savingStatus called directly in SubmissionAnswer
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/selectors.ts
Due: frontend

unify saving indicator and fix UI bug for programming
  client/app/bundles/course/assessment/submission/actions/attachments.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPostSelect.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/containers/ImportedFileView.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/bundles/course/assessment/submission/types.ts
Due: frontend

saving indicator edited
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
Due: frontend

fix bug clientVersion and session_id in params
  app/services/course/assessment/submission/update_service.rb
Due: backend

support autosave while upload programming files
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

simplify savingStatus, modify upload java files UI
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

refactor: revert changes
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

support autosaving for upload file or forum answer
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/answers/FileUpload.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPostSelect.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
Due: frontend

refine the saving indicator position in answer
  client/app/bundles/course/assessment/submission/components/Answer.tsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPostSelect.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/index.jsx
  client/app/bundles/course/assessment/submission/containers/ProgrammingImportEditor.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
Due: frontend

fix getValues return null after submission
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
Due: frontend

style: some modification on submission answer UI
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
Due: frontend

render Unsaved chips in Answer when it's dirty
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.tsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/utils.js
Due: frontend

fix bug answer.specific validation not run
  app/services/course/assessment/submission/update_service.rb
Due: backend

refactor(submission actions): separate actions by answer type - formatAnswer function now format different answer actable type
  client/app/bundles/course/assessment/submission/actions/answers/__test__/scribing.test.js
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/actions/answers/programming.js
  client/app/bundles/course/assessment/submission/actions/answers/scribing.js
  client/app/bundles/course/assessment/submission/actions/answers/textResponse.js
  client/app/bundles/course/assessment/submission/actions/answers/voiceResponse.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/actions/utils.js
Due: frontend

refactor: update wait_for_autosave function
  spec/support/active_job.rb
Due: none

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
