Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

test(instance_user_role_requests_management): enable `js: true`
  spec/features/instance_user_role_requests_management_spec.rb
Due: none

feat(toast): standardise toast styles
  client/app/bundles/announcements/GlobalAnnouncementIndex.tsx
  client/app/lib/components/wrappers/ToastProvider.tsx
  client/app/lib/hooks/toast/index.ts
  client/app/lib/hooks/toast/loadingToast.ts
  client/app/lib/hooks/toast/toast.tsx
Due: frontend

chore(types): add @types/react-scroll
  client/package.json
  client/yarn.lock
Due: none

feat(index): returns last course accessed times
  app/views/application/index.json.jbuilder
  client/app/types/home.ts
Due: frontend, backend

feat(index): returns locale, time zone
  app/views/application/index.json.jbuilder
  client/app/types/home.ts
Due: frontend, backend

feat(registrations_controller): responds to JSON
  app/controllers/user/registrations_controller.rb
  app/views/user/registrations/create.json.jbuilder
Due: backend

feat(index): returns primary email
  app/views/application/index.json.jbuilder
  client/app/types/home.ts
Due: frontend, backend

feat(confirmations_controller): responds to JSON
  app/controllers/user/confirmations_controller.rb
  config/routes.rb
Due: backend

feat(components): add CAPTCHAField
  client/app/declaration.d.ts
  client/app/lib/components/core/fields/CAPTCHAField.tsx
  client/package.json
  client/webpack.common.js
  client/yarn.lock
Due: frontend

feat(store): add session store
  client/app/bundles/common/store.ts
  client/app/lib/constants/sharedConstants.ts
  client/app/lib/hooks/session.ts
  client/app/store.ts
Due: frontend

feat(sessions_controller): responds to JSON
  app/controllers/user/sessions_controller.rb
Due: backend

test(course_management): enable `js: true`
  spec/features/course_management_spec.rb
Due: none

style(prettier): fix class names ordering
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/Tab.tsx
Due: frontend

test(authentication): remove incompatible RSpec tests
  spec/features/course/registration_spec.rb
  spec/features/user/password_management_spec.rb
  spec/features/user_sign_in_spec.rb
  spec/features/user_sign_up_spec.rb
Due: none

feat(ErrorBoundary): rewrite to TS, add raw error stack
  client/app/lib/components/wrappers/ErrorBoundary.jsx
  client/app/lib/components/wrappers/ErrorBoundary.tsx
Due: frontend

test(instance_announcement_management): create `user` before `login`
  spec/features/system/admin/instance/instance_announcement_management_spec.rb
Due: none

feat: migrate more Link `href`s to `to`
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/NewQuestionMenu.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/Question.tsx
  client/app/bundles/course/assessment/question/components/CommonQuestionFields.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumCard.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/TopicCard.jsx
  client/app/bundles/course/assessment/submission/pages/LogsIndex/LogsHead.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submissions/components/buttons/SubmissionsTableButton.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/bundles/course/experience-points/disbursement/components/tables/DisbursementTable.tsx
  client/app/bundles/course/forum/components/buttons/SubscribeButton.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/course/StudentPerformanceTable.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/students/StudentsStatisticsTable.jsx
  client/app/bundles/users/components/tables/CoursesTable.tsx
  client/app/lib/components/extensions/StackedBadges.tsx
  client/app/lib/components/extensions/conditions/conditions/AssessmentCondition.tsx
  client/app/lib/components/extensions/conditions/conditions/SurveyCondition.tsx
Due: frontend

feat(app): add AuthenticatedApp, UnauthenticatedApp
  client/app/App.tsx
  client/app/lib/components/core/buttons/MasqueradeButton.tsx
  client/app/router.tsx
  client/app/routers/AuthenticatableApp.tsx
  client/app/routers/AuthenticatedApp.tsx
  client/app/routers/UnauthenticatedApp.tsx
  client/app/routers/index.ts
  client/app/routers/redirects.tsx
  client/app/routers/router.tsx
Due: frontend

feat(components): add MarkdownPage
  client/app/declaration.d.ts
  client/app/lib/components/core/layouts/MarkdownPage.tsx
  client/package.json
  client/webpack.common.js
  client/yarn.lock
Due: frontend

style(AppContainer): remove unused IfRailsSaysSafeToRender
  client/app/lib/containers/AppContainer/AppContainer.tsx
  client/app/lib/containers/AppContainer/IfRailsSaysSafeToRender.tsx
Due: frontend

feat: add Privacy Policy page
  client/app/bundles/common/PrivacyPolicyPage/PrivacyPolicyPage.tsx
  client/app/bundles/common/PrivacyPolicyPage/index.tsx
  client/app/bundles/common/PrivacyPolicyPage/privacy-policy.md
Due: frontend

fix(assessments): restyle elements reset by preflight
  client/app/bundles/course/assessment/question/programming/components/common/TestCasesTable.tsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/ProgressPanel.jsx
  client/app/bundles/course/assessment/submission/components/ProgressPanel.tsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideEditor.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/components/TextResponseSolutions.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPost.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPostSelect.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/Labels.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/SelectedPostCard.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.jsx
  client/app/bundles/course/assessment/submission/components/comment/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/comment/CommentField.jsx
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/PastAnswers.jsx
  client/app/bundles/course/assessment/submission/containers/PostPreview.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView/__test__/index.test.js
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
  client/app/bundles/course/assessment/submission/containers/UploadedFileView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
Due: frontend

feat(styles): add base styles, configs
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/lib/components/wrappers/ThemeProvider.tsx
  client/app/lib/initializers/webfont.js
  client/app/theme/bouncing-dot.css
  client/app/theme/github.css
  client/app/theme/index.css
  client/app/theme/sidebar.css
  client/app/theme/syntax-highlighting.css
  client/tailwind.config.ts
Due: frontend

feat(router): add assessment attempt loader
  client/app/bundles/course/assessment/attemptLoader.ts
Due: frontend

fix(users): set appropriate heading
  client/app/bundles/course/users/components/misc/UserProfileAchievements.tsx
  client/app/bundles/course/users/components/misc/UserProfileCard.tsx
  client/app/bundles/course/users/components/misc/UserProfileSkills.tsx
  client/app/bundles/course/users/pages/UserStatistics/LearningRateRecords/index.tsx
Due: frontend

feat: lib/axios -> BaseAPI
  client/app/api/Attachments.js
  client/app/api/Attachments.ts
  client/app/api/course/Achievements.ts
  client/app/api/course/Assessment/Assessments.js
  client/app/api/course/Video/Submissions.ts
  client/app/bundles/course/assessment/submission/actions/attachments.js
  client/app/bundles/course/courses/components/buttons/TodoAccessButton.tsx
  client/app/bundles/course/courses/components/tables/PendingTodosTable.tsx
  client/app/bundles/course/video/submission/containers/VideoControls/NextVideoButton.jsx
  client/app/lib/axios.js
  client/app/lib/components/core/fields/CKEditorRichText.tsx
Due: frontend

feat(assessments): attempt buttons link to `/attempt` route
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowHeader.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/ActionButtons.tsx
Due: frontend

feat: add Terms of Service page
  client/app/bundles/common/TermsOfServicePage/TermsOfServicePage.tsx
  client/app/bundles/common/TermsOfServicePage/index.tsx
  client/app/bundles/common/TermsOfServicePage/terms-of-service.md
Due: frontend

feat(AppLoader): sets i18n configs, authenticates app
  client/app/lib/components/wrappers/I18nProvider.tsx
  client/app/lib/containers/AppContainer/AppLoader.ts
  client/app/lib/moment.ts
Due: frontend

feat(router): add video attempt loader
  client/app/bundles/course/video/attemptLoader.ts
  client/app/types/course/video/submissions.ts
Due: frontend

feat: add LandingPage
  client/app/bundles/common/LandingPage.tsx
Due: frontend

feat: add 403, 404 error pages
  client/app/assets/error-illustration.svg
  client/app/assets/forbidden-illustration.svg
  client/app/assets/not-found-illustration.svg
  client/app/bundles/common/ErrorPage.tsx
Due: frontend

refactor: extract support email as `SUPPORT_EMAIL` constant
  client/app/bundles/course/assessment/submission/components/EvaluatorErrorPanel.tsx
  client/app/lib/components/core/layouts/Footer.tsx
  client/app/lib/constants/sharedConstants.ts
Due: frontend

feat: add React authentication pages
  client/app/api/Users.ts
  client/app/bundles/users/components/Widget.tsx
  client/app/bundles/users/masqueradeLoader.ts
  client/app/bundles/users/pages/ConfirmEmailPage.tsx
  client/app/bundles/users/pages/ForgotPasswordLandingPage.tsx
  client/app/bundles/users/pages/ForgotPasswordPage.tsx
  client/app/bundles/users/pages/ResendConfirmationEmailLandingPage.tsx
  client/app/bundles/users/pages/ResendConfirmationEmailPage.tsx
  client/app/bundles/users/pages/ResetPasswordPage.tsx
  client/app/bundles/users/pages/SignInPage.tsx
  client/app/bundles/users/pages/SignUpLandingPage.tsx
  client/app/bundles/users/pages/SignUpPage.tsx
  client/app/bundles/users/pages/UserShow.tsx
  client/app/bundles/users/translations.ts
  client/app/bundles/users/validations.ts
  client/app/lib/containers/AppContainer/MasqueradeBanner.tsx
  client/app/lib/containers/AuthPagesContainer.tsx
  client/app/types/users.ts
Due: frontend

feat: add DashboardPage
  client/app/bundles/common/DashboardPage.tsx
Due: frontend

test(SubmissionsTable): rewrite test with RTL
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/__test__/submissionsTable.test.jsx
Due: frontend

fix(TextField): custom `onKeyDown` can't be triggered
  client/app/lib/components/core/fields/TextField.tsx
Due: frontend

feat: add new user menu button
  client/app/bundles/course/container/Sidebar/CourseItem.tsx
  client/app/bundles/course/container/Sidebar/CourseUserItem.tsx
  client/app/bundles/course/container/Sidebar/LevelRing.tsx
  client/app/bundles/course/container/Sidebar/Sidebar.tsx
  client/app/bundles/course/container/Sidebar/SidebarContainer.tsx
  client/app/lib/components/navigation/AdminPopupMenuList.tsx
  client/app/lib/components/navigation/BrandingHead.tsx
  client/app/lib/components/navigation/CourseSwitcherPopupMenu.tsx
  client/app/lib/components/navigation/UserPopupMenuList.tsx
Due: frontend

fix(CoursesIndex): new course dialog won't open when `new=true`
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
