Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

chore(rails): upgrade to 7.0.8.1
  Gemfile
  Gemfile.lock
  config/application.rb
Due: none

migrate(db): migration on rails 7
  Gemfile.lock
  app/models/course.rb
  app/models/course/user_invitation.rb
  db/schema.rb
Due: backend

feat: add missing translation
  config/locales/zh/course/stories.yml
Due: none

feat(migrate): add time limit to course assessments
  db/migrate/20240510173545_add_time_limit_for_timed_assessment.rb
Due: none

feat(assessment): allow add time limit
  app/controllers/course/assessment/assessments_controller.rb
  app/views/course/assessment/assessments/edit.json.jbuilder
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
  db/schema.rb
Due: frontend, backend

feat(assessment): show time limit info
  app/views/course/assessment/assessments/index.json.jbuilder
  app/views/course/assessment/assessments/show.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
  client/app/bundles/course/assessment/components/AssessmentForm/useFormValidation.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/AssessmentsTable.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/assessments.ts
Due: frontend, backend

feat(deadline): create banner for time remaining
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/utils/timer.ts
Due: frontend

feat(jobs): create jobs for timed assessment
  app/models/course/assessment/submission.rb
Due: backend

feat(stories): support changing the title of the "Learn" page
  app/controllers/components/course/stories_component.rb
  app/controllers/course/admin/stories_settings_controller.rb
  app/models/course/settings/stories_component.rb
  app/views/course/admin/stories_settings/edit.json.jbuilder
  client/app/bundles/course/admin/pages/StoriesSettings/index.tsx
  client/app/bundles/course/admin/pages/StoriesSettings/operations.ts
  client/app/types/course/admin/stories.ts
Due: frontend, backend

feat(stories): add Mission Control for teaching staff
  app/controllers/components/course/stories_component.rb
  app/controllers/concerns/course/cikgo_chats_concern.rb
  app/controllers/concerns/signals/slices/cikgo_mission_control.rb
  app/controllers/course/stories/stories_controller.rb
  app/models/components/course/stories_ability_component.rb
  app/services/cikgo/chats_service.rb
  client/app/api/course/Stories.ts
  client/app/bundles/course/stories/components/CikgoChatsPage.tsx
  client/app/bundles/course/stories/components/CikgoErrorPage.tsx
  client/app/bundles/course/stories/components/CikgoFramePage.tsx
  client/app/bundles/course/stories/pages/MissionControlPage.tsx
  client/app/lib/constants/icons.ts
  client/app/routers/AuthenticatedApp.tsx
  config/locales/en/course/stories.yml
  config/routes.rb
Due: frontend, backend

chore(config): allow `<iframe>`s from different origins on development
  config/environments/development.rb
Due: none

fix(translations): modify plural translations
  app/models/course/assessment/submission.rb
  client/app/bundles/course/assessment/components/AssessmentForm/useFormValidation.tsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/translations.ts
  db/schema.rb
Due: frontend, backend

feat(time_limit): enhancement on banner and dialog
  app/models/course/assessment/submission.rb
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/utils/timer.ts
Due: frontend, backend

fix(lesson-plan): fix edit item row message quotes
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/index.jsx
  client/locales/en.json
Due: frontend

style: replaced instances of 2 single quotes with double quotes
  client/app/bundles/course/assessment/translations.ts
  client/app/lib/components/navigation/CourseSwitcherPopupMenu.tsx
  client/locales/en.json
  client/locales/zh.json
Due: frontend

feat(dialog): unify dialog for exam and timed assessment
  app/models/course/assessment/submission.rb
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
  client/app/bundles/course/assessment/pages/AssessmentEdit/AssessmentEditPage.jsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/assessment/submission/components/WarningDialog.tsx
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/utils/timer.ts
  db/migrate/20240510173545_add_time_limit_for_timed_assessment.rb
Due: frontend, backend

style(time_limit): some page styling change
  client/app/bundles/course/assessment/pages/AssessmentsIndex/AssessmentsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/StatusBadges.tsx
  client/app/bundles/course/assessment/submission/components/WarningDialog.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/translations.ts
Due: frontend

docs: update setup instructions
  README.md
Due: none

fix: check if deadline exists
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

refactor: refactor force submission handling on FE for timed assessment
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/utils/timer.ts
Due: frontend

chore: update translation
  config/locales/zh/course/stories.yml
Due: none

style: eslint fixes
  client/app/bundles/course/user-invitations/pages/InvitationsIndex/index.tsx
  client/app/bundles/course/user-invitations/pages/InviteUsersFileUpload/index.tsx
Due: frontend

fix(user-invitations): newline formatting
  client/app/bundles/course/user-invitations/pages/InvitationsIndex/index.tsx
  client/app/bundles/course/user-invitations/pages/InviteUsersFileUpload/index.tsx
Due: frontend

style: substitute template with newline character within {pre}
  client/app/bundles/course/user-invitations/pages/InviteUsersFileUpload/index.tsx
  client/locales/en.json
  client/locales/zh.json
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
