Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

✨ feat(submission): add copy code button for programming files in grading view (#4387)
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/CopyCodeButton.tsx
Due: frontend

fix(answer): fix explanation missing for autograded mcq answers
  app/models/course/assessment/answer.rb
  spec/models/course/assessment/answer_spec.rb
Due: backend

chore(deps): bump devise-multi_email from 3.0.1 to 3.1.6
  Gemfile.lock
Due: none

feat(manage_users): minor query optimization
  app/controllers/concerns/course/users_controller_management_concern.rb
  app/controllers/course/courses_controller.rb
  app/models/user.rb
  app/views/course/users/_user_list_data.json.jbuilder
  app/views/course/users/students.json.jbuilder
Due: backend

feat(users): implement suspended course user redirect page
  app/controllers/course/controller.rb
  app/models/components/course/course_ability_component.rb
  app/views/course/courses/_course_data.json.jbuilder
  client/app/api/ErrorHandling.ts
  client/app/bundles/common/ErrorPage.tsx
  client/app/bundles/course/courses/pages/CourseShow/index.tsx
  client/app/lib/helpers/url-helpers.ts
  client/app/lib/hooks/router/redirect.tsx
  client/app/lib/translations/course/index.ts
  client/app/routers/redirects.tsx
  client/app/routers/router.tsx
  client/app/types/course/courses.ts
  spec/controllers/course/material/folders_controller_spec.rb
  spec/factories/course_users.rb
Due: frontend, backend

feat(users): implement user suspension flag
  app/controllers/concerns/course/users_controller_management_concern.rb
  app/controllers/course/courses_controller.rb
  app/controllers/course/users_controller.rb
  app/mailers/course/mailer.rb
  app/views/course/courses/_course_data.json.jbuilder
  app/views/course/mailer/user_suspended_email.html.slim
  app/views/course/mailer/user_suspended_email.text.erb
  app/views/course/mailer/user_unsuspended_email.html.slim
  app/views/course/mailer/user_unsuspended_email.text.erb
  app/views/course/users/_user_list_data.json.jbuilder
  client/app/api/course/Users.ts
  client/app/bundles/course/users/components/buttons/UserManagementButtons.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/ActiveTableToolbar.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/AlgorithmMenu.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/BulkActionsButton.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/BulkAssignTimelineButton.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/BulkAssignTimelineMenu.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/PhantomSwitch.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/RoleMenu.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/TimelineMenu.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/UserNameField.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable/index.tsx
  client/app/bundles/course/users/operations.ts
  client/app/bundles/course/users/store.ts
  client/app/bundles/course/users/translations.ts
  client/app/bundles/course/users/types.ts
  client/app/types/course/courseUsers.ts
  client/app/types/store.ts
  client/app/utilities/store.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/locales/en/mailers.yml
  config/routes.rb
  db/migrate/20260320023538_add_suspended_to_course_users.rb
  db/schema.rb
  spec/controllers/course/courses_controller_spec.rb
  spec/controllers/course/users_controller_spec.rb
  spec/support/custom_matchers.rb
Due: frontend, backend

feat(users): show/edit custom suspension messages
  app/controllers/course/admin/admin_controller.rb
  app/mailers/course/mailer.rb
  app/views/course/admin/admin/index.json.jbuilder
  app/views/course/mailer/user_suspended_email.html.slim
  app/views/course/mailer/user_suspended_email.text.erb
  client/app/bundles/common/ErrorPage.tsx
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
  client/app/types/course/admin/course.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/locales/en/mailers.yml
  config/locales/ko/mailers.yml
  config/locales/zh/mailers.yml
Due: frontend, backend

feat(answers): merge RunCodeButton and SubmitButton
  app/views/course/assessment/question/rubric_based_responses/_rubric_based_response.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/ActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/FinaliseButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/RunCodeButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/SubmitButton.tsx
  client/app/bundles/course/assessment/submission/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/features/course/assessment/answer/forum_post_response_answer_spec.rb
  spec/features/course/assessment/answer/multiple_response_answer_spec.rb
  spec/features/course/assessment/answer/programming_answer_spec.rb
  spec/features/course/assessment/answer/text_response_answer_spec.rb
  spec/features/course/assessment/submission/manually_graded_spec.rb
  spec/features/course/assessment/submission/submissions_spec.rb
Due: frontend, backend

fix(application_html_formatters): sanitize zalgo text before save
  app/helpers/application_html_formatters_helper.rb
  app/models/course/assessment/live_feedback/message.rb
  app/models/course/assessment/live_feedback_comment.rb
  spec/helpers/application_formatters_helper_spec.rb
Due: backend

fix(deps): bump sidekiq to 7.3.10 and pin major version
  Gemfile
  Gemfile.lock
Due: none

🐛 fix(submission): show blocked view when instructor toggles student view (#5488)
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend, backend

✨ feat(ui): add z-index Tailwind tiers and migrate shared components (#5397)
  client/app/bundles/course/duplication/components/UnpublishedIcon.jsx
  client/app/bundles/course/learning-map/components/ZoomActionElements/index.jsx
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
  client/app/lib/components/core/LoadingOverlay.tsx
  client/app/lib/components/core/NotificationBar.jsx
  client/app/lib/components/core/dialogs/ConfirmationDialog.jsx
  client/tailwind.config.ts
Due: frontend

feat(courses): implement course suspension flag
  app/controllers/course/admin/admin_controller.rb
  app/mailers/course/mailer.rb
  app/views/course/admin/admin/index.json.jbuilder
  app/views/course/courses/_course_data.json.jbuilder
  app/views/course/mailer/user_suspended_email.html.slim
  app/views/course/mailer/user_suspended_email.text.erb
  client/app/api/course/Admin/Course.ts
  client/app/bundles/common/ErrorPage.tsx
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/operations.ts
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
  client/app/types/course/admin/course.ts
  client/app/types/course/courses.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  db/migrate/20260406122130_add_suspended_to_courses.rb
  db/schema.rb
  spec/controllers/course/courses_controller_spec.rb
Due: frontend, backend

feat(courses): block students from suspended courses
  app/controllers/course/controller.rb
  app/controllers/course/courses_controller.rb
  app/models/components/course/course_ability_component.rb
  app/models/course_user.rb
  app/views/course/courses/_course_data.json.jbuilder
  client/app/bundles/common/ErrorPage.tsx
  client/app/types/course/courses.ts
  spec/controllers/course/admin/admin_controller_spec.rb
  spec/controllers/course/courses_controller_spec.rb
  spec/models/course_user_spec.rb
Due: frontend, backend

feat(courses): added alert on dashboard for suspended courses
  app/models/components/course/course_ability_component.rb
  app/views/course/courses/_course_data.json.jbuilder
  client/app/bundles/common/ErrorPage.tsx
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
  client/app/bundles/course/courses/components/misc/CourseSuspendedAlert.tsx
  client/app/bundles/course/courses/pages/CourseShow/index.tsx
  client/app/types/course/admin/course.ts
  client/app/types/course/courses.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

chore(deps): bump css-loader from 6.11.0 to 7.1.4
  client/package.json
  client/webpack.common.js
  client/yarn.lock
Due: none

chore: minor changes
  .github/dependabot.yml
  .gitignore
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LastAttempt.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/reducers/plagiarism.ts
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
  client/app/bundles/course/material/folders/components/tables/TableMaterialRow.tsx
  client/app/bundles/course/material/folders/components/tables/TableSubfolderRow.tsx
  client/app/bundles/course/material/folders/components/tables/WorkbinTable.tsx
  client/app/bundles/course/users/components/buttons/UserManagementButtons.tsx
  client/package.json
  client/webpack.common.js
  client/yarn.lock
  tests/README.md
Due: frontend

fix(monitoring): fix timeline chart popover
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/HeartbeatsTimelineChart.tsx
Due: frontend

feat(scribing): migrate from fabric.js v5 to v7
  client/app/bundles/course/assessment/submission/actions/answers/__test__/scribing.test.ts
  client/app/bundles/course/assessment/submission/actions/answers/scribing.js
  client/app/bundles/course/assessment/submission/actions/answers/scribing.ts
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/ScribingView/LayersComponent.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/LayersComponent.tsx
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingCanvas.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingCanvas.tsx
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingToolbar.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingToolbar.tsx
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/ScribingToolbar.test.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/ScribingToolbar.test.tsx
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/index.test.tsx
  client/app/bundles/course/assessment/submission/components/ScribingView/fields/ColorPickerField.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/fields/ShapeField.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/fields/ShapeField.tsx
  client/app/bundles/course/assessment/submission/components/ScribingView/index.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/index.tsx
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/scribing.js
  client/app/bundles/course/assessment/submission/reducers/scribing/index.ts
  client/app/types/course/assessment/submission/answer/forumPostResponse.ts
  client/app/types/course/assessment/submission/answer/multipleResponse.ts
  client/app/types/course/assessment/submission/answer/programming.ts
  client/app/types/course/assessment/submission/answer/rubricBasedResponse.ts
  client/app/types/course/assessment/submission/answer/scribing.ts
  client/app/types/course/assessment/submission/answer/textResponse.ts
  client/app/types/course/assessment/submission/answer/voiceResponse.ts
  client/package.json
  client/tailwind.config.ts
  client/yarn.lock
Due: frontend

chore(yarn): use frozen-lockfile by default
  .circleci/config.yml
  client/README.md
  client/package.json
  tests/package.json
Due: none

chore(deps): bump jest and related dependencies from 30.2.0 to 30.3.0
  client/package.json
  client/yarn.lock
Due: none
