Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(AssessmentsIndex): display submitted / total student count
  app/controllers/course/assessment/assessments_controller.rb
  app/views/course/assessment/assessments/index.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentsIndex/AssessmentsTable.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/assessments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

fix(assessment): allow non-registered admins to manage assessments
  app/controllers/course/assessment/assessments_controller.rb
  app/models/course/assessment/assessment_ability.rb
  spec/models/course/assessment/assessment_ability_spec.rb
Due: backend

feat(rubric-playground): initial commit for rubric v2 APIs
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  app/controllers/course/rubrics_controller.rb
  app/models/course.rb
  app/models/course/assessment/question.rb
  app/models/course/assessment/question/question_rubric.rb
  app/models/course/rubric.rb
  app/models/course/rubric/answer_evaluation.rb
  app/models/course/rubric/answer_evaluation/selection.rb
  app/models/course/rubric/category.rb
  app/models/course/rubric/category/criterion.rb
  app/views/course/assessment/question/rubric_based_responses/edit.json.jbuilder
  app/views/course/rubrics/_rubric.json.jbuilder
  app/views/course/rubrics/index.json.jbuilder
  config/routes.rb
  db/migrate/20251002070442_add_v2_rubric_grading_tables.rb
  db/schema.rb
Due: backend

feat(rubric-playground): initial integration with index API, rubric header view of current rubric
  client/app/api/course/Rubrics.ts
  client/app/api/course/index.js
  client/app/bundles/course/assessment/operations/questions.ts
  client/app/bundles/course/assessment/question/components/AIGradingPlaygroundAlert.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/AIGradingFields.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/RubricBasedResponseForm.tsx
  client/app/bundles/course/assessment/question/rubric-playground/CategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/routers/course/index.tsx
  client/app/routers/course/rubrics.tsx
  client/app/types/course/assessment/question/rubric-based-responses.ts
  client/app/types/course/rubrics.ts
Due: frontend

feat(rubric-playground): initial commit for rubric v2 APIs
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/controllers/course/rubrics_controller.rb
  app/models/course.rb
  app/models/course/assessment/answer.rb
  app/models/course/assessment/question.rb
  app/models/course/assessment/question/mock_answer.rb
  app/models/course/assessment/question/question_rubric.rb
  app/models/course/rubric.rb
  app/models/course/rubric/answer_evaluation.rb
  app/models/course/rubric/answer_evaluation/selection.rb
  app/models/course/rubric/category.rb
  app/models/course/rubric/category/criterion.rb
  app/models/course/rubric/mock_answer_evaluation.rb
  app/views/course/assessment/question/rubric_based_responses/edit.json.jbuilder
  app/views/course/assessment/rubrics/index.json.jbuilder
  app/views/course/rubrics/_rubric.json.jbuilder
  app/views/course/rubrics/index.json.jbuilder
  config/routes.rb
  db/migrate/20251002070442_add_v2_rubric_grading_tables.rb
  db/schema.rb
Due: backend

refactor(rubric-based-response): rewrite existing rubric evaluation logic using adapter pattern
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/services/course/assessment/answer/rubric_based_response/answer_adapter.rb
  app/services/course/assessment/question/question_adapter.rb
  app/services/course/assessment/question/rubric_based_response/rubric_adapter.rb
  app/services/course/rubric/llm_service.rb
  app/services/course/rubric/llm_service/answer_adapter.rb
  app/services/course/rubric/llm_service/question_adapter.rb
  app/services/course/rubric/llm_service/rubric_adapter.rb
  spec/services/course/assessment/answer/rubric_auto_grading_service_spec.rb
  spec/services/course/assessment/answer/rubric_based_response/answer_adapter_spec.rb
  spec/services/course/assessment/question/rubric_based_response/rubric_adapter_spec.rb
  spec/services/course/rubric/llm_service_spec.rb
  spec/support/langchain.rb
Due: backend

feat(rubric-playground): initial integration with index API, rubric header view of current rubric
  app/models/course/rubric.rb
  app/views/course/rubrics/_rubric.json.jbuilder
  client/app/api/course/Assessment/Base.js
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/api/course/Assessment/Question/index.ts
  client/app/api/course/Rubrics.ts
  client/app/api/course/index.js
  client/app/bundles/course/assessment/operations/questions.ts
  client/app/bundles/course/assessment/question/components/AIGradingPlaygroundAlert.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/AIGradingFields.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/RubricBasedResponseForm.tsx
  client/app/bundles/course/assessment/question/rubric-playground/CategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundMockupPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/lib/helpers/url-helpers.js
  client/app/routers/course/assessments/questions.tsx
  client/app/types/course/assessment/question/rubric-based-responses.ts
  client/app/types/course/rubrics.ts
Due: frontend, backend

feat(rubric-playground): expand APIs, integrate add sample answers dialog
  app/controllers/course/assessment/mock_answers_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/views/course/assessment/rubrics/rubric_answers.json.jbuilder
  client/app/api/course/Assessment/Question/MockAnswers.ts
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/api/course/Assessment/Question/index.ts
  client/app/bundles/course/assessment/operations/questions.ts
  client/app/bundles/course/assessment/question/reducers/index.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundMockupPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/bundles/course/assessment/store.ts
  client/app/lib/components/core/dialogs/Prompt.tsx
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

fix: instance admin panel formatting fixes
  client/app/bundles/system/admin/instance/instance/components/forms/IndividualInvitation.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/IndividualInviteForm.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceAnnouncementsIndex.tsx
  client/locales/en.json
Due: frontend

fix(ssid): only include completed submissions
  app/services/course/assessment/submission/ssid_zip_download_service.rb
Due: backend

style(Table): remove extraneous table paddings
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatisticsTable.tsx
  client/app/bundles/course/plagiarism/pages/PlagiarismIndex/assessments/AssessmentsPlagiarismTable.tsx
  client/app/bundles/system/admin/admin/components/tables/SystemGetHelpActivityTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InstanceGetHelpActivityTable.tsx
Due: frontend

fix(Note): convert Note component to tsx and standardize padding
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/PulseGrid.tsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/index.jsx
  client/app/bundles/course/assessment/submissions/components/tables/SubmissionsTable.tsx
  client/app/bundles/course/discussion/topics/components/lists/TopicList.tsx
  client/app/bundles/course/enrol-requests/pages/UserRequests/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicShow/index.tsx
  client/app/bundles/course/group/pages/GroupShow/index.jsx
  client/app/bundles/course/user-email-subscriptions/UserEmailSubscriptions.tsx
  client/app/lib/components/core/ErrorCard.jsx
  client/app/lib/components/core/Note.jsx
  client/app/lib/components/core/Note.tsx
  client/app/lib/components/wrappers/Preload.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

style(InstanceAdminPanel): formatting fixes
  client/app/bundles/system/admin/instance/instance/components/forms/IndividualInvitation.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/IndividualInviteForm.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceAnnouncementsIndex.tsx
  client/locales/en.json
Due: frontend

feat(scholaistic): use `/attempt` for assessment action button
  app/controllers/course/scholaistic/submissions_controller.rb
  app/services/scholaistic_api_service.rb
  client/app/api/course/Scholaistic.ts
  client/app/bundles/course/scholaistic/pages/ScholaisticAssessmentSubmissionEdit/loader.ts
Due: frontend, backend

feat(rubric-playground): initial commit for rubric v2 APIs
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/controllers/course/rubrics_controller.rb
  app/models/components/course/course_ability_component.rb
  app/models/course.rb
  app/models/course/assessment/answer.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/question.rb
  app/models/course/assessment/question/mock_answer.rb
  app/models/course/assessment/question/question_rubric.rb
  app/models/course/rubric.rb
  app/models/course/rubric/answer_evaluation.rb
  app/models/course/rubric/answer_evaluation/selection.rb
  app/models/course/rubric/category.rb
  app/models/course/rubric/category/criterion.rb
  app/models/course/rubric/mock_answer_evaluation.rb
  app/models/course/rubric/mock_answer_evaluation/selection.rb
  app/views/course/assessment/question/rubric_based_responses/edit.json.jbuilder
  app/views/course/assessment/rubrics/index.json.jbuilder
  app/views/course/rubrics/_rubric.json.jbuilder
  app/views/course/rubrics/index.json.jbuilder
  config/routes.rb
  db/migrate/20251002070442_add_v2_rubric_grading_tables.rb
  db/schema.rb
Due: backend

refactor(rubric-based-response): rewrite existing rubric evaluation logic using adapter pattern
  app/services/course/assessment/answer/ai_generated_post_service.rb
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/services/course/assessment/answer/rubric_based_response/answer_adapter.rb
  app/services/course/assessment/question/question_adapter.rb
  app/services/course/assessment/question/rubric_based_response/rubric_adapter.rb
  app/services/course/rubric/llm_service.rb
  app/services/course/rubric/llm_service/answer_adapter.rb
  app/services/course/rubric/llm_service/question_adapter.rb
  app/services/course/rubric/llm_service/rubric_adapter.rb
  spec/services/course/assessment/answer/ai_generated_post_service_spec.rb
  spec/services/course/assessment/answer/rubric_auto_grading_service_spec.rb
  spec/services/course/assessment/answer/rubric_based_response/answer_adapter_spec.rb
  spec/services/course/assessment/question/rubric_based_response/rubric_adapter_spec.rb
  spec/services/course/rubric/llm_service_spec.rb
  spec/support/langchain.rb
Due: backend

feat(rubric-playground): initial integration with index API, rubric header view of current rubric
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/rubric.rb
  app/views/course/assessment/rubrics/index.json.jbuilder
  app/views/course/rubrics/_rubric.json.jbuilder
  app/views/course/rubrics/index.json.jbuilder
  client/app/api/course/Assessment/Base.js
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/api/course/Assessment/Question/index.ts
  client/app/api/course/Rubrics.ts
  client/app/api/course/index.js
  client/app/bundles/course/assessment/operations/questions.ts
  client/app/bundles/course/assessment/question/components/AIGradingPlaygroundAlert.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/AIGradingFields.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/RubricBasedResponseForm.tsx
  client/app/bundles/course/assessment/question/rubric-playground/CategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/lib/helpers/url-helpers.js
  client/app/routers/course/assessments/questions.tsx
  client/app/types/course/assessment/question/rubric-based-responses.ts
  client/app/types/course/rubrics.ts
Due: frontend, backend

feat(rubric-playground): export of rubric/answer evaluation data back to question
  app/controllers/course/assessment/rubrics_controller.rb
  app/jobs/course/rubric/rubric_evaluation_export_job.rb
  app/models/course/rubric.rb
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/operations/questions.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): integrate add sample answers dialog, implement mock answer evaluation APIs
  app/controllers/course/assessment/mock_answers_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/assessment/question/mock_answer/answer_adapter.rb
  app/models/course/rubric/mock_answer_evaluation.rb
  app/models/course/rubric/rubric_adapter.rb
  app/views/course/assessment/mock_answers/index.json.jbuilder
  app/views/course/assessment/rubrics/rubric_answers.json.jbuilder
  app/views/course/rubrics/_answer_evaluation.json.jbuilder
  client/app/api/course/Assessment/Question/MockAnswers.ts
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/api/course/Assessment/Question/index.ts
  client/app/bundles/course/assessment/operations/questions.ts
  client/app/bundles/course/assessment/question/reducers/index.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/bundles/course/assessment/store.ts
  client/app/lib/components/core/dialogs/Prompt.tsx
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): fetch existing evaluations, implement reevaluate / dismiss buttons
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/rubric/answer_evaluation.rb
  app/views/course/assessment/rubrics/fetch_answer_evaluations.json.jbuilder
  app/views/course/assessment/rubrics/fetch_mock_answer_evaluations.json.jbuilder
  client/app/api/course/Assessment/Question/MockAnswers.ts
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/operations/questions.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/lib/components/table/TanStackTableBuilder/columnsBuilder.ts
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): fix breadcrumbs and formatting of answers
  app/controllers/course/assessment/questions_controller.rb
  client/app/api/course/Assessment/Question/Questions.ts
  client/app/api/course/Assessment/Question/index.ts
  client/app/bundles/course/assessment/handles.ts
  client/app/bundles/course/assessment/question/components/AIGradingPlaygroundAlert.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/routers/course/assessments/questions.tsx
  client/app/types/course/assessment/questions.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): implement create/delete rubric versions, initial implementation of rubric slider
  app/controllers/course/assessment/rubrics_controller.rb
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/operations/questions.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable.tsx
  client/app/bundles/course/assessment/question/rubric-playground/PlaygroundCategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

feat(TanStackTable): support colSpan, title templates, and skip cells in table
  client/app/lib/components/table/MuiTableAdapter/MuiTableRow.tsx
  client/app/lib/components/table/TanStackTableBuilder/columnsBuilder.ts
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/adapters/Body.ts
  client/app/lib/components/table/builder/ColumnTemplate.ts
Due: frontend

feat(rubric-playground): add evaluation for real answers
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/assessment/answer/rubric_playground_answer_adapter.rb
  app/models/course/rubric/rubric_adapter.rb
  app/views/course/rubrics/_mock_answer_evaluation.json.jbuilder
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/operations/questions.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): show popover with full answer / feedback text on click
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/CategoryGradeCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/PopoverContentCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/TotalGradeCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/UnevaluatedCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/utils.ts
Due: frontend

feat(rubric-playground): poll for export job, display toast message
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/lib/helpers/jobHelpers.ts
Due: frontend

fix(ssid): fetch submission pairs on-demand
  app/controllers/course/plagiarism/assessments_controller.rb
  app/services/course/assessment/submission/ssid_plagiarism_service.rb
  client/app/api/course/Plagiarism.ts
  client/app/bundles/course/assessment/operations/plagiarism.ts
  client/app/bundles/course/assessment/pages/AssessmentPlagiarism/AssessmentPlagiarismPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentPlagiarism/PlagiarismResultsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentPlagiarism/index.tsx
  client/app/bundles/course/assessment/reducers/plagiarism.ts
  client/app/lib/components/table/MuiTableAdapter/MuiTablePagination.tsx
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/adapters/Pagination.ts
  client/app/lib/components/table/builder/featureTemplates.ts
  client/app/types/course/plagiarism.ts
  spec/services/course/assessment/submission/ssid_plagiarism_service_spec.rb
  spec/support/stubs/ssid/api_stubs.rb
Due: frontend, backend

fix(UserStatistics): don't query statistics if component disabled
  app/views/course/users/_user_data.json.jbuilder
Due: backend

feat(scholaistic): add submissions count column
  app/controllers/course/scholaistic/scholaistic_assessments_controller.rb
  app/services/scholaistic_api_service.rb
  app/views/course/scholaistic/scholaistic_assessments/index.json.jbuilder
  client/app/bundles/course/scholaistic/pages/ScholaisticAssessmentsIndex/ActionButtons.tsx
  client/app/bundles/course/scholaistic/pages/ScholaisticAssessmentsIndex/index.tsx
  client/app/types/course/scholaistic.ts
Due: frontend, backend

feat(scholaistic): sync all submissions on assessments #index
  app/controllers/concerns/course/scholaistic/concern.rb
  app/controllers/course/scholaistic/scholaistic_assessments_controller.rb
  app/services/scholaistic_api_service.rb
  spec/controllers/concerns/course/scholaistic/concern_spec.rb
  spec/factories/course_scholaistic_assessments.rb
  spec/factories/course_scholaistic_submissions.rb
  spec/factories/courses.rb
Due: backend

fix(ssid): fix query behaviors
  app/controllers/concerns/course/statistics/counts_concern.rb
  app/controllers/course/plagiarism/assessments_controller.rb
  spec/services/course/ssid_folder_service_spec.rb
Due: backend

feat(ssid): recover if ssid folder already exists
  app/controllers/concerns/course/ssid_folder_concern.rb
  app/services/course/ssid_folder_service.rb
Due: backend
