Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

style(AddButton): switch add button to textless if screen width too small
  client/app/bundles/common/components/NewCourseButton.tsx
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/bundles/course/announcements/components/buttons/NewAnnouncementButton.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/index.tsx
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/forum/pages/ForumShow/index.tsx
  client/app/bundles/course/forum/pages/ForumsIndex/index.tsx
  client/app/bundles/course/group/pages/GroupNew/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/NewSurveyButton.jsx
  client/app/bundles/course/video/pages/VideosIndex/index.tsx
  client/app/bundles/system/admin/admin/pages/AnnouncementsIndex.tsx
  client/app/bundles/system/admin/admin/pages/InstancesIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceAnnouncementsIndex.tsx
Due: frontend

style(LeaderboardIndex): useMediaQuery -> useMedia
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
Due: frontend

style(LeaderboardTable): useMediaQuery -> useMedia
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
Due: frontend

feat(AchievementReordering): clarify reordering button label
  client/app/bundles/course/achievement/components/misc/AchievementReordering.tsx
Due: frontend

feat(theme): add `xs` breakpoint
  client/app/lib/components/wrappers/ThemeProvider.tsx
  client/tailwind.config.ts
Due: frontend

chore(deps-dev): remove @babel/plugin-transform-modules-commonjs@^7.22.11
  client/yarn.lock
Due: none

test(topic_management): do not target class names
  spec/features/course/forum/topic_management_spec.rb
Due: none

test(video_management): do not target class names
  spec/features/course/video/video_management_spec.rb
Due: none

test(forum_management): do not target class names
  spec/features/course/forum_management_spec.rb
Due: none

test(course_management): do not target class names
  spec/features/course_management_spec.rb
Due: none

feat(Grade): setGradeIsSaved is false only upon onChange
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

feat(Grade): autofill expanded for MCQ/MRQ and Programming if testcases exist
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
Due: frontend

fix(Grade): fix wrong criteria for autofill programming grade
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

feat(Grading): add tooltip beside Grade in each question if not saved yet
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

feat(Programming): autofill manual programming with max score if all is correct
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

feat(programming): `!correct` if evaluation tests fail for instructors
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
Due: backend

style(QuestionGrade): use "Grade" from translations
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
Due: frontend

refactor(SubmissionEditindex): revert changes
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

feat(QuestionGrade): warns dirty fields
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/grading.js
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

feat(QuestionGrade): pre-fills correct answers with maximum grade
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/reducers/grading.js
  client/app/bundles/course/assessment/submission/translations.ts
Due: frontend

style(Grade): put prefilled and unsaved indicator next to grade and maxGrade
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
Due: frontend

chore: add aws-sdk-s3 to production and ci env
  Gemfile
Due: none

feat(send_file): store download files in s3
  config/initializers/aws.rb
  lib/autoload/send_file.rb
Due: backend

feat(jobs): change redirect_to column type to text
  db/migrate/20230904095037_change_jobs_column_type.rb
  db/schema.rb
  lib/autoload/trackable_job.rb
Due: backend

feat(AddButton): renders a text button on wide screens
  client/app/lib/components/core/buttons/AddButton.tsx
Due: frontend

feat: use AddButton for all new item buttons
  client/app/bundles/common/components/NewCourseButton.tsx
  client/app/bundles/common/components/WidthAdjustedNewButton.tsx
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/bundles/course/announcements/components/buttons/NewAnnouncementButton.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/forum/pages/ForumShow/index.tsx
  client/app/bundles/course/forum/pages/ForumsIndex/index.tsx
  client/app/bundles/course/group/pages/GroupNew/index.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewEventButton.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewMilestoneButton.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/NewSurveyButton.jsx
  client/app/bundles/course/video/pages/VideosIndex/index.tsx
  client/app/bundles/system/admin/admin/pages/AnnouncementsIndex.tsx
  client/app/bundles/system/admin/admin/pages/InstancesIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceAnnouncementsIndex.tsx
Due: frontend

refactor(SurveyTest): remove check AddIcon as we don't necessarily have that on screen (can be text)
  client/app/bundles/course/survey/__test__/index.test.tsx
Due: frontend

fix(addButton): add id to both types of Add Button
  client/app/bundles/common/components/WidthAdjustedNewButton.tsx
Due: frontend

feat(Page): header now wraps when title and actions clash
  client/app/lib/components/core/layouts/Page.tsx
Due: frontend

refactor(AddButton): simplify codes using width adjusted new button
  client/app/bundles/common/components/NewCourseButton.tsx
  client/app/bundles/common/components/WidthAdjustedNewButton.tsx
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/bundles/course/announcements/components/buttons/NewAnnouncementButton.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/index.tsx
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/forum/pages/ForumShow/index.tsx
  client/app/bundles/course/forum/pages/ForumsIndex/index.tsx
  client/app/bundles/course/group/pages/GroupNew/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/NewSurveyButton.jsx
  client/app/bundles/course/video/pages/VideosIndex/index.tsx
  client/app/bundles/system/admin/admin/pages/AnnouncementsIndex.tsx
  client/app/bundles/system/admin/admin/pages/InstancesIndex.tsx
  client/app/bundles/system/admin/instance/instance/pages/InstanceAnnouncementsIndex.tsx
Due: frontend
