Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(admin): migrate store to redux toolkit
  client/app/bundles/course/admin/actions/index.js
  client/app/bundles/course/admin/actions/lesson-plan-items.js
  client/app/bundles/course/admin/actions/lessonPlan.ts
  client/app/bundles/course/admin/actions/notifications.js
  client/app/bundles/course/admin/actions/notifications.ts
  client/app/bundles/course/admin/constants.js
  client/app/bundles/course/admin/lesson-plan-settings.jsx
  client/app/bundles/course/admin/notification-settings.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/MilestoneGroupSettings.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/index.jsx
  client/app/bundles/course/admin/reducers/index.js
  client/app/bundles/course/admin/reducers/lessonPlanSettings.js
  client/app/bundles/course/admin/reducers/lessonPlanSettings.ts
  client/app/bundles/course/admin/reducers/notificationSettings.js
  client/app/bundles/course/admin/reducers/notificationSettings.ts
  client/app/bundles/course/admin/store.js
  client/app/bundles/course/admin/store.ts
Due: frontend

feat(admin): add react announcements settings
  client/app/api/course/Admin/Announcements.ts
  client/app/api/course/Admin/Base.js
  client/app/api/course/Admin/Base.ts
  client/app/bundles/course/admin/pages/AnnouncementsSettings/AnnouncementsSettingsForm.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/operations.ts
  client/app/bundles/course/admin/pages/AnnouncementsSettings/translations.ts
  client/app/bundles/course/admin/translations.ts
  client/app/types/course/admin/announcements.ts
Due: frontend

feat(hooks): add suspender for suspense
  client/app/lib/hooks/suspended.ts
Due: frontend

refactor(checkboxfield): abstract checkbox to lib/components
  client/app/lib/components/Checkbox.tsx
  client/app/lib/components/form/fields/CheckboxField.tsx
Due: frontend

feat(admin): add react materials settings
  client/app/api/course/Admin/Materials.ts
  client/app/bundles/course/admin/pages/MaterialsSettings/MaterialsSettingsForm.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/operations.ts
  client/app/bundles/course/admin/pages/MaterialsSettings/translations.ts
  client/app/types/course/admin/materials.ts
Due: frontend

feat(admin): add react forums settings
  client/app/api/course/Admin/Forums.ts
  client/app/bundles/course/admin/pages/ForumsSettings/ForumsSettingsForm.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/operations.ts
  client/app/bundles/course/admin/pages/ForumsSettings/translations.ts
  client/app/types/course/admin/forums.ts
Due: frontend

feat(admin): useeffect/isloading -> preload
  client/app/bundles/course/admin/components/SettingsNavigation.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/index.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
Due: frontend

feat(admin/comments): controller supports json requests
  app/controllers/course/admin/discussion/topic_settings_controller.rb
  app/views/course/admin/discussion/topic_settings/edit.json.jbuilder
Due: backend

fix(lesson plan and notification settings): add error message when failed to retrieve data and remove loading indicator upon fetching failure
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/operations.ts
  client/app/bundles/course/admin/pages/NotificationSettings/index.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/operations.ts
  client/app/lib/components/Preload.tsx
  client/app/lib/translations/messages.ts
Due: frontend

feat(course table): add deletecourseprompt to course table
  client/app/bundles/system/admin/admin/components/buttons/CoursesButtons.tsx
  client/app/types/system/courses.ts
  spec/features/course/admin/admin_spec.rb
  spec/features/system/admin/course_management_spec.rb
  spec/features/system/admin/instance/course_management_spec.rb
Due: frontend

test(assessment_condition): adapt to new ui
  spec/features/course/assessment_condition_management_spec.rb
Due: none

feat(ckeditor): support for placeholder
  client/app/lib/components/CKEditorRichText.tsx
  client/app/lib/components/form/fields/RichTextField.jsx
Due: frontend

feat(announcement_settings): controller supports json requests
  app/controllers/course/admin/announcement_settings_controller.rb
  app/views/course/admin/announcement_settings/edit.json.jbuilder
Due: backend

feat(admin): lesson plan settings fetches via json
  client/app/api/course/Admin/LessonPlan.js
  client/app/api/course/Admin/LessonPlan.ts
  client/app/bundles/course/admin/pages/LessonPlanSettings/MilestoneGroupSettings.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/operations.ts
  client/app/bundles/course/admin/reducers/lessonPlanSettings.ts
  client/app/types/course/admin/lessonPlan.ts
Due: frontend

test(forum_settings): adapt to new ui
  spec/features/course/admin/forum_settings_spec.rb
Due: none

feat(admin): remove all course settings slim htmls
  app/assets/stylesheets/course/admin/admin.scss
  app/assets/stylesheets/course/admin/sidebar_settings.scss
  app/views/course/admin/admin/index.html.slim
  app/views/course/admin/announcement_settings/edit.html.slim
  app/views/course/admin/assessment_settings/edit.html.slim
  app/views/course/admin/assessments/categories/new.html.slim
  app/views/course/admin/assessments/tabs/new.html.slim
  app/views/course/admin/component_settings/edit.html.slim
  app/views/course/admin/discussion/topic_settings/edit.html.slim
  app/views/course/admin/forum_settings/edit.html.slim
  app/views/course/admin/leaderboard_settings/edit.html.slim
  app/views/course/admin/lesson_plan_settings/edit.html.slim
  app/views/course/admin/material_settings/edit.html.slim
  app/views/course/admin/notification_settings/edit.html.slim
  app/views/course/admin/sidebar_settings/edit.html.slim
  app/views/course/admin/video_settings/edit.html.slim
  app/views/course/admin/videos/tabs/new.html.slim
  config/locales/en/course/admin/admin.yml
  config/locales/en/course/admin/announcement_settings.yml
  config/locales/en/course/admin/assessment_settings.yml
  config/locales/en/course/admin/assessment_tabs.yml
  config/locales/en/course/admin/categories.yml
  config/locales/en/course/admin/component_settings.yml
  config/locales/en/course/admin/discussion/topic_settings.yml
  config/locales/en/course/admin/forum_settings.yml
  config/locales/en/course/admin/leaderboard_settings.yml
  config/locales/en/course/admin/material_settings.yml
  config/locales/en/course/admin/sidebar_settings.yml
  config/locales/en/course/admin/video_settings.yml
  config/locales/en/course/admin/video_tabs.yml
  config/locales/en/course/courses.yml
  config/locales/en/course/users.yml
  config/routes.rb
Due: backend

feat(admin): add react comments settings
  client/app/api/course/Admin/Comments.ts
  client/app/bundles/course/admin/pages/CommentsSettings/CommentsSettingsForm.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/index.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/operations.ts
  client/app/bundles/course/admin/pages/CommentsSettings/translations.ts
  client/app/types/course/admin/comments.ts
Due: frontend

feat(condition): add condition apis
  client/app/api/course/Conditions.ts
  client/app/api/course/index.js
Due: frontend

feat(assessmentedit): fetch data via json
  app/views/course/assessment/assessments/edit.html.slim
  app/views/course/assessment/assessments/edit.json.jbuilder
  client/app/api/course/Assessment/Assessments.js
  client/app/bundles/course/assessment/actions.js
  client/app/bundles/course/assessment/assessments-edit.jsx
Due: frontend, backend

feat(components): add conditionsmanager
  client/app/lib/components/form/fields/ConditionsManager/conditions/AchievementCondition.tsx
  client/app/lib/components/form/fields/ConditionsManager/conditions/AnyCondition.ts
  client/app/lib/components/form/fields/ConditionsManager/conditions/AssessmentCondition.tsx
  client/app/lib/components/form/fields/ConditionsManager/conditions/ConditionDialog.tsx
  client/app/lib/components/form/fields/ConditionsManager/conditions/LevelCondition.tsx
  client/app/lib/components/form/fields/ConditionsManager/conditions/SurveyCondition.tsx
  client/app/lib/components/form/fields/ConditionsManager/conditions/index.tsx
  client/app/lib/components/form/fields/ConditionsManager/index.tsx
  client/app/lib/components/form/fields/ConditionsManager/operations.ts
  client/app/lib/components/form/fields/ConditionsManager/specifiers.ts
  client/app/lib/components/form/fields/ConditionsManager/translations.ts
  client/package.json
  client/tailwind.config.js
  client/yarn.lock
Due: frontend

feat(formtextfield): support for number types
  client/app/lib/components/form/fields/TextField.jsx
Due: frontend

fix(achievementcondition): mui renderoption missing built-in key
  client/app/lib/components/conditions/conditions/AchievementCondition.tsx
Due: frontend

feat(section): support for custom content classname
  client/app/lib/components/layouts/Section.tsx
Due: frontend

feat(components): add preload
  client/app/lib/components/Preload.tsx
  client/app/lib/translations/messages.ts
Due: frontend

feat(admin): freeze forms when submitting requests
  client/app/bundles/course/admin/pages/AnnouncementsSettings/AnnouncementsSettingsForm.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsContext.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/CommentsSettingsForm.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/index.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/ComponentSettingsForm.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/ForumsSettingsForm.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/LeaderboardSettingsForm.tsx
  client/app/bundles/course/admin/pages/LeaderboardSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/MaterialsSettingsForm.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/SidebarSettingsForm.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosSettingsForm.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/Tab.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
  client/app/lib/components/form/Form.tsx
Due: frontend

feat(components): add switchabletextfield
  client/app/lib/components/SwitchableTextField.tsx
Due: frontend

feat(admin): add react sidebar settings
  client/app/api/course/Admin/Sidebar.ts
  client/app/bundles/course/admin/pages/SidebarSettings/SidebarSettingsForm.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/operations.ts
  client/app/bundles/course/admin/pages/SidebarSettings/translations.ts
  client/app/types/course/admin/sidebar.ts
  client/package.json
  client/yarn.lock
Due: frontend

style(admin): operations properly throw unwrapped errors
  client/app/bundles/course/admin/pages/AnnouncementsSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/ComponentSettings/operations.ts
  client/app/bundles/course/admin/pages/ForumsSettings/operations.ts
  client/app/bundles/course/admin/pages/LeaderboardSettings/operations.ts
  client/app/bundles/course/admin/pages/MaterialsSettings/operations.ts
  client/app/bundles/course/admin/pages/VideosSettings/operations.ts
Due: frontend

refactor(assessmentsettings): move assessments, permissions
  app/controllers/course/admin/assessment_settings_controller.rb
  app/models/course/assessment/tab.rb
  app/views/course/admin/assessment_settings/edit.json.jbuilder
  client/app/api/course/Admin/Assessments.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/MoveTabsMenu.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsContext.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/types/course/admin/assessments.ts
  config/routes.rb
Due: frontend, backend

feat(material_settings): controller supports json requests
  app/controllers/course/admin/material_settings_controller.rb
  app/views/course/admin/material_settings/edit.json.jbuilder
Due: backend

feat(condition): add condition types, refactor achievement conditions
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/bundles/course/assessment/assessments-edit.jsx
  client/app/bundles/course/assessment/components/AssessmentForm/__test__/index.test.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/types.ts
  client/app/types/course/achievements.ts
  client/app/types/course/conditions.ts
  config/locales/en/activerecord/course/condition/achievement.yml
  config/locales/en/activerecord/course/condition/assessment.yml
  config/locales/en/activerecord/course/condition/level.yml
  config/locales/en/activerecord/course/condition/survey.yml
  config/locales/en/activerecord/course/condition/video.yml
Due: frontend

feat(achievementform): conditionlist -> conditionsmanager
  client/app/bundles/course/achievement/components/forms/AchievementForm.tsx
Due: frontend

test(sidebar_settings): adapt to new ui
  spec/features/course/admin/sidebar_settings_spec.rb
Due: none

fix(filemanager): header checkbox displays above dialog dim
  client/app/bundles/course/assessment/components/FileManager/index.tsx
Due: frontend

fix(formtextfield): state is inconsistent when used with react-hook-form
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.tsx
  client/app/bundles/course/experience-points/disbursement/components/fields/PointTextField.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/DisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/FilterForm.tsx
  client/app/lib/components/form/fields/DebouncedTextField.jsx
  client/app/lib/components/form/fields/TextField.tsx
Due: frontend

feat(coursesettings): add timeline algorithm descriptions
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/translations.ts
  client/app/lib/components/RadioButton.tsx
  client/app/lib/components/form/fields/CheckboxField.tsx
Due: frontend

feat(admin): provide active sidebar options
  app/views/course/admin/sidebar_settings/show.json.jbuilder
  config/routes.rb
Due: backend

feat(hooks): add useTranslation
  client/app/lib/hooks/useTranslation.ts
Due: frontend

feat(admin): add react assessments settings
  client/app/api/course/Admin/Assessments.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/types/course/admin/assessments.ts
  client/tailwind.config.js
Due: frontend

fix(formtextfield): support for null values
  client/app/lib/components/form/fields/TextField.tsx
Due: frontend
