Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor(Course Users): Add clarity to confirmation dialog text when deleting course users and invitations
  app/views/course/user_invitations/_course_user_invitation.html.slim
  app/views/course/users/staff.html.slim
  app/views/course/users/students.html.slim
  config/locales/en/course/user_invitations.yml
  config/locales/en/course/users.yml
  yarn.lock
Due: backend

fix: remove yarn.lock in root dir
  yarn.lock
Due: none

fix(achievement and level notifier): Disable achievement and level notifiers for ungamified courses
  app/models/course/experience_points_record.rb
  app/models/course/user_achievement.rb
Due: backend

Remove unrelated Gemfile.lock changes
  Gemfile.lock
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Remove redundant belongs_to after gem upgrade
  app/models/course.rb
  app/models/instance/user_invitation.rb
Due: backend

fix(CourseUser): fix roles to appear as lower case
  app/views/course/user_invitations/_course_user_invitation.html.slim
  app/views/course/users/staff.html.slim
  app/views/course/users/students.html.slim
  db/schema.rb
  yarn.lock
Due: backend

fix: remove yarn.lock in root
  yarn.lock
Due: none

Update schema.rb integer id to serial for course_assessment_answer_programming_test_results
  db/schema.rb
Due: none

Fix incorrect axios get request arguments
  client/app/api/course/VirtualClassrooms.js
Due: frontend

Change passing test from pending to context
  spec/features/course/assessment/submission/manually_graded_spec.rb
Due: none

Add Capybara method for Axios calls
  client/app/api/Base.js
  spec/support/capybara.rb
Due: frontend

Update tests to use wait_for_axios
  spec/features/course/virtual_classroom/virtual_classroom_access_link_spec.rb
Due: none

Revert wait_for_axios change
  client/app/api/Base.js
  spec/features/course/virtual_classroom/virtual_classroom_access_link_spec.rb
  spec/support/capybara.rb
Due: frontend

fix(Devise): Style pages for 'Forgot Password' and 'Resend Confirmation Instructions'
  app/views/devise/confirmations/new.html.slim
  app/views/devise/passwords/new.html.slim
  config/locales/en/devise.yml
Due: backend

fix(Assessment Files): Disable any action (upload, delete and download) for assessment files when Materials Component is disabled in the course settings.
  app/models/course.rb
  app/views/course/assessment/assessments/_edit.json.jbuilder
  app/views/course/assessment/assessments/show.html.slim
  app/views/layouts/_materials.html.slim
  client/app/bundles/course/assessment/assessments-show.js
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/Material.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/MaterialList.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/index.jsx
  client/app/lib/components/NotificationBar.jsx
  config/locales/en/course/assessment/assessments.yml
  spec/features/course/assessment_condition_management_spec.rb
Due: frontend, backend

Fix material uploader snapshot.
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
Due: frontend

Add jstest and fix styles.
  app/models/course.rb
  app/views/course/assessment/assessments/_edit.json.jbuilder
  app/views/course/assessment/assessments/show.html.slim
  client/app/bundles/course/assessment/containers/MaterialUploader/Material.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/MaterialList.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
Due: frontend, backend

Fix material component enabled check
  app/views/course/assessment/assessments/_edit.json.jbuilder
  app/views/course/assessment/assessments/show.html.slim
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/Material.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/MaterialList.jsx
Due: frontend, backend

Increase timeout for post-ajax expectations
  spec/features/course/virtual_classroom/virtual_classroom_access_link_spec.rb
Due: none

Update test dependencies
  Gemfile.lock
Due: none

Change render file: to just render
  app/controllers/application_controller.rb
  app/controllers/concerns/application_components_concern.rb
  app/controllers/users_controller.rb
Due: backend

Fix tests that check for have_text(nil)
  spec/features/course/admin/admin_spec.rb
  spec/features/course/assessment/submission/submissions_spec.rb
Due: none

Generalise error check in case of false positives
  spec/controllers/application_controller_spec.rb
Due: none

Revert "Change render file: to just render"
  app/controllers/application_controller.rb
  app/controllers/concerns/application_components_concern.rb
  app/controllers/users_controller.rb
Due: backend

Fix and lint now broken tests
  spec/features/course/admin/admin_spec.rb
  spec/features/course/assessment/submission/submissions_spec.rb
Due: none

Deactivate virtual classroom tests
  spec/features/course/virtual_classroom/virtual_classroom_access_link_spec.rb
Due: none

Try node upgrade instead of deactivating tests
  .circleci/config.yml
  spec/features/course/virtual_classroom/virtual_classroom_access_link_spec.rb
Due: none

Remove unnecessary wait params
  spec/features/course/virtual_classroom/virtual_classroom_access_link_spec.rb
Due: none

Add yarn log files to gitignore
  .gitignore
  client/yarn.lock
Due: none

Add yarn log files to gitignore
  .gitignore
Due: none

feat(ForumResponse): enable creation of forum response question type
  app/controllers/course/assessment/question/forum_responses_controller.rb
  app/models/course/assessment.rb
  app/models/course/assessment/question/forum_response.rb
  app/views/course/assessment/assessments/show.html.slim
  app/views/course/assessment/question/forum_responses/_form.html.slim
  app/views/course/assessment/question/forum_responses/edit.html.slim
  app/views/course/assessment/question/forum_responses/new.html.slim
  config/locales/en/breadcrumbs.yml
  config/locales/en/course/assessment/assessments.yml
  config/locales/en/course/assessment/question/forum_response.yml
  config/routes.rb
  db/migrate/20211003230453_create_course_assessment_question_forum_responses.rb
  db/schema.rb
  spec/factories/course/assessment/question/forum_responses.rb
  spec/models/course/assessment/question/forum_response_spec.rb
Due: backend

fix(ForumResponse): Set max no of posts that could be selected
  app/models/course/assessment/question/forum_response.rb
Due: backend

fix(ForumResponse): Remove unused references in controller
  app/controllers/course/assessment/question/forum_responses_controller.rb
Due: backend

fix(ForumResponse): Remove unused methods in controller
  app/controllers/course/assessment/question/forum_responses_controller.rb
Due: backend

fix(ForumResponse): fix hound warnings
  app/controllers/course/assessment/question/forum_responses_controller.rb
  app/models/course/assessment/question/forum_response.rb
  spec/factories/course/assessment/question/forum_responses.rb
  spec/models/course/assessment/question/forum_response_spec.rb
Due: backend

fix(ForumResponse): fix hound warnings
  app/controllers/course/assessment/question/forum_responses_controller.rb
  app/models/course/assessment/question/forum_response.rb
Due: backend

fix(ForumResponse): fix hound warnings
  app/controllers/course/assessment/question/forum_responses_controller.rb
Due: backend

refactor(ForumPostResponse): Rename to Forum Post Response
  app/controllers/course/assessment/question/forum_post_responses_controller.rb
  app/controllers/course/assessment/question/forum_responses_controller.rb
  app/models/course/assessment.rb
  app/models/course/assessment/question/forum_post_response.rb
  app/views/course/assessment/assessments/show.html.slim
  app/views/course/assessment/question/forum_post_responses/_form.html.slim
  app/views/course/assessment/question/forum_post_responses/edit.html.slim
  app/views/course/assessment/question/forum_post_responses/new.html.slim
  config/locales/en/breadcrumbs.yml
  config/locales/en/course/assessment/assessments.yml
  config/locales/en/course/assessment/question/forum_post_response.yml
  config/locales/en/course/assessment/question/forum_response.yml
  config/routes.rb
  db/migrate/20211003230453_create_course_assessment_question_forum_post_responses.rb
  db/schema.rb
Due: backend

Temp Commit
  app/models/course/assessment/answer/forum_post_response.rb
  app/models/course/assessment/question/forum_post_response.rb
  app/views/course/assessment/answer/forum_post_responses/_forum_post_response.json.jbuilder
  app/views/course/assessment/question/forum_post_responses/_forum_post_response.json.jbuilder
  app/views/course/assessment/submission/submissions/_question.json.jbuilder
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse.jsx
  client/app/bundles/course/assessment/submission/constants.js
Due: frontend, backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
