Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

test(components): fix tests
  client/app/lib/components/buttons/__test__/DeleteButton.test.tsx
  client/app/lib/components/buttons/__test__/__snapshots__/DeleteButton.test.tsx.snap
  client/app/lib/components/buttons/__test__/__snapshots__/EditButton.test.tsx.snap
  client/app/lib/components/pages/__test__/__snapshots__/PageHeader.test.tsx.snap
Due: frontend

chore(package): run yarn dedup
  client/yarn.lock
Due: none

fix(upload material): fix material upload endpoint regression
  app/controllers/course/material/folders_controller.rb
  client/app/bundles/course/assessment/containers/MaterialUploader/index.jsx
  client/app/bundles/course/material/folders/operations.ts
  client/app/bundles/course/material/folders/pages/FolderShow/index.tsx
Due: frontend, backend

fix lint
  client/app/bundles/course/assessment/containers/MaterialUploader/index.jsx
Due: frontend

fix(closing reminder): dont send closing reminder when there is no recipient
  app/services/course/assessment/reminder_service.rb
  app/services/course/survey/reminder_service.rb
Due: backend

fix(comments): fix default tab of group manager to students pending
  client/app/bundles/course/discussion/topics/reducers.ts
Due: frontend

fix(video controller): fix redirection after video deletion
  app/controllers/course/video/videos_controller.rb
Due: backend

feat(submissions filter): add clear filter to submissions page
  client/app/bundles/course/announcements/components/misc/AnnouncementCard.tsx
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionFilter.tsx
  client/app/bundles/course/assessment/submissions/pages/SubmissionsIndex/index.tsx
Due: frontend

feat(system user): port page to react
  app/controllers/users_controller.rb
  app/views/users/_course_list_data.json.jbuilder
  app/views/users/_courses.html.slim
  app/views/users/_instance_list_data.json.jbuilder
  app/views/users/_instances.html.slim
  app/views/users/show.html.slim
  app/views/users/show.json.jbuilder
  client/app/api/Users.ts
  client/app/bundles/users.ts
  client/app/bundles/users/actions.ts
  client/app/bundles/users/components/tables/CoursesTable.tsx
  client/app/bundles/users/components/tables/InstancesTable.tsx
  client/app/bundles/users/index.tsx
  client/app/bundles/users/operations.ts
  client/app/bundles/users/pages/UserShow/index.tsx
  client/app/bundles/users/reducer.ts
  client/app/bundles/users/selectors.ts
  client/app/bundles/users/store.ts
  client/app/bundles/users/types.ts
  client/app/lib/translations/table.ts
  client/app/types/store.ts
  client/app/types/system/instances.ts
  client/app/types/users.ts
  config/locales/en/users.yml
  public/404.json
  spec/features/course/user_profile_spec.rb
  spec/features/user/profile_spec.rb
Due: frontend, backend

test(datepicker): fix mui datepicker rspec
  spec/features/course/experience_points/forum_disbursement_spec.rb
Due: none

test(datepicker): fix mui datepicker rspec
  spec/features/course/experience_points/forum_disbursement_spec.rb
  spec/support/capybara.rb
Due: none

feat(programming answer): add re-evaluate answer button for programming question on submitted submission
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course/assessment/assessment_ability.rb
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/attachments.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/grading.js
  client/app/bundles/course/assessment/submission/reducers/history/testCases.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/questionsFlags.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/reducers/testCases.js
  client/app/bundles/course/assessment/submission/translations.js
  config/routes.rb
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
Due: frontend, backend

chore(eslint plugin): remove deprecated rule
  client/.eslintrc.js
Due: none

chore(yarn deduplicate): dedup package
  client/yarn.lock
Due: none

test: fix flaky tests
  spec/features/course/assessment/skill_branch_management_spec.rb
  spec/features/course/assessment/submission/password_protected_and_delayed_publishing_spec.rb
  spec/features/course/material/files_management_spec.rb
  spec/features/course/material/folder_management_spec.rb
  spec/features/system/admin/announcement_management_spec.rb
  spec/features/system/admin/course_management_spec.rb
  spec/features/system/admin/user_management_spec.rb
  spec/models/course/assessment/answer/forum_post_response_spec.rb
  spec/support/stubs/course/assessment/stubbed_programming_evaluation_service.rb
Due: none

feat(commentcard): add link to user profile on avatar
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
Due: frontend

feat(topics): json now returns course user profile URL
  app/controllers/course/discussion/topics_controller.rb
  app/helpers/course/controller_helper.rb
  app/helpers/course/users_helper.rb
  app/views/course/discussion/posts/_post.json.jbuilder
  app/views/course/discussion/topics/_discussion_topic_programming_file_annotation.jbuilder
  app/views/course/discussion/topics/_discussion_topic_submission_question.json.jbuilder
  app/views/course/discussion/topics/_discussion_topic_video.json.jbuilder
Due: backend

feat(commentcard): render course user URL if available
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
  client/app/types/course/courseUsers.ts
Due: frontend

perf(topics controller): fix perf n+1 issue
  app/controllers/course/discussion/topics_controller.rb
Due: backend

fix(posts): refactor course user or user link render
  app/helpers/course/controller_helper.rb
  app/views/course/discussion/posts/_post.json.jbuilder
  app/views/course/discussion/topics/_discussion_topic_programming_file_annotation.jbuilder
  app/views/course/discussion/topics/_discussion_topic_submission_question.json.jbuilder
  app/views/course/discussion/topics/_discussion_topic_video.json.jbuilder
Due: backend

fix(subscribe button): fix disabled subscribe button being clickable
  app/views/course/forum/forums/_subscribe_button.html.slim
  app/views/course/forum/topics/_subscribe_button.html.slim
Due: backend
