Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Use updateOrAppend helper in lessonPlan reducer
  client/app/bundles/course/lesson-plan/actions.jsx
  client/app/bundles/course/lesson-plan/reducers/item.js
  client/app/bundles/course/lesson-plan/reducers/lessonPlan.js
  client/app/bundles/course/lesson-plan/reducers/milestone.js
Due: frontend

Port lesson plan event UI to React
  client/app/bundles/course/lesson-plan/actions.jsx
  client/app/bundles/course/lesson-plan/constants.jsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/EventForm.jsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/index.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewEventButton.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewEventButton.test.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewEventButton.test.jsx.snap
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/index.test.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/AdminMenu.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminMenu.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/index.jsx
  client/app/bundles/course/lesson-plan/reducers/eventForm.js
  client/app/bundles/course/lesson-plan/reducers/index.js
  client/app/bundles/course/lesson-plan/reducers/lessonPlan.js
  client/app/bundles/course/lesson-plan/translations.js
Due: frontend

Blank out fields each time new milestone form is opened
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/NewMilestoneButton.jsx
Due: frontend

Use rich text editor for lesson plan milestones and events
  client/app/__test__/setup.js
  client/app/bundles/course/achievement/pages/AchievementEdit/__test__/index.test.js
  client/app/bundles/course/achievement/pages/AchievementIndex/__test__/index.test.js
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.js
  client/app/bundles/course/assessment/pages/AssessmentIndex/__test__/index.test.js
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/EventForm.jsx
  client/app/bundles/course/lesson-plan/containers/MilestoneFormDialog/MilestoneForm.jsx
Due: frontend

Add redux-form adapter for AutoComplete
  client/app/lib/components/redux-form/AutoComplete.js
Due: frontend

Allow auto-completion of location and event type in lesson plan event form
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/EventForm.jsx
  client/app/bundles/course/lesson-plan/containers/EventFormDialog/index.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewEventButton.test.jsx
Due: frontend

Add API to fetch assessment skills
  app/controllers/course/assessment/skills_controller.rb
  app/views/course/assessment/skills/_index.json.jbuilder
Due: backend

Bundle Update on 2017-07-31
  Gemfile.lock
Due: none

Redirect to assessment show page when attempting with no questions.
  app/controllers/course/assessment/submission/submissions_controller.rb
  config/locales/en/course/assessment/submission/submissions.yml
  spec/features/course/assessment/assessment_attempt_spec.rb
Due: backend

Change existing usage of Duplicator time_shift to the function.
  app/models/course.rb
  app/models/course/assessment.rb
  app/models/course/lesson_plan/event.rb
  app/models/course/lesson_plan/item.rb
  app/models/course/lesson_plan/milestone.rb
  app/models/course/material/folder.rb
  app/models/course/survey.rb
  app/models/course/video.rb
Due: backend

Add time_shift function to Duplicator.
  lib/autoload/duplicator.rb
  spec/libraries/duplicator_spec.rb
Due: backend

Add scribing question react client
  app/controllers/course/assessment/question/scribing_controller.rb
  app/views/course/assessment/question/scribing/new.html.slim
  client/SassStub.js
  client/app/__test__/setup.js
  client/app/api/course/Assessments.js
  client/app/api/course/assessment/question/scribing/Scribing.js
  client/app/api/course/assessment/question/scribing/index.js
  client/app/api/course/index.js
  client/app/bundles/course/assessment/question/scribing.jsx
  client/app/bundles/course/assessment/question/scribing/ScribingQuestion.jsx
  client/app/bundles/course/assessment/question/scribing/__test__/index.test.js
  client/app/bundles/course/assessment/question/scribing/actions/__test__/responses.test.js
  client/app/bundles/course/assessment/question/scribing/actions/scribingQuestionActionCreators.jsx
  client/app/bundles/course/assessment/question/scribing/components/FileUploadComponent.jsx
  client/app/bundles/course/assessment/question/scribing/components/FileUploadField.jsx
  client/app/bundles/course/assessment/question/scribing/components/InputField.jsx
  client/app/bundles/course/assessment/question/scribing/components/MultiSelectSkillsField.jsx
  client/app/bundles/course/assessment/question/scribing/components/SummernoteField.jsx
  client/app/bundles/course/assessment/question/scribing/components/__test__/FileUploadComponent.test.js
  client/app/bundles/course/assessment/question/scribing/constants.js
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/ScribingQuestionForm.intl.js
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/ScribingQuestionForm.scss
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/index.jsx
  client/app/bundles/course/assessment/question/scribing/propTypes.js
  client/app/bundles/course/assessment/question/scribing/reducers/index.jsx
  client/app/bundles/course/assessment/question/scribing/reducers/scribingQuestionReducer.jsx
  client/app/bundles/course/assessment/question/scribing/store.jsx
  client/app/lib/helpers/url-helpers.js
  client/package.json
  config/locales/en/breadcrumbs.yml
  config/locales/en/course/assessment/question/scribing.yml
Due: frontend, backend

Add comments to submission fetch API json
  app/views/course/assessment/submission/submissions/_autograded.html.slim
  app/views/course/assessment/submission/submissions/_buttons.html.slim
  app/views/course/assessment/submission/submissions/_manually_graded.html.slim
  app/views/course/assessment/submission/submissions/_manually_graded_answers.html.slim
  app/views/course/assessment/submission/submissions/_manually_graded_answers_tabbed.html.slim
  app/views/course/assessment/submission/submissions/_progress.html.slim
  app/views/course/assessment/submission/submissions/_statistics.html.slim
  app/views/course/assessment/submission/submissions/_submission_question.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  app/views/course/assessment/submission/submissions/reload_answer.js.erb
Due: backend

Implement tab view (#25)
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

Implement step view and restructure files to support different view types
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

Style submission edit forms and fix compatability with react-router v4
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/routes.jsx
  client/app/bundles/course/assessment/submission/store.js
  client/app/bundles/course/assessment/submission/submission.jsx
Due: frontend

Comments for submission edit page (#31)
  client/app/bundles/course/assessment/submission/components/CommentField.jsx
  client/app/bundles/course/assessment/submission/components/Comments/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/Comments/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/submissionEditReducer.js
Due: frontend

Implement update of workflow submission state
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/submission/submissions/_progress.json.jbuilder
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/actions.js
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/CheckboxFormGroup.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/submissionEditReducer.js
Due: frontend, backend

Comment fields (#29)
  client/app/bundles/course/assessment/submission/components/Comments.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
Due: frontend

Read only wide editor (#53)
  client/app/bundles/course/assessment/submission/components/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/OverlayTooltip.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideComments.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideEditor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/index.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/containers/PostPreview.jsx
Due: frontend

Submission form buttons (#38)
  client/app/bundles/course/assessment/submission/actions.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/submissionEditReducer.js
Due: frontend

Try and remove normalizr
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/question/text_responses/_text_response.json.jbuilder
  app/views/course/assessment/submission/submissions/_answers.json.jbuilder
  app/views/course/assessment/submission/submissions/_progress.json.jbuilder
  app/views/course/assessment/submission/submissions/_question.json.jbuilder
  app/views/course/assessment/submission/submissions/_questions.json.jbuilder
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  app/views/course/assessment/submission/submissions/_topics.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  app/views/course/discussion/posts/_post.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/ProgressPanel.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/posts.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/submissionEditReducer.js
  client/app/bundles/course/assessment/submission/reducers/topics.js
Due: frontend, backend

Add temporary fix for text response file upload
  app/models/course/assessment/answer/text_response.rb
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
Due: backend

Read only questions (#44)
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/CheckboxFormGroup.jsx
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
Due: frontend

Fix add annotations for wide editor (#54)
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideComments.jsx
Due: frontend

Implement edit and delete comments frontend (#34)
  client/app/bundles/course/assessment/submission/components/Comments/CommentCard.jsx
Due: frontend

Fix react proptypes
  client/app/bundles/course/assessment/submission/components/CheckboxFormGroup.jsx
  client/app/bundles/course/assessment/submission/components/Comments/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/Comments/CommentField.jsx
  client/app/bundles/course/assessment/submission/components/Comments/index.jsx
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/bundles/course/assessment/submission/components/FileInput.jsx
  client/app/bundles/course/assessment/submission/containers/SubmissionEditLayout.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

Implement explanation panel for autograded individual submission (#36)
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
Due: frontend

Extract comment card and field components out to be reused by annotations (#50)
  client/app/bundles/course/assessment/submission/components/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/CommentField.jsx
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
Due: frontend

Add comment actions
  app/controllers/course/assessment/submission_question/comments_controller.rb
  app/views/course/assessment/submission/submissions/_comments.json.jbuilder
  app/views/course/assessment/submission/submissions/_topics.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  app/views/course/discussion/posts/_post.json.jbuilder
  client/app/api/course/Assessment/SubmissionQuestions.js
  client/app/api/course/Assessment/Submissions.js
  client/app/api/course/Assessment/index.js
  client/app/api/course/Comments.js
  client/app/api/course/index.js
  client/app/bundles/course/assessment/submission/actions/comments.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Comments/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/Comments/index.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/index.js
  client/app/bundles/course/assessment/submission/reducers/posts.js
  client/app/bundles/course/assessment/submission/reducers/topics.js
Due: frontend, backend

Add programming file annotations to submission json
  app/controllers/course/assessment/submission/answer/programming/annotations_controller.rb
  app/views/course/assessment/submission/submissions/_topics.json.jbuilder
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/annotations.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/reducers/annotations.js
  client/app/bundles/course/assessment/submission/reducers/commentForms.js
  client/app/bundles/course/assessment/submission/reducers/index.js
Due: frontend, backend

Fix autograded assessments explanations
  app/services/course/assessment/submission/update_service.rb
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
Due: frontend, backend

Add endpoint for retrieving a single answer for auto-grading jobs
  app/controllers/course/assessment/submission/answer/answers_controller.rb
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/answers/_answer.json.jbuilder
  app/views/course/assessment/submission/submissions/_answers.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/comments.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/calculate-grade-exp.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/submissions.js
  config/routes.rb
Due: frontend, backend

Implement create, edit and delete actions for comments
  app/controllers/concerns/course/discussion/posts_concern.rb
  app/controllers/course/assessment/submission_question/comments_controller.rb
  client/app/api/course/Comments.js
  client/app/bundles/course/assessment/submission/actions/comments.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Comments/CommentCard.jsx
  client/app/bundles/course/assessment/submission/components/Comments/CommentField.jsx
  client/app/bundles/course/assessment/submission/components/Comments/index.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/reducers/commentForms.js
  client/app/bundles/course/assessment/submission/reducers/index.js
  client/app/bundles/course/assessment/submission/reducers/posts.js
  client/app/bundles/course/assessment/submission/reducers/topics.js
Due: frontend, backend

Implement answer autograding
  app/controllers/concerns/course/assessment/submission/submissions_controller_service_concern.rb
  app/services/course/assessment/submission/autograded_assessment_update_service.rb
  app/services/course/assessment/submission/manually_graded_assessment_update_service.rb
  app/services/course/assessment/submission/update_service.rb
  app/views/course/assessment/answer/_answer.html.slim
  app/views/course/assessment/answer/_autograded.html.slim
  app/views/course/assessment/answer/_explanation.html.slim
  app/views/course/assessment/answer/_grading.slim
  app/views/course/assessment/answer/_manually_graded.html.slim
  app/views/course/assessment/answer/multiple_responses/_multiple_response.html.slim
  app/views/course/assessment/answer/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/answer/programming/_annotation_footer.html.slim
  app/views/course/assessment/answer/programming/_annotation_row.html.slim
  app/views/course/assessment/answer/programming/_annotation_row_trigger.html.slim
  app/views/course/assessment/answer/programming/_annotation_topic.html.slim
  app/views/course/assessment/answer/programming/_file_fields.html.slim
  app/views/course/assessment/answer/programming/_output_streams.html.slim
  app/views/course/assessment/answer/programming/_programming.html.slim
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  app/views/course/assessment/answer/programming/_test_cases.html.slim
  app/views/course/assessment/answer/programming/_test_cases_of_type.html.slim
  app/views/course/assessment/answer/programming/_test_cases_warning_panels.html.slim
  app/views/course/assessment/answer/programming_file_annotations/_discussion_topic_programming_file_annotation.html.slim
  app/views/course/assessment/answer/text_responses/_solution.html.slim
  app/views/course/assessment/answer/text_responses/_text_response.html.slim
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  app/views/course/assessment/answers/_answer.json.jbuilder
  app/views/course/assessment/submission/submissions/_progress.json.jbuilder
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  app/views/course/assessment/submission/submissions/_submission_question.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/actions.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/submissionEditReducer.js
  client/app/lib/helpers/url-helpers.js
Due: frontend, backend

Fix grading of unsubmitted submissions
  app/models/course/assessment/answer.rb
  app/models/course/assessment/answer/programming.rb
  app/services/course/assessment/submission/update_service.rb
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
Due: frontend, backend

Implement showing private and evaluation tests and fix grading
  app/helpers/course/assessment/answer/programming_test_case_helper.rb
  app/views/course/assessment/answer/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  app/views/course/assessment/answers/_answer.json.jbuilder
  app/views/course/assessment/question/programming/_programming.json.jbuilder
  app/views/course/assessment/submission/submissions/_answers.json.jbuilder
  app/views/course/assessment/submission/submissions/_questions.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/containers/Comments/CommentCard.jsx
  client/app/bundles/course/assessment/submission/containers/Comments/CommentField.jsx
  client/app/bundles/course/assessment/submission/containers/Comments/index.jsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditTabForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/index.js
  client/app/bundles/course/assessment/submission/reducers/questions.js
  client/app/bundles/course/assessment/submission/reducers/submissionEdit.js
  client/app/bundles/course/assessment/submission/reducers/testCases.js
Due: frontend, backend

Implement narrow editor with annotations (#51)
  client/.eslintrc
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/AddCommentIcon.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/Checkbox.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/OverlayTooltip.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideComments.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/index.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/containers/ReadOnlyEditor.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/propTypes.js
  client/package.json
  client/yarn.lock
Due: frontend

Implement add annotation for narrow editor (#52)
  client/app/bundles/course/assessment/submission/components/CommentField.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/AddCommentIcon.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/index.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
