Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(spec): stop the marketplace specs polluting the shared test DB
  spec/models/course/assessment/marketplace/allowlist_rule_spec.rb
  spec/models/course/assessment_marketplace_ability_spec.rb
Due: none

feat(marketplace): browse, preview and duplicate the served snapshot
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/controllers/course/assessment/marketplace/questions_controller.rb
  app/controllers/course/assessment/marketplace_listings_controller.rb
  app/jobs/course/assessment/marketplace/duplication_job.rb
  app/views/course/assessment/marketplace/listings/index.json.jbuilder
  app/views/course/assessment/marketplace/listings/show.json.jbuilder
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowHeader.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/__test__/AssessmentShowHeader.test.tsx
  client/app/bundles/course/marketplace/components/DuplicateConfirmation.tsx
  client/app/bundles/course/marketplace/components/PublishToMarketplaceButton.tsx
  client/app/bundles/course/marketplace/components/__test__/DuplicationConfirmation.test.tsx
  client/app/bundles/course/marketplace/components/__test__/PublishToMarketplaceButton.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/controllers/course/assessment/marketplace/questions_controller_spec.rb
  spec/controllers/course/assessment/marketplace_listings_controller_spec.rb
  spec/jobs/course/assessment/marketplace/duplication_job_spec.rb
Due: frontend, backend

feat(marketplace): tell an adopter their copy is behind, and update it
  app/controllers/course/assessment/assessments_controller.rb
  app/controllers/course/assessment/marketplace_adoptions_controller.rb
  app/jobs/course/assessment/marketplace/apply_version_job.rb
  app/models/course/assessment/marketplace/adoption.rb
  app/services/course/assessment/marketplace/apply_version_service.rb
  app/views/course/assessment/assessments/show.json.jbuilder
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/MarketplaceUpdateBanner.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/__test__/AssessmentShowPage.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/__test__/MarketplaceUpdateBanner.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/__test__/versionVintage.test.ts
  client/app/bundles/course/assessment/pages/AssessmentShow/versionVintage.ts
  client/app/bundles/course/assessment/pages/AssessmentsIndex/MarketplaceVersionChip.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/__test__/MarketplaceVersionChip.test.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/assessments.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/locales/en/course/assessment/assessments.yml
  config/locales/ko/course/assessment/assessments.yml
  config/locales/zh/course/assessment/assessments.yml
  config/routes.rb
  spec/controllers/course/assessment/assessments_marketplace_spec.rb
  spec/controllers/course/assessment/marketplace_adoptions_controller_spec.rb
  spec/jobs/course/assessment/marketplace/apply_version_job_spec.rb
  spec/models/course/assessment/marketplace/adoption_spec.rb
  spec/services/course/assessment/marketplace/apply_version_service_spec.rb
Due: frontend, backend

feat(marketplace): badge container snapshots in the assessment index
  app/views/course/assessment/assessments/index.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentsIndex/AssessmentsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/__test__/AssessmentsTable.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/__test__/StatusBadges.test.tsx
  client/app/bundles/course/assessment/translations.ts
  spec/controllers/course/assessment/assessments_marketplace_spec.rb
Due: frontend, backend

feat(marketplace): warn against editing a published snapshot
  app/controllers/course/assessment/assessments_controller.rb
  app/views/course/assessment/assessments/show.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/MarketplaceSnapshotBanner.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/__test__/AssessmentShowPage.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentShow/__test__/MarketplaceSnapshotBanner.test.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/assessments.ts
  spec/controllers/course/assessment/assessments_marketplace_spec.rb
Due: frontend, backend

feat(marketplace): admin API for listing and version management
  app/controllers/system/admin/marketplace_listings_controller.rb
  app/views/system/admin/courses/_course_list_data.json.jbuilder
  app/views/system/admin/marketplace_listings/index.json.jbuilder
  app/views/system/admin/marketplace_listings/show.json.jbuilder
  config/routes.rb
  spec/controllers/system/admin/courses_controller_spec.rb
  spec/controllers/system/admin/marketplace_listings_controller_spec.rb
Due: backend

feat(marketplace): admin UI for listing and version management
  client/app/api/system/Admin.ts
  client/app/bundles/system/admin/admin/AdminNavigator.tsx
  client/app/bundles/system/admin/admin/components/buttons/MarketplaceListingVisibilityButton.tsx
  client/app/bundles/system/admin/admin/components/buttons/MarketplaceRestoreAuthoringButton.tsx
  client/app/bundles/system/admin/admin/components/tables/MarketplaceListingsTable.tsx
  client/app/bundles/system/admin/admin/pages/MarketplaceListingShow.tsx
  client/app/bundles/system/admin/admin/pages/MarketplaceListingsIndex.tsx
  client/app/bundles/system/admin/admin/pages/__test__/MarketplaceListingShow.test.tsx
  client/app/bundles/system/admin/admin/pages/__test__/MarketplaceListingsIndex.test.tsx
  client/app/routers/courseless/systemAdmin.tsx
  client/app/types/system/courses.ts
  client/app/types/system/marketplaceListings.ts
Due: frontend

feat(marketplace): duplicate listings into current course
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/jobs/course/assessment/marketplace/duplication_job.rb
  app/models/course/assessment.rb
  app/services/course/duplication/base_service.rb
  app/services/course/duplication/course_duplication_service.rb
  app/services/course/duplication/object_duplication_service.rb
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/marketplace/components/DuplicateConfirmation.tsx
  client/app/bundles/course/marketplace/components/__test__/DuplicationConfirmation.test.tsx
  client/app/bundles/course/marketplace/operations.ts
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/MarketplaceTable.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/index.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  lib/autoload/duplicator.rb
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/jobs/course/assessment/marketplace/duplication_job_spec.rb
Due: frontend, backend

feat(marketplace): preview endpoints and question serializers
  app/controllers/course/assessment/marketplace/controller.rb
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/controllers/course/assessment/marketplace/questions_controller.rb
  app/views/course/assessment/marketplace/listings/index.json.jbuilder
  app/views/course/assessment/marketplace/listings/show.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_forum_post_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_multiple_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_programming.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_rubric_based_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_scribing.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_text_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_voice_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/show.json.jbuilder
  config/routes.rb
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/controllers/course/assessment/marketplace/questions_controller_spec.rb
  spec/controllers/course/assessment_marketplace_component_spec.rb
Due: backend

refactor(duplication): shared assessment tree + table empty-state support
  client/app/bundles/course/duplication/components/DuplicationAssessmentTree.tsx
  client/app/bundles/course/duplication/components/__test__/DuplicationAssessmentTree.test.tsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/AssessmentsListing.tsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/index.jsx
  client/app/lib/components/table/MuiTableAdapter/MuiTable.tsx
  client/app/lib/components/table/TanStackTableBuilder/columnsBuilder.ts
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/adapters/Body.ts
  client/app/lib/components/table/builder/TableTemplate.ts
  client/app/lib/components/table/builder/featureTemplates.ts
Due: frontend

feat(marketplace): listing + question preview UI and duplicate dialog
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/marketplace/__test__/fromTab.test.ts
  client/app/bundles/course/marketplace/components/DuplicateConfirmation.tsx
  client/app/bundles/course/marketplace/components/PublishToMarketplaceButton.tsx
  client/app/bundles/course/marketplace/components/__test__/DuplicationConfirmation.test.tsx
  client/app/bundles/course/marketplace/fromTab.ts
  client/app/bundles/course/marketplace/operations.ts
  client/app/bundles/course/marketplace/pages/ListingPreview/PreviewAssessmentDetails.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/PreviewQuestionCard.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/index.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/MarketplaceTable.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/MarketplaceTable.test.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/index.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/index.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/ForumPostResponse.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/MultipleResponse.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/Programming.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/RubricBasedResponse.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/Scribing.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/TextResponse.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/VoiceResponse.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/ForumPostResponse.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/MultipleResponse.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/Programming.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/RubricBasedResponse.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/Scribing.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/TextResponse.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/__test__/VoiceResponse.test.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/types.ts
  client/app/bundles/course/marketplace/translations.ts
  client/app/bundles/course/marketplace/types.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(marketplace): carry from_tab through the browse flow + breadcrumbs
  app/controllers/course/assessment/marketplace/questions_controller.rb
  app/controllers/course/statistics/aggregate_controller.rb
  app/views/course/assessment/marketplace/listings/show.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_forum_post_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_multiple_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_programming.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_rubric_based_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_scribing.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_text_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/details/_voice_response.json.jbuilder
  app/views/course/assessment/marketplace/questions/show.json.jbuilder
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/AssessmentsListing.tsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/index.jsx
  client/app/bundles/course/marketplace/__test__/fromTab.test.ts
  client/app/bundles/course/marketplace/__test__/handles.test.ts
  client/app/bundles/course/marketplace/fromTab.ts
  client/app/bundles/course/marketplace/handles.ts
  client/app/bundles/course/marketplace/pages/ListingPreview/PreviewQuestionCard.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/index.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/MarketplaceTable.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/MarketplaceTable.test.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/index.tsx
  client/app/bundles/course/marketplace/pages/QuestionPreview/renderers/RubricBasedResponse.tsx
  client/app/routers/course/marketplace.tsx
  spec/controllers/course/assessment/marketplace/questions_controller_spec.rb
Due: frontend, backend

test(sidekiq): create test sidekiq processor for job-related specs
  Gemfile
  spec/jobs/course/announcement/opening_reminder_job_spec.rb
  spec/jobs/course/assessment/answer/auto_grading_job_spec.rb
  spec/jobs/course/assessment/closing_reminder_job_spec.rb
  spec/jobs/course/lesson_plan/coursewide_personalized_timeline_update_job_spec.rb
  spec/jobs/course/survey/closing_reminder_job_spec.rb
  spec/jobs/course/user_deletion_job_spec.rb
  spec/jobs/course/video/closing_reminder_job_spec.rb
  spec/jobs/video_statistic_update_job_spec.rb
  spec/libraries/trackable_job_spec.rb
  spec/support/sidekiq.rb
Due: none

fix(marketplace): redirect bare /listings to the marketplace index
  client/app/routers/course/marketplace.tsx
Due: frontend

feat(marketplace): badge the listing detail page as a preview
  client/app/bundles/course/marketplace/pages/ListingPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/index.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(marketplace): rework the duplicate confirmation dialog
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/views/course/assessment/marketplace/listings/show.json.jbuilder
  client/app/bundles/course/duplication/components/TypeBadge/index.tsx
  client/app/bundles/course/marketplace/components/DestinationTabPicker.tsx
  client/app/bundles/course/marketplace/components/DuplicateConfirmation.tsx
  client/app/bundles/course/marketplace/components/__test__/DestinationTabPicker.test.tsx
  client/app/bundles/course/marketplace/components/__test__/DuplicationConfirmation.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/index.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/index.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/app/bundles/course/marketplace/types.ts
  client/app/lib/hooks/toast/toast.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
Due: frontend, backend

feat(marketplace): launch a hands-on preview in the sandbox container
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/models/course/assessment/marketplace/listing.rb
  app/services/course/assessment/marketplace/preview_container_service.rb
  app/services/course/assessment/marketplace/preview_launch_service.rb
  config/locales/en/course/assessment/marketplace.yml
  config/locales/ko/course/assessment/marketplace.yml
  config/locales/zh/course/assessment/marketplace.yml
  config/routes.rb
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
  spec/models/course/assessment/marketplace/listing_spec.rb
  spec/services/course/assessment/marketplace/preview_container_service_spec.rb
  spec/services/course/assessment/marketplace/preview_launch_service_spec.rb
Due: backend

feat(marketplace): suppress real-course side effects in preview courses
  app/models/concerns/course/assessment/submission/cikgo_task_completion_concern.rb
  app/models/concerns/course/assessment/submission/workflow_event_concern.rb
  app/models/course/discussion/topic.rb
  spec/models/course/assessment/submission_spec.rb
  spec/models/course/discussion/topic_spec.rb
Due: backend

feat(assessment): serve breadcrumbs from a payload of their own
  app/controllers/course/assessment/assessments_controller.rb
  app/views/course/assessment/assessments/crumb.json.jbuilder
  client/app/api/course/Assessment/Assessments.js
  client/app/bundles/course/assessment/handles.ts
  client/app/bundles/course/assessment/operations/assessments.ts
  client/app/types/course/assessment/assessments.ts
  spec/controllers/course/assessment/assessments_controller_spec.rb
Due: frontend, backend

feat(marketplace): confine previewers to the preview flow
  app/controllers/announcements_controller.rb
  app/controllers/application_controller.rb
  app/controllers/attachment_references_controller.rb
  app/controllers/concerns/application_preview_sandbox_concern.rb
  app/controllers/course/assessment/assessments_controller.rb
  app/controllers/course/assessment/submission/answer/controller.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/controllers/course/courses_controller.rb
  app/controllers/course/user_notifications_controller.rb
  app/controllers/csrf_token_controller.rb
  app/controllers/jobs_controller.rb
  app/models/components/course/assessment_marketplace_ability_component.rb
  app/views/application/index.json.jbuilder
  spec/controllers/application_root_payload_spec.rb
  spec/controllers/course/assessment/marketplace/preview_sandbox_lock_spec.rb
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/controllers/course/users_controller_spec.rb
  spec/models/course/assessment_marketplace_ability_spec.rb
Due: backend

feat(marketplace): de-link sandbox navigation for a restricted previewer
  app/controllers/course/courses_controller.rb
  app/views/course/courses/_sidebar_items.json.jbuilder
  app/views/course/courses/sidebar.json.jbuilder
  client/app/bundles/course/container/Breadcrumbs/Breadcrumbs.tsx
  client/app/bundles/course/container/Breadcrumbs/__test__/Breadcrumbs.test.tsx
  client/app/bundles/course/container/Sidebar/Sidebar.tsx
  client/app/bundles/course/container/Sidebar/SidebarItem.tsx
  client/app/bundles/course/container/Sidebar/__test__/Sidebar.test.tsx
  client/app/types/course/courses.ts
  spec/controllers/course/courses_controller_spec.rb
Due: frontend, backend

feat(marketplace): show the sandbox explainer on the container's home page
  client/app/bundles/course/courses/pages/CourseShow/__test__/index.test.tsx
  client/app/bundles/course/courses/pages/CourseShow/index.tsx
Due: frontend

feat(marketplace): let a previewer reset their own preview submission
  app/controllers/course/assessment/marketplace/preview_submissions_controller.rb
  app/models/course/assessment/submission.rb
  config/routes.rb
  spec/controllers/course/assessment/marketplace/preview_submissions_controller_spec.rb
Due: backend

feat(marketplace): add the "Try it hands-on" launch button
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/marketplace/components/TryItHandsOnButton.tsx
  client/app/bundles/course/marketplace/operations.ts
  client/app/bundles/course/marketplace/pages/ListingPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/index.tsx
  client/app/bundles/course/marketplace/translations.ts
  client/app/lib/helpers/navigation.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(marketplace): add the preview sandbox banner and its Reset action
  client/app/bundles/course/container/CourseContainer.tsx
  client/app/bundles/course/container/PreviewCourseBanner.tsx
  client/app/bundles/course/container/__tests__/PreviewCourseBanner.test.tsx
  client/app/bundles/course/marketplace/components/ResetSubmissionButton.tsx
  client/app/bundles/course/marketplace/components/__test__/ResetSubmissionButton.test.tsx
Due: frontend

feat(marketplace): poll auto-marking and refresh the preview in place
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/__test__/finalise.test.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/PreviewAutogradingBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/__test__/PreviewAutogradingBanner.test.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/__test__/previewAutograding.test.ts
  client/app/bundles/course/assessment/submission/reducers/index.js
  client/app/bundles/course/assessment/submission/reducers/previewAutograding/index.ts
  client/app/bundles/course/assessment/submission/selectors/previewAutograding.ts
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  spec/controllers/course/assessment/submission/submissions_preview_autograding_spec.rb
Due: frontend, backend

feat(marketplace): tailor the publish toast to the preview sandbox
  client/app/bundles/course/assessment/submission/actions/__test__/publish.test.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/PublishButton.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/__test__/PublishButton.test.tsx
Due: frontend

fix(submission): send a missing submission to a usable not-found page
  client/app/bundles/common/ErrorPage.tsx
  client/app/bundles/common/__test__/ErrorPage.test.tsx
  client/app/bundles/course/assessment/submission/actions/__test__/fetchSubmission.test.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/lib/hooks/router/__test__/redirect.test.ts
  client/app/lib/hooks/router/redirect.tsx
  client/app/routers/course/__tests__/assessmentSubmissionRoutes.test.tsx
  client/app/routers/course/assessments/submissions.tsx
  client/app/types/home.ts
Due: frontend

fix(submission): render the scribing canvas before its loading indicator
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingCanvas.tsx
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/index.test.tsx
Due: frontend

fix(submission): don't call stopRecord when nothing was recording
  client/app/bundles/course/assessment/submission/reducers/__test__/recorder.test.js
  client/app/bundles/course/assessment/submission/reducers/recorder.js
Due: frontend

chore(marketplace): reap aged preview submissions on a TTL
  app/jobs/course/assessment/marketplace/preview_submission_reaping_job.rb
  config/schedule.yml
  spec/jobs/course/assessment/marketplace/preview_submission_reaping_job_spec.rb
Due: backend

docs(marketplace): drop dangling design-spec references from comments
  app/controllers/course/assessment/marketplace/questions_controller.rb
  app/controllers/course/assessment/marketplace_adoptions_controller.rb
  app/controllers/course/assessment/marketplace_listings_controller.rb
  app/controllers/system/admin/marketplace_listings_controller.rb
  app/jobs/course/assessment/marketplace/duplication_job.rb
  app/jobs/course/assessment/marketplace/restore_authoring_job.rb
  app/models/course/assessment/marketplace/adoption.rb
  app/services/course/assessment/marketplace/apply_version_service.rb
  app/services/course/assessment/marketplace/publish_service.rb
  app/views/course/assessment/assessments/show.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentShow/MarketplaceUpdateBanner.tsx
  db/migrate/20260728000000_add_marketplace_versioning_and_preview_container.rb
  spec/controllers/course/assessment/marketplace/questions_controller_spec.rb
  spec/jobs/course/assessment/marketplace/duplication_job_spec.rb
Due: frontend, backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
