Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

style (learning map): fix linting for learning map gate
  client/app/bundles/course/learning-map/components/Gate/index.jsx
Due: frontend

style (learning map): fix linting issues in learning map node and gate
  client/app/bundles/course/learning-map/components/Gate/index.jsx
  client/app/bundles/course/learning-map/components/Node/index.jsx
Due: frontend

chore(webpack): change node env for build:test to none
  client/package.json
  client/webpack.config.js
Due: none

style (learning map): fix linting issues in learning map node menu
  client/app/bundles/course/learning-map/components/NodeMenu/index.jsx
Due: frontend

style (learning map): fix linting issues in learning map reducer
  client/app/bundles/course/learning-map/reducers/index.js
Due: frontend

style (learning map): fix linting issues
  client/app/bundles/course/learning-map/components/UnlockRateDisplay/index.jsx
  client/app/bundles/course/learning-map/components/ZoomActionElements/index.jsx
  client/app/bundles/course/learning-map/containers/ArrowOverlay/index.jsx
  client/app/bundles/course/learning-map/containers/Canvas/index.jsx
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
  client/app/bundles/course/learning-map/containers/GateToNodeArrows/index.jsx
  client/app/bundles/course/learning-map/containers/LearningMap/index.jsx
  client/app/bundles/course/learning-map/containers/Levels/index.jsx
  client/app/bundles/course/learning-map/containers/NodeToGateArrows/index.jsx
  client/app/bundles/course/learning-map/index.jsx
  client/app/bundles/course/learning-map/propTypes.js
Due: frontend

refactor (learning map): remove n + 1 student query in learning map controller
  app/controllers/course/learning_map_controller.rb
Due: backend

style (learning map): remove textStyle from CardContent in learning map node
  client/app/bundles/course/learning-map/components/Node/index.jsx
Due: frontend

refactor (learning map): remove .ready from learning map index
  client/app/bundles/course/learning-map/index.jsx
Due: frontend

style (learning map): update learning map code formatting to match prettier style
  client/app/api/course/LearningMap.js
  client/app/bundles/course/learning-map/actions.js
  client/app/bundles/course/learning-map/components/ConnectionPoint/index.jsx
  client/app/bundles/course/learning-map/components/Gate/index.jsx
  client/app/bundles/course/learning-map/components/Node/index.jsx
  client/app/bundles/course/learning-map/components/NodeMenu/index.jsx
  client/app/bundles/course/learning-map/components/UnlockRateDisplay/index.jsx
  client/app/bundles/course/learning-map/components/ZoomActionElements/index.jsx
  client/app/bundles/course/learning-map/constants.js
  client/app/bundles/course/learning-map/containers/ArrowOverlay/index.jsx
  client/app/bundles/course/learning-map/containers/Canvas/index.jsx
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
  client/app/bundles/course/learning-map/containers/GateToNodeArrows/index.jsx
  client/app/bundles/course/learning-map/containers/LearningMap/index.jsx
  client/app/bundles/course/learning-map/containers/Levels/index.jsx
  client/app/bundles/course/learning-map/containers/NodeToGateArrows/index.jsx
  client/app/bundles/course/learning-map/reducers/learningMap.js
  client/app/bundles/course/learning-map/store.js
Due: frontend

chore (learning map): resolve proptypes warnings
  client/app/bundles/course/learning-map/components/ConnectionPoint/index.jsx
  client/app/bundles/course/learning-map/components/Gate/index.jsx
  client/app/bundles/course/learning-map/containers/ArrowOverlay/index.jsx
Due: frontend

style (learning map): fix linting issues for learning map gate
  client/app/bundles/course/learning-map/components/Gate/index.jsx
Due: frontend

feat(personalized timeline): improve reduction algorithm
  client/app/bundles/course/admin/pages/PersonalizedTimelineSettings/LearningRateMatrixChart.jsx
  client/app/bundles/course/admin/pages/PersonalizedTimelineSettings/SupportingData.jsx
  client/app/bundles/course/admin/pages/PersonalizedTimelineSettings/utils.js
Due: frontend

feat(personalized timeline): add base code for elastic strategy
  app/controllers/concerns/course/lesson_plan/strategies/elastic_personalization_strategy.rb
Due: backend

style (video conditions): add newline to end of video condition yml file
  config/locales/en/activerecord/course/condition/video.yml
Due: none

style (learning map): disable method length linting for the generate_all_node_relations method in the learning map controller
  app/controllers/course/learning_map_controller.rb
Due: backend

refactor (learning map): add dispatch as a dependency to useEffect in the learning map container component
  client/app/bundles/course/learning-map/containers/LearningMap/index.jsx
Due: frontend

style (learning map): move constants out of main body of learning map canvas component
  client/app/bundles/course/learning-map/containers/Canvas/index.jsx
Due: frontend

refactor (learning map): update learning map gate and dashboard components to use material ui colors
  client/app/bundles/course/learning-map/components/Gate/index.jsx
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
Due: frontend

style (learning map): update learning map connection point scss file to use a color constant instead of a literal
  client/app/bundles/course/learning-map/components/ConnectionPoint/ConnectionPoint.scss
Due: frontend

refactor (learning map): update learning map controller to move total_num_students computation out of loop
  app/controllers/course/learning_map_controller.rb
Due: backend

refactor (learning map): refactor learning map to use camel case in index jbuilder
  app/controllers/course/learning_map_controller.rb
  app/views/course/learning_map/index.json.jbuilder
  client/app/bundles/course/learning-map/actions.js
  client/app/bundles/course/learning-map/components/Gate/index.jsx
  client/app/bundles/course/learning-map/components/Node/index.jsx
  client/app/bundles/course/learning-map/components/Tag/index.jsx
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
  client/app/bundles/course/learning-map/containers/NodeToGateArrows/index.jsx
  client/app/bundles/course/learning-map/propTypes.js
Due: frontend, backend

chore (learning map): update learning map api comments to use camel case
  client/app/api/course/LearningMap.js
Due: frontend

style (learning map): update learning map connection point scss file to fix hound issues
  client/app/bundles/course/learning-map/components/ConnectionPoint/ConnectionPoint.scss
Due: frontend

chore (learning map): remove learning map tag component
  client/app/bundles/course/learning-map/components/Tag/index.jsx
Due: frontend

style (learning map): fix learning map linting issues
  client/app/bundles/course/learning-map/actions.js
  client/app/bundles/course/learning-map/components/Gate/index.jsx
Due: frontend

test (learning map): fix failing learning map controller test for adding a parent node
  spec/controllers/course/learning_map/learning_map_controller_spec.rb
Due: none

style (learning map): remove unnecessary string interpolation from learning map gate component
  client/app/bundles/course/learning-map/components/Gate/index.jsx
Due: frontend

chore (learning map): update comments in learning map api
  client/app/api/course/LearningMap.js
Due: frontend

feat(personalized timeline): finish up elastic strategy
  app/controllers/concerns/course/lesson_plan/strategies/elastic_personalization_strategy.rb
  app/models/course/learning_rate_record.rb
Due: backend

style(personalized timeline): fix lint issues
  app/controllers/concerns/course/lesson_plan/strategies/elastic_personalization_strategy.rb
Due: backend

style(personalized timeline): standardise methods
  app/controllers/concerns/course/lesson_plan/strategies/fomo_personalization_strategy.rb
  app/controllers/concerns/course/lesson_plan/strategies/stragglers_personalization_strategy.rb
Due: backend

style(course statistics): capitalise sql commands
  app/controllers/course/statistics/aggregate_controller.rb
Due: backend

feat(duplication history): allow nil for source method delegation
  app/models/course.rb
  app/models/course/assessment.rb
Due: backend

fix(duplication history): use splat for options in specific classes
  app/models/duplication_traceable/assessment.rb
  app/models/duplication_traceable/course.rb
Due: backend

refactor(duplication history): reduce boilerplate needed to utilise the duplication framework
  app/models/duplication_traceable.rb
  lib/autoload/duplicator.rb
Due: backend

tests(duplication history): add factory for duplication traceables
  spec/factories/duplication_traceable_assessment.rb
  spec/factories/duplication_traceable_course.rb
Due: none

tests(duplication history): add expectation for source id in duplication feature spec
  spec/features/course/duplication_spec.rb
Due: none

tests(duplication history): add tests for duplicating with duplication traceable
  spec/libraries/duplicator_spec.rb
Due: none

tests(duplication history): add tests for act_as_duplication_traceable framework
  spec/libraries/acts_as_duplication_traceable.rb
Due: none
