Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(stackablebadges): tooltip not showing on hover
  client/app/bundles/course/assessment/pages/AssessmentsIndex/StackedBadges.tsx
Due: frontend

feat(assessments): index responds to json
  app/views/course/assessment/assessments/index.json.jbuilder
Due: backend

fix(assessmentsindex): end and bonus end time are personalised
  app/views/course/assessment/assessments/index.json.jbuilder
Due: backend

perf(preload): fix race condition on multiple fetches
  client/app/lib/components/wrappers/Preload.tsx
Due: frontend

fix(email notification): remove manage user subscription link for forum email
  app/views/notifiers/course/forum/post_notifier/replied/user_notifications/email.html.slim
  app/views/notifiers/course/forum/topic_notifier/created/user_notifications/email.html.slim
Due: backend

refactor(user url): generate user url in rails backend
  app/controllers/concerns/application_user_concern.rb
  app/controllers/course/experience_points_records_controller.rb
  app/controllers/course/material/materials_controller.rb
  app/helpers/course/controller_helper.rb
  app/views/course/announcements/_announcement_list_data.json.jbuilder
  app/views/course/assessment/answers/_answer.json.jbuilder
  app/views/course/experience_points_records/index.json.jbuilder
  app/views/course/material/folders/show.json.jbuilder
  app/views/notifiers/course/achievement_notifier/gained/course_notifications/_feed.json.jbuilder
  app/views/notifiers/course/assessment_notifier/attempted/course_notifications/_feed.json.jbuilder
  app/views/notifiers/course/forum/post_notifier/replied/course_notifications/_feed.json.jbuilder
  app/views/notifiers/course/forum/post_notifier/voted/course_notifications/_feed.json.jbuilder
  app/views/notifiers/course/forum/topic_notifier/created/course_notifications/_feed.json.jbuilder
  app/views/notifiers/course/level_notifier/reached/course_notifications/_feed.json.jbuilder
  app/views/notifiers/course/video_notifier/attempted/course_notifications/_feed.json.jbuilder
  client/app/bundles/course/announcements/components/misc/AnnouncementCard.tsx
  client/app/bundles/course/courses/components/misc/NotificationCard.tsx
  client/app/bundles/course/material/folders/components/tables/TableMaterialRow.tsx
  client/app/bundles/course/users/components/tables/ExperiencePointsTableRow.tsx
  client/app/bundles/course/users/reducers.ts
  client/app/lib/helpers/url-builders.js
  client/app/types/course/announcements.ts
  client/app/types/course/experiencePointsRecords.ts
  client/app/types/course/material/folders.ts
  client/app/types/course/notifications.ts
Due: frontend, backend

style(rubocop): fix Layout/EmptyLines
  spec/controllers/system/admin/instances_controller_spec.rb
  spec/features/system/admin/components_settings_spec.rb
Due: none

style(rubocop): fix Layout/ArrayAlignment
  spec/services/instance/user_invitation_service_spec.rb
Due: none

style(rubocop): fix Style/IfUnlessModifier
  app/views/course/user_invitations/index.json.jbuilder
Due: backend

style(rubocop): fix Lint/RedundantCopDisableDirective
  app/controllers/course/courses_controller.rb
  spec/support/stubs/course/assessment/stubbed_programming_codaveri.rb
Due: backend

style(rubocop): fix Layout/HashAlignment
  app/controllers/course/assessment/question/multiple_responses_controller.rb
  spec/controllers/course/material/folders_controller_spec.rb
Due: backend

style(rubocop): fix Naming/AccessorMethodName
  app/models/course/assessment/answer/multiple_response.rb
  app/views/course/assessment/question/multiple_responses/_multiple_response.json.jbuilder
Due: backend

style(rubocop): fix Style/DoubleNegation
  app/views/course/survey/responses/index.json.jbuilder
Due: backend

style(rubocop): fix Style/MapToHash
  app/controllers/concerns/course/assessment/question_bundle_assignment_concern.rb
  app/controllers/concerns/course/lesson_plan/learning_rate_concern.rb
  app/controllers/concerns/course/survey/reordering_concern.rb
  app/controllers/course/achievement/achievements_controller.rb
  app/controllers/course/assessment/question_bundle_assignments_controller.rb
  app/controllers/course/controller.rb
  app/controllers/course/courses_controller.rb
  app/controllers/course/group/group_categories_controller.rb
  app/controllers/course/learning_map_controller.rb
  app/controllers/course/lesson_plan/items_controller.rb
  app/controllers/course/object_duplications_controller.rb
  app/models/concerns/course/assessment/questions_concern.rb
  app/models/course/survey/response.rb
  app/services/concerns/course/user_invitation_service/process_invitation_concern.rb
  app/services/concerns/instance/user_invitation_service/process_invitation_concern.rb
  app/services/course/assessment/answer/programming_auto_grading_service.rb
  app/services/course/assessment/submission/statistics_download_service.rb
  app/services/course/assessment/submission/zip_download_service.rb
  app/services/course/course_user_preload_service.rb
  app/services/course/material/preload_service.rb
  app/services/course/survey/survey_download_service.rb
  app/views/course/assessment/submission/submissions/_questions.json.jbuilder
  app/views/course/assessment/submission/submissions/index.json.jbuilder
  app/views/course/survey/responses/index.json.jbuilder
  lib/autoload/course/assessment/programming_package.rb
  spec/services/course/user_invitation_service_spec.rb
  spec/services/instance/user_invitation_service_spec.rb
Due: backend

style(rubocop): fix Layout/TrailingWhitespace
  app/services/course/duplication/course_duplication_service.rb
Due: backend

style(rubocop): fix Lint/ImplicitStringConcatenation
  spec/support/stubs/course/discussion/post/stubbed_codaveri_feedback.rb
Due: none

WIP
  app/controllers/concerns/application_multitenancy_concern.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/controllers/course/survey/surveys_controller.rb
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  spec/controllers/course/survey/surveys_controller_spec.rb
Due: frontend, backend

chore(rails): upgrade rails to 6.0.6
  Gemfile
  Gemfile.lock
Due: none

refactor(statistics): shift student and staff statistics into a statistics module
  app/controllers/components/course/statistics_component.rb
  app/controllers/course/statistics/controller.rb
  app/controllers/course/statistics/statistics_controller.rb
  app/controllers/course/statistics_controller.rb
  app/views/course/statistics/_course_student_statistics.html.slim
  app/views/course/statistics/_staff_performance.html.slim
  app/views/course/statistics/_table.html.slim
  app/views/course/statistics/_tabs.html.slim
  app/views/course/statistics/all_students.html.slim
  app/views/course/statistics/index.html.slim
  app/views/course/statistics/my_students.html.slim
  app/views/course/statistics/staff.html.slim
  config/locales/en/course/statistics.yml
  config/routes.rb
Due: backend

feat(statistics): add statistics API on client side
  client/app/api/course/Statistics/CourseStatistics.js
  client/app/api/course/Statistics/index.js
  client/app/api/course/index.js
Due: frontend

refactor(statistics): introduce API endpoint for student and staff data
  app/controllers/course/statistics/aggregate_controller.rb
  app/helpers/course/statistics/aggregate_helper.rb
  app/views/course/statistics/aggregate/all_staff.json.jbuilder
  app/views/course/statistics/aggregate/all_students.json.jbuilder
Due: backend

feat(statistics): add reducers
  client/app/bundles/course/statistics/reducers/courseStatistics.js
  client/app/bundles/course/statistics/reducers/index.js
  client/app/bundles/course/statistics/reducers/staffStatistics.js
  client/app/bundles/course/statistics/reducers/studentsStatistics.js
Due: frontend

feat(statistics): add prop types
  client/app/bundles/course/statistics/propTypes/course.js
  client/app/bundles/course/statistics/propTypes/staff.js
  client/app/bundles/course/statistics/propTypes/students.js
Due: frontend

feat(statistics): add store
  client/app/bundles/course/statistics/store.js
Due: frontend

feat(statistics): add constants
  client/app/bundles/course/statistics/constants.js
Due: frontend

feat(statistics): add response parsers
  client/app/bundles/course/statistics/utils/parseStaffResponse.js
  client/app/bundles/course/statistics/utils/parseStudentsResponse.js
Due: frontend

feat(statistics): add actions
  client/app/bundles/course/statistics/actions.js
Due: frontend

tests(statistics): fix tests related to statistics controllers
  spec/controllers/course/statistics/aggregate_controller_spec.rb
  spec/controllers/course/statistics/statistics_controller_spec.rb
  spec/controllers/course/statistics_controller_spec.rb
Due: none

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
