Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

fix(tenant): remove dev tenant host check
  app/controllers/concerns/application_multitenancy_concern.rb
Due: backend

style(instance admin): clean up comments
  app/controllers/system/admin/instance/controller.rb
  app/views/system/admin/instance/announcements/index.json.jbuilder
  app/views/system/admin/instance/user_invitations/_invitation_result_data.json.jbuilder
  client/app/api/system/InstanceAdmin.ts
  client/app/bundles/system/admin/instance/actions.ts
  client/app/bundles/system/admin/instance/components/buttons/PendingRoleRequestsButtons.tsx
  client/app/bundles/system/admin/instance/reducers.ts
  client/app/lib/components/form/fields/TextField.jsx
Due: frontend, backend

fix(course user): fix course user scope bug
  app/models/course_user.rb
Due: backend

tests(instance admin): fix tests
  app/controllers/system/admin/instance/announcements_controller.rb
  app/controllers/system/admin/instance/user_invitations_controller.rb
  app/controllers/system/admin/instance/users_controller.rb
  app/models/concerns/component_settings_concern.rb
  app/models/instance/announcement.rb
  app/views/system/admin/instance/admin/index.json.jbuilder
  app/views/system/admin/instance/components/index.json.jbuilder
  app/views/system/admin/instance/courses/index.json.jbuilder
  app/views/system/admin/instance/user_invitations/_index.json.jbuilder
  app/views/system/admin/instance/user_invitations/index.json.jbuilder
  app/views/system/admin/instance/users/_user_list_data.json.jbuilder
  app/views/system/admin/instance/users/index.json.jbuilder
  client/app/bundles/system/admin/admin/reducers.ts
  client/app/bundles/system/admin/instance/components/forms/InstanceComponentsForm.tsx
  client/app/bundles/system/admin/instance/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/instance/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/instance/operations.ts
  client/app/types/system/instance/users.ts
  spec/controllers/course/instance_user_role_requests_controller_spec.rb
  spec/controllers/system/admin/instance/announcements_controller_spec.rb
  spec/controllers/system/admin/instance/components_controller_spec.rb
  spec/controllers/system/admin/instance/courses_controller_spec.rb
  spec/controllers/system/admin/instance/user_invitations_controller_spec.rb
  spec/controllers/system/admin/instance/users_controller_spec.rb
  spec/features/instance_user_role_requests_management_spec.rb
  spec/features/system/admin/components_settings_spec.rb
  spec/features/system/admin/instance/course_management_spec.rb
  spec/features/system/admin/instance/instance_announcement_management_spec.rb
  spec/features/system/admin/instance/instance_announcement_pagination_spec.rb
  spec/features/system/admin/instance/user_management_spec.rb
  spec/services/instance/user_invitation_service_spec.rb
Due: frontend, backend

feat(instance admin): remove unused routes and files
  app/views/system/admin/instance/user_invitations/_instance_user_invitation.html.slim
  app/views/system/admin/instance/user_invitations/_instance_user_invitations.html.slim
  app/views/system/admin/instance/user_invitations/_invitation_fields.html.slim
  app/views/system/admin/instance/user_invitations/new.html.slim
  app/views/system/admin/instance/user_invitations/reload_instance_user_invitation.js.erb
  app/views/system/admin/instance/users/_tabs.html.slim
  config/locales/en/common.yml
  config/locales/en/instance_user_role_requests.yml
  config/locales/en/system/admin/instance/announcements.yml
  config/locales/en/system/admin/instance/components.yml
  config/locales/en/system/admin/instance/courses.yml
  config/locales/en/system/admin/instance/navbar.yml
  config/locales/en/system/admin/instance/user_invitations.yml
  config/locales/en/system/admin/instance/users.yml
  config/locales/en/system/admin/navbar.yml
  config/routes.rb
Due: backend

fix(intl translation): replace formattedmessage and fix some texts
  client/app/bundles/course/assessment/components/AssessmentForm/__test__/index.test.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.intl.js
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/bundles/course/user-invitations/components/forms/IndividualInviteForm.tsx
  client/app/bundles/system/admin/admin/components/forms/InstanceForm.tsx
Due: frontend

fix(inline style): convert inline style to tailwind
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/EnterEditModeButton.jsx
  client/app/bundles/course/survey/pages/SurveyShow/NewSectionButton.jsx
  client/app/bundles/system/admin/admin/components/buttons/InstancesButtons.tsx
  client/app/bundles/system/admin/admin/pages/InstanceNew/index.tsx
  client/app/lib/components/form/fields/DataTableInlineEditable/TextField.tsx
Due: frontend

chore(webpacker): update new webpack configs
  bin/webpack
  bin/webpack-dev-server
Due: none

feat(useprompt): add useprompt hook to replace the same depecrated hook in react router v6
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/survey/containers/ResponseForm/index.jsx
  client/app/lib/hooks/router/usePrompt.tsx
Due: frontend

feat(global announcements): port global announcement page to react
  app/assets/stylesheets/course/_announcement.scss
  app/assets/stylesheets/course/announcements.scss
  app/assets/stylesheets/course/layout.scss
  app/controllers/announcements_controller.rb
  app/views/announcements/_announcement_spacer.html.slim
  app/views/announcements/index.html.slim
  app/views/announcements/index.json.jbuilder
  client/app/api/Announcements.ts
  client/app/bundles/announcements.tsx
  client/app/bundles/announcements/actions.ts
  client/app/bundles/announcements/index.tsx
  client/app/bundles/announcements/operations.ts
  client/app/bundles/announcements/pages/GlobalAnnouncementIndex/index.tsx
  client/app/bundles/announcements/reducers.ts
  client/app/bundles/announcements/selectors.ts
  client/app/bundles/announcements/store.ts
  client/app/bundles/announcements/types.ts
  client/app/types/store.ts
  spec/features/global_announcements_spec.rb
Due: frontend, backend

fix(image tag): fix overflowing image size
  app/assets/stylesheets/layout.scss
Due: backend

test: fix flaky tests
  spec/features/course/assessment/skill_management_spec.rb
  spec/features/course/material/folder_management_spec.rb
  spec/features/system/admin/user_management_spec.rb
  spec/jobs/course/assessment/question/programming_import_job_spec.rb
Due: none

fix(narrow comment editor): fix clickawaylistener incompatbility with ckeditor toolbar link
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
Due: frontend

fix(number input): add step props for ios 16 keyboard decimal number bug
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
Due: frontend

fix(submission form): fix programming question action button location
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
Due: frontend

fix(reeval button): only show re-eval button for programming question
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
Due: frontend

fix(ckeditor): fix ckeditor value passing
  client/app/lib/components/CKEditorRichText.tsx
Due: frontend

fix(linear progress with label): display value as zero when it is empty
  client/app/lib/components/LinearProgressWithLabel.tsx
Due: frontend

refactor(routes): update routes for react video page porting
  config/routes.rb
Due: none

refactor(react video port): remove unused stylesheets
  app/assets/stylesheets/_variables.scss
  app/assets/stylesheets/course/video/submission/submissions.scss
  app/assets/stylesheets/course/video/videos.scss
  app/assets/stylesheets/course/video_submissions.scss
  app/assets/stylesheets/pages/home.scss
Due: backend

perf: fix n+1 issue
  app/models/course/discussion/post.rb
  app/views/course/video/submission/submissions/_watch_next_video_url.json.jbuilder
Due: backend

fix(datetime): standardise client datetime rendering
  client/app/bundles/course/assessment/submission/components/ProgressPanel.jsx
  client/app/bundles/course/assessment/submission/components/answers/ForumPostResponse/ForumPost.jsx
  client/app/bundles/course/assessment/submission/components/comment/CodaveriCommentCard.jsx
  client/app/bundles/course/assessment/submission/components/comment/CommentCard.jsx
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/containers/PastAnswers.jsx
  client/app/bundles/course/assessment/submission/utils.js
  client/app/bundles/course/discussion/topics/components/cards/CodaveriCommentCard.tsx
  client/app/bundles/course/discussion/topics/components/cards/CommentCard.tsx
  client/app/bundles/course/users/components/tables/ExperiencePointsTableRow.tsx
Due: frontend

refactor(react video port): remove unused rails i18n
  config/locales/en/course/video/submissions.yml
  config/locales/en/course/video/videos.yml
Due: none

refactor(video react intl): use intl formatmessage
  client/app/bundles/course/video/submission/containers/DiscussionElements/Controls.jsx
  client/app/bundles/course/video/submission/containers/VideoControls/NextVideoButton.jsx
Due: frontend

refactor(achievement show): change loading indicator sequence
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
Due: frontend

fix(survey form): fix field layout
  client/app/bundles/course/survey/containers/SurveyFormDialogue/SurveyForm.jsx
Due: frontend

refactor(client wrapper): add redux store only wrapper
  client/app/lib/components/ProviderWrapper.jsx
Due: frontend

fix(intl): remove unused translations
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/courses/pages/CourseShow/index.tsx
Due: frontend

perf(mui datatable): optimise performance
  client/app/bundles/course/users/components/tables/ManageUsersTable.tsx
  client/app/lib/components/DataTable.jsx
Due: frontend

chore(eslint): change eslint constrain
  client/.eslintrc.js
Due: none
