Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Ignore frontend test coverage reports
  .gitignore
  client/package.json
Due: none

Modify validation to ensure that grades are non-negative
  app/models/course/assessment/answer.rb
  config/locales/en/activerecord/course/assessment/answer.yml
  spec/models/course/assessment/answer_spec.rb
Due: backend

Modify initial function to show individual grades on page load
  client/app/bundles/course/assessment/submission/calculate-grade-exp.js
Due: frontend

Test survey creation forms
  client/app/bundles/course/survey/components/FormDialogue.jsx
  client/app/bundles/course/survey/containers/QuestionFormDialogue/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/NewSurveyButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/NewQuestionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/NewSectionButton.test.jsx
Due: frontend

Add helper to inject tap event plugin only once
  client/app/__test__/setup.js
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/NewSurveyButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/NewQuestionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/NewSectionButton.test.jsx
  client/app/lib/components/ProviderWrapper.jsx
  client/app/lib/injectTapEventPlugin.js
Due: frontend

Re-add deleted comment explaining fill_in_rails_summernote
  spec/features/course/assessment/question/text_response_management_spec.rb
Due: none

Show spinner for download job on current page
  app/assets/stylesheets/layout.scss
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/controllers/course/material/folders_controller.rb
  app/views/course/assessment/submission/submissions/_submissions.html.slim
  app/views/course/material/folders/_folder_controls.html.slim
  app/views/jobs/_completed.json.jbuilder
  client/app/bundles/course/assessment/submission/submissions.js
  client/app/bundles/course/material/folders.js
  client/app/lib/helpers/initializeDownloadLink.js
Due: frontend, backend

Fix randomly failing announcement spec
  spec/features/global_announcements_spec.rb
Due: none

Add tests for survey question drag and drop re-ordering
  client/app/bundles/course/survey/pages/SurveyShow/Section/NewQuestionButton.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/Question.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/index.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/index.jsx
  client/package.json
  client/yarn.lock
Due: frontend

Change job priorities
  app/jobs/course/assessment/answer/auto_grading_job.rb
  app/jobs/course/assessment/submission/auto_grading_job.rb
  app/jobs/course/assessment/submission/zip_download_job.rb
  app/jobs/course/material/zip_download_job.rb
  spec/jobs/course/assessment/answer/auto_grading_job_spec.rb
  spec/jobs/course/assessment/submission/auto_grading_job_spec.rb
Due: backend

Put a selector expectation before current_path, so that capybara will wait
  spec/features/course/assessment/question/text_response_management_spec.rb
  spec/features/course/lesson_plan_event_management_spec.rb
Due: none

Use find in expect to force an exception when fail
  spec/features/course/assessment/submission/autograded_spec.rb
Due: none

Test survey response submission
  client/app/bundles/course/survey/pages/ResponseShow/ResponseForm.jsx
  client/app/bundles/course/survey/pages/ResponseShow/__test__/index.test.jsx
Due: frontend

Define location.pathname instead of mocking getSurveyId for tests
  client/app/__test__/setup.js
  client/app/bundles/course/survey/pages/SurveyShow/__test__/index.test.jsx
Due: frontend

Test "Include Phantoms" toggle on survey results page
  client/app/bundles/course/survey/pages/SurveyResults/__test__/index.test.js
Due: frontend

Factor out DeleteConfirmation from SurveyLayout
  client/app/bundles/course/survey/containers/SurveyLayout.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/DeleteConfirmation.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/index.jsx
Due: frontend

Test survey DeleteSectionButton
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/DeleteSectionButton.test.jsx
Due: frontend

Add confirmation button ref to ConfirmationDialog
  client/app/lib/components/ConfirmationDialog.jsx
Due: frontend

Test survey EditSectionButton
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/EditSectionButton.test.jsx
Due: frontend

Implement publish_grades ability on Course::Assessment
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course/assessment/assessment_ability.rb
  app/views/course/assessment/submission/submissions/index.html.slim
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
  spec/models/course/assessment/assessment_ability_spec.rb
Due: backend

Bundle Update on 2017-03-29
  Gemfile.lock
Due: none

Prevent browser from showing raw JSON when back button clicked
  client/app/api/Base.js
  client/app/lib/axios.js
Due: frontend

Clear front-end lint warnings
  client/.eslintrc
  client/app/bundles/course/assessment/question/programming/components/ProgrammingQuestionForm.jsx
  client/app/bundles/course/assessment/question/programming/components/UploadedPackageTemplateView.jsx
  client/app/bundles/course/survey/containers/QuestionFormDialogue/QuestionFormOptions.jsx
  client/app/lib/components/redux-form/Toggle.jsx
Due: frontend

Show submission counts grouped by submission state for each assessment
  app/assets/stylesheets/_variables.scss
  app/assets/stylesheets/course/assessment/submission/submissions.scss
  app/helpers/course/assessment/submission/submissions_helper.rb
  app/helpers/course/assessment/submission/submissions_workflow_state_helper.rb
  app/views/course/assessment/submission/submissions/_submissions.html.slim
  app/views/course/assessment/submission/submissions/index.html.slim
Due: backend

Tweak survey results page UI
  client/app/bundles/course/survey/pages/SurveyResults/ResultsQuestion.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/ResultsQuestion.test.jsx
Due: frontend

Do not let card text overlap admin buttons on survey show page
  client/app/bundles/course/survey/pages/SurveyShow/Section/QuestionCard.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/SectionCard.jsx
Due: frontend

Eager load assessment maximum grade for submission show page
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/helpers/course/assessment/submission/submissions_workflow_state_helper.rb
  app/views/course/assessment/submission/submissions/_submission.html.slim
  app/views/course/assessment/submission/submissions/_submissions.html.slim
Due: backend

Upgrade client packages using yarn upgrade-interactive
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
  client/package.json
  client/yarn.lock
Due: frontend

Show loading indicator for SurveyIndex page
  client/app/bundles/course/survey/__test__/index.test.js
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/__snapshots__/index.test.js.snap
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/index.test.js
  client/app/bundles/course/survey/pages/SurveyIndex/index.jsx
  client/app/bundles/course/survey/reducers/surveysFlags.js
Due: frontend

Add standard loading indicator for survey pages
  client/app/bundles/course/survey/components/LoadingIndicator.jsx
Due: frontend

Show loading indicator for SurveyShow page
  client/app/bundles/course/survey/pages/SurveyShow/SurveyDetails.jsx
  client/app/bundles/course/survey/pages/SurveyShow/index.jsx
  client/app/bundles/course/survey/reducers/survey.js
  client/app/bundles/course/survey/reducers/surveysFlags.js
Due: frontend

Add loading indicator and response count to SurveyResults page
  client/app/bundles/course/survey/pages/SurveyResults/index.jsx
  client/app/bundles/course/survey/reducers/results.js
Due: frontend

Show loading indicator for ResponseShow page
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
Due: frontend

Show existing loaded data while loading for survey pages
  client/app/bundles/course/survey/pages/ResponseShow/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/index.jsx
  client/app/bundles/course/survey/pages/SurveyResults/index.jsx
  client/app/bundles/course/survey/pages/SurveyShow/index.jsx
  client/app/bundles/course/survey/reducers/responseForm.js
  client/app/bundles/course/survey/reducers/results.js
  client/app/bundles/course/survey/reducers/surveys.js
  client/app/bundles/course/survey/reducers/utils.js
Due: frontend

Add redux logging to survey store
  client/.eslintrc
  client/app/bundles/course/survey/store.js
Due: frontend

Add redux-logger for easy debugging of redux flows
  client/package.json
  client/yarn.lock
Due: none

Scribing question frontend
  client/app/api/course/assessment/Base.js
  client/app/api/course/assessment/question/scribing/Base.js
  client/app/api/course/assessment/question/scribing/Scribing.js
  client/app/api/course/assessment/question/scribing/index.js
  client/app/api/course/index.js
  client/app/bundles/course/assessment/question/scribing.jsx
  client/app/bundles/course/assessment/question/scribing/ScribingQuestion.jsx
  client/app/bundles/course/assessment/question/scribing/actions/scribingQuestionActionCreators.jsx
  client/app/bundles/course/assessment/question/scribing/constants.js
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/ScribingQuestionForm.intl.js
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/ScribingQuestionForm.scss
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/index.jsx
  client/app/bundles/course/assessment/question/scribing/reducers/index.jsx
  client/app/bundles/course/assessment/question/scribing/reducers/scribingQuestionReducer.jsx
  client/app/bundles/course/assessment/question/scribing/responses.js
  client/app/bundles/course/assessment/question/scribing/store.jsx
  client/app/lib/helpers/url-helpers.js
  client/package.json
Due: frontend

Scribing question models and controller
  app/controllers/course/assessment/question/scribing_controller.rb
  app/helpers/course/assessment/question/scribing_helper.rb
  app/models/course/assessment.rb
  app/models/course/assessment/answer/scribing.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/question/scribing.rb
  app/models/course/assessment/submission.rb
  app/views/course/assessment/answer/scribing/_scribing.html.slim
  app/views/course/assessment/assessments/show.html.slim
  app/views/course/assessment/question/scribing/_scribing.html.slim
  app/views/course/assessment/question/scribing/_scribing_question.html.slim
  app/views/course/assessment/question/scribing/_scribing_question.json.jbuilder
  app/views/course/assessment/question/scribing/edit.html.slim
  app/views/course/assessment/question/scribing/new.html.slim
  config/locales/en/course/assessment/question/scribing.yml
  config/routes.rb
  db/migrate/20170224033224_create_course_assessment_question_scribings.rb
  db/migrate/20170315023554_create_course_assessment_answer_scribings.rb
  db/schema.rb
  spec/controllers/course/assessment/question/scribing_controller_spec.rb
  spec/factories/course_assessment_answer_scribings.rb
  spec/factories/course_assessment_question_scribings.rb
  spec/features/course/assessment/question/scribing_management_spec.rb
  spec/models/course/assessment/answer/scribing_spec.rb
  spec/models/course/assessment/question/scribing_spec.rb
Due: backend

Prevent horizontal scrollbar from showing for survey results options table
  client/app/bundles/course/survey/pages/SurveyResults/ResultsQuestion.jsx
Due: frontend
