Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Rename factory_girl files to factory_bot
  lib/tasks/factory_bot.rake
  spec/support/factory_bot.rb
Due: backend

Bundle Update on 2017-11-29
  Gemfile.lock
Due: none

Add server side check for achievement badge
  app/controllers/course/achievement/achievements_controller.rb
  spec/controllers/course/achievement/achievements_controller_spec.rb
Due: backend

Fix store value set by singlefileinput to empty string
  client/app/bundles/course/achievement/pages/AchievementEdit/__test__/index.test.js
  client/app/bundles/course/achievement/store.jsx
  client/app/lib/components/redux-form/SingleFileInput.jsx
Due: frontend

Always show bonus exp field in Survey form.
  client/app/bundles/course/survey/containers/SurveyFormDialogue/SurveyForm.jsx
Due: frontend

Set allow responses when surveys expire for new surveys.
  client/app/bundles/course/survey/containers/SurveyFormDialogue/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/NewSurveyButton.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/NewSurveyButton.test.jsx
Due: frontend

Bundle Update on 2017-12-04
  Gemfile.lock
Due: none

Add assessment condition minimum_grade_percentation validation
  app/models/course/condition/assessment.rb
  spec/models/course/condition/assessment_spec.rb
Due: backend

Remove existing achiements and assessments from conditions form dropdown
  app/views/course/condition/achievements/_form.html.slim
  app/views/course/condition/assessments/_form.html.slim
Due: backend

Sort assessment condition assessment dropdown by date and title
  app/views/course/condition/assessments/_form.html.slim
Due: backend

Rename 'Conditions' to 'Unlock Conditions'
  client/app/lib/components/course/ConditionList/translations.intl.js
Due: frontend

Change TextResponse answer models to support comprehension qns
  spec/factories/course_assessment_answer_text_responses.rb
  spec/models/course/assessment/answer/text_response_spec.rb
  spec/services/course/assessment/answer/text_response_auto_grading_service_spec.rb
Due: none

Change TextResponse question models to support comprehension qns
  app/models/course/assessment/question/text_response.rb
  app/models/course/assessment/question/text_response_group.rb
  app/models/course/assessment/question/text_response_point.rb
  app/models/course/assessment/question/text_response_solution.rb
  config/locales/en/activerecord/course/assessment/question/text_response.yml
  config/locales/en/activerecord/course/assessment/question/text_response_group.yml
  config/locales/en/activerecord/course/assessment/question/text_response_point.yml
  config/locales/en/activerecord/course/assessment/question/text_response_solution.yml
  db/migrate/20171206110300_create_question_text_input_from_text_response.rb
  db/schema.rb
  spec/factories/course_assessment_question_text_response_groups.rb
  spec/factories/course_assessment_question_text_response_points.rb
  spec/factories/course_assessment_question_text_response_solutions.rb
  spec/factories/course_assessment_question_text_responses.rb
  spec/models/course/assessment/question/text_response_group_spec.rb
  spec/models/course/assessment/question/text_response_point_spec.rb
  spec/models/course/assessment/question/text_response_solution_spec.rb
  spec/models/course/assessment/question/text_response_spec.rb
Due: backend

Create Group, Point for existing TextResponse questions Previous: TextResponse -> TextResponseSolution Now: TextResponse -> TextResponseGroup -> TextResponsePoint -> TextResponseSolution
  db/migrate/20171206110400_migrate_question_text_response_to_text_input.rb
  db/schema.rb
Due: none

Change TextResponse auto_grading_service for updated question models To work with existing (non-comprehension) TextResponse questions.
  app/services/course/assessment/answer/text_response_auto_grading_service.rb
  spec/services/course/assessment/answer/text_response_auto_grading_service_spec.rb
Due: backend

[DO NOT MERGE] Disable Travis notification on Slack
  .travis.yml
Due: none

Bundle Update on 2017-12-09
  Gemfile.lock
Due: none

Fix error identification in java parser
  lib/autoload/course/assessment/java/java_programming_test_case_report.rb
  lib/autoload/course/assessment/programming_test_case_report.rb
Due: backend

Add Video Watch Interval Model
  app/models/components/course/videos_ability_component.rb
  app/models/course/video/submission.rb
  app/models/course/video/watch_interval.rb
  db/migrate/20171212063353_create_course_video_watch_intervals.rb
Due: backend

Add specs for WatchInterval
  spec/factories/course_video_watch_intervals.rb
  spec/models/course/video/watch_interval_spec.rb
Due: none

Disable buttons while comment is loading
  client/app/bundles/course/video/submission/containers/DiscussionElements/Editor.jsx
Due: frontend

Sort course component settings for display.
  app/views/course/admin/component_settings/edit.html.slim
Due: backend

Sort components on instance settings page for display.
  app/views/system/admin/instance/components/edit.html.slim
Due: backend

Fetch Levels data from server and display.
  app/views/course/levels/index.html.slim
  app/views/course/levels/index.json.jbuilder
  client/app/api/course/Level.js
  client/app/api/course/index.js
  client/app/bundles/course/level/actions.js
  client/app/bundles/course/level/components/LevelRow.jsx
  client/app/bundles/course/level/constants.js
  client/app/bundles/course/level/index.jsx
  client/app/bundles/course/level/pages/Level/LevelView.scss
  client/app/bundles/course/level/pages/Level/index.jsx
  client/app/bundles/course/level/propTypes.js
  client/app/bundles/course/level/reducers/index.js
  client/app/bundles/course/level/reducers/level.js
  client/app/bundles/course/level/store.js
  client/app/bundles/course/levels.js
Due: frontend, backend

Implement frontend editing, deleting, adding levels.
  app/views/course/levels/index.json.jbuilder
  client/app/api/course/Level.js
  client/app/bundles/course/level/actions.js
  client/app/bundles/course/level/components/LevelRow.jsx
  client/app/bundles/course/level/constants.js
  client/app/bundles/course/level/pages/Level/LevelView.scss
  client/app/bundles/course/level/pages/Level/index.jsx
  client/app/bundles/course/level/propTypes.js
  client/app/bundles/course/level/reducers/level.js
Due: frontend, backend

Save Levels.
  app/controllers/course/levels_controller.rb
  app/models/concerns/course/levels_concern.rb
  app/models/course.rb
  app/models/course/level.rb
  app/views/course/levels/_form.html.slim
  app/views/course/levels/_level.html.slim
  app/views/course/levels/new.html.slim
  client/app/api/course/Level.js
  client/app/bundles/course/level/actions.js
  client/app/bundles/course/level/components/LevelRow.jsx
  client/app/bundles/course/level/constants.js
  client/app/bundles/course/level/pages/Level/index.jsx
  client/app/bundles/course/level/reducers/level.js
  config/routes.rb
Due: frontend, backend

Rename TargetCourseSelector as DestinationCourseSelector
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/NewCourseForm.jsx
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/index.jsx
Due: frontend

Make course duplication the default duplication mode
  client/app/bundles/course/duplication/pages/Duplication/TargetCourseSelector/index.jsx
  client/app/bundles/course/duplication/reducers/duplication.js
Due: frontend

Move duplication item selectors into folder
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/AchievementsSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/AssessmentsSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/MaterialsSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/SurveysSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/VideosSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/index.jsx
Due: frontend

Reorganise duplication interface
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/NewCourseForm.jsx
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateAllButton.jsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateButton.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelectorMenu/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/index.jsx
Due: frontend

Move duplication current item selector panel state to reducer
  client/app/bundles/course/duplication/actions.js
  client/app/bundles/course/duplication/constants.js
  client/app/bundles/course/duplication/pages/Duplication/index.jsx
  client/app/bundles/course/duplication/reducers/duplication.js
Due: frontend

Factor out items selector panel
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/index.jsx
Due: frontend

Scope lesson plan index to items which belong to enabled components.
  app/controllers/components/course/assessments_component.rb
  app/controllers/components/course/controller_component_host.rb
  app/controllers/components/course/lesson_plan_component.rb
  app/controllers/components/course/survey_component.rb
  app/controllers/components/course/videos_component.rb
  app/controllers/course/lesson_plan/items_controller.rb
  app/models/course/lesson_plan/item.rb
  spec/controllers/course/lesson_plan/items_controller_spec.rb
Due: backend

Fix specs for Level editing.
  client/app/api/course/Level.js
  client/app/bundles/course/level/actions.js
  client/app/bundles/course/level/components/LevelRow.jsx
  client/app/bundles/course/level/index.jsx
  client/app/bundles/course/level/pages/Level/index.jsx
  client/app/bundles/course/level/reducers/level.js
  client/app/bundles/course/translations.intl.js
  config/locales/en/course/levels.yml
  spec/controllers/course/levels_controller_spec.rb
  spec/features/course/level_management_spec.rb
  spec/models/course/level_spec.rb
Due: frontend

Apply webkit-scrollbar to forms in React modals.
  client/app/bundles/course/achievement/pages/AchievementIndex/index.jsx
  client/app/bundles/course/assessment/pages/AssessmentIndex/index.jsx
  client/app/lib/components/FormDialogue.jsx
  client/app/lib/styles/ModalForm.scss
  client/package.json
Due: frontend

Plaintext Text Response submission answer window when qn is autogradable
  client/app/bundles/course/assessment/submission/components/Answers.jsx
Due: frontend

Bundle Update on 2017-12-14
  Gemfile
  Gemfile.lock
Due: none

Hide Text Response solutions for staff when student view is enabled
  client/app/bundles/course/assessment/submission/components/Answers.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
Due: frontend

Add Video Session and Event Model
  app/models/components/course/videos_ability_component.rb
  app/models/course/video/event.rb
  app/models/course/video/session.rb
  app/models/course/video/submission.rb
  config/locales/en/activerecord/course/video/session.yml
  db/migrate/20171212063353_create_course_video_sessions.rb
  db/migrate/20171212151525_create_course_video_events.rb
  db/schema.rb
Due: backend

Bundle Update on 2017-12-19
  Gemfile.lock
Due: none
