Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

chore(circleci): add redis
  .circleci/config.yml
Due: none

style: fix typography
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/lib/components/core/BarChart.jsx
Due: frontend

fix(assessment session): save session_key in redis instead of in the session itself
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/controllers/course/material/materials_controller.rb
  app/services/course/assessment/session_authentication_service.rb
  app/services/course/assessment/session_log_service.rb
Due: backend

feat(redis): add redis initializers
  Gemfile
  config/initializers/redis.rb
Due: none

refactor(assessment auth service): move key to redis
  app/services/course/assessment/authentication_service.rb
  spec/models/course/assessment/assessment_ability_spec.rb
Due: backend

feat(MaterialsAPI): `fetch` now responds with `name`
  app/controllers/course/material/materials_controller.rb
  client/app/api/course/Materials.ts
  client/app/types/course/material/files.ts
Due: frontend, backend

style(HeartbeatDetailCard): remove unused `moment` import
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/HeartbeatDetailCard.tsx
  client/app/routers/AuthenticatedApp.tsx
Due: frontend

style(utils): remove unused todo comment
  client/app/lib/components/table/utils.ts
Due: frontend

feat(MaterialsAPI): use TypeScript
  client/app/api/course/Materials.js
  client/app/api/course/Materials.ts
  client/app/bundles/course/assessment/components/FileManager/index.tsx
Due: frontend

feat(materials): download file with Axios, add confirmation pages
  client/app/api/course/Materials.ts
  client/app/bundles/course/material/files/DownloadingFilePage.tsx
  client/app/bundles/course/material/files/ErrorRetrievingFilePage.tsx
  client/app/bundles/course/material/files/components/BaseDownloadFilePage.tsx
  client/app/bundles/course/material/materialLoader.ts
  client/app/routers/AuthenticatedApp.tsx
Due: frontend

chore(deps-dev): bump prettier from 3.0.3 to 3.1.0 in /client
  client/app/api/course/Assessment/Submission/Answer/Programming.js
  client/app/api/course/Assessment/Submissions.js
  client/app/api/course/ExperiencePointsRecord.ts
  client/app/api/course/PersonalTimes.ts
  client/app/api/system/InstanceAdmin.ts
  client/app/bundles/course/assessment/submission/components/ScribingView/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/package.json
  client/yarn.lock
Due: frontend

fix(assessment/monitoring_concern): cannot enable monitoring, password
  app/controllers/concerns/course/assessment/monitoring_concern.rb
  app/controllers/course/assessment/assessments_controller.rb
Due: backend

feat(monitor): validate assessment must be password-protected
  app/models/course/monitoring/monitor.rb
  config/locales/en/activerecord/course/monitoring/monitor.yml
  spec/factories/course_monitoring_monitors.rb
  spec/models/course/monitoring/monitor_spec.rb
Due: backend

chore(eslint): remove `explicit-function-return-type` as at 6.11.0
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.tsx
Due: frontend

fix(assessment/monitoring_concern): TAs get blocked by monitor
  app/controllers/concerns/course/assessment/monitoring_concern.rb
Due: backend

fix(assessment/monitoring_concern): `blocks: false` conditionally
  app/controllers/concerns/course/assessment/monitoring_concern.rb
  spec/services/course/assessment/monitoring_service_spec.rb
  spec/services/course/assessment/submission/monitoring_service_spec.rb
Due: backend

fix(assessment/monitoring_service_spec): no assessment association
  spec/services/course/assessment/monitoring_service_spec.rb
Due: none

style(live_monitoring_channel): prefer `current_course`
  app/channels/course/monitoring/live_monitoring_channel.rb
Due: backend

fix(live_monitoring_channel): session creator should be course user name
  app/channels/course/monitoring/live_monitoring_channel.rb
Due: backend

feat(PulseGrid): add links to submissions
  app/channels/course/monitoring/live_monitoring_channel.rb
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ActiveSessionBlob.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionDetailsPopup.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/types/channels/liveMonitoring.ts
Due: frontend, backend

fix(assessment_controller): `upsert_monitoring!` properly on `#create`
  app/controllers/course/assessment/assessments_controller.rb
Due: backend

fix(assessment/monitoring_concern): cannot save when no monitors
  app/controllers/concerns/course/assessment/monitoring_concern.rb
Due: backend

fix(assessment/monitoring_service): cannot create `enabled?` monitor
  app/services/course/assessment/monitoring_service.rb
Due: backend

refactor(assessments_controller): query submissions only once
  app/views/course/assessment/assessments/show.json.jbuilder
Due: backend

fix(submission/monitoring_concern): blocked when viewing submission
  app/controllers/concerns/course/assessment/submission/monitoring_concern.rb
Due: backend

fix(assessment/monitoring_concern): blocked when viewing submission
  app/controllers/concerns/course/assessment/monitoring_concern.rb
  app/controllers/course/assessment/assessments_controller.rb
  app/views/course/assessment/assessments/show.json.jbuilder
Due: backend
