Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Hook up components with Redux instead
  client/app/bundles/course/video/submission/containers/Submission.jsx
  client/app/bundles/course/video/submission/containers/VideoControls/PlayBackRateSelector.jsx
  client/app/bundles/course/video/submission/containers/VideoControls/PlayButton.jsx
  client/app/bundles/course/video/submission/containers/VideoControls/VideoPlayerSlider.jsx
  client/app/bundles/course/video/submission/containers/VideoControls/VolumeButton.jsx
  client/app/bundles/course/video/submission/containers/VideoControls/VolumeSlider.jsx
  client/app/bundles/course/video/submission/containers/VideoPlayer.jsx
Due: frontend

Fix the display of active users/instance_users counts * Calculate the active user counts using active instance_user
  app/models/instance.rb
  app/models/user.rb
  app/views/system/admin/instance/users/index.html.slim
  spec/models/instance_spec.rb
Due: backend

Re-attempt question before grading.
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/jobs/course/assessment/answer/auto_grading_job.rb
  app/jobs/course/assessment/answer/reduce_priority_auto_grading_job.rb
  app/models/course/assessment/answer.rb
  app/services/course/assessment/answer/auto_grading_service.rb
  app/services/course/assessment/submission/update_service.rb
Due: backend

Set current_answer flag to true for the first answer.
  app/services/course/assessment/submission/update_service.rb
Due: backend

Add current_answer flag to course_assessment_answers.
  db/migrate/20170720080032_add_current_answer_to_course_assessment_answers.rb
  db/schema.rb
Due: none

Display current_answer when loading submission edit page.
  app/helpers/course/assessment/submission/submissions_autograded_helper.rb
  app/models/course/assessment/submission.rb
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
Due: backend

Finalise/unsubmit current_answer when submitting/unsubmitting submission.
  app/models/concerns/course/assessment/submission/workflow_event_concern.rb
  app/services/course/assessment/submission/auto_grading_service.rb
Due: backend

Destroy last answer if job failed and re-grade.
  app/services/course/assessment/submission/update_service.rb
Due: backend

Highlight correct options for MRQ questions on submission page
  client/app/bundles/course/assessment/submission/components/CheckboxFormGroup.jsx
Due: frontend

Modify last_answer helper to return last non-current answer.
  app/helpers/course/assessment/submission/submissions_autograded_helper.rb
  app/helpers/course/assessment/submission/submissions_helper.rb
  app/models/concerns/course/assessment/submission/answers_concern.rb
  app/services/course/assessment/submission/update_service.rb
Due: backend

Remove latest_answers model method.
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/concerns/course/assessment/questions_concern.rb
  app/models/course/assessment/submission.rb
Due: backend

Clear test case results and explanations when autograder fails.
  client/app/bundles/course/assessment/submission/reducers/explanations.js
  client/app/bundles/course/assessment/submission/reducers/testCases.js
Due: frontend

Fix specs.
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
  spec/factories/course_assessment_answers.rb
  spec/factories/course_assessment_submissions.rb
  spec/features/course/assessment/submission/manually_graded_spec.rb
  spec/models/course/assessment/assessment_ability_spec.rb
  spec/models/course/assessment/submission_spec.rb
  spec/models/course/assessment_spec.rb
  spec/services/course/assessment/answer/auto_grading_service_spec.rb
  spec/services/course/assessment/submission/auto_grading_service_spec.rb
Due: none

Get autograding job status from last_attempt.
  app/views/course/assessment/answer/programming/_programming.json.jbuilder
Due: backend

Security Update on 2017-09-22
  Gemfile
  Gemfile.lock
Due: none

Show grade string when submission status not 'Unstarted' / 'Attempting'
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
Due: frontend

Show grade as '-- / <max_grade>' when submission status is 'Attempting'
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
Due: frontend

Fix phantom parameter passed wrongly as others
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
Due: frontend

Remove the IntlNotificaitonBar, add its function into NotificationBar
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/lib/components/IntlNotificationBar.jsx
  client/app/lib/components/NotificationBar.jsx
Due: frontend

Able to download statistics in submission page
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/helpers/application_formatters_helper.rb
  app/jobs/course/assessment/submission/statistics_download_job.rb
  app/services/course/assessment/submission/statistics_download_service.rb
  app/views/course/assessment/question/scribing/_scribing.json.jbuilder
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/submissions.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/translations.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  config/locales/en/course/assessment/submission/submissions.yml
  config/routes.rb
  spec/features/course/assessment/submission/download_spec.rb
  spec/services/course/assessment/submission/statistics_download_service_spec.rb
Due: frontend, backend

Remove cancancan-squeel
  Gemfile
  Gemfile.lock
  app/models/course.rb
Due: backend

Update the logic of setting primary email * Make it compatible with the new version of devise-multi_email
  app/controllers/user/emails_controller.rb
  app/models/user.rb
  app/models/user/email.rb
  spec/controllers/user/emails_controller_spec.rb
  spec/models/user/email_spec.rb
  spec/models/user_spec.rb
Due: backend

Upgrade devise-multi_email to 2.0
  Gemfile
  Gemfile.lock
  spec/services/course/user_invitation_service_spec.rb
Due: none

Monkeypatch active_record select_for_count to not choke on Arel nodes
  lib/extensions/core_extensions.rb
  lib/extensions/core_extensions/active_record.rb
  lib/extensions/core_extensions/active_record/relation.rb
Due: backend

Add grader column to submission statistics
  app/services/course/assessment/submission/statistics_download_service.rb
  config/locales/en/course/assessment/submission/submissions.yml
Due: backend

Bundle Update on 2017-09-23
  Gemfile.lock
Due: none

Replace deprecated Devise sign_in bypass option in tests
  spec/libraries/sign_in_with_callback_spec.rb
Due: none

Force display attachment required error when redux-form is pristine during submission
  client/app/bundles/course/assessment/question/scribing/components/FileUploadComponent.jsx
  client/app/bundles/course/assessment/question/scribing/components/FileUploadField.jsx
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/ScribingQuestionForm.intl.js
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/index.jsx
Due: frontend

Center canvas if smaller than canvas container
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingCanvas.jsx
Due: frontend

Modify custom object cursor display
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingCanvas.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingToolbar.jsx
Due: frontend

Hide display of selection box when not in selection tool
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingCanvas.jsx
Due: frontend

Upgrade activerecord-userstamp and simple_form
  Gemfile
  Gemfile.lock
  lib/extensions/association_inverse_suppression/active_record/base.rb
Due: backend

Add create scribing question link
  app/views/course/assessment/assessments/show.html.slim
  config/locales/en/course/assessment/assessments.yml
Due: backend

Set CSS properties for ExpandableText component.
  client/app/bundles/course/assessment/submission/containers/TestCaseView.jsx
  client/app/lib/components/ExpandableText.jsx
Due: frontend

Add summernote editors back to assessment question description and comment fields
  app/views/course/assessment/question/multiple_responses/_form.html.slim
  app/views/course/assessment/questions/_form.html.slim
Due: backend

Revert "Remove cancancan-squeel"
  Gemfile
  Gemfile.lock
Due: none

Set text to editing mode after creation
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingCanvas.jsx
Due: frontend

Enable immediate selection of line/rect after creation
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingCanvas.jsx
Due: frontend

Show selected shape in shapeField
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingToolbar.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/fields/ShapeField.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/popovers/ShapePopover.jsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
