Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

patch(codaveri): temporary disable get help settings on assessment edit page
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.tsx
Due: frontend

chore(rails): upgrade to rails 7.1.4
  Gemfile
  Gemfile.lock
  app/models/course/survey.rb
  app/models/course/survey/question.rb
  config/application.rb
  db/schema.rb
  lib/extensions/database_event/active_record/base.rb
  spec/features/course/assessment/question/programming_management_spec.rb
  spec/libraries/duplicator_spec.rb
  spec/rails_helper.rb
Due: backend

chore(deps): remove unused rails_utils dependency
  Gemfile
  Gemfile.lock
  config/initializers/rails_utils.rb
Due: none

chore: migrate from rails secrets to rails credentials
  .gitignore
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/staging.yml.enc
  config/credentials/test.yml.enc
  config/secrets.yml
Due: none

chore: migrate from rails secrets to rails credentials
  config/application.rb
Due: none

refactor(assessment): move timed assessment
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
Due: frontend

fix(autograded-question): fix step arg preventing changing of question
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
Due: frontend, backend

fix(submission-grading): fix stale values being passed in for submission
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
Due: frontend

refactor(levels): refactor levels page
  app/views/course/levels/index.json.jbuilder
  client/app/api/course/Level.js
  client/app/api/course/Level.ts
  client/app/bundles/course/level/components/LevelRow.jsx
  client/app/bundles/course/level/components/LevelsTable.tsx
  client/app/bundles/course/level/components/LevelsTableRow.tsx
  client/app/bundles/course/level/constants.js
  client/app/bundles/course/level/operations.ts
  client/app/bundles/course/level/pages/LevelsIndex/LevelsManager.tsx
  client/app/bundles/course/level/pages/LevelsIndex/index.jsx
  client/app/bundles/course/level/pages/LevelsIndex/index.tsx
  client/app/bundles/course/level/selector.ts
  client/app/bundles/course/level/store.ts
  client/app/bundles/course/level/types.ts
  client/app/types/course/levels.ts
Due: frontend, backend

test(question-generation): test language disabled
  spec/controllers/course/assessment/question/programming_controller_spec.rb
Due: none

feat(assessments-index): add statistics button to index page
  client/app/bundles/course/assessment/pages/AssessmentsIndex/ActionButtons.tsx
Due: frontend

style(programming-submission): add filenames
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/ProgrammingComponent/FileContent.tsx
  client/app/bundles/course/assessment/submission/components/Editor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFileDownloadChip.tsx
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFileDownloadLink.tsx
  client/app/bundles/course/assessment/submission/containers/ReadOnlyEditor.jsx
Due: frontend

fix(question-generation): fix programming language ordering
  app/controllers/course/assessment/question/programming_controller.rb
Due: backend

fix(assessment): disallow statistics url to be sent if component is disabled
  app/views/course/assessment/assessments/_assessment_actions.json.jbuilder
Due: backend

feat(timed_assessment): further improvement
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/jobs/course/assessment/submission/force_submit_timed_submission_job.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/submission.rb
  app/views/course/assessment/submission/submissions/_submission.json.jbuilder
  app/views/course/assessment/submission/submissions/index.json.jbuilder
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/components/WarningDialog.tsx
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/RemainingTimeTranslation.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/translations.js
  client/app/bundles/course/assessment/submission/reducers/submission.js
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  config/routes.rb
  db/migrate/20240911133816_add_timer_start_at_for_submission.rb
  db/schema.rb
Due: frontend, backend

chore(assessment): add warning on edit
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
Due: frontend

chore(api): gatekeep timer start at and set test
  app/controllers/course/assessment/submission/submissions_controller.rb
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/TimeLimitBanner.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
Due: frontend, backend

refactor(settings): live feedback for assessment
  app/controllers/course/assessment/live_feedback_settings/settings_controller.rb
  app/views/course/assessment/assessments/live_feedback_settings.json.jbuilder
  app/views/course/assessment/live_feedback_settings/settings/index.json.jbuilder
  client/app/api/course/Assessment/Assessments.js
  client/app/bundles/course/admin/pages/CodaveriSettings/components/buttons/LiveFeedbackToggleButton.tsx
  client/app/bundles/course/admin/reducers/codaveriSettings.ts
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
  client/app/bundles/course/assessment/operations/assessments.ts
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.tsx
  config/routes.rb
Due: frontend, backend

chore(test): add live feedback settings test
  spec/controllers/course/assessment/live_feedback_settings/settings_controller_spec.rb
Due: none

refactor(live_feedback): settings when codaveri is disabled for course
  app/models/course/assessment/answer/programming.rb
  app/views/course/assessment/assessments/edit.json.jbuilder
  app/views/course/assessment/assessments/live_feedback_settings.json.jbuilder
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
  client/app/bundles/course/admin/pages/CodaveriSettings/components/buttons/LiveFeedbackToggleButton.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/types.ts
  client/app/bundles/course/assessment/pages/AssessmentEdit/AssessmentEditPage.jsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/AutogradedActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/NonAutogradedProgrammingActionButtonsRow.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/ReevaluateButton.tsx
  client/app/bundles/course/assessment/submission/types.ts
Due: frontend, backend

fix(totalGrade): render totalGrade when it's zero
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
Due: frontend

fix(grading-field): pass new question id properly
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
Due: frontend

refactor(AssessmentForm): split monitoring components out
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/monitoring/BlocksInvalidBrowserFormField.tsx
  client/app/bundles/course/assessment/components/monitoring/EnableMonitoringFormField.tsx
  client/app/bundles/course/assessment/components/monitoring/MonitoringIntervalsFormFields.tsx
  client/app/bundles/course/assessment/components/monitoring/MonitoringOptionsFormFields.tsx
  client/app/bundles/course/assessment/components/monitoring/translations.ts
Due: frontend

feat(AssessmentForm): add browser authorization
  app/models/course/monitoring/monitor.rb
  app/services/course/assessment/monitoring_service.rb
  app/views/course/assessment/assessments/_monitoring_details.json.jbuilder
  client/app/bundles/course/assessment/components/AssessmentForm/useFormValidation.tsx
  client/app/bundles/course/assessment/components/monitoring/BlocksInvalidBrowserFormField.tsx
  client/app/bundles/course/assessment/components/monitoring/BrowserAuthorizationMethodOptionsFormFields/SebConfigKeyOptionsFormFields.tsx
  client/app/bundles/course/assessment/components/monitoring/BrowserAuthorizationMethodOptionsFormFields/UserAgentOptionsFormFields.tsx
  client/app/bundles/course/assessment/components/monitoring/BrowserAuthorizationMethodOptionsFormFields/common.ts
  client/app/bundles/course/assessment/components/monitoring/BrowserAuthorizationMethodOptionsFormFields/index.tsx
  client/app/bundles/course/assessment/components/monitoring/BrowserAuthorizationOptionsFormFields.tsx
  client/app/bundles/course/assessment/components/monitoring/MonitoringOptionsFormFields.tsx
  client/app/bundles/course/assessment/components/monitoring/translations.ts
  config/locales/en/activerecord/course/monitoring/heartbeat.yml
  config/locales/en/activerecord/course/monitoring/monitor.yml
  db/migrate/20240904091136_add_browser_authorization_to_monitoring.rb
  db/schema.rb
Due: frontend, backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
