Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

docs(client): add mobile-first approach
  client/README.md
Due: none

docs(client): add front-end styling guidelines
  client/README.md
Due: none

feat(admin): supports json requests
  app/controllers/course/admin/admin_controller.rb
  app/controllers/course/admin/controller.rb
  app/helpers/course/controller_helper.rb
  app/models/course.rb
  app/views/course/admin/admin/index.json.jbuilder
  app/views/course/admin/index.html.slim
Due: backend

feat(admin): migrate store to redux toolkit
  client/app/bundles/course/admin/actions/index.js
  client/app/bundles/course/admin/actions/lesson-plan-items.js
  client/app/bundles/course/admin/actions/lessonPlan.ts
  client/app/bundles/course/admin/actions/notifications.js
  client/app/bundles/course/admin/actions/notifications.ts
  client/app/bundles/course/admin/constants.js
  client/app/bundles/course/admin/lesson-plan-settings.jsx
  client/app/bundles/course/admin/notification-settings.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/MilestoneGroupSettings.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/index.jsx
  client/app/bundles/course/admin/reducers/index.js
  client/app/bundles/course/admin/reducers/lessonPlanSettings.js
  client/app/bundles/course/admin/reducers/lessonPlanSettings.ts
  client/app/bundles/course/admin/reducers/notificationSettings.js
  client/app/bundles/course/admin/reducers/notificationSettings.ts
  client/app/bundles/course/admin/store.js
  client/app/bundles/course/admin/store.ts
Due: frontend

feat(forum_settings): controller supports json requests
  app/controllers/course/admin/forum_settings_controller.rb
  app/views/course/admin/forum_settings/edit.json.jbuilder
Due: backend

feat(assessment_settings): controller supports json requests
  app/controllers/course/admin/assessment_settings_controller.rb
  app/controllers/course/admin/assessments/categories_controller.rb
  app/controllers/course/admin/assessments/tabs_controller.rb
  app/views/course/admin/assessment_settings/edit.json.jbuilder
Due: backend

feat(announcement_settings): controller supports json requests
  app/controllers/course/admin/announcement_settings_controller.rb
  app/views/course/admin/announcement_settings/edit.json.jbuilder
Due: backend

feat(leaderboard_settings): controller supports json requests
  app/controllers/course/admin/leaderboard_settings_controller.rb
  app/views/course/admin/leaderboard_settings/edit.json.jbuilder
Due: backend

feat(component_settings): controller supports json requests
  app/controllers/course/admin/component_settings_controller.rb
  app/models/concerns/course_component_query_concern.rb
  app/views/course/admin/component_settings/edit.json.jbuilder
Due: backend

feat(sidebar_settings): controller supports json requests
  app/controllers/course/admin/sidebar_settings_controller.rb
  app/models/course/settings/sidebar.rb
  app/models/course/settings/sidebar_item.rb
  app/views/course/admin/sidebar_settings/edit.json.jbuilder
Due: backend

feat(material_settings): controller supports json requests
  app/controllers/course/admin/material_settings_controller.rb
  app/views/course/admin/material_settings/edit.json.jbuilder
Due: backend

feat(video_settings): controller supports json requests
  app/controllers/course/admin/video_settings_controller.rb
  app/controllers/course/admin/videos/tabs_controller.rb
  app/views/course/admin/video_settings/edit.json.jbuilder
Due: backend

feat(lesson_plan_settings): add support for json requests
  app/controllers/course/admin/lesson_plan_settings_controller.rb
  app/views/course/admin/lesson_plan_settings/edit.json.jbuilder
Due: backend

feat(admin/comments): controller supports json requests
  app/controllers/course/admin/discussion/topic_settings_controller.rb
  app/views/course/admin/discussion/topic_settings/edit.json.jbuilder
Due: backend

feat(hooks): add useTranslation
  client/app/lib/hooks/useTranslation.ts
Due: frontend

feat(admin): provide active sidebar options
  app/views/course/admin/sidebar_settings/show.json.jbuilder
  config/routes.rb
Due: backend

feat(admin): add stubs for pointing to react router
  client/app/bundles/course/admin/admin.js
  client/app/bundles/course/admin/admin.tsx
  client/app/bundles/course/admin/announcement-settings.tsx
  client/app/bundles/course/admin/assessment-settings.tsx
  client/app/bundles/course/admin/component-settings.tsx
  client/app/bundles/course/admin/discussion/topic-settings.tsx
  client/app/bundles/course/admin/forum-settings.tsx
  client/app/bundles/course/admin/leaderboard-settings.tsx
  client/app/bundles/course/admin/lesson-plan-settings.jsx
  client/app/bundles/course/admin/lesson-plan-settings.tsx
  client/app/bundles/course/admin/material-settings.tsx
  client/app/bundles/course/admin/notification-settings.jsx
  client/app/bundles/course/admin/notification-settings.tsx
  client/app/bundles/course/admin/sidebar-settings.js
  client/app/bundles/course/admin/sidebar-settings.tsx
  client/app/bundles/course/admin/video-settings.tsx
Due: frontend

feat(notification_settings): add support for json requests
  app/controllers/course/admin/notification_settings_controller.rb
  app/views/course/admin/notification_settings/edit.json.jbuilder
Due: backend

feat(admin): add enumerable time zones
  app/views/course/admin/admin/time_zones.json.jbuilder
  config/routes.rb
Due: backend

feat(form): add reusable form component
  client/app/lib/components/form/Form.tsx
  client/app/lib/translations/form.ts
Due: frontend

feat(section): support for custom content classname
  client/app/lib/components/layouts/Section.tsx
Due: frontend

feat(hooks): add suspender for suspense
  client/app/lib/hooks/suspended.ts
Due: frontend

feat(layouts): add subsection
  client/app/lib/components/layouts/Subsection.tsx
Due: frontend

feat(components): add prompt
  client/app/lib/components/Prompt.tsx
  client/app/lib/translations/form.ts
Due: frontend

fix(formtextfield): values not reactive to outside changes
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.tsx
  client/app/lib/components/form/fields/TextField.jsx
Due: frontend

feat(formselectfield): support for native select for large lists
  client/app/lib/components/form/fields/SelectField.jsx
Due: frontend

feat(formtextfield): support for number types
  client/app/lib/components/form/fields/TextField.jsx
Due: frontend

feat(admin): notification settings fetches via json
  client/app/api/course/Admin/Notifications.js
  client/app/api/course/Admin/Notifications.ts
  client/app/bundles/course/admin/actions/notifications.ts
  client/app/bundles/course/admin/pages/NotificationSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/index.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/operations.ts
  client/app/bundles/course/admin/reducers/notificationSettings.ts
  client/app/types/course/admin/notifications.ts
Due: frontend

feat(admin): lesson plan settings fetches via json
  client/app/api/course/Admin/LessonPlan.js
  client/app/api/course/Admin/LessonPlan.ts
  client/app/bundles/course/admin/pages/LessonPlanSettings/MilestoneGroupSettings.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/admin/pages/LessonPlanSettings/operations.ts
  client/app/bundles/course/admin/reducers/lessonPlanSettings.ts
  client/app/types/course/admin/lessonPlan.ts
Due: frontend

feat(components): add switchabletextfield
  client/app/lib/components/SwitchableTextField.tsx
Due: frontend

feat(admin): add react announcements settings
  client/app/api/course/Admin/Announcements.ts
  client/app/api/course/Admin/Base.js
  client/app/api/course/Admin/Base.ts
  client/app/bundles/course/admin/pages/AnnouncementsSettings/AnnouncementsSettingsForm.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/index.tsx
  client/app/bundles/course/admin/pages/AnnouncementsSettings/operations.ts
  client/app/bundles/course/admin/pages/AnnouncementsSettings/translations.ts
  client/app/bundles/course/admin/translations.ts
  client/app/types/course/admin/announcements.ts
Due: frontend

feat(admin): add react materials settings
  client/app/api/course/Admin/Materials.ts
  client/app/bundles/course/admin/pages/MaterialsSettings/MaterialsSettingsForm.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/index.tsx
  client/app/bundles/course/admin/pages/MaterialsSettings/operations.ts
  client/app/bundles/course/admin/pages/MaterialsSettings/translations.ts
  client/app/types/course/admin/materials.ts
Due: frontend

feat(admin): add react forums settings
  client/app/api/course/Admin/Forums.ts
  client/app/bundles/course/admin/pages/ForumsSettings/ForumsSettingsForm.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/index.tsx
  client/app/bundles/course/admin/pages/ForumsSettings/operations.ts
  client/app/bundles/course/admin/pages/ForumsSettings/translations.ts
  client/app/types/course/admin/forums.ts
Due: frontend

feat(admin): add react comments settings
  client/app/api/course/Admin/Comments.ts
  client/app/bundles/course/admin/pages/CommentsSettings/CommentsSettingsForm.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/index.tsx
  client/app/bundles/course/admin/pages/CommentsSettings/operations.ts
  client/app/bundles/course/admin/pages/CommentsSettings/translations.ts
  client/app/types/course/admin/comments.ts
Due: frontend

feat(admin): add react components settings
  client/app/api/course/Admin/Components.ts
  client/app/bundles/course/admin/pages/ComponentSettings/ComponentSettingsForm.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/index.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/operations.ts
  client/app/bundles/course/admin/pages/ComponentSettings/translations.ts
  client/app/types/course/admin/components.ts
Due: frontend

feat(admin): add react sidebar settings
  client/app/api/course/Admin/Sidebar.ts
  client/app/bundles/course/admin/pages/SidebarSettings/SidebarSettingsForm.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/index.tsx
  client/app/bundles/course/admin/pages/SidebarSettings/operations.ts
  client/app/bundles/course/admin/pages/SidebarSettings/translations.ts
  client/app/types/course/admin/sidebar.ts
  client/package.json
  client/yarn.lock
Due: frontend

feat(admin): add react videos settings
  client/app/api/course/Admin/Videos.ts
  client/app/bundles/course/admin/pages/VideosSettings/VideosSettingsForm.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/Tab.tsx
  client/app/bundles/course/admin/pages/VideosSettings/VideosTabsManager/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/index.tsx
  client/app/bundles/course/admin/pages/VideosSettings/operations.ts
  client/app/bundles/course/admin/pages/VideosSettings/translations.ts
  client/app/types/course/admin/videos.ts
Due: frontend

feat(admin): add react main course settings entry point
  client/app/bundles/course/admin/components/SettingsNavigation.tsx
  client/app/bundles/course/admin/index.tsx
Due: frontend

feat(admin): add react assessments settings
  client/app/api/course/Admin/Assessments.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentSettingsForm.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/index.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/operations.ts
  client/app/bundles/course/admin/pages/AssessmentSettings/translations.ts
  client/app/types/course/admin/assessments.ts
  client/tailwind.config.js
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
