Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

fix(course assessment page): use personal timeline for warning
  app/helpers/course/assessment/assessments_helper.rb
  app/views/course/assessment/assessments/_assessment.html.slim
  app/views/course/assessment/assessments/show.html.slim
  config/locales/en/course/assessment/assessments.yml
Due: backend

feat(assessment password): students cannot input password if assessment not open
  app/views/course/assessment/assessments/authenticate.html.slim
  config/locales/en/course/assessment/assessments.yml
Due: backend

fix(assessment password): improve message clarity
  app/views/course/assessment/assessments/authenticate.html.slim
  config/locales/en/course/assessment/assessments.yml
Due: backend

feat(survey duplication): prevent duplication of reminder date
  app/models/course/survey.rb
  spec/services/course/duplication/object_duplication_service_spec.rb
Due: backend

style(form dialogue): fix form dialogue position
  client/app/bundles/course/assessment/pages/AssessmentIndex/index.jsx
  client/app/lib/components/FormDialogue.jsx
Due: frontend

style(tabbed-view): change tab view to use stepper
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
Due: frontend

test(assessment password): add test for password unlock
  spec/controllers/course/assessment/assessments_controller_spec.rb
Due: none

fix(assessment password): add additional unlock check
  app/controllers/course/assessment/assessments_controller.rb
  app/helpers/course/assessment/assessments_helper.rb
  app/views/course/assessment/assessments/authenticate.html.slim
  config/locales/en/course/assessment/assessments.yml
Due: backend

style(assessment password): rename variables
  app/controllers/course/assessment/assessments_controller.rb
  app/helpers/course/assessment/assessments_helper.rb
  app/views/course/assessment/assessments/_assessment.html.slim
  app/views/course/assessment/assessments/authenticate.html.slim
  app/views/course/assessment/assessments/show.html.slim
  config/locales/en/course/assessment/assessments.yml
Due: backend

feat(submissions stats) add publisher column to csv
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/jobs/course/assessment/submission/statistics_download_job.rb
  app/services/course/assessment/submission/statistics_download_service.rb
  config/locales/en/course/assessment/submission/submissions.yml
  spec/services/course/assessment/submission/statistics_download_service_spec.rb
Due: backend

fix(Submission-edit-form): fix ?step=N
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

refactor(submissions): add chips to colour code and differentiate between various submission statuses
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
Due: frontend

refactor(submisssions): changing to class component and add theme WIP
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsStyle.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index copy.jsx
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

refactor(narrow-editor): change comment view
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
Due: frontend

style(annotations): increase border clarity
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
Due: frontend

refactor(submissions): refactor submissionsIndex to functional component
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsStyle.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index copy.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/theme/palette.js
Due: frontend

refactor(submissions): update rows to functional component, add theme, WIP
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
Due: frontend

fix(submissions): fix bugs with setState and change palette
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/theme/palette.js
Due: frontend

style(submissions): fix linting errors
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
Due: frontend

fix(submissions): fix minor warnings and alignments issues
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
Due: frontend

style(submissions): fix linting
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
Due: frontend

refactor(submissions): move colours to theme palette
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/theme/palette.js
Due: frontend

refactor(surveys): update barchart to follow submissions barchart, fix linting and spelling errors, fix bug on value for my-student-tab
  client/app/bundles/course/assessment/containers/MaterialUploader/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
  client/app/bundles/course/video/submission/actions/discussion.js
  client/app/lib/components/BarChart.jsx
Due: frontend

feat(default timeline): add default timeline algorithm in course settings
  app/controllers/course/admin/admin_controller.rb
  app/controllers/course/enrol_requests_controller.rb
  app/controllers/course/user_invitations_controller.rb
  app/models/course.rb
  app/models/course/user_invitation.rb
  app/models/course_user.rb
  app/models/user.rb
  app/services/course/user_registration_service.rb
  app/views/course/admin/admin/index.html.slim
  client/app/bundles/course/admin/admin.js
  config/locales/en/course/admin/admin.yml
  config/locales/en/course/users.yml
  db/migrate/20220519015535_add_default_timeline_algorithm_to_course.rb
  db/migrate/20220519055836_add_timeline_algorithm_to_user_invitation.rb
  db/schema.rb
  spec/factories/courses.rb
  spec/models/course_spec.rb
  spec/models/course_user_spec.rb
Due: frontend, backend

refactor(surveybar): remove chips test for survey bar
  client/app/bundles/course/survey/pages/ResponseIndex/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/index.jsx
Due: frontend

fix(lesson plan): fix unauthorized header buttons shown in lesson plan page
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/index.jsx
Due: frontend

refactor(surveybar): remove chips test for survey bar
  config/locales/en/activerecord/course/assessment/submission.yml
  spec/features/course/assessment/submission/submissions_spec.rb
Due: none
