Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

refactor(user video table): remove commented code
  client/app/bundles/course/video-submissions/components/tables/UserVideoSubmissionTable.tsx
Due: frontend

refactor(datatable): abstract datatable vertical margin and loading overlay
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/enrol-requests/components/tables/EnrolRequestsTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/DisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumDisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumPostTable.tsx
  client/app/bundles/course/forum/components/tables/ForumTable.tsx
  client/app/bundles/course/forum/components/tables/ForumTopicTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultInvitationsTable.tsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultUsersTable.tsx
  client/app/bundles/course/user-invitations/components/tables/UserInvitationsTable.tsx
  client/app/bundles/course/users/components/tables/ManageUsersTable.tsx
  client/app/bundles/course/video-submissions/components/tables/UserVideoSubmissionTable.tsx
  client/app/bundles/course/video/components/tables/VideoTable.tsx
  client/app/bundles/course/video/submission/components/tables/VideoSubmissionsTable.tsx
  client/app/bundles/system/admin/admin/components/tables/CoursesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/InstancesTable.tsx
  client/app/bundles/system/admin/admin/components/tables/UsersTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InstanceUserRoleRequestsTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InvitationResultInvitationsTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/InvitationResultUsersTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UserInvitationsTable.tsx
  client/app/bundles/system/admin/instance/instance/components/tables/UsersTable.tsx
  client/app/lib/components/core/layouts/DataTable.jsx
Due: frontend

fix: rename message when some tables are empty
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/video/components/tables/VideoTable.tsx
Due: frontend

refactor(exp points): rename type import filename
  client/app/bundles/course/experience-points/disbursement/operations.ts
Due: frontend

feat(react forum port): rewrite routes for forum page
  config/routes.rb
Due: none

refactor(forum porting): remove unused rails i18n
  config/locales/en/breadcrumbs.yml
  config/locales/en/common.yml
  config/locales/en/course/discussion/posts.yml
  config/locales/en/course/forum/forums.yml
  config/locales/en/course/forum/posts.yml
  config/locales/en/course/forum/topics.yml
  config/locales/en/javascript/course/discussion/post.yml
  config/locales/en/layout.yml
Due: none

feat(react forum topic post port): create API response for forum topic post endpoints and remove slim files
  app/assets/stylesheets/course/forum/_post.scss
  app/assets/stylesheets/course/forum/posts.scss
  app/views/course/forum/posts/_form.html.slim
  app/views/course/forum/posts/_post.html.slim
  app/views/course/forum/posts/_post_chain.slim
  app/views/course/forum/posts/_post_list_data.json.jbuilder
  app/views/course/forum/posts/create.json.jbuilder
  app/views/course/forum/posts/edit.html.slim
  app/views/course/forum/posts/reply.html.slim
Due: backend

refactor: rename intl key
  client/app/bundles/course/courses/components/misc/NotificationCard.tsx
Due: frontend

feat(forum subscribe tooltip): add manage subscription link to tooltip text
  app/views/course/forum/forums/_forum_list_data.json.jbuilder
  app/views/course/forum/topics/_topic_list_data.json.jbuilder
  client/app/bundles/course/forum/components/buttons/SubscribeButton.tsx
  client/app/lib/hooks/useTranslation.ts
  client/app/types/components/DataTable.ts
  client/app/types/course/forums.ts
Due: frontend, backend

refactor(note component): use tailwind for styling
  client/app/lib/components/core/Note.jsx
Due: frontend

refactor(forum module): use tailwind
  client/app/bundles/course/forum/components/buttons/ForumTopicPostManagementButtons.tsx
  client/app/bundles/course/forum/pages/ForumEdit/index.tsx
  client/app/bundles/course/forum/pages/ForumNew/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicEdit/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicNew/index.tsx
Due: frontend

feat(react forum topic port): rewrite forum topics controller
  app/controllers/concerns/course/forum/topic_controller_hiding_concern.rb
  app/controllers/concerns/course/forum/topic_controller_locking_concern.rb
  app/controllers/concerns/course/forum/topic_controller_subscription_concern.rb
  app/controllers/course/forum/topics_controller.rb
Due: backend

feat(react forum port): rewrite forums controller
  app/controllers/course/forum/forums_controller.rb
  app/helpers/course/forum/controller_helper.rb
  app/models/components/course/forums_ability_component.rb
Due: backend

chore(debounced text field): remove unused component
  client/app/lib/components/form/fields/DebouncedTextField.jsx
Due: frontend

refactor(forum porting): remove unused files
  app/assets/javascripts/templates/course/discussion/post.jst.ejs
  app/assets/stylesheets/course/discussion/_post.scss
  app/views/course/discussion/_posts.html.slim
  app/views/course/discussion/_topic.html.slim
  app/views/layouts/_search_form.html.slim
Due: backend

refactor(rails): remove unused file
  app/inputs/course_assessment_answer_multiple_response_input.rb
Due: backend

feat(react forum topic post port): rewrite forum topic posts controller
  app/controllers/course/forum/posts_controller.rb
  app/models/concerns/course/discussion/post/ordering_concern.rb
Due: backend

test(react forum porting): refactor forum controller tests
  spec/controllers/course/discussion/topics_controller_spec.rb
  spec/controllers/course/forum/forums_controller_spec.rb
  spec/controllers/course/forum/posts_controller_spec.rb
  spec/controllers/course/forum/topics_controller_spec.rb
  spec/features/course/forum/search_spec.rb
Due: none

fix(forum subscription): change get to post/delete for forum and topic subscriptions
  app/controllers/concerns/course/forum/topic_controller_subscription_concern.rb
  client/app/api/course/Forum/Forums.ts
  client/app/api/course/Forum/Topics.ts
  client/app/bundles/course/forum/pages/ForumEdit/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicEdit/index.tsx
  config/routes.rb
Due: frontend, backend

fix(user profile): add space to text
  client/app/bundles/course/users/components/misc/UserProfileCard.tsx
Due: frontend

refactor(note): use note component for page with empty content
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/bundles/course/courses/components/misc/CourseEnrollOptions.tsx
  client/app/bundles/course/discussion/topics/components/lists/TopicList.tsx
  client/app/bundles/course/enrol-requests/pages/UserRequests/index.tsx
  client/app/bundles/course/users/pages/ManageStaff/index.tsx
  client/app/bundles/course/users/pages/ManageStudents/index.tsx
  client/app/bundles/course/users/pages/PersonalTimesShow/index.tsx
Due: frontend

feat(form dialog): create form dialog component
  client/app/lib/components/form/dialog/FormDialog.tsx
Due: frontend

refactor(forum form): use form dialog
  client/app/bundles/course/forum/components/buttons/ForumManagementButtons.tsx
  client/app/bundles/course/forum/components/buttons/ForumTopicManagementButtons.tsx
  client/app/bundles/course/forum/components/forms/ForumForm.tsx
  client/app/bundles/course/forum/components/forms/ForumTopicForm.tsx
  client/app/bundles/course/forum/pages/ForumEdit/index.tsx
  client/app/bundles/course/forum/pages/ForumNew/index.tsx
  client/app/bundles/course/forum/pages/ForumShow/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicEdit/index.tsx
  client/app/bundles/course/forum/pages/ForumTopicNew/index.tsx
  client/app/bundles/course/forum/pages/ForumsIndex/index.tsx
Due: frontend

refactor(instance form): use form dialog
  client/app/bundles/system/admin/admin/components/forms/InstanceForm.tsx
  client/app/bundles/system/admin/admin/pages/InstanceNew/index.tsx
  client/app/bundles/system/admin/admin/pages/InstancesIndex/index.tsx
  client/app/lib/hooks/useTranslation.ts
Due: frontend

refactor(skill form): use form dialog
  client/app/bundles/course/assessment/skills/components/dialogs/SkillDialog.tsx
  client/app/bundles/course/assessment/skills/components/forms/SkillForm.tsx
  client/app/bundles/course/assessment/skills/pages/SkillsIndex/index.tsx
Due: frontend

refactor(reject with message form): use form dialog
  client/app/bundles/system/admin/instance/instance/components/buttons/PendingRoleRequestsButtons.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/RejectWithMessageForm.tsx
  client/app/bundles/system/admin/instance/instance/components/misc/RejectWithMessageDialog.tsx
Due: frontend

feat(form dialog): add custom primary button text
  client/app/lib/components/form/dialog/FormDialog.tsx
Due: frontend

refactor(invite course user file upload form): use form dialog
  client/app/bundles/course/material/folders/components/buttons/WorkbinTableButtons.tsx
  client/app/bundles/course/material/folders/components/forms/FolderForm.tsx
  client/app/bundles/course/material/folders/components/forms/MaterialForm.tsx
  client/app/bundles/course/material/folders/components/misc/MaterialEdit.tsx
  client/app/bundles/course/material/folders/operations.ts
  client/app/bundles/course/material/folders/pages/FolderEdit/index.tsx
  client/app/bundles/course/material/folders/pages/FolderNew/index.tsx
  client/app/bundles/course/material/folders/pages/FolderShow/index.tsx
  client/app/lib/components/form/dialog/FormDialog.tsx
  client/app/types/course/material/folders.ts
  spec/features/course/material/folder_management_spec.rb
Due: frontend

refactor(form): remove unused div
  client/app/bundles/course/announcements/components/forms/AnnouncementForm.tsx
  client/app/bundles/course/forum/components/forms/ForumForm.tsx
  client/app/bundles/course/forum/components/forms/ForumTopicForm.tsx
  client/app/bundles/course/material/folders/components/forms/FolderForm.tsx
  client/app/bundles/course/video/components/forms/VideoForm.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/InstanceUserRoleRequestForm.tsx
Due: frontend

refactor(form type): remove iforminputs
  client/app/bundles/course/achievement/components/forms/AchievementForm.tsx
  client/app/bundles/course/assessment/skills/components/forms/SkillForm.tsx
  client/app/bundles/course/courses/components/forms/NewCourseForm.tsx
  client/app/bundles/course/forum/components/forms/ForumForm.tsx
  client/app/bundles/course/forum/components/forms/ForumTopicForm.tsx
  client/app/bundles/course/material/folders/components/forms/FolderForm.tsx
  client/app/bundles/course/material/folders/components/forms/MaterialForm.tsx
  client/app/bundles/course/user-invitations/components/forms/InviteUsersFileUploadForm.tsx
  client/app/bundles/course/video/components/forms/VideoForm.tsx
  client/app/bundles/course/video/pages/VideoEdit/index.tsx
  client/app/bundles/system/admin/admin/components/forms/InstanceForm.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/RejectWithMessageForm.tsx
  client/app/types/course/forums.ts
Due: frontend

refactor(announcement form): use form dialog
  client/app/bundles/course/announcements/components/forms/AnnouncementForm.tsx
  client/app/bundles/course/announcements/components/misc/AnnouncementCard.tsx
  client/app/bundles/course/announcements/operations.ts
  client/app/bundles/course/announcements/pages/AnnouncementEdit/index.tsx
  client/app/bundles/course/announcements/pages/AnnouncementNew/index.tsx
  client/app/bundles/course/announcements/pages/AnnouncementsIndex/index.tsx
  client/app/bundles/system/admin/admin/operations.ts
  client/app/bundles/system/admin/admin/pages/AnnouncementsIndex/index.tsx
  client/app/bundles/system/admin/instance/instance/operations.ts
  client/app/bundles/system/admin/instance/instance/pages/InstanceAnnouncementsIndex/index.tsx
  client/app/types/course/announcements.ts
  spec/features/course/announcement_management_spec.rb
  spec/features/system/admin/announcement_management_spec.rb
  spec/features/system/admin/instance/instance_announcement_management_spec.rb
Due: frontend

refactor(error): remove uncaught error
  client/app/bundles/course/assessment/submissions/pages/SubmissionsIndex/index.tsx
  client/app/bundles/course/courses/components/buttons/TodoIgnoreButton.tsx
  client/app/bundles/course/courses/pages/CoursesNew/index.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/FilterForm.tsx
  client/app/bundles/course/video/pages/VideoNew/index.tsx
  client/app/bundles/course/video/pages/VideosIndex/index.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/IndividualInviteForm.tsx
Due: frontend

refactor(new course form): use form dialog
  client/app/bundles/course/courses/components/forms/NewCourseForm.tsx
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/courses/pages/CoursesNew/index.tsx
Due: frontend

refactor(achievement form): use form dialog
  app/controllers/concerns/course/achievement_conditional_concern.rb
  app/controllers/concerns/course/assessment_conditional_concern.rb
  app/controllers/course/achievement/achievements_controller.rb
  client/app/bundles/course/achievement/components/buttons/AchievementManagementButtons.tsx
  client/app/bundles/course/achievement/components/forms/AchievementForm.tsx
  client/app/bundles/course/achievement/index.tsx
  client/app/bundles/course/achievement/operations.ts
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/bundles/course/achievement/pages/AchievementNew/index.tsx
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/lib/components/core/dialogs/Prompt.tsx
  client/app/types/course/achievements.ts
  config/routes.rb
  spec/features/course/achievement_condition_management_spec.rb
  spec/features/course/achievement_management_spec.rb
Due: frontend, backend

refactor(instance user role request form): use form dialog
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/system/admin/instance/instance/components/forms/InstanceUserRoleRequestForm.tsx
Due: frontend

refactor(video form): use form dialog
  client/app/bundles/course/video/components/buttons/VideoManagementButtons.tsx
  client/app/bundles/course/video/components/forms/VideoForm.tsx
  client/app/bundles/course/video/pages/VideoEdit/index.tsx
  client/app/bundles/course/video/pages/VideoNew/index.tsx
  client/app/bundles/course/video/pages/VideosIndex/index.tsx
  client/app/types/course/videos.ts
Due: frontend

refactor(invite course user file upload form): use form dialog
  client/app/bundles/course/user-invitations/components/buttons/UploadFileButton.tsx
  client/app/bundles/course/user-invitations/components/forms/InviteUsersFileUploadForm.tsx
  client/app/bundles/course/user-invitations/pages/InviteUsersFileUpload/index.tsx
  client/app/lib/components/form/fields/SingleFileInput/index.jsx
Due: frontend
