Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

fix(pagination): fix search bug
  client/app/lib/components/Pagination.tsx
Due: frontend

style(courses): fix search bar position
  client/app/bundles/course/courses/components/CourseDisplay.tsx
Due: frontend

refactor(courses): add instructor request button
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/courses/pages/CoursesNew/index.tsx
  client/app/bundles/course/courses/reducers.ts
  client/app/types/course/courses.ts
Due: frontend

fix hound comments
  app/controllers/course/courses_controller.rb
  app/views/course/courses/index.json.jbuilder
Due: backend

refactor(courses): fix styling
  client/app/bundles/course/courses/components/CourseDisplay.tsx
  client/app/bundles/course/courses/components/CourseInfoBox.tsx
Due: frontend

fix all PR comments
  app/controllers/course/courses_controller.rb
  app/views/course/courses/_courses_list_data.json.jbuilder
  app/views/course/courses/index.html.slim
  app/views/course/courses/index.json.jbuilder
  client/app/api/course/Courses.ts
  client/app/bundles/course/courses/actions.ts
  client/app/bundles/course/courses/components/forms/NewCourseForm.tsx
  client/app/bundles/course/courses/components/misc/CourseDisplay.tsx
  client/app/bundles/course/courses/components/misc/CourseInfoBox.scss
  client/app/bundles/course/courses/components/misc/CourseInfoBox.tsx
  client/app/bundles/course/courses/operations.ts
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/courses/pages/CoursesNew/index.tsx
  client/app/bundles/course/courses/reducers.ts
  client/app/bundles/course/courses/selectors.ts
  client/app/bundles/course/courses/types.ts
  client/app/lib/components/Pagination.tsx
  client/app/lib/components/SearchBar.tsx
  client/app/lib/helpers/url-builders.js
  client/app/types/InstanceUserRoleRequestData.ts
  client/app/types/course/courses.ts
Due: frontend, backend

test(role_request): fix role request tests
  app/controllers/course/courses_controller.rb
  client/app/api/course/Courses.ts
  client/app/bundles/course/courses/components/CourseDisplay.tsx
  client/app/bundles/course/courses/operations.ts
  spec/features/instance_user_role_requests_management_spec.rb
Due: frontend, backend

chore: add logger debug for email duplication and course duplication error
  app/models/course/assessment.rb
  app/services/course/duplication/course_duplication_service.rb
Due: backend

feat(leaderboard): migration of new React leaderboard WIP
  app/controllers/course/leaderboards_controller.rb
  app/views/course/leaderboards/index.html.slim
  app/views/course/leaderboards/index.json.jbuilder
  app/views/course/leaderboards/show.html.slim
  client/app/api/course/Leaderboard.ts
  client/app/bundles/course/leaderboard/index.tsx
  client/app/bundles/course/leaderboard/reducers.ts
  client/app/bundles/course/leaderboard/store.ts
  client/app/bundles/course/leaderboards.js
  client/app/index.js
  client/app/types/course/leaderboard.ts
  config/routes.rb
Due: frontend, backend

feat(leaderboard): fix JSON API to frontend WIP
  app/controllers/course/leaderboards_controller.rb
  app/views/course/leaderboards/index.json.jbuilder
  app/views/course/leaderboards/show.html.slim
  client/app/api/course/Leaderboard.ts
  client/app/api/course/index.js
  client/app/bundles/course/leaderboard/actions.ts
  client/app/bundles/course/leaderboard/index.tsx
  client/app/bundles/course/leaderboard/operations.ts
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  config/routes.rb
Due: frontend, backend

fix lint
  client/app/bundles/course/leaderboard/components/tables/LeaderboardPointsTable.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  spec/features/course/leaderboard_viewing_spec.rb
Due: frontend

fix(leaderboard): fix tests
  app/controllers/course/leaderboards_controller.rb
  spec/controllers/course/leaderboards_controller_spec.rb
Due: backend

refactor(leaderboard): addressing PR comments WIP
  app/controllers/course/leaderboards_controller.rb
  app/views/course/leaderboards/_leaderboard_achievement_list_data.json.jbuilder
  app/views/course/leaderboards/_leaderboard_group_list_data.json.jbuilder
  app/views/course/leaderboards/_leaderboard_list_data.json.jbuilder
  app/views/course/leaderboards/index.json.jbuilder
  client/app/api/course/Leaderboard.ts
  client/app/bundles/course/achievement/components/buttons/AchievementManagementButtons.tsx
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardManager.tsx
  client/app/bundles/course/achievement/pages/AchievementNew/index.tsx
  client/app/bundles/course/leaderboard/actions.ts
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardPointsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardPointsTable.tsx
  client/app/bundles/course/leaderboard/operations.ts
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/bundles/course/leaderboard/reducers.ts
  client/app/bundles/course/leaderboard/selectors.ts
  client/app/bundles/course/leaderboard/types.ts
  client/app/lib/helpers/url-builders.js
  client/app/types/components/DataTable.ts
  client/app/types/course/achievements.ts
  client/app/types/course/leaderboard.ts
Due: frontend, backend

refactor(leaderboard): fix linting
  app/controllers/course/leaderboards_controller.rb
  app/views/course/leaderboards/_leaderboard_achievement_list_data.json.jbuilder
Due: backend

refactor(leaderboard): combine tables and add memo
  client/app/bundles/course/achievement/components/buttons/AchievementManagementButtons.tsx
  client/app/bundles/course/achievement/components/tables/AchievementTable.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardManager.tsx
  client/app/bundles/course/achievement/pages/AchievementNew/index.tsx
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardPointsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardPointsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/leaderboard/operations.ts
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/bundles/course/leaderboard/reducers.ts
  client/app/bundles/course/leaderboard/types.ts
  client/app/types/course/leaderboard.ts
Due: frontend

fix(leaderboard): hound issues
  app/controllers/course/leaderboards_controller.rb
Due: backend

fix(leaderboard): minor UI issue
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardPointsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardPointsTable.tsx
Due: frontend

refactor(leaderboard): fix tests WIP
  app/views/course/leaderboards/_group.html.slim
  app/views/course/leaderboards/_tabs.html.slim
  app/views/course/leaderboards/groups.html.slim
  app/views/course/leaderboards/show.html.slim
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  spec/features/course/leaderboard_viewing_spec.rb
Due: frontend, backend

refactor(leaderboard): fix tests WIP
  app/assets/stylesheets/course/leaderboard.scss
Due: backend

feat(leaderboard): Update tables to datatables, fix alignment issues, clean up code
  app/controllers/course/leaderboards_controller.rb
  app/views/course/leaderboards/index.json.jbuilder
  client/app/api/course/Leaderboard.ts
  client/app/bundles/course/achievement/operations.ts
  client/app/bundles/course/leaderboard/LeaderboardAchievementsTable/index.tsx
  client/app/bundles/course/leaderboard/LeaderboardPointsTable/index.tsx
  client/app/bundles/course/leaderboard/actions.ts
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardPointsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardPointsTable.tsx
  client/app/bundles/course/leaderboard/index.tsx
  client/app/bundles/course/leaderboard/operations.ts
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/bundles/course/leaderboard/reducers.ts
  client/app/bundles/course/leaderboard/selectors.ts
  client/app/bundles/course/leaderboard/types.ts
  client/app/index.js
  client/app/types/course/leaderboard.ts
Due: frontend, backend

test(leaderboard): add test capybara WIP
  client/app/bundles/course/leaderboard/components/tables/LeaderboardPointsTable.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  spec/features/course/leaderboard_viewing_spec.rb
Due: frontend

refactor(leaderboard): lint
  app/controllers/course/leaderboards_controller.rb
Due: backend

fix(leaderboard): fix minor bugs
  app/controllers/course/leaderboards_controller.rb
  app/views/course/leaderboards/index.json.jbuilder
  app/views/course/leaderboards/show.html.slim
  client/app/bundles/course/achievement/operations.ts
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardPointsTable.tsx
Due: frontend, backend

feat(leaderboard): update redux WIP
  app/controllers/course/leaderboards_controller.rb
  app/views/course/leaderboards/index.json.jbuilder
  client/app/bundles/course/achievement/operations.ts
  client/app/bundles/course/leaderboard/LeaderboardAchievementsTable/index.tsx
  client/app/bundles/course/leaderboard/LeaderboardPointsTable/index.tsx
  client/app/bundles/course/leaderboard/actions.ts
  client/app/bundles/course/leaderboard/operations.ts
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/bundles/course/leaderboard/reducers.ts
  client/app/bundles/course/leaderboard/selectors.ts
  client/app/bundles/course/leaderboard/types.ts
  client/app/types/course/leaderboard.ts
  client/app/types/store.ts
Due: frontend, backend

refactor(leaderboard): add memo for tab switching
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/GroupLeaderboardPointsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardAchievementsTable.tsx
  client/app/bundles/course/leaderboard/components/tables/LeaderboardPointsTable.tsx
Due: frontend

refactor(leaderboard): fixing PR and tests
  app/controllers/course/leaderboards_controller.rb
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/leaderboard/index.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/lib/helpers/url-builders.js
  client/app/types/course/leaderboard.ts
  spec/features/course/leaderboard_viewing_spec.rb
Due: frontend, backend

refactor(leaderboard): fix lint
  spec/features/course/leaderboard_viewing_spec.rb
Due: none

refactor(leaderboard): fix tests
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/lib/helpers/url-builders.js
  config/locales/en/course/leaderboards.yml
  spec/features/course/leaderboard_viewing_spec.rb
Due: frontend

refactor(leaderboard): remove unnecessary imports
  client/app/bundles/course/leaderboard/index.tsx
Due: frontend

fix(leaderboard): fix i18n
  config/locales/en/course/leaderboards.yml
Due: none

fix tests
  app/controllers/course/leaderboards_controller.rb
  config/locales/en/course/leaderboards.yml
  spec/features/course/admin/leaderboard_settings_spec.rb
Due: backend

fix(leaderboard achievement): remove unnecessary check as achievements in leaderboard are already achieved
  app/views/course/leaderboards/_leaderboard_achievement_list_data.json.jbuilder
Due: backend

fix tests
  spec/controllers/course/leaderboards_controller_spec.rb
  spec/features/course/admin/leaderboard_settings_spec.rb
Due: none
