Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor(surveys): update barchart to follow submissions barchart, fix linting and spelling errors, fix bug on value for my-student-tab
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTableRow.jsx
Due: frontend

chore(deps): bump react-intl from 2.9.0 to 3.12.1
  client/package.json
  client/yarn.lock
Due: none

chore(deps): bump react-intl from 3.12.1 to 4.7.6
  client/package.json
  client/yarn.lock
Due: none

chore(react intl v4): fix failing tests
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewEventButton.test.jsx.snap
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewMilestoneButton.test.jsx.snap
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/__snapshots__/AdminMenu.test.jsx.snap
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
Due: frontend

chore(deps): bump react-intl from 4.7.6 to 5.24.7
  client/package.json
  client/yarn.lock
Due: none

chore(react intl v5): fix failing tests
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewEventButton.test.jsx.snap
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewMilestoneButton.test.jsx.snap
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/__snapshots__/AdminMenu.test.jsx.snap
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
Due: frontend

chore(deps): replace babel-plugin-react-intl with babel-plugin-formatjs
  client/.babelrc
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
  client/package.json
  client/yarn.lock
Due: frontend

chore(react intl): fix typescript issues
  client/app/bundles/course/achievement/components/buttons/AchievementManagementButtons.tsx
  client/app/bundles/course/achievement/components/misc/AchievementReordering.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardManager.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/index.tsx
  client/app/bundles/course/achievement/pages/AchievementEdit/index.tsx
  client/app/bundles/course/achievement/pages/AchievementNew/index.tsx
  client/app/bundles/course/achievement/pages/AchievementShow/index.tsx
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/bundles/course/courses/components/misc/CourseDisplay.tsx
  client/app/bundles/course/courses/components/misc/CourseInfoBox.tsx
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/courses/pages/CoursesNew/index.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/bundles/course/users/components/UserProfileAchievements.tsx
  client/app/bundles/course/users/components/UserProfileCard.tsx
  client/app/bundles/course/users/components/UserProfileSkills.tsx
  client/app/bundles/course/users/pages/UserShow/index.tsx
  client/app/bundles/course/users/pages/UsersIndex/index.tsx
  client/tsconfig.json
Due: frontend

chore(deps): bump react-intl from 5.24.7 to 6.0.4
  client/package.json
  client/yarn.lock
Due: none

refactor(react intl typescript): refactor intl typing props
  client/app/bundles/course/achievement/components/buttons/AchievementManagementButtons.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/AchievementAwardManager.tsx
  client/app/bundles/course/achievement/pages/AchievementAward/index.tsx
  client/app/bundles/course/achievement/pages/AchievementNew/index.tsx
  client/app/bundles/course/courses/components/misc/CourseDisplay.tsx
  client/app/bundles/course/courses/components/misc/CourseInfoBox.tsx
  client/app/bundles/course/courses/pages/CoursesNew/index.tsx
  client/app/bundles/course/users/components/UserProfileAchievements.tsx
  client/app/bundles/course/users/components/UserProfileCard.tsx
  client/app/bundles/course/users/components/UserProfileSkills.tsx
Due: frontend

Revert "chore(deps): bump sidekiq from 6.4.2 to 6.5.0"
  Gemfile.lock
Due: none

fix(course email assessment setting): fix course assessment settings not created when an assessment object is duplicated
  app/models/course/assessment/category.rb
  app/models/course/settings/email.rb
  spec/services/course/duplication/object_duplication_service_spec.rb
Due: backend

feat(consolidated item email job): filter unexpired courses
  app/jobs/consolidated_item_email_job.rb
Due: backend

style(consolidated assessment email): update comment
  app/models/course/assessment.rb
Due: backend

fix(missing email settings): add rake task to add missing email settings
  lib/tasks/db/add_missing_email_settings.rake
Due: backend

style: fix lint
  app/models/course/settings/email.rb
  lib/tasks/db/add_missing_email_settings.rake
  spec/services/course/duplication/object_duplication_service_spec.rb
Due: backend

refactor(enrol and role requests): update approve and reject routes for role and enrolment requests
  config/routes.rb
Due: none

refactor(enrol and role requests schema): add userstamps and workflow state to enrol and role request schema
  db/migrate/20220514085359_add_userstamps_confirmer_workflow_columns_to_request_tables.rb
  db/schema.rb
Due: none

refactor(enrol request controller and model): add approval and rejection workflow state to user enrolment request process
  app/controllers/course/enrol_requests_controller.rb
  app/models/course/enrol_request.rb
Due: backend

refactor(enrol request views): update UI based on the approval/rejection workflow and add approved/rejected request tables
  app/views/course/enrol_requests/_enrol_request.html.slim
  app/views/course/enrol_requests/approve.js.erb
  app/views/course/enrol_requests/index.html.slim
  app/views/course/user_registrations/_registration.html.slim
  config/locales/en/activerecord/course/enrol_request.yml
  config/locales/en/course/enrol_requests.yml
Due: backend

fix(enrol request count): update enrolment request count to only based on pending requests
  app/controllers/components/course/users_component.rb
  app/views/course/users/_tabs.html.slim
Due: backend

fix(enrol request views): add i18n for enrol_requests index
  app/views/course/enrol_requests/index.html.slim
  config/locales/en/common.yml
Due: backend

refactor(role request controller and model): add approval and rejection workflow state to role request process
  app/controllers/instance_user_role_requests_controller.rb
  app/models/instance/user_role_request.rb
Due: backend

spec(course enrolment): update and add more specs for course enrolment feature
  spec/controllers/course/enrol_requests_controller_spec.rb
  spec/factories/course_enrol_requests.rb
  spec/features/course/enrol_request_managmement_spec.rb
  spec/mailers/course/mailer_spec.rb
  spec/models/course/enrol_request_spec.rb
Due: none

fix(course user registration): update course registration process to only delete existing pending enrolment request
  app/services/concerns/course/user_invitation_service/process_invitation_concern.rb
  app/services/course/user_registration_service.rb
Due: backend

feat(user enrolment): add rejection email for course enrolment request
  app/mailers/course/mailer.rb
  app/views/course/mailer/user_rejected_email.html.slim
  app/views/course/mailer/user_rejected_email.text.erb
  config/locales/en/course/mailer/user_rejected_email.yml
Due: backend

refactor(role request view): update UI based on the approval/rejection workflow, add reject with message button and add approved/rejected request tables
  app/views/course/courses/index.json.jbuilder
  app/views/instance_user_role_requests/_form.html.slim
  app/views/instance_user_role_requests/_user_role_request.html.slim
  app/views/instance_user_role_requests/_user_role_request_rejection_form.html.slim
  app/views/instance_user_role_requests/approve.js.erb
  app/views/instance_user_role_requests/edit.html.slim
  app/views/instance_user_role_requests/index.html.slim
  config/locales/en/instance_user_role_requests.yml
Due: backend

refactor(enrol_request model): move all validation methods together
  app/models/course/enrol_request.rb
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
