Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Clear lesson plan item setting when tab is deleted.
  app/controllers/course/admin/assessments/categories_controller.rb
  app/controllers/course/admin/assessments/tabs_controller.rb
  app/models/course/settings/assessments_component.rb
  spec/models/course/settings/assessments_component_spec.rb
Due: backend

Remove Coursemology Team signoff from emails.
  app/views/layouts/mailer.html.slim
  app/views/layouts/mailer.text.erb
  config/locales/en/layout.yml
  spec/mailers/activity_mailer_spec.rb
Due: backend

Add setting to assessment tabs for default lesson plan visibility.
  app/controllers/course/lesson_plan/items_controller.rb
  app/models/course/settings/assessments_component.rb
  app/views/course/lesson_plan/items/index.json.jbuilder
  client/app/bundles/course/admin/pages/LessonPlanItemSettings/index.jsx
  client/app/bundles/course/admin/pages/LessonPlanItemSettings/translations.intl.js
  client/app/bundles/course/lesson-plan/actions.jsx
  client/app/bundles/course/lesson-plan/reducers/lessonPlan.js
  client/app/bundles/course/lesson-plan/reducers/utils.js
Due: frontend, backend

Fix specs and jest tests from adding visibility setting.
  client/app/bundles/course/admin/pages/LessonPlanItemSettings/__test__/index.test.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/index.test.jsx
  client/app/bundles/course/lesson-plan/reducers/utils.js
  spec/controllers/course/lesson_plan/items_controller_spec.rb
Due: frontend

Render error message on missing file (e.g. pdf) instead of missing image
  client/app/lib/components/redux-form/SingleFileInput.jsx
Due: frontend

Refactor dropzone style
  client/app/lib/components/redux-form/SingleFileInput.jsx
Due: frontend

Edit SingleFileInput validation
  client/app/bundles/course/assessment/question/scribing/components/FileUploadField.jsx
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/ScribingQuestionForm.intl.js
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/index.jsx
  client/app/lib/components/redux-form/SingleFileInput.jsx
  client/app/lib/components/redux-form/__test__/SingleFileInput.test.js
Due: frontend

Render file image preview in new and update scribing question page
  app/views/course/assessment/question/scribing/_scribing_question.json.jbuilder
  client/app/bundles/course/assessment/question/scribing/actions/scribingQuestionActionCreators.jsx
  client/app/bundles/course/assessment/question/scribing/components/FileUploadComponent.jsx
  client/app/bundles/course/assessment/question/scribing/components/FileUploadField.jsx
  client/app/bundles/course/assessment/question/scribing/components/__test__/FileUploadComponent.test.js
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/ScribingQuestionForm.intl.js
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/ScribingQuestionForm.scss
  client/app/bundles/course/assessment/question/scribing/containers/ScribingQuestionForm/index.jsx
  client/app/lib/components/redux-form/SingleFileInput.jsx
  client/app/lib/components/redux-form/__test__/SingleFileInput.test.js
Due: frontend, backend

Hide lesson plan filter if nothing to filter
  client/app/bundles/course/lesson-plan/containers/LessonPlanFilter/index.jsx
Due: frontend

Make lesson plan nav and filter buttons more obvious
  client/app/bundles/course/lesson-plan/containers/LessonPlanFilter/index.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanNav/index.jsx
Due: frontend

Sort lesson plan items by type and name if start time identical
  client/app/bundles/course/lesson-plan/reducers/utils.js
Due: frontend

Do not load lesson plan items when html index page is requested
  app/controllers/course/lesson_plan/items_controller.rb
Due: backend

Wrap title and dates in survey index page table
  client/app/bundles/course/survey/pages/SurveyIndex/SurveysTable.jsx
Due: frontend

Remove extraneous characters at end of announcement email subject
  config/locales/en/notifiers/course/announcement_notifier/new/course_notifications/email.yml
Due: none

Fix typo in 504 page.
  public/504.html
Due: none

Fix case on 504 page.
  public/504.html
Due: none

Fix typos in 504 page images.
  public/img/504-error.png
  public/img/un_main.png
  public/img/under_main.svg
Due: none

Display phantom staff in submissions and statistics pages
  app/controllers/course/assessment/submissions_controller.rb
  app/controllers/course/statistics_controller.rb
Due: backend

Prevent multiple clicks on comment submit button
  client/app/bundles/course/assessment/submission/components/CommentField.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/containers/Comments.jsx
  client/app/bundles/course/assessment/submission/reducers/commentForms.js
Due: frontend

Embed next user popup notification data in course layout
  app/controllers/course/controller.rb
  app/models/activity.rb
  app/models/user_notification.rb
  app/views/layouts/course.html.slim
  app/views/notifiers/course/achievement_notifier/gained/user_notifications/popup.html.slim
  app/views/notifiers/course/achievement_notifier/gained/user_notifications/popup.json.jbuilder
  app/views/notifiers/course/level_notifier/reached/user_notifications/popup.html.slim
  app/views/notifiers/course/level_notifier/reached/user_notifications/popup.json.jbuilder
Due: backend

Allow user notification popups to be marked as read
  app/controllers/course/user_notifications_controller.rb
  app/models/components/user_notifications_ability_component.rb
  config/routes.rb
Due: backend

Mark old user notification popups as read
  db/migrate/20180111081846_mark_old_user_notification_popups_as_read.rb
  db/schema.rb
Due: none

Add achievement gained and level reached popup notification frontends
  client/app/api/course/UserNotifications.js
  client/app/api/course/index.js
  client/app/bundles/course/user-notification/actions.js
  client/app/bundles/course/user-notification/components/AchievementGainedPopup.jsx
  client/app/bundles/course/user-notification/components/LevelReachedPopup.jsx
  client/app/bundles/course/user-notification/components/Popup.jsx
  client/app/bundles/course/user-notification/constants.js
  client/app/bundles/course/user-notification/containers/PopupNotifier/index.jsx
  client/app/bundles/course/user-notification/reducers/index.js
  client/app/bundles/course/user-notification/store.js
  client/app/index.js
  client/app/lib/initializers/popup-notifier.jsx
  client/app/lib/translations/form.jsx
Due: frontend

Add popup UserNotification tests
  spec/controllers/course/user_notifications_controller_spec.rb
Due: none

Only use active videos for counter
  app/controllers/components/course/videos_component.rb
  lib/extensions/acts_as_helpers/active_record/base.rb
Due: backend

Remove todo cap on course page.
  app/controllers/course/courses_controller.rb
Due: backend

Implement read/unread for discussion topics
  app/models/course/discussion/post.rb
  app/models/course/discussion/topic.rb
  spec/models/course/discussion/post_spec.rb
Due: backend

Implement unread comments tab for students
  app/controllers/components/course/discussion/topics_component.rb
  app/controllers/concerns/course/discussion/posts_concern.rb
  app/controllers/course/assessment/submission_question/comments_controller.rb
  app/controllers/course/discussion/topics_controller.rb
  app/helpers/course/discussion/topics_helper.rb
  app/models/components/course/discussions_ability_component.rb
  app/views/course/discussion/topics/_tabs.html.slim
  config/locales/en/course/discussion/topics.yml
  spec/controllers/course/discussion/topics_controller_spec.rb
  spec/features/course/discussion/topic_management_spec.rb
Due: backend

Implement mark_as_read action for students
  app/controllers/course/discussion/topics_controller.rb
  app/helpers/course/discussion/topics_helper.rb
  app/models/components/course/discussions_ability_component.rb
  app/views/course/assessment/answer/programming_file_annotations/_discussion_topic_programming_file_annotation.html.slim
  app/views/course/assessment/submission_questions/_discussion_topic_submission_question.html.slim
  app/views/course/video/topics/_discussion_topic_topic.html.slim
  config/routes.rb
  spec/features/course/discussion/topic_management_spec.rb
Due: backend

Pass visibility settings for components to lesson plan.
  app/controllers/course/lesson_plan/items_controller.rb
  app/views/course/lesson_plan/items/index.json.jbuilder
Due: backend

Implement lesson plan settings for Survey and Video components.
  app/models/concerns/course/settings/lesson_plan_settings_concern.rb
  app/models/course/settings/survey_component.rb
  app/models/course/settings/videos_component.rb
  app/views/course/surveys/_survey_lesson_plan_item.json.jbuilder
  client/app/bundles/course/admin/pages/LessonPlanItemSettings/__test__/index.test.jsx
  client/app/bundles/course/admin/pages/LessonPlanItemSettings/index.jsx
  client/app/bundles/course/admin/pages/LessonPlanItemSettings/translations.intl.js
Due: frontend, backend

Add specs for survey and video component lesson plan settings.
  spec/models/course/settings/survey_component_spec.rb
  spec/models/course/settings/videos_component_spec.rb
Due: none

Control Video/Survey lesson plan item display with settings.
  app/models/course/lesson_plan/item.rb
  app/models/course/settings/lesson_plan_items.rb
  app/models/course/settings/survey_component.rb
  app/models/course/settings/videos_component.rb
Due: backend

Modify video_topics#from_user to include all authors
  app/models/course/video/topic.rb
  spec/features/course/discussion/topic_management_spec.rb
  spec/models/course/video/topic_spec.rb
Due: backend

Migration to initialise the readmarks for topics
  db/migrate/20180111081847_add_read_status_to_topics.rb
  db/schema.rb
Due: none

Reduce interval between video session updates
  client/app/bundles/course/video/submission/containers/VideoPlayer.jsx
Due: frontend

Change Video comments' editor
  app/views/course/video/topics/_post.json.jbuilder
  client/app/bundles/course/video/submission/actions/discussion.js
  client/app/bundles/course/video/submission/containers/DiscussionElements/EditPostContainer.jsx
  client/app/bundles/course/video/submission/containers/DiscussionElements/Editor.jsx
Due: frontend, backend

Remove ReactWrapper.node calls which is now private
  client/app/bundles/course/achievement/pages/AchievementIndex/__test__/index.test.js
  client/app/bundles/course/assessment/pages/AssessmentIndex/__test__/index.test.js
  client/app/bundles/course/duplication/pages/Duplication/__test__/DuplicateButton.test.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewEventButton.test.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/NewMilestoneButton.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminMenu.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/LessonPlanMilestone.test.jsx
  client/app/bundles/course/survey/containers/RespondButton/__test__/index.test.jsx
  client/app/bundles/course/survey/containers/ResponseForm/__test__/index.test.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/AdminMenu.test.jsx
  client/app/bundles/course/survey/pages/ResponseEdit/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/__test__/RemindButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/NewSurveyButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/ResultsQuestion.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/DeleteSectionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/EditSectionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/MoveDownButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/MoveUpButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/NewQuestionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/NewSectionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/index.test.jsx
Due: frontend

Insert update statements to rerender test components
  client/app/bundles/course/assessment/question/scribing/__test__/index.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/SavingIndicator.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/ScribingToolbar.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/fields/ColorPickerField.jsx
  client/app/bundles/course/duplication/pages/Duplication/__test__/DuplicateButton.test.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/index.test.jsx
  client/app/bundles/course/survey/__test__/index.test.js
  client/app/bundles/course/survey/containers/ResponseForm/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseEdit/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/ResponseIndex/__test__/index.test.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/NewSurveyButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/ResultsQuestion.test.jsx
  client/app/bundles/course/survey/pages/SurveyResults/__test__/index.test.js
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/NewQuestionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/NewSectionButton.test.jsx
Due: frontend

Add requestAnimationFrame shim to silence react 16 warnings
  client/app/__test__/requestAnimationFrame.js
  client/package.json
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
