Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

fix(marketplace): restore preview attempt error handling
  client/app/bundles/course/marketplace/pages/PreviewAttempt/__test__/loader.test.ts
  client/app/bundles/course/marketplace/pages/PreviewAttempt/loader.ts
  client/app/bundles/course/marketplace/translations.ts
Due: frontend

fix(marketplace): close masked preview review gaps
  app/jobs/course/assessment/marketplace/preview_cleanup_job.rb
  client/app/api/course/Marketplace.ts
  client/app/bundles/course/marketplace/components/DuplicateConfirmation.tsx
  client/app/bundles/course/marketplace/operations.ts
  client/app/bundles/course/marketplace/pages/PreviewAttempt/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/PreviewAttempt/index.tsx
  spec/jobs/course/assessment/marketplace/preview_cleanup_job_spec.rb
Due: frontend, backend

fix(marketplace): render the masked preview submission page
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/__test__/previewSubmissionId.test.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

feat(marketplace): PreviewGradingPolicy.any_paid_grader? predicate for the preview banner
  app/services/course/assessment/marketplace/preview_grading_policy.rb
  spec/services/course/assessment/marketplace/preview_grading_policy_spec.rb
Due: backend

feat(marketplace): report previewGradingInert on the listing preview endpoint
  app/controllers/course/assessment/marketplace/listings_controller.rb
  app/views/course/assessment/marketplace/listings/show.json.jbuilder
  spec/controllers/course/assessment/marketplace/listings_controller_spec.rb
Due: backend

feat(marketplace): breadcrumb crumb for the preview attempt page
  client/app/bundles/course/marketplace/__test__/handles.test.ts
  client/app/bundles/course/marketplace/handles.ts
  client/app/routers/course/marketplace.tsx
Due: frontend

feat(marketplace): sandbox banner copy, conditional grading caveat
  client/app/bundles/course/marketplace/pages/PreviewAttempt/PreviewBanner.tsx
  client/app/bundles/course/marketplace/pages/PreviewAttempt/__test__/PreviewBanner.test.tsx
  client/app/bundles/course/marketplace/pages/PreviewAttempt/__test__/loader.test.ts
  client/app/bundles/course/marketplace/pages/PreviewAttempt/index.tsx
  client/app/bundles/course/marketplace/pages/PreviewAttempt/loader.ts
  client/app/bundles/course/marketplace/translations.ts
  client/app/bundles/course/marketplace/types.ts
Due: frontend

feat(marketplace): try-it-out action in the listing row
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/MarketplaceTable.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/MarketplaceTable.test.tsx
Due: frontend

fix(marketplace): scope preview marketplace calls to the visible course
  client/app/api/course/Marketplace.ts
  client/app/api/course/__test__/Marketplace.test.ts
  client/app/bundles/course/marketplace/pages/PreviewAttempt/index.tsx
  client/app/bundles/course/marketplace/pages/PreviewAttempt/loader.ts
Due: frontend

feat(marketplace): loading indication on the Try it out action
  client/app/bundles/course/marketplace/__test__/useNavigatingTo.test.ts
  client/app/bundles/course/marketplace/pages/ListingPreview/__test__/index.test.tsx
  client/app/bundles/course/marketplace/pages/ListingPreview/index.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/MarketplaceTable.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/MarketplaceTable.test.tsx
  client/app/bundles/course/marketplace/pages/MarketplaceIndex/__test__/index.test.tsx
  client/app/bundles/course/marketplace/useNavigatingTo.ts
Due: frontend

fix(marketplace): let preview forum-post-response questions fetch posts
  app/controllers/course/controller.rb
  client/app/api/course/Assessment/Submission/Answer/ForumPostResponse.js
  spec/controllers/course/forum/forums_controller_spec.rb
Due: frontend, backend

fix(gradebook): reject non-numeric weights instead of coercing to 0
  app/controllers/concerns/course/gradebook/weight_parsing_concern.rb
  app/controllers/course/external_assessments_controller.rb
  app/controllers/course/gradebook_controller.rb
  spec/controllers/course/external_assessments_controller_spec.rb
  spec/controllers/course/gradebook_controller_spec.rb
Due: backend

feat(gradebook): external assessment management — panel, add/edit/delete, reorder, weight integration
  app/controllers/course/external_assessments_controller.rb
  app/controllers/course/gradebook_controller.rb
  app/models/course/external_assessment.rb
  app/views/course/external_assessments/_external_assessment.json.jbuilder
  app/views/course/external_assessments/create.json.jbuilder
  app/views/course/external_assessments/update.json.jbuilder
  client/app/api/course/Gradebook.ts
  client/app/bundles/course/gradebook/__tests__/AddExternalColumnPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/DeleteExternalColumnPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/EditExternalAssessmentPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsButton.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsPanel.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/computeWeighted.test.ts
  client/app/bundles/course/gradebook/__tests__/operations.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/AddExternalColumnPrompt.tsx
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/DeleteExternalColumnPrompt.tsx
  client/app/bundles/course/gradebook/components/GradebookColumnTree.tsx
  client/app/bundles/course/gradebook/components/GradebookTable.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/components/manage/EditExternalAssessmentPrompt.tsx
  client/app/bundles/course/gradebook/components/manage/ManageExternalAssessmentsButton.tsx
  client/app/bundles/course/gradebook/components/manage/ManageExternalAssessmentsPanel.tsx
  client/app/bundles/course/gradebook/computeWeighted.ts
  client/app/bundles/course/gradebook/constants.ts
  client/app/bundles/course/gradebook/operations.ts
  client/app/bundles/course/gradebook/pages/GradebookIndex/index.tsx
  client/app/bundles/course/gradebook/store.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  db/migrate/20260625000000_add_position_to_course_external_assessments.rb
  db/schema.rb
  spec/controllers/course/external_assessments_controller_spec.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/external_assessment_spec.rb
Due: frontend, backend

feat(gradebook): cap-entry editing, over-max flags, and out-of-range warnings
  client/app/bundles/course/gradebook/__tests__/GradebookIndex.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/OutOfRangeAlert.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/computeWeighted.test.ts
  client/app/bundles/course/gradebook/__tests__/outOfRange.test.ts
  client/app/bundles/course/gradebook/components/GradebookTable.tsx
  client/app/bundles/course/gradebook/components/OutOfRangeAlert.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/outOfRange.ts
  client/app/bundles/course/gradebook/pages/GradebookIndex/index.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(gradebook): import external assessment grades from CSV
  app/controllers/course/external_assessment_imports_controller.rb
  app/services/course/gradebook/external_assessment_import_service.rb
  app/views/course/external_assessment_imports/create.json.jbuilder
  app/views/course/external_assessment_imports/preview.json.jbuilder
  client/app/api/course/Gradebook.ts
  client/app/bundles/course/gradebook/__tests__/ImportExternalAssessmentsWizard.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsPanel.test.tsx
  client/app/bundles/course/gradebook/__tests__/buildTemplate.test.ts
  client/app/bundles/course/gradebook/__tests__/operations.test.ts
  client/app/bundles/course/gradebook/components/import/ExternalGradeConflictPrompt.tsx
  client/app/bundles/course/gradebook/components/import/ExternalGradeConflictTable.tsx
  client/app/bundles/course/gradebook/components/import/ImportExternalAssessmentsWizard.tsx
  client/app/bundles/course/gradebook/components/import/__tests__/ExternalGradeConflictTable.test.tsx
  client/app/bundles/course/gradebook/components/import/buildTemplate.ts
  client/app/bundles/course/gradebook/components/manage/ManageExternalAssessmentsPanel.tsx
  client/app/bundles/course/gradebook/operations.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/routes.rb
  spec/controllers/course/external_assessment_imports_controller_spec.rb
  spec/services/course/gradebook/external_assessment_import_service_spec.rb
Due: frontend, backend

feat(gradebook): add option to cap weighted total at 100
  app/controllers/course/gradebook_controller.rb
  app/models/course/settings/gradebook_component.rb
  app/views/course/gradebook/index.json.jbuilder
  client/app/bundles/course/gradebook/__tests__/ConfigureWeightsPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookIndex.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsButton.test.tsx
  client/app/bundles/course/gradebook/__tests__/ManageExternalAssessmentsPanel.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/operations.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/operations.ts
  client/app/bundles/course/gradebook/pages/GradebookIndex/index.tsx
  client/app/bundles/course/gradebook/selectors.ts
  client/app/bundles/course/gradebook/store.ts
  client/app/types/course/gradebook.ts
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/settings/gradebook_component_spec.rb
Due: frontend, backend

feat(gradebook): show assessments by default, hide export-only identifiers, taller table
  client/app/bundles/course/gradebook/__tests__/GradebookIndex.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookTable.test.tsx
  client/app/bundles/course/gradebook/components/GradebookTable.tsx
Due: frontend

feat(gradebook): wire keepHighest through backend for keep-N feature
  app/controllers/course/gradebook_controller.rb
  app/models/course/gradebook/tab_contribution.rb
  app/views/course/gradebook/index.json.jbuilder
  client/app/bundles/course/gradebook/__tests__/ConfigureWeightsPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/computeWeighted.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/computeWeighted.ts
  client/app/bundles/course/gradebook/store.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  db/migrate/20260618000000_add_keep_highest_to_course_gradebook_tab_contribution_table.rb
  db/schema.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/gradebook/tab_contribution_spec.rb
Due: frontend, backend

feat(gradebook): level contribution percent mode + parseable-formula guard
  app/controllers/course/gradebook_controller.rb
  app/models/course/gradebook/level_config.rb
  client/app/bundles/course/gradebook/__tests__/ConfigureWeightsPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  spec/controllers/course/gradebook_controller_spec.rb
  spec/models/course/gradebook/level_config_spec.rb
Due: frontend, backend

feat(gradebook): pin the audited student's summary row when expanded
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
Due: frontend

feat(gradebook): add Level contribution to weighted gradebook
  app/controllers/course/gradebook_controller.rb
  app/models/course.rb
  app/models/course/gradebook/level_config.rb
  app/views/course/gradebook/index.json.jbuilder
  client/app/bundles/course/gradebook/__tests__/ConfigureWeightsPrompt.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookIndex.test.tsx
  client/app/bundles/course/gradebook/__tests__/GradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/computeWeighted.test.ts
  client/app/bundles/course/gradebook/__tests__/levelFormula.test.ts
  client/app/bundles/course/gradebook/__tests__/operations.test.ts
  client/app/bundles/course/gradebook/__tests__/store.test.ts
  client/app/bundles/course/gradebook/components/ConfigureWeightsPrompt.tsx
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/computeWeighted.ts
  client/app/bundles/course/gradebook/levelFormula.ts
  client/app/bundles/course/gradebook/operations.ts
  client/app/bundles/course/gradebook/pages/GradebookIndex/index.tsx
  client/app/bundles/course/gradebook/selectors.ts
  client/app/bundles/course/gradebook/store.ts
  client/app/types/course/gradebook.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  db/migrate/20260616000000_create_gradebook_level_configs.rb
  db/schema.rb
  spec/controllers/course/gradebook_controller_spec.rb
  spec/factories/course_gradebook_level_configs.rb
  spec/models/course/gradebook/level_config_spec.rb
Due: frontend, backend

feat(gradebook): flag custom-weight tabs whose assessment weights don't add up + show honest weighted total in percent mode
  client/app/bundles/course/gradebook/__tests__/WeightedGradebookTable.test.tsx
  client/app/bundles/course/gradebook/__tests__/computeWeighted.test.ts
  client/app/bundles/course/gradebook/components/WeightedGradebookTable.tsx
  client/app/bundles/course/gradebook/computeWeighted.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend
