Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Create new OTOT algorithm as discussed
  app/controllers/concerns/course/lesson_plan/personalization_concern.rb
  app/models/course_user.rb
Due: backend

Add specs for otot algo
  spec/controllers/concerns/course/lesson_plan/personalization_concern_spec.rb
Due: none

Prevent personalized timeline algos from moving past dates
  app/controllers/concerns/course/lesson_plan/personalization_concern.rb
Due: backend

Disable scrolling on number fields in programming question form
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
Due: frontend

Bump blocked gems
  Gemfile.lock
Due: none

Fix docker build error
  Gemfile.lock
Due: none

Makes dropdown menu more visible
  client/app/bundles/course/duplication/components/CourseDropdownMenu.jsx
Due: frontend

Upgrade polyglot
  Gemfile.lock
Due: none

Add missing nil guard to _personal_or_ref_time
  app/views/course/lesson_plan/items/_personal_or_ref_time.html.slim
Due: backend

Fix improper use of generics that breaks typecasting for java evaluator
  app/services/course/assessment/question/programming/java/AutograderResult.java
  app/services/course/assessment/question/programming/java/java_package_service.rb
Due: backend

Converted expression output to be expandable texts with word wrap
  client/app/bundles/course/assessment/question/programming/components/UploadedPackageTestCaseView.jsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
Due: frontend

Enable experience points record component even if gamification is turned off
  app/controllers/components/course/experience_points_component.rb
Due: backend

Add grades into experience poitns record view
  app/views/course/experience_points_records/_experience_points_record.html.slim
  app/views/course/experience_points_records/index.html.slim
Due: backend

Add link to exp records from stats page if gamification is off
  app/views/course/statistics/_table.html.slim
Due: backend

Add allow randomization option to course assessment settings
  app/controllers/course/admin/assessment_settings_controller.rb
  app/models/course.rb
  app/views/course/admin/assessment_settings/edit.html.slim
  config/locales/en/course/admin/assessment_settings.yml
Due: backend

Add question bundle links to assessment #show if randomization enabled
  app/assets/stylesheets/course/assessment/assessments.scss
  app/views/course/assessment/assessments/_assessment_question_bundle_buttons.html.slim
  app/views/course/assessment/assessments/show.html.slim
  config/locales/en/course/assessment/assessments.yml
Due: backend

Enable creation and edit of randomized assessments
  app/controllers/course/assessment/assessments_controller.rb
  app/models/course/assessment.rb
  app/views/course/assessment/assessments/_edit.json.jbuilder
  app/views/course/assessment/assessments/index.html.slim
  client/app/bundles/course/assessment/assessments-edit.jsx
  client/app/bundles/course/assessment/assessments-index.jsx
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/containers/AssessmentForm/translations.intl.js
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.jsx
  client/app/bundles/course/assessment/pages/AssessmentIndex/index.jsx
Due: frontend, backend

Migration to add randomization fields to MRQ, MRQ options, MRQ answers
  db/migrate/20200409143131_add_randomization_to_mrq.rb
  db/schema.rb
Due: none

Allow enabling of randomization for MRQs/MCQs
  app/controllers/course/assessment/question/multiple_responses_controller.rb
  app/views/course/assessment/question/multiple_responses/_form.html.slim
  app/views/course/assessment/question/multiple_responses/_option_fields.html.slim
  config/locales/en/course/assessment/question/multiple_responses.yml
Due: backend

Implementation of randomization of MCQ/MRQ options
  app/models/course/assessment/answer/multiple_response.rb
  app/models/course/assessment/question/multiple_response.rb
  app/views/course/assessment/question/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/submission/submissions/_question.json.jbuilder
  app/views/course/assessment/submission/submissions/_questions.json.jbuilder
Due: backend

Model spec for Course::Assessment::Question::MultipleResponse
  spec/factories/course_assessment_question_multiple_response_options.rb
  spec/factories/course_assessment_question_multiple_responses.rb
  spec/models/course/assessment/question/multiple_response_spec.rb
Due: none

Fix feature tests for multiple response questions
  spec/features/course/assessment/question/multiple_response_management_spec.rb
Due: none

More fixes to feature tests for MRQ
  spec/features/course/assessment/question/multiple_response_management_spec.rb
Due: none

Fix feature spec manuallly_graded_spec
  spec/factories/course_assessment_answers.rb
Due: none

Set feature test to pending
  spec/factories/course_assessment_answers.rb
  spec/features/course/assessment/submission/manually_graded_spec.rb
Due: none

Add global setting to enable/disable mrq options randomization and interact with related interfaces
  app/controllers/course/admin/assessment_settings_controller.rb
  app/models/course.rb
  app/models/course/assessment/question/multiple_response.rb
  app/views/course/admin/assessment_settings/edit.html.slim
  app/views/course/assessment/question/multiple_responses/_form.html.slim
  app/views/course/assessment/question/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/question/multiple_responses/_option_fields.html.slim
  config/locales/en/course/admin/assessment_settings.yml
Due: backend

Update course_assessment_question_multiple_response model spec
  spec/factories/courses.rb
  spec/models/course/assessment/question/multiple_response_spec.rb
Due: none

Display default question number according to assigned questions of submission
  app/models/course/assessment/question/multiple_response.rb
  app/models/course/question_assessment.rb
  app/views/course/assessment/question/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/submission/submissions/_questions.json.jbuilder
Due: backend

Fix comment links to assessment steps
  app/views/course/assessment/answer/programming_file_annotations/_discussion_topic_programming_file_annotation.html.slim
  app/views/course/assessment/submission_questions/_discussion_topic_submission_question.html.slim
  app/views/notifiers/course/assessment/answer/comment_notifier/annotated/user_notifications/email.html.slim
Due: backend

Specify tbody class for cocoon selector
  app/views/course/assessment/question/multiple_responses/_form.html.slim
  app/views/course/assessment/question/text_responses/_form.html.slim
  app/views/course/groups/edit.html.slim
  app/views/course/user_invitations/new.html.slim
  app/views/system/admin/instance/user_invitations/new.html.slim
Due: backend

Remove color palette from MCQ options
  app/assets/javascripts/layout.js
  app/views/course/assessment/question/multiple_responses/_option_fields.html.slim
Due: backend

Fix layout.js
  app/assets/javascripts/layout.js
Due: backend

Fix n+1 loading of question ids for each answer
  app/models/course/assessment/submission.rb
Due: backend

Fix misalignment between code editor numbers and lines
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/NarrowEditor.jsx
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/WideEditor.jsx
Due: frontend

Add control button for captions toggling
  client/app/bundles/course/video/submission/containers/VideoControls/CaptionsButton.jsx
  client/app/bundles/course/video/submission/containers/VideoControls/index.js
  client/app/bundles/course/video/submission/containers/VideoPlayer.scss
  client/app/lib/constants/videoConstants.js
Due: frontend

Add action and reducer for captions
  client/app/bundles/course/video/submission/actions/video.js
  client/app/bundles/course/video/submission/reducers/video.js
  client/app/lib/constants/videoConstants.js
Due: frontend

Add Captions button to main video player
  client/app/bundles/course/video/submission/containers/VideoPlayer.jsx
  client/app/lib/constants/videoConstants.js
Due: frontend

integrate with lograge
  app/controllers/application_controller.rb
  config/initializers/lograge.rb
Due: backend

style update to lograge.rb
  config/initializers/lograge.rb
Due: none

stype update to lograge.rb
  config/initializers/lograge.rb
Due: none

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
