Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Fix other answers resetting when submitting/resetting a programming answer
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/answers.js
  client/app/bundles/course/assessment/submission/reducers/form.js
  client/app/bundles/course/assessment/submission/reducers/index.js
Due: frontend, backend

Do not reset forms after unsubmit
  client/app/bundles/course/assessment/submission/actions/index.js
Due: frontend

Handle the case when grader is nil * This happens when there are missing answers in the submission
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
Due: frontend

Add debugging tools and reorganize bundle groups
  Gemfile
  Gemfile.lock
  spec/spec_helper.rb
Due: none

Set Docker memory limit.
  lib/autoload/coursemology_docker_container.rb
Due: backend

Limit memory for evaluation to 128 MB by default.
  app/models/course/assessment/question/programming.rb
  app/services/course/assessment/programming_evaluation_service.rb
  spec/services/course/assessment/programming_evaluation_service_spec.rb
Due: backend

Use std::to_string() for number to string conversions in CPP.
  app/services/course/assessment/question/programming/cpp/cpp_autograde_pre.cc
Due: backend

Config capybara-screenshot with headless chrome
  spec/support/capybara.rb
Due: none

Update test case note for Cpp online editor.
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/Cpp/OnlineEditorCppView.jsx
  client/app/bundles/course/assessment/question/programming/containers/OnlineEditor/OnlineEditorView.intl.js
Due: frontend

Bundle Update on 2017-08-27
  Gemfile.lock
Due: none

Rewrite specs for React submissions edit page (manually graded mode)
  client/app/bundles/course/assessment/submission/components/CommentCard.jsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.jsx
  spec/factories/course_assessment_question_programming.rb
  spec/features/course/assessment/submission/manually_graded_spec.rb
Due: frontend

Only click confirm button once, but wait for it to disappear
  spec/support/capybara.rb
Due: none

Add links to active users/courses in instance management
  app/views/system/admin/instances/_instance.html.slim
Due: backend

Do not count staff in active users
  app/models/course.rb
  spec/models/course_spec.rb
Due: backend

Do not allow masquerading as an unconfirmed user
  app/views/system/admin/users/_user.html.slim
  config/locales/en/system/admin/users.yml
Due: backend

Display the actual instances for user * Instead of displaying the instance counts
  app/controllers/system/admin/users_controller.rb
  app/models/user.rb
  app/services/user/instance_preload_service.rb
  app/views/system/admin/users/_user.html.slim
  app/views/system/admin/users/index.html.slim
  config/locales/en/system/admin/users.yml
  spec/services/course/user/instance_preload_service_spec.rb
Due: backend

Remove "pages" placeholder
  app/views/system/admin/admin/index.html.slim
  config/locales/en/system/admin/admin.yml
Due: backend

Make staff list use translations
  app/views/course/users/staff.html.slim
Due: backend

Allow list of instructors on course page to overflow to multiple rows
  app/assets/stylesheets/course/layout.scss
Due: backend

Add view elements for roles
  app/views/course/user_invitations/_invitation_fields.html.slim
  app/views/course/user_invitations/new.html.slim
Due: backend

Link up view and model
  app/controllers/course/user_invitations_controller.rb
  app/services/concerns/course/user_invitation_service/email_invitation_concern.rb
  app/services/course/user_registration_service.rb
Due: backend

Add role to user invitation
  app/models/course/user_invitation.rb
  app/models/course_user.rb
  app/models/user.rb
  db/migrate/20170819040619_add_role_to_course_user_invitation.rb
  db/schema.rb
Due: backend

Change and add specs for roles
  spec/services/course/user_invitation_service_spec.rb
  spec/services/course/user_registration_service_spec.rb
Due: none

Fix forum nesting for the first post
  app/views/course/discussion/_posts.html.slim
Due: backend

Add clearfix to course user achievements display
  app/assets/stylesheets/course/users.scss
  app/views/course/users/_achievement.html.slim
  app/views/course/users/show.html.slim
Due: backend

Fix All Courses page alignment on Safari
  app/assets/stylesheets/mixins/_bootstrap_grid_equal_height.scss
Due: backend

Change all courses pagination to max 24 per page
  app/controllers/course/courses_controller.rb
Due: backend

Add custom hover animation for All Courses page
  app/assets/stylesheets/_variables.scss
  app/assets/stylesheets/course/courses.scss
Due: backend

Allow role column to be specified
  app/services/concerns/course/user_invitation_service/email_invitation_concern.rb
Due: backend

Add spec for file upload
  spec/fixtures/course/fuzzy_roles_invitation.csv
  spec/services/course/user_invitation_service_spec.rb
Due: none

Add hint to CSV upload about roles
  app/views/course/user_invitations/new.html.slim
  config/locales/en/course/user_invitations.yml
Due: backend

Add the invitation role to the index table too
  app/views/course/user_invitations/_course_user_invitation.html.slim
  app/views/course/user_invitations/_course_user_invitations.html.slim
Due: backend

Swap around expected and expression in custom_evaluation
  app/services/course/assessment/question/programming/cpp/cpp_autograde_pre.cc
  app/services/course/assessment/question/programming/cpp/cpp_package_service.rb
  client/app/bundles/course/assessment/question/programming/constants/onlineEditorDefaultTemplates.js
Due: frontend, backend

Bundle Update on 2017-09-02
  Gemfile.lock
Due: none

Rewrite assessement submissions listing page in React
  app/helpers/course/assessment/submission/submissions_helper.rb
  app/helpers/course/assessment/submission/submissions_workflow_state_helper.rb
  app/views/course/assessment/submission/submissions/_index.json.jbuilder
  app/views/course/assessment/submission/submissions/_no_submission.html.slim
  app/views/course/assessment/submission/submissions/_submission.html.slim
  app/views/course/assessment/submission/submissions/_submissions.html.slim
  app/views/course/assessment/submission/submissions/edit.html.slim
  app/views/course/assessment/submission/submissions/index.html.slim
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/containers/SubmissionEditLayout.jsx
  client/app/bundles/course/assessment/submission/containers/SubmissionsLayout.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/assessment/submission/submission.jsx
  client/app/bundles/course/assessment/submission/translations.js
  config/locales/en/course/assessment/submission/logs.yml
  config/locales/en/course/assessment/submission/submissions.yml
  config/locales/en/course/assessment/submissions.yml
Due: frontend, backend

Display student submissions by my students, course students and phantom students
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/views/course/assessment/submission/submissions/index.json.jbuilder
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
Due: frontend, backend

Add Publish All and Download All buttons to submissions index
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/views/course/assessment/submission/submissions/index.json.jbuilder
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/actions/submissions.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/translations.js
  client/app/lib/helpers/job-helpers.js
Due: frontend, backend

Connect submissions index page to Redux store
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/views/course/assessment/submission/submissions/index.html.slim
  app/views/course/assessment/submission/submissions/index.json.jbuilder
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/submissions.js
  client/app/bundles/course/assessment/submission/constants.js
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/assessment/submission/reducers/index.js
  client/app/bundles/course/assessment/submission/reducers/submissionFlags.js
  client/app/bundles/course/assessment/submission/reducers/submissions.js
Due: frontend, backend

Add links to course user and submission edit pages
  client/app/bundles/course/assessment/submission/containers/GradingPanel.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/lib/helpers/url-builders.js
Due: frontend

Add links to submission access logs
  app/views/course/assessment/submission/submissions/index.json.jbuilder
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/SubmissionsTable.jsx
  client/app/lib/helpers/url-builders.js
Due: frontend, backend
