Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Make course show page consistent with other pages.
  app/views/course/courses/show.html.slim
Due: backend

Add redirect when user clicks link to unsubscribes to forum
  app/controllers/course/forum/forums_controller.rb
Due: backend

Add feature spec to cover forum unsubscribe link
  spec/features/course/forum_management_spec.rb
Due: none

Use form-attribute to target form within table
  app/views/course/assessment/question_bundle_assignments/index.html.slim
Due: backend

QuestionBundleAssignment validations
  app/assets/stylesheets/course/assessment/question_bundle_assignments.scss
  app/controllers/concerns/course/assessment/question_bundle_assignment_concern.rb
  app/controllers/course/assessment/question_bundle_assignments_controller.rb
  app/views/course/assessment/question_bundle_assignments/_validation_result.html.slim
  app/views/course/assessment/question_bundle_assignments/index.html.slim
  config/i18n-tasks.yml
  config/locales/en/course/assessment/question_bundle_assignments.yml
Due: backend

Move element ID to outer div
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
Due: frontend

Step 1 of a big feature
  app/views/course/assessment/question_bundle_assignments/index.html.slim
Due: backend

Step 2 of a big feature
  app/views/course/assessment/question_bundle_assignments/index.html.slim
Due: backend

Use public_send instead of send.
  app/helpers/form_for_with_resource_helper.rb
  app/models/course/registration.rb
  app/models/course/settings/assessments_component.rb
  app/models/course/settings/component.rb
  app/models/course/settings/pan_component.rb
  app/models/course/settings/sidebar.rb
  app/services/course/duplication/course_duplication_service.rb
Due: backend

Review access to functions in statistics download service.
  app/services/course/assessment/submission/statistics_download_service.rb
Due: backend

Make `execute` in ProgrammingEvaluationService public.
  app/services/course/assessment/programming_evaluation_service.rb
Due: backend

Refactor submission/material ZipDownloadService to avoid `send`.
  app/services/course/assessment/submission/zip_download_service.rb
  app/services/course/material/zip_download_service.rb
Due: backend

Refactor ProgrammingImportService to avoid `send`.
  app/services/course/assessment/question/programming_import_service.rb
Due: backend

Order QBQs by group.weight, bundle.id, qbq.weight
  app/controllers/course/assessment/question_bundle_questions_controller.rb
Due: backend

Order survey csv by section.weight and question.weight
  app/services/course/survey/survey_download_service.rb
Due: backend

Fix rails vulnerability CVE-2019-5420
  config/environments/development.rb
Due: none

Patch for rails vulnerabilities CVE-2019-5418 and CVE-2019-5419
  config/initializers/formats_filter.rb
Due: none

Patch for CVE-2018-16476
  config/initializers/argument_deserializer.rb
Due: none

Use default rails 5.2.0
  Gemfile
  Gemfile.lock
Due: none

Abstract out common past answer features
  client/app/bundles/course/assessment/submission/components/AnswersHistory.jsx
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  client/app/bundles/course/assessment/submission/components/pastAnswers/PastProgrammingAnswer.jsx
  client/app/bundles/course/assessment/submission/containers/PastAnswers.jsx
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

Show MCQ/MRQ past answers
  app/views/course/assessment/submission/submissions/_question.json.jbuilder
  client/app/bundles/course/assessment/submission/components/pastAnswers/PastMultipleResponseAnswer.jsx
  client/app/bundles/course/assessment/submission/containers/PastAnswers.jsx
Due: frontend, backend

Add spec
  client/app/bundles/course/assessment/submission/components/SubmissionAnswer.jsx
  spec/factories/course_assessment_submissions.rb
  spec/features/course/assessment/submission/past_answers_spec.rb
Due: frontend

Move rails_utils fork to Coursemology org.
  Gemfile
  Gemfile.lock
Due: none

Add margin to question-group-select
  app/assets/stylesheets/course/assessment/question_bundle_assignments.scss
Due: backend

Change min min learning rate to 0.67
  app/controllers/concerns/course/lesson_plan/personalization_concern.rb
Due: backend

Change chromedriver-helper gem to webdrivers.
  Gemfile
  Gemfile.lock
Due: none

Test out simple_form-bootstrap hack
  Gemfile
  Gemfile.lock
Due: none

Update simple_form-bootstrap
  Gemfile.lock
Due: none

Remove flaky expect statement
  spec/features/course/assessment/submission/past_answers_spec.rb
Due: none

Fix assets precompile needing a database connection.
  app/models/concerns/application_userstamp_concern.rb
Due: backend

Configure for CircleCI.
  .circleci/config.yml
Due: none

Make unsubmit confirmation message gender neutral
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend

Don't look for layout in csrf error handler (json format)
  app/controllers/application_controller.rb
Due: backend

Install google-chrome manually as their repository's signing key has expired.
  .travis.yml
Due: none

Revert "Install google-chrome manually."
  .travis.yml
Due: none

Only overwrite the session token after submission is saved successfully
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/services/course/assessment/session_authentication_service.rb
Due: backend

Add maintenance environment
  config/environments/maintenance.rb
Due: none

Order achievement by date obtained only
  app/models/concerns/course_user/achievements_concern.rb
Due: backend

Add spec
  spec/models/course_user_spec.rb
Due: none

Revert "Bump factory_bot_rails from 5.0.1 to 5.0.2"
  Gemfile.lock
Due: none
