Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Show advance start at duration on material folder edit page.
  app/views/course/material/folders/edit.html.slim
  config/locales/en/course/material/folders.yml
Due: backend

Require course component controllers to implement #component
  app/controllers/course/component_controller.rb
Due: backend

UserNotification is not a component of Course
  app/controllers/course/user_notifications_controller.rb
Due: backend

Rename to ExperiencePointsComponent and SettingsComponent
  app/controllers/components/course/experience_points_component.rb
  app/controllers/components/course/settings_component.rb
  config/locales/en/components.yml
  db/migrate/20180424030829_remove_disbursement_component_settings.rb
  db/schema.rb
Due: backend

Implement #component for course component controllers
  app/controllers/course/admin/assessment_settings_controller.rb
  app/controllers/course/admin/assessments/categories_controller.rb
  app/controllers/course/admin/assessments/tabs_controller.rb
  app/controllers/course/admin/controller.rb
  app/controllers/course/admin/videos/tabs_controller.rb
  app/controllers/course/assessment/controller.rb
  app/controllers/course/assessment/skill_branches_controller.rb
  app/controllers/course/assessment/skills_controller.rb
  app/controllers/course/assessment/submissions_controller.rb
  app/controllers/course/discussion/posts_controller.rb
  app/controllers/course/duplications_controller.rb
  app/controllers/course/enrol_requests_controller.rb
  app/controllers/course/experience_points/disbursement_controller.rb
  app/controllers/course/experience_points_records_controller.rb
  app/controllers/course/groups_controller.rb
  app/controllers/course/levels_controller.rb
  app/controllers/course/object_duplications_controller.rb
  app/controllers/course/statistics_controller.rb
  app/controllers/course/user_invitations_controller.rb
  app/controllers/course/user_registrations_controller.rb
  app/controllers/course/users_controller.rb
  spec/controllers/course/admin/videos/tabs_controller_spec.rb
Due: backend

Disallow duplication if object types unduplicable for destination
  app/views/course/object_duplications/new.json.jbuilder
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/AssessmentsSelector.jsx
Due: frontend, backend

Add integration tests
  client/app/bundles/course/duplication/components/CourseDropdownMenu.jsx
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelectorMenu/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/index.jsx
  spec/features/course/duplication_spec.rb
Due: frontend

Add buttons to select current course as source or destination
  client/app/bundles/course/duplication/components/CourseDropdownMenu.jsx
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/index.jsx
  client/app/bundles/course/duplication/pages/Duplication/index.jsx
Due: frontend

Allow source course to be changed on duplication page
  app/controllers/course/object_duplications_controller.rb
  app/models/components/course/duplication_ability_component.rb
  app/views/course/object_duplications/data.json.jbuilder
  app/views/course/object_duplications/new.json.jbuilder
  client/app/api/course/Duplication.js
  client/app/bundles/course/duplication/actions.js
  client/app/bundles/course/duplication/components/CourseDropdownMenu.jsx
  client/app/bundles/course/duplication/constants.js
  client/app/bundles/course/duplication/pages/Duplication/DuplicateAllButton.jsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateButton.jsx
  client/app/bundles/course/duplication/pages/Duplication/__test__/DuplicateButton.test.jsx
  client/app/bundles/course/duplication/pages/Duplication/__test__/ObjectDuplication.test.jsx
  client/app/bundles/course/duplication/pages/Duplication/index.jsx
  client/app/bundles/course/duplication/reducers/duplication.js
  config/routes.rb
  spec/features/course/duplication_spec.rb
Due: frontend, backend

Bundle Update on 2018-04-25
  Gemfile.lock
Due: none

Prevent video URL changes
  app/models/course/video.rb
  app/views/course/video/videos/_form.html.slim
  spec/models/course/video_spec.rb
Due: backend

Abstract out `Submission::NotificationConcern`s
  app/models/concerns/course/assessment/submission/notification_concern.rb
  app/models/concerns/course/video/submission/notification_concern.rb
  app/models/course/assessment/submission.rb
  app/models/course/video/submission.rb
Due: backend

Make #todo public
  app/models/concerns/course/assessment/submission/todo_concern.rb
  app/models/concerns/course/survey/response/todo_concern.rb
  app/models/concerns/course/video/submission/todo_concern.rb
Due: backend

Fix levels edit text field defocusing after keystroke.
  client/app/bundles/course/level/components/LevelRow.jsx
  client/app/bundles/course/level/pages/Level/index.jsx
Due: frontend

Make a separate fetch to get popup notification data
  app/controllers/course/controller.rb
  app/controllers/course/user_notifications_controller.rb
  app/views/layouts/course.html.slim
  client/app/api/course/UserNotifications.js
  client/app/bundles/course/user-notification/actions.js
  client/app/bundles/course/user-notification/constants.js
  client/app/bundles/course/user-notification/containers/PopupNotifier/index.jsx
  client/app/bundles/course/user-notification/reducers/index.js
  client/app/bundles/course/user-notification/store.js
  client/app/lib/initializers/popup-notifier.jsx
  config/routes.rb
  spec/controllers/course/controller_spec.rb
  spec/controllers/course/user_notifications_controller_spec.rb
Due: frontend, backend

Move component filtering methods from host to model concerns
  app/controllers/components/course/controller_component_host.rb
  app/controllers/course/controller.rb
  app/models/concerns/course/course_components_concern.rb
  app/models/concerns/course_component_query_concern.rb
  app/models/concerns/instance/course_components_concern.rb
  app/models/course.rb
  app/models/instance.rb
  spec/components/course/controller_component_host_spec.rb
Due: backend

Simplify component settings models
  app/controllers/course/admin/component_settings_controller.rb
  app/models/concerns/component_settings_concern.rb
  app/models/course/settings/components.rb
  app/models/instance/settings/components.rb
  spec/controllers/course/admin/component_settings_controller_spec.rb
  spec/features/system/admin/components_settings_spec.rb
  spec/models/concerns/component_settings_concerns.rb
Due: backend

Use component query methods on Course and Instance
  app/helpers/course/object_duplications_helper.rb
  app/views/course/admin/component_settings/edit.html.slim
  app/views/course/object_duplications/_course_duplication_data.json.jbuilder
  app/views/course/object_duplications/new.json.jbuilder
  app/views/system/admin/instance/components/edit.html.slim
  spec/controllers/course/admin/component_settings_controller_spec.rb
  spec/controllers/system/admin/instance/components_controller_spec.rb
  spec/features/course/admin/component_settings_spec.rb
  spec/features/system/admin/components_settings_spec.rb
Due: backend

Validate component keys as symbols instead of strings in host
  app/controllers/components/course/controller_component_host.rb
Due: backend

Do not access the components settings subtree directly
  app/controllers/course/admin/component_settings_controller.rb
  app/controllers/system/admin/instance/components_controller.rb
  app/models/concerns/component_settings_concern.rb
  app/models/concerns/course_component_query_concern.rb
  spec/components/course/controller_component_host_spec.rb
  spec/controllers/course/admin/videos/tabs_controller_spec.rb
  spec/factories/courses.rb
  spec/factories/instances.rb
Due: backend

Allow course settings and user management to be disabled at instance level
  app/controllers/components/course/controller_component_host.rb
  app/controllers/components/course/settings_component.rb
  app/controllers/components/course/users_component.rb
  app/models/concerns/course/course_components_concern.rb
  app/models/concerns/instance/course_components_concern.rb
  spec/components/course/controller_component_host_spec.rb
Due: backend

Add observer role to CourseUser
  app/models/components/ability_host.rb
  app/models/components/course/course_ability_component.rb
  app/models/components/course/statistics_ability_component.rb
  app/models/components/course/virtual_classrooms_ability_component.rb
  app/models/course_user.rb
  app/views/course/users/staff.html.slim
  config/locales/en/course/users.yml
  spec/factories/course_users.rb
  spec/models/course/statistics_ability_spec.rb
  spec/models/course/virtual_classroom_ability_spec.rb
  spec/models/course_ability_spec.rb
  spec/models/course_user_spec.rb
Due: backend

Implement observer permissions for achievements
  app/models/components/course/achievements_ability_component.rb
  spec/models/course/achievement_ability_spec.rb
Due: backend

Implement observer permissions for announcements
  app/models/components/course/announcements_ability_component.rb
  spec/models/course/announcement_ability_spec.rb
Due: backend

Modify conditions ability to only allow teaching staff
  app/models/components/course/conditions_ability_component.rb
Due: backend

Modify discussion permissions for teaching staff
  app/controllers/components/course/discussion/topics_component.rb
  app/controllers/concerns/course/discussion/posts_concern.rb
  app/models/components/course/discussions_ability_component.rb
  app/views/course/discussion/topics/_tabs.html.slim
Due: backend

Implement observer permissions for duplication
  app/models/components/course/duplication_ability_component.rb
  spec/models/duplication_ability_spec.rb
Due: backend

Implement observer permissions for exp records
  app/models/components/course/experience_points_disbursement_ability_component.rb
  app/models/components/course/experience_points_records_ability_component.rb
  spec/models/course/experience_points_record_ability_spec.rb
Due: backend

Implement observer permissions for forums
  app/models/components/course/forums_ability_component.rb
  spec/models/course/forum/topic_ability_spec.rb
  spec/models/course/forum_ability_spec.rb
Due: backend

Implement observer permissions for group
  app/controllers/components/course/groups_component.rb
  app/controllers/course/groups_controller.rb
  app/models/components/course/groups_ability_component.rb
  app/views/course/groups/_group.html.slim
  app/views/course/groups/show.html.slim
  config/locales/en/course/groups.yml
  config/routes.rb
  spec/features/course/group_management_spec.rb
  spec/models/course/group_ability_spec.rb
Due: backend

Implement observer permissions for lesson plan
  app/models/components/course/lesson_plan_ability_component.rb
  spec/models/course/lesson_plan/lesson_plan_item_ability_spec.rb
Due: backend

Fix tooltip for react summernote inline code button
  client/app/lib/components/MaterialSummernote.jsx
Due: frontend

Add hard source webpack plugin.
  .travis.yml
  client/package.json
  client/webpack.config.js
  client/yarn.lock
Due: none

Remove `redirect_back` method which is already implemented in Rails 5
  app/controllers/application_controller.rb
Due: backend

Fix bug to reflect phantom for invitations
  app/models/user.rb
  spec/features/user_sign_up_spec.rb
Due: backend

Implement observer permissions for videos
  app/models/components/course/videos_ability_component.rb
  spec/models/course/video/video_ability_spec.rb
Due: backend

Implement observer permissions for materials
  app/models/components/course/materials_ability_component.rb
  spec/models/course/material_ability_spec.rb
Due: backend

Implement observer permissions for skills
  app/models/course/assessment/skill_ability.rb
  spec/models/course/assessment/skill_ability_spec.rb
Due: backend

Implement observer permissions for levels
  app/models/components/course/levels_ability_component.rb
  app/views/course/levels/index.json.jbuilder
  client/app/bundles/course/level/components/LevelRow.jsx
  client/app/bundles/course/level/index.jsx
  client/app/bundles/course/level/pages/Level/index.jsx
  client/app/bundles/course/level/reducers/level.js
  spec/models/course/level_ability_spec.rb
Due: frontend, backend

Implement observer permissions for surveys
  app/models/components/course/surveys_ability_component.rb
  spec/factories/course_survey_responses.rb
  spec/models/course/survey/survey_ability_spec.rb
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
