Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(course-announcements): add time syncing
  client/app/bundles/course/announcements/components/forms/AnnouncementForm.tsx
  client/app/bundles/course/announcements/components/misc/AnnouncementCard.tsx
  client/app/bundles/course/announcements/operations.ts
  client/app/bundles/course/announcements/pages/AnnouncementEdit/index.tsx
  client/app/bundles/course/announcements/pages/AnnouncementNew/index.tsx
  client/app/types/course/announcements.ts
Due: frontend

tests(course-announcement): fix tests
  spec/helpers/application_widgets_helper_spec.rb
Due: none

fix AnnouncementCard
  client/app/bundles/course/announcements/components/misc/AnnouncementCard.tsx
Due: frontend

routes: remove pagination concern
  config/routes.rb
Due: none

feat(announcement): enable search by announcement title
  client/app/bundles/course/announcements/components/misc/AnnouncementsDisplay.tsx
Due: frontend

fix(course-announcements): fix bugs with startend time
  client/app/bundles/course/announcements/components/misc/AnnouncementCard.tsx
  client/app/bundles/course/announcements/pages/AnnouncementEdit/index.tsx
  client/app/bundles/course/announcements/pages/AnnouncementNew/index.tsx
Due: frontend

tests(announcements): fix tests
  client/app/bundles/course/announcements/components/buttons/NewAnnouncementButton.tsx
  client/app/bundles/course/announcements/components/forms/AnnouncementForm.tsx
  client/app/bundles/course/announcements/components/misc/AnnouncementCard.tsx
  spec/features/course/announcement_management_spec.rb
  spec/features/course/announcement_pagination_spec.rb
  spec/features/course/announcement_sticky_spec.rb
Due: frontend

fix(personal times): fix personal times page error for admin user with student role in a course
  app/views/course/users/index.json.jbuilder
Due: backend

feat(mrq question): add skip_grading feature for mrq/mcq question type
  app/controllers/course/assessment/question/multiple_responses_controller.rb
  app/models/course/assessment/question/multiple_response.rb
  app/services/course/assessment/answer/multiple_response_auto_grading_service.rb
  app/views/course/assessment/question/multiple_responses/_form.html.slim
  app/views/course/assessment/question/multiple_responses/_option_fields.html.slim
  client/app/bundles/course/assessment/question/multiple-responses.js
  config/locales/en/course/assessment/question/multiple_responses.yml
  db/migrate/20220701045213_add_skip_grading_to_mrq.rb
  db/schema.rb
  spec/factories/course_assessment_question_multiple_responses.rb
  spec/services/course/assessment/answer/multiple_response_auto_grading_service_spec.rb
Due: frontend, backend

style(manage users): style cleanup
  client/app/bundles/course/enrol-requests/components/buttons/PendingEnrolRequestsButtons.tsx
  client/app/bundles/course/user-invitations/components/buttons/PendingInvitationsButtons.tsx
  client/app/bundles/course/users/components/buttons/UserManagementButtons.tsx
  client/app/bundles/course/users/components/misc/PersonalTimeEditor.tsx
  client/app/bundles/course/users/components/tables/PersonalTimesTable.tsx
  client/app/lib/components/form/fields/CheckboxField.jsx
  client/app/lib/components/form/fields/DataTableInlineEditable/TextField.tsx
Due: frontend

refactor(manage users): bugfix and typescript
  client/app/bundles/course/users/components/misc/PersonalTimeEditor.tsx
  client/app/bundles/course/users/components/tables/PersonalTimesTable.tsx
  client/app/lib/components/form/fields/CheckboxField.tsx
  client/app/lib/components/form/fields/utils/mapError.js
Due: frontend

fix(leaderboard): linting
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/lib/components/DataTable.jsx
Due: frontend

refactor(leaderboard): fix UI issues based on Prof's comments
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/app/lib/components/DataTable.jsx
Due: frontend

chore: regenerate routes file
  app/assets/javascripts/routes.js
Due: backend

feat(virtual classroom): remove virtual classroom feature
  app/assets/javascripts/routes.js
  app/assets/stylesheets/course/virtual_classrooms.scss
  app/controllers/components/course/virtual_classrooms_component.rb
  app/controllers/course/admin/virtual_classroom_settings_controller.rb
  app/controllers/course/virtual_classrooms_controller.rb
  app/helpers/course/virtual_classrooms_helper.rb
  app/models/components/course/virtual_classrooms_ability_component.rb
  app/models/course.rb
  app/models/course/settings/virtual_classrooms_component.rb
  app/models/course/virtual_classroom.rb
  app/services/course/virtual_classroom/braincert_api_service.rb
  app/views/course/admin/virtual_classroom_settings/edit.html.slim
  app/views/course/virtual_classrooms/_form.html.slim
  app/views/course/virtual_classrooms/_virtual_classroom.html.slim
  app/views/course/virtual_classrooms/_virtual_classroom_spacer.html.slim
  app/views/course/virtual_classrooms/edit.html.slim
  app/views/course/virtual_classrooms/index.html.slim
  app/views/course/virtual_classrooms/new.html.slim
  client/app/api/course/VirtualClassrooms.js
  client/app/api/course/index.js
  client/app/bundles/course/virtual-classrooms.js
  config/locales/en/breadcrumbs.yml
  config/locales/en/components.yml
  config/locales/en/course/admin/virtual_classroom_settings.yml
  config/locales/en/course/virtual_classrooms.yml
  config/locales/en/layout.yml
  config/routes.rb
  spec/controllers/course/virtual_classrooms_controller_spec.rb
  spec/factories/course_virtual_classrooms.rb
  spec/factories/courses.rb
  spec/factories/instances.rb
  spec/features/course/admin/component_settings_spec.rb
  spec/features/course/admin/virtual_classroom_settings_spec.rb
  spec/features/course/virtual_classroom/virtual_classroom_access_link_spec.rb
  spec/features/course/virtual_classroom/virtual_classroom_management_spec.rb
  spec/features/course/virtual_classroom/virtual_classroom_pagination_spec.rb
  spec/helpers/course/virtual_classrooms_helper_spec.rb
  spec/models/course/virtual_classroom_ability_spec.rb
  spec/models/course/virtual_classroom_spec.rb
  spec/support/stubs/course/virtual_classroom/stubbed_braincert_api_service.rb
Due: frontend, backend

refactor(manage users): Add types to checkbox component
  client/app/lib/components/form/fields/CheckboxField.tsx
  client/app/lib/components/form/fields/DateTimePickerField.jsx
  spec/support/capybara.rb
Due: frontend

refactor(leaderboard): add avatar responsiveness and fix intl
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
Due: frontend

fix(leaderboard): testcases
  spec/features/course/leaderboard_viewing_spec.rb
Due: none

fix(leaderboard): mediaquery
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
Due: frontend

style(leaderboard): fix style
  client/app/bundles/course/leaderboard/components/tables/LeaderboardTable.tsx
  client/app/bundles/course/leaderboard/pages/LeaderboardIndex/index.tsx
  client/yarn.lock
Due: frontend

fix(announcement): remove announcement pagination
  app/controllers/course/admin/announcement_settings_controller.rb
  app/models/course/settings/announcements_component.rb
  app/views/course/admin/announcement_settings/edit.html.slim
  spec/features/course/admin/announcement_settings_spec.rb
Due: backend

Remove unused files and translations
  app/views/course/assessment/submissions/_filter.html.slim
  app/views/course/assessment/submissions/_submission.html.slim
  app/views/course/assessment/submissions/_submissions.html.slim
  app/views/course/assessment/submissions/_tabs.html.slim
  app/views/course/assessment/submissions/index.html.slim
  app/views/course/assessment/submissions/pending.html.slim
  config/locales/en/common.yml
  config/locales/en/course/assessment/submissions.yml
Due: backend

refactor(course-submissions): React Migration
  app/controllers/components/course/assessments_component.rb
  app/controllers/course/assessment/submissions_controller.rb
  app/models/course/assessment/submission.rb
  app/views/course/assessment/submissions/_filter.json.jbuilder
  app/views/course/assessment/submissions/_submissions_list_data.json.jbuilder
  app/views/course/assessment/submissions/_tabs.json.jbuilder
  app/views/course/assessment/submissions/index.html.slim
  app/views/course/assessment/submissions/index.json.jbuilder
  app/views/course/assessment/submissions/pending.html.slim
  app/views/course/assessment/submissions/pending.json.jbuilder
  client/app/api/course/Assessment/Submissions/Submissions.ts
  client/app/api/course/index.js
  client/app/bundles/course/assessment/submissions.ts
  client/app/bundles/course/assessment/submissions/actions.ts
  client/app/bundles/course/assessment/submissions/components/buttons/SubmissionsTableButton.tsx
  client/app/bundles/course/assessment/submissions/components/misc/StarterPack.tsx
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionFilter.tsx
  client/app/bundles/course/assessment/submissions/components/tables/SubmissionsTable.tsx
  client/app/bundles/course/assessment/submissions/index.tsx
  client/app/bundles/course/assessment/submissions/operations.ts
  client/app/bundles/course/assessment/submissions/pages/SubmissionsIndex/index.tsx
  client/app/bundles/course/assessment/submissions/reducers.ts
  client/app/bundles/course/assessment/submissions/selectors.ts
  client/app/bundles/course/assessment/submissions/store.ts
  client/app/bundles/course/assessment/submissions/types.ts
  client/app/lib/components/TitleBar.jsx
  client/app/lib/helpers/timehelper.ts
  client/app/lib/helpers/url-builders.js
  client/app/types/course/assessment/submissions.ts
  client/app/types/store.ts
Due: frontend, backend

tests(course-submissions): fix tests
  app/controllers/course/assessment/submissions_controller.rb
  client/app/bundles/course/assessment/submissions/components/buttons/SubmissionsTableButton.tsx
  client/app/bundles/course/assessment/submissions/components/misc/StarterPack.tsx
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionFilter.tsx
  client/app/bundles/course/assessment/submissions/components/tables/SubmissionsTable.tsx
  client/app/bundles/course/assessment/submissions/pages/SubmissionsIndex/index.tsx
  spec/features/course/assessment/submissions_viewing_spec.rb
Due: frontend, backend

refactor(submissions controller): refactor pagination scope
  app/controllers/course/assessment/submissions_controller.rb
  app/models/concerns/generic/collection_concern.rb
  app/models/course/assessment/submission.rb
Due: backend

chore(webpack): gzip bundle
  client/package.json
  client/webpack.config.js
  client/yarn.lock
Due: none

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
