Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: "70...100"
  status:
    project:
      default: off
      frontend:
        target: 25%
        flags: frontend
      backend:
        target: 80%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

Add video player to frontend
  client/app/bundles/course/video/submission/containers/Charts/ProgressGraph.jsx
  client/app/bundles/course/video/submission/containers/Statistics.jsx
  client/app/bundles/course/video/submission/containers/Statistics.scss
  client/app/bundles/course/video/submission/submissions-show.jsx
Due: frontend

Specify node and PostgreSQL versions to use.
  README.md
Due: none

Move topbar to partial
  app/themes/default/views/layouts/_topbar.html.slim
  app/themes/default/views/layouts/default.html.slim
Due: backend

Refactor SingleFileInput
  client/app/bundles/course/achievement/containers/AchievementForm/index.jsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.js
  client/app/bundles/course/assessment/question/scribing/components/FileUploadField.jsx
  client/app/bundles/course/assessment/submission/containers/VoiceResponseAnswer.jsx
  client/app/lib/components/redux-form/SingleFileInput.jsx
  client/app/lib/components/redux-form/SingleFileInput/BadgePreview.jsx
  client/app/lib/components/redux-form/SingleFileInput/DeleteButton.jsx
  client/app/lib/components/redux-form/SingleFileInput/FilePreview.jsx
  client/app/lib/components/redux-form/SingleFileInput/ImagePreview.jsx
  client/app/lib/components/redux-form/SingleFileInput/__test__/BadgePreview.test.js
  client/app/lib/components/redux-form/SingleFileInput/__test__/ImagePreview.test.js
  client/app/lib/components/redux-form/SingleFileInput/__test__/index.test.js
  client/app/lib/components/redux-form/SingleFileInput/index.jsx
  client/app/lib/components/redux-form/SingleFileInput/translations.js
  client/app/lib/components/redux-form/__test__/SingleFileInput.test.js
Due: frontend

Update Capybara config
  Gemfile
  spec/spec_helper.rb
  spec/support/capybara.rb
Due: none

Add depfu to travis CI branch blacklist
  .travis.yml
Due: none

Fix duplication spec
  spec/features/course/duplication_spec.rb
Due: none

Remove extra capybara driver registrations
  spec/support/capybara.rb
Due: none

Mark event types as start or end events
  app/models/course/video/event.rb
Due: backend

Allow video URLs to be changed w/ conditions
  app/models/course/video.rb
  spec/models/course/video_spec.rb
Due: backend

Add interval queries
  app/models/course/video/event.rb
  spec/controllers/course/video/submission/sessions_controller_spec.rb
  spec/factories/course_video_sessions.rb
  spec/models/course/video/event_spec.rb
  spec/models/course/video/session_spec.rb
Due: backend

Allow bar chart to be displayed in 2 modes
  client/app/bundles/course/video/submission/containers/Charts/HeatMap.jsx
Due: frontend

Add method to compute watch frequency
  app/models/concerns/course/video/watch_statistics_concern.rb
  app/models/course/video/submission.rb
  spec/models/course/video/submission_spec.rb
Due: backend

Add Heatmap
  app/views/course/video/submission/submissions/show.json.jbuilder
  client/app/bundles/course/video/submission/containers/Charts/HeatMap.jsx
  client/app/bundles/course/video/submission/containers/Statistics.jsx
Due: frontend, backend

Format labels
  client/app/bundles/course/video/submission/containers/Charts/HeatMap.jsx
  client/app/bundles/course/video/submission/containers/Statistics.jsx
  client/app/bundles/course/video/submission/translations.js
Due: frontend

Peg video URL form field to url_unchangeble?
  app/views/course/video/videos/_form.html.slim
  config/locales/en/course/video/videos.yml
  spec/models/course/video_spec.rb
Due: backend

Extract scribing question MultiSelectSkillsField into a shared component
  client/app/bundles/course/assessment/question/scribing/components/MultiSelectSkillsField.jsx
  client/app/lib/components/redux-form/MultiSelect.jsx
Due: frontend

Call expression only once for Java Autograder.
  app/services/course/assessment/question/programming/java/AutograderResult.java
  app/services/course/assessment/question/programming/java/java_package_service.rb
Due: backend

Modify MultiSelect component to only store option ids in redux-form
  app/views/course/assessment/question/scribing/_scribing_question.json.jbuilder
  client/app/bundles/course/assessment/question/scribing/__test__/index.test.js
  client/app/bundles/course/assessment/question/scribing/actions/scribingQuestionActionCreators.jsx
  client/app/bundles/course/assessment/question/scribing/components/MultiSelectSkillsField.jsx
  client/app/bundles/course/assessment/question/scribing/propTypes.js
  client/app/lib/components/redux-form/MultiSelect.jsx
Due: frontend, backend

Remove summernote version restriction
  Gemfile
  Gemfile.lock
Due: none

Update parser gem
  Gemfile
  Gemfile.lock
Due: none

Update codeclimate test reporter
  .travis.yml
  Gemfile
  Gemfile.lock
Due: none

Fix Continue button for scribing answer on autograded assessment
  app/views/course/assessment/answer/multiple_responses/_multiple_response.json.jbuilder
  app/views/course/assessment/answer/scribing/_scribing.json.jbuilder
  app/views/course/assessment/answer/text_responses/_text_response.json.jbuilder
Due: backend

Associate video posts through discussion topics to video topics.
  app/models/course/video.rb
Due: backend

Enable video component in video model spec tests.
  spec/models/course/video_spec.rb
Due: none

Persist video component enabling on instance in courses factory.
  spec/factories/courses.rb
Due: none

Update parser gem.
  Gemfile
  Gemfile.lock
Due: none

Fix trait in video model spec.
  spec/models/course/video_spec.rb
Due: none

Do not maintain frozen status of child objects.
  app/helpers/application_html_formatters_helper.rb
Due: backend

Create association table for skills and question assessments.
  db/migrate/20180703023011_create_course_assessment_skills_question_assessments.rb
  db/schema.rb
Due: none

Manage skills through question assessment for TextResponseQuestions.
  app/controllers/course/assessment/question/text_responses_controller.rb
  app/views/course/assessment/question/text_responses/_form.html.slim
Due: backend

Manage skills through question assessment for MultipleResponseQuestions.
  app/controllers/course/assessment/question/multiple_responses_controller.rb
  app/views/course/assessment/question/multiple_responses/_form.html.slim
Due: backend

Manage skills through question assessment for ProgrammingQuestions.
  app/controllers/course/assessment/question/programming_controller.rb
  app/views/course/assessment/question/programming/_question.json.jbuilder
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
Due: frontend, backend

Assign skills to question assessments in Question controller.
  app/controllers/course/assessment/question/controller.rb
  app/views/course/assessment/questions/_form.html.slim
Due: backend

Manage skills through question assessment for VoiceResponseQuestions.
  app/controllers/course/assessment/question/voice_responses_controller.rb
  app/views/course/assessment/question/voice_responses/_form.html.slim
Due: backend

Associate Skills with QuestionAssessments in the models.
  app/models/course/assessment/question.rb
  app/models/course/assessment/question/multiple_response.rb
  app/models/course/assessment/question/programming.rb
  app/models/course/assessment/question/scribing.rb
  app/models/course/assessment/question/text_response.rb
  app/models/course/assessment/question/voice_response.rb
  app/models/course/assessment/skill.rb
  app/models/course/question_assessment.rb
Due: backend

Fix tests.
  client/app/bundles/course/assessment/question/scribing/__test__/index.test.js
  client/app/bundles/course/assessment/question/scribing/actions/__test__/responses.test.js
  client/app/bundles/course/assessment/question/scribing/actions/scribingQuestionActionCreators.jsx
  spec/controllers/course/assessment/question/multiple_response_controller_spec.rb
  spec/controllers/course/assessment/question/scribing_controller_spec.rb
  spec/controllers/course/assessment/question/text_responses_controller_spec.rb
  spec/features/course/assessment/question/duplication_spec.rb
  spec/features/course/assessment/question/multiple_response_management_spec.rb
  spec/features/course/assessment/question/programming_management_spec.rb
  spec/features/course/assessment/question/text_response_management_spec.rb
  spec/models/course/assessment/question_spec.rb
  spec/models/course/assessment/skill_spec.rb
  spec/services/course/duplication/object_duplication_service_spec.rb
Due: frontend

Manage skills through question assessment for ScribingQuestions.
  app/controllers/course/assessment/question/scribing_controller.rb
  app/views/course/assessment/question/scribing/_scribing_question.json.jbuilder
  client/app/api/course/Assessment/question/scribing/Scribing.js
  client/app/bundles/course/assessment/question/scribing/actions/scribingQuestionActionCreators.jsx
Due: frontend, backend

Duplicate Skills when cherry picking individual questions.
  app/controllers/course/assessment/questions_controller.rb
Due: backend

Fix submission page student view showing hidden test cases
  client/app/bundles/course/assessment/submission/containers/TestCaseView/__test__/index.test.js
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
Due: frontend
