Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

test(rspec): add and modify test cases for forum-import and multiple material chunking
  spec/controllers/course/material/materials_controller_spec.rb
  spec/features/rag_wise/rag_wise_settings_form_spec.rb
  spec/features/rag_wise/rag_wise_settings_forum_spec.rb
  spec/features/rag_wise/rag_wise_settings_material_spec.rb
  spec/features/rag_wise/vector.json
Due: none

feat(UI): add and modify UI for forum imports and multiple material chunking
  client/app/api/course/Admin/RagWise.ts
  client/app/api/course/Materials.ts
  client/app/bundles/course/admin/pages/RagWiseSettings/components/CourseTab.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/components/FolderTab.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/components/ForumItem.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/components/ForumList.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/components/MaterialItem.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/components/MaterialList.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/components/buttons/ExpandAllSwitch.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/components/buttons/ForumKnowledgeBaseSwitch.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/components/buttons/KnowledgeBaseSwitch.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/components/buttons/MaterialKnowledgeBaseSwitch.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/constants.ts
  client/app/bundles/course/admin/pages/RagWiseSettings/index.tsx
  client/app/bundles/course/admin/pages/RagWiseSettings/operations.ts
  client/app/bundles/course/admin/pages/RagWiseSettings/selectors.ts
  client/app/bundles/course/admin/pages/RagWiseSettings/translations.ts
  client/app/bundles/course/admin/reducers/ragWiseSettings.ts
  client/app/types/course/admin/ragWise.ts
  client/app/types/course/material/folders.ts
Due: frontend

feat(forum-imports-and-mulitple-material-chunking): add forum imports and multiple material chunking
  app/controllers/course/admin/rag_wise_settings_controller.rb
  app/controllers/course/material/controller.rb
  app/controllers/course/material/materials_controller.rb
  app/jobs/course/forum/importing_job.rb
  app/jobs/course/material/text_chunk_job.rb
  app/models/components/course/rag_wise_setting_ability_component.rb
  app/models/concerns/course/duplication_concern.rb
  app/models/course.rb
  app/models/course/forum.rb
  app/models/course/forum/discussion.rb
  app/models/course/forum/discussion_reference.rb
  app/models/course/forum/import.rb
  app/models/course/material.rb
  app/models/course/material/text_chunking.rb
  app/services/rag_wise/rag_workflow_service.rb
  app/services/rag_wise/tools/course_forum_discussions_tool.rb
  app/views/course/admin/rag_wise_settings/courses.json.jbuilder
  app/views/course/admin/rag_wise_settings/forums.json.jbuilder
  config/routes.rb
Due: backend

fix(rag-workflow): add question to evaluation service during get_assistant_response
  app/services/rag_wise/rag_workflow_service.rb
Due: backend

fix(sidekiq): move conditional satisfiability jobs to tracked queue
  app/jobs/course/conditional/conditional_satisfiability_evaluation_job.rb
  app/jobs/course/conditional/coursewide_conditional_satisfiability_evaluation_job.rb
Due: backend

feat(liveFeedback): add option list offered in each message
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/live_feedback_history.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackConversation.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackMessageHistory.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackMessageOptionHistory.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/utils.ts
  client/app/types/course/assessment/submission/liveFeedback.ts
Due: frontend, backend

refactor(liveFeedback): modify fetch live feedback stats
  app/controllers/concerns/course/statistics/live_feedback_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
Due: backend

refactor(liveFeedback): modify history detail page
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/live_feedback_history.json.jbuilder
  client/app/bundles/course/assessment/operations/liveFeedback.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackConversation.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackFiles.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackHistoryPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/selectors.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/translations.ts
  client/app/bundles/course/assessment/reducers/liveFeedback.ts
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ConversationArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/utils.ts
  client/app/types/course/assessment/submission/liveFeedback.ts
Due: frontend, backend

refactor(test): modify live feedback test cases
  spec/controllers/course/statistics/assessment_controller_spec.rb
  spec/factories/course_assessment_live_feedback_code.rb
  spec/factories/course_assessment_live_feedback_comments.rb
  spec/factories/course_assessment_live_feedback_messages.rb
  spec/factories/course_assessment_live_feedback_threads.rb
  spec/factories/course_assessment_live_feedbacks.rb
Due: none

feat(question-generation): improved error handling
  app/controllers/course/assessment/question/programming_controller.rb
  app/helpers/course/assessment/question/programming_helper.rb
  app/models/course/assessment/assessment_ability.rb
  app/views/course/assessment/question/programming/_import_result.json.jbuilder
  client/app/api/course/Assessment/Question/Programming.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateExportDialog.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/types.ts
  client/app/bundles/course/assessment/pages/AssessmentShow/AssessmentShowPage.tsx
  client/app/bundles/course/assessment/question/programming/components/common/ImportResult.tsx
  client/app/bundles/course/assessment/question/programming/operations.ts
  client/app/bundles/course/assessment/reducers/generation.ts
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/question/programming.ts
  config/routes.rb
  spec/features/course/assessment/question/programming_management_spec.rb
  spec/helpers/course/assessment/question/programming_helper_spec.rb
Due: frontend, backend

feat(question-generation): support Java question generation
  app/controllers/concerns/codaveri_language_concern.rb
  app/controllers/course/assessment/question/programming_controller.rb
  app/services/course/assessment/answer/programming_codaveri_async_feedback_service.rb
  app/services/course/assessment/answer/programming_codaveri_feedback_service.rb
  app/services/course/assessment/programming_codaveri_evaluation_service.rb
  app/services/course/assessment/question/codaveri_problem_generation_service.rb
  app/services/course/assessment/question/programming_codaveri_service.rb
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateProgrammingQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateQuestionPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/LockableSection.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/TestCasesManager.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/constants.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/types.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/utils.ts
  lib/tasks/db/set_polyglot_language_flags.rake
  spec/controllers/concerns/codaveri_language_concern_spec.rb
Due: frontend, backend

feat(question-generation): sync translation keys
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateExportDialog.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/LockableSection.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/locales/en/course/assessment/question/programming.yml
  config/locales/ko/course/assessment/question/programming.yml
  config/locales/zh/course/assessment/question/programming.yml
Due: frontend

fix(rag-attachment): replace file.read with attachment.open
  app/services/rag_wise/rag_workflow_service.rb
Due: backend

feat(submission): publish `grade` to cikgo
  app/models/concerns/course/assessment/submission/cikgo_task_completion_concern.rb
  app/services/cikgo/resources_service.rb
Due: backend

fix(cikgo_push_concern): not pushing after committing edits
  app/models/concerns/course/lesson_plan/item/cikgo_push_concern.rb
Due: backend

feat(db): add and modify tables required for forum imports
  db/migrate/20250205154519_create_course_forum_imports_and_discussions.rb
  db/migrate/20250222095313_remove_unique_index_from_job_id_in_course_material_text_chunkings.rb
  db/schema.rb
Due: none

feat(forum-imports-and-mulitple-material-chunking): add forum imports and multiple material chunking
  app/controllers/course/admin/rag_wise_settings_controller.rb
  app/controllers/course/material/controller.rb
  app/controllers/course/material/materials_controller.rb
  app/jobs/course/forum/importing_job.rb
  app/jobs/course/material/text_chunk_job.rb
  app/models/components/course/rag_wise_setting_ability_component.rb
  app/models/concerns/course/duplication_concern.rb
  app/models/course.rb
  app/models/course/forum.rb
  app/models/course/forum/discussion.rb
  app/models/course/forum/discussion_reference.rb
  app/models/course/forum/import.rb
  app/models/course/material.rb
  app/models/course/material/text_chunking.rb
  app/services/rag_wise/rag_workflow_service.rb
  app/services/rag_wise/tools/course_forum_discussions_tool.rb
  app/services/rag_wise/tools/course_materials_tool.rb
  app/views/course/admin/rag_wise_settings/courses.json.jbuilder
  app/views/course/admin/rag_wise_settings/forums.json.jbuilder
  config/routes.rb
Due: backend

style(assessment-submissions): refactor index page to tsx, renamed variables
  client/app/bundles/course/assessment/submission/constants.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.tsx
Due: frontend

refactor(liveFeedback): modify history detail page
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/live_feedback_history.json.jbuilder
  client/app/bundles/course/assessment/operations/liveFeedback.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackConversation.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackFiles.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackHistoryPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/selectors.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/translations.ts
  client/app/bundles/course/assessment/reducers/liveFeedback.ts
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ConversationArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/utils.ts
  client/app/types/course/assessment/submission/liveFeedback.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

Revert "fix(sidekiq): move conditional satisfiability jobs to tracked queue"
  app/jobs/course/conditional/conditional_satisfiability_evaluation_job.rb
  app/jobs/course/conditional/coursewide_conditional_satisfiability_evaluation_job.rb
Due: backend

feat(question-generation): sync translation keys
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/locales/en/course/assessment/question/programming.yml
  config/locales/ko/course/assessment/question/programming.yml
  config/locales/zh/course/assessment/question/programming.yml
Due: none
