Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(ssid): toggle display of self-plagiarism pairs
  app/views/course/plagiarism/assessments/plagiarism_data.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentPlagiarism/PlagiarismResultsTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

fix(codaveri): fix parsing of assertEqual test cases with hints
  app/services/course/assessment/question/programming_codaveri/python/python_package_service.rb
  spec/services/course/assessment/question/programming_codaveri/python/python_package_service_spec.rb
Due: backend

feat(i18n): update codaveri settings translations
  client/app/bundles/course/admin/pages/CodaveriSettings/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

feat(get-help): add usage limit configuration option
  app/controllers/concerns/course/assessment/live_feedback/thread_concern.rb
  app/controllers/course/admin/codaveri_settings_controller.rb
  app/controllers/course/assessment/submission/live_feedback_controller.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course.rb
  app/models/course/assessment/live_feedback/thread.rb
  app/models/course/settings/codaveri_component.rb
  app/views/course/admin/codaveri_settings/edit.json.jbuilder
  app/views/course/assessment/submission/submissions/create_live_feedback_chat.json.jbuilder
  app/views/course/assessment/submission/submissions/fetch_live_feedback_chat.json.jbuilder
  app/views/course/assessment/submission/submissions/fetch_live_feedback_status.json.jbuilder
  client/app/bundles/course/admin/pages/CodaveriSettings/components/forms/CodaveriSettingsForm.tsx
  client/app/bundles/course/admin/pages/CodaveriSettings/operations.ts
  client/app/bundles/course/admin/pages/CodaveriSettings/translations.ts
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ChatInputArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/ConversationArea.tsx
  client/app/bundles/course/assessment/submission/components/GetHelpChatPage/index.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
  client/app/bundles/course/assessment/submission/translations.ts
  client/app/bundles/course/assessment/submission/types.ts
  client/app/types/course/admin/codaveri.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/models/course/settings/codaveri_component_spec.rb
Due: frontend, backend

fix(downloads): added cleanup for services working with temp files / directories
  app/helpers/tmp_cleanup_helper.rb
  app/jobs/course/assessment/submission/csv_download_job.rb
  app/jobs/course/assessment/submission/statistics_download_job.rb
  app/jobs/course/assessment/submission/zip_download_job.rb
  app/jobs/course/experience_points_download_job.rb
  app/jobs/course/material/zip_download_job.rb
  app/jobs/course/statistics/assessments_score_summary_download_job.rb
  app/jobs/course/survey/survey_download_job.rb
  app/services/course/assessment/submission/base_zip_download_service.rb
  app/services/course/assessment/submission/csv_download_service.rb
  app/services/course/assessment/submission/ssid_plagiarism_service.rb
  app/services/course/assessment/submission/ssid_zip_download_service.rb
  app/services/course/assessment/submission/statistics_download_service.rb
  app/services/course/assessment/submission/zip_download_service.rb
  app/services/course/experience_points_download_service.rb
  app/services/course/material/zip_download_service.rb
  app/services/course/statistics/assessments_score_summary_download_service.rb
  app/services/course/survey/survey_download_service.rb
  spec/services/course/assessment/submission/csv_download_service_spec.rb
  spec/services/course/assessment/submission/ssid_plagiarism_service_spec.rb
  spec/services/course/assessment/submission/ssid_zip_download_service_spec.rb
  spec/services/course/assessment/submission/statistics_download_service_spec.rb
  spec/services/course/assessment/submission/zip_download_service_spec.rb
  spec/services/course/experience_points_download_service_spec.rb
  spec/services/course/material/zip_download_service_spec.rb
  spec/services/course/statistics/assessment_score_summary_download_service_spec.rb
  spec/services/course/survey/survey_download_spec.rb
Due: backend

fix(ssid): add duplication tests and fix edge case behavior
  app/models/course/assessment.rb
  spec/models/course/assessment/duplication_spec.rb
Due: backend

fix(ssid): precompute all linkable assessments
  app/models/course/assessment.rb
  db/migrate/20251126073121_add_assessments_linkable_tree_id.rb
  db/schema.rb
  lib/tasks/db/populate_assessment_linkable_tree_id.rake
  lib/tasks/db/populate_assessment_links.rake
  spec/models/course/assessment/duplication_spec.rb
  spec/services/course/assessment/submission/ssid_plagiarism_service_spec.rb
Due: backend

fix(ssid): optimize page queries
  app/controllers/concerns/course/assessment/duplication_tree_concern.rb
  app/controllers/course/plagiarism/assessments_controller.rb
  app/services/course/assessment/submission/ssid_plagiarism_service.rb
  app/views/course/plagiarism/assessments/index.json.jbuilder
  app/views/course/plagiarism/assessments/linked_and_unlinked_assessments.json.jbuilder
  app/views/course/plagiarism/assessments/plagiarism_data.json.jbuilder
  spec/controllers/course/plagiarism/assessments_controller_spec.rb
  spec/support/stubs/ssid/api_stubs.rb
Due: backend

fix(downloads): standardize rich text to csv conversion
  app/helpers/application_formatters_helper.rb
  app/models/course/assessment/answer/forum_post_response.rb
  app/models/course/assessment/answer/multiple_response.rb
  app/models/course/assessment/answer/rubric_based_response.rb
  app/models/course/assessment/answer/text_response.rb
  app/services/course/survey/survey_download_service.rb
  spec/helpers/application_formatters_helper_spec.rb
Due: backend

fix(moment): remove server-side duration formatting on stats page
  app/helpers/course/statistics/aggregate_helper.rb
  app/views/course/statistics/aggregate/all_assessments.json.jbuilder
  app/views/course/statistics/aggregate/all_staff.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackMessageHistory.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedbackChats/index.ts
  client/app/bundles/course/duplication/pages/Duplication/DestinationCourseSelector/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/Details/Chips.jsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/assessments/AssessmentsStatisticsTable.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/staff/StaffStatisticsTable.tsx
  client/app/bundles/course/statistics/types.ts
  client/app/lib/moment.ts
  config/locales/en/time.yml
  config/locales/ko/time.yml
  config/locales/zh/time.yml
  spec/features/course/staff_statistics_spec.rb
Due: frontend, backend

chore(deps): upgrade ckeditor to v47
  client/package.json
  client/yarn.lock
Due: none

fix(translations): fix forum topic page translations, remove unused rails breadcrumbs
  client/app/bundles/course/forum/components/buttons/SubscribeButton.tsx
  client/app/bundles/course/forum/components/forms/ForumTopicForm.tsx
  client/app/bundles/course/forum/components/tables/ForumTopicTable.tsx
  client/app/bundles/course/forum/translations.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  config/i18n-tasks.yml
  config/locales/en/breadcrumbs.yml
  config/locales/en/common.yml
  config/locales/en/components.yml
  config/locales/en/course/assessment/assessments.yml
  config/locales/en/course/surveys.yml
  config/locales/ko/breadcrumbs.yml
  config/locales/ko/common.yml
  config/locales/ko/components.yml
  config/locales/ko/course/assessment/assessments.yml
  config/locales/ko/course/surveys.yml
  config/locales/zh/breadcrumbs.yml
  config/locales/zh/common.yml
  config/locales/zh/components.yml
  config/locales/zh/course/assessment/assessments.yml
  config/locales/zh/course/surveys.yml
Due: frontend

fix(downloads): explicitly install/require htmlentities gem
  Gemfile
  Gemfile.lock
  app/helpers/application_formatters_helper.rb
Due: backend

feat(assessmentStatistics): optimize queries, bug fixes, make attempts csv downloadable
  app/controllers/concerns/course/statistics/counts_concern.rb
  app/controllers/course/assessment/assessments_controller.rb
  app/helpers/course/discussion/topics_helper.rb
  app/views/course/assessment/assessments/index.json.jbuilder
  app/views/course/statistics/assessments/_attempt_status.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentGradesPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/SubmissionTimeAndGradeStatistics/SubmissionTimeAndGradeChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/utils.js
  client/app/bundles/course/assessment/reducers/statistics.ts
  client/app/bundles/course/assessment/utils/statisticsUtils.js
Due: frontend, backend

feat(downloads): use multipart upload for large (>100MB) downloads
  Gemfile
  lib/autoload/send_file.rb
  spec/libraries/send_file_spec.rb
Due: backend

feat(downloads): disable retry of file download jobs
  app/jobs/course/assessment/submission/csv_download_job.rb
  app/jobs/course/assessment/submission/statistics_download_job.rb
  app/jobs/course/assessment/submission/zip_download_job.rb
  app/jobs/course/experience_points_download_job.rb
  app/jobs/course/material/zip_download_job.rb
  app/jobs/course/statistics/assessments_score_summary_download_job.rb
  app/jobs/course/survey/survey_download_job.rb
Due: backend

feat(rubric-playground): display current rubric summary on playground page
  app/models/course/rubric.rb
  app/views/course/rubrics/_rubric.json.jbuilder
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/types/course/rubrics.ts
Due: frontend, backend

fix(users): disable auto-creation of instance users on visit
  app/controllers/concerns/application_instance_user_concern.rb
  app/controllers/system/admin/instance/user_invitations_controller.rb
  app/services/concerns/course/user_invitation_service/process_invitation_concern.rb
  app/services/instance/user_invitation_service.rb
  spec/controllers/system/admin/instance/user_invitations_controller_spec.rb
  spec/services/course/user_invitation_service_spec.rb
  spec/services/instance/user_invitation_service_spec.rb
Due: backend

feat(translations): add component translation keys to FE
  app/models/concerns/component_settings_concern.rb
  app/views/course/admin/component_settings/edit.json.jbuilder
  app/views/course/admin/sidebar_settings/show.json.jbuilder
  app/views/system/admin/instance/components/index.json.jbuilder
  client/app/bundles/course/admin/components/SettingsNavigation.tsx
  client/app/bundles/course/admin/pages/ComponentSettings/ComponentSettingsForm.tsx
  client/app/bundles/course/admin/pages/NotificationSettings/index.jsx
  client/app/bundles/course/admin/pages/NotificationSettings/translations.intl.js
  client/app/bundles/course/admin/pages/SidebarSettings/SidebarSettingsForm.tsx
  client/app/bundles/course/container/Sidebar/SidebarItem.tsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/AchievementsListing.jsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/AssessmentsListing.jsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/MaterialsListing.jsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/SurveyListing.jsx
  client/app/bundles/course/duplication/pages/Duplication/DuplicateItemsConfirmation/VideosListing.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/AchievementsSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/AssessmentsSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/MaterialsSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/SurveysSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelector/VideosSelector.jsx
  client/app/bundles/course/duplication/pages/Duplication/ItemsSelectorMenu/index.jsx
  client/app/bundles/course/level/pages/LevelsIndex/index.tsx
  client/app/bundles/course/translations.intl.js
  client/app/bundles/course/translations.ts
  client/app/bundles/system/admin/instance/instance/pages/InstanceComponentsIndex.tsx
  client/app/types/course/admin/components.ts
  client/app/types/course/admin/course.ts
  client/app/types/course/admin/sidebar.ts
  client/app/types/course/courses.ts
  client/app/types/system/instance/components.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

feat(translations): remove remaining references to BE component translation keys
  app/controllers/course/lesson_plan/items_controller.rb
  app/controllers/course/material/controller.rb
  app/models/course/settings/survey_component.rb
  app/models/course/settings/videos_component.rb
  app/views/course/material/folders/breadcrumbs.json.jbuilder
  app/views/course/reference_timelines/_reference_timeline.json.jbuilder
  app/views/course/surveys/_survey_lesson_plan_item.json.jbuilder
  app/views/course/video/videos/_video_lesson_plan_item.json.jbuilder
  client/app/bundles/course/admin/pages/LessonPlanSettings/index.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanFilter/index.jsx
  client/app/bundles/course/lesson-plan/containers/TranslatedItemType.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/ItemRow/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/Details/Chips.jsx
  client/app/bundles/course/material/folders/handles.ts
  client/app/bundles/course/reference-timelines/components/CreateRenameTimelinePrompt.tsx
  client/app/bundles/course/reference-timelines/components/DeleteTimelinePrompt.tsx
  client/app/bundles/course/reference-timelines/components/TimelinesOverview/TimelinesOverviewItem.tsx
  client/app/bundles/course/reference-timelines/translations.ts
  client/app/bundles/course/reference-timelines/views/DayView/ItemsSidebar.tsx
  client/app/bundles/course/reference-timelines/views/DayView/TimelineSidebarItem.tsx
  client/app/types/course/material/folders.ts
  client/app/types/course/referenceTimelines.ts
Due: frontend, backend

feat(translations): remove component BE display names & default titles
  app/controllers/components/course/achievements_component.rb
  app/controllers/components/course/announcements_component.rb
  app/controllers/components/course/assessments_component.rb
  app/controllers/components/course/codaveri_component.rb
  app/controllers/components/course/discussion/topics_component.rb
  app/controllers/components/course/duplication_component.rb
  app/controllers/components/course/experience_points_component.rb
  app/controllers/components/course/forums_component.rb
  app/controllers/components/course/groups_component.rb
  app/controllers/components/course/koditsu_platform_component.rb
  app/controllers/components/course/leaderboard_component.rb
  app/controllers/components/course/learning_map_component.rb
  app/controllers/components/course/lesson_plan_component.rb
  app/controllers/components/course/levels_component.rb
  app/controllers/components/course/materials_component.rb
  app/controllers/components/course/monitoring_component.rb
  app/controllers/components/course/multiple_reference_timelines_component.rb
  app/controllers/components/course/plagiarism_component.rb
  app/controllers/components/course/rag_wise_component.rb
  app/controllers/components/course/scholaistic_component.rb
  app/controllers/components/course/settings_component.rb
  app/controllers/components/course/statistics_component.rb
  app/controllers/components/course/stories_component.rb
  app/controllers/components/course/survey_component.rb
  app/controllers/components/course/users_component.rb
  app/controllers/components/course/videos_component.rb
  app/controllers/course/controller.rb
  app/models/course/settings/sidebar_item.rb
Due: backend

test(translations): remove BE component translation key references in RSpec
  spec/controllers/course/admin/sidebar_settings_controller_spec.rb
  spec/controllers/course/controller_spec.rb
  spec/controllers/course/lesson_plan/items_controller_spec.rb
  spec/features/course/achievement_listing_spec.rb
  spec/features/course/admin/admin_spec.rb
  spec/features/course/admin/announcement_settings_spec.rb
  spec/features/course/admin/component_settings_spec.rb
  spec/features/course/admin/discussion/topic_settings_spec.rb
  spec/features/course/admin/forum_settings_spec.rb
  spec/features/course/admin/leaderboard_settings_spec.rb
  spec/features/course/admin/material_settings_spec.rb
  spec/features/course/admin/video_settings_spec.rb
  spec/features/course/announcement_management_spec.rb
  spec/features/course/assessment/submissions_viewing_spec.rb
  spec/features/course/duplication_spec.rb
  spec/features/course/forum/topic_management_spec.rb
  spec/features/course/group_management_spec.rb
  spec/features/course/lesson_plan_spec.rb
  spec/features/course/level_management_spec.rb
  spec/features/course/material/folder_management_spec.rb
  spec/features/course/staff_management_spec.rb
  spec/features/course/staff_statistics_spec.rb
  spec/features/course/students_statistics_spec.rb
  spec/features/course/unread_status_management_spec.rb
  spec/features/system/admin/components_settings_spec.rb
  spec/models/course/assessment/duplication_spec.rb
  spec/services/course/duplication/course_duplication_service_spec.rb
Due: none

feat(translations): move all CSV translations to dedicated file
  app/services/course/assessment/submission/csv_download_service.rb
  app/services/course/assessment/submission/statistics_download_service.rb
  app/services/course/experience_points_download_service.rb
  app/services/course/statistics/assessments_score_summary_download_service.rb
  app/services/course/survey/survey_download_service.rb
  config/locales/en/course/assessment/submission/submissions.yml
  config/locales/en/course/experience_points_records.yml
  config/locales/en/course/statistics.yml
  config/locales/en/course/survey/surveys.yml
  config/locales/en/csv.yml
  config/locales/ko/course/assessment/submission/submissions.yml
  config/locales/ko/course/experience_points_records.yml
  config/locales/ko/course/statistics.yml
  config/locales/ko/course/survey/surveys.yml
  config/locales/ko/csv.yml
  config/locales/zh/course/assessment/submission/submissions.yml
  config/locales/zh/course/experience_points_records.yml
  config/locales/zh/course/statistics.yml
  config/locales/zh/course/survey/surveys.yml
  config/locales/zh/csv.yml
Due: backend
