Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(rubricBasedResponses): italize bonus reserve names
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  client/app/bundles/course/assessment/translations.ts
Due: frontend, backend

feat(rubric_auto_grading): add user custom prompt
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  app/models/course/assessment/question/rubric_based_response.rb
  app/services/course/assessment/answer/prompts/rubric_auto_grading_system_prompt.json
  app/services/course/assessment/answer/prompts/rubric_auto_grading_user_prompt.json
  app/services/course/assessment/answer/rubric_llm_service.rb
  app/views/course/assessment/question/rubric_based_responses/_form.json.jbuilder
  app/views/course/assessment/question/rubric_based_responses/_rubric_based_response.json.jbuilder
  client/app/bundles/course/assessment/question/rubric-based-responses/components/AIGradingFields.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/RubricBasedResponseForm.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/operations.ts
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/question/rubric-based-responses.ts
  client/app/types/course/assessment/submission/question/types.ts
  db/migrate/20250619030938_add_ai_grading_columns_to_course_assessment_question_rubric_based_responses.rb
  db/schema.rb
  spec/factories/course_assessment_question_rubric_based_response.rb
Due: frontend, backend

refactor(rubric_auto_grading): remove bonus categories from input prompt and update output schema descriptions
  app/services/course/assessment/answer/prompts/rubric_auto_grading_output_format.json
  app/services/course/assessment/answer/prompts/rubric_auto_grading_system_prompt.json
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/services/course/assessment/answer/rubric_llm_service.rb
Due: backend

feat(survey_response_edit): add required chip
  client/app/bundles/course/survey/containers/ResponseForm/ResponseSection.jsx
Due: frontend

feat(SystemAdminPanel): add system-level Get Help activity
  app/controllers/system/admin/get_help_controller.rb
  app/views/system/admin/get_help/index.json.jbuilder
  client/app/api/course/Statistics/AssessmentStatistics.ts
  client/app/api/system/Admin.ts
  client/app/bundles/course/assessment/operations/liveFeedback.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/index.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/statistics/types.ts
  client/app/bundles/system/admin/admin/AdminNavigator.tsx
  client/app/bundles/system/admin/admin/components/SystemGetHelpFilter.tsx
  client/app/bundles/system/admin/admin/components/tables/SystemGetHelpActivityTable.tsx
  client/app/bundles/system/admin/admin/operations.ts
  client/app/bundles/system/admin/admin/pages/SystemGetHelpActivityIndex.tsx
  client/app/bundles/system/admin/instance/instance/InstanceAdminNavigator.tsx
  client/app/routers/courseless/systemAdmin.tsx
  config/routes.rb
Due: frontend, backend

test(GetHelpController): add permissions test for Get Help controller
  client/app/bundles/system/admin/admin/components/SystemGetHelpFilter.tsx
  spec/controllers/system/admin/get_help_controller_spec.rb
Due: frontend

feat(SystemGetHelpActivity): add preset date range chips
  app/controllers/system/admin/get_help_controller.rb
  app/views/system/admin/get_help/index.json.jbuilder
  client/app/api/system/Admin.ts
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/system/admin/admin/components/SystemGetHelpFilter.tsx
  client/app/bundles/system/admin/admin/components/tables/SystemGetHelpActivityTable.tsx
  client/app/bundles/system/admin/admin/operations.ts
  client/app/bundles/system/admin/admin/pages/SystemGetHelpActivityIndex.tsx
  client/app/bundles/system/admin/instance/instance/InstanceAdminNavigator.tsx
Due: frontend, backend

fix(SubmissionForm): fix setImmediate is not defined error
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
Due: frontend

feat(rubricBasedResponses): titlelize bonus reserve names
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  client/app/bundles/course/assessment/translations.ts
Due: frontend, backend

perf(rubric_auto_grading): prompt optimizations
  app/services/course/assessment/answer/prompts/rubric_auto_grading_output_format.json
  app/services/course/assessment/answer/prompts/rubric_auto_grading_system_prompt.json
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/services/course/assessment/answer/rubric_llm_service.rb
Due: backend

fix(RubricBasedResponse): skip category name validation when duplicate
  app/models/course/assessment/question/rubric_based_response.rb
Due: backend

test(DuplicationSpec): add test for rubric-based response duplication
  spec/features/course/assessment/question/duplication_spec.rb
Due: none

feat(c#-js-support): add c# 5.0 and js 22.16
  app/controllers/concerns/codaveri_language_concern.rb
  app/services/course/assessment/question/codaveri_problem_generation_service.rb
  app/services/course/assessment/question/programming/c_sharp/c_sharp_makefile
  app/services/course/assessment/question/programming/c_sharp/c_sharp_package_service.rb
  app/services/course/assessment/question/programming/java_script/java_script_makefile
  app/services/course/assessment/question/programming/java_script/java_script_package_service.rb
  app/services/course/assessment/question/programming/programming_package_service.rb
  app/services/course/assessment/question/programming_codaveri/c_sharp/c_sharp_package_service.rb
  app/services/course/assessment/question/programming_codaveri/java_script/java_script_package_service.rb
  app/services/course/assessment/question/programming_codaveri/programming_codaveri_package_service.rb
  app/views/course/assessment/question/programming/metadata/_csharp.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateQuestionPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/constants.ts
  client/app/bundles/course/assessment/pages/AssessmentGenerate/utils.ts
  client/app/bundles/course/assessment/question/programming/commons/builder.ts
  client/app/bundles/course/assessment/question/programming/commons/validation.ts
  client/app/bundles/course/assessment/question/programming/components/package/CsharpPackageEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/JavascriptPackageEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/PolyglotEditor.tsx
  client/app/bundles/course/assessment/translations.ts
  client/app/lib/components/core/fields/EditorField.tsx
  client/app/types/course/assessment/question/programming.ts
  lib/autoload/course/assessment/programming_test_case_report_builder.rb
  lib/tasks/db/set_polyglot_language_flags.rake
  lib/tasks/db/set_polyglot_language_weights.rake
Due: frontend, backend

feat(go-rust-ts-support): add go 1.16, rust 1.68, ts 5.8
  app/services/course/assessment/question/codaveri_problem_generation_service.rb
  app/services/course/assessment/question/programming/go/go_makefile
  app/services/course/assessment/question/programming/go/go_package_service.rb
  app/services/course/assessment/question/programming/programming_package_service.rb
  app/services/course/assessment/question/programming/rust/rust_makefile
  app/services/course/assessment/question/programming/rust/rust_package_service.rb
  app/services/course/assessment/question/programming/type_script/type_script_makefile
  app/services/course/assessment/question/programming/type_script/type_script_package_service.rb
  app/services/course/assessment/question/programming_codaveri/go/go_package_service.rb
  app/services/course/assessment/question/programming_codaveri/programming_codaveri_package_service.rb
  app/services/course/assessment/question/programming_codaveri/rust/rust_package_service.rb
  app/services/course/assessment/question/programming_codaveri/type_script/type_script_package_service.rb
  app/views/course/assessment/question/programming/metadata/_golang.json.jbuilder
  app/views/course/assessment/question/programming/metadata/_rust.json.jbuilder
  app/views/course/assessment/question/programming/metadata/_typescript.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateQuestionPrototypeForm.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/constants.ts
  client/app/bundles/course/assessment/question/programming/commons/builder.ts
  client/app/bundles/course/assessment/question/programming/commons/validation.ts
  client/app/bundles/course/assessment/question/programming/components/package/GoPackageEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/PolyglotEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/RustPackageEditor.tsx
  client/app/bundles/course/assessment/question/programming/components/package/TypescriptPackageEditor.tsx
  client/app/lib/components/core/fields/EditorField.tsx
  client/app/types/course/assessment/question/programming.ts
  lib/tasks/db/set_polyglot_language_flags.rake
Due: frontend, backend

fix(GenerateProgrammingQuestion): fix some FE issues
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateProgrammingQuestionPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentGenerate/GenerateTabs.tsx
Due: frontend

feat(issue-template): add Github issue template and direct link on Coursemology
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/config.yml
  client/app/lib/components/core/layouts/Footer.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend

fix(SystemGetHelpActivityTable): optimize query and remove filter buttons
  app/controllers/system/admin/get_help_controller.rb
  app/views/system/admin/get_help/index.json.jbuilder
  client/app/api/system/Admin.ts
  client/app/bundles/course/statistics/types.ts
  client/app/bundles/system/admin/admin/components/SystemGetHelpFilter.tsx
  client/app/bundles/system/admin/admin/components/tables/SystemGetHelpActivityTable.tsx
  client/app/bundles/system/admin/admin/operations.ts
  client/app/bundles/system/admin/admin/pages/SystemGetHelpActivityIndex.tsx
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
Due: frontend, backend

fix(graderView-part-1): standardize grader's student view to match actual student experience
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/TestCases.tsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleChoice/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/MultipleResponse/index.jsx
  client/app/bundles/course/assessment/submission/components/answers/adapters/MultipleChoiceAdapter.tsx
  client/app/bundles/course/assessment/submission/components/answers/adapters/MultipleResponseAdapter.tsx
  client/app/bundles/course/assessment/submission/components/answers/index.tsx
  client/app/bundles/course/assessment/submission/components/answers/types.ts
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
  client/app/bundles/course/assessment/submission/containers/RubricPanel.tsx
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/QuestionContent.tsx
Due: frontend

fix(RubricPanel): prevent editing when viewing past attempts of a rubric-based response
  client/app/bundles/course/assessment/submission/components/AnswerDetails/RubricBasedResponseDetails.tsx
  client/app/bundles/course/assessment/submission/containers/RubricPanel.tsx
  client/app/bundles/course/assessment/submission/containers/RubricPanelRow.tsx
Due: frontend

fix(_rubric_based_response): enforce backend visibility rules for sensitive fields
  app/views/course/assessment/answer/rubric_based_responses/_rubric_based_response.json.jbuilder
  app/views/course/assessment/question/rubric_based_responses/_rubric_based_response.json.jbuilder
  app/views/course/assessment/submission/answer/answers/show.json.jbuilder
  client/app/bundles/course/assessment/submission/containers/RubricPanel.tsx
  client/app/types/course/assessment/submission/answer/rubricBasedResponse.ts
  client/app/types/course/assessment/submission/question/types.ts
Due: frontend, backend

fix(graderView-part-2): standardize grader's student view to match actual student experience
  client/app/bundles/course/assessment/submission/components/ReadOnlyEditor/index.jsx
  client/app/bundles/course/assessment/submission/containers/ReadOnlyEditor.jsx
Due: frontend

fix(graderView-part-3): standardize grader's student view to match actual student experience
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LastAttempt.tsx
  client/app/bundles/course/assessment/submission/components/AllAttempts/AllAttemptsSequenceView.tsx
  client/app/bundles/course/assessment/submission/components/AllAttempts/AllAttemptsTimelineView.tsx
  client/app/bundles/course/assessment/submission/components/AllAttempts/index.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/MultipleChoiceDetails.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/MultipleResponseDetails.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingAnswerDetails.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/TestCaseRow.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/ProgrammingComponent/TestCases.tsx
  client/app/bundles/course/assessment/submission/components/AnswerDetails/RubricBasedResponseDetails.tsx
  client/app/bundles/course/assessment/submission/types.ts
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
