Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(accordion): expand accordion functionality
  client/app/lib/components/core/layouts/Accordion.tsx
Due: frontend

refactor(all-attempts-display): update accordion
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
Due: frontend

feat(question-attempts): add title card
  app/views/course/statistics/answers/all_answers.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttempts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAttempts.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

refactor(statistics): change naming of types
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend

refactor(all-attempts-display): use new slider
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
Due: frontend

refactor(all-attempts-display): change created_at to submitted_at
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/all_answers.json.jbuilder
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

refactor(statistics): change naming, add limit setting to FE
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/all_attempts.json.jbuilder
  app/views/course/statistics/answers/attempts.json.jbuilder
  client/app/api/course/Statistics/AllAnswerStatistics.ts
  client/app/api/course/Statistics/AnswerStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttempts.tsx
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAttempts.tsx
  config/routes.rb
Due: frontend, backend

refactor(statistics): use seperate API for latest answer
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/_question.json.jbuilder
  app/views/course/statistics/answers/latest_attempt.json.jbuilder
  client/app/api/course/Statistics/AnswerStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LatestAttempt.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/types/course/statistics/assessmentStatistics.ts
  config/routes.rb
Due: frontend, backend

refactor(attempts-stats): refactor backend
  app/controllers/course/statistics/answers_controller.rb
  app/views/course/statistics/answers/_details.json.jbuilder
  app/views/course/statistics/answers/_question.json.jbuilder
  app/views/course/statistics/answers/all_answers.json.jbuilder
  app/views/course/statistics/answers/question_answer_details.json.jbuilder
Due: backend

feat(statistics-marks-table): add card to dialog
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/LatestAttempt.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
Due: frontend

perf(all-attempts): improve answer retrieval
  app/controllers/course/statistics/answers_controller.rb
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
Due: frontend, backend

feat(all-attempts-display): add more programming question details
  app/views/course/assessment/question/programming/_programming.json.jbuilder
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/QuestionDetails/ProgrammingQuestionDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/QuestionDetails/QuestionDetails.tsx
  client/app/types/course/assessment/submission/question/types.ts
Due: frontend, backend

feat(statistics): add BE support for multiple tests / questions
  app/controllers/course/statistics/answers_controller.rb
  app/helpers/course/statistics/answers_helper.rb
  app/models/course/assessment/answer/programming_auto_grading.rb
  app/models/course/assessment/question/programming.rb
  app/views/course/statistics/answers/_all_questions.json.jbuilder
  app/views/course/statistics/answers/_answer.json.jbuilder
  app/views/course/statistics/answers/_details.json.jbuilder
  app/views/course/statistics/answers/_programming_answer.json.jbuilder
  app/views/course/statistics/answers/latest_attempt.json.jbuilder
Due: backend

feat(statistics): multiple regrading view for attempts
  app/views/course/statistics/answers/_answer.json.jbuilder
  app/views/course/statistics/answers/_details.json.jbuilder
  app/views/course/statistics/answers/_programming_answer.json.jbuilder
  app/views/course/statistics/answers/latest_attempt.json.jbuilder
  client/app/api/course/Statistics/AllAnswerStatistics.ts
  client/app/api/course/Statistics/AnswerStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDetails/AnswerDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttempts.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/utils.ts
  client/app/bundles/course/assessment/submission/pages/QuestionIndex/PastAttempts.tsx
  client/app/types/course/assessment/submission/question/types.ts
  client/app/types/course/statistics/answer.ts
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

feat(regrading): only regrade current_answer on question edit
  app/models/course/assessment/answer.rb
Due: backend

test(stats-answer-controller): rename function calls
  spec/controllers/course/statistics/answers_controller_spec.rb
Due: none

refactor(soft-delete-student-class): soft-delete when removing student from class
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/course/enrol_requests_controller.rb
  app/models/course/achievement.rb
  app/models/course/experience_points_record.rb
  app/models/course/group_user.rb
  app/models/course/learning_rate_record.rb
  app/models/course/personal_time.rb
  app/models/course/user_achievement.rb
  app/models/course/user_email_unsubscription.rb
  app/models/course_user.rb
  db/migrate/20241016104445_add_deleted_at_to_course_users.rb
  db/migrate/20241016104449_add_deleted_at_to_course_experience_points_records.rb
  db/migrate/20241016104453_add_deleted_at_to_course_learning_rate_records.rb
  db/migrate/20241016104458_add_deleted_at_to_course_user_achievements.rb
  db/migrate/20241016104502_add_deleted_at_to_course_user_email_unsubscriptions.rb
  db/migrate/20241016104507_add_deleted_at_to_course_group_users.rb
  db/migrate/20241016104511_add_deleted_at_to_course_personal_times.rb
  spec/controllers/course/enrol_requests_controller_spec.rb
  spec/factories/course_users.rb
  spec/models/course_user_spec.rb
Due: backend

feat(test): add duplication test for deprecated language
  spec/controllers/course/assessment/question/programming_controller_spec.rb
  spec/features/course/assessment/question/duplication_spec.rb
Due: none

fix(duplication): duplicate deprecated language question
  app/models/course/assessment/question/programming.rb
Due: backend

feat(live-feedback-history): add FE and BE
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/_live_feedback_history_details.json.jbuilder
  app/views/course/statistics/assessments/live_feedback_history.json.jbuilder
  client/app/api/course/Statistics/AssessmentStatistics.ts
  client/app/bundles/course/assessment/operations/liveFeedback.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackHistoryPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatisticsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/selectors.ts
  client/app/bundles/course/assessment/reducers/liveFeedback.ts
  client/app/bundles/course/assessment/store.ts
  client/app/types/course/assessment/submission/liveFeedback.ts
  config/routes.rb
Due: frontend, backend

style(generate-live-feedback): remove unnecessary commented code
  app/services/course/assessment/answer/programming_codaveri_async_feedback_service.rb
Due: backend

feat(live-feedback): add tables for storing live feeedback information
  app/models/course/assessment.rb
  app/models/course/assessment/live_feedback.rb
  app/models/course/assessment/live_feedback_code.rb
  app/models/course/assessment/live_feedback_comment.rb
  app/models/course/assessment/question.rb
  db/migrate/20240808083848_add_live_feedback_code_and_comments.rb
  db/schema.rb
Due: backend

style(assessment-statistics): use new custom slider
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AnswerDisplay/AllAttemptsDisplay.tsx
  client/app/bundles/course/statistics/pages/StatisticsIndex/course/StudentPerformanceTable.tsx
Due: frontend

refactor(main-statistics): add boolean to indicate if live feedback is enabled
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/main_statistics.json.jbuilder
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

test(live-feedback-history): add tests for live feedback history
  spec/controllers/course/statistics/assessment_controller_spec.rb
  spec/factories/course_assessment_live_feedback_code.rb
  spec/factories/course_assessment_live_feedback_comments.rb
  spec/factories/course_assessment_live_feedbacks.rb
Due: none

refactor(live-feedback-stats): add retrieval of question ids
  app/views/course/statistics/assessments/live_feedback_statistics.json.jbuilder
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend, backend

feat(live-feedback): add live feedback saving
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/models/course/assessment/assessment_ability.rb
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/pages/AssessmentStatistics/classNameUtils.ts
  client/app/bundles/course/assessment/submission/actions/answers/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionForm.tsx
  client/app/bundles/course/assessment/submission/reducers/liveFeedback.js
  client/app/bundles/course/assessment/submission/types.ts
  config/routes.rb
Due: frontend, backend

feat(live-feedback-stats): add backend
  app/controllers/concerns/course/statistics/live_feedback_concern.rb
  app/controllers/course/statistics/assessments_controller.rb
  app/views/course/statistics/assessments/live_feedback_statistics.json.jbuilder
  config/routes.rb
Due: backend

perf(live-feedback-stats): reduce N+1
  app/controllers/course/statistics/assessments_controller.rb
Due: backend

test(live-feedback-statistics) add tests for live feedback statistics
  spec/controllers/course/statistics/assessment_controller_spec.rb
  spec/factories/course_assessment_live_feedback_code.rb
  spec/factories/course_assessment_live_feedbacks.rb
  spec/models/course/assessment/live_feedback_spec.rb
Due: none

refactor(submission-controller): disable file length restrictions
  app/controllers/course/assessment/submission/submissions_controller.rb
Due: backend

refactor(EditorField): add optional cursorStart variable
  client/app/lib/components/core/fields/EditorField.tsx
Due: frontend

refactor(assessment-statistics): abstract translations
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackHistoryPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatisticsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/translations.ts
  client/locales/en.json
  client/locales/zh.json
Due: frontend

style(live-feedback-history): improve slider styling
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackDetails.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/LiveFeedbackHistoryPage.tsx
  client/app/lib/components/extensions/CustomSlider.tsx
Due: frontend

refactor(assessments-factory)
  spec/factories/course_assessment_assessments.rb
Due: none

feat(live-feedback-stats): add frontend
  client/app/api/course/Statistics/AssessmentStatistics.ts
  client/app/bundles/course/assessment/operations/statistics.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AssessmentStatisticsPage.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatistics.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackStatisticsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentAttemptCountTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/StudentMarksPerQuestionTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentStatistics/utils.js
  client/app/types/course/statistics/assessmentStatistics.ts
Due: frontend

refactor(statistics): classNameUtils
  client/app/bundles/course/assessment/pages/AssessmentStatistics/classNameUtils.ts
Due: frontend

style(live-feedback): change translations
  app/models/course/assessment/question/programming.rb
  client/app/bundles/course/admin/pages/CodaveriSettings/translations.ts
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
  client/app/bundles/course/assessment/pages/AssessmentStatistics/AssessmentStatisticsPage.tsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/components/button/LiveFeedbackButton.tsx
  client/app/bundles/course/assessment/translations.ts
  client/locales/en.json
  spec/controllers/course/admin/codaveri_settings_controller_spec.rb
  spec/controllers/course/assessment/question/programming_controller_spec.rb
  spec/models/course/assessment/question/programming_spec.rb
Due: frontend, backend

refactor(submissions): fetching from Koditsu
  app/controllers/concerns/course/assessment/submission/koditsu/answers_concern.rb
  app/controllers/concerns/course/assessment/submission/koditsu/submission_times_concern.rb
  app/controllers/concerns/course/assessment/submission/koditsu/submissions_concern.rb
  app/controllers/concerns/course/assessment/submission/koditsu/test_cases_concern.rb
  app/controllers/concerns/course/assessment/submission/koditsu/users_concern.rb
  app/controllers/concerns/course/assessment/submission/koditsu_submissions_concern.rb
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/jobs/course/assessment/submission/fetch_submissions_from_koditsu_job.rb
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
