Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat(disbursement): add frontend react for forum and general disbursements
  client/app/api/course/Disbursement.ts
  client/app/api/course/Forum.ts
  client/app/api/course/index.js
  client/app/bundles/course/experience-points/disbursement/actions.ts
  client/app/bundles/course/experience-points/disbursement/components/buttons/DuplicateButton.tsx
  client/app/bundles/course/experience-points/disbursement/components/buttons/RemoveAllButton.tsx
  client/app/bundles/course/experience-points/disbursement/components/fields/PointTextField.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/DialogScroll.scss
  client/app/bundles/course/experience-points/disbursement/components/forms/DisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/FilterForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/ForumDisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/DisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumDisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumPostTable.tsx
  client/app/bundles/course/experience-points/disbursement/index.tsx
  client/app/bundles/course/experience-points/disbursement/operations.ts
  client/app/bundles/course/experience-points/disbursement/pages/DisbursementIndex/index.tsx
  client/app/bundles/course/experience-points/disbursement/reducers.ts
  client/app/bundles/course/experience-points/disbursement/selectors.ts
  client/app/bundles/course/experience-points/disbursement/store.ts
  client/app/bundles/course/experience-points/disbursement/types.ts
  client/app/lib/components/form/fields/DateTimePickerField.jsx
  client/app/lib/components/form/fields/SelectField.jsx
  client/app/lib/components/form/fields/TextField.jsx
  client/app/lib/helpers/url-builders.js
  client/app/types/components/DataTable.ts
  client/app/types/course/disbursement.ts
  client/app/types/course/forum.ts
  client/app/types/store.ts
  client/app/utilities/store.ts
Due: frontend

perf(text field): add debounce for form text field to optimise performance
  client/app/bundles/course/experience-points/disbursement/components/fields/PointTextField.tsx
  client/app/lib/components/form/fields/TextField.jsx
  client/app/lib/constants/sharedConstants.ts
  client/package.json
Due: frontend

fix(text field): fix text field for number only
  client/app/bundles/course/experience-points/disbursement/components/forms/DisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/FilterForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/ForumDisbursementForm.tsx
  client/app/lib/components/fields/DateTimePicker.jsx
  client/app/lib/components/form/fields/TextField.jsx
Due: frontend

fix(disbursement): add link for user in forum post dialog and fix styling padding
  client/app/bundles/course/experience-points/disbursement/components/forms/ForumDisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumPostTable.tsx
Due: frontend

chore(jsdom): upgrade jsdom
  client/package.json
  client/yarn.lock
Due: none

chore(fabric): upgrade fabric
  client/package.json
  client/yarn.lock
Due: none

style(announcements): change new announcement icon
  client/app/bundles/course/announcements/components/buttons/NewAnnouncementButton.tsx
Due: frontend

style(tabs): standardize tab styling
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionTabs.tsx
  client/app/bundles/course/users/components/navigation/UserManagementTabs.tsx
Due: frontend

style(tabs): remove link styles
  client/app/bundles/course/users/components/navigation/UserManagementTabs.tsx
Due: frontend

style(tabs): remove line below tabs
  client/app/bundles/course/users/components/navigation/UserManagementTabs.tsx
Due: frontend

style(NewButton): refactor new button
  client/app/bundles/course/achievement/pages/AchievementsIndex/index.tsx
  client/app/bundles/course/announcements/components/buttons/NewAnnouncementButton.tsx
  client/app/lib/components/CustomTooltip.tsx
  client/app/lib/components/buttons/AddButton.tsx
Due: frontend

fix(user invitation file upload): remove duplicate error message and allow users to resubmit csv
  client/app/bundles/course/user-invitations/pages/InviteUsersFileUpload/index.tsx
Due: frontend

style(user invitations): remove accordions from summary
  client/app/bundles/course/user-invitations/components/misc/InvitationResultDialog.tsx
Due: frontend

perf(user invitations): virtualize invitation results
  client/app/bundles/course/user-invitations/components/misc/InvitationResultDialog.tsx
  client/package.json
  client/yarn.lock
Due: frontend

perf(invitations): replace virtualization with datatable
  client/app/bundles/course/user-invitations/components/misc/InvitationResultDialog.tsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultInvitationsTable.tsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultUsersTable.tsx
  client/package.json
  client/yarn.lock
Due: frontend

fix(invitation result dialog): prevent dialog from closing when escape button is pressed
  client/app/bundles/course/user-invitations/components/misc/InvitationResultDialog.tsx
Due: frontend

perf(invitation result dialog): remove unecessary datatable elements
  app/views/course/user_invitations/_invitation_result_data.json.jbuilder
  client/app/bundles/course/user-invitations/components/tables/InvitationResultInvitationsTable.tsx
  client/app/bundles/course/user-invitations/components/tables/InvitationResultUsersTable.tsx
  client/app/lib/components/form/fields/TextField.jsx
Due: frontend, backend

feat(comment notifier email): add unmark as read link in discussion topic email notification to instructor
  app/views/notifiers/course/assessment/answer/comment_notifier/annotated/user_notifications/email.html.slim
  app/views/notifiers/course/assessment/submission_question/comment_notifier/replied/user_notifications/email.html.slim
  config/locales/en/notifiers/course/assessment/answer/comment_notifier/annotated/user_notifications/email.yml
  config/locales/en/notifiers/course/assessment/submission_question/comment_notifier/replied/user_notifications/email.yml
Due: backend

test(topics controller): add test for unmark_as_pending get request
  spec/controllers/course/discussion/topics_controller_spec.rb
Due: none

feat(topics): add route and controller action for unmark comment as pending
  app/controllers/course/discussion/topics_controller.rb
  config/locales/en/course/discussion/topics.yml
  config/routes.rb
Due: backend

feat(topics): add hash function for discussion topic model record
  app/models/course/discussion/topic.rb
Due: backend

fix(submission tab): fix unscrollable tab in mobile view
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionTabs.tsx
Due: frontend

fix layout
  client/app/bundles/course/user-invitations/components/misc/InvitationResultDialog.tsx
  client/app/bundles/course/user-invitations/pages/InviteUsersFileUpload/index.tsx
  client/app/bundles/course/user-invitations/pages/InviteUsersRegistrationCode/index.tsx
Due: frontend

fix style
  client/app/bundles/course/user-invitations/pages/InviteUsersFileUpload/index.tsx
Due: frontend

chore: remove unused js
  app/assets/javascripts/layout.js
  app/assets/javascripts/layout_checkbox_toggle_all.js
Due: backend
