Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

feat: basic table for exp points of all records
  app/controllers/components/course/experience_points_component.rb
  app/controllers/concerns/application_pagination_concern.rb
  app/controllers/course/assessment/submissions_controller.rb
  app/controllers/course/experience_points_records_controller.rb
  app/controllers/system/admin/instance/users_controller.rb
  app/controllers/system/admin/users_controller.rb
  app/models/components/course/course_ability_component.rb
  app/views/course/experience_points_records/show_user_exp.json.jbuilder
  client/app/api/course/ExperiencePointsRecord.ts
  client/app/bundles/course/experience-points/ExperiencePointsDetails.tsx
  client/app/bundles/course/experience-points/components/ExperiencePointsTable.tsx
  client/app/bundles/course/experience-points/components/ExperiencePointsTableRow.tsx
  client/app/bundles/course/experience-points/index.tsx
  client/app/bundles/course/experience-points/operations.ts
  client/app/lib/constants/icons.ts
  client/app/routers/AuthenticatedApp.tsx
  client/app/types/course/experiencePointsRecords.ts
  config/routes.rb
Due: frontend, backend

refactor: studentId is always defined in record
  app/jobs/course/experience_points_download_job.rb
  app/services/course/experience_points_download_service.rb
  app/views/course/experience_points_records/read_all_exp.json.jbuilder
  client/app/api/course/ExperiencePointsRecord.ts
  client/app/bundles/course/experience-points/ExperiencePointsFilterDownload.tsx
  client/app/bundles/course/experience-points/operations.ts
  client/app/bundles/course/experience-points/store.ts
  client/app/bundles/course/users/components/buttons/PointManagementButtons.tsx
  client/app/types/course/experiencePointsRecords.ts
Due: frontend, backend

test: modify the test for response
  spec/models/course/survey/response_spec.rb
Due: none

set disabled for reason & exp while downloading
  app/services/course/experience_points_download_service.rb
  client/app/bundles/course/experience-points/components/ExperiencePointsTable.tsx
  client/app/bundles/course/experience-points/components/ExperiencePointsTableRow.tsx
Due: frontend, backend

refactor: change path for sidebar exp points
  app/controllers/components/course/experience_points_component.rb
  client/app/routers/AuthenticatedApp.tsx
Due: frontend, backend

test(signals): check if can access controller methods
  spec/controllers/concerns/signals/emission_concern_spec.rb
Due: none

feat(signals): add slice names to `generate_sync` methods
  app/controllers/concerns/signals/emission_concern.rb
  app/controllers/concerns/signals/slices/announcements.rb
  app/controllers/concerns/signals/slices/assessment_submissions.rb
  app/controllers/concerns/signals/slices/comments.rb
  app/controllers/concerns/signals/slices/enrol_requests.rb
  app/controllers/concerns/signals/slices/forums.rb
  app/controllers/concerns/signals/slices/videos.rb
  spec/controllers/concerns/signals/emission_concern_spec.rb
Due: backend

feat: allow saving null grade for submitted state
  app/models/course/assessment/answer.rb
  client/app/api/course/Assessment/Submissions.js
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend, backend

refactor: showing error to FE for graded state
  app/models/course/assessment/answer.rb
  app/services/course/assessment/submission/update_service.rb
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
Due: frontend, backend

test: add testcase for updating grade
  app/models/course/assessment/answer.rb
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
Due: backend

feat(codaveri rating): send rating to codaveri when a comment is rejected and deleted
  app/controllers/course/discussion/posts_controller.rb
  app/models/course/discussion/post/codaveri_feedback.rb
  client/app/api/course/Comments.ts
  client/app/bundles/course/assessment/submission/actions/annotations.js
  client/app/bundles/course/assessment/submission/components/comment/CodaveriCommentCard.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/discussion/topics/components/cards/CodaveriCommentCard.tsx
  client/app/bundles/course/discussion/topics/operations.ts
Due: frontend, backend

refactor(codaveri service): abstract codaveri api service - add course id to all codaveri payload - add course name to codaveri rating payload
  app/jobs/course/discussion/post/codaveri_feedback_rating_job.rb
  app/services/codaveri_api_service.rb
  app/services/course/assessment/answer/programming_codaveri_auto_grading_service.rb
  app/services/course/assessment/answer/programming_codaveri_feedback_service.rb
  app/services/course/assessment/programming_codaveri_evaluation_service.rb
  app/services/course/assessment/question/programming_codaveri_service.rb
  app/services/course/discussion/post/codaveri_feedback_rating_service.rb
  spec/jobs/course/assessment/question/programming_import_job_spec.rb
  spec/services/course/assessment/answer/programming_codaveri_auto_grading_service_spec.rb
  spec/services/course/assessment/answer/programming_codaveri_feedback_service_spec.rb
  spec/services/course/assessment/programming_codaveri_evaluation_service_spec.rb
  spec/services/course/assessment/question/programming_codaveri_service_spec.rb
  spec/services/course/discussion/post/codaveri_feedback_rating_service_spec.rb
  spec/support/stubs/course/assessment/question/stubbed_programming_codaveri_service.rb
  spec/support/stubs/course/discussion/post/stubbed_codaveri_feedback_rating_service.rb
Due: backend

refactor: remove unused methods
  app/controllers/course/assessment/question/multiple_responses_controller.rb
  app/models/course/assessment/question/multiple_response.rb
Due: backend

refactor(topics_controller): remove `respond_to`
  app/controllers/course/forum/topics_controller.rb
Due: backend

feat(models): add SafeMarkAsReadConcern
  app/models/concerns/safe_mark_as_read_concern.rb
Due: backend

feat(topics_controller): safely mark topic as read
  app/controllers/course/forum/topics_controller.rb
  app/models/course/forum/topic.rb
Due: backend

feat(safe_mark_as_read): add informative error if model is not readable
  app/models/concerns/safe_mark_as_read_concern.rb
Due: backend

fix: bug in change to null while saving
  app/models/course/assessment/answer.rb
  client/app/bundles/course/assessment/submission/reducers/grading.js
Due: frontend, backend

feat(monitoring): improve SUS explanation
  client/app/bundles/course/assessment/components/AssessmentForm/translations.ts
Due: frontend

feat(HeartbeatsTimeline): add coloured liveness chart
  app/channels/course/monitoring/live_monitoring_channel.rb
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ActiveSessionBlob.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/HeartbeatsTimeline.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/HeartbeatsTimelineChart.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionDetailsPopup.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/usePresence.ts
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/utils.ts
  client/app/bundles/course/assessment/translations.ts
Due: frontend, backend

feat(ActiveSessionBlob): increase grey intensity for expired session
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ActiveSessionBlob.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionBlobLegend.tsx
Due: frontend

feat(ActiveSessionBlob): change stopped session to blue
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ActiveSessionBlob.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionBlobLegend.tsx
Due: frontend

feat(SessionDetailsPopup): add button to load all heartbeats
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ActiveSessionBlob.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionDetailsPopup.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend

feat(HeartbeatsTimelineChart): add zoom, pan
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/HeartbeatsTimelineChart.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend

feat(HeartbeatDetailCard): add explanation for live heartbeats
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/HeartbeatDetailCard.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend

feat(live_monitoring_channel): `#view` supports getting all heartbeats
  app/channels/course/monitoring/live_monitoring_channel.rb
Due: backend

chore(eslint): disable `no-continue`
  client/.eslintrc.js
Due: none

feat(HeartbeatDetailCard): add ms delta from previous heartbeat
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/HeartbeatDetailCard.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/HeartbeatsTimeline.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend

feat(monitoring): keep heartbeat worker always alive once started
  client/app/workers/withHeartbeatWorker.tsx
Due: frontend

feat(HeartbeatDetailCard): add explanation for stale heartbeats
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/HeartbeatDetailCard.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend

feat(liveMonitoringChannel): `getHeartbeat` supports a custom `limit`
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/PulseGrid.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ActiveSessionBlob.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/Session.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionsGrid.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/liveMonitoringChannel.ts
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/useLiveMonitoringChannel.ts
Due: frontend

feat(PulseGrid): remove annoying (dis)connected activities
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/PulseGrid.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/useMonitoring.ts
  client/app/bundles/course/assessment/translations.ts
Due: frontend

feat(monitoring/session): add `misses` to count # of missing periods
  app/models/course/monitoring/session.rb
  db/migrate/20231026165911_add_misses_to_monitoring.rb
  db/schema.rb
Due: backend

feat(heartbeat): updates session's `misses` before save
  app/models/course/monitoring/heartbeat.rb
  app/models/course/monitoring/session.rb
Due: backend

test(hearbeat): fix invalid `:stale` trait
  spec/factories/course_monitoring_heartbeats.rb
Due: none

test(monitoring/session): add `#last_live_heartbeat` test
  spec/models/course/monitoring/session_spec.rb
Due: none

test(heartbeat): add `#update_session_misses` tests
  spec/models/course/monitoring/heartbeat_spec.rb
Due: none

feat(monitoring): add red badge when session has at least 1 misses
  app/channels/course/monitoring/heartbeat_channel.rb
  app/channels/course/monitoring/live_monitoring_channel.rb
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ActiveSessionBlob.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/Session.tsx
  client/app/types/channels/liveMonitoring.ts
Due: frontend, backend
