Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor(user profile): Shift out css
  app/assets/stylesheets/_variables.scss
  app/assets/stylesheets/course/users.scss
  app/views/course/users/_user_data.json.jbuilder
  client/app/bundles/course/users/components/UserProfileCard.scss
  client/app/bundles/course/users/components/UserProfileCard.tsx
  client/app/bundles/course/users/components/UserProfileCardStats.tsx
  client/app/bundles/course/users/types.ts
  client/app/declaration.d.ts
Due: frontend, backend

fix(assessment): Allow overflow on test cases
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
Due: frontend

fix(course user show): fix skill mastery information not shown
  app/views/course/users/_user_data.json.jbuilder
Due: backend

feat(students): migrate students and user profile to react
  app/assets/stylesheets/course/users.scss
  app/controllers/course/users_controller.rb
  app/views/course/users/_user_data.json.jbuilder
  app/views/course/users/_user_list_data.json.jbuilder
  app/views/course/users/index.html.slim
  app/views/course/users/index.json.jbuilder
  app/views/course/users/show.html.slim
  app/views/course/users/show.json.jbuilder
  client/app/api/course/Users.ts
  client/app/api/course/index.js
  client/app/bundles/course/users.js
  client/app/bundles/course/users/actions.ts
  client/app/bundles/course/users/components/UserProfileAchievements.tsx
  client/app/bundles/course/users/components/UserProfileCard.tsx
  client/app/bundles/course/users/components/UserProfileSkills.tsx
  client/app/bundles/course/users/index.tsx
  client/app/bundles/course/users/operations.ts
  client/app/bundles/course/users/pages/UserShow/index.tsx
  client/app/bundles/course/users/pages/UsersIndex/index.tsx
  client/app/bundles/course/users/reducers.ts
  client/app/bundles/course/users/selectors.ts
  client/app/bundles/course/users/store.ts
  client/app/bundles/course/users/types.ts
  client/app/bundles/course/users/users.ts
  client/app/lib/components/LinearProgressWithLabel.tsx
  client/app/types/course/skill_branches.ts
  client/app/types/course/skills.ts
  client/app/types/course/users.ts
  client/app/types/store.ts
  config/locales/en/course/users.yml
Due: frontend, backend

refactor(achievements show): Reuse component
  client/app/bundles/course/achievement/pages/AchievementShow/index.tsx
  client/app/bundles/course/users/components/UserProfileAchievements.tsx
  client/app/bundles/course/users/pages/UsersIndex/index.tsx
  client/app/lib/components/AvatarWithLabel.tsx
  client/app/types/course/course_users.ts
Due: frontend

refactor(users): code review
  app/assets/stylesheets/_variables.scss
  app/assets/stylesheets/course/users.scss
  app/views/course/assessment/skill_branches/_skill_branch.json.jbuilder
  app/views/course/assessment/skills/_skill.json.jbuilder
  app/views/course/users/_achievement.html.slim
  app/views/course/users/_course_user.html.slim
  app/views/course/users/_user_data.json.jbuilder
  app/views/course/users/index.html.slim
  client/app/api/course/Users.ts
  client/app/bundles/course/users/actions.ts
  client/app/bundles/course/users/components/UserProfileAchievements.tsx
  client/app/bundles/course/users/components/UserProfileCard.tsx
  client/app/bundles/course/users/components/UserProfileSkills.tsx
  client/app/bundles/course/users/operations.ts
  client/app/bundles/course/users/pages/UserShow/index.tsx
  client/app/bundles/course/users/pages/UsersIndex/index.tsx
  client/app/bundles/course/users/reducers.ts
  client/app/bundles/course/users/types.ts
  client/app/bundles/course/users/users.tsx
  client/app/lib/helpers/url-builders.js
  client/app/types/course/achievements.ts
  client/app/types/course/assessment/skills/skills.ts
  client/app/types/course/course_users.ts
  client/app/types/course/skill_branches.ts
  client/app/types/course/users.ts
  spec/features/course/user_profile_spec.rb
Due: frontend, backend

refactor(lint): Linting
  client/app/bundles/course/users/components/UserProfileCard.scss
Due: frontend

test(students): fix spec tests
  app/views/course/users/_user_data.json.jbuilder
  client/app/bundles/course/users/components/UserProfileCard.tsx
  client/app/bundles/course/users/pages/UsersIndex/index.tsx
  spec/features/course/user_listing_spec.rb
  spec/features/course/user_profile_spec.rb
Due: frontend, backend

feat(courses): add course pagination
  client/app/bundles/course/courses/components/CourseDisplay.tsx
Due: frontend

style(courses): fix style
  client/app/bundles/course/courses/components/CourseDisplay.tsx
  client/app/bundles/course/courses/components/CourseInfoBox.scss
  client/app/bundles/course/courses/components/CourseInfoBox.tsx
  client/app/bundles/course/courses/components/NewCourseForm.tsx
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  spec/features/instance_user_role_requests_management_spec.rb
Due: frontend

refactor(pagination): refactor pagination
  client/app/bundles/course/courses/components/CourseDisplay.tsx
  client/app/lib/components/Pagination.tsx
  config/locales/en/course/courses.yml
Due: frontend

fix all PR comments
  app/controllers/course/courses_controller.rb
  app/views/course/courses/_courses_list_data.json.jbuilder
  app/views/course/courses/index.html.slim
  app/views/course/courses/index.json.jbuilder
  client/app/api/course/Courses.ts
  client/app/bundles/course/courses/actions.ts
  client/app/bundles/course/courses/components/forms/NewCourseForm.tsx
  client/app/bundles/course/courses/components/misc/CourseDisplay.tsx
  client/app/bundles/course/courses/components/misc/CourseInfoBox.scss
  client/app/bundles/course/courses/components/misc/CourseInfoBox.tsx
  client/app/bundles/course/courses/operations.ts
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/courses/pages/CoursesNew/index.tsx
  client/app/bundles/course/courses/reducers.ts
  client/app/bundles/course/courses/selectors.ts
  client/app/bundles/course/courses/types.ts
  client/app/lib/components/Pagination.tsx
  client/app/lib/components/SearchBar.tsx
  client/app/lib/helpers/url-builders.js
  client/app/types/InstanceUserRoleRequestData.ts
  client/app/types/course/courses.ts
Due: frontend, backend

fix(course controller): fix course list order
  app/controllers/course/courses_controller.rb
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  spec/features/instance_user_role_requests_management_spec.rb
Due: frontend, backend

refactor(courses): migrate courses page to react
  app/controllers/course/courses_controller.rb
  app/views/course/courses/index.html.slim
  app/views/course/courses/index.json.jbuilder
  client/app/api/course/Courses.ts
  client/app/api/course/index.js
  client/app/bundles/course/courses.ts
  client/app/bundles/course/courses/actions.ts
  client/app/bundles/course/courses/components/CourseDisplay.tsx
  client/app/bundles/course/courses/components/CourseInfoBox.tsx
  client/app/bundles/course/courses/components/NewCourseForm.tsx
  client/app/bundles/course/courses/index.tsx
  client/app/bundles/course/courses/operations.ts
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/courses/pages/CoursesNew/index.tsx
  client/app/bundles/course/courses/reducers.ts
  client/app/bundles/course/courses/selectors.ts
  client/app/bundles/course/courses/store.ts
  client/app/bundles/course/courses/types.ts
  client/app/types/course/courses.ts
  client/app/types/store.ts
Due: frontend, backend

style(courses): fix search bar position
  client/app/bundles/course/courses/components/CourseDisplay.tsx
Due: frontend

feat(courses): add search bar
  client/app/bundles/course/courses/components/CourseDisplay.tsx
  client/app/lib/components/Pagination.tsx
  client/app/lib/components/SearchBar.tsx
Due: frontend

refactor(courses): add instructor request button
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  client/app/bundles/course/courses/pages/CoursesNew/index.tsx
  client/app/bundles/course/courses/reducers.ts
  client/app/types/course/courses.ts
Due: frontend

test: fix tests
  client/app/bundles/course/courses/components/misc/CourseInfoBox.tsx
  client/app/bundles/course/courses/pages/CoursesIndex/index.tsx
  spec/features/course_management_spec.rb
  spec/features/instance_user_role_requests_management_spec.rb
Due: frontend

fix hound
  app/views/course/courses/index.json.jbuilder
Due: backend

style(courses): remove useless ruby code
  app/views/course/courses/_course.html.slim
  app/views/course/courses/index.html.slim
  app/views/course/courses/new.html.slim
  client/app/bundles/course/courses/components/CourseInfoBox.tsx
  config/locales/en/course/courses.yml
  spec/features/instance_user_role_requests_management_spec.rb
Due: frontend, backend

refactor(courses): fix styling
  client/app/bundles/course/courses/components/CourseDisplay.tsx
  client/app/bundles/course/courses/components/CourseInfoBox.tsx
Due: frontend

fix hound comments
  app/controllers/course/courses_controller.rb
  app/views/course/courses/index.json.jbuilder
Due: backend

fix(courses): remove unnecessary translations
  config/locales/en/course/courses.yml
Due: none

test(role_request): fix role request tests
  app/controllers/course/courses_controller.rb
  client/app/api/course/Courses.ts
  client/app/bundles/course/courses/components/CourseDisplay.tsx
  client/app/bundles/course/courses/operations.ts
  spec/features/instance_user_role_requests_management_spec.rb
Due: frontend, backend

perf(courses): fix course logo loading
  app/views/course/courses/_course_list_data.json.jbuilder
  app/views/course/courses/index.json.jbuilder
  client/app/bundles/course/courses/components/misc/CourseDisplay.tsx
Due: frontend, backend

fix(pagination): fix search bug
  client/app/lib/components/Pagination.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
