Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(ssid): recover if ssid folder already exists
  app/controllers/concerns/course/ssid_folder_concern.rb
  app/services/course/ssid_folder_service.rb
Due: backend

feat(scholaistic): add submissions count column
  app/controllers/course/scholaistic/scholaistic_assessments_controller.rb
  app/services/scholaistic_api_service.rb
  app/views/course/scholaistic/scholaistic_assessments/index.json.jbuilder
  client/app/bundles/course/scholaistic/pages/ScholaisticAssessmentsIndex/ActionButtons.tsx
  client/app/bundles/course/scholaistic/pages/ScholaisticAssessmentsIndex/index.tsx
  client/app/types/course/scholaistic.ts
Due: frontend, backend

fix(SubmissionsTable): handle submissions for draft assessments properly
  app/views/course/assessment/submissions/_submissions_list_data.json.jbuilder
  app/views/course/assessment/submissions/index.json.jbuilder
  app/views/course/assessment/submissions/pending.json.jbuilder
  client/app/bundles/course/assessment/submissions/components/tables/SubmissionsTable.tsx
  client/app/bundles/course/courses/components/tables/PendingTodosTable.tsx
  client/app/types/course/assessment/submissions.ts
  client/locales/en.json
  client/locales/ko.json
  client/locales/zh.json
  spec/features/course/assessment/submissions_viewing_spec.rb
Due: frontend, backend

fix(ssid): improve initial assessments query performance
  app/controllers/course/plagiarism/assessments_controller.rb
  app/models/course/assessment.rb
  app/models/course/assessment/question.rb
Due: backend

feat(scholaistic): sync all submissions on assessments #index
  app/controllers/concerns/course/scholaistic/concern.rb
  app/controllers/course/scholaistic/scholaistic_assessments_controller.rb
  app/services/scholaistic_api_service.rb
  spec/controllers/concerns/course/scholaistic/concern_spec.rb
  spec/factories/course_scholaistic_assessments.rb
  spec/factories/course_scholaistic_submissions.rb
  spec/factories/courses.rb
Due: backend

fix(scholaistic): align assessments order with upstream
  app/controllers/course/scholaistic/scholaistic_assessments_controller.rb
Due: backend

fix(PlagiarismIndex): more query optimizations
  app/controllers/course/plagiarism/assessments_controller.rb
  app/models/course/assessment.rb
  app/views/course/plagiarism/assessments/index.json.jbuilder
  client/app/bundles/course/plagiarism/pages/PlagiarismIndex/index.tsx
Due: frontend, backend

fix(admin): disallow managers from deleting course
  app/controllers/course/admin/admin_controller.rb
  app/models/components/course/course_ability_component.rb
  app/views/course/admin/admin/index.json.jbuilder
  client/app/bundles/course/admin/pages/CourseSettings/CourseSettingsForm.tsx
  client/app/bundles/course/admin/pages/CourseSettings/DeleteCoursePrompt.tsx
  client/app/types/course/admin/course.ts
  spec/controllers/course/admin/admin_controller_spec.rb
  spec/features/course/admin/admin_spec.rb
Due: frontend, backend

feat(scholaistic): satisfy condition when submission is submitted instead of graded
  app/models/course/condition/scholaistic_assessment.rb
Due: backend

feat(rubric-playground): show popover with full answer / feedback text on click
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/CategoryGradeCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/PopoverContentCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/TotalGradeCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/UnevaluatedCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/utils.ts
Due: frontend

feat(rubric-playground): restyle and refactor header, add apply confirmation prompt
  client/app/bundles/course/assessment/pages/AssessmentStatistics/LiveFeedbackHistory/GetHelpSlider.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/HeaderButton.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/PlaygroundCategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/VersionSlider.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
Due: frontend

feat(rubric-playground): bulk add of student answers
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/lib/components/table/Table.tsx
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/adapters/Handlers.ts
  client/app/lib/components/table/adapters/Table.ts
Due: frontend

feat(rubric-playground): fetch existing evaluations, implement reevaluate / dismiss buttons
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/rubric/answer_evaluation.rb
  app/views/course/assessment/rubrics/fetch_answer_evaluations.json.jbuilder
  app/views/course/assessment/rubrics/fetch_mock_answer_evaluations.json.jbuilder
  client/app/api/course/Assessment/Question/MockAnswers.ts
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/answers.ts
  client/app/bundles/course/assessment/question/rubric-playground/operations/mockAnswers.ts
  client/app/lib/components/table/TanStackTableBuilder/columnsBuilder.ts
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): add evaluation for real answers
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/assessment/answer/rubric_playground_answer_adapter.rb
  app/models/course/rubric/rubric_adapter.rb
  app/views/course/rubrics/_mock_answer_evaluation.json.jbuilder
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/answers.ts
  client/app/bundles/course/assessment/question/rubric-playground/operations/mockAnswers.ts
  config/routes.rb
Due: frontend, backend

feat(TanStackTable): support colSpan, title templates, and skip cells in table
  client/app/lib/components/table/MuiTableAdapter/MuiTableRow.tsx
  client/app/lib/components/table/TanStackTableBuilder/columnsBuilder.ts
  client/app/lib/components/table/TanStackTableBuilder/useTanStackTableBuilder.tsx
  client/app/lib/components/table/adapters/Body.ts
  client/app/lib/components/table/builder/ColumnTemplate.ts
Due: frontend

feat(rubric-playground): implement create/delete rubric versions, initial implementation of rubric slider
  app/controllers/course/assessment/rubrics_controller.rb
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable.tsx
  client/app/bundles/course/assessment/question/rubric-playground/PlaygroundCategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/rubric.ts
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): initial integration with index API, rubric header view of current rubric
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/components/course/course_ability_component.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/rubric.rb
  app/views/course/assessment/rubrics/index.json.jbuilder
  app/views/course/rubrics/_rubric.json.jbuilder
  app/views/course/rubrics/index.json.jbuilder
  client/app/api/course/Assessment/Base.js
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/api/course/Assessment/Question/index.ts
  client/app/api/course/Rubrics.ts
  client/app/api/course/index.js
  client/app/bundles/course/assessment/question/components/AIGradingPlaygroundAlert.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/AIGradingFields.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/RubricBasedResponseForm.tsx
  client/app/bundles/course/assessment/question/rubric-playground/CategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/rubric.ts
  client/app/bundles/course/assessment/question/rubric-playground/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/lib/helpers/url-helpers.js
  client/app/routers/course/assessments/questions.tsx
  client/app/types/course/assessment/question/rubric-based-responses.ts
  client/app/types/course/rubrics.ts
Due: frontend, backend

feat(rubric-playground): poll for export job, display toast message
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/lib/helpers/jobHelpers.ts
Due: frontend

feat(rubric-playground): integrate add sample answers dialog, implement mock answer evaluation APIs
  app/controllers/course/assessment/mock_answers_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/models/course/assessment/question/mock_answer/answer_adapter.rb
  app/models/course/rubric/mock_answer_evaluation.rb
  app/models/course/rubric/rubric_adapter.rb
  app/views/course/assessment/mock_answers/index.json.jbuilder
  app/views/course/assessment/rubrics/rubric_answers.json.jbuilder
  app/views/course/rubrics/_answer_evaluation.json.jbuilder
  client/app/api/course/Assessment/Question/MockAnswers.ts
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/api/course/Assessment/Question/index.ts
  client/app/bundles/course/assessment/question/reducers/index.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/CategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/answers.ts
  client/app/bundles/course/assessment/question/rubric-playground/operations/mockAnswers.ts
  client/app/bundles/course/assessment/question/rubric-playground/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/bundles/course/assessment/store.ts
  client/app/lib/components/core/dialogs/Prompt.tsx
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): initial commit for rubric v2 APIs
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/controllers/course/rubrics_controller.rb
  app/models/components/course/course_ability_component.rb
  app/models/course.rb
  app/models/course/assessment/answer.rb
  app/models/course/assessment/assessment_ability.rb
  app/models/course/assessment/question.rb
  app/models/course/assessment/question/mock_answer.rb
  app/models/course/assessment/question/question_rubric.rb
  app/models/course/rubric.rb
  app/models/course/rubric/answer_evaluation.rb
  app/models/course/rubric/answer_evaluation/selection.rb
  app/models/course/rubric/category.rb
  app/models/course/rubric/category/criterion.rb
  app/models/course/rubric/mock_answer_evaluation.rb
  app/models/course/rubric/mock_answer_evaluation/selection.rb
  app/views/course/assessment/question/rubric_based_responses/edit.json.jbuilder
  app/views/course/assessment/rubrics/index.json.jbuilder
  app/views/course/rubrics/_rubric.json.jbuilder
  app/views/course/rubrics/index.json.jbuilder
  config/routes.rb
  db/migrate/20251002070442_add_v2_rubric_grading_tables.rb
  db/schema.rb
Due: backend

feat(rubric-playground): export of rubric/answer evaluation data back to question
  app/controllers/course/assessment/rubrics_controller.rb
  app/jobs/course/rubric/rubric_evaluation_export_job.rb
  app/models/course/rubric.rb
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/operations/rowEvaluation.ts
  config/routes.rb
Due: frontend, backend

refactor(rubric-based-response): rewrite existing rubric evaluation logic using adapter pattern
  app/services/course/assessment/answer/ai_generated_post_service.rb
  app/services/course/assessment/answer/rubric_auto_grading_service.rb
  app/services/course/assessment/answer/rubric_based_response/answer_adapter.rb
  app/services/course/assessment/question/question_adapter.rb
  app/services/course/assessment/question/rubric_based_response/rubric_adapter.rb
  app/services/course/rubric/llm_service.rb
  app/services/course/rubric/llm_service/answer_adapter.rb
  app/services/course/rubric/llm_service/question_adapter.rb
  app/services/course/rubric/llm_service/rubric_adapter.rb
  spec/services/course/assessment/answer/ai_generated_post_service_spec.rb
  spec/services/course/assessment/answer/rubric_auto_grading_service_spec.rb
  spec/services/course/assessment/answer/rubric_based_response/answer_adapter_spec.rb
  spec/services/course/assessment/question/rubric_based_response/rubric_adapter_spec.rb
  spec/services/course/rubric/llm_service_spec.rb
  spec/support/langchain.rb
Due: backend

feat(rubric-playground): fix breadcrumbs and formatting of answers
  app/controllers/course/assessment/questions_controller.rb
  client/app/api/course/Assessment/Question/Questions.ts
  client/app/api/course/Assessment/Question/index.ts
  client/app/bundles/course/assessment/handles.ts
  client/app/bundles/course/assessment/question/components/AIGradingPlaygroundAlert.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/routers/course/assessments/questions.tsx
  client/app/types/course/assessment/questions.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): add comparison view between consecutive revisions
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/CategoryGradeCell.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/utils.ts
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/HeaderButton.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/rowEvaluation.ts
  client/app/types/course/rubrics.ts
Due: frontend

feat(rubric-playground): implement model answer field
  app/controllers/course/assessment/question/rubric_based_responses_controller.rb
  app/controllers/course/assessment/rubrics_controller.rb
  app/jobs/course/rubric/rubric_evaluation_export_job.rb
  app/models/course/rubric.rb
  app/models/course/rubric/category.rb
  app/models/course/rubric/rubric_adapter.rb
  app/services/course/assessment/answer/prompts/rubric_auto_grading_system_prompt.json
  app/services/course/assessment/question/rubric_based_response/rubric_adapter.rb
  app/services/course/rubric/llm_service.rb
  app/services/course/rubric/llm_service/rubric_adapter.rb
  app/views/course/assessment/question/rubric_based_responses/_form.json.jbuilder
  app/views/course/rubrics/_rubric.json.jbuilder
  client/app/bundles/course/assessment/question/rubric-based-responses/components/AIGradingFields.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/RubricBasedResponseForm.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/operations.ts
  client/app/bundles/course/assessment/question/rubric-playground/RubricEditForm/PlaygroundCategoryManager.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricEditForm/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/HeaderButton.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/rubric.ts
  client/app/bundles/course/assessment/question/rubric-playground/types.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/bundles/course/assessment/translations.ts
  client/app/types/course/assessment/question/rubric-based-responses.ts
  client/app/types/course/rubrics.ts
  db/migrate/20251002070442_add_v2_rubric_grading_tables.rb
  db/schema.rb
Due: frontend, backend

fix(rubric-playground): persist unevaluated rows in BE
  app/controllers/course/assessment/rubrics_controller.rb
  client/app/api/course/Assessment/Question/Rubrics.ts
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTableHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricEditForm/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/answers.ts
  client/app/bundles/course/assessment/question/rubric-playground/operations/mockAnswers.ts
  client/app/types/course/rubrics.ts
  config/routes.rb
Due: frontend, backend

feat(rubric-playground): support bulk evaluation, refactor state data getters into selector
  client/app/bundles/course/assessment/question/reducers/rubrics.ts
  client/app/bundles/course/assessment/question/rubric-playground/AddSampleAnswersDialog.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTable/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/AnswerEvaluationsTableHeader.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/question/rubric-playground/operations/rowEvaluation.ts
  client/app/bundles/course/assessment/question/rubric-playground/utils.ts
  client/app/bundles/course/assessment/question/selectors/rubrics.ts
Due: frontend

feat(rubric-playground): add navigation link from submission grading
  client/app/bundles/course/assessment/question/components/AIGradingPlaygroundAlert.tsx
  client/app/bundles/course/assessment/question/rubric-based-responses/components/AIGradingFields.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricHeader/index.tsx
  client/app/bundles/course/assessment/question/rubric-playground/RubricPlaygroundPage.tsx
  client/app/bundles/course/assessment/submission/containers/QuestionGrade.tsx
Due: frontend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
