Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor(warning-icon): add unique id for each warning icon for testing purpose
  client/app/bundles/course/assessment/submission/containers/TestCaseView/__test__/index.test.js
  client/app/bundles/course/assessment/submission/containers/TestCaseView/index.jsx
Due: frontend

fix(scribing): fix mismatched prop type and remove iconClassname
  client/app/bundles/course/assessment/submission/components/ScribingView/ScribingToolbar.jsx
  client/app/bundles/course/assessment/submission/components/ScribingView/ToolDropdown.jsx
Due: frontend

fix(coursemology docker container) - add cpu limit for each docker - fix wrong swap configuration causing docker not killing application run when memory exceeds the limit
  lib/autoload/coursemology_docker_container.rb
Due: backend

chore: remove unused pages
  app/assets/stylesheets/layout.scss
  app/controllers/jobs_controller.rb
  app/views/jobs/_completed.html.slim
  app/views/jobs/_errored.html.slim
  app/views/jobs/_submitted.html.slim
  app/views/jobs/show.html.slim
  spec/controllers/jobs_controller_spec.rb
  spec/features/jobs_query_spec.rb
Due: backend

refactor(submission autograding): invoke current answer autograding of a submission directly
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/views/course/assessment/submission/submissions/auto_grade.json.jbuilder
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/translations.js
Due: frontend, backend

test: fix test
  .circleci/config.yml
  spec/models/course/assessment/answer_spec.rb
  spec/services/course/assessment/submission/auto_grading_service_spec.rb
Due: none

refactor(components): abstract betachip out
  client/app/bundles/course/reference-timelines/translations.ts
  client/app/bundles/course/reference-timelines/views/DayView/DayView.tsx
  client/app/lib/components/core/BetaChip.tsx
  client/app/lib/translations/index.ts
Due: frontend

feat(cable): extend multitenancy
  app/channels/concerns/application_cable_multitenancy_concern.rb
  app/channels/course_channel.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/application_controller_multitenancy_concern.rb
  app/controllers/concerns/application_multitenancy.rb
  spec/controllers/application_controller_spec.rb
Due: backend

fix(useprompt): eslint invalid named export
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/survey/containers/ResponseForm/index.jsx
  client/app/lib/hooks/router/usePrompt.tsx
Due: frontend

feat(randomized assessment): temporarily hide feature (2)
  app/views/course/assessment/assessments/edit.json.jbuilder
  spec/controllers/course/assessment/submission/submissions_controller_spec.rb
Due: backend

feat(cable): allow connections from all hosts on dev
  config/environments/development.rb
Due: none

refactor: abstract utility to fit height to viewport
  app/assets/stylesheets/course/dangerously-fit-height-to-viewport.scss
  app/assets/stylesheets/course/reference_timelines.scss
  app/views/course/reference_timelines/index.html.slim
Due: backend

feat(checkbox): supports element as `label`
  client/app/lib/components/core/buttons/Checkbox.tsx
Due: frontend

feat(cable): create channel, connection, auth via devise
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
Due: backend

feat(cable): extend `set_current_tenant_through_filter`
  config/initializers/action_cable_acts_as_tenant.rb
Due: none

feat(assessments): `#create` can create monitor
  app/controllers/course/assessment/assessments_controller.rb
  app/views/course/assessment/assessments/index.json.jbuilder
Due: backend

test(monitoring): add model tests
  spec/factories/course_monitoring_heartbeats.rb
  spec/factories/course_monitoring_monitors.rb
  spec/factories/course_monitoring_sessions.rb
  spec/models/course/assessment_spec.rb
  spec/models/course/monitoring/heartbeat_spec.rb
  spec/models/course/monitoring/monitor_spec.rb
  spec/models/course/monitoring/session_spec.rb
Due: none

feat(monitoring): add models, schema
  app/models/course/assessment.rb
  app/models/course/monitoring.rb
  app/models/course/monitoring/heartbeat.rb
  app/models/course/monitoring/monitor.rb
  app/models/course/monitoring/session.rb
  config/locales/en/activerecord/course/monitoring/monitor.yml
  db/migrate/20230406063949_create_monitoring.rb
  db/schema.rb
Due: backend

feat(channels): add heartbeat channel
  app/channels/application_cable/channel.rb
  app/channels/heartbeat_channel.rb
Due: backend

feat(submissionedit): can start heartbeat worker
  client/app/bundles/course/assessment/submission/actions/index.js
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
Due: frontend

feat(monitoring): add abilities
  app/models/components/course/monitoring_ability_component.rb
  spec/models/course/monitoring_ability_spec.rb
Due: backend

feat(cable): extend course component host
  app/channels/concerns/application_cable_component_concern.rb
  app/channels/course_channel.rb
Due: backend

feat(assessments): `#update` can update monitor
  app/controllers/course/assessment/assessments_controller.rb
  app/views/course/assessment/assessments/_monitoring_details.json.jbuilder
  app/views/course/assessment/assessments/edit.json.jbuilder
Due: backend

fix(jest): cannot use `import.meta` outside a module
  client/.babelrc
  client/package.json
  client/yarn.lock
Due: none

feat(monitoring): add submission monitoring service
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/services/course/assessment/submission/monitoring_service.rb
Due: backend

refactor(assessmentform): use translation hook
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/types.ts
Due: frontend

feat(monitoring): add assessment monitoring service
  app/controllers/course/assessment/assessments_controller.rb
  app/services/course/assessment/monitoring_service.rb
Due: backend

feat(monitoring): add heartbeat worker, channel bindings
  client/.eslintrc.js
  client/app/types/channels/heartbeat.ts
  client/app/utilities/safeExamBrowser.ts
  client/app/utilities/socket.ts
  client/app/workers/heartbeat.worker.ts
  client/app/workers/heartbeatChannel.ts
  client/app/workers/monitoringDatabase.ts
  client/app/workers/withHeartbeatWorker.tsx
  client/package.json
  client/webpack.common.js
  client/yarn.lock
Due: frontend

feat(assessments): add pulsegrid, live monitoring channel bindings
  client/app/api/course/Assessment/Assessments.js
  client/app/bundles/course/assessment/actions.js
  client/app/bundles/course/assessment/assessments-index.jsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/PulseGrid.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ActivityCenter.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/ConnectionStatus.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/FilterAutocomplete.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/Session.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionBlob.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionDetailsPopup.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/components/SessionsGrid.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/liveMonitoringChannel.ts
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/useLiveMonitoringChannel.ts
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/useMonitoring.ts
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/hooks/usePresence.ts
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/selectors.ts
  client/app/bundles/course/assessment/pages/AssessmentMonitoring/types.ts
  client/app/bundles/course/assessment/reducers/index.js
  client/app/bundles/course/assessment/reducers/monitoring.ts
  client/app/bundles/course/assessment/translations.ts
  client/app/lib/moment.ts
  client/app/types/channels/liveMonitoring.ts
  client/app/types/course/assessment/monitoring.ts
  client/app/types/store.ts
  client/package.json
  client/tailwind.config.js
  client/yarn.lock
Due: frontend

fix(webpack): worker assets compile `undefined` chunks
  client/webpack.common.js
Due: none

feat(assessmentform): add exam monitoring section
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/translations.intl.js
  client/app/bundles/course/assessment/components/AssessmentForm/types.ts
  client/app/bundles/course/assessment/components/AssessmentForm/useFormValidation.tsx
  client/app/bundles/course/assessment/constants.js
  client/app/bundles/course/assessment/pages/AssessmentEdit/AssessmentEditPage.jsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.tsx
  client/app/bundles/course/assessment/pages/AssessmentEdit/index.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/index.tsx
  client/app/types/course/assessment/assessments.ts
Due: frontend

feat(monitoring): register component
  app/controllers/components/course/monitoring_component.rb
  config/locales/en/components.yml
Due: backend

feat(assessments): add `/monitoring` -> pulsegrid
  app/controllers/course/assessment/assessments_controller.rb
  app/views/course/assessment/assessments/monitoring.html.slim
  app/views/course/assessment/assessments/monitoring.json.jbuilder
  config/locales/en/layout.yml
  config/routes.rb
Due: backend

feat(submissions): `#edit` sends monitoring session id
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/views/course/assessment/submission/submissions/edit.json.jbuilder
Due: backend

feat(cable): extend cancancan ability
  app/channels/concerns/application_cable_ability_concern.rb
  app/channels/course_channel.rb
Due: backend

test(monitoring): add monitor model specs
  spec/models/course/monitoring/monitor_spec.rb
Due: none

fix(webpack): assets on port 8080 not executable from 5000
  client/webpack.dev.js
Due: none

feat(submissions): delete stops monitoring session
  app/controllers/course/assessment/submission/submissions_controller.rb
  app/jobs/course/assessment/submission/deleting_job.rb
Due: backend

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
