Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

tests(duplication history): add tests for course and assessment models
  spec/models/course/assessment_spec.rb
  spec/models/course_spec.rb
Due: none

tests(duplication history): rename factories
  spec/factories/duplication_traceable_assessments.rb
  spec/factories/duplication_traceable_courses.rb
Due: none

fix(duplication history): allow setting of source to nil
  lib/extensions/duplication_traceable/active_record/base.rb
Due: backend

tests(duplication history): add tests for course and assessment duplication traceables
  spec/models/duplication_traceable/assessment_spec.rb
  spec/models/duplication_traceable/course_spec.rb
Due: none

tests(duplication history): add tests for course and assessment source=
  spec/models/course/assessment_spec.rb
  spec/models/course_spec.rb
Due: none

feat(duplication history): add validation that the source exists for duplication traceable
  config/locales/en/activerecord/duplication_traceable.yml
  lib/extensions/duplication_traceable/active_record/base.rb
Due: backend

tests(duplication history): add tests for source exists validation
  spec/libraries/acts_as_duplication_traceable.rb
Due: none

fix(question form): add a separate hidden input for toggle to pass the field value of autograded when submitting the form for disabled autograded toggle
  app/services/course/assessment/question/programming/language_package_service.rb
  client/app/bundles/course/assessment/question/programming/containers/ProgrammingQuestionForm/ProgrammingQuestionForm.jsx
Due: frontend, backend

chore(yarn): remove yarn build test from foreman and revert node env for build test to fix local rspec
  Procfile.dev
  README.md
  client/package.json
  client/webpack.config.js
  client/yarn.lock
Due: none

tests(duplication history): add check for assessment source
  spec/features/course/duplication_spec.rb
Due: none

fix(programming question form): fix data files not being able to be deleted
  client/app/bundles/course/assessment/question/programming/components/OnlineEditor/ExistingPackageFile.jsx
Due: frontend

feat(learning rate records): add default scope to model
  app/models/course/learning_rate_record.rb
Due: backend

refactor(learning rate records): remove unnecessary order
  app/models/course_user.rb
Due: backend

fix(learning rate records): fix bugs with current implementation
  app/models/course/learning_rate_record.rb
  app/models/course_user.rb
  config/locales/en/activerecord/course/learning_rate_record.yml
Due: backend

tests(learning rate records): add factory for learning rate record
  spec/factories/course_learning_rate_records.rb
Due: none

tests(learning rate records): add test for learning rate record creation during timeline personalization
  spec/controllers/concerns/course/lesson_plan/personalization_concern_spec.rb
Due: none

tests(learning rate records): add tests for course_user model
  spec/models/course_user_spec.rb
Due: none

tests(learning rate records): add tests for learning_rate_record model
  spec/models/course/learning_rate_record_spec.rb
Due: none

fix(learning rate records): fix regression caused by overly strict validations
  app/models/course/learning_rate_record.rb
  spec/models/course/learning_rate_record_spec.rb
Due: backend

chore(react-router): replace react-router with react-router-dom
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/submission.jsx
  client/package.json
  client/yarn.lock
Due: frontend

chore(deps): bump react-router-dom from 4.3.1 to 5.3.0
  client/package.json
  client/yarn.lock
Due: none

chore(deps): bump react-router-dom from 5.3.0 to 6.2.2
  client/package.json
  client/yarn.lock
Due: none

test(react router v6 upgrade): fix test regression after react router v6 upgrade
  client/app/bundles/course/survey/actions/__test__/responses.test.js
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/index.test.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/index.jsx
Due: frontend

chore(react router v6): refactor react router for assessment pages
  client/app/bundles/course/assessment/submission/components/answers/Programming/ProgrammingFile.jsx
  client/app/bundles/course/assessment/submission/containers/Annotations.jsx
  client/app/bundles/course/assessment/submission/containers/SubmissionsLayout.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/index.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionsIndex/index.jsx
  client/app/bundles/course/assessment/submission/submission.jsx
Due: frontend

chore(react router v6): refactor react router for duplication pages
  client/app/bundles/course/duplication/containers/DuplicationLayout/index.jsx
  client/app/bundles/course/duplication/index.jsx
Due: frontend

chore(react router v6): refactor react router for lesson plan pages
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/EnterEditModeButton.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/ExitEditModeButton.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/index.jsx
  client/app/bundles/course/lesson-plan/items.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/__test__/index.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/index.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/LessonPlanShow.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/index.jsx
Due: frontend

chore(react router v6): refactor react router for popup notifier
  client/app/lib/initializers/popup-notifier.jsx
Due: frontend

chore(react router v6): add withRouter HOC as react router v6 only uses hooks now
  client/app/lib/components/withRouter.jsx
Due: frontend

chore(react router v6): refactor react router for survey pages
  client/app/bundles/course/survey/actions/responses.js
  client/app/bundles/course/survey/actions/surveys.js
  client/app/bundles/course/survey/containers/RespondButton/__test__/index.test.jsx
  client/app/bundles/course/survey/containers/RespondButton/index.jsx
  client/app/bundles/course/survey/containers/ResponseForm/index.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/AdminMenu.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/AdminMenu.test.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/index.jsx
  client/app/bundles/course/survey/containers/SurveysLayout/index.jsx
  client/app/bundles/course/survey/pages/ResponseEdit/index.jsx
  client/app/bundles/course/survey/pages/ResponseShow/index.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/NewSurveyButton.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/SurveysTable.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/__test__/NewSurveyButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyIndex/index.jsx
  client/app/bundles/course/survey/pages/SurveyShow/SurveyDetails.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/index.test.jsx
  client/app/bundles/course/survey/surveys.jsx
Due: frontend

chore(react router): bump to 6.3.0
  client/package.json
  client/yarn.lock
Due: none

style: remove comments
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditForm.jsx
  client/app/bundles/course/assessment/submission/pages/SubmissionEditIndex/SubmissionEditStepForm.jsx
  client/app/bundles/course/survey/containers/ResponseForm/index.jsx
  client/app/bundles/course/survey/pages/ResponseEdit/index.jsx
  client/app/lib/components/withRouter.jsx
Due: frontend

chore(deps): bump react-intl from 2.9.0 to 3.12.1
  client/package.json
  client/yarn.lock
Due: none

chore(react intl v3): remove addLocaleData
  client/app/lib/components/ProviderWrapper.jsx
Due: frontend

chore(react intl v3): update test setup and fix failing tests
  client/app/__test__/setup.js
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/index.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/__test__/ScribingToolbar.test.js
  client/app/bundles/course/assessment/submission/components/ScribingView/fields/__test__/ColorPickerField.test.js
  client/app/bundles/course/learning-map/containers/Dashboard/index.jsx
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewEventButton.test.jsx.snap
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewMilestoneButton.test.jsx.snap
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminTools.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/MilestoneAdminTools.test.jsx
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/__snapshots__/AdminMenu.test.jsx.snap
  client/app/lib/components/redux-form/SingleFileInput/__test__/BadgePreview.test.js
  client/app/lib/components/redux-form/SingleFileInput/__test__/ImagePreview.test.js
  client/app/lib/components/redux-form/SingleFileInput/__test__/index.test.js
  client/app/lib/components/redux-form/__test__/Toggle.test.js
  client/package.json
Due: frontend

chore(react intl v5): fix failing tests
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewEventButton.test.jsx.snap
  client/app/bundles/course/lesson-plan/containers/LessonPlanLayout/__test__/__snapshots__/NewMilestoneButton.test.jsx.snap
  client/app/bundles/course/survey/containers/SurveyLayout/__test__/__snapshots__/AdminMenu.test.jsx.snap
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
Due: frontend

chore(deps): replace babel-plugin-react-intl with babel-plugin-formatjs
  client/.babelrc
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
  client/app/bundles/course/survey/pages/ResponseShow/__test__/__snapshots__/index.test.jsx.snap
  client/package.json
  client/yarn.lock
Due: frontend

chore(deps): bump react-intl from 4.7.6 to 5.24.7
  client/package.json
  client/yarn.lock
Due: none

chore(deps): bump react-intl from 3.12.1 to 4.7.6
  client/package.json
  client/yarn.lock
Due: none

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
