Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

refactor(pending invitations): fix other pending invitations for an email not confirmed when the email is confirmed as a secondary email or as a new account
  app/controllers/user/registrations_controller.rb
  app/models/user/email.rb
  spec/features/user_sign_up_spec.rb
Due: backend

fix(course controller): remove unused initialisation
  app/controllers/course/courses_controller.rb
Due: backend

feat(role request form): disable option to choose admin in the role request form
  client/app/bundles/system/admin/instance/instance/components/forms/InstanceUserRoleRequestForm.tsx
Due: frontend

test: fix flaky test
  spec/support/capybara.rb
Due: none

chore: use official bootstrap-sass-extras gem
  Gemfile
  Gemfile.lock
Due: none

chore: bump bundler version
  .circleci/config.yml
  Gemfile.lock
  README.md
Due: none

test: fix flaky test
  spec/features/course/forum/post_management_spec.rb
  spec/features/user/email_management_spec.rb
  spec/features/user_sign_up_spec.rb
Due: none

test: fix flaky test and disable job-related tests that cause flakiness for now
  spec/controllers/course/assessment/assessments_controller_spec.rb
  spec/support/active_job.rb
  spec/support/capybara.rb
Due: none

test(rspec): add retry reset callback
  spec/spec_helper.rb
Due: none

test(job): reinstate skipped tests
  spec/support/active_job.rb
Due: none

test(registration token): fix regex
  spec/support/capybara.rb
Due: none

feat(scribing): destroy responds to json
  app/controllers/course/assessment/question/scribing_controller.rb
Due: backend

feat(voice_response): destroy responds to json
  app/controllers/course/assessment/question/voice_responses_controller.rb
Due: backend

feat(mrq): update, destroy, switch mcq/mrq respond to json
  app/controllers/concerns/course/assessment/question/multiple_responses_concern.rb
  app/controllers/course/assessment/question/multiple_responses_controller.rb
  app/views/course/assessment/question/multiple_responses/_multiple_response_details.json.jbuilder
  app/views/course/assessment/question/multiple_responses/_switch_question_type_button.json.jbuilder
Due: backend

feat(programming): destroy responds to json
  app/controllers/course/assessment/question/programming_controller.rb
Due: backend

feat(question): duplicate responds to json
  app/controllers/course/assessment/questions_controller.rb
Due: backend

chore(prettier): ignore yml
  client/.prettierignore
Due: none

feat(text_response): destroy responds to json
  app/controllers/course/assessment/question/text_responses_controller.rb
Due: backend

refactor(assessments): extract _assessment_actions as template
  app/views/course/assessment/assessments/_assessment_actions.json.jbuilder
  app/views/course/assessment/assessments/index.json.jbuilder
  client/app/types/course/assessment/assessments.ts
Due: frontend, backend

feat(forum_post_response): destroy responds to json
  app/controllers/course/assessment/question/forum_post_responses_controller.rb
Due: backend

fix(subsection): prevent undefined classes
  client/app/lib/components/core/layouts/Subsection.tsx
Due: frontend

style: remove redundant typography `variant="body1"`
  client/app/bundles/course/achievement/pages/AchievementShow/index.tsx
  client/app/bundles/course/admin/pages/CourseSettings/DeleteCoursePrompt.tsx
  client/app/bundles/course/assessment/components/AssessmentForm/index.tsx
  client/app/bundles/course/users/components/misc/UserProfileAchievements.tsx
  client/app/bundles/course/users/components/misc/UserProfileCard.tsx
  client/app/bundles/course/users/components/misc/UserProfileSkills.tsx
  client/app/bundles/course/users/pages/UsersIndex/index.tsx
  client/app/bundles/user/components/EmailsList.tsx
  client/app/lib/components/core/buttons/IconRadio.tsx
  client/app/lib/components/core/fields/SwitchableTextField.tsx
  client/app/lib/components/core/layouts/Section.tsx
  client/app/lib/components/core/layouts/Subsection.tsx
  client/app/lib/components/extensions/conditions/conditions/AchievementCondition.tsx
  client/app/lib/components/extensions/conditions/conditions/AssessmentCondition.tsx
  client/app/lib/components/form/Form.tsx
Due: frontend

feat(pageheader): support adding toolbars via `children`
  client/app/lib/components/navigation/PageHeader.tsx
Due: frontend

feat(link): links are body2 by default
  client/app/lib/components/core/Link.tsx
Due: frontend

feat(personalstartendtime): support for long date formats
  client/app/lib/components/extensions/PersonalStartEndTime.tsx
Due: frontend

refactor(prompt): dialogcontenttext -> prompttext
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Category.tsx
  client/app/bundles/course/admin/pages/AssessmentSettings/AssessmentCategoriesManager/Tab.tsx
  client/app/bundles/course/admin/pages/CourseSettings/DeleteCoursePrompt.tsx
  client/app/lib/components/core/dialogs/Prompt.tsx
Due: frontend

feat(checkbox): add styling for readonly checkboxes
  client/app/lib/components/core/buttons/Checkbox.tsx
Due: frontend

style(assessments): share translations to other pages
  client/app/bundles/course/assessment/pages/AssessmentsIndex/ActionButtons.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/AssessmentsTable.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/NewAssessmentFormButton.jsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/StackedBadges.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/StatusBadges.tsx
  client/app/bundles/course/assessment/pages/AssessmentsIndex/UnavailableMessage.tsx
  client/app/bundles/course/assessment/translations.ts
Due: frontend

fix(theme): prevent double bottom border on last muitablerows
  client/app/lib/components/wrappers/ProviderWrapper.jsx
Due: frontend

feat(link): links show plain text when `href`, `onClick` is undefined
  client/app/lib/components/core/Link.tsx
Due: frontend

feat(checkbox): support for custom label class names
  client/app/lib/components/core/buttons/Checkbox.tsx
Due: frontend
