Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

flags:
  frontend:
    paths:
      - client/app/
  backend:
    paths:
      - app/
      - lib/

coverage:
  precision: 2
  round: up
  range: '70...100'
  status:
    project:
      default: off
      frontend:
        target: auto
        threshold: 0.1%
        flags: frontend
      backend:
        target: auto
        threshold: 0.1%
        flags: backend
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment: false

fix PR comments
  app/assets/stylesheets/course/assessment/submissions.scss
  app/controllers/course/assessment/submissions_controller.rb
  app/models/concerns/generic/collection_concern.rb
  app/views/course/assessment/submissions/_submissions_list_data.json.jbuilder
  app/views/course/assessment/submissions/index.json.jbuilder
  app/views/course/assessment/submissions/pending.html.slim
  app/views/course/assessment/submissions/pending.json.jbuilder
  client/app/api/course/Assessment/Submissions/Submissions.ts
  client/app/bundles/course/assessment/submissions/actions.ts
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionFilter.tsx
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionPagination.tsx
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionTabs.tsx
  client/app/bundles/course/assessment/submissions/components/tables/SubmissionsTable.tsx
  client/app/bundles/course/assessment/submissions/operations.ts
  client/app/bundles/course/assessment/submissions/pages/SubmissionsIndex/index.tsx
  client/app/bundles/course/assessment/submissions/reducers.ts
  client/app/bundles/course/assessment/submissions/selectors.ts
  client/app/bundles/course/assessment/submissions/types.ts
  client/app/types/course/assessment/submissions.ts
Due: frontend, backend

fix(course duplication): sort material folders topologically when duplicating a course
  app/models/concerns/course/duplication_concern.rb
  app/models/concerns/course/material/folder/ordering_concern.rb
  app/models/concerns/course/material_concern.rb
  app/models/course.rb
  app/models/course/material/folder.rb
Due: backend

style(course-submissions): change filter UI
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionFilter.tsx
Due: frontend

feat(course-submissions): improve routing for tabs
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionPagination.tsx
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionTabs.tsx
  client/app/bundles/course/assessment/submissions/components/tables/SubmissionsTable.tsx
  client/app/bundles/course/assessment/submissions/pages/SubmissionsIndex/index.tsx
Due: frontend

fix tests
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionTabs.tsx
  spec/features/course/assessment/submissions_viewing_spec.rb
Due: frontend

Remove unused files and translations
  app/views/course/assessment/submissions/_filter.html.slim
  app/views/course/assessment/submissions/_submission.html.slim
  app/views/course/assessment/submissions/_submissions.html.slim
  app/views/course/assessment/submissions/_tabs.html.slim
  app/views/course/assessment/submissions/index.html.slim
  app/views/course/assessment/submissions/pending.html.slim
  config/locales/en/common.yml
  config/locales/en/course/assessment/submissions.yml
Due: backend

refactor(submissions controller): refactor pagination scope
  app/controllers/course/assessment/submissions_controller.rb
  app/models/concerns/generic/collection_concern.rb
  app/models/course/assessment/submission.rb
Due: backend

refactor(course-submissions): React Migration
  app/controllers/components/course/assessments_component.rb
  app/controllers/course/assessment/submissions_controller.rb
  app/models/course/assessment/submission.rb
  app/views/course/assessment/submissions/_filter.json.jbuilder
  app/views/course/assessment/submissions/_submissions_list_data.json.jbuilder
  app/views/course/assessment/submissions/_tabs.json.jbuilder
  app/views/course/assessment/submissions/index.html.slim
  app/views/course/assessment/submissions/index.json.jbuilder
  app/views/course/assessment/submissions/pending.html.slim
  app/views/course/assessment/submissions/pending.json.jbuilder
  client/app/api/course/Assessment/Submissions/Submissions.ts
  client/app/api/course/index.js
  client/app/bundles/course/assessment/submissions.ts
  client/app/bundles/course/assessment/submissions/actions.ts
  client/app/bundles/course/assessment/submissions/components/buttons/SubmissionsTableButton.tsx
  client/app/bundles/course/assessment/submissions/components/misc/StarterPack.tsx
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionFilter.tsx
  client/app/bundles/course/assessment/submissions/components/tables/SubmissionsTable.tsx
  client/app/bundles/course/assessment/submissions/index.tsx
  client/app/bundles/course/assessment/submissions/operations.ts
  client/app/bundles/course/assessment/submissions/pages/SubmissionsIndex/index.tsx
  client/app/bundles/course/assessment/submissions/reducers.ts
  client/app/bundles/course/assessment/submissions/selectors.ts
  client/app/bundles/course/assessment/submissions/store.ts
  client/app/bundles/course/assessment/submissions/types.ts
  client/app/lib/components/TitleBar.jsx
  client/app/lib/helpers/timehelper.ts
  client/app/lib/helpers/url-builders.js
  client/app/types/course/assessment/submissions.ts
  client/app/types/store.ts
Due: frontend, backend

tests(course-submissions): fix tests
  app/controllers/course/assessment/submissions_controller.rb
  client/app/bundles/course/assessment/submissions/components/buttons/SubmissionsTableButton.tsx
  client/app/bundles/course/assessment/submissions/components/misc/StarterPack.tsx
  client/app/bundles/course/assessment/submissions/components/misc/SubmissionFilter.tsx
  client/app/bundles/course/assessment/submissions/components/tables/SubmissionsTable.tsx
  client/app/bundles/course/assessment/submissions/pages/SubmissionsIndex/index.tsx
  spec/features/course/assessment/submissions_viewing_spec.rb
Due: frontend, backend

chore(rails upgrade): upgrade rails to 6.0.5.1 for security patch
  Gemfile
  Gemfile.lock
  app/assets/javascripts/routes.js
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/routes.rb
Due: backend

feat(disbursement): add forum and general disbursement backend, remove unused i18n
  app/controllers/components/course/experience_points_component.rb
  app/controllers/course/experience_points/disbursement_controller.rb
  app/controllers/course/experience_points/forum_disbursement_controller.rb
  app/views/course/experience_points/disbursement/_disbursement_group_list_data.json.jbuilder
  app/views/course/experience_points/disbursement/_tabs.html.slim
  app/views/course/experience_points/disbursement/index.json.jbuilder
  app/views/course/experience_points/disbursement/new.html.slim
  app/views/course/experience_points/forum_disbursement/_forum_disbursement_user_data.json.jbuilder
  app/views/course/experience_points/forum_disbursement/index.json.jbuilder
  app/views/course/experience_points/forum_disbursement/new.html.slim
  app/views/course/forum/forums/_post_data.json.jbuilder
  app/views/course/forum/forums/search.json.jbuilder
  config/locales/en/course/experience_points/disbursement.yml
  config/locales/en/course/experience_points/forum_disbursement.yml
Due: backend

feat(disbursement): add frontend react for forum and general disbursements
  client/app/api/course/Disbursement.ts
  client/app/api/course/Forum.ts
  client/app/api/course/index.js
  client/app/bundles/course/experience-points/disbursement/actions.ts
  client/app/bundles/course/experience-points/disbursement/components/buttons/DuplicateButton.tsx
  client/app/bundles/course/experience-points/disbursement/components/buttons/RemoveAllButton.tsx
  client/app/bundles/course/experience-points/disbursement/components/fields/PointTextField.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/DialogScroll.scss
  client/app/bundles/course/experience-points/disbursement/components/forms/DisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/FilterForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/ForumDisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/DisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumDisbursementTable.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumPostTable.tsx
  client/app/bundles/course/experience-points/disbursement/index.tsx
  client/app/bundles/course/experience-points/disbursement/operations.ts
  client/app/bundles/course/experience-points/disbursement/pages/DisbursementIndex/index.tsx
  client/app/bundles/course/experience-points/disbursement/reducers.ts
  client/app/bundles/course/experience-points/disbursement/selectors.ts
  client/app/bundles/course/experience-points/disbursement/store.ts
  client/app/bundles/course/experience-points/disbursement/types.ts
  client/app/lib/components/form/fields/DateTimePickerField.jsx
  client/app/lib/components/form/fields/SelectField.jsx
  client/app/lib/components/form/fields/TextField.jsx
  client/app/lib/helpers/url-builders.js
  client/app/types/components/DataTable.ts
  client/app/types/course/disbursement.ts
  client/app/types/course/forum.ts
  client/app/types/store.ts
  client/app/utilities/store.ts
Due: frontend

test(disbursement): add tests for UI and backend API
  spec/controllers/course/experience_points/disbursement_controller_spec.rb
  spec/controllers/course/experience_points/forum_disbursement_spec.rb
  spec/features/course/experience_points/disbursement_spec.rb
  spec/features/course/experience_points/forum_disbursement_spec.rb
  spec/support/capybara.rb
Due: none

chore(mui datepicker): update mui datepicker
  client/app/bundles/course/announcements/components/forms/AnnouncementForm.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanEdit/MilestoneRow.jsx
  client/app/lib/components/fields/DateTimePicker.jsx
  client/app/lib/components/form/fields/DateTimePickerField.jsx
  client/package.json
  client/yarn.lock
Due: frontend

chore(mui loading button): update import statement
  client/app/bundles/course/user-invitations/components/buttons/ResendAllInvitationsButton.tsx
  client/app/bundles/course/user-invitations/pages/InviteUsersRegistrationCode/index.tsx
  client/app/bundles/course/users/pages/PersonalTimesShow/index.tsx
Due: frontend

fix(text field): fix text field for number only
  client/app/bundles/course/experience-points/disbursement/components/forms/DisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/FilterForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/forms/ForumDisbursementForm.tsx
  client/app/lib/components/fields/DateTimePicker.jsx
  client/app/lib/components/form/fields/TextField.jsx
Due: frontend

perf(text field): add debounce for form text field to optimise performance
  client/app/bundles/course/experience-points/disbursement/components/fields/PointTextField.tsx
  client/app/lib/components/form/fields/TextField.jsx
  client/app/lib/constants/sharedConstants.ts
  client/package.json
Due: frontend

fix(course routes): remove unused course new route
  app/controllers/course/courses_controller.rb
  config/routes.rb
Due: backend

fix(course achievement routes): remove unused course achievement routes
  app/controllers/course/announcements_controller.rb
  config/routes.rb
Due: backend

fix(timeline): add missing nil guard for time
  app/views/course/lesson_plan/items/_personal_or_ref_time.html.slim
Due: backend

fix(disbursement): add link for user in forum post dialog and fix styling padding
  client/app/bundles/course/experience-points/disbursement/components/forms/ForumDisbursementForm.tsx
  client/app/bundles/course/experience-points/disbursement/components/tables/ForumPostTable.tsx
Due: frontend

fix(user): add missing nil guard
  app/models/user.rb
Due: backend

fix tests
  app/views/instance_user_role_request_mailer/role_request_approved.html.slim
  app/views/instance_user_role_request_mailer/role_request_approved.text.erb
Due: backend

fix tests due to debouncing
  client/app/bundles/course/assessment/pages/AssessmentEdit/__test__/index.test.js
  client/app/bundles/course/experience-points/disbursement/components/forms/ForumDisbursementForm.tsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/LessonPlanItem/__test__/AdminTools.test.jsx
  client/app/bundles/course/lesson-plan/pages/LessonPlanShow/__test__/MilestoneAdminTools.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/Section/__test__/EditSectionButton.test.jsx
  client/app/bundles/course/survey/pages/SurveyShow/__test__/NewSectionButton.test.jsx
  client/app/lib/components/form/fields/DateTimePickerField.jsx
  client/package.json
  client/yarn.lock
  spec/features/course/experience_points/disbursement_spec.rb
Due: frontend
