Repository Coursemology/coursemology2: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Change comment style as per Hound CI feedback
  client/app/lib/styles/MaterialSummernote.scss
Due: frontend

Fix small error in question jbuilder
  app/views/course/assessment/question/programming/_question.json.jbuilder
Due: backend

Fix minor issues raised by Hound CI
  app/controllers/course/admin/assessment_settings_controller.rb
  app/services/course/assessment/answer/text_response_comprehension_auto_grading_service.rb
  app/views/course/assessment/question/multiple_responses/_multiple_response.json.jbuilder
Due: backend

Configure hound to run 0.91.0
  .hound.yml
Due: none

Format public html files
  public/403.html
  public/404.html
  public/413.html
  public/422.html
  public/500.html
Due: none

Fix scss auto-linebreaks
  client/app/lib/styles/MaterialSummernote.scss
Due: frontend

Fix lint one more time
  app/views/course/assessment/question/programming/_question.json.jbuilder
  spec/controllers/course/user_registrations_controller_spec.rb
Due: backend

Revert application.rb to its original state
  config/application.rb
Due: none

Fix .hound.yml
  .hound.yml
Due: none

Define ROUTES
  app/assets/javascripts/routes.js
Due: backend

Revert more changes
  app/assets/javascripts/routes.js
  app/assets/stylesheets/course/discussion/_post.scss
  app/assets/stylesheets/layout.scss
Due: backend

resolve merge conflicts from rebasing
  client/yarn.lock
Due: none

fix: remove yarn.lock in root
  yarn.lock
Due: none

Fix incorrect import for MaterialUploader
  client/app/bundles/course/assessment/containers/MaterialUploader/index.jsx
Due: frontend

fix(CourseUser): fix roles to appear as lower case
  app/views/course/user_invitations/_course_user_invitation.html.slim
  app/views/course/users/staff.html.slim
  app/views/course/users/students.html.slim
  db/schema.rb
  yarn.lock
Due: backend

resolve merge conflicts from rebasing
  Gemfile.lock
Due: none

Fix Python3.9 code highlight
  Gemfile.lock
  client/app/bundles/course/assessment/submission/utils.js
Due: frontend

fix(Assessment Files): Disable any action (upload, delete and download) for assessment files when Materials Component is disabled in the course settings.
  app/models/course.rb
  app/views/course/assessment/assessments/_edit.json.jbuilder
  app/views/course/assessment/assessments/show.html.slim
  app/views/layouts/_materials.html.slim
  client/app/bundles/course/assessment/assessments-show.js
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/Material.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/MaterialList.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/index.jsx
  client/app/lib/components/NotificationBar.jsx
  config/locales/en/course/assessment/assessments.yml
  spec/features/course/assessment_condition_management_spec.rb
Due: frontend, backend

Revert wait_for_axios change
  client/app/api/Base.js
  spec/features/course/virtual_classroom/virtual_classroom_access_link_spec.rb
  spec/support/capybara.rb
Due: frontend

Add Capybara method for Axios calls
  client/app/api/Base.js
  spec/support/capybara.rb
Due: frontend

Add jstest and fix styles.
  app/models/course.rb
  app/views/course/assessment/assessments/_edit.json.jbuilder
  app/views/course/assessment/assessments/show.html.slim
  client/app/bundles/course/assessment/containers/MaterialUploader/Material.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/MaterialList.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
Due: frontend, backend

Update tests to use wait_for_axios
  spec/features/course/virtual_classroom/virtual_classroom_access_link_spec.rb
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Remove redundant belongs_to after gem upgrade
  app/models/course.rb
  app/models/instance/user_invitation.rb
Due: backend

fix(achievement and level notifier): Disable achievement and level notifiers for ungamified courses
  app/models/course/experience_points_record.rb
  app/models/course/user_achievement.rb
Due: backend

docs: remove squeel todos as squeel and babysqueel will be removed
  app/models/course/condition/achievement.rb
  app/models/course/condition/survey.rb
  spec/models/course/condition/achievement_spec.rb
  spec/models/course/condition/assessment_spec.rb
Due: backend

Fix material component enabled check
  app/views/course/assessment/assessments/_edit.json.jbuilder
  app/views/course/assessment/assessments/show.html.slim
  client/app/bundles/course/assessment/containers/AssessmentForm/index.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/Material.jsx
  client/app/bundles/course/assessment/containers/MaterialUploader/MaterialList.jsx
Due: frontend, backend

Fix material uploader snapshot.
  client/app/bundles/course/assessment/containers/MaterialUploader/__test__/__snapshots__/index.test.js.snap
Due: frontend

fix(Devise): Style pages for 'Forgot Password' and 'Resend Confirmation Instructions'
  app/views/devise/confirmations/new.html.slim
  app/views/devise/passwords/new.html.slim
  config/locales/en/devise.yml
Due: backend

Fix incorrect axios get request arguments
  client/app/api/course/VirtualClassrooms.js
Due: frontend

Change passing test from pending to context
  spec/features/course/assessment/submission/manually_graded_spec.rb
Due: none

Path conditions:
  frontend: any of: client/app/
  backend: any of: app/, lib/
